<table class="table table-striped table-hover datatable" id="players" data-order='[[1, "asc"]]' data-page-length="50" data-length-change="false">
  <thead>
   <tr><th rowspan="2" data-orderable="false">vs.</th><th rowspan="2">Name</th>{% unless include.event %}<th rowspan="2">Event</th>{% endunless %}<th rowspan="2">Games</th><th rowspan="2">Wins</th><th rowspan="2">Losses</th><th colspan="2">Inturns</th><th colspan="2">Outturns</th><th colspan="2">Draws</th><th colspan="2">Takeouts</th><th colspan="2">Totals</th></tr>
   <tr><th>Qty</th><th>Pct</th><th>Qty</th><th>Pct</th><th>Qty</th><th>Pct</th><th>Qty</th><th>Pct</th><th>Qty</th><th>Pct</th></tr>
  </thead>
  <tbody>
{% assign players = site.players | sort: 'name-sort' %}
{% for player in players %}
{%   assign totals = player.totals %}
{%   if include.event %}
{%     if player.aka %}
{%       assign aka = site.players | where: 'name-sort', player.aka | first %}
{%       assign totals = aka.totals  %}
{%     endif %}
{%     assign totals = totals | where: 'event', include.event %}
{%     if totals.size == 0 %}
{%       continue %}
{%     endif %}
{%   endif %}
{% if player.aka %}
  <tr>
    <td></td>
    <td>{{ player.name-sort }}
      <button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="See {{ player.aka }}">AKA</button>
    </td>
    {% unless include.event %}
    <td></td>
    {% endunless %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
{% else %}
  {% for total in totals %}
    <tr>
      <td>
        <i class="fe fe-user-plus" data-name="{{ player.name-sort }}" title="Select this player for head-to-head comparison"></i></td>
      <td>
        <a href="{{ site.baseurl }}{{ player.url }}">{{ player.name-sort }}</a>
      </td>
      {% unless include.event %}
      <td>{{ total.event }}</td>
      {% endunless %}
      <td>{{ total.games }}</td>
      <td>{{ total.wins }}</td>
      <td>{{ total.losses }}</td>
      <td>{{ total.inturn-total }}</td>
      <td>{{ total.inturn-percent }}</td>
      <td>{{ total.outturn-total }}</td>
      <td>{{ total.outturn-percent }}</td>
      <td>{{ total.draw-total }}</td>
      <td>{{ total.draw-percent }}</td>
      <td>{{ total.takeout-total }}</td>
      <td>{{ total.takeout-percent }}</td>
      <td>{{ total.shots-total }}</td>
      <td>{{ total.shots-percent }}</td>
    </tr>
  {% endfor %}
{% endif %}
{% endfor %}
  </tbody>
  <tfoot>
  </tfoot>
</table>
