# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Curling Canada Stats Archive
email: bcassidyjr@curling.ca
baseurl: ""
url: "https://stats.curling.io" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown

collections_dir: collections
collections:
  brier:
    output: true
    permalink: /brier/:path
  brier-teams:
    output: true
    permalink: /brier/team/:path
  hearts:
    output: true
    permalink: /hearts/:path
  hearts-teams:
    output: true
    permalink: /hearts/team/:path
  players:
    output: true
    permalink: /players/:path
  trials-men:
    output: true
    permalink: /trials-men/:path
  trials-women:
    output: true
    permalink: /trials-women/:path
  vs:
    output: true
    permalink: /vs/:path

defaults:
  - scope:
      path: ""
      type: "brier"
    values:
      layout: event
  - scope:
      path: ""
      type: "brier-teams"
    values:
      layout: brier-team
  - scope:
      path: ""
      type: "hearts"
    values:
      layout: event
  - scope:
      path: ""
      type: "hearts-teams"
    values:
      layout: hearts-team
  - scope:
      path: ""
      type: "players"
    values:
      layout: player
  - scope:
      path: ""
      type: "trials-men"
    values:
      layout: event
  - scope:
      path: ""
      type: "trials-women"
    values:
      layout: event
  - scope:
      path: ""
      type: "vs"
    values:
      layout: vs
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - utils
