<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                        1997 Canadian Curling Trials - Men's Division
                                      Brandon, Manitoba
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 AVG
   LEADS  
 1 Neil Harrison                  WER   92 74 91 88 95 85 92 91 90  89
 2 Steve Gould                    STO   91 90 93 83 80 86 90 93 85  87
 2 Don Harvey                     SMI   99 83 75 90 77 98 91 88 86  87
 4 Scott Bailey                   MID   86 92 83 63 86 83 94 99 90  86
 4 George Karrys                  HAR   83 93 85 83 84 82 89 94 89  86
 6 Keith Fenton                   BUR   71 92 79 90 81 89 83 76 98  85
 7 Wade Johnston                  MAC   56 96 76 84 83 92 83100 86  84
 8 Donald Bartlett                MAR   75 91 88 86 83 94 86 68 78  83
 9 Phil Loevenmark                HOW   88 79 83 89 81 91 78 80 75  82
10 Kerry Park                     PAR   89 91 79 74 75 71 91 70 91  81
 
   SECONDS
 1 Rudy Ramcharan                 MAR   90 88 81 74 79 89 81 89 95  85
 1 Rob Meakin                     BUR   76 88 99 63 94 86 91 84 88  85
 1 Pat Perroud                    WER   86 84 91 91 89 76 84 84 79  85
 4 Ian Tetley                     MID   85 72 84 82 88 73 83100 83  84
 4 Peter Nicholls                 SMI   89 85 92 80 90 80 86 78 78  84
 6 Garry  Vandenberghe            STO   76 88 95 88 91 76 77 95 65  83
 7 Collin Mitchell                HAR   83 82 90 75 91 79 80 83 81  82
 7 Scott Patterson                HOW   95 68 90 96 88 88 70 81 66  82
 9 Jerry Semen                    PAR   80 91 76 86 75 83 78 78 78  80
10 Blake MacDonald                MAC   82 79 74 89 81 83 73 83 71  79
 
   THIRDS 
 1 Richard Hart                   HAR   86 91 88 80 91 90 73 83 80  84
 2 Glenn Howard                   HOW   98 69 88 88 94 80 81 73 86  83
 2 John Kawaja                    WER   88 75 86 90 90 74 77 89 78  83
 2 Jonathan Mead                  SMI   76 74 94 96 83 80 75 79 85  83
 5 Graeme McCarrel                MID   90 95 80 76 78 75 95 83 66  82
 5 Ken Tresoor                    STO   67 96 78 78 82 76 95 88 79  82
 7 Don Walchuk                    MAR   82 85 61 85 65 95 69 90 81  80
 7 Jeff Ryan                      BUR   81 75 89 69 95 78 78 83 75  80
 9 Les Rogers                     PAR   70 94 75 70 81 86 86 64 69  77
10 Brad Hannah                    MAC   75 81 71 75 68 83 83 88 60  75
 
   SKIPS  
 1 Mike Harris                    HAR   80 86 93 85 97 80 64 92 73  82
 2 Dave Smith                     SMI   76 76 83 93 81100 56 71 89  80
 2 Kerry Burtnyk                  BUR   79 74 95 83 98 80 79 74 67  80
 2 Ed Werenich                    WER   89 76 83 82 79 71 83 85 66  80
 5 Kevin Martin                   MAR   81 95 76 74 50 75 80 82 91  79
 6 Jeff Stoughton                 STO   70 86 53 71 68 83 96 96 71  78
 7 Russ Howard                    HOW   82 71 76 83 65 71 73 81 88  77
 8 Wayne Middaugh                 MID   79 83 59 79 65 50 80 80 88  75
 9 Kevin Park                     PAR   75 63 60 83 67 93 67 71 77  73
 9 Brent MacDonald                MAC   81 71 73 67 85 63 78 71 63  73
 
   TEAMS
 1 Werenich - Ontario                   88 77 88 88 88 77 84 87 79  84
 1 Harris - Ontario                     83 88 89 81 91 83 77 88 80  84
 1 Smith - Manitoba                     85 80 86 90 83 89 77 79 84  84
 4 Burtnyk - Manitoba                   77 82 91 76 92 83 83 79 82  82
 4 Stoughton - Manitoba                 76 90 79 80 80 80 90 93 75  82
 4 Martin - Alberta                     82 90 77 80 69 88 79 82 87  82
 4 Middaugh - Ontario                   85 86 76 75 79 70 88 90 82  82
 8 Howard - Ontario                     91 71 84 89 82 83 75 79 79  81
 9 Park - Alberta                       79 84 73 78 75 83 80 71 79  78
 9 MacDonald - Alberta                  74 82 73 79 79 80 79 85 70  78
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                        1997 Canadian Curling Trials - Men's Division
                                      Brandon, Manitoba
 
                             PLUS/MINUS STATISTICS AFTER DRAW 9
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 TOT
LEADS  
Neil Harrison                  WER    +  -  0  0  +  0  +  +  0  +3
Don Harvey                     SMI    +  -  0  +  0  +  0  +  0  +3
Keith Fenton                   BUR    -  +  0  +  0  0  -  +  +  +2
Scott Bailey                   MID    -  0  +  -  0  -  +  +  +  +1
Steve Gould                    STO    +  +  +  -  0  +  0  -  -  +1
Wade Johnston                  MAC    -  +  -  0  0  0  -  +  +   0
George Karrys                  HAR    +  +  -  -  0  0  0  -  0  -1
Donald Bartlett                MAR    -  -  0  +  0  0  0  -  -  -3
Phil Loevenmark                HOW    0  -  0  +  0  0  -  -  -  -3
Kerry Park                     PAR    0  0  0  -  -  -  +  -  0  -3
 
SECONDS
Peter Nicholls                 SMI    +  0  +  +  0  +  +  -  0  +4
Rob Meakin                     BUR    -  0  +  -  +  0  +  +  +  +3
Ian Tetley                     MID    0  -  +  +  0  -  +  +  -  +1
Pat Perroud                    WER    0  0  +  0  +  0  -  0  0  +1
Rudy Ramcharan                 MAR    +  +  -  -  -  0  0  +  +  +1
Jerry Semen                    PAR    -  +  -  +  -  +  +  -  0   0
Collin Mitchell                HAR    +  +  -  -  0  0  0  0  0   0
Scott Patterson                HOW    +  -  -  +  0  0  -  0  -  -2
Garry  Vandenberghe            STO    -  0  +  -  +  -  -  -  -  -4
Blake MacDonald                MAC    -  -  -  0  -  0  -  0  +  -4
 
THIRDS 
Richard Hart                   HAR    +  +  +  -  +  +  0  -  +  +4
Don Walchuk                    MAR    +  0  -  +  -  +  0  +  +  +3
John Kawaja                    WER    0  -  +  +  +  -  0  +  -  +1
Jonathan Mead                  SMI    0  0  +  +  -  +  -  -  +  +1
Ken Tresoor                    STO    -  +  -  -  +  -  +  +  0   0
Glenn Howard                   HOW    +  -  0  +  +  -  -  -  +   0
Graeme McCarrel                MID    0  0  +  +  -  -  +  -  -  -1
Jeff Ryan                      BUR    -  0  0  -  +  -  0  +  0  -1
Brad Hannah                    MAC    0  0  -  -  -  +  0  +  -  -2
Les Rogers                     PAR    -  0  -  -  -  +  0  -  -  -5
 
SKIPS  
Mike Harris                    HAR    0  +  +  -  +  +  -  +  0  +3
Kerry Burtnyk                  BUR    0  0  +  0  +  +  0  0  0  +3
Dave Smith                     SMI    -  0  +  +  +  +  -  -  +  +2
Ed Werenich                    WER    +  -  +  +  +  -  0  0  -  +1
Kevin Martin                   MAR    +  +  -  -  -  0  +  +  0  +1
Brent MacDonald                MAC    +  -  +  -  +  -  +  -  -  -1
Russ Howard                    HOW    +  -  -  +  -  0  -  0  +  -1
Jeff Stoughton                 STO    -  +  -  -  -  -  +  +  0  -2
Wayne Middaugh                 MID    -  +  -  0  -  -  +  -  0  -3
Kevin Park                     PAR    -  -  -  +  -  +  -  0  0  -3
 
   TEAMS
Smith - Manitoba                      +  0  +  +  0  +  -  0  +  +4
Harris - Ontario                      +  +  +  -  +  +  0  0  0  +4
Burtnyk - Manitoba                    -  0  +  0  +  0  0  +  +  +3
Martin - Alberta                      +  +  -  0  -  +  0  0  +  +2
Werenich - Ontario                    0  -  +  +  +  -  0  +  -  +1
Middaugh - Ontario                    0  0  0  0  -  -  +  0  -  -2
Howard - Ontario                      +  -  -  +  0  -  -  -  +  -2
Stoughton - Manitoba                  -  +  -  -  0  0  +  0  -  -2
MacDonald - Alberta                   -  -  0  -  0  0  0  0  -  -4
Park - Alberta                        -  0  -  0  -  0  0  -  0  -4
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                        1997 Canadian Curling Trials - Men's Division
                                      Brandon, Manitoba
 
                               SCORING ANALYSIS AFTER 9 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
MID     9    80  FOR       6     8     21   13    1    0    0    0   50   5.6   10  0.63
                 AGAINST   0    12     26    8    4    1    0    0   58   6.4   18  0.73
 
BUR     9    83  FOR       6     9     22   11    5    0    0    0   59   6.6   14  0.71
                 AGAINST   4     6     23   10    1    1    0    0   50   5.6    7  0.60
 
SMI     9    72  FOR       2    11     19    8    6    1    0    0   57   6.3   18  0.79
                 AGAINST   8     4     13   10    4    1    0    0   49   5.4    7  0.68
 
HAR     9    79  FOR       2    14     25   12    4    1    0    0   65   7.2   20  0.82
                 AGAINST   6     4     15   12    2    0    0    0   45   5.0    6  0.57
 
WER     9    84  FOR       3    11     30    5    3    0    0    0   49   5.4   12  0.58
                 AGAINST   8     8     25    8    2    0    0    0   47   5.2    8  0.56
 
MAC     9    78  FOR       4     7     19   10    4    1    0    0   55   6.1   10  0.71
                 AGAINST   5    10     18    9    8    0    0    0   60   6.7   13  0.77
 
PAR     9    81  FOR       9     3     17   10    1    0    0    0   40   4.4    3  0.49
                 AGAINST   5    12     18   17    2    1    0    1   68   7.6   24  0.84
 
MAR     9    84  FOR       6     4     19   12    4    0    0    0   55   6.1    7  0.65
                 AGAINST   7     5     23   10    3    0    0    0   52   5.8    8  0.62
 
HOW     9    80  FOR       3    10     20   14    1    0    0    1   57   6.3   17  0.71
                 AGAINST   0    13     25   13    3    0    0    0   60   6.7   16  0.75
 
STO     9    81  FOR       5     4     18   11    4    2    0    0   60   6.7    7  0.74
                 AGAINST   3     7     24    9    4    1    0    0   58   6.4   11  0.72
 
 
TOTAL  45   401  FOR      46    81    210  106   33    5    0    1  547   6.1  118  0.68
                 AGAINST  46    81    210  106   33    5    0    1  547   6.1  118  0.68
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                        1997 Canadian Curling Trials - Men's Division
                                      Brandon, Manitoba
 
                                     TEAM WIN/LOSS GRID
 
 
        MID   BUR   SMI   HAR   WER   MAC   PAR   MAR   HOW   STO   
 
 
MID      *     W     L     L     L     L     W     L     W     L  
 
 
BUR      L     *     W     L     L     W     W     W     W     L  
 
 
SMI      W     L     *     W     W     L     W     L     W     L  
 
 
HAR      W     W     L     *     W     W     W     L     W     W  
 
 
WER      W     W     L     L     *     W     W     W     W     L  
 
 
MAC      W     L     W     L     L     *     W     L     L     W  
 
 
PAR      L     L     L     L     L     L     *     W     L     L  
 
 
MAR      W     L     W     W     L     W     L     *     W     W  
 
 
HOW      L     L     L     L     L     W     W     L     *     W  
 
 
STO      W     W     W     L     W     L     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                        1997 Canadian Curling Trials - Men's Division
                                      Brandon, Manitoba
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Middaugh - Ontario             #SH   192  199  391   120  143  263   312  342  654
                                  PTS   569  695 1264   406  471  877   975 1166 2141
                                  PCT    74   87   81    85   82   83    78   85   82
 
 1 Scott Bailey                   #SH    70   76  146     5   13   18    75   89  164
                                  PTS   225  272  497    20   50   70   245  322  567
                                  PCT    80   89   85   100   96   97    82   90   86
 
 2 Ian Tetley                     #SH    41   47   88    37   39   76    78   86  164
                                  PTS   120  165  285   135  131  266   255  296  551
                                  PCT    73   88   81    91   84   88    82   86   84
 
 3 Graeme McCarrel                #SH    40   42   82    41   41   82    81   83  164
                                  PTS   121  152  273   128  138  266   249  290  539
                                  PCT    76   90   83    78   84   81    77   87   82
 
 4 Wayne Middaugh                 #SH    41   34   75    37   50   87    78   84  162
                                  PTS   103  106  209   123  152  275   226  258  484
                                  PCT    63   78   70    83   76   79    72   77   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Burtnyk - Manitoba             #SH   162  205  367   160  145  305   322  350  672
                                  PTS   529  701 1230   511  474  985  1040 1175 2215
                                  PCT    82   85   84    80   82   81    81   84   82
 
 1 Keith Fenton                   #SH    46   97  143    18    6   24    64  103  167
                                  PTS   155  344  499    48   18   66   203  362  565
                                  PCT    84   89   87    67   75   69    79   88   85
 
 2 Rob Meakin                     #SH    32   41   73    47   50   97    79   91  170
                                  PTS   101  141  242   156  181  337   257  322  579
                                  PCT    79   86   83    83   91   87    81   88   85
 
 3 Jeff Ryan                      #SH    44   36   80    53   36   89    97   72  169
                                  PTS   136  109  245   174  120  294   310  229  539
                                  PCT    77   76   77    82   83   83    80   80   80
 
 4 Kerry Burtnyk                  #SH    40   31   71    42   53   95    82   84  166
                                  PTS   137  107  244   133  155  288   270  262  532
                                  PCT    86   86   86    79   73   76    82   78   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Smith - Manitoba               #SH   164  150  314   174  114  288   338  264  602
                                  PTS   535  507 1042   598  372  970  1133  879 2012
                                  PCT    82   85   83    86   82   84    84   83   84
 
 1 Don Harvey                     #SH    62   68  130    12   10   22    74   78  152
                                  PTS   207  251  458    40   31   71   247  282  529
                                  PCT    83   92   88    83   78   81    83   90   87
 
 2 Peter Nicholls                 #SH    30   20   50    58   44  102    88   64  152
                                  PTS   103   66  169   196  145  341   299  211  510
                                  PCT    86   83   85    84   82   84    85   82   84
 
 3 Jonathan Mead                  #SH    32   33   65    51   36   87    83   69  152
                                  PTS    96  110  206   182  115  297   278  225  503
                                  PCT    75   83   79    89   80   85    84   82   83
 
 4 Dave Smith                     #SH    40   29   69    53   24   77    93   53  146
                                  PTS   129   80  209   180   81  261   309  161  470
                                  PCT    81   69   76    85   84   85    83   76   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Harris - Ontario               #SH   196  162  358   155  209  364   351  371  722
                                  PTS   669  526 1195   513  713 1226  1182 1239 2421
                                  PCT    85   81   83    83   85   84    84   83   84
 
 1 George Karrys                  #SH    79   66  145    14   17   31    93   83  176
                                  PTS   285  234  519    40   50   90   325  284  609
                                  PCT    90   89   89    71   74   73    87   86   87
 
 2 Collin Mitchell                #SH    34   25   59    51   73  124    85   98  183
                                  PTS   105   75  180   175  242  417   280  317  597
                                  PCT    77   75   76    86   83   84    82   81   82
 
 3 Richard Hart                   #SH    35   33   68    58   58  116    93   91  184
                                  PTS   112  102  214   199  214  413   311  316  627
                                  PCT    80   77   79    86   92   89    84   87   85
 
 4 Mike Harris                    #SH    48   38   86    32   61   93    80   99  179
                                  PTS   167  115  282    99  207  306   266  322  588
                                  PCT    87   76   82    77   85   82    83   81   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Werenich - Ontario             #SH   131  317  448   115  220  335   246  537  783
                                  PTS   443 1098 1541   365  735 1100   808 1833 2641
                                  PCT    85   87   86    79   84   82    82   85   84
 
 1 Neil Harrison                  #SH    24  137  161     5   27   32    29  164  193
                                  PTS    83  494  577    18   89  107   101  583  684
                                  PCT    86   90   90    90   82   84    87   89   89
 
 2 Pat Perroud                    #SH    41   52   93    43   64  107    84  116  200
                                  PTS   147  175  322   137  226  363   284  401  685
                                  PCT    90   84   87    80   88   85    85   86   86
 
 3 John Kawaja                    #SH    36   57   93    43   64  107    79  121  200
                                  PTS   124  185  309   146  213  359   270  398  668
                                  PCT    86   81   83    85   83   84    85   82   84
 
 4 Ed Werenich                    #SH    30   71  101    24   65   89    54  136  190
                                  PTS    89  244  333    64  207  271   153  451  604
                                  PCT    74   86   82    67   80   76    71   83   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   MacDonald - Alberta            #SH   204  171  375   159  108  267   363  279  642
                                  PTS   642  535 1177   494  322  816  1136  857 1993
                                  PCT    79   78   78    78   75   76    78   77   78
 
 1 Wade Johnston                  #SH    73   60  133     7   19   26    80   79  159
                                  PTS   247  207  454    26   52   78   273  259  532
                                  PCT    85   86   85    93   68   75    85   82   84
 
 2 Blake MacDonald                #SH    44   36   80    48   34   82    92   70  162
                                  PTS   139  114  253   156  105  261   295  219  514
                                  PCT    79   79   79    81   77   80    80   78   79
 
 3 Brad Hannah                    #SH    47   39   86    53   23   76   100   62  162
                                  PTS   132  112  244   168   73  241   300  185  485
                                  PCT    70   72   71    79   79   79    75   75   75
 
 4 Brent MacDonald                #SH    40   36   76    51   32   83    91   68  159
                                  PTS   124  102  226   144   92  236   268  194  462
                                  PCT    78   71   74    71   72   71    74   71   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Park - Alberta                 #SH   221  160  381   148  129  277   369  289  658
                                  PTS   665  477 1142   495  412  907  1160  889 2049
                                  PCT    75   75   75    84   80   82    79   77   78
 
 1 Kerry Park                     #SH   106   41  147     7   10   17   113   51  164
                                  PTS   338  136  474    24   31   55   362  167  529
                                  PCT    80   83   81    86   78   81    80   82   81
 
 2 Jerry Semen                    #SH    44   41   85    45   36   81    89   77  166
                                  PTS   132  124  256   161  117  278   293  241  534
                                  PCT    75   76   75    89   81   86    82   78   80
 
 3 Les Rogers                     #SH    33   42   75    44   47   91    77   89  166
                                  PTS    91  127  218   147  145  292   238  272  510
                                  PCT    69   76   73    84   77   80    77   76   77
 
 4 Kevin Park                     #SH    38   36   74    52   36   88    90   72  162
                                  PTS   104   90  194   163  119  282   267  209  476
                                  PCT    68   63   66    78   83   80    74   73   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Martin - Alberta               #SH   197  238  435   177  215  392   374  453  827
                                  PTS   643  776 1419   583  740 1323  1226 1516 2742
                                  PCT    82   82   82    82   86   84    82   84   83
 
 1 Donald Bartlett                #SH    92   82  174    11   13   24   103   95  198
                                  PTS   328  270  598    28   44   72   356  314  670
                                  PCT    89   82   86    64   85   75    86   83   85
 
 2 Rudy Ramcharan                 #SH    38   49   87    57   67  124    95  116  211
                                  PTS   116  169  285   191  242  433   307  411  718
                                  PCT    76   86   82    84   90   87    81   89   85
 
 3 Don Walchuk                    #SH    28   53   81    60   71  131    88  124  212
                                  PTS    77  170  247   201  234  435   278  404  682
                                  PCT    69   80   76    84   82   83    79   81   80
 
 4 Kevin Martin                   #SH    39   54   93    49   64  113    88  118  206
                                  PTS   122  167  289   163  220  383   285  387  672
                                  PCT    78   77   78    83   86   85    81   82   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Howard - Ontario               #SH   184  200  384   125  151  276   309  351  660
                                  PTS   565  661 1226   398  515  913   963 1176 2139
                                  PCT    77   83   80    80   85   83    78   84   81
 
 1 Phil Loevenmark                #SH    68   82  150     7    9   16    75   91  166
                                  PTS   221  279  500    26   21   47   247  300  547
                                  PCT    81   85   83    93   58   73    82   82   82
 
 2 Scott Patterson                #SH    33   41   74    37   55   92    70   96  166
                                  PTS    95  133  228   119  195  314   214  328  542
                                  PCT    72   81   77    80   89   85    76   85   82
 
 3 Glenn Howard                   #SH    35   36   71    50   45   95    85   81  166
                                  PTS   111  120  231   161  159  320   272  279  551
                                  PCT    79   83   81    81   88   84    80   86   83
 
 4 Russ Howard                    #SH    48   41   89    31   42   73    79   83  162
                                  PTS   138  129  267    92  140  232   230  269  499
                                  PCT    72   79   75    74   83   79    73   81   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Stoughton - Manitoba           #SH   175  173  348   151  160  311   326  333  659
                                  PTS   551  564 1115   504  550 1054  1055 1114 2169
                                  PCT    79   82   80    83   86   85    81   84   82
 
 1 Steve Gould                    #SH    69   68  137    13    7   20    82   75  157
                                  PTS   243  234  477    46   25   71   289  259  548
                                  PCT    88   86   87    88   89   89    88   86   87
 
 2 Garry  Vandenberghe            #SH    30   34   64    54   50  104    84   84  168
                                  PTS    97  107  204   182  171  353   279  278  557
                                  PCT    81   79   80    84   86   85    83   83   83
 
 3 Ken Tresoor                    #SH    39   35   74    47   47   94    86   82  168
                                  PTS   113  114  227   165  156  321   278  270  548
                                  PCT    72   81   77    88   83   85    81   82   82
 
 4 Jeff Stoughton                 #SH    37   36   73    37   56   93    74   92  166
                                  PTS    98  109  207   111  198  309   209  307  516
                                  PCT    66   76   71    75   88   83    71   83   78
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                        1997 Canadian Curling Trials - Men's Division
                                      Brandon, Manitoba
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  47
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  1    SMI   6  MAC  11
          DRAW  7    PAR   5  MAC  11
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          DRAW  6    MID   0  SMI   8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  1    SMI   6  MAC  11
          DRAW  4    HOW  10  STO   7
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW  5    WER   4  PAR   2
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  7    SMI   2  STO   8    STO  SCORED 4 IN THE 6TH END
          DRAW  9    STO   9  BUR   6    STO  SCORED 4 IN THE 9TH END
          DRAW 10    WER   6  MAR   9    MAR  SCORED 4 IN THE 8TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   6
 
          DRAW  1    HOW  10  PAR   4    HOW  SCORED 6 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  5    WER   4  PAR   2
 
NUMBER OF BLANK ENDS IN EVENT:  49
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAW  5
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  2    MAR   8  MAC   4    BY MAR  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  2    HOW   4  HAR   7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  6    MID   0  SMI   8    BY SMI  BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  6    MID   0  SMI   8    BY SMI 
 
LARGEST COME FROM BEHIND VICTORY:   2
 
          DRAW  1    STO   7  MAR   8    MAR  WAS DOWN 2 AFTER 6 ENDS
          DRAW  1    HAR   7  BUR   6    HAR  WAS DOWN 2 AFTER 1 END
          DRAW  2    SMI   6  BUR   8    BUR  WAS DOWN 2 AFTER 4 ENDS
          DRAW  3    MAC   7  MID   5    MAC  WAS DOWN 2 AFTER 3 ENDS
          DRAW  5    STO   5  MAC   6    MAC  WAS DOWN 2 AFTER 1 END
          DRAW  6    STO   8  PAR   6    STO  WAS DOWN 2 AFTER 3 ENDS
          DRAW  7    HAR   5  MAR   7    MAR  WAS DOWN 2 AFTER 2 ENDS
          DRAW  8    HOW   6  WER   7    WER  WAS DOWN 2 AFTER 1 END
 
NUMBER OF EXTRA END GAMES:   5
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    STO   7  MAR   8
          DRAW  2    SMI   6  BUR   8
          DRAW  5    STO   5  MAC   6
          DRAW  7    BUR   5  WER   6
          DRAW  9    PAR   6  HAR   7
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW  3    HAR  10  STO   1
          DRAW  6    MID   0  SMI   8
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  3    PAR   4  SMI  10    BY PAR 
          DRAW  4    MAC   4  WER   6    BY MAC 
          DRAW  6    MID   0  SMI   8    BY MID 
  </div>
</div>
