<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Game Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="section1-tab1-tab" data-toggle="tab" href="#section1-tab1" role="tab" aria-controls="section1-tab1" aria-selected="true">All Games</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="section1-tab1" role="tabpanel" aria-labelledby="section1-tab1-tab">
MACDONALD BRIER SCORING RECORDS - 1927-1929
 
NUMBER OF GAMES PLAYED:  121
 
NUMBER OF EXTRA END GAMES:    5
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  20
 
          1928 DRAW  7    SK   20  MO    7
          1929 DRAW  2    NS   20  MO    3
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          1929 DRAW  8    MB   14  AB    1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  32
 
          1927 DRAW  3    SK   17  TO   15
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  14
 
          1929 DRAW  4    QC   10  AB    4
 
HIGHEST END SCORE WITH HAMMER:   7
 
          1928 DRAW  7    SK   20  MO    7    SK   SCORED 7 IN THE 8TH END
          1929 DRAW  7    TO   16  NB    9    TO   SCORED 7 IN THE 5TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          1928 DRAW  4    NB   13  QC   12    NB   SCORED 5 IN THE 7TH END
          1928 DRAW  7    ON   19  QC    6    ON   SCORED 5 IN THE 9TH END
          1929 DRAW  1    NO   15  QC    7    NO   SCORED 5 IN THE SECOND END
          1929 DRAW  3    NO   13  NS   10    NO   SCORED 5 IN THE 6TH END
          1929 DRAW  4    MB   14  ON    5    MB   SCORED 5 IN THE THIRD END
          1929 DRAW  5    MB   16  NO    8    MB   SCORED 5 IN THE 6TH END
          1929 DRAW  9    AB   15  NS   14    NS   SCORED 5 IN THE FIRST END
 
MOST POINTS SCORED, ONE TEAM, ONE EVENT YEAR: 133
 
          1928 Manitoba (Gordon Hudson, Samuel Penwarden, Ronald Singbusch, William Grant)
 
MOST POINTS SCORED, ALL TEAMS, ONE EVENT YEAR: 1034
 
          1928 Toronto, Ontario
 
MOST BLANK ENDS, ONE GAME:   3
 
          1929 DRAW  6    QC    7  TO   14
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          1929 DRAW  6    NS    4  MB   12    BY MB   BEGINNING IN END 10
          1929 DRAW  6    QC    7  TO   14    BY QC   BEGINNING IN END 5
 
LARGEST COME FROM BEHIND VICTORY:   8
 
          1927 DRAW  6    MO    9  NS   13    NS   WAS DOWN 8 AFTER 5 ENDS
 
MOST EXTRA END GAMES IN ONE EVENT YEAR:   2
 
          1927 Toronto, Ontario
          1928 Toronto, Ontario
 
FEWEST EXTRA END GAMES IN ONE EVENT YEAR:   1
 
          1929 Toronto, Ontario
 
MOST BLANK ENDS IN ONE EVENT YEAR:  11
 
          1929 Toronto, Ontario
 
FEWEST BLANK ENDS IN ONE EVENT YEAR:   4
 
          1927 Toronto, Ontario
 
MOST ENDS PLAYED IN ONE GAME:  15
 
          1927 DRAW  4    NO   11  TO   10
          1927 DRAW  6    QC   10  NO   11
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          1929 DRAW  8    MB   14  AB    1
      </div>
    </div>
  </div>
</div>
 
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Career Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="section2-tab1-tab" data-toggle="tab" href="#section2-tab1" role="tab" aria-controls="section2-tab1" aria-selected="true">Top Career Games Played</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="section2-tab2-tab" data-toggle="tab" href="#section2-tab2" role="tab" aria-controls="section2-tab2" aria-selected="false">Top Career Wins</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="section2-tab1" role="tabpanel" aria-labelledby="section2-tab1-tab">
MACDONALD BRIER - TOP CAREER GAMES PLAYED - 1927-1929
 
RANK PLAYER                         EVENTS LEAD SECOND THIRD FOURTH TOTAL
 
   1 Grant, William                    2    20      0     0      0    20
     Hudson, Gordon                    2     0      0     0     20    20
     Singbusch, Ronald                 2     0     20     0      0    20
   4 Brower, Edward                    2     0      0     9      9    18
   5 Donahoe, James                    2     7      9     0      0    16
     MacInnes, Alfred                  2     0      0    16      0    16
     Malcolm, John                     2     0      0     0     16    16
     Stewart, Howard                   2     0     16     0      0    16
   9 Dale, Thomas                      1    11      0     0      0    11
     Duncan, Allan                     1    11      0     0      0    11
     Graham, Stuart                    1     0     11     0      0    11
     Heartwell, Joseph                 1     0      0     0     11    11
     Lang, John                        1     0     11     0      0    11
     Penwarden, Samuel                 1     0      0    11      0    11
     Sproule, Harvey                   1     0      0    11      0    11
     Snow, Charles                     1     0      0     0     11    11
     Taylor, Charles                   1     0      0    11      0    11
      </div>
      <div class="tab-pane fade" id="section2-tab2" role="tabpanel" aria-labelledby="section2-tab2-tab">
MACDONALD BRIER - TOP CAREER WINS - 1927-1929
 
RANK PLAYER                         EVENTS LEAD SECOND THIRD FOURTH TOTAL
 
   1 Grant, William                    2    18      0     0      0    18
     Hudson, Gordon                    2     0      0     0     18    18
     Singbusch, Ronald                 2     0     18     0      0    18
   4 Brower, Edward                    2     0      0     6      6    12
   5 Penwarden, Samuel                 1     0      0     9      0     9
     Rollo, Donald                     1     0      0     9      0     9
   7 Donahoe, James                    2     6      2     0      0     8
     Duncan, Allan                     1     8      0     0      0     8
     Heartwell, Joseph                 1     0      0     0      8     8
     Lang, John                        1     0      8     0      0     8
     MacInnes, Alfred                  2     0      0     8      0     8
     Malcolm, John                     2     0      0     0      8     8
     Taylor, Charles                   1     0      0     8      0     8
      </div>
    </div>
  </div>
</div>
