<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Game Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="section1-tab1-tab" data-toggle="tab" href="#section1-tab1" role="tab" aria-controls="section1-tab1" aria-selected="true">All Games</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="section1-tab1" role="tabpanel" aria-labelledby="section1-tab1-tab">
MACDONALD BRIER SCORING RECORDS - 1927-1959
 
NUMBER OF GAMES PLAYED: 1376
 
NUMBER OF EXTRA END GAMES:   71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  30
 
          1957 DRAW  2    NB    3  SK   30
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          1951 DRAW 13    BC    8  SK    0
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  33
 
          1932 DRAW  6    ON   17  NB   16
          1957 DRAW  2    NB    3  SK   30
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          1950 DRAW  6    QC    5  NS    3
          1951 DRAW 13    BC    8  SK    0
 
HIGHEST END SCORE WITH HAMMER:   7
 
          1928 DRAW  7    SK   20  MO    7    SK   SCORED 7 IN THE 8TH END
          1929 DRAW  7    TO   16  NB    9    TO   SCORED 7 IN THE 5TH END
          1931 DRAW  5    MO   15  NB    8    MO   SCORED 7 IN THE FIRST END
          1936 DRAW  7    MB   25  PE    5    MB   SCORED 7 IN THE FIRST END
          1947 DRAW  8    MB   18  PE    7    MB   SCORED 7 IN THE 8TH END
          1950 DRAW  6    NB    9  MB   17    MB   SCORED 7 IN THE 10TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   6
 
          1931 DRAW  6    MB   17  NO    6    MB   SCORED 6 IN THE THIRD END
          1937 DRAW  3    BC   13  AB    6    BC   SCORED 6 IN THE 4TH END
          1938 DRAW  9    MB   21  NS    6    MB   SCORED 6 IN THE 7TH END
          1941 DRAW  7    AB   18  ON    9    AB   SCORED 6 IN THE 10TH END
          1951 DRAW  9    NO    9  BC   12    BC   SCORED 6 IN THE FIRST END
          1952 DRAW  1    NL    7  AB   23    AB   SCORED 6 IN THE 11TH END
          1954 DRAW  9    QC    9  AB   16    AB   SCORED 6 IN THE 9TH END
          1955 DRAW  1    SK   20  NL    3    SK   SCORED 6 IN THE 4TH END
          1957 DRAW  2    NB    3  SK   30    SK   SCORED 6 IN THE 5TH END
          1959 DRAW  4    NO   13  NS   12    NS   SCORED 6 IN THE 8TH END
 
MOST POINTS SCORED, ONE TEAM, ONE EVENT YEAR: 142
 
          1936 Manitoba (Kenneth Watson, Grant Watson, Marvin MacIntyre, Charles Kerr)
 
MOST POINTS SCORED, ALL TEAMS, ONE EVENT YEAR: 1120
 
          1951 Dalhousie Memorial Arena, Halifax, NS
 
MOST BLANK ENDS, ONE GAME:   5
 
          1955 DRAW  7    PE    5  AB   10
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          1950 DRAW  6    QC    5  NS    3 BEGINNING IN END 1
 
LARGEST COME FROM BEHIND VICTORY:   8
 
          1927 DRAW  6    MO    9  NS   13    NS   WAS DOWN 8 AFTER 5 ENDS
          1958 DRAW  6    NS   10  NL   12    NL   WAS DOWN 8 AFTER 6 ENDS
 
MOST EXTRA END GAMES IN ONE EVENT YEAR:   8
 
          1957 Kingston, Ontario
 
FEWEST EXTRA END GAMES IN ONE EVENT YEAR:   0
 
          1933 Toronto, Ontario
          1942 Quebec City, Quebec
          1946 Saskatoon, Saskatchewan
          1949 Hamilton, Ontario
          1952 Winnipeg, MB
 
MOST BLANK ENDS IN ONE EVENT YEAR:  50
 
          1952 Winnipeg, MB
 
FEWEST BLANK ENDS IN ONE EVENT YEAR:   0
 
          1931 Toronto, Ontario
          1932 Toronto, Ontario
 
MOST ENDS PLAYED IN ONE GAME:  15
 
          1927 DRAW  4    NO   11  TO   10
          1927 DRAW  6    QC   10  NO   11
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          1929 DRAW  8    MB   14  AB    1
      </div>
    </div>
  </div>
</div>
 
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Career Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="section2-tab1-tab" data-toggle="tab" href="#section2-tab1" role="tab" aria-controls="section2-tab1" aria-selected="true">Top Career Games Played</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="section2-tab2-tab" data-toggle="tab" href="#section2-tab2" role="tab" aria-controls="section2-tab2" aria-selected="false">Top Career Wins</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="section2-tab1" role="tabpanel" aria-labelledby="section2-tab1-tab">
MACDONALD BRIER - TOP CAREER GAMES PLAYED - 1927-1959
 
RANK PLAYER                         EVENTS LEAD SECOND THIRD FOURTH TOTAL
 
   1 Campbell, Donald                  7     0     10    42      9    61
   2 Hall, Perry                       6     0      9    28     18    55
   3 Campbell, Gordon                  6    10      0     0     41    51
   4 Stewart, Howard                   6     0     50     0      0    50
   5 Squarebriggs, John                5     0      9    40      0    49
     Stone, Reginald                   5     0      0     0     49    49
     Stone, Roy                        5     0     19    30      0    49
   8 Brower, John                      5     0     10    36      0    46
   9 Manahan, Clifford                 5     0      0     0     45    45
  10 Thibodeau, Nicholas               5     0      0     0     42    42
  11 Baldwin, Mathew                   4     0      0     0     41    41
     Haynes, Gordon                    4     0     21    20      0    41
  13 Campbell, Duncan                  5    22      0    18      0    40
     Campbell, Garnet                  4     0      0     0     40    40
     Campbell, Glen                    4     0     20    20      0    40
     Fisher, Alexander                 4     0     10     0     30    40
     Howell, Wilbert                   4    10      0    30      0    40
     McGibney, Douglas                 4    10     30     0      0    40
  19 MacDonald, Wendell                4     0      0     0     39    39
  20 Manahan, Ross                     4     0     28    10      0    38
  21 Hall, Bert                        4     0      0     9     28    37
     Reid, John                        4     8     29     0      0    37
     Watson, Grant                     4     0      0    27     10    37
     Welsh, James                      4     0      0     8     29    37
  25 Avery, Francis                    4     0      0    27      9    36
     Cream, Robert                     4     0      9     0     27    36
     Hughes, Gordon                    4     0      0    36      0    36
     Roy, Ormiston                     4     9      0    18      9    36
     Tinling, Frederick                4     0     18    18      0    36
  30 Arthur, Frank                     4     7     18     9      0    34
     Connolly, Daniel                  4     0     16     0     18    34
     Connolly, Joseph                  4     0      0    34      0    34
     Durrant, Charles                  4     0      0     9     25    34
     Kennah, John                      4    16     18     0      0    34
     Millar, Daniel                    4     0      7    18      9    34
     Palmer, Howard                    4     0      0     7     27    34
  37 Donahoe, James                    4     7     25     0      0    32
     Lyall, Peter                      4     0      0     0     32    32
     Macneill, Murray                  4     0      0     0     32    32
     Malcolm, John                     4     0      0     0     32    32
  41 Weldon, Kenneth                   3     0      0     0     31    31
  42 Annabel, Clifford                 3     0      9    12      9    30
     Campbell, Lloyd                   3    20     10     0      0    30
     Franklin, John                    3     0      0     9     21    30
     Gullage, John                     3     0     30     0      0    30
     MacDonald, Elmer                  3    20     10     0      0    30
     Mann, Avard                       3     0      0    30      0    30
     Piercey, William                  3    30      0     0      0    30
  49 Acorn, Frank                      3     0      0     0     29    29
     Glinz, Gerald                     3     0      0     0     29    29
     Likely, Andrew                    3     0     20     9      0    29
     Monk, Harry Sr.                   3    29      0     0      0    29
     Rhodenizer, Lee                   3    29      0     0      0    29
     Simmons, Ralph                    3     0      9    10     10    29
     Vance, James                      3     0     10     0     19    29
  56 Brower, Edward                    3     0      0     9     19    28
     Cartmell, Elwyn                   3     0      0     9     19    28
     Limerick, Arthur                  3     0      0    19      9    28
     Limerick, Victor                  3     0     18     0     10    28
     Muirhead, Frank                   3     0     10    18      0    28
     Parkes, Ernest                    3     0     28     0      0    28
     Robinson, Wesley                  3     0      0    28      0    28
     Seagram, Campbell                 3    28      0     0      0    28
  64 Beecroft, William                 3     0     27     0      0    27
     Cruikshank, Russell               3     0      0     0     27    27
     David, Roland                     3     0      0     9     18    27
     Finlay, William                   3     0      0     0     27    27
     Lehnen, Arthur                    3     0     27     0      0    27
     LeSage, William                   3    27      0     0      0    27
     McLaine, Rankine                  3     0      0     0     27    27
     Watson, Kenneth                   3     0      0     0     27    27
     Welsh, Alexander                  3     0      8    19      0    27
     Wood, Howard Sr.                  3     0      0     8     19    27
  74 Ramsay, Thomas                    3     0      7     0     19    26
  75 MacInnes, Alfred                  3     0      0    25      0    25
     McLeod, Henry                     3     0      0    16      9    25
     Robb, Melvin                      3    25      0     0      0    25
     Smith, Emmett                     3     0      0     0     25    25
     Walker, Harry                     3    18      0     7      0    25
  80 Shaw, James                       3     0      0     9     14    23
  81 Coates, Gordon                    3     0     22     0      0    22
  82 Forsythe, Roy                     2     0      0     0     21    21
     Issac, William                    2     0     11    10      0    21
     Jones, Stanley                    2     0     11    10      0    21
     Langlois, Allan                   2     0      0    21      0    21
     McCance, Chester                  2     0      0    21      0    21
     McWilliams, Andrew                2    11     10     0      0    21
     Mooney, Reginald                  2     0     10    11      0    21
     Price, William                    2    21      0     0      0    21
     Rose, William                     2     0      0    10     11    21
     Turney, James                     2    21      0     0      0    21
     Walsh, William                    2     0      0     0     21    21
  93 Cameron, Douglas                  2     0      0    10     10    20
     Cameron, James                    2     0      0    20      0    20
     Dillon, George                    2     0     10    10      0    20
     Ferry, John                       2     0     20     0      0    20
     Gowanlock, Albert                 2     0      0     0     20    20
     Grant, Andrew                     2     0      0    10     10    20
     Grant, Ray                        2    10     10     0      0    20
     Grant, William                    2    20      0     0      0    20
     Gray, Glenn                       2     0      0    20      0    20
     Henry, Edward                     2    10     10     0      0    20
     Hill, James                       2     0      0     0     20    20
     Hoar, Frank                       2     0     20     0      0    20
     Hudson, Gordon                    2     0      0     0     20    20
     Kleinmeyer, Arthur                2     0     20     0      0    20
     Kydd, C.H.                        2     0     20     0      0    20
     Lang, John                        2     0     20     0      0    20
     MacDonald, Clifford               2     0      0     0     20    20
     MacDonald, William                2     0      0    20      0    20
     MacNevin, Elmer                   2    10     10     0      0    20
     McCully, Richard                  2     0      0     0     20    20
     McEwen, Donald                    2     0      0    10     10    20
     McKay, Hunt                       2    20      0     0      0    20
     McManus, Cecil                    2     0     10    10      0    20
     Peters, William                   2    20      0     0      0    20
     Pounder, Norman                   2     0     20     0      0    20
     Richardson, Pennell               2     0     10    10      0    20
     Rockwell, Norman                  2     0      0     0     20    20
     Singbusch, Ronald                 2     0     20     0      0    20
     Trites, Horace                    2     0      0    20      0    20
     Williams, James                   2     0      0    20      0    20
     Worth, Harold Jr.                 2     0     10    10      0    20
      </div>
      <div class="tab-pane fade" id="section2-tab2" role="tabpanel" aria-labelledby="section2-tab2-tab">
MACDONALD BRIER - TOP CAREER WINS - 1927-1959
 
RANK PLAYER                         EVENTS LEAD SECOND THIRD FOURTH TOTAL
 
   1 Campbell, Donald                  7     0      8    35      7    50
   2 Campbell, Gordon                  6     8      0     0     30    38
   3 Manahan, Clifford                 5     0      0     0     35    35
   4 Hall, Perry                       6     0      5    17     12    34
     Stone, Reginald                   5     0      0     0     34    34
     Stone, Roy                        5     0     14    20      0    34
   7 Baldwin, Mathew                   4     0      0     0     33    33
   8 Campbell, Garnet                  4     0      0     0     32    32
     Campbell, Glen                    4     0     18    14      0    32
     Watson, Grant                     4     0      0    25      7    32
  11 Haynes, Gordon                    4     0     15    15      0    30
  12 Manahan, Ross                     4     0     23     6      0    29
  13 Campbell, Duncan                  5    17      0    11      0    28
  14 Brower, John                      5     0      7    20      0    27
  15 McGibney, Douglas                 4     6     20     0      0    26
     Reid, John                        4     5     21     0      0    26
     Welsh, James                      4     0      0     5     21    26
  18 Avery, Francis                    4     0      0    19      6    25
     Watson, Kenneth                   3     0      0     0     25    25
  20 Campbell, Lloyd                   3    18      6     0      0    24
  21 Robinson, Wesley                  3     0      0    23      0    23
     Wood, Howard Sr.                  3     0      0     6     17    23
  23 Hall, Bert                        4     0      0     5     17    22
     Millar, Daniel                    4     0      3    12      7    22
  25 Monk, Harry Sr.                   3    21      0     0      0    21
     Palmer, Howard                    4     0      0     5     16    21
  27 Cartmell, Elwyn                   3     0      0     9     11    20
     Tinling, Frederick                4     0     10    10      0    20
  29 Beecroft, William                 3     0     19     0      0    19
     Brower, Edward                    3     0      0     6     13    19
     Langlois, Allan                   2     0      0    19      0    19
     McWilliams, Andrew                2     9     10     0      0    19
     Price, William                    2    19      0     0      0    19
     Walsh, William                    2     0      0     0     19    19
  35 Annabel, Clifford                 3     0      5     8      5    18
     Gowanlock, Albert                 2     0      0     0     18    18
     Grant, William                    2    18      0     0      0    18
     Hudson, Gordon                    2     0      0     0     18    18
     Singbusch, Ronald                 2     0     18     0      0    18
     Welsh, Alexander                  3     0      5    13      0    18
  41 Coates, Gordon                    3     0     17     0      0    17
     Connolly, Daniel                  4     0      6     0     11    17
     Connolly, Joseph                  4     0      0    17      0    17
     David, Roland                     3     0      0     5     12    17
     Franklin, John                    3     0      0     5     12    17
     Kennah, John                      4     6     11     0      0    17
     MacDonald, Wendell                4     0      0     0     17    17
     Mann, Avard                       3     0      0    17      0    17
     McIntyre, Lloyd                   2    17      0     0      0    17
     Muirhead, Frank                   3     0      9     8      0    17
     Parkes, Ernest                    3     0     17     0      0    17
     Pollard, Ernest                   2     0      0    17      0    17
     Ramsay, Thomas                    3     0      3     0     14    17
     Rose, William                     2     0      0     8      9    17
     Seagram, Campbell                 3    17      0     0      0    17
     Weldon, Kenneth                   3     0      0     0     17    17
  57 Donahoe, James                    4     6     10     0      0    16
     Forsythe, Roy                     2     0      0     0     16    16
     McKnight, William                 2     7      9     0      0    16
     Thibodeau, Nicholas               5     0      0     0     16    16
     Wood, Howard Jr.                  2     0      9     0      7    16
  62 D'Amour, Theophile                2     0      0     0     15    15
     Ferry, John                       2     0     15     0      0    15
     Finlay, William                   3     0      0     0     15    15
     Glinz, Gerald                     3     0      0     0     15    15
     Gray, Glenn                       2     0      0    15      0    15
     Kleinmeyer, Arthur                2     0     15     0      0    15
     LeSage, William                   3    15      0     0      0    15
     Macneill, Murray                  4     0      0     0     15    15
     Mark, James                       2    15      0     0      0    15
     McGhie, Robert                    2     0      0    15      0    15
     Robb, Melvin                      3    15      0     0      0    15
     Smith, Emmett                     3     0      0     0     15    15
     Wendell, Frederick                2     0     15     0      0    15
  75 Beckett, James                    2     0     14     0      0    14
     Congalton, James                  2     0      0     8      6    14
     Dunbar, William                   2     0      0     0     14    14
     Grant, Andrew                     2     0      0     7      7    14
     Grant, Ray                        2     7      7     0      0    14
     Hill, James                       2     0      0     0     14    14
     Johnson, Leo                      2     0      0     0     14    14
     Johnson, Lincoln                  2     0     14     0      0    14
     Jones, Stanley                    2     0      8     6      0    14
     Law, George                       2    14      0     0      0    14
     Lehnen, Arthur                    3     0     14     0      0    14
     MacNevin, Elmer                   2     7      7     0      0    14
     McMahon, James                    2     0      0    14      0    14
     Mooney, Reginald                  2     0      6     8      0    14
     Ross, W.S.                        2     8      0     6      0    14
     Squarebriggs, John                5     0      1    13      0    14
     Stewart, Howard                   6     0     14     0      0    14
     Stewart, Lawrence                 2     0      0    14      0    14
     Worth, Harold Jr.                 2     0      7     7      0    14
  94 Arthur, Frank                     4     4      6     3      0    13
     Durrant, Charles                  4     0      0     2     11    13
     Hamilton, Robert                  2    13      0     0      0    13
     Henderson, Robert                 2     0     13     0      0    13
     Malcolm, John                     4     0      0     0     13    13
     McCance, Chester                  2     0      0    13      0    13
     McKay, Hunt                       2    13      0     0      0    13
     Turney, James                     2    13      0     0      0    13
     Williams, James                   2     0      0    13      0    13
      </div>
    </div>
  </div>
</div>
