<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Game Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="section1-tab1-tab" data-toggle="tab" href="#section1-tab1" role="tab" aria-controls="section1-tab1" aria-selected="true">All Games</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="section1-tab1" role="tabpanel" aria-labelledby="section1-tab1-tab">
MACDONALD BRIER SCORING RECORDS - 1927-1969
 
NUMBER OF GAMES PLAYED: 1929
 
NUMBER OF EXTRA END GAMES:  114
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  30
 
          1957 DRAW  2    NB    3  SK   30
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          1951 DRAW 13    BC    8  SK    0
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  33
 
          1932 DRAW  6    ON   17  NB   16
          1957 DRAW  2    NB    3  SK   30
          1968 DRAW 11    PE   17  NL   16
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          1964 DRAW  6    NB    3  NS    4
 
HIGHEST END SCORE WITH HAMMER:   7
 
          1928 DRAW  7    SK   20  MO    7    SK   SCORED 7 IN THE 8TH END
          1929 DRAW  7    TO   16  NB    9    TO   SCORED 7 IN THE 5TH END
          1931 DRAW  5    MO   15  NB    8    MO   SCORED 7 IN THE FIRST END
          1936 DRAW  7    MB   25  PE    5    MB   SCORED 7 IN THE FIRST END
          1947 DRAW  8    MB   18  PE    7    MB   SCORED 7 IN THE 8TH END
          1950 DRAW  6    NB    9  MB   17    MB   SCORED 7 IN THE 10TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   6
 
          1931 DRAW  6    MB   17  NO    6    MB   SCORED 6 IN THE THIRD END
          1937 DRAW  3    BC   13  AB    6    BC   SCORED 6 IN THE 4TH END
          1938 DRAW  9    MB   21  NS    6    MB   SCORED 6 IN THE 7TH END
          1941 DRAW  7    AB   18  ON    9    AB   SCORED 6 IN THE 10TH END
          1951 DRAW  9    NO    9  BC   12    BC   SCORED 6 IN THE FIRST END
          1952 DRAW  1    NL    7  AB   23    AB   SCORED 6 IN THE 11TH END
          1954 DRAW  9    QC    9  AB   16    AB   SCORED 6 IN THE 9TH END
          1955 DRAW  1    SK   20  NL    3    SK   SCORED 6 IN THE 4TH END
          1957 DRAW  2    NB    3  SK   30    SK   SCORED 6 IN THE 5TH END
          1959 DRAW  4    NO   13  NS   12    NS   SCORED 6 IN THE 8TH END
 
MOST POINTS SCORED, ONE TEAM, ONE EVENT YEAR: 142
 
          1936 Manitoba (Kenneth Watson, Grant Watson, Marvin MacIntyre, Charles Kerr)
 
MOST POINTS SCORED, ALL TEAMS, ONE EVENT YEAR: 1120
 
          1951 Dalhousie Memorial Arena, Halifax, NS
 
MOST BLANK ENDS, ONE GAME:   6
 
          1964 DRAW  6    NB    3  NS    4
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          1950 DRAW  6    QC    5  NS    3 BEGINNING IN END 1
          1963 DRAW 10    PE    6  NS    5 BEGINNING IN END 2
 
LARGEST COME FROM BEHIND VICTORY:   9
 
          1965 DRAW  9    QC   12  AB   16    AB   WAS DOWN 9 AFTER 5 ENDS
 
MOST EXTRA END GAMES IN ONE EVENT YEAR:   8
 
          1957 Kingston, Ontario
 
FEWEST EXTRA END GAMES IN ONE EVENT YEAR:   0
 
          1933 Toronto, Ontario
          1942 Quebec City, Quebec
          1946 Saskatoon, Saskatchewan
          1949 Hamilton, Ontario
          1952 Winnipeg, MB
 
MOST BLANK ENDS IN ONE EVENT YEAR:  92
 
          1963 Brandon,Manitoba
 
FEWEST BLANK ENDS IN ONE EVENT YEAR:   0
 
          1931 Toronto, Ontario
          1932 Toronto, Ontario
 
MOST ENDS PLAYED IN ONE GAME:  15
 
          1927 DRAW  4    NO   11  TO   10
          1927 DRAW  6    QC   10  NO   11
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          1929 DRAW  8    MB   14  AB    1
      </div>
    </div>
  </div>
</div>
 
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Career Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="section2-tab1-tab" data-toggle="tab" href="#section2-tab1" role="tab" aria-controls="section2-tab1" aria-selected="true">Top Career Games Played</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="section2-tab2-tab" data-toggle="tab" href="#section2-tab2" role="tab" aria-controls="section2-tab2" aria-selected="false">Top Career Wins</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="section2-tab1" role="tabpanel" aria-labelledby="section2-tab1-tab">
MACDONALD BRIER - TOP CAREER GAMES PLAYED - 1927-1969
 
RANK PLAYER                         EVENTS LEAD SECOND THIRD FOURTH TOTAL
 
   1 Campbell, Garnet                  8     0     20    20     40    80
   2 Storey, Frederick                 7    71      0     0      0    71
   3 Northcott, Ronald                 6     0      0    10     51    61
   4 Cameron, Douglas                  6     0      0    10     50    60
     Campbell, Glen                    6    20     20    20      0    60
     Dillon, George                    6     0     20    40      0    60
   7 Stone, Reginald                   6     0      0     0     59    59
     Stone, Roy                        6     0     19    40      0    59
   9 Hall, Perry                       6     0      9    28     18    55
  10 Richardson, Arnold                5     0      0    52      0    52
     Richardson, Ernest                5     0      0     0     52    52
     Richardson, Garnet                5     0     52     0      0    52
  13 Dillon, Robert                    5    10     40     0      0    50
     Fisher, Alexander                 5     0     10     0     40    50
     Llewellyn, Arnold                 5    40      0    10      0    50
     McGibney, Douglas                 5    10     30     0     10    50
     Piercey, William                  5    30      0     0     20    50
     Smith, Alan                       5     0      0    30     20    50
     Stewart, Howard                   6     0     50     0      0    50
  20 Squarebriggs, John                5     0      9    40      0    49
  21 Brower, John                      5     0     10    36      0    46
  22 Manahan, Clifford                 5     0      0     0     45    45
  23 Richardson, Wesley                4    42      0     0      0    42
     Thibodeau, Nicholas               5     0      0     0     42    42
  25 Baldwin, Mathew                   4     0      0     0     41    41
     Campbell, Gordon M.               5     0      0     0     41    41
     Haynes, Gordon                    4     0     21    20      0    41
     Sparkes, Bernie                   4     0     41     0      0    41
  29 Burke, Arthur                     4    10      0     0     30    40
     Campbell, Duncan A.               5    22      0    18      0    40
     Carson, Earl                      4     0     10    20     10    40
     Howell, Wilbert                   4    10      0    30      0    40
     Keith, Harold                     4    10     30     0      0    40
     Mabey, Harold Jr.                 4     0      0    30     10    40
     Pickering, Robert                 4     0     10     0     30    40
     Taite, John                       4    10     10    20      0    40
     Tracy, William                    4     0      0     0     40    40
  38 MacDonald, Wendell                4     0      0     0     39    39
  39 Manahan, Ross                     4     0     28    10      0    38
  40 Hall, Bert                        4     0      0     9     28    37
     Reid, John                        4     8     29     0      0    37
     Watson, Grant                     4     0      0    27     10    37
     Welsh, James                      4     0      0     8     29    37
  44 Avery, Francis                    4     0      0    27      9    36
     Cream, Robert                     4     0      9     0     27    36
     Hughes, Gordon                    4     0      0    36      0    36
     Roy, Ormiston                     4     9      0    18      9    36
     Tinling, Frederick                4     0     18    18      0    36
  49 Arthur, Frank                     4     7     18     9      0    34
     Connolly, Daniel                  4     0     16     0     18    34
     Connolly, Joseph                  4     0      0    34      0    34
     Durrant, Charles                  4     0      0     9     25    34
     Kennah, John                      4    16     18     0      0    34
     Millar, Daniel                    4     0      7    18      9    34
     Palmer, Howard                    4     0      0     7     27    34
  56 Donahoe, James                    4     7     25     0      0    32
     Lyall, Peter                      4     0      0     0     32    32
     Macneill, Murray                  4     0      0     0     32    32
     Malcolm, John                     4     0      0     0     32    32
  60 Campbell, Donald A.               4     0      0    22      9    31
     Weldon, Kenneth                   3     0      0     0     31    31
  62 Annabel, Clifford                 3     0      9    12      9    30
     Baird, Ian                        3     0      0     0     30    30
     Baker, Ronald                     3     0     30     0      0    30
     Bell, Kenneth                     3     0     20    10      0    30
     Buchan, Kenneth                   3     0      0    20     10    30
     Campbell, Donald C.               3     0     10    20      0    30
     Campbell, Lloyd                   3    20     10     0      0    30
     Franklin, John                    3     0      0     9     21    30
     Giannou, George                   3    10      0    10     10    30
     Grant, Ray                        3    10     10     0     10    30
     Gullage, John                     3     0     30     0      0    30
     Hope, Peter                       3     0      0    20     10    30
     Keys, John                        3     0      0    20     10    30
     Mabey, Harold Sr.                 3     0      0     0     30    30
     MacCharles, George                3     0     10     0     20    30
     MacDonald, Elmer                  3    20     10     0      0    30
     MacInnes, Earl                    3     0     30     0      0    30
     MacNevin, Elmer                   3    10     10    10      0    30
     Mann, Avard                       3     0      0    30      0    30
     Mann, Robert                      3     0     10     0     20    30
     McKay, Hunt                       3    30      0     0      0    30
     Polyblank, John                   3     0      0     0     30    30
     Saunders, Allison                 3     0     30     0      0    30
     Shields, James                    3     0      0    20     10    30
     Smith, Duncan                     3    10     20     0      0    30
     Wood, Edgar                       3    30      0     0      0    30
     Worth, Harold Jr.                 3     0     10    10     10    30
  89 Acorn, Frank                      3     0      0     0     29    29
     D'Amour, Theophile                3     0     10     0     19    29
     Glinz, Gerald                     3     0      0     0     29    29
     Groom, Donald                     3     0      9     0     20    29
     Likely, Andrew                    3     0     20     9      0    29
     Monk, Harry Sr.                   3    29      0     0      0    29
     Rhodenizer, Lee                   3    29      0     0      0    29
     Simmons, Ralph                    3     0      9    10     10    29
     Vance, James                      3     0     10     0     19    29
  98 Brower, Edward                    3     0      0     9     19    28
     Cartmell, Elwyn                   3     0      0     9     19    28
     Limerick, Arthur                  3     0      0    19      9    28
     Limerick, Victor                  3     0     18     0     10    28
     Muirhead, Frank                   3     0     10    18      0    28
     Parkes, Ernest                    3     0     28     0      0    28
     Robinson, Wesley                  3     0      0    28      0    28
     Seagram, Campbell                 3    28      0     0      0    28
      </div>
      <div class="tab-pane fade" id="section2-tab2" role="tabpanel" aria-labelledby="section2-tab2-tab">
MACDONALD BRIER - TOP CAREER WINS - 1927-1969
 
RANK PLAYER                         EVENTS LEAD SECOND THIRD FOURTH TOTAL
 
   1 Campbell, Garnet                  8     0     15    15     32    62
   2 Storey, Frederick                 7    56      0     0      0    56
   3 Northcott, Ronald                 6     0      0     8     40    48
   4 Campbell, Glen                    6    15     18    14      0    47
   5 Richardson, Arnold                5     0      0    45      0    45
     Richardson, Ernest                5     0      0     0     45    45
     Richardson, Garnet                5     0     45     0      0    45
   8 Stone, Reginald                   6     0      0     0     41    41
     Stone, Roy                        6     0     14    27      0    41
  10 Richardson, Wesley                4    36      0     0      0    36
  11 Manahan, Clifford                 5     0      0     0     35    35
     Sparkes, Bernie                   4     0     35     0      0    35
  13 Hall, Perry                       6     0      5    17     12    34
  14 Baldwin, Mathew                   4     0      0     0     33    33
  15 Watson, Grant                     4     0      0    25      7    32
  16 McGibney, Douglas                 5     6     20     0      5    31
  17 Campbell, Gordon M.               5     0      0     0     30    30
     Haynes, Gordon                    4     0     15    15      0    30
     Pickering, Robert                 4     0      8     0     22    30
  20 Cameron, Douglas                  6     0      0     3     26    29
     Dillon, George                    6     0      7    22      0    29
     Manahan, Ross                     4     0     23     6      0    29
  23 Campbell, Duncan A.               5    17      0    11      0    28
  24 Brower, John                      5     0      7    20      0    27
  25 Campbell, Donald C.               3     0      8    18      0    26
     Llewellyn, Arnold                 5    22      0     4      0    26
     Reid, John                        4     5     21     0      0    26
     Welsh, James                      4     0      0     5     21    26
  29 Avery, Francis                    4     0      0    19      6    25
     Shields, James                    3     0      0    17      8    25
     Watson, Kenneth                   3     0      0     0     25    25
  32 Campbell, Donald A.               4     0      0    17      7    24
     Campbell, Lloyd                   3    18      6     0      0    24
     Dillon, Robert                    5     4     20     0      0    24
     Smith, Alan                       5     0      0    10     14    24
  36 Keys, John                        3     0      0    15      8    23
     Robinson, Wesley                  3     0      0    23      0    23
     Wood, Howard Sr.                  3     0      0     6     17    23
  39 D'Amour, Theophile                3     0      7     0     15    22
     Hall, Bert                        4     0      0     5     17    22
     MacNevin, Elmer                   3     7      7     8      0    22
     Millar, Daniel                    4     0      3    12      7    22
     Worth, Harold Jr.                 3     0      7     7      8    22
  44 Baker, Ronald                     3     0     21     0      0    21
     Monk, Harry Sr.                   3    21      0     0      0    21
     Palmer, Howard                    4     0      0     5     16    21
  47 Cartmell, Elwyn                   3     0      0     9     11    20
     McKay, Hunt                       3    20      0     0      0    20
     Tinling, Frederick                4     0     10    10      0    20
  50 Beecroft, William                 3     0     19     0      0    19
     Brower, Edward                    3     0      0     6     13    19
     Grant, Ray                        3     7      7     0      5    19
     Langlois, Allan                   2     0      0    19      0    19
     McWilliams, Andrew                2     9     10     0      0    19
     Price, William                    2    19      0     0      0    19
     Walsh, William                    2     0      0     0     19    19
  57 Annabel, Clifford                 3     0      5     8      5    18
     Anton, Ronald                     2     0      0    18      0    18
     Gervais, Hector                   2     0      0     0     18    18
     Gowanlock, Albert                 2     0      0     0     18    18
     Grant, William                    2    18      0     0      0    18
     Hudson, Gordon                    2     0      0     0     18    18
     Singbusch, Ronald                 2     0     18     0      0    18
     Ursuliak, Wally                   2    18      0     0      0    18
     Welsh, Alexander                  3     0      5    13      0    18
     Werner, Raymond                   2     0     18     0      0    18
  67 Bell, Kenneth                     3     0     10     7      0    17
     Braunstein, Ronald                2     0      9     8      0    17
     Braunstein, Terrance              2     0      0     0     17    17
     Carson, Earl                      4     0      5     7      5    17
     Coates, Gordon                    3     0     17     0      0    17
     Connolly, Daniel                  4     0      6     0     11    17
     Connolly, Joseph                  4     0      0    17      0    17
     David, Roland                     3     0      0     5     12    17
     Franklin, John                    3     0      0     5     12    17
     Kennah, John                      4     6     11     0      0    17
     MacDonald, Wendell                4     0      0     0     17    17
     MacInnes, Earl                    3     0     17     0      0    17
     Mann, Avard                       3     0      0    17      0    17
     McIntyre, Lloyd                   2    17      0     0      0    17
     Muirhead, Frank                   3     0      9     8      0    17
     Parkes, Ernest                    3     0     17     0      0    17
     Pollard, Ernest                   2     0      0    17      0    17
     Polyblank, John                   3     0      0     0     17    17
     Ramsay, Thomas                    3     0      3     0     14    17
     Rose, William                     2     0      0     8      9    17
     Saunders, Allison                 3     0     17     0      0    17
     Seagram, Campbell                 3    17      0     0      0    17
     Turnbull, Raymond                 2     9      8     0      0    17
     Weldon, Kenneth                   3     0      0     0     17    17
  91 Donahoe, James                    4     6     10     0      0    16
     Duguid, Donald                    2     0      7     9      0    16
     Fink, George                      2     0      0    16      0    16
     Forsythe, Roy                     2     0      0     0     16    16
     McKnight, William                 2     7      9     0      0    16
     Thibodeau, Nicholas               5     0      0     0     16    16
     Wood, Howard Jr.                  2     0      9     0      7    16
  98 Ferry, John                       2     0     15     0      0    15
     Finlay, William                   3     0      0     0     15    15
     Ford, Gary                        2    15      0     0      0    15
     Glinz, Gerald                     3     0      0     0     15    15
     Gray, Glenn                       2     0      0    15      0    15
     Hudson, Bruce                     2     0      0     0     15    15
     Kleinmeyer, Arthur                2     0     15     0      0    15
     LeSage, William                   3    15      0     0      0    15
     Little, Gordon                    2     0     15     0      0    15
     Macneill, Murray                  4     0      0     0     15    15
     Mark, James                       2    15      0     0      0    15
     Martel, Harold                    2    15      0     0      0    15
     McGhie, Robert                    2     0      0    15      0    15
     Naimark, Barry                    2     9      0     0      6    15
     Robb, Melvin                      3    15      0     0      0    15
     Smith, Emmett                     3     0      0     0     15    15
     Tracy, William                    4     0      0     0     15    15
     Wendell, Frederick                2     0     15     0      0    15
      </div>
    </div>
  </div>
</div>
