<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2001 Canadian Curling Trials - Men
                                      Men's Competition
                                         Regina, SK
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 AVG
   LEADS  
 1 Scott Bailey                   MID   89 75 92 89 98 88 83 86 81  87
 2 Grant Odishaw                  HOW   94 80 85 91 83 76 89 90 89  86
 2 Marcel Rocque                  FER   78 78 89 87 93 81 91 91 86  86
 2 Brent Laing                    MOR   83 83 75 92 95 85 78 89 91  86
 5 David Mellof                   GRE   74 90 83 79 88 93 91 86 83  85
 5 Jody Sveistrup                 MCA   94 89 82 88 85 86 89 69 91  85
 5 Don Bartlett                   MAR   81 90 78 83 83 94 91 84 83  85
 5 Doug Armstrong                 STO   89 85 88 77 93 85 85 82 75  85
 9 Keith Fenton                   BUR   75 86 89 73 86 88 81 94 79  84
10 Doug Stambaugh                 PAR   69 74 ** 88 79 ** 74 88 80  78
 + Ron Engel                      PAR   ** ** 66 ** ** 78 ** ** **  72
 
   SECONDS
 1 Carter Rycroft                 MAR   84 85 88 75 94 85 88 85 84  85
 2 Rob Meakin                     BUR   74 75 86 85 76 94 90 88 90  84
 2 James Grattan                  HOW   88 95 86 83 76 86 93 79 71  84
 4 Ian Tetley                     MID   83 79 89 78 93 83 86 85 67  83
 5 Garry Van Den Berghe           STO   76 92 80 86 86 81 81 72 84  82
 6 Scott Pfeifer                  FER   90 78 79 82 78 78 81 84 78  81
 6 Mark Whittle                   GRE   79 65 86 80 76 91 86 76 83  81
 8 Bryan Miki                     MCA   75 89 77 75 ** ** ** 80 **  80
 8 Craig Savill                   MOR   79 82 88 85 73 69 82 82 81  80
10 Ron Engel                      PAR   70 75 ** ** 66 ** 81 85 73  75
 + Darin Fenton                   MCA   ** ** ** ** 88 82 69 ** 61  75
 + Tony Germsheid                 PAR   ** ** 71 86 ** 70 ** ** **  75
 
   THIRDS 
 1 Jeff Ryan                      BUR   74 90 94 85 89 90 81 89 93  87
 1 Jon Mead                       STO   80 94 84 89 90 88 89 85 86  87
 3 Glenn Howard                   HOW  100 90 86 80 88 83 83 80 78  85
 4 Graeme McCarrel                MID   86 81 85 81 81 91 86 88 77  84
 5 Don Walchuk                    MAR   89 74 83 74 84 84 89 89 83  83
 + Shane Park                     PAR   ** ** ** ** ** ** ** ** 81  81
 6 Randy Ferbey(S)                FER   85 79 86 71 78 80 83 75 86  80
 6 Bob Ursel                      GRE   83 75 69 89 78 78 73 90 86  80
 + Greg McAulay                   MCA   ** ** ** ** ** ** 79 80 **  79
 8 Joseph Frans                   MOR   78 78 80 69 80 76 89 83 78  79
 + Tony Germsheid                 PAR   63 85 ** ** ** ** 74 86 **  78
 9 Brent Pierce                   MCA   81 88 48 77 92 66 ** ** 69  75
 + Kevin Park                     PAR   ** ** 70 71 65 65 ** ** **  68
 
   SKIPS  
 1 Kevin Martin                   MAR   88 68 84 76 96 81 93 85 91  85
 2 Jeff Stoughton                 STO   88 88 81 92 81 74 93 60 91  83
 3 Russ Howard                    HOW   81 86 87 68 76 83 84 87 76  81
 4 Kerry Burtnyk                  BUR   79 71 72100 70 85 88 85 76  80
 5 David Nedohin                  FER   86 83 70 85 65 80 73 88 85  79
 + Kevin Park                     PAR   72 ** ** ** ** ** 78 79 88  79
 6 John Morris                    MOR   88 63 93 71 89 65 82 79 76  78
 7 Bert Gretzinger                GRE   81 82 81 92 76 78 64 74 66  77
 + Brent Pierce                   MCA   ** ** ** ** ** ** 79 74 **  76
 8 Wayne Middaugh                 MID   53 92 76 56 84 98 69 82 69  75
 9 Shane Park                     PAR   ** 81 80 57 75 64 ** ** **  73
10 Greg McAulay                   MCA   64 74 61 81 90 54 ** ** 48  68
 
   TEAMS
 1 Martin - Alberta                     86 79 83 77 89 86 90 86 85  85
 2 Stoughton - Manitoba                 83 90 83 86 88 82 87 75 84  84
 2 Howard - N.B.                        91 88 86 81 81 82 87 84 78  84
 2 Burtnyk - Manitoba                   75 81 86 86 80 89 85 89 85  84
 5 Middaugh - Ontario                   78 82 85 76 89 90 81 85 73  82
 5 Ferbey - Alberta                     85 80 81 81 79 80 82 84 84  82
 7 Gretzinger - B.C.                    79 78 80 85 80 85 79 82 79  81
 7 Morris - Ontario                     82 76 84 79 84 74 83 83 82  81
 9 McAulay - B.C.                       79 85 67 80 89 72 79 76 67  77
10 Park - Alberta                       68 79 72 75 71 69 77 84 80  75
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2001 Canadian Curling Trials - Men
                                      Men's Competition
                                         Regina, SK
 
                             PLUS/MINUS STATISTICS AFTER DRAW 9
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 TOT
LEADS  
Scott Bailey                   MID    +  0  +  0  +  0  +  -  +  +4
Brent Laing                    MOR    +  +  -  0  +  -  -  +  +  +2
Jody Sveistrup                 MCA    0  0  +  +  0  0  0  -  +  +2
Keith Fenton                   BUR    -  +  +  -  -  0  +  +  0  +1
Don Bartlett                   MAR    +  0  -  +  -  +  0  +  -  +1
Doug Armstrong                 STO    +  0  +  -  +  0  -  -  -  -1
Marcel Rocque                  FER    -  -  +  0  +  -  0  0  0  -1
David Mellof                   GRE    -  0  -  -  0  +  +  0  0  -1
Doug Stambaugh                 PAR    -  0  *  +  -  *  -  0  -  -3
Grant Odishaw                  HOW    0  -  -  0  -  0  0  0  0  -3
 
SECONDS
Craig Savill                   MOR    +  0  +  0  +  -  0  +  0  +3
Rob Meakin                     BUR    -  -  0  +  0  +  +  0  +  +2
Carter Rycroft                 MAR    +  +  0  -  0  +  -  +  0  +2
James Grattan                  HOW    +  +  0  0  -  +  +  0  -  +2
Scott Pfeifer                  FER    +  0  -  0  0  -  +  0  +  +1
Garry Van Den Berghe           STO    -  0  +  +  +  -  -  -  +   0
Mark Whittle                   GRE    0  -  +  -  -  +  +  0  -  -1
Ian Tetley                     MID    0  0  0  0  0  0  0  0  -  -1
Ron Engel                      PAR    -  0  *  *  -  *  -  0  +  -2
Bryan Miki                     MCA    -  0  -  -  *  *  *  -  *  -4
 
THIRDS 
Jeff Ryan                      BUR    0  0  +  +  +  0  +  0  +  +5
Jon Mead                       STO    -  +  +  +  0  0  +  0  +  +4
Don Walchuk                    MAR    +  0  -  -  0  0  +  +  +  +2
Graeme McCarrel                MID    0  0  0  +  0  +  0  0  -  +1
Joseph Frans                   MOR    0  0  +  -  +  0  0  0  -   0
Randy Ferbey(S)                FER    +  0  +  -  -  0  0  -  +   0
Glenn Howard                   HOW    +  0  0  +  0  +  -  -  -   0
Bob Ursel                      GRE    0  0  -  +  -  0  -  +  -  -2
Brent Pierce                   MCA    -  -  -  -  +  -  *  *  -  -5
 
SKIPS  
Kevin Martin                   MAR    +  -  +  -  +  0  +  +  +  +4
Jeff Stoughton                 STO    0  +  0  +  +  -  +  -  +  +3
Kerry Burtnyk                  BUR    -  -  -  +  +  +  +  0  +  +2
John Morris                    MOR    +  -  +  0  +  -  +  +  -  +2
Russ Howard                    HOW    +  +  +  0  -  +  -  +  -  +2
David Nedohin                  FER    0  +  -  +  -  0  -  +  +  +1
Bert Gretzinger                GRE    +  +  +  +  -  +  -  -  -  +1
Wayne Middaugh                 MID    -  +  -  -  -  +  -  0  -  -4
Shane Park                     PAR    *  -  0  -  -  -  *  *  *  -4
Greg McAulay                   MCA    -  -  -  -  +  -  *  *  -  -5
 
   TEAMS
Stoughton - Manitoba                  0  +  +  +  +  -  +  -  +  +4
Morris - Ontario                      +  0  +  0  +  -  0  +  0  +3
Burtnyk - Manitoba                    -  -  0  +  0  +  +  0  +  +2
Martin - Alberta                      +  0  0  -  0  +  0  +  0  +2
Ferbey - Alberta                      0  0  0  +  0  -  0  0  +  +1
Howard - N.B.                         +  +  0  0  -  +  0  0  -  +1
Gretzinger - B.C.                     0  0  0  +  -  +  -  0  -  -1
Middaugh - Ontario                    0  0  0  -  0  +  0  0  -  -1
Park - Alberta                        -  0  -  -  -  -  -  0  +  -5
McAulay - B.C.                        -  -  -  -  +  -  0  -  -  -6
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2001 Canadian Curling Trials - Men
                                      Men's Competition
                                         Regina, SK
 
                               SCORING ANALYSIS AFTER 9 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
BUR     9    83  FOR       6    11     21   11    5    1    0    0   62   6.9   13  0.75
                 AGAINST   8     6     17   12    1    1    0    0   48   5.3    7  0.58
 
FER     9    86  FOR       4    12     23   17    1    2    0    0   68   7.6   16  0.79
                 AGAINST   2     7     20   10    6    1    0    0   62   6.9   12  0.72
 
GRE     9    82  FOR       3    13     24   12    4    1    0    0   64   7.1   19  0.78
                 AGAINST   6     7     19   10    2    1    0    0   49   5.4   10  0.60
 
HOW     9    87  FOR       5     6     19   12    4    3    0    0   67   7.4    7  0.77
                 AGAINST   7     8     20   16    0    1    0    0   56   6.2   12  0.64
 
MAR     9    83  FOR       8    12     20   11    4    1    0    0   58   6.4   17  0.70
                 AGAINST   7     7     19    9    4    0    0    0   49   5.4   10  0.59
 
MCA     9    73  FOR       3     4     15   14    0    0    0    0   43   4.8    7  0.59
                 AGAINST   5     9     15   10    6    5    0    0   73   8.1   12  1.00
 
MID     9    80  FOR       6     4     17   10    4    0    0    0   49   5.4    6  0.61
                 AGAINST   4    10     16   17    5    1    0    0   69   7.7   13  0.86
 
MOR     9    83  FOR       3    14     26   11    2    0    0    0   54   6.0   16  0.65
                 AGAINST   7     9     22    9    2    1    0    0   50   5.6   10  0.60
 
PAR     9    82  FOR       7     6     18    8    2    1    0    0   44   4.9    7  0.54
                 AGAINST   8    13     23    9    5    1    0    0   60   6.7   15  0.73
 
STO     9    83  FOR      12     1     17    4    6    3    0    0   55   6.1    1  0.66
                 AGAINST   3     7     29    8    1    0    0    0   48   5.3    8  0.58
 
 
TOTAL  45   411  FOR      57    83    200  110   32   12    0    0  564   6.3  109  0.69
                 AGAINST  57    83    200  110   32   12    0    0  564   6.3  109  0.69
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2001 Canadian Curling Trials - Men
                                      Men's Competition
                                         Regina, SK
 
                                     TEAM WIN/LOSS GRID
 
 
        BUR   FER   GRE   HOW   MAR   MCA   MID   MOR   PAR   STO   
 
 
BUR      *     W     W     L     L     W     W     L     W     W  
 
 
FER      L     *     L     W     L     L     W     W     W     W  
 
 
GRE      L     W     *     W     W     L     W     W     W     L  
 
 
HOW      W     L     L     *     L     W     W     W     W     L  
 
 
MAR      W     W     L     W     *     W     W     W     W     L  
 
 
MCA      L     W     W     L     L     *     L     L     L     L  
 
 
MID      L     L     L     L     L     W     *     L     W     L  
 
 
MOR      W     L     L     L     L     W     W     *     W     W  
 
 
PAR      L     L     L     L     L     W     L     L     *     W  
 
 
STO      L     L     W     W     W     W     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2001 Canadian Curling Trials - Men
                                      Men's Competition
                                         Regina, SK
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Burtnyk - Manitoba             #SH   156  228  384   208  246  454   364  474  838
                                  PTS   530  771 1301   692  844 1536  1222 1615 2837
                                  PCT    85   85   85    83   86   85    84   85   85
 
 1 Keith Fenton                   #SH    62  108  170    19   18   37    81  126  207
                                  PTS   214  372  586    63   53  116   277  425  702
                                  PCT    86   86   86    83   74   78    85   84   85
 
 2 Rob Meakin                     #SH    27   38   65    68   79  147    95  117  212
                                  PTS    87  129  216   225  279  504   312  408  720
                                  PCT    81   85   83    83   88   86    82   87   85
 
 3 Jeff Ryan                      #SH    33   38   71    67   74  141   100  112  212
                                  PTS   111  129  240   236  263  499   347  392  739
                                  PCT    84   85   85    88   89   88    87   88   87
 
 4 Kerry Burtnyk                  #SH    34   44   78    54   75  129    88  119  207
                                  PTS   118  141  259   168  249  417   286  390  676
                                  PCT    87   80   83    78   83   81    81   82   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ferbey - Alberta               #SH   179  241  420   127  151  278   306  392  698
                                  PTS   573  786 1359   420  500  920   993 1286 2279
                                  PCT    80   82   81    83   83   83    81   82   82
 
 1 Marcel Rocque                  #SH    51  104  155     4   14   18    55  118  173
                                  PTS   175  362  537     6   52   58   181  414  595
                                  PCT    86   87   87    38   93   81    82   88   86
 
 2 Scott Pfeifer                  #SH    45   33   78    60   38   98   105   71  176
                                  PTS   138   99  237   212  119  331   350  218  568
                                  PCT    77   75   76    88   78   84    83   77   81
 
 3 Randy Ferbey(S)                #SH    32   59   91    26   59   85    58  118  176
                                  PTS    98  181  279    94  193  287   192  374  566
                                  PCT    77   77   77    90   82   84    83   79   80
 
 4 David Nedohin                  #SH    51   45   96    37   40   77    88   85  173
                                  PTS   162  144  306   108  136  244   270  280  550
                                  PCT    79   80   80    73   85   79    77   82   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Gretzinger - B.C.              #SH   169  251  420   144  179  323   313  430  743
                                  PTS   525  825 1350   474  583 1057   999 1408 2407
                                  PCT    78   82   80    82   81   82    80   82   81
 
 1 David Mellof                   #SH    51  111  162     9   14   23    60  125  185
                                  PTS   174  386  560    34   45   79   208  431  639
                                  PCT    85   87   86    94   80   86    87   86   86
 
 2 Mark Whittle                   #SH    35   53   88    38   62  100    73  115  188
                                  PTS   107  165  272   129  203  332   236  368  604
                                  PCT    76   78   77    85   82   83    81   80   80
 
 3 Bob Ursel                      #SH    34   49   83    46   59  105    80  108  188
                                  PTS   102  161  263   154  191  345   256  352  608
                                  PCT    75   82   79    84   81   82    80   81   81
 
 4 Bert Gretzinger                #SH    49   38   87    51   44   95   100   82  182
                                  PTS   142  113  255   157  144  301   299  257  556
                                  PCT    72   74   73    77   82   79    75   78   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Howard - N.B.                  #SH   175  180  355   155  180  335   330  360  690
                                  PTS   562  601 1163   537  616 1153  1099 1217 2316
                                  PCT    80   83   82    87   86   86    83   85   84
 
 1 Grant Odishaw                  #SH    71   79  150     9   14   23    80   93  173
                                  PTS   244  272  516    30   50   80   274  322  596
                                  PCT    86   86   86    83   89   87    86   87   86
 
 2 James Grattan                  #SH    27   39   66    44   64  108    71  103  174
                                  PTS    84  113  197   164  223  387   248  336  584
                                  PCT    78   72   75    93   87   90    87   82   84
 
 3 Glenn Howard                   #SH    34   32   66    59   49  108    93   81  174
                                  PTS   100  110  210   205  175  380   305  285  590
                                  PCT    74   86   80    87   89   88    82   88   85
 
 4 Russ Howard                    #SH    43   30   73    43   53   96    86   83  169
                                  PTS   134  106  240   138  168  306   272  274  546
                                  PCT    78   88   82    80   79   80    79   83   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Martin - Alberta               #SH   210  181  391   169  201  370   379  382  761
                                  PTS   724  602 1326   580  681 1261  1304 1283 2587
                                  PCT    86   83   85    86   85   85    86   84   85
 
 1 Don Bartlett                   #SH    92   70  162    12   13   25   104   83  187
                                  PTS   327  242  569    31   43   74   358  285  643
                                  PCT    89   86   88    65   83   74    86   86   86
 
 2 Carter Rycroft                 #SH    40   38   78    55   59  114    95   97  192
                                  PTS   126  123  249   202  200  402   328  323  651
                                  PCT    79   81   80    92   85   88    86   83   85
 
 3 Don Walchuk                    #SH    35   38   73    52   67  119    87  105  192
                                  PTS   118  116  234   176  235  411   294  351  645
                                  PCT    84   76   80    85   88   86    84   84   84
 
 4 Kevin Martin                   #SH    43   35   78    50   62  112    93   97  190
                                  PTS   153  121  274   171  203  374   324  324  648
                                  PCT    89   86   88    86   82   83    87   84   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   McAulay - B.C.                 #SH   150  224  374   107  109  216   257  333  590
                                  PTS   460  704 1164   328  333  661   788 1037 1825
                                  PCT    77   79   78    77   76   77    77   78   77
 
 1 Jody Sveistrup                 #SH    42   92  134     7    6   13    49   98  147
                                  PTS   151  311  462    18   22   40   169  333  502
                                  PCT    90   85   86    64   92   77    86   85   85
 
 2 Bryan Miki                     #SH    20   31   51    15   14   29    35   45   80
                                  PTS    67   92  159    44   52   96   111  144  255
                                  PCT    84   74   78    73   93   83    79   80   80
 
 3 Brent Pierce                   #SH    39   38   77    37   33   70    76   71  147
                                  PTS   118  116  234   111  100  211   229  216  445
                                  PCT    76   76   76    75   76   75    75   76   76
 
 4 Greg McAulay                   #SH    27   44   71    31   46   77    58   90  148
                                  PTS    62  131  193   100  127  227   162  258  420
                                  PCT    57   74   68    81   69   74    70   72   71
 
 5 Darin Fenton                   #SH    22   19   41    17   10   27    39   29   68
                                  PTS    62   54  116    55   32   87   117   86  203
                                  PCT    70   71   71    81   80   81    75   74   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Middaugh - Ontario             #SH   175  228  403    91  150  241   266  378  644
                                  PTS   550  797 1347   290  479  769   840 1276 2116
                                  PCT    79   87   84    80   80   80    79   84   82
 
 1 Scott Bailey                   #SH    67   76  143     6   13   19    73   89  162
                                  PTS   221  275  496    23   43   66   244  318  562
                                  PCT    82   90   87    96   83   87    84   89   87
 
 2 Ian Tetley                     #SH    35   56   91    31   39   70    66   95  161
                                  PTS   110  193  303   105  125  230   215  318  533
                                  PCT    79   86   83    85   80   82    81   84   83
 
 3 Graeme McCarrel                #SH    43   52   95    23   44   67    66   96  162
                                  PTS   133  184  317    78  148  226   211  332  543
                                  PCT    77   88   83    85   84   84    80   86   84
 
 4 Wayne Middaugh                 #SH    30   44   74    31   54   85    61   98  159
                                  PTS    86  145  231    84  163  247   170  308  478
                                  PCT    72   82   78    68   75   73    70   79   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Morris - Ontario               #SH   222  151  373   132  162  294   354  313  667
                                  PTS   710  492 1202   419  527  946  1129 1019 2148
                                  PCT    80   81   81    79   81   80    80   81   81
 
 1 Brent Laing                    #SH   102   38  140    15   10   25   117   48  165
                                  PTS   347  130  477    53   37   90   400  167  567
                                  PCT    85   86   85    88   93   90    85   87   86
 
 2 Craig Savill                   #SH    37   37   74    56   38   94    93   75  168
                                  PTS   109  112  221   183  131  314   292  243  535
                                  PCT    74   76   75    82   86   84    78   81   80
 
 3 Joseph Frans                   #SH    39   40   79    33   56   89    72   96  168
                                  PTS   111  133  244   103  182  285   214  315  529
                                  PCT    71   83   77    78   81   80    74   82   79
 
 4 John Morris                    #SH    44   36   80    28   58   86    72   94  166
                                  PTS   143  117  260    80  177  257   223  294  517
                                  PCT    81   81   81    71   76   75    77   78   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Park - Alberta                 #SH   186  217  403   125  133  258   311  350  661
                                  PTS   555  652 1207   378  403  781   933 1055 1988
                                  PCT    75   75   75    76   76   76    75   75   75
 
 1 Doug Stambaugh                 #SH    37   75  112     6    8   14    43   83  126
                                  PTS   121  229  350    13   32   45   134  261  395
                                  PCT    82   76   78    54  100   80    78   79   78
 
 2 Ron Engel                      #SH    47   53  100    26   26   52    73   79  152
                                  PTS   133  161  294    89   70  159   222  231  453
                                  PCT    71   76   74    86   67   76    76   73   75
 
 3 Tony Germsheid                 #SH    40   24   64    37   29   66    77   53  130
                                  PTS   125   77  202   110   85  195   235  162  397
                                  PCT    78   80   79    74   73   74    76   76   76
 
 4 Kevin Park                     #SH    35   39   74    37   35   72    72   74  146
                                  PTS   106   97  203   113  111  224   219  208  427
                                  PCT    76   62   69    76   79   78    76   70   73
 
 5 Shane Park                     #SH    27   26   53    19   35   54    46   61  107
                                  PTS    70   88  158    53  105  158   123  193  316
                                  PCT    65   85   75    70   75   73    67   79   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Stoughton - Manitoba           #SH   157  203  360   160  148  308   317  351  668
                                  PTS   497  668 1165   569  515 1084  1066 1183 2249
                                  PCT    79   82   81    89   87   88    84   84   84
 
 1 Doug Armstrong                 #SH    56   82  138    13   13   26    69   95  164
                                  PTS   188  283  471    35   49   84   223  332  555
                                  PCT    84   86   85    67   94   81    81   87   85
 
 2 Garry Van Den Berghe           #SH    39   41   80    50   40   90    89   81  170
                                  PTS   118  122  240   175  143  318   293  265  558
                                  PCT    76   74   75    88   89   88    82   82   82
 
 3 Jon Mead                       #SH    33   44   77    47   46   93    80   90  170
                                  PTS   100  145  245   176  171  347   276  316  592
                                  PCT    76   82   80    94   93   93    86   88   87
 
 4 Jeff Stoughton                 #SH    29   36   65    50   49   99    79   85  164
                                  PTS    91  118  209   183  152  335   274  270  544
                                  PCT    78   82   80    92   78   85    87   79   83
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2001 Canadian Curling Trials - Men
                                      Men's Competition
                                         Regina, SK
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  47
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  1    MCA   6  HOW  12
          DRAW  4    MID   7  FER  12
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  4    PAR   1  GRE   9
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  4    MID   7  FER  12
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   5
 
          DRAW  2    PAR   2  MID   3
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  1    MCA   6  HOW  12    HOW  SCORED 4 IN THE 4TH END
          DRAW  1    MCA   6  HOW  12    HOW  SCORED 4 IN THE 8TH END
          DRAW  2    STO   9  MCA   5    STO  SCORED 4 IN THE SECOND END
          DRAW  3    MAR   6  BUR   4    MAR  SCORED 4 IN THE 7TH END
          DRAW  4    MOR   6  HOW   7    HOW  SCORED 4 IN THE 10TH END
          DRAW  4    PAR   1  GRE   9    GRE  SCORED 4 IN THE 7TH END
          DRAW  4    MID   7  FER  12    FER  SCORED 4 IN THE 8TH END
          DRAW  5    FER   5  BUR   9    BUR  SCORED 4 IN THE 8TH END
          DRAW  5    HOW   7  STO   8    STO  SCORED 4 IN THE 8TH END
          DRAW  7    FER   7  MCA   9    FER  SCORED 4 IN THE SECOND END
          DRAW  7    STO   6  GRE   3    STO  SCORED 4 IN THE 8TH END
          DRAW  9    PAR  11  MCA   3    PAR  SCORED 4 IN THE 8TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  2    MAR   4  GRE   9    GRE  SCORED 3 IN THE 6TH END
          DRAW  3    GRE  10  FER   6    GRE  SCORED 3 IN THE 5TH END
          DRAW  5    MAR   9  MID   6    MAR  SCORED 3 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  2    PAR   2  MID   3
 
NUMBER OF BLANK ENDS IN EVENT:  60
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAWS  2  7
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  7    HOW   3  MAR   7    BY MAR  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  1    MAR   8  PAR   2
          DRAW  6    HOW   9  PAR   5
          DRAW  6    MOR   4  GRE   8
          DRAW  7    MID   4  MOR   8
          DRAW  8    MCA   3  MAR   5
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  1    MAR   8  PAR   2    BY MAR  BEGINNING IN END 1
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  3    GRE  10  FER   6    BY GRE 
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  3    GRE  10  FER   6    GRE  WAS DOWN 4 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   0
 
MOST ENDS PLAYED IN ONE GAME:  10 (21 games)
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  4    BUR   9  MCA   2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  5    MOR   5  PAR   2    BY PAR 
          DRAW  8    MCA   3  MAR   5    BY MCA 
  </div>
</div>
