<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                       2005 Tim Hortons Canadian Curling Trials - Men
                                    Halifax, Nova Scotia
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  2  4  6  8 10 12 14 16 18 AVG
   LEADS  
 1 Don Bartlett                             MAR   93 97 91 92 ** 94 91 91 **  93
 2 Paul Moffatt                             MOR   84 95 93 89 93 97 93 91 96  92
 2 Marcel Rocque                            FER   88 99 93 81 96 97 83 99 **  92
 4 Craig Savill                             HOW   90 88 97 89 90 91 94 98 84  91
 4 Steve Gould                              STO   97 91 84 86 98100 79 91 94  91
 + Scott Bailey                             MAR   ** ** ** ** 84 ** ** **100  90
 6 Jamie Korab                              GUS   93 94 94 79100 91 88 89 79  90
 6 Rick Sawatsky                            RYA   79 82100 94 91 86 94 93 94  90
 6 Andrew Gibson                            DAC   85 91 93 95 91 88 92 89 88  90
 9 Kelly Mittelstadt                        ADA   79 94 90 90 90 88 86 90 90  88
 + Dan Holowaychuk                          FER   ** ** ** ** ** ** ** ** 88  88
10 Brad Fenton                              PCH   84 96 92 84 93 72 80 89 95  87
 
   SECONDS
 + Mike Adam                                GUS   ** ** **100 ** ** ** ** ** 100
 1 Marc Kennedy                             MOR  100 98 89 81 90 88 90 95 81  90
 2 Kevin MacKenzie                          RYA   89 85 81 83 86 83100 86 91  87
 3 Russ Howard(S)                           GUS   84 89 85 95 85 86 81 86 90  86
 4 Brent Laing                              HOW   89 78 94 93 91 71 89 74 91  85
 4 Craig Burgess                            ADA   88 84 89 91 77 96 73 90 77  85
 4 Carter Rycroft                           MAR   95 93 80 83 66 91 81 83 91  85
 7 Kevin Recksiedler                        PCH   80 92 90 83 94 75 79 76 89  84
 7 Scott Pfeifer                            FER   83 73 79 86 90 92 89 83 86  84
 9 Garry Van Den Berghe                     STO   86 82 83 88 94 90 74 81 66  83
10 Rob Harris                               DAC   83 82 63 70 75 77 88 88 85  79
 + Mathew Harris                            DAC   ** ** ** ** ** ** ** ** 69  69
 
   THIRDS 
 1 Jon Mead                                 STO   83 89 92 86 92 85 90 96 84  89
 2 Richard Hart                             HOW   93 80 88 84 90 94 84 83 85  86
 2 Pat Ryan(S)                              RYA   86 94 88 74 88 89 98 84 79  86
 2 Kevin Koe                                MOR   82 89 85 81 84 96 95 81 81  86
 5 Randy Ferbey(S)                          FER   91 86 93 76 83 86 81 84 85  85
 5 Paul Flemming                            ADA   79 88 86 76 83 94 84 89 86  85
 7 Don Walchuk                              MAR   89 86 88 80 83 81 80 90 80  84
 7 Mark Nichols                             GUS   84 93 64 86 82 90 81 90 88  84
 9 Bruce Lohnes                             DAC   91 82 66 68 80 80 92 71 80  80
10 Ron Leech                                PCH   61 82 86 80 78 59 71 76 88  76
 
   SKIPS  
 1 Jeff Stoughton                           STO   78 86 91 92 92 90 88 93 89  89
 2 Brad Gushue                              GUS   93 91 93 87 65 97 75 84 90  86
 3 Glenn Howard                             HOW   70 88 96 88 75 95 76 83 91  85
 4 John Morris                              MOR   85 85 86 84 86 88 92 75 61  82
 5 Jim Cotter                               RYA   88 90 76 77 81 76 80 75 86  81
 6 David Nedohin                            FER   84 90 74 76 71 93 63 86 79  80
 6 Shawn Adams                              ADA   85 93 82 84 76 79 64 93 64  80
 6 Kevin Martin                             MAR   87 78 82 91 84 78 76 68 75  80
 9 Mark Dacey                               DAC   81 83 55 66 63 76 86 62 84  74
10 Jay Peachey                              PCH   74 53 69 75 86 75 72 81 53  71
 
   TEAMS
 1 Morris - Alberta                               88 92 88 84 88 92 92 86 80  88
 1 Stoughton - Manitoba                           86 87 88 88 94 91 83 90 83  88
 3 Howard - Ontario                               85 83 94 88 86 88 86 84 88  87
 3 Gushue - NL                                    88 92 84 87 84 91 81 87 87  87
 5 Ryan - B.C.                                    85 88 86 82 86 84 93 84 87  86
 6 Martin - Alberta                               91 89 85 86 79 86 82 83 87  85
 6 Ferbey - Alberta                               86 87 84 80 85 92 79 88 84  85
 6 Adams - Nova Scotia                            83 89 87 85 82 89 77 90 79  85
 9 Dacey - Nova Scotia                            85 84 69 75 78 80 89 77 83  81
10 Peachey - B.C.                                 75 81 84 80 88 70 76 81 81  80
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                       2005 Tim Hortons Canadian Curling Trials - Men
                                    Halifax, Nova Scotia
 
                             PLUS/MINUS STATISTICS AFTER DRAW 18
 
 
                          DRAW----->  2  4  6  8 10 12 14 16 18 TOT
LEADS  
Craig Savill                             HOW    0  0  +  +  0  0  +  +  -  +3
Don Bartlett                             MAR    +  +  0  0  *  0  0  0  *  +2
Andrew Gibson                            DAC    +  0  0  +  0  0  +  0  -  +2
Brad Fenton                              PCH    +  +  -  -  +  -  -  0  +   0
Rick Sawatsky                            RYA    -  -  +  +  -  0  +  -  +   0
Paul Moffatt                             MOR    -  0  -  +  0  +  0  -  +   0
Jamie Korab                              GUS    0  0  0  -  +  -  +  0  -  -1
Marcel Rocque                            FER    -  0  0  -  0  +  -  +  *  -1
Kelly Mittelstadt                        ADA    -  0  +  0  0  -  -  0  0  -2
Steve Gould                              STO    +  -  -  -  0  +  -  0  -  -3
 
SECONDS
Marc Kennedy                             MOR    +  +  +  0  +  -  +  +  -  +4
Russ Howard(S)                           GUS    -  +  +  +  0  0  0  0  +  +3
Brent Laing                              HOW    +  0  0  +  +  -  +  -  0  +2
Carter Rycroft                           MAR    +  +  +  -  -  +  -  0  +  +2
Craig Burgess                            ADA    +  -  +  +  -  +  -  +  -  +1
Kevin MacKenzie                          RYA    +  -  -  -  0  +  +  0  0   0
Kevin Recksiedler                        PCH    -  +  0  0  +  -  0  -  0  -1
Scott Pfeifer                            FER    -  -  -  -  0  +  0  0  +  -2
Rob Harris                               DAC    -  0  -  -  -  -  0  +  0  -4
Garry Van Den Berghe                     STO    -  -  -  +  0  0  -  -  -  -5
 
THIRDS 
Jon Mead                                 STO    0  +  +  +  +  -  +  +  0  +5
Richard Hart                             HOW    +  0  0  +  +  +  -  0  +  +4
Pat Ryan(S)                              RYA    +  +  0  -  +  +  +  0  -  +3
Mark Nichols                             GUS    -  +  -  +  -  +  +  0  +  +2
Kevin Koe                                MOR    0  0  0  0  0  0  +  0  -   0
Randy Ferbey(S)                          FER    0  0  +  -  -  +  -  0  0  -1
Don Walchuk                              MAR    0  -  +  0  +  -  -  0  0  -1
Bruce Lohnes                             DAC    +  0  -  -  0  -  +  -  -  -3
Paul Flemming                            ADA    -  -  -  0  -  0  -  +  0  -4
Ron Leech                                PCH    -  -  0  0  -  -  -  -  +  -5
 
SKIPS  
Brad Gushue                              GUS    +  0  +  +  -  +  0  +  +  +5
Jeff Stoughton                           STO    -  +  +  +  +  -  +  +  +  +5
Glenn Howard                             HOW    -  +  +  +  0  +  -  +  +  +4
John Morris                              MOR    +  -  +  +  +  +  +  -  -  +3
Jim Cotter                               RYA    +  +  -  -  +  0  +  -  -   0
David Nedohin                            FER    0  +  -  -  -  +  -  +  +   0
Kevin Martin                             MAR    0  -  +  +  0  -  -  -  -  -3
Mark Dacey                               DAC    0  -  -  -  -  0  +  -  +  -3
Shawn Adams                              ADA    0  0  -  -  0  -  -  +  -  -4
Jay Peachey                              PCH    -  -  -  -  0  -  0  -  -  -7
 
   TEAMS
Stoughton - Manitoba                            0  +  0  +  +  0  0  +  0  +4
Gushue - NL                                     0  0  0  +  0  0  +  0  +  +3
Howard - Ontario                                0  0  +  +  0  0  0  0  0  +2
Morris - Alberta                                0  +  0  0  +  0  +  0  -  +2
Ryan - B.C.                                     +  0  0  -  0  0  +  0  0  +1
Martin - Alberta                                +  0  +  0  -  0  -  0  0   0
Adams - Nova Scotia                             0  0  0  0  0  0  -  +  -  -1
Dacey - Nova Scotia                             0  0  -  -  -  0  +  -  0  -3
Ferbey - Alberta                                -  -  0  -  -  +  -  0  +  -3
Peachey - B.C.                                  -  -  -  0  +  -  -  -  0  -5
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                       2005 Tim Hortons Canadian Curling Trials - Men
                                    Halifax, Nova Scotia
 
                               SCORING ANALYSIS AFTER 18 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ADA     9    88  FOR       3     5     22   13    2    1    0    0   58   6.4    8  0.66
                 AGAINST   5     8     25   11    5    1    0    0   66   7.3   12  0.75
 
DAC     9    82  FOR       4     6     18   13    2    1    0    0   54   6.0   12  0.66
                 AGAINST   6     9     14   20    4    0    0    0   66   7.3   14  0.80
 
FER     9    81  FOR       6     9     22   12    3    0    0    0   55   6.1   12  0.68
                 AGAINST   2     7     14   15    5    2    0    0   67   7.4   16  0.83
 
GUS     9    84  FOR       2    11     16   20    4    1    0    0   72   8.0   19  0.86
                 AGAINST   4     8     22   13    2    0    0    0   54   6.0   10  0.64
 
HOW     9    90  FOR       4    11     27   15    2    1    0    0   67   7.4   16  0.74
                 AGAINST   2     5     21   14    3    1    0    0   62   6.9    6  0.69
 
MAR     9    80  FOR       3     3     18   12    3    1    0    0   55   6.1    3  0.69
                 AGAINST   5     9     20   17    0    0    1    0   59   6.6   13  0.74
 
MOR     9    85  FOR       7     7     18   20    2    0    0    0   64   7.1    9  0.75
                 AGAINST   1     6     25   11    1    0    0    0   50   5.6    8  0.59
 
PCH     9    83  FOR       6     3     18   10    1    0    0    0   41   4.6    5  0.49
                 AGAINST   4    16     18   22    4    0    0    0   74   8.2   24  0.89
 
RYA     9    85  FOR       4    14     19   21    0    0    0    0   61   6.8   20  0.72
                 AGAINST   8     6     16   17    0    0    0    0   50   5.6    8  0.59
 
STO     9    80  FOR       3     9     22   11    5    0    1    0   64   7.1   12  0.80
                 AGAINST   5     4     25    7    0    1    0    0   43   4.8    5  0.54
 
 
TOTAL  45   419  FOR      42    78    200  147   24    5    1    0  591   6.6  116  0.71
                 AGAINST  42    78    200  147   24    5    1    0  591   6.6  116  0.71
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                       2005 Tim Hortons Canadian Curling Trials - Men
                                    Halifax, Nova Scotia
 
                                     TEAM WIN/LOSS GRID
 
 
        ADA   DAC   FER   GUS   HOW   MAR   MOR   PCH   RYA   STO   
 
 
ADA      *     W     L     L     W     L     L     W     L     L  
 
 
DAC      L     *     W     L     W     L     L     W     L     L  
 
 
FER      W     L     *     L     L     L     W     W     W     L  
 
 
GUS      W     W     W     *     W     W     W     W     L     W  
 
 
HOW      L     L     W     L     *     W     W     W     W     L  
 
 
MAR      W     W     W     L     L     *     L     W     L     L  
 
 
MOR      W     W     L     L     L     W     *     W     W     W  
 
 
PCH      L     L     L     L     L     L     L     *     L     L  
 
 
RYA      W     W     L     W     L     W     L     W     *     L  
 
 
STO      W     W     W     L     W     W     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                       2005 Tim Hortons Canadian Curling Trials - Men
                                    Halifax, Nova Scotia
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Adams - Nova Scotia                      #SH   153  247  400   117  190  307   270  437  707
                                  PTS   505  864 1369   382  644 1026   887 1508 2395
                                  PCT    83   87   86    82   85   84    82   86   85
 
 1 Kelly Mittelstadt                        #SH    56  105  161     9    6   15    65  111  176
                                  PTS   204  369  573    27   23   50   231  392  623
                                  PCT    91   88   89    75   96   83    89   88   88
 
 2 Craig Burgess                            #SH    34   40   74    40   64  104    74  104  178
                                  PTS   119  137  256   136  215  351   255  352  607
                                  PCT    88   86   86    85   84   84    86   85   85
 
 3 Paul Flemming                            #SH    28   51   79    34   65   99    62  116  178
                                  PTS    78  177  255   113  237  350   191  414  605
                                  PCT    70   87   81    83   91   88    77   89   85
 
 4 Shawn Adams                              #SH    35   51   86    34   55   89    69  106  175
                                  PTS   104  181  285   106  169  275   210  350  560
                                  PCT    74   89   83    78   77   77    76   83   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Dacey - Nova Scotia                      #SH   158  263  421   129  108  237   287  371  658
                                  PTS   499  867 1366   430  323  753   929 1190 2119
                                  PCT    79   82   81    83   75   79    81   80   81
 
 1 Andrew Gibson                            #SH    33  126  159     1    5    6    34  131  165
                                  PTS   116  460  576     4   13   17   120  473  593
                                  PCT    88   91   91   100   65   71    88   90   90
 
 2 Rob Harris                               #SH    45   54   99    42   17   59    87   71  158
                                  PTS   145  163  308   153   39  192   298  202  500
                                  PCT    81   75   78    91   57   81    86   71   79
 
 3 Bruce Lohnes                             #SH    38   46   84    41   41   82    79   87  166
                                  PTS   120  144  264   124  140  264   244  284  528
                                  PCT    79   78   79    76   85   80    77   82   80
 
 4 Mark Dacey                               #SH    42   37   79    39   43   82    81   80  161
                                  PTS   118  100  218   129  129  258   247  229  476
                                  PCT    70   68   69    83   75   79    76   72   74
 
 5 Mathew Harris                            #SH     0    0    0     6    2    8     6    2    8
                                  PTS     0    0    0    20    2   22    20    2   22
                                  PCT   ***  ***  ***    83   25   69    83   25   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ferbey - Alberta                         #SH   204  216  420   138  100  238   342  316  658
                                  PTS   697  766 1463   462  316  778  1159 1082 2241
                                  PCT    85   89   87    84   79   82    85   86   85
 
 1 Marcel Rocque                            #SH    51   77  128    10    6   16    61   83  144
                                  PTS   175  296  471    33   24   57   208  320  528
                                  PCT    86   96   92    83  100   89    85   96   92
 
 2 Scott Pfeifer                            #SH    41   58   99    34   33   67    75   91  166
                                  PTS   135  203  338   113  106  219   248  309  557
                                  PCT    82   88   85    83   80   82    83   85   84
 
 3 Randy Ferbey(S)                          #SH    56   33   89    47   30   77   103   63  166
                                  PTS   200  106  306   163   97  260   363  203  566
                                  PCT    89   80   86    87   81   84    88   81   85
 
 4 David Nedohin                            #SH    47   40   87    43   30   73    90   70  160
                                  PTS   156  132  288   140   85  225   296  217  513
                                  PCT    83   83   83    81   71   77    82   78   80
 
 5 Dan Holowaychuk                          #SH     9    8   17     4    1    5    13    9   22
                                  PTS    31   29   60    13    4   17    44   33   77
                                  PCT    86   91   88    81  100   85    85   92   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Gushue - NL                              #SH   170  214  384   157  216  373   327  430  757
                                  PTS   632  748 1380   516  723 1239  1148 1471 2619
                                  PCT    93   87   90    82   84   83    88   86   86
 
 1 Jamie Korab                              #SH    50  116  166    13    9   22    63  125  188
                                  PTS   192  428  620    24   26   50   216  454  670
                                  PCT    96   92   93    46   72   57    86   91   89
 
 2 Russ Howard(S)                           #SH    43   31   74    38   76  114    81  107  188
                                  PTS   160   99  259   128  263  391   288  362  650
                                  PCT    93   80   88    84   87   86    89   85   86
 
 3 Mark Nichols                             #SH    37   29   66    55   70  125    92   99  191
                                  PTS   136   92  228   187  225  412   323  317  640
                                  PCT    92   79   86    85   80   82    88   80   84
 
 4 Brad Gushue                              #SH    40   38   78    49   59  108    89   97  186
                                  PTS   144  129  273   169  201  370   313  330  643
                                  PCT    90   85   88    86   85   86    88   85   86
 
 5 Mike Adam                                #SH     0    0    0     2    2    4     2    2    4
                                  PTS     0    0    0     8    8   16     8    8   16
                                  PCT   ***  ***  ***   100  100  100   100  100  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Howard - Ontario                         #SH   197  224  421   162  145  307   359  369  728
                                  PTS   691  792 1483   562  483 1045  1253 1275 2528
                                  PCT    88   88   88    87   83   85    87   86   87
 
 1 Craig Savill                             #SH    79   86  165     5   10   15    84   96  180
                                  PTS   295  311  606    17   32   49   312  343  655
                                  PCT    93   90   92    85   80   82    93   89   91
 
 2 Brent Laing                              #SH    42   37   79    55   50  105    97   87  184
                                  PTS   132  119  251   204  173  377   336  292  628
                                  PCT    79   80   79    93   87   90    87   84   85
 
 3 Richard Hart                             #SH    40   54   94    51   38   89    91   92  183
                                  PTS   145  191  336   176  121  297   321  312  633
                                  PCT    91   88   89    86   80   83    88   85   86
 
 4 Glenn Howard                             #SH    36   47   83    51   47   98    87   94  181
                                  PTS   119  171  290   165  157  322   284  328  612
                                  PCT    83   91   87    81   84   82    82   87   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Martin - Alberta                         #SH   215  176  391   115  151  266   330  327  657
                                  PTS   769  600 1369   399  472  871  1168 1072 2240
                                  PCT    89   85   88    87   78   82    88   82   85
 
 1 Don Bartlett                             #SH    53   65  118     5    6   11    58   71  129
                                  PTS   195  243  438    17   24   41   212  267  479
                                  PCT    92   93   93    85  100   93    91   94   93
 
 2 Carter Rycroft                           #SH    60   29   89    28   49   77    88   78  166
                                  PTS   214   96  310   100  152  252   314  248  562
                                  PCT    89   83   87    89   78   82    89   79   85
 
 3 Don Walchuk                              #SH    42   30   72    38   55   93    80   85  165
                                  PTS   145  102  247   136  172  308   281  274  555
                                  PCT    86   85   86    89   78   83    88   81   84
 
 4 Kevin Martin                             #SH    43   35   78    44   41   85    87   76  163
                                  PTS   155   96  251   146  124  270   301  220  521
                                  PCT    90   69   80    83   76   79    86   72   80
 
 5 Scott Bailey                             #SH    17   17   34     0    0    0    17   17   34
                                  PTS    60   63  123     0    0    0    60   63  123
                                  PCT    88   93   90   ***  ***  ***    88   93   90
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Morris - Alberta                         #SH   149  240  389   176  203  379   325  443  768
                                  PTS   527  873 1400   616  683 1299  1143 1556 2699
                                  PCT    88   91   90    88   84   86    88   88   88
 
 1 Paul Moffatt                             #SH    42  122  164     3   23   26    45  145  190
                                  PTS   162  460  622    10   73   83   172  533  705
                                  PCT    96   94   95    83   79   80    96   92   93
 
 2 Marc Kennedy                             #SH    36   38   74    69   53  122   105   91  196
                                  PTS   126  136  262   256  188  444   382  324  706
                                  PCT    88   89   89    93   89   91    91   89   90
 
 3 Kevin Koe                                #SH    33   38   71    44   80  124    77  118  195
                                  PTS   108  133  241   154  277  431   262  410  672
                                  PCT    82   88   85    88   87   87    85   87   86
 
 4 John Morris                              #SH    38   42   80    60   47  107    98   89  187
                                  PTS   131  144  275   196  145  341   327  289  616
                                  PCT    86   86   86    82   77   80    83   81   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Peachey - B.C.                           #SH   234  182  416   117  142  259   351  324  675
                                  PTS   770  600 1370   354  425  779  1124 1025 2149
                                  PCT    82   82   82    76   75   75    80   79   80
 
 1 Brad Fenton                              #SH   103   49  152    10    8   18   113   57  170
                                  PTS   371  180  551    17   25   42   388  205  593
                                  PCT    90   92   91    43   78   58    86   90   87
 
 2 Kevin Recksiedler                        #SH    47   49   96    40   34   74    87   83  170
                                  PTS   158  162  320   138  115  253   296  277  573
                                  PCT    84   83   83    86   85   85    85   83   84
 
 3 Ron Leech                                #SH    44   42   86    31   53   84    75   95  170
                                  PTS   135  135  270    91  155  246   226  290  516
                                  PCT    77   80   78    73   73   73    75   76   76
 
 4 Jay Peachey                              #SH    40   42   82    36   47   83    76   89  165
                                  PTS   106  123  229   108  130  238   214  253  467
                                  PCT    66   73   70    75   69   72    70   71   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ryan - B.C.                              #SH   224  147  371   171  145  316   395  292  687
                                  PTS   791  462 1253   597  511 1108  1388  973 2361
                                  PCT    88   79   84    87   88   88    88   83   86
 
 1 Rick Sawatsky                            #SH   116   37  153    14    5   19   130   42  172
                                  PTS   436  126  562    41   17   58   477  143  620
                                  PCT    94   85   92    73   85   76    92   85   90
 
 2 Kevin MacKenzie                          #SH    30   36   66    55   53  108    85   89  174
                                  PTS   110  120  230   193  180  373   303  300  603
                                  PCT    92   83   87    88   85   86    89   84   87
 
 3 Pat Ryan(S)                              #SH    33   33   66    60   48  108    93   81  174
                                  PTS   110   99  209   215  174  389   325  273  598
                                  PCT    83   75   79    90   91   90    87   84   86
 
 4 Jim Cotter                               #SH    45   41   86    42   39   81    87   80  167
                                  PTS   135  117  252   148  140  288   283  257  540
                                  PCT    75   71   73    88   90   89    81   80   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Stoughton - Manitoba                     #SH   194  240  434   174  200  374   368  440  808
                                  PTS   684  866 1550   556  726 1282  1240 1592 2832
                                  PCT    88   90   89    80   91   86    84   90   88
 
 1 Steve Gould                              #SH    77  104  181     6   11   17    83  115  198
                                  PTS   280  383  663    16   38   54   296  421  717
                                  PCT    91   92   92    67   86   79    89   92   91
 
 2 Garry Van Den Berghe                     #SH    49   35   84    70   50  120   119   85  204
                                  PTS   171  115  286   207  177  384   378  292  670
                                  PCT    87   82   85    74   89   80    79   86   82
 
 3 Jon Mead                                 #SH    26   45   71    52   81  133    78  126  204
                                  PTS    91  169  260   174  295  469   265  464  729
                                  PCT    88   94   92    84   91   88    85   92   89
 
 4 Jeff Stoughton                           #SH    42   56   98    46   58  104    88  114  202
                                  PTS   142  199  341   159  216  375   301  415  716
                                  PCT    85   89   87    86   93   90    86   91   89
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                       2005 Tim Hortons Canadian Curling Trials - Men
                                    Halifax, Nova Scotia
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  47
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW 10    HOW  10  ADA  11
          DRAW 10    STO  11  FER   2
          DRAW 18    DAC  11  PCH   6
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW 14    ADA   1  RYA   8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  21
 
          DRAW 10    HOW  10  ADA  11
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   9
 
          DRAW  6    STO   5  ADA   4
          DRAW 14    ADA   1  RYA   8
          DRAW 14    MAR   3  MOR   6
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW 18    MAR   2  STO   8    STO  SCORED 5 IN THE THIRD END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 10    HOW  10  ADA  11    HOW  SCORED 4 IN THE 7TH END
          DRAW 14    FER   4  DAC   9    DAC  SCORED 4 IN THE 4TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW 12    RYA   7  DAC   5
 
NUMBER OF BLANK ENDS IN EVENT:  44
 
MOST BLANK ENDS ONE DRAW:   7
 
          DRAWS 12 16
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW 12    STO   4  GUS   7    BY STO  BEGINNING IN END 1
          DRAW 12    RYA   7  DAC   5    BY RYA  BEGINNING IN END 1
          DRAW 14    MAR   3  MOR   6    BY MOR  BEGINNING IN END 1
          DRAW 18    ADA   7  FER   8    BY FER  BEGINNING IN END 7
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  4    PCH   3  STO   8
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   2
 
          DRAW  2    PCH   4  RYA   7    BY RYA  BEGINNING IN END 2
          DRAW  4    PCH   3  STO   8    BY STO  BEGINNING IN END 5
          DRAW  8    RYA   6  STO   7    BY STO  BEGINNING IN END 6
          DRAW 10    RYA   9  GUS   5    BY RYA  BEGINNING IN END 4
          DRAW 14    ADA   1  RYA   8    BY RYA  BEGINNING IN END 2
          DRAW 16    GUS   8  MAR   7    BY GUS  BEGINNING IN END 5
          DRAW 16    RYA   5  FER   8    BY FER  BEGINNING IN END 9
          DRAW 16    MOR   6  HOW   8    BY HOW  BEGINNING IN END 10
          DRAW 18    ADA   7  FER   8    BY FER  BEGINNING IN END 10
          DRAW 18    GUS   7  MOR   4    BY GUS  BEGINNING IN END 4
          DRAW 21    STO   8  MOR   6    BY STO  BEGINNING IN END 4
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  8    GUS  10  DAC   4    BY GUS 
          DRAW 18    DAC  11  PCH   6    BY DAC 
 
LARGEST COME FROM BEHIND VICTORY:   5
 
          DRAW 18    ADA   7  FER   8    FER  WAS DOWN 5 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:   7
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  4    HOW   6  DAC   7
          DRAW  6    STO   5  ADA   4
          DRAW  8    RYA   6  STO   7
          DRAW 10    HOW  10  ADA  11
          DRAW 12    RYA   7  DAC   5
          DRAW 16    MOR   6  HOW   8
          DRAW 18    ADA   7  FER   8
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW 10    STO  11  FER   2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   4
 
          DRAW  2    PCH   4  RYA   7    BY PCH 
          DRAW  4    PCH   3  STO   8    BY PCH 
          DRAW 10    RYA   9  GUS   5    BY GUS 
          DRAW 14    ADA   1  RYA   8    BY ADA 
          DRAW 16    MOR   6  HOW   8    BY MOR 
  </div>
</div>
