<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2013 Tim Hortons Roar of the Rings - Men
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  2  4  6  8 10 13 14 AVG
   LEADS  
 + Scott Howard                             HOW   ** ** ** ** ** **100 100
 1 Craig Savill                             HOW   96 96 95 90 93 99 94  95
 2 Ben Hebert                               MAR   93 90 98 94 92 96 90  93
 3 Mark Nichols                             STO   99 83 89 92 95 96 **  92
 3 David Mathers                            EPP   88 93 86 94 93 93 96  92
 5 Nolan Thiessen                           KOE   81 94 99 81 80 90 98  89
 6 Denni Neufeld                            MCE   85 84 86 86 91 93 89  88
 6 Ryan Harnden                             JAC   89 85 83 86 95 89 86  88
 8 Rick Sawatsky                            MOR   82 89 91 88 83 91 82  86
 + Reid Carruthers                          STO   ** ** ** ** ** ** 68  68
 
   SECONDS
 1 Marc Kennedy                             MAR   90 91 93 90 96 91 85  91
 2 Brent Laing                              HOW   90 93 90 80 85 83 88  87
 3 E.J. Harnden                             JAC   85 90 88 77 95 83 83  86
 3 Carter Rycroft                           KOE   78 86 93 88 78 85 91  86
 5 Reid Carruthers                          STO   84 84 93 90 97 65 **  85
 5 Tyrel Griffith                           MOR   88 86 78 85 75 93 89  85
 7 Collin Mitchell                          EPP   89 82 86 86 83 84 75  84
 + Mark Nichols                             STO   ** ** ** ** ** ** 83  83
 8 Matt Wozniak                             MCE   86 79 83 89 66 88 88  82
 + Garth Smith                              STO   ** ** ** ** ** ** 72  72
 
   THIRDS 
 1 Jon Mead                                 STO   88 91100 90 92 67 88  88
 1 John Morris(S)                           MOR   81 89 94 92 79 88 92  88
 3 Wayne Middaugh                           HOW   93 75 89 90 84 85 91  87
 4 B.J. Neufeld                             MCE   85 80 81 86 90 92 86  86
 5 Pat Simmons                              KOE   78 89 89 84 84 84 88  85
 5 Ryan Fry                                 JAC   90 79 91 88 84 83 81  85
 7 Scott Bailey                             EPP   80 88 83 88 75 83 86  83
 8 David Nedohin                            MAR   85 84 80 81 92 76 76  82
 
   SKIPS  
 1 Kevin Martin                             MAR   96 96 86 83 97 96 89  92
 2 Brad Jacobs                              JAC   95 93 96 83 85 83 90  89
 3 Mike McEwen                              MCE   90 89 88 94 84 81 79  86
 4 Jim Cotter                               MOR   91 93 87 86 74 84 81  85
 5 Glenn Howard                             HOW   79 83 88 81 93 88 63  83
 6 John Epping                              EPP   90 76 94 86 69 86 72  82
 6 Jeff Stoughton                           STO   86 81 88 67 89 78 88  82
 8 Kevin Koe                                KOE   86 78 87 64 83 84 85  81
 
   TEAMS
 1 Kevin Martin                                   91 90 89 87 94 90 85  89
 2 Glenn Howard                                   90 87 90 85 88 88 84  88
 3 Brad Jacobs                                    90 87 89 83 90 84 85  87
 4 John Morris                                    85 89 87 88 78 89 86  86
 4 Jeff Stoughton                                 89 85 92 85 93 76 80  86
 6 Mike McEwen                                    87 83 84 89 83 88 85  85
 6 Kevin Koe                                      81 87 92 79 81 86 90  85
 6 John Epping                                    87 85 87 88 80 86 82  85
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2013 Tim Hortons Roar of the Rings - Men
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                             PLUS/MINUS STATISTICS AFTER DRAW 14
 
 
                          DRAW----->  2  4  6  8 10 13 14 TOT
LEADS  
Ben Hebert                               MAR    +  +  0  0  0  +  +  +4
Craig Savill                             HOW    +  0  +  0  0  +  +  +4
David Mathers                            EPP    +  0  0  +  0  0  +  +3
Mark Nichols                             STO    +  -  0  0  +  0  *  +1
Nolan Thiessen                           KOE    -  +  0  -  -  -  +  -2
Ryan Harnden                             JAC    -  0  -  +  +  -  -  -2
Rick Sawatsky                            MOR    -  -  +  0  -  0  -  -3
Denni Neufeld                            MCE    -  0  -  -  0  0  -  -4
 
SECONDS
Marc Kennedy                             MAR    0  +  0  +  +  +  0  +4
Brent Laing                              HOW    0  +  0  -  +  0  +  +2
E.J. Harnden                             JAC    0  +  0  -  +  -  +  +1
Reid Carruthers                          STO    0  -  +  +  +  -  *  +1
Matt Wozniak                             MCE    0  -  +  0  -  +  0   0
Carter Rycroft                           KOE    -  0  0  +  -  0  0  -1
Tyrel Griffith                           MOR    0  0  -  -  -  +  0  -2
Collin Mitchell                          EPP    +  -  -  0  -  -  -  -4
 
THIRDS 
Jon Mead                                 STO    0  +  +  0  +  -  0  +2
B.J. Neufeld                             MCE    0  0  -  0  +  +  0  +1
John Morris(S)                           MOR    -  0  +  0  -  +  +  +1
Ryan Fry                                 JAC    0  0  0  0  +  +  -  +1
Pat Simmons                              KOE    0  0  +  0  -  0  0   0
Wayne Middaugh                           HOW    +  -  0  +  -  0  0   0
Scott Bailey                             EPP    0  +  -  0  -  -  +  -1
David Nedohin                            MAR    0  -  -  -  +  -  -  -4
 
SKIPS  
Kevin Martin                             MAR    +  +  0  0  +  +  +  +5
Brad Jacobs                              JAC    +  0  +  +  +  -  +  +4
Jim Cotter                               MOR    +  +  0  +  -  0  -  +1
Glenn Howard                             HOW    -  +  -  0  +  0  -  -1
Mike McEwen                              MCE    -  0  0  +  -  0  -  -2
Kevin Koe                                KOE    0  -  0  -  -  0  +  -2
Jeff Stoughton                           STO    -  -  -  -  +  0  +  -2
John Epping                              EPP    0  -  +  -  -  0  -  -3
 
   TEAMS
Kevin Martin                                    0  +  0  0  +  +  0  +3
Glenn Howard                                    +  0  0  0  +  0  0  +2
Brad Jacobs                                     0  0  0  0  +  -  0   0
Jeff Stoughton                                  0  -  +  0  +  -  0   0
John Epping                                     +  0  -  0  -  0  0  -1
Mike McEwen                                     0  0  0  0  -  +  -  -1
Kevin Koe                                       -  0  0  0  -  0  +  -1
John Morris                                     -  0  0  0  -  0  0  -2
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2013 Tim Hortons Roar of the Rings - Men
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                               SCORING ANALYSIS AFTER 14 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
JAC     7    66  FOR      10     4     13   11    2    2    0    0   49   7.0    8  0.74
                 AGAINST   4     3     16    8    0    0    0    0   32   4.6    4  0.48
 
MOR     7    68  FOR      11     7     13   13    2    1    0    0   49   7.0   12  0.72
                 AGAINST   2     4     13   10    2    1    0    0   43   6.1    4  0.63
 
EPP     7    66  FOR       3     2     18    9    1    0    0    0   39   5.6    2  0.59
                 AGAINST   4     0     13   14    3    1    0    0   54   7.7    0  0.82
 
MCE     7    67  FOR       5     1     10   10    3    1    0    0   43   6.1    1  0.64
                 AGAINST   8     4     20    9    1    0    0    0   41   5.9    6  0.61
 
KOE     7    66  FOR       6     3     14   11    1    0    0    0   39   5.6    3  0.59
                 AGAINST   6     7     12   12    2    2    0    0   50   7.1   11  0.76
 
STO     7    64  FOR       3     5     14    8    3    1    0    0   43   6.1    9  0.67
                 AGAINST   9     4     13    9    2    2    0    0   45   6.4    7  0.70
 
HOW     7    67  FOR       2     5     17   11    1    0    0    0   42   6.0    5  0.63
                 AGAINST   4     9     21    6    4    1    0    0   49   7.0   13  0.73
 
MAR     7    70  FOR       8     4     18    7    2    2    0    0   46   6.6    5  0.66
                 AGAINST  11     0      9   12    1    0    0    0   36   5.1    0  0.51
 
 
TOTAL  28   267  FOR      48    31    117   80   15    7    0    0  350   6.3   45  0.66
                 AGAINST  48    31    117   80   15    7    0    0  350   6.3   45  0.66
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2013 Tim Hortons Roar of the Rings - Men
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                                     TEAM WIN/LOSS GRID
 
 
        JAC   MOR   EPP   MCE   KOE   STO   HOW   MAR   
 
 
JAC      *     W     W     W     W     W     W     W  
 
 
MOR      L     *     W     L     W     W     W     L  
 
 
EPP      L     L     *     L     W     L     L     L  
 
 
MCE      L     W     W     *     L     W     L     L  
 
 
KOE      L     L     L     W     *     L     W     L  
 
 
STO      L     L     W     L     W     *     W     L  
 
 
HOW      L     L     W     W     L     L     *     L  
 
 
MAR      L     W     W     W     W     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2013 Tim Hortons Roar of the Rings - Men
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Brad Jacobs                              #SH    81  187  268   137  207  344   218  394  612
                                  PTS   274  655  929   472  744 1216   746 1399 2145
                                  PCT    85   88   87    86   90   88    86   89   88
 
 1 Ryan Harnden                             #SH    22  110  132     5   15   20    27  125  152
                                  PTS    65  395  460    18   57   75    83  452  535
                                  PCT    74   90   87    90   95   94    77   90   88
 
 2 E.J. Harnden                             #SH    15   25   40    50   64  114    65   89  154
                                  PTS    48   83  131   176  227  403   224  310  534
                                  PCT    80   83   82    88   89   88    86   87   87
 
 3 Ryan Fry                                 #SH    15   26   41    45   67  112    60   93  153
                                  PTS    53   86  139   149  238  387   202  324  526
                                  PCT    88   83   85    83   89   86    84   87   86
 
 4 Brad Jacobs                              #SH    29   26   55    37   61   98    66   87  153
                                  PTS   108   91  199   129  222  351   237  313  550
                                  PCT    93   88   90    87   91   90    90   90   90
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   John Morris                              #SH   115  270  385   125  204  329   240  474  714
                                  PTS   388  925 1313   437  686 1123   825 1611 2436
                                  PCT    84   86   85    87   84   85    86   85   85
 
 1 Rick Sawatsky                            #SH    27  129  156     2   21   23    29  150  179
                                  PTS    94  457  551     5   67   72    99  524  623
                                  PCT    87   89   88    63   80   78    85   87   87
 
 2 Tyrel Griffith                           #SH    29   50   79    32   69  101    61  119  180
                                  PTS    97  160  257   112  230  342   209  390  599
                                  PCT    84   80   81    88   83   85    86   82   83
 
 3 John Morris(S)                           #SH    27   46   73    45   62  107    72  108  180
                                  PTS    91  155  246   162  207  369   253  362  615
                                  PCT    84   84   84    90   83   86    88   84   85
 
 4 Jim Cotter                               #SH    32   45   77    46   52   98    78   97  175
                                  PTS   106  153  259   158  182  340   264  335  599
                                  PCT    83   85   84    86   88   87    85   86   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   John Epping                              #SH   112  257  369    84   81  165   196  338  534
                                  PTS   360  912 1272   280  268  548   640 1180 1820
                                  PCT    80   89   86    83   83   83    82   87   85
 
 1 David Mathers                            #SH    24   99  123     3    8   11    27  107  134
                                  PTS    84  372  456     8   27   35    92  399  491
                                  PCT    88   94   93    67   84   80    85   93   92
 
 2 Collin Mitchell                          #SH    28   62   90    19   25   44    47   87  134
                                  PTS    88  212  300    63   86  149   151  298  449
                                  PCT    79   85   83    83   86   85    80   86   84
 
 3 Scott Bailey                             #SH    31   53   84    29   21   50    60   74  134
                                  PTS   103  184  287    89   69  158   192  253  445
                                  PCT    83   87   85    77   82   79    80   85   83
 
 4 John Epping                              #SH    29   43   72    33   27   60    62   70  132
                                  PTS    85  144  229   120   86  206   205  230  435
                                  PCT    73   84   80    91   80   86    83   82   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Mike McEwen                              #SH   183  126  309    93  146  239   276  272  548
                                  PTS   635  435 1070   313  491  804   948  926 1874
                                  PCT    87   86   87    84   84   84    86   85   85
 
 1 Denni Neufeld                            #SH    86   41  127     4    4    8    90   45  135
                                  PTS   304  142  446    14   13   27   318  155  473
                                  PCT    88   87   88    88   81   84    88   86   88
 
 2 Matt Wozniak                             #SH    34   27   61    31   46   77    65   73  138
                                  PTS   112   95  207    96  152  248   208  247  455
                                  PCT    82   88   85    77   83   81    80   85   82
 
 3 B.J. Neufeld                             #SH    30   31   61    35   42   77    65   73  138
                                  PTS   110  106  216   118  139  257   228  245  473
                                  PCT    92   85   89    84   83   83    88   84   86
 
 4 Mike McEwen                              #SH    33   27   60    23   54   77    56   81  137
                                  PTS   109   92  201    85  187  272   194  279  473
                                  PCT    83   85   84    92   87   88    87   86   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Kevin Koe                                #SH   131  138  269    95  163  258   226  301  527
                                  PTS   459  478  937   316  546  862   775 1024 1799
                                  PCT    88   87   87    83   84   84    86   85   85
 
 1 Nolan Thiessen                           #SH    57   61  118     1   13   14    58   74  132
                                  PTS   211  217  428     0   44   44   211  261  472
                                  PCT    93   89   91     0   85   79    91   88   89
 
 2 Carter Rycroft                           #SH    25   25   50    39   43   82    64   68  132
                                  PTS    86   92  178   140  134  274   226  226  452
                                  PCT    86   92   89    90   78   84    88   83   86
 
 3 Pat Simmons                              #SH    26   22   48    28   56   84    54   78  132
                                  PTS    85   70  155    93  201  294   178  271  449
                                  PCT    82   80   81    83   90   88    82   87   85
 
 4 Kevin Koe                                #SH    23   30   53    27   51   78    50   81  131
                                  PTS    77   99  176    83  167  250   160  266  426
                                  PCT    84   83   83    77   82   80    80   82   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Jeff Stoughton                           #SH   142  160  302    85  123  208   227  283  510
                                  PTS   488  545 1033   294  424  718   782  969 1751
                                  PCT    86   85   86    86   86   86    86   86   86
 
 1 Mark Nichols                             #SH    56   46  102     4   10   14    60   56  116
                                  PTS   205  167  372    12   40   52   217  207  424
                                  PCT    92   91   91    75  100   93    90   92   91
 
 2 Reid Carruthers                          #SH    34   38   72    20   30   50    54   68  122
                                  PTS   106  121  227    72  110  182   178  231  409
                                  PCT    78   80   79    90   92   91    82   85   84
 
 3 Jon Mead                                 #SH    22   38   60    29   39   68    51   77  128
                                  PTS    77  131  208   107  136  243   184  267  451
                                  PCT    88   86   87    92   87   89    90   87   88
 
 4 Jeff Stoughton                           #SH    23   31   54    31   43   74    54   74  128
                                  PTS    76  108  184    99  138  237   175  246  421
                                  PCT    83   87   85    80   80   80    81   83   82
 
 5 Garth Smith                              #SH     7    7   14     1    1    2     8    8   16
                                  PTS    24   18   42     4    0    4    28   18   46
                                  PCT    86   64   75   100    0   50    88   56   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Glenn Howard                             #SH   140  159  299   111  124  235   251  283  534
                                  PTS   487  584 1071   374  429  803   861 1013 1874
                                  PCT    87   92   90    84   86   85    86   89   88
 
 1 Craig Savill                             #SH    56   65  121     5    8   13    61   73  134
                                  PTS   212  249  461    20   26   46   232  275  507
                                  PCT    95   96   95   100   81   88    95   94   95
 
 2 Brent Laing                              #SH    33   25   58    33   39   72    66   64  130
                                  PTS   104   91  195   116  140  256   220  231  451
                                  PCT    79   91   84    88   90   89    83   90   87
 
 3 Wayne Middaugh                           #SH    22   36   58    38   38   76    60   74  134
                                  PTS    75  132  207   127  130  257   202  262  464
                                  PCT    85   92   89    84   86   85    84   89   87
 
 4 Glenn Howard                             #SH    29   29   58    35   39   74    64   68  132
                                  PTS    96   96  192   111  133  244   207  229  436
                                  PCT    83   83   83    79   85   82    81   84   83
 
 5 Scott Howard                             #SH     0    4    4     0    0    0     0    4    4
                                  PTS     0   16   16     0    0    0     0   16   16
                                  PCT   ***  100  100   ***  ***  ***   ***  100  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Kevin Martin                             #SH   111  200  311   137  189  326   248  389  637
                                  PTS   407  717 1124   485  651 1136   892 1368 2260
                                  PCT    92   90   90    89   86   87    90   88   89
 
 1 Ben Hebert                               #SH    18  121  139     3   18   21    21  139  160
                                  PTS    70  454  524     8   58   66    78  512  590
                                  PCT    97   94   94    67   81   79    93   92   92
 
 2 Marc Kennedy                             #SH    43   17   60    66   34  100   109   51  160
                                  PTS   154   54  208   258  117  375   412  171  583
                                  PCT    90   79   87    98   86   94    94   84   91
 
 3 David Nedohin                            #SH    24   24   48    42   70  112    66   94  160
                                  PTS    84   73  157   130  236  366   214  309  523
                                  PCT    88   76   82    77   84   82    81   82   82
 
 4 Kevin Martin                             #SH    26   38   64    26   67   93    52  105  157
                                  PTS    99  136  235    89  240  329   188  376  564
                                  PCT    95   89   92    86   90   88    90   90   90
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2013 Tim Hortons Roar of the Rings - Men
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  30
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  8    MOR  11  STO   5
 
LOWEST SCORE, ONE TEAM, ONE GAME:   3
 
          DRAW  2    MAR   5  MCE   3
          DRAW  6    STO   4  EPP   3
          DRAW 14    STO   9  HOW   3
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  2    KOE   8  EPP   9
          DRAW  8    EPP   7  MCE  10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  6    STO   4  EPP   3
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  8    HOW   7  MAR   9    MAR  SCORED 4 IN THE 9TH END
          DRAW 10    JAC   8  MOR   6    JAC  SCORED 4 IN THE 4TH END
          DRAW 10    KOE   6  STO  10    STO  SCORED 4 IN THE 7TH END
          DRAW 10    MAR   9  EPP   5    MAR  SCORED 4 IN THE 4TH END
          DRAW 13    STO   6  MCE   9    MCE  SCORED 4 IN THE THIRD END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  8    KOE   4  JAC   9    JAC  SCORED 4 IN THE 8TH END
          DRAW  8    MOR  11  STO   5    MOR  SCORED 4 IN THE 9TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  2    MAR   5  MCE   3
 
NUMBER OF BLANK ENDS IN EVENT:  52
 
MOST BLANK ENDS ONE DRAW:  12
 
          DRAW  6
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  2    MAR   5  MCE   3    BY MAR  BEGINNING IN END 1
          DRAW  4    STO   5  MAR   6    BY MAR  BEGINNING IN END 1
          DRAW  4    MOR   6  KOE   4    BY MOR  BEGINNING IN END 3
          DRAW  6    STO   4  EPP   3    BY EPP  BEGINNING IN END 3
          DRAW  6    MAR   6  KOE   5    BY KOE  BEGINNING IN END 1
          DRAW 13    MAR   4  JAC   5    BY JAC  BEGINNING IN END 8
          DRAW 14    MOR   6  MAR   7    BY MOR  BEGINNING IN END 1
          DRAW 14    MCE   4  KOE   5    BY MCE  BEGINNING IN END 5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW 14    STO   9  HOW   3
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   2
 
          DRAW  2    HOW   6  MOR   8    BY MOR  BEGINNING IN END 1
          DRAW  4    MOR   6  KOE   4    BY MOR  BEGINNING IN END 9
          DRAW 13    HOW   6  KOE   7    BY HOW  BEGINNING IN END 8
          DRAW 14    STO   9  HOW   3    BY STO  BEGINNING IN END 4
          DRAW 14    MCE   4  KOE   5    BY KOE  BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW 14    STO   9  HOW   3    BY STO 
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  6    MAR   6  KOE   5    MAR  WAS DOWN 3 AFTER 5 ENDS
          DRAW  8    HOW   7  MAR   9    MAR  WAS DOWN 3 AFTER 6 ENDS
          DRAW 14    STO   9  HOW   3    STO  WAS DOWN 3 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:   1
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW 14    MOR   6  MAR   7
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  8    KOE   4  JAC   9
          DRAW 10    KOE   6  STO  10
          DRAW 14    STO   9  HOW   3
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW 14    MOR   6  MAR   7    BY MOR 
          DRAW 14    STO   9  HOW   3    BY HOW 
  </div>
</div>
