<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2017 Tim Hortons Roar of The Rings - Men
                                       Ottawa, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 AVG
   LEADS  
 1 Colin Hodgson                  Carr  ** 96 ** ** 95 ** 95 ** 99 ** 94 ** ** 85 75 ** ** ** ** 95  92
 1 Ben Hebert                     Koe   86 ** 97 ** 95 ** ** 98 ** 85 ** ** 97 ** ** 92 ** ** ** 84  92
 3 Denni Neufeld                  McEw  ** 85 ** 90 ** ** 83 ** ** 98 ** 94 ** 82 ** ** 98 93 ** **  90
 4 Tim March                      Eppi  ** 89 ** ** 79 ** 91 ** 85 ** ** ** 98 ** ** 93 ** 88 88 **  89
 4 Ryan Harnden                   Jaco  86 ** 90 ** ** ** ** 82 ** 86 ** ** 95 ** 96 ** 85 ** ** **  89
 6 Geoff Walker                   Gush  ** 91 ** 90 ** 85 ** 97 ** ** 67 ** ** 93 ** ** 93 ** ** 88  88
 7 Tyrel Griffith                 Morr  88 ** ** 84 ** 76 ** ** ** ** 91 ** ** 91 ** 88 ** 88 ** **  86
 7 Karrick Martin                 Bott  ** ** 94 88 ** ** ** 86 ** ** 76 ** 89 ** ** 88 ** 84 ** 86  86
 9 Dallan Muyres                  Layc  83 ** 99 ** 71 ** 81 ** ** 74 ** 98 ** ** ** ** 85 ** 94 **  85
 + Peter Steski                   Jaco  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 82 **  82
 + Rick Sawatsky                  Morr  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 81 **  81
 
   SECONDS
 1 Derek Samagalski               Carr  ** 94 ** ** 90 ** 94 ** 85 ** 88 ** ** 95 89 ** ** ** ** 94  91
 2 Brent Laing                    Koe   85 ** 82 ** 94 ** ** 98 ** 86 ** ** 98 ** ** 91 ** ** ** 88  90
 3 Matt Wozniak                   McEw  ** 99 ** 90 ** ** 75 ** ** 91 ** 91 ** 89 ** ** 90 85 ** **  88
 3 E.J. Harnden                   Jaco  88 ** 82 ** ** ** ** 96 ** 85 ** ** 91 ** 90 ** 90 ** ** **  88
 5 Brad Thiessen                  Bott  ** ** 88 81 ** ** ** 86 ** ** 91 ** 84 ** ** 92 ** 80 ** 92  87
 5 Brett Gallant                  Gush  ** 83 ** 84 ** 81 ** 96 ** ** 75 ** ** 94 ** ** 98 ** ** 84  87
 7 Patrick Janssen                Eppi  ** 88 ** ** 81 ** 75 ** 83 ** ** ** 89 ** ** 93 ** 92 73 **  85
 8 Kirk Muyres                    Layc  90 ** 84 ** 80 ** 85 ** ** 86 ** 91 ** ** ** ** 68 ** 89 **  84
 9 Catlin Schneider               Morr  94 ** ** 78 ** 71 ** ** ** ** 75 ** ** 93 ** 85 ** 89 84 **  83
 + Ryan Harnden                   Jaco  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 75 **  75
 
   THIRDS 
 + John Morris                    Morr  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 84 ** 88 89 **  87
 1 Marc Kennedy                   Koe   91 ** 88 ** 83 ** ** 89 ** 80 ** ** 94 ** ** 83 ** ** ** 85  86
 1 Mark Nichols                   Gush  ** 78 ** 84 ** 78 ** 93 ** ** 83 ** ** 90 ** ** 88 ** ** 96  86
 1 Braeden Moskowy                Carr  ** 94 ** ** 86 ** 88 ** 93 ** 75 ** ** 79 89 ** ** ** ** 84  86
 1 Jim Cotter                     Morr  95 ** ** 90 ** 81 ** ** ** ** 76 ** ** 85 ** ** ** ** ** **  86
 5 Mathew Camm                    Eppi  ** 93 ** ** 83 ** 80 ** 85 ** ** ** 89 ** ** 91 ** 80 84 **  85
 5 Darren Moulding                Bott  ** ** 74 90 ** ** ** 75 ** ** 84 ** 91 ** ** 84 ** 90 ** 95  85
 5 B.J. Neufeld                   McEw  ** 86 ** 89 ** ** 91 ** ** 80 ** 91 ** 83 ** ** 85 76 ** **  85
 5 Ryan Fry                       Jaco  84 ** 88 ** ** ** ** 83 ** 93 ** ** 83 ** 74 ** 85 ** 88 **  85
 9 Steve Laycock(S)               Layc  88 ** 78 ** 88 ** 86 ** ** 75 ** 73 ** ** ** ** 88 ** 85 **  83
 
   SKIPS  
 1 Kevin Koe                      Koe   91 ** 85 ** 95 ** ** 83 ** 91 ** ** 86 ** ** 90 ** ** ** 78  88
 2 Brad Gushue                    Gush  ** 79 ** 90 ** 80 ** 82 ** ** 90 ** ** 89 ** ** 93 ** ** 92  87
 3 Reid Carruthers                Carr  ** 75 ** ** 89 ** 96 ** 89 ** 76 ** ** 91 90 ** ** ** ** 84  86
 + Jim Cotter                     Morr  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 79 ** 90 88 **  86
 4 Mike McEwen                    McEw  ** 85 ** 94 ** ** 89 ** ** 88 ** 95 ** 74 ** ** 67 91 ** **  85
 5 John Epping                    Eppi  ** 86 ** ** 71 ** 80 ** 81 ** ** ** 86 ** ** 80 ** 84 91 **  82
 6 Brendan Bottcher               Bott  ** ** 78 82 ** ** ** 82 ** ** 65 ** 94 ** ** 88 ** 75 ** 87  81
 7 John Morris                    Morr  87 ** ** 87 ** 71 ** ** ** ** 85 ** ** 74 ** ** ** ** ** **  80
 8 Brad Jacobs                    Jaco  95 ** 90 ** ** ** ** 92 ** 70 ** ** 59 ** 65 ** 91 ** 64 **  79
 8 Matt Dunstone                  Layc  80 ** 70 ** 90 ** 84 ** ** 84 ** 73 ** ** ** ** 76 ** 72 **  79
 
   TEAMS
 1 Koe                                  88 ** 88 ** 92 ** ** 92 ** 86 ** ** 94 ** ** 89 ** ** ** 84  89
 1 Carruthers                           ** 90 ** ** 90 ** 93 ** 91 ** 83 ** ** 87 86 ** ** ** ** 89  89
 3 McEwen                               ** 89 ** 91 ** ** 84 ** ** 89 ** 93 ** 82 ** ** 85 86 ** **  87
 3 Gushue                               ** 83 ** 87 ** 81 ** 92 ** ** 79 ** ** 92 ** ** 93 ** ** 90  87
 5 Epping                               ** 89 ** ** 79 ** 82 ** 83 ** ** ** 90 ** ** 89 ** 86 84 **  85
 5 Bottcher                             ** ** 83 85 ** ** ** 82 ** ** 79 ** 89 ** ** 88 ** 82 ** 90  85
 5 Jacobs                               88 ** 87 ** ** ** ** 88 ** 84 ** ** 82 ** 81 ** 88 ** 77 **  85
 8 Morris                               91 ** ** 84 ** 75 ** ** ** ** 81 ** ** 86 ** 84 ** 88 85 **  84
 9 Laycock                              85 ** 83 ** 82 ** 84 ** ** 80 ** 84 ** ** ** ** 79 ** 85 **  83
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2017 Tim Hortons Roar of The Rings - Men
                                       Ottawa, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 20
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 TOT
LEADS  
Tim March                      Eppi   *  0  *  *  +  *  +  *  -  *  *  *  0  *  *  +  *  0  +  *  +3
Geoff Walker                   Gush   *  0  *  0  *  +  *  +  *  *  -  *  *  +  *  *  +  *  *  0  +3
Colin Hodgson                  Carr   *  +  *  *  0  *  +  *  +  *  +  *  *  -  -  *  *  *  *  +  +3
Ben Hebert                     Koe    0  *  +  *  0  *  *  +  *  -  *  *  0  *  *  0  *  *  *  0  +1
Denni Neufeld                  McEw   *  -  *  +  *  *  -  *  *  +  *  0  *  -  *  *  +  +  *  *  +1
Tyrel Griffith                 Morr   0  *  *  -  *  -  *  *  *  *  +  *  *  +  *  0  *  0  *  *   0
Ryan Harnden                   Jaco   0  *  -  *  *  *  *  -  *  +  *  *  +  *  +  *  -  *  *  *   0
Dallan Muyres                  Layc   0  *  +  *  -  *  -  *  *  -  *  0  *  *  *  *  -  *  +  *  -2
Karrick Martin                 Bott   *  *  -  0  *  *  *  -  *  *  -  *  -  *  *  -  *  -  *  -  -7
 
SECONDS
Matt Wozniak                   McEw   *  +  *  +  *  *  0  *  *  +  *  0  *  -  *  *  0  +  *  *  +3
Brent Laing                    Koe    -  *  0  *  0  *  *  +  *  -  *  *  +  *  *  +  *  *  *  0  +1
Brett Gallant                  Gush   *  -  *  0  *  +  *  0  *  *  -  *  *  +  *  *  +  *  *  0  +1
Derek Samagalski               Carr   *  -  *  *  0  *  +  *  0  *  +  *  *  0  0  *  *  *  *  0  +1
Kirk Muyres                    Layc   +  *  0  *  0  *  -  *  *  0  *  0  *  *  *  *  -  *  +  *   0
E.J. Harnden                   Jaco   -  *  0  *  *  *  *  0  *  0  *  *  +  *  0  *  0  *  *  *   0
Patrick Janssen                Eppi   *  +  *  *  0  *  0  *  0  *  *  *  -  *  *  0  *  0  0  *   0
Brad Thiessen                  Bott   *  *  0  0  *  *  *  -  *  *  +  *  -  *  *  0  *  -  *  0  -2
Catlin Schneider               Morr   +  *  *  -  *  -  *  *  *  *  -  *  *  0  *  -  *  0  -  *  -4
 
THIRDS 
Darren Moulding                Bott   *  *  0  +  *  *  *  -  *  *  +  *  +  *  *  -  *  +  *  +  +3
Mark Nichols                   Gush   *  -  *  -  *  0  *  +  *  *  +  *  *  +  *  *  0  *  *  +  +2
Marc Kennedy                   Koe    0  *  0  *  0  *  *  +  *  0  *  *  +  *  *  0  *  *  *  -  +1
Jim Cotter                     Morr   +  *  *  0  *  0  *  *  *  *  -  *  *  +  *  *  *  *  *  *  +1
Braeden Moskowy                Carr   *  +  *  *  0  *  0  *  +  *  -  *  *  -  +  *  *  *  *  -   0
Steve Laycock(S)               Layc   0  *  0  *  +  *  0  *  *  -  *  -  *  *  *  *  0  *  0  *  -1
B.J. Neufeld                   McEw   *  -  *  0  *  *  +  *  *  0  *  +  *  -  *  *  0  -  *  *  -1
Ryan Fry                       Jaco   -  *  0  *  *  *  *  -  *  +  *  *  -  *  -  *  0  *  0  *  -3
Mathew Camm                    Eppi   *  +  *  *  -  *  -  *  -  *  *  *  -  *  *  +  *  -  0  *  -3
 
SKIPS  
Brad Gushue                    Gush   *  -  *  +  *  +  *  -  *  *  +  *  *  +  *  *  +  *  *  +  +4
Mike McEwen                    McEw   *  +  *  +  *  *  +  *  *  0  *  +  *  -  *  *  -  +  *  *  +3
Kevin Koe                      Koe    +  *  -  *  +  *  *  0  *  0  *  *  0  *  *  +  *  *  *  -  +1
Reid Carruthers                Carr   *  -  *  *  -  *  +  *  +  *  -  *  *  +  +  *  *  *  *  0  +1
Brad Jacobs                    Jaco   +  *  +  *  *  *  *  +  *  -  *  *  -  *  -  *  +  *  -  *   0
Brendan Bottcher               Bott   *  *  +  -  *  *  *  0  *  *  -  *  +  *  *  +  *  -  *  0   0
John Morris                    Morr   -  *  *  -  *  -  *  *  *  *  +  *  *  -  *  *  *  *  *  *  -3
John Epping                    Eppi   *  +  *  *  -  *  -  *  -  *  *  *  0  *  *  -  *  -  +  *  -3
Matt Dunstone                  Layc   -  *  -  *  +  *  -  *  *  +  *  -  *  *  *  *  -  *  -  *  -4
 
   TEAMS
Gushue                                *  -  *  0  *  +  *  0  *  *  0  *  *  +  *  *  +  *  *  +  +3
Carruthers                            *  0  *  *  0  *  +  *  +  *  0  *  *  0  +  *  *  *  *  0  +3
Koe                                   0  *  0  *  0  *  *  +  *  0  *  *  0  *  *  +  *  *  *  -  +1
Epping                                *  +  *  *  0  *  0  *  -  *  *  *  0  *  *  0  *  0  +  *  +1
McEwen                                *  0  *  +  *  *  0  *  *  0  *  +  *  -  *  *  0  0  *  *  +1
Bottcher                              *  *  0  0  *  *  *  -  *  *  0  *  +  *  *  0  *  0  *  0   0
Laycock                               0  *  0  *  0  *  -  *  *  0  *  -  *  *  *  *  -  *  0  *  -3
Jacobs                                0  *  0  *  *  *  *  0  *  0  *  *  -  *  -  *  0  *  -  *  -3
Morris                                0  *  *  -  *  -  *  *  *  *  0  *  *  0  *  -  *  0  0  *  -3
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2017 Tim Hortons Roar of The Rings - Men
                                       Ottawa, Ontario
 
                               SCORING ANALYSIS AFTER 20 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
Gush    8    76  FOR       8     8     20    8    3    2    0    0   53   6.6   12  0.70
                 AGAINST   8     4     17    7    3    0    0    0   40   5.0    6  0.53
 
Koe     8    79  FOR      11     7     13   15    2    0    0    0   49   6.1   10  0.62
                 AGAINST   9     9     20    8    1    0    0    0   39   4.9    9  0.49
 
Eppi    8    77  FOR      11    10     19    7    3    0    0    0   42   5.3   13  0.55
                 AGAINST   8     7     14   12    3    0    0    0   47   5.9   11  0.61
 
Layc    8    76  FOR       6     5     18    7    4    0    0    0   44   5.5    7  0.58
                 AGAINST   8     9     15   13    3    2    0    0   58   7.3   16  0.76
 
Carr    8    78  FOR       1     8     19   10    4    1    0    0   55   6.9   11  0.71
                 AGAINST  13     4     13   14    2    1    0    0   51   6.4    6  0.65
 
Jaco    8    70  FOR       8     6     15    9    1    1    0    0   40   5.0   11  0.57
                 AGAINST   4    12     18   10    3    1    0    0   51   6.4   20  0.73
 
McEw    8    73  FOR      11     8     17    9    2    1    0    0   45   5.6   11  0.62
                 AGAINST   7     6     17    7    2    0    0    0   37   4.6    8  0.51
 
Bott    8    80  FOR       7     8     20   12    3    0    0    0   53   6.6   11  0.66
                 AGAINST   8     4     15    9    6    0    0    0   51   6.4    7  0.64
 
Morr    8    77  FOR       9     3     12   11    3    0    0    0   43   5.4    6  0.56
                 AGAINST   7     8     24    8    2    1    0    0   50   6.3    9  0.65
 
 
TOTAL  36   343  FOR      72    63    153   88   25    5    0    0  424   5.9   92  0.62
                 AGAINST  72    63    153   88   25    5    0    0  424   5.9   92  0.62
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2017 Tim Hortons Roar of The Rings - Men
                                       Ottawa, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        Gush  Koe   Eppi  Layc  Carr  Jaco  McEw  Bott  Morr  
 
 
Gush     *     W     L     W     W     L     W     W     W  
 
 
Koe      L     *     W     W     W     W     W     W     W  
 
 
Eppi     W     L     *     L     L     W     L     L     L  
 
 
Layc     L     L     W     *     L     W     L     L     L  
 
 
Carr     L     L     W     W     *     W     L     L     W  
 
 
Jaco     W     L     L     L     L     *     W     L     W  
 
 
McEw     L     L     W     W     W     L     *     W     W  
 
 
Bott     L     L     W     W     W     W     L     *     L  
 
 
Morr     L     L     W     W     L     L     L     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2017 Tim Hortons Roar of The Rings - Men
                                       Ottawa, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Gushue                         #SH   168  161  329   150  218  368   318  379  697
                                  PTS   601  562 1163   496  752 1248  1097 1314 2411
                                  PCT    89   87   88    83   86   85    86   87   86
 
 1 Geoff Walker                   #SH    73   69  142    14   17   31    87   86  173
                                  PTS   262  251  513    43   55   98   305  306  611
                                  PCT    90   91   90    77   81   79    88   89   88
 
 2 Brett Gallant                  #SH    25   35   60    51   65  116    76  100  176
                                  PTS    84  115  199   170  236  406   254  351  605
                                  PCT    84   82   83    83   91   88    84   88   86
 
 3 Mark Nichols                   #SH    38   23   61    46   69  115    84   92  176
                                  PTS   135   77  212   158  232  390   293  309  602
                                  PCT    89   84   87    86   84   85    87   84   86
 
 4 Brad Gushue                    #SH    32   34   66    39   67  106    71  101  172
                                  PTS   120  119  239   125  229  354   245  348  593
                                  PCT    94   88   91    80   85   83    86   86   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Koe                            #SH    93  246  339   141  247  388   234  493  727
                                  PTS   314  900 1214   490  879 1369   804 1779 2583
                                  PCT    84   91   90    87   89   88    86   90   89
 
 1 Ben Hebert                     #SH    13  139  152     2   27   29    15  166  181
                                  PTS    44  521  565     6   94  100    50  615  665
                                  PCT    85   94   93    75   87   86    83   93   92
 
 2 Brent Laing                    #SH    23   42   65    39   80  119    62  122  184
                                  PTS    89  153  242   125  287  412   214  440  654
                                  PCT    97   91   93    80   90   87    86   90   89
 
 3 Marc Kennedy                   #SH    29   31   60    66   58  124    95   89  184
                                  PTS    95   99  194   244  202  446   339  301  640
                                  PCT    82   80   81    92   87   90    89   85   87
 
 4 Kevin Koe                      #SH    28   34   62    34   82  116    62  116  178
                                  PTS    86  127  213   115  296  411   201  423  624
                                  PCT    77   93   86    85   90   89    81   91   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Epping                         #SH   298  113  411   120   98  218   418  211  629
                                  PTS  1053  384 1437   390  319  709  1443  703 2146
                                  PCT    88   85   87    81   81   81    86   83   85
 
 1 Tim March                      #SH   127   25  152     4    2    6   131   27  158
                                  PTS   453   95  548     7    6   13   460  101  561
                                  PCT    89   95   90    44   75   54    88   94   89
 
 2 Patrick Janssen                #SH    78   33  111    25   22   47   103   55  158
                                  PTS   274  106  380    83   73  156   357  179  536
                                  PCT    88   80   86    83   83   83    87   81   85
 
 3 Mathew Camm                    #SH    54   34   88    35   35   70    89   69  158
                                  PTS   192  120  312   112  116  228   304  236  540
                                  PCT    89   88   89    80   83   81    85   86   85
 
 4 John Epping                    #SH    39   21   60    56   39   95    95   60  155
                                  PTS   134   63  197   188  124  312   322  187  509
                                  PCT    86   75   82    84   79   82    85   78   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Laycock                        #SH   172  161  333   159  129  288   331  290  621
                                  PTS   555  534 1089   541  424  965  1096  958 2054
                                  PCT    81   83   82    85   82   84    83   83   83
 
 1 Dallan Muyres                  #SH    71   67  138    10    7   17    81   74  155
                                  PTS   246  225  471    31   27   58   277  252  529
                                  PCT    87   84   85    78   96   85    85   85   85
 
 2 Kirk Muyres                    #SH    35   37   72    37   47   84    72   84  156
                                  PTS   105  130  235   126  162  288   231  292  523
                                  PCT    75   88   82    85   86   86    80   87   84
 
 3 Steve Laycock(S)               #SH    37   29   66    50   40   90    87   69  156
                                  PTS   123   87  210   179  127  306   302  214  516
                                  PCT    83   75   80    90   79   85    87   78   83
 
 4 Matt Dunstone                  #SH    29   28   57    62   35   97    91   63  154
                                  PTS    81   92  173   205  108  313   286  200  486
                                  PCT    70   82   76    83   77   81    79   79   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Carruthers                     #SH   159  177  336   171  123  294   330  300  630
                                  PTS   570  663 1233   576  431 1007  1146 1094 2240
                                  PCT    90   94   92    84   88   86    87   91   89
 
 1 Colin Hodgson                  #SH    59   85  144     5    8   13    64   93  157
                                  PTS   212  324  536    18   24   42   230  348  578
                                  PCT    90   95   93    90   75   81    90   94   92
 
 2 Derek Samagalski               #SH    36   37   73    45   40   85    81   77  158
                                  PTS   139  136  275   153  148  301   292  284  576
                                  PCT    97   92   94    85   93   89    90   92   91
 
 3 Braeden Moskowy                #SH    29   29   58    61   39  100    90   68  158
                                  PTS    94  104  198   210  135  345   304  239  543
                                  PCT    81   90   85    86   87   86    84   88   86
 
 4 Reid Carruthers                #SH    35   26   61    60   36   96    95   62  157
                                  PTS   125   99  224   195  124  319   320  223  543
                                  PCT    89   95   92    81   86   83    84   90   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Jacobs                         #SH    79  199  278    90  216  306   169  415  584
                                  PTS   253  669  922   312  747 1059   565 1416 1981
                                  PCT    80   84   83    87   86   87    84   85   85
 
 1 Ryan Harnden                   #SH    30   89  119     7   18   25    37  107  144
                                  PTS   105  318  423    26   54   80   131  372  503
                                  PCT    88   89   89    93   75   80    89   87   87
 
 2 E.J. Harnden                   #SH    12   30   42    25   67   92    37   97  134
                                  PTS    40  103  143    89  242  331   129  345  474
                                  PCT    83   86   85    89   90   90    87   89   88
 
 3 Ryan Fry                       #SH    17   34   51    22   75   97    39  109  148
                                  PTS    57  107  164    75  262  337   132  369  501
                                  PCT    84   79   80    85   87   87    85   85   85
 
 4 Brad Jacobs                    #SH    19   33   52    36   56   92    55   89  144
                                  PTS    47   99  146   122  189  311   169  288  457
                                  PCT    62   75   70    85   84   85    77   81   79
 
 5 Peter Steski                   #SH     1   13   14     0    0    0     1   13   14
                                  PTS     4   42   46     0    0    0     4   42   46
                                  PCT   100   81   82   ***  ***  ***   100   81   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   McEwen                         #SH   202  161  363   181  218  399   383  379  762
                                  PTS   718  576 1294   616  734 1350  1334 1310 2644
                                  PCT    89   89   89    85   84   85    87   86   87
 
 1 Denni Neufeld                  #SH    98   69  167    11   13   24   109   82  191
                                  PTS   357  255  612    30   47   77   387  302  689
                                  PCT    91   92   92    68   90   80    89   92   90
 
 2 Matt Wozniak                   #SH    28   40   68    55   69  124    83  109  192
                                  PTS   103  142  245   181  234  415   284  376  660
                                  PCT    92   89   90    82   85   84    86   86   86
 
 3 B.J. Neufeld                   #SH    33   34   67    69   56  125   102   90  192
                                  PTS   116  118  234   234  179  413   350  297  647
                                  PCT    88   87   87    85   80   83    86   83   84
 
 4 Mike McEwen                    #SH    43   18   61    46   80  126    89   98  187
                                  PTS   142   61  203   171  274  445   313  335  648
                                  PCT    83   85   83    93   86   88    88   85   87
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Bottcher                       #SH   194   73  267   214  160  374   408  233  641
                                  PTS   660  234  894   734  550 1284  1394  784 2178
                                  PCT    85   80   84    86   86   86    85   84   85
 
 1 Karrick Martin                 #SH   124   12  136    18    7   25   142   19  161
                                  PTS   434   45  479    59   18   77   493   63  556
                                  PCT    88   94   88    82   64   77    87   83   86
 
 2 Brad Thiessen                  #SH    10   19   29    73   60  133    83   79  162
                                  PTS    36   52   88   256  219  475   292  271  563
                                  PCT    90   68   76    88   91   89    88   86   87
 
 3 Darren Moulding                #SH    26   17   43    69   50  119    95   67  162
                                  PTS    82   60  142   236  175  411   318  235  553
                                  PCT    79   88   83    86   88   86    84   88   85
 
 4 Brendan Bottcher               #SH    34   25   59    54   43   97    88   68  156
                                  PTS   108   77  185   183  138  321   291  215  506
                                  PCT    79   77   78    85   80   83    83   79   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Morris                         #SH   185  213  398   111  133  244   296  346  642
                                  PTS   628  726 1354   388  426  814  1016 1152 2168
                                  PCT    85   85   85    87   80   83    86   83   84
 
 1 Tyrel Griffith                 #SH    61   69  130     3    8   11    64   77  141
                                  PTS   204  250  454    11   22   33   215  272  487
                                  PCT    84   91   87    92   69   75    84   88   86
 
 2 Catlin Schneider               #SH    40   51   91    32   39   71    72   90  162
                                  PTS   140  163  303   112  126  238   252  289  541
                                  PCT    88   80   83    88   81   84    88   80   83
 
 3 Jim Cotter                     #SH    44   42   86    40   35   75    84   77  161
                                  PTS   156  140  296   141  114  255   297  254  551
                                  PCT    89   83   86    88   81   85    88   82   86
 
 4 John Morris                    #SH    39   34   73    36   49   85    75   83  158
                                  PTS   124  112  236   124  164  288   248  276  524
                                  PCT    79   82   81    86   84   85    83   83   83
 
 5 Rick Sawatsky                  #SH     1   17   18     0    2    2     1   19   20
                                  PTS     4   61   65     0    0    0     4   61   65
                                  PCT   100   90   90   ***    0    0   100   80   81
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          2017 Tim Hortons Roar of The Rings - Men
                                       Ottawa, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  38
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  10
 
          DRAW 11    Bott  6  Morr 10
          DRAW 12    Layc  4  McEw 10
          DRAW 14    Morr  6  Carr 10
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  4    Morr  1  McEw  3
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  16
 
          DRAW 11    Bott  6  Morr 10
          DRAW 14    Morr  6  Carr 10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   4
 
          DRAW  4    Morr  1  McEw  3
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  6    Gush  8  Morr  6    Gush SCORED 4 IN THE 8TH END
          DRAW 11    Gush  9  Carr  5    Gush SCORED 4 IN THE 9TH END
          DRAW 12    Layc  4  McEw 10    McEw SCORED 4 IN THE 6TH END
          DRAW 15    Carr  9  Jaco  5    Carr SCORED 4 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 10    Layc  8  Jaco  6    Jaco SCORED 4 IN THE FIRST END
 
MOST BLANK ENDS, ONE GAME:   6
 
          DRAW  4    Morr  1  McEw  3
 
NUMBER OF BLANK ENDS IN EVENT:  73
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAW  4
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  4    Morr  1  McEw  3    BY Morr BEGINNING IN END 7
          DRAW  9    Carr  7  Eppi  5    BY Eppi BEGINNING IN END 2
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW 13    Koe   6  Eppi  4
          DRAW 19    Jaco  2  Eppi  7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW 19    Jaco  2  Eppi  7    BY Eppi BEGINNING IN END 4
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW 19    Jaco  2  Eppi  7    BY Eppi
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 10    Layc  8  Jaco  6    Layc WAS DOWN 4 AFTER 1 END
 
NUMBER OF EXTRA END GAMES:   6
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  3    Jaco  6  Koe   8
          DRAW  4    Bott  5  Gush  6
          DRAW  5    Carr  5  Koe   6
          DRAW 16    Eppi  6  Bott  7
          DRAW 18    Eppi  5  Morr  6
          DRAW 20    Bott  8  Carr  7
 
FEWEST ENDS PLAYED IN ONE GAME:   7
 
          DRAW 19    Jaco  2  Eppi  7
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  1    Koe   6  Layc  3    BY Koe 
          DRAW  2    Eppi  6  Gush  4    BY Gush
          DRAW  4    Morr  1  McEw  3    BY Morr
          DRAW  5    Carr  5  Koe   6    BY Koe 
          DRAW 14    McEw  3  Gush  8    BY McEw
  </div>
</div>
