<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2025 Montana's Canadian Curling Trials
                                         Men's Event
                                    Halifax, Nova Scotia
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  2  4  6  8 10 12 14 AVG
   LEADS  
 1 Ian McMillan                             EPPm  94 94 98 96 98 96100  97
 2 Ryan Harnden                             DUNm  93 99 97 97 93 90 98  95
 3 Karrick Martin                           KOEm  80 93 94 91 89 96 97  91
 3 Cameron Olafson                          MCDm  80 94 91 90 93 96 93  91
 3 Ben Hebert                               JACm  88 89 85 91100 96 89  91
 3 Geoff Walker                             GUSm  82 93 99 83 98 93 90  91
 7 Trevor Johnson                           KLEm  89 93 98 86 90 95 79  90
 7 Daniel Marsh                             MCEm  95 90 81 90 94 92 88  90
 
   SECONDS
 1 Tanner Horgan                            EPPm  89 93 91 93 93 89 89  91
 2 Brendan Bottcher                         GUSm  93 91 90 73 91 90 88  88
 3 Kevin Marsh                              MCEm  83 88 83 90 88 89 88  87
 4 E.J. Harnden                             DUNm  85 92 91 84 80 81 86  85
 4 Joshua Mattern                           KLEm  85 86 88 98 86 86 65  85
 6 Brett Gallant                            JACm  64 94 82 80 88 90 83  83
 7 Elias Huminicki                          MCDm  88 94 74 80 67 89 76  81
 8 Aaron Sluchinski                         KOEm  78 88 80 79 74 89 72  80
 
   THIRDS 
 1 Colton Lott                              DUNm  88 99 97 89 91 94 91  92
 2 Marc Kennedy                             JACm  86 93 85 91 89 95 96  91
 3 Jacob Horgan                             EPPm  86 93 89 96 93 82 89  90
 4 Mark Nichols                             GUSm  94 94 88 84 89 89 90  89
 5 Jacques Gauthier                         MCDm  70 96 78 91 83 89 89  85
 5 Colton Flasch                            MCEm  84 78 85 89 89 86 80  85
 7 Matthew Hall                             KLEm  69 93 88 86 79 85 83  84
 8 Tyler Tardi                              KOEm  84 85 83 88 79 81 71  81
 
   SKIPS  
 1 Brad Jacobs                              JACm  76 97 95 89 99 91 90  91
 2 Brad Gushue                              GUSm  94 99 83 89 88 91 83  89
 3 John Epping                              EPPm  86 92 76 80 81 90 93  85
 3 Rylan Kleiter                            KLEm  76 92 70 86 84 84 96  85
 5 Mike McEwen                              MCEm  86 86 78 81 86 86 81  84
 6 Matt Dunstone                            DUNm  90 93 91 80 90 71 67  83
 7 Kevin Koe                                KOEm  79 94 91 74 88 76 68  82
 8 Jordon McDonald                          MCDm  69 88 74 75 91 82 83  80
 
   TEAMS
 1 Team Epping (M)                                89 93 88 91 91 89 93  91
 2 Team Gushue (M)                                91 94 90 82 91 91 88  89
 2 Team Jacobs (M)                                78 93 87 88 94 93 89  89
 2 Team Dunstone (M)                              89 96 94 87 88 84 86  89
 5 Team McEwen (M)                                87 85 82 88 89 88 84  86
 5 Team Kleiter (M)                               80 91 86 89 85 88 81  86
 7 Team McDonald (M)                              77 93 79 84 84 89 85  84
 7 Team Koe (M)                                   80 90 87 83 82 85 77  84
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2025 Montana's Canadian Curling Trials
                                         Men's Event
                                    Halifax, Nova Scotia
 
                             PLUS/MINUS STATISTICS AFTER DRAW 14
 
 
                          DRAW----->  2  4  6  8 10 12 14 TOT
LEADS  
Ryan Harnden                             DUNm   0  +  0  +  0  -  +  +2
Ian McMillan                             EPPm   0  0  0  +  0  0  +  +2
Ben Hebert                               JACm   +  0  0  0  0  +  0  +2
Daniel Marsh                             MCEm   +  0  0  0  0  0  -   0
Karrick Martin                           KOEm   -  0  0  0  0  0  +   0
Trevor Johnson                           KLEm   +  0  0  -  0  0  -  -1
Geoff Walker                             GUSm   -  0  0  -  +  0  0  -1
Cameron Olafson                          MCDm   -  -  0  0  -  0  -  -4
 
SECONDS
Tanner Horgan                            EPPm   0  +  0  -  +  0  +  +2
Brendan Bottcher                         GUSm   +  0  0  -  +  0  +  +2
E.J. Harnden                             DUNm   0  0  0  +  +  -  0  +1
Aaron Sluchinski                         KOEm   +  0  +  -  -  0  +  +1
Kevin Marsh                              MCEm   -  -  0  +  0  0  0  -1
Brett Gallant                            JACm   -  +  0  0  -  +  -  -1
Elias Huminicki                          MCDm   +  0  -  0  -  0  -  -2
Joshua Mattern                           KLEm   -  -  0  +  0  0  -  -2
 
THIRDS 
Colton Lott                              DUNm   0  0  +  +  +  0  +  +4
Jacob Horgan                             EPPm   0  +  0  +  0  0  0  +2
Marc Kennedy                             JACm   0  0  0  0  0  0  +  +1
Mark Nichols                             GUSm   +  +  0  -  +  0  -  +1
Colton Flasch                            MCEm   +  -  0  0  +  0  -   0
Tyler Tardi                              KOEm   0  -  +  0  -  0  -  -2
Jacques Gauthier                         MCDm   -  0  -  0  -  0  0  -3
Matthew Hall                             KLEm   -  0  -  -  -  0  +  -3
 
SKIPS  
Brad Jacobs                              JACm   0  +  +  +  +  +  +  +6
Brad Gushue                              GUSm   +  +  +  +  0  +  -  +4
Mike McEwen                              MCEm   +  -  -  +  0  -  +   0
John Epping                              EPPm   0  +  -  -  -  +  +   0
Matt Dunstone                            DUNm   0  +  +  -  0  -  -  -1
Rylan Kleiter                            KLEm   -  -  -  +  0  0  +  -1
Kevin Koe                                KOEm   0  -  +  -  0  -  -  -3
Jordon McDonald                          MCDm   -  -  -  -  0  0  -  -5
 
   TEAMS
Team Dunstone (M)                               0  0  +  +  +  -  0  +2
Team Epping (M)                                 0  +  0  0  0  0  +  +2
Team Jacobs (M)                                 0  0  +  0  0  +  0  +2
Team Gushue (M)                                 +  0  0  -  +  0  0  +1
Team McEwen (M)                                 +  -  -  +  0  0  0   0
Team Koe (M)                                    0  0  +  -  -  0  0  -1
Team Kleiter (M)                                -  0  -  0  0  0  0  -2
Team McDonald (M)                               -  0  -  0  -  0  -  -4
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2025 Montana's Canadian Curling Trials
                                         Men's Event
                                    Halifax, Nova Scotia
 
                               SCORING ANALYSIS AFTER 14 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
DUNm    7    67  FOR      12     6     15   10    2    0    0    0   41   5.9    6  0.61
                 AGAINST   4     4     13    9    2    0    0    0   37   5.3    7  0.55
 
EPPm    7    67  FOR       5     1     15    8    1    2    0    0   42   6.0    1  0.63
                 AGAINST   6     7     20    8    2    0    0    0   42   6.0    7  0.63
 
GUSm    7    70  FOR       6     3     17   10    3    0    0    0   46   6.6    3  0.66
                 AGAINST   5     4     19    8    2    0    0    0   41   5.9    4  0.59
 
JACm    7    69  FOR      11     6     14   12    1    0    0    0   41   5.9    8  0.59
                 AGAINST  12     1     13    6    0    0    0    0   25   3.6    1  0.36
 
KLEm    7    66  FOR       5     2     14   10    3    0    0    0   43   6.1    4  0.65
                 AGAINST   4     4     16   10    3    0    1    0   50   7.1    8  0.76
 
KOEm    7    68  FOR       3     3     14    8    2    0    0    0   36   5.1    3  0.53
                 AGAINST  13     3     15    9    3    1    0    0   46   6.6    5  0.68
 
MCDm    7    70  FOR       4     2     19    8    1    0    0    0   38   5.4    3  0.54
                 AGAINST   7     3     14   15    2    0    0    0   50   7.1    4  0.71
 
MCEm    7    65  FOR       6     4     17    8    4    0    1    0   50   7.1    9  0.77
                 AGAINST   1     1     15    9    3    1    0    0   46   6.6    1  0.71
 
 
TOTAL  28   271  FOR      52    27    125   74   17    2    1    0  337   6.0   37  0.62
                 AGAINST  52    27    125   74   17    2    1    0  337   6.0   37  0.62
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2025 Montana's Canadian Curling Trials
                                         Men's Event
                                    Halifax, Nova Scotia
 
                                     TEAM WIN/LOSS GRID
 
 
        DUNm  EPPm  GUSm  JACm  KLEm  KOEm  MCDm  MCEm  
 
 
DUNm     *     W     W     L     W     L     W     L  
 
 
EPPm     L     *     L     L     L     W     W     W  
 
 
GUSm     L     W     *     L     W     W     W     L  
 
 
JACm     W     W     W     *     W     L     W     W  
 
 
KLEm     L     W     L     L     *     W     L     L  
 
 
KOEm     W     L     L     W     L     *     W     L  
 
 
MCDm     L     L     L     L     W     L     *     L  
 
 
MCEm     W     L     W     L     W     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2025 Montana's Canadian Curling Trials
                                         Men's Event
                                    Halifax, Nova Scotia
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Dunstone (M)                        #SH   182  219  401   179  193  372   361  412  773
                                  PTS   668  800 1468   609  677 1286  1277 1477 2754
                                  PCT    92   91   92    85   88   86    88   90   89
 
 1 Ryan Harnden                             #SH    79  106  185     6    3    9    85  109  194
                                  PTS   311  402  713    18   12   30   329  414  743
                                  PCT    98   95   96    75  100   83    97   95   96
 
 2 E.J. Harnden                             #SH    48   40   88    49   56  105    97   96  193
                                  PTS   158  146  304   156  197  353   314  343  657
                                  PCT    82   91   86    80   88   84    81   89   85
 
 3 Colton Lott                              #SH    28   32   60    67   67  134    95   99  194
                                  PTS   101  117  218   244  244  488   345  361  706
                                  PCT    90   91   91    91   91   91    91   91   91
 
 4 Matt Dunstone                            #SH    27   41   68    57   67  124    84  108  192
                                  PTS    98  135  233   191  224  415   289  359  648
                                  PCT    91   82   86    84   84   84    86   83   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Epping (M)                          #SH    76  204  280   125  138  263   201  342  543
                                  PTS   283  763 1046   416  505  921   699 1268 1967
                                  PCT    93   94   93    83   91   88    87   93   91
 
 1 Ian McMillan                             #SH    19  113  132     2    2    4    21  115  136
                                  PTS    74  437  511     7    7   14    81  444  525
                                  PCT    97   97   97    88   88   88    96   97   97
 
 2 Tanner Horgan                            #SH    29   37   66    31   39   70    60   76  136
                                  PTS   108  133  241   109  144  253   217  277  494
                                  PCT    93   90   91    88   92   90    90   91   91
 
 3 Jacob Horgan                             #SH    10   27   37    53   46   99    63   73  136
                                  PTS    36  103  139   180  169  349   216  272  488
                                  PCT    90   95   94    85   92   88    86   93   90
 
 4 John Epping                              #SH    18   27   45    39   51   90    57   78  135
                                  PTS    65   90  155   120  185  305   185  275  460
                                  PCT    90   83   86    77   91   85    81   88   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Gushue (M)                          #SH   134  183  317    87  163  250   221  346  567
                                  PTS   492  641 1133   310  584  894   802 1225 2027
                                  PCT    92   88   89    89   90   89    91   89   89
 
 1 Geoff Walker                             #SH    50   83  133     2    7    9    52   90  142
                                  PTS   185  297  482     7   28   35   192  325  517
                                  PCT    93   89   91    88  100   97    92   90   91
 
 2 Brendan Bottcher                         #SH    27   35   62    31   49   80    58   84  142
                                  PTS    96  116  212   108  178  286   204  294  498
                                  PCT    89   83   85    87   91   89    88   88   88
 
 3 Mark Nichols                             #SH    27   32   59    28   55   83    55   87  142
                                  PTS   101  114  215   103  190  293   204  304  508
                                  PCT    94   89   91    92   86   88    93   87   89
 
 4 Brad Gushue                              #SH    30   33   63    26   52   78    56   85  141
                                  PTS   110  114  224    92  188  280   202  302  504
                                  PCT    92   86   89    88   90   90    90   89   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Jacobs (M)                          #SH   102  202  304   176  244  420   278  446  724
                                  PTS   365  739 1104   614  854 1468   979 1593 2572
                                  PCT    89   91   91    87   88   87    88   89   89
 
 1 Ben Hebert                               #SH    51  122  173     4    5    9    55  127  182
                                  PTS   185  453  638    14   18   32   199  471  670
                                  PCT    91   93   92    88   90   89    90   93   92
 
 2 Brett Gallant                            #SH    19   31   50    43   88  131    62  119  181
                                  PTS    67  111  178   131  291  422   198  402  600
                                  PCT    88   90   89    76   83   81    80   84   83
 
 3 Marc Kennedy                             #SH    16   19   35    71   76  147    87   95  182
                                  PTS    56   69  125   260  274  534   316  343  659
                                  PCT    88   91   89    92   90   91    91   90   91
 
 4 Brad Jacobs                              #SH    16   30   46    58   75  133    74  105  179
                                  PTS    57  106  163   209  271  480   266  377  643
                                  PCT    89   88   89    90   90   90    90   90   90
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Kleiter (M)                         #SH    86  200  286   127  121  248   213  321  534
                                  PTS   293  705  998   431  405  836   724 1110 1834
                                  PCT    85   88   87    85   84   84    85   86   86
 
 1 Trevor Johnson                           #SH    16  110  126     4    4    8    20  114  134
                                  PTS    56  398  454    15   14   29    71  412  483
                                  PCT    88   90   90    94   88   91    89   90   90
 
 2 Joshua Mattern                           #SH    37   18   55    46   32   78    83   50  133
                                  PTS   131   56  187   158  108  266   289  164  453
                                  PCT    89   78   85    86   84   85    87   82   85
 
 3 Matthew Hall                             #SH    11   37   48    39   47   86    50   84  134
                                  PTS    37  130  167   129  152  281   166  282  448
                                  PCT    84   88   87    83   81   82    83   84   84
 
 4 Rylan Kleiter                            #SH    22   35   57    38   38   76    60   73  133
                                  PTS    69  121  190   129  131  260   198  252  450
                                  PCT    78   86   83    85   86   86    83   86   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Koe (M)                             #SH   168  140  308   116  119  235   284  259  543
                                  PTS   575  462 1037   379  398  777   954  860 1814
                                  PCT    86   83   84    82   84   83    84   83   84
 
 1 Karrick Martin                           #SH    90   41  131     3    2    5    93   43  136
                                  PTS   330  150  480     9    7   16   339  157  496
                                  PCT    92   91   92    75   88   80    91   91   91
 
 2 Aaron Sluchinski                         #SH    38   30   68    39   29   68    77   59  136
                                  PTS   130   89  219   131   84  215   261  173  434
                                  PCT    86   74   81    84   72   79    85   73   80
 
 3 Tyler Tardi                              #SH    15   38   53    48   35   83    63   73  136
                                  PTS    42  129  171   158  114  272   200  243  443
                                  PCT    70   85   81    82   81   82    79   83   81
 
 4 Kevin Koe                                #SH    25   31   56    26   53   79    51   84  135
                                  PTS    73   94  167    81  193  274   154  287  441
                                  PCT    73   76   75    78   91   87    75   85   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team McDonald (M)                        #SH   110  170  280   134  152  286   244  322  566
                                  PTS   360  601  961   437  510  947   797 1111 1908
                                  PCT    82   88   86    82   84   83    82   86   84
 
 1 Cameron Olafson                          #SH    42   91  133     2    7    9    44   98  142
                                  PTS   150  335  485     8   24   32   158  359  517
                                  PCT    89   92   91   100   86   89    90   92   91
 
 2 Elias Huminicki                          #SH    32   34   66    31   45   76    63   79  142
                                  PTS    92  115  207    98  154  252   190  269  459
                                  PCT    72   85   78    79   86   83    75   85   81
 
 3 Jacques Gauthier                         #SH    18   20   38    62   42  104    80   62  142
                                  PTS    62   69  131   208  144  352   270  213  483
                                  PCT    86   86   86    84   86   85    84   86   85
 
 4 Jordon McDonald                          #SH    18   25   43    39   58   97    57   83  140
                                  PTS    56   82  138   123  188  311   179  270  449
                                  PCT    78   82   80    79   81   80    79   81   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team McEwen (M)                          #SH   113  205  318   130  166  296   243  371  614
                                  PTS   382  735 1117   432  566  998   814 1301 2115
                                  PCT    85   90   88    83   85   84    84   88   86
 
 1 Daniel Marsh                             #SH    46   96  142     2    9   11    48  105  153
                                  PTS   162  361  523     8   25   33   170  386  556
                                  PCT    88   94   92   100   69   75    89   92   91
 
 2 Kevin Marsh                              #SH    18   49   67    38   49   87    56   98  154
                                  PTS    55  165  220   127  177  304   182  342  524
                                  PCT    76   84   82    84   90   87    81   87   85
 
 3 Colton Flasch                            #SH    31   30   61    42   51   93    73   81  154
                                  PTS   100  106  206   147  170  317   247  276  523
                                  PCT    81   88   84    88   83   85    85   85   85
 
 4 Mike McEwen                              #SH    18   30   48    48   57  105    66   87  153
                                  PTS    65  103  168   150  194  344   215  297  512
                                  PCT    90   86   88    78   85   82    81   85   84
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2025 Montana's Canadian Curling Trials
                                         Men's Event
                                    Halifax, Nova Scotia
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  31
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  2    KLEm  5  GUSm 11
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW 12    DUNm  2  JACm  6
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  8    EPPm  7  KLEm 10
          DRAW 18    DUNm  8  JACm  9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  4    KOEm  3  GUSm  5
          DRAW  6    GUSm  5  EPPm  3
          DRAW 12    DUNm  2  JACm  6
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  4    EPPm  9  MCEm  5    EPPm SCORED 4 IN THE 9TH END
          DRAW 12    EPPm  8  KOEm  4    EPPm SCORED 4 IN THE 5TH END
          DRAW 18    DUNm  8  JACm  9    DUNm SCORED 4 IN THE 5TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW 10    MCEm  9  KLEm  7    MCEm SCORED 5 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  2    DUNm  6  EPPm  3
          DRAW  4    JACm  6  KLEm  4
          DRAW  6    MCEm  3  JACm  6
          DRAW 10    JACm  6  EPPm  4
          DRAW 10    KOEm  5  DUNm  4
          DRAW 12    DUNm  2  JACm  6
 
NUMBER OF BLANK ENDS IN EVENT:  56
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAW  2
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  6    MCEm  3  JACm  6    BY MCEm BEGINNING IN END 5
          DRAW 10    JACm  6  EPPm  4    BY JACm BEGINNING IN END 3
          DRAW 10    KOEm  5  DUNm  4    BY DUNm BEGINNING IN END 5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   3
 
          DRAW 12    GUSm  7  MCEm  9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   2
 
          DRAW 12    GUSm  7  MCEm  9    BY MCEm BEGINNING IN END 7
          DRAW 14    KLEm  8  KOEm  3    BY KLEm BEGINNING IN END 8
          DRAW 14    GUSm  3  JACm  6    BY JACm BEGINNING IN END 9
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW 10    MCEm  9  KLEm  7    BY MCEm
 
LARGEST COME FROM BEHIND VICTORY:   2
 
          DRAW  2    MCEm  6  MCDm  5    MCEm WAS DOWN 2 AFTER 1 END
          DRAW  2    KOEm  6  JACm  5    KOEm WAS DOWN 2 AFTER 2 ENDS
          DRAW  6    MCDm  7  KOEm  8    KOEm WAS DOWN 2 AFTER 2 ENDS
          DRAW 12    GUSm  7  MCEm  9    MCEm WAS DOWN 2 AFTER 5 ENDS
          DRAW 14    MCEm  9  DUNm  5    MCEm WAS DOWN 2 AFTER 1 END
          DRAW 14    MCDm  6  EPPm  8    EPPm WAS DOWN 2 AFTER 2 ENDS
          DRAW 16    MCEm  5  DUNm  9    DUNm WAS DOWN 2 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  4    JACm  6  KLEm  4
          DRAW  8    DUNm  9  GUSm  7
          DRAW 10    MCDm  6  GUSm  8
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  6    KLEm  3  DUNm  7
          DRAW 14    MCEm  9  DUNm  5
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW 12    DUNm  2  JACm  6    BY DUNm
  </div>
</div>
