<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1985 LABATT BRIER
                                   Moncton, New Brunswick
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 AVG
   LEADS  
 1 BILL FLETCHER                  ONT   83 96 99 78 ** ** 91 90 ** 84 82 ** 87 75 84  86
 2 PAT PERROUD                    NONT  78 83 76 76 ** ** 91 83 ** 88 67 ** 86 94 75  82
 3 BILLY DILLON                   PEI   91 75 ** 74 66 70 88 ** ** 66 93 76 84 ** 95  80
 4 ART PAULSEN                    SASK  ** 78 ** 79 70 ** 78 81 77 86 ** 89 83 74 76  79
 4 DAN HILDEBRAND                 MAN   70 84 72 ** 78 ** 64 89 ** 84 66 86 ** 81 88  79
 6 DON WALCHUK                    ALTA  74 88 ** 87 82 76 80 ** ** 75 64 78 82 ** 77  78
 6 DAVE WALLACE                   N.S.  ** 71 ** 74 93 ** 82 81 68 75 ** 88 67 74 83  78
 6 RON KAPICKI                    TERR  56 90 ** 91 92 68 ** 84 ** 61 79 74 84 77 **  78
 6 DALE REIBIN                    B.C.  73 73 ** 75 64 90 ** 86 ** 86 91 76 69 75 **  78
10 NEIL YOUNG                     NFLD  64 ** ** 85 74 ** 74 84 75 ** 90 77 69 68 90  77
11 DAN BELLIVEAU                  QUE   59 81 74 ** 61 ** 60 71 ** 63 84 88 ** 68 90  74
12 CY SUTHERLAND                  N.B.  53 ** ** 68 58 ** 85 61 68 ** 68 73 71 77 80  70
 + JERRY CIASNOCHA                ONT   ** ** ** ** ** ** ** ** ** ** ** ** ** 50 **  50
 
   SECONDS
 + STAN AUSTMAN                   SASK  ** 95 ** ** ** ** ** ** ** ** ** ** ** ** **  95
 1 DAVE MERKLINGER                ONT   74 91 76 78 ** ** 89 85 ** 83 88 ** 81 96 82  83
 2 IAN TETLEY                     NONT  83 70 79 93 ** ** 81 80 ** 86 81 ** 85 78 79  81
 2 DON McKENZIE                   ALTA  81 85 ** 80 85 79 71 ** ** 83 73 83 85 ** 84  81
 4 CLIFF LENZ                     MAN   77 89 86 ** 71 ** 80 84 ** 80 79 78 ** 75 84  80
 4 NICK PAULSEN                   SASK  ** 88 ** 73 79 ** 85 86 80 74 ** 75 81 81 78  80
 6 STUART MacLEAN                 N.S.  ** 86 ** 78 63 ** 68 90 78 71 ** 76 65 83 80  76
 6 ANDREW CARTER                  QUE   75 76 74 ** 77 ** 79 65 ** 69 84 86 ** 76 74  76
 6 BILL STRAIN                    TERR  67 74 ** 86 68 69 ** 80 ** 76 74 79 80 81 **  76
 9 JOHN ALLAN                     NFLD  70 ** ** 89 63 ** 64 63 69 ** 74 83 63 74 84  72
10 JOHN LIKELY                    PEI   85 59 ** 65 67 64 64 ** ** 79 82 69 90 ** 59  71
10 KEN WATSON                     B.C.  83 73 ** 66 83 86 ** 65 ** 50 63 74 75 64 **  71
12 SERGE DENIS                    N.B.  60 ** ** 68 60 ** 69 64 82 ** 68 84 80 77 49  69
 
   THIRDS 
 1 DAVE IVERSON                   MAN   77 81 90 ** 84 ** 70 91 ** 69 79 78 ** 78 84  80
 1 RICK LANG                      NONT  85 67 79 81 ** ** 89 76 ** 69 71 ** 88 81 91  80
 1 LOVEL LORD                     ONT   84 81 76 69 ** ** 80 73 ** 89 85 ** 84 80 75  80
 4 GORD TRENCHIE                  ALTA  79 85 ** 59 80 83 71 ** ** 68 84 79 73 ** 81  77
 5 DOUG MEGER                     B.C.  74 65 ** 85 78 88 ** 75 ** 90 80 75 66 55 **  76
 5 PETER MacPHEE                  N.S.  ** 78 ** 75 85 ** 64 79 78 74 ** 78 69 78 75  76
 7 BOB MILLER                     SASK  ** 81 ** 65 56 ** 74 75 89 85 ** 63 66 81 83  74
 8 ROBBIE MacLEAN                 QUE   58 66 76 ** 69 ** 86 56 ** 71 81 70 ** 86 76  73
 9 DOUG WEEKS                     PEI   68 52 ** 76 64 66 63 ** ** 76 66 85 78 ** 86  71
 9 ROY GILES                      TERR  81 73 ** 60 80 59 ** 73 ** 66 78 72 79 63 **  71
11 BOB CARRUTHERS                 N.B.  57 ** ** 68 73 ** 73 71 66 ** 73 73 76 77 66  70
12 GEOF CUNNINGHAM                NFLD  53 ** ** 71 56 ** 57 57 44 ** 66 68 83 74 83  65
 
   SKIPS  
 1 PAT RYAN                       ALTA  90 76 ** 80 71 82 82 ** ** 88 92 83 85 ** 90  84
 2 AL HACKNER                     NONT  79 84 84 65 ** ** 96 79 ** 71 78 ** 90 69 94  81
 3 EUGENE HRITZUK                 SASK  ** 87 ** 76 51 ** 75 75 92 89 ** 76 69 79 86  77
 4 DON AITKEN                     QUE   70 71 76 ** 81 ** 75 70 ** 75 75 81 ** 85 66  75
 4 JOHN BUBBS                     MAN   78 74 82 ** 54 ** 87 69 ** 54 81 93 ** 97 63  75
 6 EARLE MORRIS                   ONT   73 71 65 79 ** ** 52 65 ** 68 79 ** 78 94 82  74
 7 AL DELMAGE                     TERR  68 55 ** 68 72 64 ** 73 ** 73 89 74 79 69 **  71
 7 JEFF THOMAS                    NFLD  47 ** ** 75 63 ** 82 70 58 ** 76 69 88 62 80  71
 9 WAYNE MATHESON                 PEI   81 55 ** 66 56 76 78 ** ** 82 39 77 80 ** 63  70
10 BRYAN WIGHT                    N.B.  75 ** ** 89 63 ** 61 76 63 ** 75 64 72 41 **  69
11 PAUL DEVLIN                    B.C.  74 54 ** 81 68 64 ** 78 ** 79 55 69 56 56 **  67
12 TOM HAKANSSON                  N.S.  ** 69 ** 60 49 ** 50 79 78 49 ** 75 74 83 67  66
 + GARY MITCHELL                  N.B.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** 61  61
 
   TEAMS
 1 N. Ont (Hackner)                     81 76 80 79 ** ** 89 79 ** 78 74 ** 87 81 85  81
 1 Ontario (Morris)                     78 85 79 76 ** ** 79 79 ** 81 83 ** 82 86 81  81
 3 Alberta (Ryan)                       81 83 ** 76 79 80 76 ** ** 78 78 81 81 ** 83  80
 4 Manitoba (Bubbs)                     75 82 83 ** 72 ** 75 83 ** 72 76 83 ** 83 80  79
 5 Sask (Hritzuk)                       ** 84 ** 73 64 ** 78 79 85 83 ** 76 75 79 81  78
 6 Quebec (Aitken)                      66 73 75 ** 72 ** 76 66 ** 69 81 81 ** 79 77  74
 6 N.S. (Hakansson)                     ** 76 ** 72 72 ** 66 82 76 67 ** 79 69 79 76  74
 6 Y/NWT (Delmage)                      68 73 ** 77 78 65 ** 77 ** 69 80 75 80 72 **  74
 9 P.E.I. (MacFadyen)                   81 60 ** 70 63 69 73 ** ** 76 70 77 83 ** 76  73
 9 B.C. (Devlin)                        76 66 ** 77 73 82 ** 76 ** 76 72 73 67 63 **  73
11 NFLD (Thomas)                        59 ** ** 80 64 ** 69 68 61 ** 77 74 76 69 84  71
12 N.B. (Wight)                         61 ** ** 74 64 ** 72 68 70 ** 71 73 75 68 64  69
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1985 LABATT BRIER
                                   Moncton, New Brunswick
 
                                    PLUS/MINUS STATISTICS
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 TOT
LEADS  
NEIL YOUNG                     NFLD   +  *  *  +  -  *  +  +  +  *  +  0  -  -  +  +4
DAN HILDEBRAND                 MAN    +  0  -  *  +  *  -  +  *  +  -  0  *  +  +  +3
BILL FLETCHER                  ONT    +  +  +  0  *  *  +  0  *  0  -  *  0  0  0  +3
PAT PERROUD                    NONT   -  +  0  +  *  *  +  0  *  +  -  *  +  +  -  +3
BILLY DILLON                   PEI    +  -  *  0  +  0  0  *  *  -  +  0  0  *  +  +2
RON KAPICKI                    TERR   -  +  *  +  0  0  *  0  *  -  +  -  0  +  *  +1
ART PAULSEN                    SASK   *  +  *  -  +  *  -  -  +  0  *  +  0  +  -  +1
DAVE WALLACE                   N.S.   *  -  *  -  0  *  +  +  -  +  *  0  0  -  0  -1
DALE REIBIN                    B.C.   -  -  *  -  -  +  *  0  *  +  +  0  0  -  *  -2
DON WALCHUK                    ALTA   +  0  *  +  +  -  -  *  *  -  -  -  +  *  -  -2
DAN BELLIVEAU                  QUE    -  -  0  *  -  *  -  -  *  -  +  +  *  -  +  -4
CY SUTHERLAND                  N.B.   -  *  *  -  -  *  0  -  -  *  -  0  -  0  -  -8
 
SECONDS
CLIFF LENZ                     MAN    0  0  +  *  +  *  +  0  *  0  0  0  *  +  +  +5
DAVE MERKLINGER                ONT    -  +  -  +  *  *  +  +  *  +  +  *  0  +  0  +5
IAN TETLEY                     NONT   +  +  +  +  *  *  0  0  *  0  +  *  +  -  -  +4
ANDREW CARTER                  QUE    0  -  -  *  +  *  +  0  *  +  +  +  *  -  +  +3
BILL STRAIN                    TERR   -  0  *  +  +  +  *  0  *  0  +  -  0  +  *  +3
DON McKENZIE                   ALTA   +  0  *  0  +  -  -  *  *  0  -  +  +  *  +  +2
STUART MacLEAN                 N.S.   *  0  *  0  -  *  -  +  +  -  *  0  -  +  0  -1
JOHN ALLAN                     NFLD   +  *  *  +  -  *  -  0  -  *  -  +  -  -  +  -2
KEN WATSON                     B.C.   0  0  *  -  0  +  *  -  *  -  -  -  +  -  *  -4
NICK PAULSEN                   SASK   *  0  *  -  0  *  0  0  0  -  *  -  -  +  -  -4
JOHN LIKELY                    PEI    0  -  *  -  -  -  -  *  *  +  0  -  +  *  -  -5
SERGE DENIS                    N.B.   -  *  *  -  -  *  +  -  0  *  -  +  -  -  -  -6
 
THIRDS 
DAVE IVERSON                   MAN    +  0  +  *  +  *  +  +  *  0  +  0  *  +  -  +6
RICK LANG                      NONT   0  +  0  +  *  *  +  0  *  0  -  *  +  0  +  +4
DOUG MEGER                     B.C.   +  -  *  +  +  +  *  0  *  +  +  0  0  -  *  +4
PETER MacPHEE                  N.S.   *  0  *  +  +  *  -  +  +  0  *  0  0  0  0  +3
LOVEL LORD                     ONT    0  +  -  -  *  *  +  0  *  0  +  *  +  0  0  +2
ROBBIE MacLEAN                 QUE    -  -  0  *  +  *  +  0  *  -  0  0  *  +  +  +1
DOUG WEEKS                     PEI    -  -  *  +  -  +  -  *  *  0  -  +  +  *  +   0
GORD TRENCHIE                  ALTA   0  0  *  -  +  -  -  *  *  0  0  +  0  *  -  -2
ROY GILES                      TERR   0  +  *  -  -  -  *  0  *  0  +  0  -  -  *  -3
BOB CARRUTHERS                 N.B.   +  *  *  -  -  *  +  -  -  *  -  0  0  0  -  -4
BOB MILLER                     SASK   *  0  *  +  -  *  -  -  +  0  *  -  -  -  0  -4
GEOF CUNNINGHAM                NFLD   -  *  *  -  -  *  -  0  -  *  -  -  -  +  0  -7
 
SKIPS  
PAT RYAN                       ALTA   +  0  *  +  +  +  +  *  *  +  +  +  +  *  + +10
AL HACKNER                     NONT   +  +  +  -  *  *  +  +  *  -  +  *  0  -  +  +4
DON AITKEN                     QUE    -  0  -  *  +  *  +  0  *  0  -  +  *  +  +  +2
JOHN BUBBS                     MAN    +  0  +  *  -  *  +  -  *  -  +  +  *  +  -  +2
WAYNE MATHESON                 PEI    +  -  *  -  -  +  +  *  *  +  -  +  +  *  -  +1
EUGENE HRITZUK                 SASK   *  +  *  +  -  *  -  +  +  +  *  -  -  -  +  +1
PAUL DEVLIN                    B.C.   -  0  *  +  +  -  *  +  *  0  -  +  -  -  *  -1
AL DELMAGE                     TERR   -  0  *  -  +  -  *  -  *  +  +  -  0  +  *  -1
EARLE MORRIS                   ONT    -  0  -  +  *  *  -  -  *  -  0  *  0  +  +  -2
BRYAN WIGHT                    N.B.   +  *  *  +  +  *  -  0  -  *  -  -  -  -  *  -3
TOM HAKANSSON                  N.S.   *  -  *  -  -  *  -  0  +  -  *  -  +  +  -  -4
JEFF THOMAS                    NFLD   -  *  *  -  -  *  -  0  -  *  0  -  0  -  -  -8
 
   TEAMS
N. Ont (Hackner)                      0  +  +  +  *  *  +  0  *  0  0  *  +  0  +  +6
Ontario (Morris)                      0  +  0  +  *  *  0  0  *  0  +  *  0  +  +  +5
Alberta (Ryan)                        +  0  *  0  +  0  0  *  *  0  0  +  +  *  +  +5
Manitoba (Bubbs)                      +  0  0  *  +  *  +  0  *  0  +  0  *  +  -  +4
Y/NWT (Delmage)                       -  +  *  0  +  0  *  0  *  0  +  -  0  0  *  +1
Quebec (Aitken)                       -  -  -  *  +  *  +  0  *  -  0  +  *  0  +   0
B.C. (Devlin)                         -  -  *  0  +  0  *  0  *  +  0  0  0  -  *  -1
Sask (Hritzuk)                        *  +  *  0  -  *  -  0  +  0  *  -  -  0  0  -2
P.E.I. (MacFadyen)                    +  -  *  -  -  0  0  *  *  +  -  0  +  *  -  -2
N.S. (Hakansson)                      *  -  *  0  -  *  -  +  +  -  *  0  0  0  -  -3
NFLD (Thomas)                         0  *  *  0  -  *  -  0  -  *  -  0  -  0  0  -5
N.B. (Wight)                          0  *  *  -  -  *  0  -  -  *  -  0  -  -  -  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1985 LABATT BRIER
                                   Moncton, New Brunswick
 
                                      SCORING ANALYSIS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
SASK   11   103  FOR      15     6     22   15    3    0    1    0   66   6.0    9  0.64
                 AGAINST   7     7     26   10    3    1    0    0   59   5.4    9  0.57
 
N.S.   11   102  FOR       8     9     33    6    3    1    1    0   63   5.7    9  0.62
                 AGAINST   6    11     28   12    4    0    0    0   64   5.8   14  0.63
 
N.B.   11   102  FOR       6    10     28   13    1    0    0    0   57   5.2   14  0.56
                 AGAINST   9    10     23   16    5    0    1    0   75   6.8   18  0.74
 
NFLD   11   106  FOR       6     8     29   12    1    0    0    0   56   5.1    9  0.53
                 AGAINST   7    14     25   16    8    1    1    0   90   8.2   18  0.85
 
QUE    11   103  FOR       9    15     30    8    7    1    0    0   71   6.5   17  0.69
                 AGAINST   6    10     26   12    2    2    0    0   64   5.8   12  0.62
 
MAN    11    99  FOR       7    11     19   13    7    3    0    0   78   7.1   18  0.79
                 AGAINST   5    14     27   15    3    0    0    0   66   6.0   19  0.67
 
ONT    11   100  FOR       5    10     22   16    5    0    0    0   69   6.3   15  0.69
                 AGAINST   4    15     28   13    6    1    0    0   76   6.9   21  0.76
 
NONT   11   102  FOR      10    13     29   10    5    1    0    0   68   6.2   14  0.67
                 AGAINST   8     5     27    9    3    0    0    0   54   4.9    5  0.53
 
TERR   11   103  FOR       4    15     29   15    3    0    0    0   68   6.2   20  0.66
                 AGAINST   9    10     24   14    5    0    0    0   67   6.1   13  0.65
 
B.C.   11   103  FOR       3     8     28   11    4    1    0    0   66   6.0   12  0.64
                 AGAINST  10    13     27   15    3    1    0    0   70   6.4   14  0.68
 
ALTA   11    99  FOR       9    10     18   21    6    1    0    0   82   7.5   14  0.83
                 AGAINST  11     1     24    8    1    0    0    0   43   3.9    1  0.43
 
PEI    11   102  FOR       4     9     28   15    1    0    0    0   61   5.5   13  0.60
                 AGAINST   4    14     30   15    3    2    0    0   77   7.0   20  0.75
 
 
TOTAL  66   612  FOR      86   124    315  155   46    8    2    0  805   6.1  164  0.66
                 AGAINST  86   124    315  155   46    8    2    0  805   6.1  164  0.66
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1985 LABATT BRIER
                                   Moncton, New Brunswick
 
                                     TEAM WIN/LOSS GRID
 
 
        SASK  N.S.  N.B.  NFLD  QUE   MAN   ONT   NONT  TERR  B.C.  ALTA  PEI   
 
 
SASK     *     W     W     W     L     W     W     L     W     L     L     L  
 
 
N.S.     L     *     W     W     L     L     W     W     L     W     L     L  
 
 
N.B.     L     L     *     W     L     W     L     W     L     L     L     L  
 
 
NFLD     L     L     L     *     L     W     L     L     L     L     L     L  
 
 
QUE      W     W     W     W     *     L     W     L     L     L     L     W  
 
 
MAN      L     W     L     L     W     *     W     L     L     W     L     W  
 
 
ONT      L     L     W     W     L     L     *     W     W     L     L     W  
 
 
NONT     W     L     L     W     W     W     L     *     W     W     L     W  
 
 
TERR     L     W     W     W     W     W     L     L     *     W     L     L  
 
 
B.C.     W     L     W     W     W     L     W     L     L     *     L     L  
 
 
ALTA     W     W     W     W     W     W     W     W     W     W     *     W  
 
 
PEI      W     W     W     W     L     L     L     L     W     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1985 LABATT BRIER
                                   Moncton, New Brunswick
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Hritzuk)                 #SH   218  214  432   304  307  611   522  521 1043
                                  PTS   653  662 1315   966  976 1942  1619 1638 3257
                                  PCT    75   77   76    79   79   79    78   79   78
 
 1 ART PAULSEN                    #SH    69   66  135    56   63  119   125  129  254
                                  PTS   204  223  427   168  208  376   372  431  803
                                  PCT    74   84   79    75   83   79    74   84   79
 
 2 NICK PAULSEN                   #SH    41   56   97    78   81  159   119  137  256
                                  PTS   128  175  303   254  253  507   382  428  810
                                  PCT    78   78   78    81   78   80    80   78   79
 
 3 BOB MILLER                     #SH    46   49   95    82   89  171   128  138  266
                                  PTS   135  140  275   251  276  527   386  416  802
                                  PCT    73   71   72    77   78   77    75   75   75
 
 4 EUGENE HRITZUK                 #SH    62   43  105    86   66  152   148  109  257
                                  PTS   186  124  310   285  209  494   471  333  804
                                  PCT    75   72   74    83   79   81    80   76   78
 
 5 STAN AUSTMAN                   #SH     0    0    0     2    8   10     2    8   10
                                  PTS     0    0    0     8   30   38     8   30   38
                                  PCT   ***  ***  ***   100   94   95   100   94   95
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Hakansson)               #SH   180  255  435   182  229  411   362  484  846
                                  PTS   541  770 1311   566  630 1196  1107 1400 2507
                                  PCT    75   75   75    78   69   73    76   72   74
 
 1 DAVE WALLACE                   #SH    28   89  117    36   56   92    64  145  209
                                  PTS    95  286  381   112  159  271   207  445  652
                                  PCT    85   80   81    78   71   74    81   77   78
 
 2 STUART MacLEAN                 #SH    70   40  110    57   49  106   127   89  216
                                  PTS   220  114  334   181  143  324   401  257  658
                                  PCT    79   71   76    79   73   76    79   72   76
 
 3 PETER MacPHEE                  #SH    44   62  106    49   61  110    93  123  216
                                  PTS   136  200  336   153  164  317   289  364  653
                                  PCT    77   81   79    78   67   72    78   74   76
 
 4 TOM HAKANSSON                  #SH    38   64  102    40   63  103    78  127  205
                                  PTS    90  170  260   120  164  284   210  334  544
                                  PCT    59   66   64    75   65   69    67   66   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Wight)                   #SH   203  217  420   220  177  397   423  394  817
                                  PTS   549  594 1143   615  497 1112  1164 1091 2255
                                  PCT    68   68   68    70   70   70    69   69   69
 
 1 CY SUTHERLAND                  #SH   101   24  125    55   20   75   156   44  200
                                  PTS   292   76  368   137   51  188   429  127  556
                                  PCT    72   79   74    62   64   63    69   72   70
 
 2 SERGE DENIS                    #SH    28   71   99    56   53  109    84  124  208
                                  PTS    76  217  293   136  141  277   212  358  570
                                  PCT    68   76   74    61   67   64    63   72   69
 
 3 BOB CARRUTHERS                 #SH    36   57   93    53   61  114    89  118  207
                                  PTS    90  152  242   161  178  339   251  330  581
                                  PCT    63   67   65    76   73   74    71   70   70
 
 4 BRYAN WIGHT                    #SH    35   60   95    48   39   87    83   99  182
                                  PTS    84  142  226   162  111  273   246  253  499
                                  PCT    60   59   59    84   71   78    74   64   69
 
 5 GARY MITCHELL                  #SH     3    5    8     8    4   12    11    9   20
                                  PTS     7    7   14    19   16   35    26   23   49
                                  PCT    58   35   44    59  100   73    59   64   61
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Thomas)                  #SH   236  257  493   207  160  367   443  417  860
                                  PTS   675  731 1406   604  443 1047  1279 1174 2453
                                  PCT    72   71   71    73   69   71    72   70   71
 
 1 NEIL YOUNG                     #SH    72   77  149    49   20   69   121   97  218
                                  PTS   225  248  473   147   54  201   372  302  674
                                  PCT    78   81   79    75   68   73    77   78   77
 
 2 JOHN ALLAN                     #SH    62   63  125    52   41   93   114  104  218
                                  PTS   161  194  355   155  119  274   316  313  629
                                  PCT    65   77   71    75   73   74    69   75   72
 
 3 GEOF CUNNINGHAM                #SH    49   56  105    61   51  112   110  107  217
                                  PTS   128  138  266   167  133  300   295  271  566
                                  PCT    65   62   63    68   65   67    67   63   65
 
 4 JEFF THOMAS                    #SH    53   61  114    45   48   93    98  109  207
                                  PTS   161  151  312   135  137  272   296  288  584
                                  PCT    76   62   68    75   71   73    76   66   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Aitken)                #SH   314  233  547   172  262  434   486  495  981
                                  PTS   932  710 1642   487  787 1274  1419 1497 2916
                                  PCT    74   76   75    71   75   73    73   76   74
 
 1 DAN BELLIVEAU                  #SH   104   51  155    23   60   83   127  111  238
                                  PTS   318  165  483    54  172  226   372  337  709
                                  PCT    76   81   78    59   72   68    73   76   74
 
 2 ANDREW CARTER                  #SH    76   59  135    55   60  115   131  119  250
                                  PTS   232  196  428   156  176  332   388  372  760
                                  PCT    76   83   79    71   73   72    74   78   76
 
 3 ROBBIE MacLEAN                 #SH    68   59  127    50   73  123   118  132  250
                                  PTS   183  174  357   148  220  368   331  394  725
                                  PCT    67   74   70    74   75   75    70   75   73
 
 4 DON AITKEN                     #SH    66   64  130    44   69  113   110  133  243
                                  PTS   199  175  374   129  219  348   328  394  722
                                  PCT    75   68   72    73   79   77    75   74   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Bubbs)               #SH   187  226  413   187  211  398   374  437  811
                                  PTS   600  715 1315   594  641 1235  1194 1356 2550
                                  PCT    80   79   80    79   76   78    80   78   79
 
 1 DAN HILDEBRAND                 #SH    52   64  116    38   45   83    90  109  199
                                  PTS   169  215  384   106  137  243   275  352  627
                                  PCT    81   84   83    70   76   73    76   81   79
 
 2 CLIFF LENZ                     #SH    50   53  103    48   57  105    98  110  208
                                  PTS   168  174  342   156  171  327   324  345  669
                                  PCT    84   82   83    81   75   78    83   78   80
 
 3 DAVE IVERSON                   #SH    48   56  104    54   49  103   102  105  207
                                  PTS   155  185  340   171  153  324   326  338  664
                                  PCT    81   83   82    79   78   79    80   80   80
 
 4 JOHN BUBBS                     #SH    37   53   90    47   60  107    84  113  197
                                  PTS   108  141  249   161  180  341   269  321  590
                                  PCT    73   67   69    86   75   80    80   71   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Morris)               #SH   209  244  453   172  200  372   381  444  825
                                  PTS   722  779 1501   525  638 1163  1247 1417 2664
                                  PCT    86   80   83    76   80   78    82   80   81
 
 1 BILL FLETCHER                  #SH    62   72  134    38   33   71   100  105  205
                                  PTS   234  262  496   105  108  213   339  370  709
                                  PCT    94   91   93    69   82   75    85   88   86
 
 2 DAVE MERKLINGER                #SH    45   65  110    35   65  100    80  130  210
                                  PTS   153  211  364   118  218  336   271  429  700
                                  PCT    85   81   83    84   84   84    85   83   83
 
 3 LOVEL LORD                     #SH    54   53  107    50   53  103   104  106  210
                                  PTS   175  156  331   176  161  337   351  317  668
                                  PCT    81   74   77    88   76   82    84   75   80
 
 4 EARLE MORRIS                   #SH    48   54  102    47   49   96    95  103  198
                                  PTS   160  150  310   122  151  273   282  301  583
                                  PCT    83   69   76    65   77   71    74   73   74
 
 5 JERRY CIASNOCHA                #SH     0    0    0     2    0    2     2    0    2
                                  PTS     0    0    0     4    0    4     4    0    4
                                  PCT   ***  ***  ***    50  ***   50    50  ***   50
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ont (Hackner)               #SH   279  241  520   277  204  481   556  445 1001
                                  PTS   953  782 1735   887  645 1532  1840 1427 3267
                                  PCT    85   81   83    80   79   80    83   80   82
 
 1 PAT PERROUD                    #SH    87   58  145    57   45  102   144  103  247
                                  PTS   308  198  506   183  138  321   491  336  827
                                  PCT    89   85   87    80   77   79    85   82   84
 
 2 IAN TETLEY                     #SH    70   64  134    62   59  121   132  123  255
                                  PTS   258  213  471   186  184  370   444  397  841
                                  PCT    92   83   88    75   78   76    84   81   82
 
 3 RICK LANG                      #SH    67   60  127    73   54  127   140  114  254
                                  PTS   220  179  399   227  180  407   447  359  806
                                  PCT    82   75   79    78   83   80    80   79   79
 
 4 AL HACKNER                     #SH    55   59  114    85   46  131   140  105  245
                                  PTS   167  192  359   291  143  434   458  335  793
                                  PCT    76   81   79    86   78   83    82   80   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Delmage)                #SH   252  213  465   277  176  453   529  389  918
                                  PTS   767  630 1397   797  517 1314  1564 1147 2711
                                  PCT    76   74   75    72   73   73    74   74   74
 
 1 RON KAPICKI                    #SH    76   56  132    56   33   89   132   89  221
                                  PTS   258  181  439   147  111  258   405  292  697
                                  PCT    85   81   83    66   84   72    77   82   79
 
 2 BILL STRAIN                    #SH    56   45  101    87   48  135   143   93  236
                                  PTS   172  149  321   268  130  398   440  279  719
                                  PCT    77   83   79    77   68   74    77   75   76
 
 3 ROY GILES                      #SH    66   49  115    80   40  120   146   89  235
                                  PTS   195  138  333   218  109  327   413  247  660
                                  PCT    74   70   72    68   68   68    71   69   70
 
 4 AL DELMAGE                     #SH    54   63  117    54   55  109   108  118  226
                                  PTS   142  162  304   164  167  331   306  329  635
                                  PCT    66   64   65    76   76   76    71   70   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Devlin)                  #SH   216  232  448   210  198  408   426  430  856
                                  PTS   622  709 1331   594  572 1166  1216 1281 2497
                                  PCT    72   76   74    71   72   71    71   74   73
 
 1 DALE REIBIN                    #SH    43   90  133    41   38   79    84  128  212
                                  PTS   138  282  420   122  119  241   260  401  661
                                  PCT    80   78   79    74   78   76    77   78   78
 
 2 KEN WATSON                     #SH    55   41   96    63   57  120   118   98  216
                                  PTS   156  124  280   171  163  334   327  287  614
                                  PCT    71   76   73    68   71   70    69   73   71
 
 3 DOUG MEGER                     #SH    56   61  117    47   52   99   103  113  216
                                  PTS   172  187  359   138  158  296   310  345  655
                                  PCT    77   77   77    73   76   75    75   76   76
 
 4 PAUL DEVLIN                    #SH    62   40  102    59   51  110   121   91  212
                                  PTS   156  116  272   163  132  295   319  248  567
                                  PCT    63   73   67    69   65   67    66   68   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Ryan)                 #SH   130  151  281   307  318  625   437  469  906
                                  PTS   392  453  845  1006 1054 2060  1398 1507 2905
                                  PCT    75   75   75    82   83   82    80   80   80
 
 1 DON WALCHUK                    #SH    44   37   81    78   63  141   122  100  222
                                  PTS   136  120  256   245  199  444   381  319  700
                                  PCT    77   81   79    79   79   79    78   80   79
 
 2 DON McKENZIE                   #SH    26   32   58    93   81  174   119  113  232
                                  PTS    78   96  174   306  270  576   384  366  750
                                  PCT    75   75   75    82   83   83    81   81   81
 
 3 GORD TRENCHIE                  #SH    33   33   66    75   91  166   108  124  232
                                  PTS    96  103  199   236  280  516   332  383  715
                                  PCT    73   78   75    79   77   78    77   77   77
 
 4 PAT RYAN                       #SH    27   49   76    61   83  144    88  132  220
                                  PTS    82  134  216   219  305  524   301  439  740
                                  PCT    76   68   71    90   92   91    86   83   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (MacFadyen)             #SH   246  240  486   163  225  388   409  465  874
                                  PTS   708  674 1382   505  651 1156  1213 1325 2538
                                  PCT    72   70   71    77   72   74    74   71   73
 
 1 BILLY DILLON                   #SH   110   26  136    48   35   83   158   61  219
                                  PTS   361   73  434   161   91  252   522  164  686
                                  PCT    82   70   80    84   65   76    83   67   78
 
 2 JOHN LIKELY                    #SH    47   72  119    39   62  101    86  134  220
                                  PTS   126  212  338   124  170  294   250  382  632
                                  PCT    67   74   71    79   69   73    73   71   72
 
 3 DOUG WEEKS                     #SH    52   67  119    39   62  101    91  129  220
                                  PTS   130  192  322   117  194  311   247  386  633
                                  PCT    63   72   68    75   78   77    68   75   72
 
 4 WAYNE MATHESON                 #SH    37   75  112    37   66  103    74  141  215
                                  PTS    91  197  288   103  196  299   194  393  587
                                  PCT    61   66   64    70   74   73    66   70   68
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1985 LABATT BRIER
                                   Moncton, New Brunswick
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  9    N.B.  2  SASK 12
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW 16    PEI   1  SASK  8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW  8    MAN   9  SASK 11
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW 10    ALTA  5  NONT  3
          DRAW 14    SASK  2  QUE   6
          DRAW 14    TERR  6  NFLD  2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  9    N.B.  2  SASK 12    SASK SCORED 5 IN THE 7TH END
          DRAW  9    NFLD  3  N.S. 10    N.S. SCORED 5 IN THE SECOND END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 11    MAN   7  PEI   2    MAN  SCORED 4 IN THE SECOND END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  5    MAN   4  N.B.  5
          DRAW 14    SASK  2  QUE   6
 
NUMBER OF BLANK ENDS IN EVENT:  94
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAW 14
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW 14    SASK  2  QUE   6    BY SASK BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW 13    TERR  7  ONT   8
          DRAW 13    B.C.  5  N.S.  6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  2    NONT  9  PEI   2    BY NONT BEGINNING IN END 4
          DRAW 15    NONT  7  MAN   4    BY NONT BEGINNING IN END 1
          DRAW 16    PEI   1  SASK  8    BY SASK BEGINNING IN END 5
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW 16    PEI   1  SASK  8    BY SASK
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 12    PEI  10  NFLD  8    PEI  WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   7
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  7    N.B.  8  PEI   9
          DRAW  8    MAN   9  SASK 11
          DRAW 11    QUE   5  ALTA  6
          DRAW 12    PEI  10  NFLD  8
          DRAW 13    NONT  5  NFLD  4
          DRAW 15    N.S. 10  ONT   9
          DRAW 19    NONT  6  ALTA  5
 
FEWEST ENDS PLAYED IN ONE GAME:   7
 
          DRAW  7    ONT   2  ALTA  8
          DRAW  9    N.B.  2  SASK 12
          DRAW 11    MAN   7  PEI   2
          DRAW 14    N.B.  2  ONT   7
          DRAW 16    PEI   1  SASK  8
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW 13    B.C.  5  N.S.  6    BY B.C.
          DRAW 14    SASK  2  QUE   6    BY SASK
          DRAW 16    PEI   1  SASK  8    BY PEI 
  </div>
</div>
