<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1986 LABATT BRIER
                                     Kitchener/Waterloo
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 AVG
   LEADS  
 1 Garth Muyres                   SASK  86 97 ** 93 85 94 ** 83 ** 91 94 81 86 81 **  88
 + Michael Blanchard              N.B.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** 88  88
 2 Kent Carstairs                 ONT   89 89 86 ** 81 ** 94 86 ** 83 90 84 ** 87 91  87
 3 Brent Syme                     ALTA  ** 89 ** 75 89 ** 78 75 79 86 ** 84 93 76 96  84
 4 Don Bourque                    PEI   94 86 ** 72 96 85 ** 86 ** 63 75 72 86 98 **  83
 4 Don Reddick                    QUE   88 85 89 73 ** ** 90 92 ** 68 96 ** 88 73 71  83
 6 Dave Warren                    NFLD  70 98 ** 74 83 93 83 ** ** 80 71 80 86 ** 85  82
 7 Rick Elliott                   NONT  ** 64 ** 70 81 ** 78 88 90 71 ** 80 93 82 86  80
 8 Dave Schleppe                  B.C.  53 80 ** 81 86 83 86 ** ** 86 78 88 70 ** 80  79
 8 Terry Henry                    MAN   88 78 72 ** 75 ** 75 85 ** 90 80 86 ** 60 75  79
10 Don Sweete                     N.S.  64 ** ** 75 67 ** 75 78 78 ** 81 72 63 75 55  72
10 Bill Oliver                    N.B.  63 ** ** 71 86 ** 77 56 77 ** 95 76 58 50 **  72
12 Gerry Menard                   TERR  54 75 72 53 ** ** 75 89 ** 60 81 ** 52 93 69  70
 
   SECONDS
 + Wayne Hart                     ALTA  ** ** ** ** ** ** ** ** ** ** ** ** ** ** 88  88
 1 Craig Muyres                   SASK  77 91 ** 89 74 90 ** 92 ** 84 93 76 84 77 **  84
 2 Malcolm Turner                 QUE   85 80 81 76 ** ** 75 90 ** 71 74 ** 93 93 80  82
 3 Tim Belcourt                   ONT   73 88 80 ** 74 ** 89 80 ** 86 84 68 ** 75100  80
 3 Russ Wookey                    MAN   84 71 84 ** 75 ** 73 83 ** 93 76 82 ** 73 86  80
 3 Brian Eden                     B.C.  76 75 ** 81 88 93 97 ** ** 74 78 71 83 ** 69  80
 6 Neil Houston                   ALTA  ** 80 ** 92 86 ** 66 82 72 93 ** 81 71 68 85  79
 7 John MacWilliams               PEI   61 81 ** 63 70 91 ** 89 ** 75 61 83 89 91 **  78
 8 Richard Evoy                   NONT  ** 73 ** 53 76 ** 85 63 73 88 ** 80 88 82 89  77
 8 Blake Fizzard                  NFLD  61 93 ** 75 76 86 67 ** ** 84 76 81 89 ** 64  77
 8 Michael Wilson                 N.S.  55 ** ** 81 66 ** 86 83 85 ** 88 64 60 85 84  77
11 Don Edl                        TERR  70 84 56 69 ** ** 85 73 ** 79 80 ** 74 78 69  75
12 Doug MacDonald                 N.B.  61 ** ** 63 67 ** 73 74 54 ** 65 81 60 82 89  72
 
   THIRDS 
 1 Kevin Adams                    QUE   90 84 76 81 ** ** 83 86 ** 93 75 ** 89 77 89  84
 2 John Ferguson                  ALTA  ** 76 ** 92 83 ** 83 92 78 80 ** 73 75 93 73  81
 2 Glenn Howard                   ONT   81 64 80 ** 77 ** 92 79 ** 85 76 84 ** 73100  81
 4 Brian Toews                    MAN   85 79 95 ** 79 ** 75 79 ** 85 61 82 ** 69 89  80
 + Eric Harnden                   NONT  ** ** ** ** ** ** 78 ** ** ** ** ** ** ** **  78
 5 Robert Kuroyama                B.C.  78 94 ** 83 69 75 59 ** ** 79 84 86 83 ** 68  78
 6 Warren Muyres                  SASK  75 75 ** 80 53 90 ** 80 ** 85 65 80 79 72 **  76
 7 Guy LaRocque                   N.S.  59 ** ** 88 69 ** 89 83 74 ** 65 56 56 97 77  74
 8 Fred Durant (S)                NFLD  67 73 ** 76 63 80 77 ** ** 75 76 85 64 ** 66  72
 9 Mike Coulter                   NONT  ** 72 ** 69 75 ** ** 59 69 74 ** 71 75 56 75  69
10 Mel Bernard                    PEI   53 70 ** 64 83 64 ** 81 ** 53 63 69 70 75 **  68
11 Norbert MacKinnon              N.B.  70 ** ** 51 70 ** 75 69 65 ** 80 71 60 66 59  67
12 Doug Bothamley                 TERR  75 85 83 57 ** ** 72 47 ** 63 56 ** 60 46 78  65
 
   SKIPS  
 1 Ed Lukowich                    ALTA  ** 84 ** 92 95 ** 89 69 91 77 ** 93 66 89 64  83
 2 Russ Howard                    ONT   84 82 84 ** 68 ** 95 79 ** 78 87 74 ** 67 88  80
 3 Gordon Hess                    QUE   64 87 78 54 ** ** 86 75 ** 70 88 ** 87 77 84  77
 4 Mike Riley                     MAN   70 54 88 ** 89 ** 58 82 ** 79 65 83 ** 69 81  74
 5 Lyle Muyres                    SASK  53 85 ** 56 61 92 ** 79 ** 76 83 74 71 48 **  71
 5 Alan Harnden                   NONT  ** 70 ** 72 85 ** 69 72 54 70 ** 71 75 61 79  71
 7 Grant Somers                   PEI   60 61 ** 75 78 67 ** 86 ** 78 60 70 80 57 **  70
 7 Chris Hamelmann                NFLD  67 63 ** 75 67 82 88 ** ** 19 78 69 88 ** 64  70
 9 Bill Campbell Jr.              N.S.  66 ** ** 78 61 ** 70 61 77 ** 84 51 51 88 48  67
10 Barry McPhee                   B.C.  69 52 ** 63 53 75 55 ** ** 64 71 74 83 ** 76  66
10 Wade Blanchard                 N.B.  81 ** ** 80 77 ** 47 51 25 ** 70 60 45 71 88  66
10 Klaus Schoenne                 TERR  81 78 47 78 ** ** 46 63 ** 65 87 ** 53 75 25  66
 
   TEAMS
 1 Ontario (Howard)                     82 81 83 ** 75 ** 92 81 ** 83 84 77 ** 75 95  82
 1 Alberta (Lukowich)                   ** 82 ** 88 88 ** 79 80 80 84 ** 83 76 81 80  82
 3 Quebec (Hess)                        82 84 81 71 ** ** 83 86 ** 75 83 ** 89 80 81  81
 4 Sask (Muyres)                        73 87 ** 80 69 91 ** 84 ** 84 83 78 80 70 **  80
 5 Manitoba (Riley)                     82 70 85 ** 79 ** 70 82 ** 87 71 83 ** 68 83  78
 6 B.C. (McPhee)                        69 75 ** 77 74 81 75 ** ** 75 78 80 80 ** 73  76
 7 NFLD (Durant)                        66 82 ** 75 72 85 78 ** ** 65 75 79 81 ** 70  75
 7 P.E.I. (Somers)                      67 75 ** 68 82 77 ** 86 ** 67 65 74 81 81 **  75
 9 N. Ont (Harnden)                     ** 70 ** 66 79 ** 77 70 71 76 ** 76 83 70 82  74
10 N.S. (Campbell)                      61 ** ** 81 66 ** 80 76 79 ** 79 61 57 86 66  73
11 N.B. (Blanchard)                     69 ** ** 66 75 ** 68 63 55 ** 76 73 56 71 81  70
12 Y/NWT (Schoenne)                     70 81 64 64 ** ** 69 68 ** 67 76 ** 60 73 60  69
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1986 LABATT BRIER
                                     Kitchener/Waterloo
 
                                    PLUS/MINUS STATISTICS
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 TOT
LEADS  
Kent Carstairs                 ONT    0  +  0  *  -  *  +  0  *  +  +  0  *  +  +  +5
Don Reddick                    QUE    +  +  0  0  *  *  0  +  *  0  +  *  0  +  -  +4
Garth Muyres                   SASK   +  +  *  +  0  +  *  -  *  0  +  +  -  -  *  +3
Dave Warren                    NFLD   -  +  *  0  +  +  +  *  *  -  -  +  -  *  +  +2
Brent Syme                     ALTA   *  +  *  -  -  *  0  +  0  +  *  0  +  -  +  +2
Rick Elliott                   NONT   *  -  *  0  0  *  0  0  +  0  *  -  +  +  +  +2
Dave Schleppe                  B.C.   -  -  *  +  +  -  0  *  *  +  0  +  +  *  -  +1
Terry Henry                    MAN    0  -  0  *  -  *  0  +  *  0  0  +  *  -  -  -2
Don Bourque                    PEI    +  -  *  0  +  -  *  0  *  -  -  -  0  +  *  -2
Bill Oliver                    N.B.   0  *  *  +  +  *  -  -  -  *  +  -  -  -  *  -3
Gerry Menard                   TERR   -  -  0  -  *  *  0  0  *  -  -  *  -  +  -  -6
Don Sweete                     N.S.   0  *  *  -  -  *  -  -  0  *  -  -  +  -  -  -7
 
SECONDS
Tim Belcourt                   ONT    -  +  0  *  +  *  0  +  *  +  +  -  *  0  +  +4
Craig Muyres                   SASK   +  +  *  +  0  0  *  0  *  -  +  -  +  0  *  +3
Neil Houston                   ALTA   *  +  *  +  +  *  -  +  -  +  *  +  -  -  +  +3
Russ Wookey                    MAN    +  -  +  *  0  *  +  0  *  +  0  0  *  -  0  +2
Richard Evoy                   NONT   *  -  *  -  0  *  0  -  +  +  *  +  0  +  +  +2
Brian Eden                     B.C.   +  -  *  -  +  0  +  *  *  -  0  -  +  *  +  +1
John MacWilliams               PEI    -  -  *  +  -  +  *  +  *  -  0  0  0  +  *   0
Malcolm Turner                 QUE    +  +  0  0  *  *  -  0  *  -  -  *  0  +  -  -1
Don Edl                        TERR   -  -  -  +  *  *  0  -  *  +  -  *  +  +  -  -2
Doug MacDonald                 N.B.   +  *  *  -  -  *  +  -  -  *  0  +  -  -  0  -3
Blake Fizzard                  NFLD   -  +  *  0  0  -  -  *  *  -  -  +  0  *  -  -4
Michael Wilson                 N.S.   -  *  *  -  -  *  0  0  +  *  +  -  -  -  -  -5
 
THIRDS 
Kevin Adams                    QUE    +  +  0  +  *  *  +  +  *  +  +  *  +  +  + +10
Glenn Howard                   ONT    0  -  0  *  +  *  0  +  *  +  0  +  *  0  +  +4
Robert Kuroyama                B.C.   +  +  *  -  0  -  -  *  *  +  +  +  +  *  0  +3
John Ferguson                  ALTA   *  0  *  +  0  *  +  +  0  +  *  -  0  +  -  +3
Brian Toews                    MAN    0  -  +  *  +  *  -  0  *  0  -  +  *  +  +  +2
Warren Muyres                  SASK   +  +  *  -  -  +  *  -  *  0  +  +  0  0  *  +2
Guy LaRocque                   N.S.   -  *  *  +  0  *  0  0  0  *  -  -  0  +  0  -1
Mike Coulter                   NONT   *  0  *  +  +  *  *  -  0  -  *  -  +  -  0  -1
Fred Durant (S)                NFLD   -  -  *  -  -  +  0  *  *  -  0  +  -  *  0  -4
Norbert MacKinnon              N.B.   +  *  *  -  -  *  0  -  0  *  +  -  -  -  -  -5
Doug Bothamley                 TERR   -  +  -  +  *  *  -  -  *  -  -  *  0  -  -  -6
Mel Bernard                    PEI    -  -  *  -  0  -  *  +  *  -  -  -  -  -  *  -8
 
SKIPS  
Ed Lukowich                    ALTA   *  +  *  +  +  *  +  +  +  +  *  +  -  +  -  +7
Russ Howard                    ONT    +  +  +  *  -  *  +  +  *  0  +  -  *  +  +  +6
Gordon Hess                    QUE    -  +  -  -  *  *  +  0  *  0  0  *  +  +  +  +2
Chris Hamelmann                NFLD   +  -  *  +  -  +  +  *  *  -  -  +  +  *  -  +1
Mike Riley                     MAN    -  -  +  *  +  *  -  +  *  0  -  +  *  +  -   0
Lyle Muyres                    SASK   -  +  *  -  -  +  *  0  *  0  0  +  +  -  *   0
Alan Harnden                   NONT   *  -  *  0  +  *  +  -  +  0  *  0  -  -  +   0
Barry McPhee                   B.C.   +  -  *  -  -  -  -  *  *  0  +  0  +  *  +  -1
Wade Blanchard                 N.B.   +  *  *  0  +  *  -  -  -  *  +  -  -  -  +  -2
Bill Campbell Jr.              N.S.   -  *  *  +  +  *  -  -  -  *  0  -  0  +  -  -3
Klaus Schoenne                 TERR   +  +  -  0  *  *  -  -  *  0  0  *  0  -  -  -3
Grant Somers                   PEI    -  -  *  0  -  -  *  +  *  0  -  -  -  -  *  -7
 
   TEAMS
Alberta (Lukowich)                    *  +  *  +  +  *  +  +  0  +  *  +  0  +  0  +8
Ontario (Howard)                      0  +  0  *  0  *  +  +  *  +  +  -  *  +  +  +6
Quebec (Hess)                         +  +  0  0  *  *  +  0  *  0  0  *  +  +  0  +5
Sask (Muyres)                         +  +  *  0  -  +  *  0  *  0  +  +  0  -  *  +3
N. Ont (Harnden)                      *  -  *  0  +  *  +  -  +  0  *  0  0  0  +  +2
Manitoba (Riley)                      0  -  +  *  +  *  -  +  *  0  -  +  *  0  0  +1
B.C. (McPhee)                         0  -  *  -  +  -  -  *  *  +  +  0  +  *  0   0
NFLD (Durant)                         -  0  *  0  -  +  +  *  *  -  -  +  0  *  0  -1
N.B. (Blanchard)                      +  *  *  0  0  *  -  -  -  *  +  -  -  -  0  -4
N.S. (Campbell)                       -  *  *  0  -  *  -  -  0  *  0  -  0  +  -  -5
P.E.I. (Somers)                       0  -  *  0  -  -  *  +  *  -  -  -  -  -  *  -7
Y/NWT (Schoenne)                      -  0  -  0  *  *  -  -  *  -  -  *  0  -  -  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1986 LABATT BRIER
                                     Kitchener/Waterloo
 
                                      SCORING ANALYSIS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
NONT   11   100  FOR       3    13     23   12   12    1    0    0   87   7.9   22  0.87
                 AGAINST   4    12     29   14    1    1    0    0   64   5.8   13  0.64
 
ALTA   11   103  FOR       6    16     29   13    7    2    0    0   84   7.6   22  0.82
                 AGAINST   7     6     26   11    2    0    0    0   54   4.9    9  0.52
 
N.B.   11    97  FOR      10     8     26   13    0    1    1    0   61   5.5   12  0.63
                 AGAINST   1    13     22   14    7    2    0    0   79   7.2   22  0.81
 
N.S.   11   105  FOR      11     7     22    6    7    0    0    0   55   5.0   10  0.52
                 AGAINST  14    13     22   13    8    2    0    0   80   7.3   26  0.76
 
MAN    11   106  FOR      10    10     29   15    0    0    0    0   59   5.4   12  0.56
                 AGAINST  12     7     22   14    4    0    0    0   62   5.6    9  0.58
 
ONT    11   100  FOR      12    13     22   16    3    1    1    0   72   6.5   24  0.72
                 AGAINST  12     4     25    6    2    0    0    0   43   3.9    4  0.43
 
QUE    11   108  FOR      19     7     21   14    3    1    0    0   62   5.6   10  0.57
                 AGAINST  13     5     25   10    2    0    0    0   51   4.6    5  0.47
 
TERR   11    96  FOR      10     8     26   11    2    0    0    0   54   4.9   11  0.56
                 AGAINST   2    15     23   15    5    2    0    0   76   6.9   27  0.79
 
PEI    11   100  FOR       9     1     22   11    1    0    0    0   47   4.3    3  0.47
                 AGAINST  15     8     21   14    6    0    1    0   72   6.5   12  0.72
 
SASK   11   107  FOR      10     5     25   11    4    1    0    0   63   5.7    6  0.59
                 AGAINST  11     9     32    9    4    0    0    0   62   5.6   11  0.58
 
B.C.   11    99  FOR       7     9     24   12    5    1    0    0   67   6.1   14  0.68
                 AGAINST   9     7     25   11    2    2    1    0   66   6.0   13  0.67
 
NFLD   11    99  FOR       4    14     29    8    3    2    0    0   62   5.6   23  0.63
                 AGAINST  11    12     26   11    4    1    0    0   64   5.8   18  0.65
 
 
TOTAL  66   610  FOR     111   111    298  142   47   10    2    0  773   5.9  169  0.63
                 AGAINST 111   111    298  142   47   10    2    0  773   5.9  169  0.63
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1986 LABATT BRIER
                                     Kitchener/Waterloo
 
                                     TEAM WIN/LOSS GRID
 
 
        NONT  ALTA  N.B.  N.S.  MAN   ONT   QUE   TERR  PEI   SASK  B.C.  NFLD  
 
 
NONT     *     L     W     W     L     L     W     W     W     W     L     L  
 
 
ALTA     W     *     W     W     W     W     L     W     W     L     W     W  
 
 
N.B.     L     L     *     W     L     W     L     W     W     L     L     L  
 
 
N.S.     L     L     L     *     L     L     L     L     W     W     L     L  
 
 
MAN      W     L     W     W     *     L     L     W     W     L     L     W  
 
 
ONT      W     L     L     W     W     *     W     W     W     W     W     W  
 
 
QUE      L     W     W     W     W     L     *     L     W     L     W     L  
 
 
TERR     L     L     L     W     L     L     W     *     L     L     L     W  
 
 
PEI      L     L     L     L     L     L     L     W     *     L     L     L  
 
 
SASK     L     W     W     L     W     L     W     W     W     *     W     L  
 
 
B.C.     W     L     W     W     W     L     L     W     W     L     *     W  
 
 
NFLD     W     L     W     W     L     L     W     L     W     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1986 LABATT BRIER
                                     Kitchener/Waterloo
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ont (Harnden)               #SH   193  250  443   133  229  362   326  479  805
                                  PTS   576  733 1309   380  708 1088   956 1441 2397
                                  PCT    75   73   74    71   77   75    73   75   74
 
 1 Rick Elliott                   #SH    51   75  126    19   55   74    70  130  200
                                  PTS   160  243  403    57  177  234   217  420  637
                                  PCT    78   81   80    75   80   79    78   81   80
 
 2 Richard Evoy                   #SH    44   63  107    35   62   97    79  125  204
                                  PTS   130  191  321   118  192  310   248  383  631
                                  PCT    74   76   75    84   77   80    78   77   77
 
 3 Mike Coulter                   #SH    46   52   98    42   45   87    88   97  185
                                  PTS   135  132  267   124  120  244   259  252  511
                                  PCT    73   63   68    74   67   70    74   65   69
 
 4 Alan Harnden                   #SH    51   57  108    33   57   90    84  114  198
                                  PTS   151  159  310    73  179  252   224  338  562
                                  PCT    74   70   72    55   79   70    67   74   71
 
 5 Eric Harnden                   #SH     1    3    4     4   10   14     5   13   18
                                  PTS     0    8    8     8   40   48     8   48   56
                                  PCT     0   67   50    50  100   86    40   92   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Lukowich)             #SH   228  246  474   191  255  446   419  501  920
                                  PTS   721  814 1535   644  856 1500  1365 1670 3035
                                  PCT    79   83   81    84   84   84    81   83   82
 
 1 Brent Syme                     #SH    79   74  153    31   42   73   110  116  226
                                  PTS   272  260  532    98  137  235   370  397  767
                                  PCT    86   88   87    79   82   80    84   86   85
 
 2 Neil Houston                   #SH    50   47   97    57   68  125   107  115  222
                                  PTS   142  146  288   188  231  419   330  377  707
                                  PCT    71   78   74    82   85   84    77   82   80
 
 3 John Ferguson                  #SH    48   61  109    52   71  123   100  132  232
                                  PTS   155  191  346   180  237  417   335  428  763
                                  PCT    81   78   79    87   83   85    84   81   82
 
 4 Ed Lukowich                    #SH    48   57  105    51   74  125    99  131  230
                                  PTS   144  190  334   178  251  429   322  441  763
                                  PCT    75   83   80    87   85   86    81   84   83
 
 5 Wayne Hart                     #SH     3    7   10     0    0    0     3    7   10
                                  PTS     8   27   35     0    0    0     8   27   35
                                  PCT    67   96   88   ***  ***  ***    67   96   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Blanchard)               #SH   194  228  422   122  227  349   316  455  771
                                  PTS   500  625 1125   342  678 1020   842 1303 2145
                                  PCT    64   69   67    70   75   73    67   72   70
 
 1 Bill Oliver                    #SH    46   57  103    15   36   51    61   93  154
                                  PTS   125  164  289    46  106  152   171  270  441
                                  PCT    68   72   70    77   74   75    70   73   72
 
 2 Doug MacDonald                 #SH    41   62  103    32   68  100    73  130  203
                                  PTS   123  170  293    91  198  289   214  368  582
                                  PCT    75   69   71    71   73   72    73   71   72
 
 3 Norbert MacKinnon              #SH    51   59  110    30   64   94    81  123  204
                                  PTS   112  154  266    85  196  281   197  350  547
                                  PCT    55   65   60    71   77   75    61   71   67
 
 4 Wade Blanchard                 #SH    51   40   91    44   53   97    95   93  188
                                  PTS   122  102  224   116  158  274   238  260  498
                                  PCT    60   64   62    66   75   71    63   70   66
 
 5 Michael Blanchard              #SH     5   10   15     1    6    7     6   16   22
                                  PTS    18   35   53     4   20   24    22   55   77
                                  PCT    90   88   88   100   83   86    92   86   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Campbell)                #SH   183  223  406   110  322  432   293  545  838
                                  PTS   512  594 1106   311 1016 1327   823 1610 2433
                                  PCT    70   67   68    71   79   77    70   74   73
 
 1 Don Sweete                     #SH    50   60  110    19   77   96    69  137  206
                                  PTS   150  143  293    64  235  299   214  378  592
                                  PCT    75   60   67    84   76   78    78   69   72
 
 2 Michael Wilson                 #SH    39   60   99    32   83  115    71  143  214
                                  PTS   123  172  295    94  267  361   217  439  656
                                  PCT    79   72   74    73   80   78    76   77   77
 
 3 Guy LaRocque                   #SH    46   49   95    25   92  117    71  141  212
                                  PTS   117  133  250    69  310  379   186  443  629
                                  PCT    64   68   66    69   84   81    65   79   74
 
 4 Bill Campbell Jr.              #SH    48   54  102    34   70  104    82  124  206
                                  PTS   122  146  268    84  204  288   206  350  556
                                  PCT    64   68   66    62   73   69    63   71   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Riley)               #SH   186  225  411   184  256  440   370  481  851
                                  PTS   584  704 1288   583  791 1374  1167 1495 2662
                                  PCT    78   78   78    79   77   78    79   78   78
 
 1 Terry Henry                    #SH    51   72  123    31   58   89    82  130  212
                                  PTS   154  237  391    93  182  275   247  419  666
                                  PCT    75   82   79    75   78   77    75   81   79
 
 2 Russ Wookey                    #SH    45   50   95    45   76  121    90  126  216
                                  PTS   149  160  309   141  242  383   290  402  692
                                  PCT    83   80   81    78   80   79    81   80   80
 
 3 Brian Toews                    #SH    40   57   97    42   76  118    82  133  215
                                  PTS   130  175  305   139  241  380   269  416  685
                                  PCT    81   77   79    83   79   81    82   78   80
 
 4 Mike Riley                     #SH    50   46   96    66   46  112   116   92  208
                                  PTS   151  132  283   210  126  336   361  258  619
                                  PCT    76   72   74    80   68   75    78   70   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Howard)               #SH   213  261  474   248  250  498   461  511  972
                                  PTS   705  883 1588   811  822 1633  1516 1705 3221
                                  PCT    83   85   84    82   82   82    82   83   83
 
 1 Kent Carstairs                 #SH    58   85  143    55   44   99   113  129  242
                                  PTS   207  310  517   184  153  337   391  463  854
                                  PCT    89   91   90    84   87   85    87   90   88
 
 2 Tim Belcourt                   #SH    52   55  107    73   66  139   125  121  246
                                  PTS   178  188  366   231  205  436   409  393  802
                                  PCT    86   85   86    79   78   78    82   81   82
 
 3 Glenn Howard                   #SH    51   62  113    67   66  133   118  128  246
                                  PTS   158  192  350   222  225  447   380  417  797
                                  PCT    77   77   77    83   85   84    81   81   81
 
 4 Russ Howard                    #SH    52   59  111    53   74  127   105  133  238
                                  PTS   162  193  355   174  239  413   336  432  768
                                  PCT    78   82   80    82   81   81    80   81   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Hess)                  #SH   190  201  391   242  230  472   432  431  863
                                  PTS   633  633 1266   788  756 1544  1421 1389 2810
                                  PCT    83   79   81    81   82   82    82   81   81
 
 1 Don Reddick                    #SH    62   55  117    48   47   95   110  102  212
                                  PTS   224  176  400   147  155  302   371  331  702
                                  PCT    90   80   85    77   82   79    84   81   83
 
 2 Malcolm Turner                 #SH    44   38   82    65   71  136   109  109  218
                                  PTS   154  118  272   210  233  443   364  351  715
                                  PCT    88   78   83    81   82   81    83   81   82
 
 3 Kevin Adams                    #SH    41   52   93    62   64  126   103  116  219
                                  PTS   132  180  312   202  221  423   334  401  735
                                  PCT    80   87   84    81   86   84    81   86   84
 
 4 Gordon Hess                    #SH    43   56   99    67   48  115   110  104  214
                                  PTS   123  159  282   229  147  376   352  306  658
                                  PCT    72   71   71    85   77   82    80   74   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Schoenne)               #SH   203  225  428   141  204  345   344  429  773
                                  PTS   572  577 1149   412  570  982   984 1147 2131
                                  PCT    70   64   67    73   70   71    72   67   69
 
 1 Gerry Menard                   #SH    34   82  116    30   44   74    64  126  190
                                  PTS   105  231  336    88  109  197   193  340  533
                                  PCT    77   70   72    73   62   67    75   67   70
 
 2 Don Edl                        #SH    50   55  105    37   54   91    87  109  196
                                  PTS   145  164  309   105  172  277   250  336  586
                                  PCT    73   75   74    71   80   76    72   77   75
 
 3 Doug Bothamley                 #SH    54   52  106    32   58   90    86  110  196
                                  PTS   143  110  253    93  163  256   236  273  509
                                  PCT    66   53   60    73   70   71    69   62   65
 
 4 Klaus Schoenne                 #SH    65   36  101    42   48   90   107   84  191
                                  PTS   179   72  251   126  126  252   305  198  503
                                  PCT    69   50   62    75   66   70    71   59   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Somers)                #SH   241  207  448   215  162  377   456  369  825
                                  PTS   709  628 1337   658  475 1133  1367 1103 2470
                                  PCT    74   76   75    77   73   75    75   75   75
 
 1 Don Bourque                    #SH    81   46  127    50   33   83   131   79  210
                                  PTS   267  162  429   172   97  269   439  259  698
                                  PCT    82   88   84    86   73   81    84   82   83
 
 2 John MacWilliams               #SH    56   55  111    57   42   99   113   97  210
                                  PTS   169  172  341   193  122  315   362  294  656
                                  PCT    75   78   77    85   73   80    80   76   78
 
 3 Mel Bernard                    #SH    50   62  112    63   33   96   113   95  208
                                  PTS   126  167  293   180   89  269   306  256  562
                                  PCT    63   67   65    71   67   70    68   67   68
 
 4 Grant Somers                   #SH    54   44   98    45   54   99    99   98  197
                                  PTS   147  127  274   113  167  280   260  294  554
                                  PCT    68   72   70    63   77   71    66   75   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Muyres)                  #SH   197  268  465   194  288  482   391  556  947
                                  PTS   608  823 1431   618  979 1597  1226 1802 3028
                                  PCT    77   77   77    80   85   83    78   81   80
 
 1 Garth Muyres                   #SH    40   86  126    32   75  107    72  161  233
                                  PTS   149  298  447   104  272  376   253  570  823
                                  PCT    93   87   89    81   91   88    88   89   88
 
 2 Craig Muyres                   #SH    37   75  112    39   91  130    76  166  242
                                  PTS   125  268  393   108  314  422   233  582  815
                                  PCT    84   89   88    69   86   81    77   88   84
 
 3 Warren Muyres                  #SH    68   47  115    61   64  125   129  111  240
                                  PTS   194  122  316   198  220  418   392  342  734
                                  PCT    71   65   69    81   86   84    76   77   76
 
 4 Lyle Muyres                    #SH    52   60  112    62   58  120   114  118  232
                                  PTS   140  135  275   208  173  381   348  308  656
                                  PCT    67   56   61    84   75   79    76   65   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (McPhee)                  #SH   154  298  452   126  390  516   280  688  968
                                  PTS   449  899 1348   389 1246 1635   838 2145 2983
                                  PCT    73   75   75    77   80   79    75   78   77
 
 1 Dave Schleppe                  #SH    35  108  143    23   75   98    58  183  241
                                  PTS   110  347  457    69  252  321   179  599  778
                                  PCT    79   80   80    75   84   82    77   82   81
 
 2 Brian Eden                     #SH    35   59   94    35  117  152    70  176  246
                                  PTS   108  194  302   121  368  489   229  562  791
                                  PCT    77   82   80    86   79   80    82   80   80
 
 3 Robert Kuroyama                #SH    47   62  109    38   98  136    85  160  245
                                  PTS   138  178  316   124  327  451   262  505  767
                                  PCT    73   72   72    82   83   83    77   79   78
 
 4 Barry McPhee                   #SH    37   69  106    30  100  130    67  169  236
                                  PTS    93  180  273    75  299  374   168  479  647
                                  PCT    63   65   64    63   75   72    63   71   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Durant)                  #SH   167  283  450   120  247  367   287  530  817
                                  PTS   457  922 1379   356  730 1086   813 1652 2465
                                  PCT    68   81   77    74   74   74    71   78   75
 
 1 Dave Warren                    #SH    26   94  120    15   64   79    41  158  199
                                  PTS    83  326  409    47  196  243   130  522  652
                                  PCT    80   87   85    78   77   77    79   83   82
 
 2 Blake Fizzard                  #SH    34   77  111    35   64   99    69  141  210
                                  PTS   101  264  365    97  187  284   198  451  649
                                  PCT    74   86   82    69   73   72    72   80   77
 
 3 Fred Durant (S)                #SH    49   60  109    37   63  100    86  123  209
                                  PTS   130  184  314   112  180  292   242  364  606
                                  PCT    66   77   72    76   71   73    70   74   72
 
 4 Chris Hamelmann                #SH    58   52  110    33   56   89    91  108  199
                                  PTS   143  148  291   100  167  267   243  315  558
                                  PCT    62   71   66    76   75   75    67   73   70
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1986 LABATT BRIER
                                     Kitchener/Waterloo
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  69
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  9    N.B.  3  NONT 11
          DRAW 10    NFLD  0  ALTA 11
          DRAW 15    TERR  0  ONT  11
          DRAW 15    NONT 11  N.S.  4
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          DRAW 10    NFLD  0  ALTA 11
          DRAW 15    TERR  0  ONT  11
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  16
 
          DRAW  5    NONT 10  SASK  6
          DRAW 12    NFLD 10  N.S.  6
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  2    MAN   1  QUE   6
          DRAW  4    SASK  3  N.S.  4
          DRAW 13    PEI   2  QUE   5
          DRAW 18    ONT   3  ALTA  4
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW 11    N.B. 10  PEI   5    N.B. SCORED 5 IN THE 5TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW  2    ONT   9  B.C.  2    ONT  SCORED 5 IN THE 8TH END
 
MOST BLANK ENDS, ONE GAME:   7
 
          DRAW 13    PEI   2  QUE   5
 
NUMBER OF BLANK ENDS IN EVENT: 121
 
MOST BLANK ENDS ONE DRAW:  13
 
          DRAW 11
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   5
 
          DRAW 13    PEI   2  QUE   5    BY QUE  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW 10    NFLD  0  ALTA 11
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  7    TERR  4  NONT  9    BY NONT BEGINNING IN END 1
          DRAW 10    NFLD  0  ALTA 11    BY ALTA BEGINNING IN END 4
          DRAW 12    NFLD 10  N.S.  6    BY NFLD BEGINNING IN END 5
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:  11
 
          DRAW 10    NFLD  0  ALTA 11    BY ALTA
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 12    NFLD 10  N.S.  6    NFLD WAS DOWN 4 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:  12
 
MOST ENDS PLAYED IN ONE GAME:  12
 
          DRAW  8    QUE   5  SASK  6
          DRAW  9    N.S.  6  ALTA  7
 
FEWEST ENDS PLAYED IN ONE GAME:   4
 
          DRAW 15    TERR  0  ONT  11
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   7
 
          DRAW 10    NFLD  0  ALTA 11    BY NFLD
          DRAW 13    PEI   2  QUE   5    BY QUE 
  </div>
</div>
