<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                     1992 LABATTT BRIER
                                AGRIDOME REGINA, SASKATCHEWAN
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Don Bartlett                   ALTA  89 88 ** 85 93 ** 93 ** 86 ** 85 86 ** 96 98 96 **  91
 2 Brian Adams                    NONT  97 ** 94 93 88 ** ** 74 93 ** 98 73 90 92 ** ** 88  89
 3 Kerry Gudereit                 SASK  ** 80 85 84 84 ** 88 74 ** 78 ** 96 ** 99 79 ** 95  85
 4 Peter Corner                   ONT   83 78 ** 89 ** 93 ** 88 81 ** 82 86 79 96 ** 75 **  84
 5 Ed Fowler                      B.C.  89 ** 72 ** 86 78 86 ** 98 81 68 ** 82 ** 95 ** 65  82
 5 Clayton Ravndal                TERR  70 ** 83 ** 86 68 90 84 ** 98 ** 76 ** 81 86 ** 84  82
 + Geordie McGugan                N.B.  ** ** ** ** ** ** ** ** ** ** ** ** 81 ** ** ** **  81
 7 Sandy Foy                      PEI   77 88 ** 78 ** 78 ** 73 93 ** 66 86 92 70 ** ** 96  81
 8 Vance LeCocq                   N.S.  74 ** 75 ** 79 81 76 82 ** 88 84 ** 81 ** 85 ** **  80
 8 Louis Biron                    QUE   ** 74 75 80 ** 75 79 **100 52 83 ** 88 ** 87 ** 89  80
10 Don Rudd                       MAN   ** 91 69 ** 66 86 89 ** 76 81 ** 75 70 76 ** 69 **  77
10 Dave Coster                    N.B.  75 74 ** 75 79 ** ** 75 68 91 61 ** ** ** 92 ** 78  77
12 Neil Young                     NFLD  ** 69 70 75 ** 68 87 61 ** 71 ** 85 ** 81 69 90 **  75
 + Don Cutcliffe                  N.S.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 66  66
 
   SECONDS
 1 Wayne Middaugh                 ONT   96 75 ** 88 ** 68 ** 73 81 ** 94 86 81 94 ** 79 **  84
 2 Bob Novakowski                 SASK  ** 81 90 73 90 ** 80 81 ** 81 ** 80 ** 93 86 ** 83  83
 2 Dan Petryk                     ALTA  83 92 ** 83 88 ** 90 ** 83 ** 74 85 ** 87 86 65 **  83
 2 John Allan                     NFLD  ** 83 95 69 ** 94 91 79 ** 80 ** 80 ** 76 72 93 **  83
 5 Chris Neufeld                  MAN   ** 81 71 ** 90 82 86 ** 94 90 ** 70 83 74 ** 83 **  82
 6 Jeff Henderson                 N.S.  78 ** 74 ** 77 92 78 84 ** 77 75 ** 88 ** 90 ** **  81
 7 Andre Lafleur                  QUE   ** 88 83 79 ** 83 88 ** 68 77 79 ** 80 ** 73 ** 66  79
 8 Brian Perozak                  NONT  92 ** 85 69 83 ** ** 60 85 ** 64 78 73 84 ** ** 48  75
 9 Greg Monkman                   B.C.  86 ** 67 ** 74 50 81 ** 78 74 74 ** 82 ** 74 ** 63  74
10 Steve Van Dine                 TERR  75 ** 63 ** 79 68 78 84 ** 73 ** 66 ** 83 59 ** 80  73
11 Mike Coady                     PEI   67 90 ** 75 ** 49 ** 65 80 ** 70 67 84 66 ** ** 74  71
 + Vance LeCocq                   N.S.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 70  70
12 Tom Harris                     N.B.  67 51 ** 81 66 ** ** 76 54 78 65 ** 69 ** 53 ** 71  67
 
   THIRDS 
 1 Glenn Howard                   ONT   76 75 ** 88 ** 63 ** 86 85 ** 89 88 84100 ** 80 **  84
 2 Dan Carey                      MAN   ** 80 81 ** 94 86 85 ** 74 89 ** 78 76 76 ** 79 **  82
 3 Kevin Park                     ALTA  86 88 ** 79 78 ** 90 ** 78 ** 94 60 ** 78 83 81 **  81
 4 Bruce Lohnes                   N.S.  84 ** 78 ** 66 88 76 79 ** 80 78 ** 81 ** 86 ** **  80
 5 Daniel Lemery                  QUE   ** 91 79 61 ** 57 85 ** 75 75 86 ** 89 ** 85 ** 69  78
 + Jeff Henderson                 N.S.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 75  75
 6 Ron Thompson                   B.C.  70 ** 71 ** 90 90 71 ** 76 63 76 ** 71 ** 79 ** 68  74
 6 Larry Pineau                   NONT  64 ** 83 71 71 ** ** 68 71 ** 79 68 79 86 ** ** 66  74
 6 Warren Sharp                   SASK  ** 82 76 61 76 ** 60 70 ** 80 ** 80 ** 86 63 ** 79  74
 9 Bill MacFadyen                 PEI   69 76 ** 73 ** 58 ** 71 75 ** 65 73 77 70 ** ** 78  71
 9 Derek Elkin                    TERR  61 ** 64 ** 75 66 76 74 ** 63 ** 71 ** 70 70 ** 84  71
11 Brad Fitzherbert               N.B.  75 61 ** 71 55 ** ** 79 69 71 74 ** 75 ** 61 ** 69  70
12 Geoff Cunningham               NFLD  ** 66 84 66 ** 66 75 56 ** 57 ** 67 ** 70 83 71 **  69
 
   SKIPS  
 1 Vic Peters                     MAN   ** 97 72 ** 90 84 63 ** 80 94 ** 81 86 66 ** 82 **  81
 1 Kevin Martin                   ALTA  85 89 ** 84 88 ** 84 **100 ** 82 78 ** 74 81 53 **  81
 1 Russ Howard                    ONT   95 75 ** 67 ** 50 ** 84 83 ** 81 92 79 86 ** 80 **  81
 4 Brad Hebert                    SASK  ** 70 89 78 69 ** 87 80 ** 86 ** 73 ** 69 79 ** 80  78
 5 Jim Armstrong                  B.C.  77 ** 84 ** 76 95 79 ** 74 47 78 ** 81 ** 81 ** 78  77
 6 Ted Butler                     QUE   ** 92 82 62 ** 75 84 ** 57 91 67 ** 86 ** 83 ** 57  76
 7 Glenn Goss                     NFLD  ** 61 78 92 ** 66 75 57 ** 70 ** 74 ** 80 79 80 **  74
 8 Steve Moss                     TERR  85 ** 70 ** 70 63 76 68 ** 63 ** 74 ** 69 76 ** 79  72
 8 Mike Kennedy                   N.B.  76 59 ** 80 59 ** ** 78 70 65 78 ** 84 ** 64 ** 75  72
 8 Ted MacFadyen                  PEI   58 75 ** 99 ** 60 ** 82 62 ** 76 61 80 69 ** ** 71  72
 8 Al Hackner                     NONT  75 ** 74 78 64 ** ** 58 58 ** 83 67 79 66 ** ** 93  72
12 Dave Jones                     N.S.  71 ** 60 ** 86 76 64 52 ** 83 65 ** 58 ** 58 ** 60  67
 
   TEAMS
 1 Alberta (Martin)                     86 89 ** 82 86 ** 89 ** 87 ** 83 77 ** 84 87 74 **  84
 2 Ontario (Howard)                     88 76 ** 83 ** 68 ** 83 83 ** 87 88 81 94 ** 79 **  83
 3 Manitoba (Peters)                    ** 87 74 ** 85 84 81 ** 81 88 ** 76 79 73 ** 78 **  81
 4 Sask (Hebert)                        ** 79 85 74 80 ** 79 76 ** 81 ** 82 ** 87 77 ** 84  80
 5 Quebec (Butler)                      ** 86 79 71 ** 73 84 ** 75 74 79 ** 86 ** 82 ** 71  78
 6 N. Ont (Hackner)                     82 ** 84 78 77 ** ** 65 77 ** 81 71 80 82 ** ** 73  77
 6 B.C. (Armstrong)                     81 ** 73 ** 81 78 79 ** 81 67 74 ** 79 ** 82 ** 68  77
 6 Nova Scotia (Jones)                  77 ** 72 ** 77 84 74 74 ** 82 76 ** 77 ** 80 ** 68  77
 9 NFLD (Goss)                          ** 70 82 75 ** 74 82 63 ** 70 ** 76 ** 77 76 84 **  75
10 Y/NWT (Moss)                         73 ** 70 ** 77 66 80 78 ** 74 ** 72 ** 76 73 ** 82  74
10 P.E.I. (MacFadyen)                   68 83 ** 81 ** 61 ** 72 78 ** 69 72 83 69 ** ** 80  74
12 N.B. (Kennedy)                       73 61 ** 77 65 ** ** 77 65 77 70 ** 77 ** 67 ** 73  71
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                     1992 LABATTT BRIER
                                AGRIDOME REGINA, SASKATCHEWAN
 
                                    PLUS/MINUS STATISTICS
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Brian Adams                    NONT   +  *  +  +  -  *  *  +  +  *  +  0  +  +  *  *  +  +8
Don Bartlett                   ALTA   +  0  *  +  +  *  +  *  -  *  0  -  *  +  +  +  *  +5
Peter Corner                   ONT    -  0  *  +  *  +  *  +  -  *  0  +  +  0  *  -  *  +2
Kerry Gudereit                 SASK   *  +  +  -  +  *  0  0  *  -  *  +  *  0  -  *  +  +2
Ed Fowler                      B.C.   +  *  0  *  0  -  -  *  +  +  0  *  -  *  +  *  -   0
Sandy Foy                      PEI    -  0  *  -  *  0  *  0  +  *  0  0  +  -  *  *  +   0
Louis Biron                    QUE    *  -  -  +  *  0  -  *  +  -  0  *  +  *  0  *  +   0
Clayton Ravndal                TERR   0  *  +  *  0  0  0  +  *  +  *  -  *  -  -  *  -  -1
Don Rudd                       MAN    *  +  -  *  -  +  +  *  -  -  *  0  -  +  *  -  *  -2
Vance LeCocq                   N.S.   0  *  0  *  0  -  -  -  *  +  0  *  -  *  0  *  *  -3
Dave Coster                    N.B.   -  0  *  -  0  *  *  -  -  +  -  *  *  *  +  *  -  -4
Neil Young                     NFLD   *  -  -  -  *  0  +  -  *  -  *  0  *  -  -  +  *  -5
 
SECONDS
John Allan                     NFLD   *  0  +  -  *  +  +  +  *  +  *  +  *  -  +  +  *  +6
Jeff Henderson                 N.S.   0  *  +  *  +  +  -  +  *  0  0  *  0  *  +  *  *  +4
Wayne Middaugh                 ONT    +  +  *  +  *  +  *  -  0  *  +  +  0  0  *  -  *  +4
Dan Petryk                     ALTA   -  0  *  0  +  *  +  *  +  *  0  +  *  +  +  -  *  +4
Chris Neufeld                  MAN    *  0  +  *  0  -  0  *  +  +  *  -  0  +  *  +  *  +3
Andre Lafleur                  QUE    *  +  0  +  *  +  0  *  -  0  -  *  +  *  -  *  0  +1
Bob Novakowski                 SASK   *  -  -  0  0  *  0  +  *  0  *  -  *  0  +  *  +   0
Steve Van Dine                 TERR   0  *  -  *  +  -  0  +  *  0  *  -  *  0  -  *  +  -1
Brian Perozak                  NONT   +  *  0  0  -  *  *  -  0  *  0  +  -  0  *  *  -  -2
Greg Monkman                   B.C.   +  *  -  *  -  -  -  *  -  -  0  *  +  *  -  *  0  -5
Mike Coady                     PEI    -  0  *  -  *  -  *  -  +  *  0  -  0  -  *  *  -  -6
Tom Harris                     N.B.   -  -  *  0  -  *  *  -  -  -  0  *  -  *  -  *  -  -9
 
THIRDS 
Kevin Park                     ALTA   +  +  *  +  +  *  +  *  0  *  +  -  *  +  +  0  *  +7
Glenn Howard                   ONT    -  +  *  +  *  -  *  +  +  *  0  +  +  +  *  +  *  +6
Dan Carey                      MAN    *  +  +  *  +  0  0  *  0  +  *  +  -  +  *  0  *  +5
Daniel Lemery                  QUE    *  +  0  -  *  0  0  *  0  +  0  *  +  *  0  *  0  +2
Ron Thompson                   B.C.   -  *  -  *  +  +  -  *  0  +  +  *  -  *  +  *  0  +1
Bruce Lohnes                   N.S.   +  *  +  *  +  0  0  -  *  0  -  *  0  *  0  *  *  +1
Larry Pineau                   NONT   -  *  0  +  -  *  *  +  -  *  +  -  +  +  *  *  -   0
Bill MacFadyen                 PEI    +  -  *  -  *  0  *  0  +  *  -  +  0  -  *  *  -  -2
Geoff Cunningham               NFLD   *  -  +  +  *  0  0  -  *  -  *  -  *  -  +  -  *  -3
Warren Sharp                   SASK   *  -  -  -  -  *  -  0  *  0  *  +  *  -  -  *  +  -5
Derek Elkin                    TERR   -  *  -  *  -  0  +  -  *  -  *  -  *  -  -  *  +  -6
Brad Fitzherbert               N.B.   +  -  *  -  -  *  *  +  -  -  -  *  -  *  -  *  -  -7
 
SKIPS  
Vic Peters                     MAN    *  +  0  *  +  +  -  *  +  +  *  +  +  0  *  +  *  +7
Russ Howard                    ONT    +  +  *  -  *  -  *  +  +  *  +  +  -  +  *  0  *  +4
Kevin Martin                   ALTA   -  +  *  0  +  *  +  *  +  *  +  +  *  -  +  -  *  +4
Glenn Goss                     NFLD   *  -  -  +  *  0  +  0  *  +  *  +  *  +  +  0  *  +4
Ted Butler                     QUE    *  +  +  -  *  +  +  *  -  +  -  *  0  *  +  *  -  +2
Jim Armstrong                  B.C.   0  *  +  *  +  +  -  *  -  -  0  *  0  *  0  *  +  +1
Al Hackner                     NONT   +  *  -  0  -  *  *  0  -  *  +  -  0  0  *  *  +  -1
Brad Hebert                    SASK   *  -  +  0  -  *  +  0  *  0  *  -  *  -  0  *  +  -1
Mike Kennedy                   N.B.   0  -  *  0  -  *  *  +  +  -  -  *  0  *  -  *  -  -4
Steve Moss                     TERR   +  *  0  *  -  0  -  -  *  -  *  -  *  0  -  *  +  -4
Ted MacFadyen                  PEI    -  -  *  +  *  -  *  0  -  *  0  -  +  0  *  *  -  -4
Dave Jones                     N.S.   -  *  -  *  +  -  -  -  *  0  -  *  -  *  -  *  -  -8
 
   TEAMS
Alberta (Martin)                      0  +  *  +  +  *  +  *  +  *  +  -  *  +  +  0  *  +7
Manitoba (Peters)                     *  +  0  *  +  0  0  *  0  +  *  +  0  0  *  0  *  +4
Ontario (Howard)                      0  +  *  0  *  -  *  +  +  *  +  +  0  +  *  -  *  +4
B.C. (Armstrong)                      +  *  0  *  0  +  -  *  0  0  +  *  0  *  +  *  0  +3
NFLD (Goss)                           *  -  0  0  *  +  +  0  *  0  *  0  *  -  +  +  *  +2
N. Ont (Hackner)                      +  *  +  0  -  *  *  0  -  *  +  -  0  +  *  *  +  +2
Quebec (Butler)                       *  +  -  0  *  +  0  *  -  0  -  *  +  *  0  *  0   0
P.E.I. (MacFadyen)                    -  -  *  0  *  -  *  0  +  *  -  0  +  0  *  *  0  -2
Sask (Hebert)                         *  -  0  0  -  *  0  0  *  0  *  +  *  -  -  *  +  -2
Nova Scotia (Jones)                   0  *  0  *  +  0  -  -  *  0  -  *  -  *  0  *  -  -4
Y/NWT (Moss)                          0  *  0  *  0  -  0  0  *  0  *  -  *  -  -  *  0  -4
N.B. (Kennedy)                        -  -  *  -  -  *  *  0  -  -  -  *  -  *  -  *  - -10
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                     1992 LABATTT BRIER
                                AGRIDOME REGINA, SASKATCHEWAN
 
                                      SCORING ANALYSIS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   102  FOR      10     7     21   13    4    1    0    0   63   5.7    8  0.62
                 AGAINST  17     6     27    6    3    0    0    0   48   4.4    6  0.47
 
B.C.   11   102  FOR      10    11     27   11    5    1    0    0   68   6.2   17  0.67
                 AGAINST   5     9     25   17    1    0    0    0   62   5.6   11  0.61
 
MAN    11   105  FOR      14     9     24   11    5    0    0    0   61   5.5   11  0.58
                 AGAINST  16     6     26    7    2    0    0    0   46   4.2    6  0.44
 
N.B.   11   101  FOR       9     2     18   12    4    0    0    0   54   4.9    4  0.53
                 AGAINST  14    12     21   18    3    2    0    0   74   6.7   17  0.73
 
NFLD   11   104  FOR       9     9     27   14    3    0    0    0   64   5.8   10  0.62
                 AGAINST   6     8     31    7    6    1    0    0   67   6.1   12  0.64
 
NONT   11    99  FOR       4    16     38    9    2    1    0    0   66   6.0   20  0.67
                 AGAINST  10     3     19   13    3    0    0    0   54   4.9    5  0.55
 
N.S.   11    94  FOR      13     6     20    6    0    1    0    0   36   3.3    7  0.38
                 AGAINST  14    17     20   16    4    0    0    0   64   5.8   25  0.68
 
ONT    11    94  FOR      14    14     25   11    3    0    0    0   56   5.1   20  0.60
                 AGAINST  11     6     23    5    1    1    0    0   40   3.6    8  0.43
 
PEI    11   103  FOR      19    11     32    6    2    0    0    0   50   4.5   14  0.49
                 AGAINST   9     8     19   12    4    0    0    0   55   5.0   10  0.53
 
QUE    11    94  FOR       8     5     15   18    5    0    0    0   66   6.0    6  0.70
                 AGAINST   8     6     28    9    3    0    0    0   55   5.0    7  0.59
 
SASK   11   105  FOR      14     8     24   12    2    0    0    0   54   4.9   11  0.51
                 AGAINST  14     7     23   14    2    0    0    0   57   5.2    8  0.54
 
TERR   11   105  FOR      17     7     20   10    0    0    0    0   40   3.6    7  0.38
                 AGAINST  17    17     29    9    3    0    0    0   56   5.1   20  0.53
 
 
TOTAL  66   604  FOR     141   105    291  133   35    4    0    0  678   5.1  135  0.56
                 AGAINST 141   105    291  133   35    4    0    0  678   5.1  135  0.56
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                     1992 LABATTT BRIER
                                AGRIDOME REGINA, SASKATCHEWAN
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     W     L     W     L     W     W     L     W     W     W     W  
 
 
B.C.     L     *     L     W     L     L     W     W     L     W     W     L  
 
 
MAN      W     W     *     W     W     W     W     W     L     L     W     W  
 
 
N.B.     L     L     L     *     L     W     L     L     W     L     L     W  
 
 
NFLD     W     W     L     W     *     L     W     L     L     W     L     W  
 
 
NONT     L     W     L     L     W     *     W     L     W     L     W     W  
 
 
N.S.     L     L     L     W     L     L     *     L     L     L     L     L  
 
 
ONT      W     L     L     W     W     W     W     *     L     W     W     W  
 
 
PEI      L     W     W     L     W     L     W     W     *     L     L     L  
 
 
QUE      L     L     W     W     L     W     W     L     W     *     W     W  
 
 
SASK     L     L     L     W     W     L     W     L     W     L     *     W  
 
 
TERR     L     W     L     L     L     L     W     L     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                     1992 LABATTT BRIER
                                AGRIDOME REGINA, SASKATCHEWAN
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Martin)               #SH   188  246  434   276  183  459   464  429  893
                                  PTS   591  854 1445   939  607 1546  1530 1461 2991
                                  PCT    79   87   83    85   83   84    82   85   84
 
 1 Don Bartlett                   #SH    44   79  123    62   30   92   106  109  215
                                  PTS   160  301  461   227   98  325   387  399  786
                                  PCT    91   95   94    92   82   88    91   92   91
 
 2 Dan Petryk                     #SH    39   60   99    73   55  128   112  115  227
                                  PTS   118  192  310   260  185  445   378  377  755
                                  PCT    76   80   78    89   84   87    84   82   83
 
 3 Kevin Park                     #SH    52   62  114    67   47  114   119  109  228
                                  PTS   156  210  366   210  158  368   366  368  734
                                  PCT    75   85   80    78   84   81    77   84   80
 
 4 Kevin Martin                   #SH    53   45   98    74   51  125   127   96  223
                                  PTS   157  151  308   242  166  408   399  317  716
                                  PCT    74   84   79    82   81   82    79   83   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Armstrong)               #SH   168  206  374   180  268  448   348  474  822
                                  PTS   540  633 1173   566  785 1351  1106 1418 2524
                                  PCT    80   77   78    79   73   75    79   75   77
 
 1 Ed Fowler                      #SH    37   72  109    34   59   93    71  131  202
                                  PTS   133  238  371   119  174  293   252  412  664
                                  PCT    90   83   85    88   74   79    89   79   82
 
 2 Greg Monkman                   #SH    44   45   89    48   71  119    92  116  208
                                  PTS   140  128  268   144  205  349   284  333  617
                                  PCT    80   71   75    75   72   73    77   72   74
 
 3 Ron Thompson                   #SH    43   50   93    47   70  117    90  120  210
                                  PTS   126  144  270   144  210  354   270  354  624
                                  PCT    73   72   73    77   75   76    75   74   74
 
 4 Jim Armstrong                  #SH    44   39   83    51   68  119    95  107  202
                                  PTS   141  123  264   159  196  355   300  319  619
                                  PCT    80   79   80    78   72   75    79   75   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Peters)              #SH   105  217  322   205  412  617   310  629  939
                                  PTS   326  691 1017   671 1346 2017   997 2037 3034
                                  PCT    78   80   79    82   82   82    80   81   81
 
 1 Don Rudd                       #SH    15   67   82    49   91  140    64  158  222
                                  PTS    47  212  259   143  295  438   190  507  697
                                  PCT    78   79   79    73   81   78    74   80   78
 
 2 Chris Neufeld                  #SH    34   38   72    59  110  169    93  148  241
                                  PTS   107  121  228   202  362  564   309  483  792
                                  PCT    79   80   79    86   82   83    83   82   82
 
 3 Dan Carey                      #SH    31   49   80    60  102  162    91  151  242
                                  PTS   100  159  259   203  321  524   303  480  783
                                  PCT    81   81   81    85   79   81    83   79   81
 
 4 Vic Peters                     #SH    25   63   88    37  109  146    62  172  234
                                  PTS    72  199  271   123  368  491   195  567  762
                                  PCT    72   79   77    83   84   84    79   82   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Kennedy)                 #SH   185  194  379   230  222  452   415  416  831
                                  PTS   532  568 1100   673  601 1274  1205 1169 2374
                                  PCT    72   73   73    73   68   70    73   70   71
 
 1 Dave Coster                    #SH    51   55  106    38   40   78    89   95  184
                                  PTS   172  188  360   111   94  205   283  282  565
                                  PCT    84   85   85    73   59   66    79   74   77
 
 2 Tom Harris                     #SH    53   39   92    59   61  120   112  100  212
                                  PTS   143   99  242   171  153  324   314  252  566
                                  PCT    67   63   66    72   63   68    70   63   67
 
 3 Brad Fitzherbert               #SH    35   48   83    71   56  127   106  104  210
                                  PTS    88  130  218   197  170  367   285  300  585
                                  PCT    63   68   66    69   76   72    67   72   70
 
 4 Mike Kennedy                   #SH    42   46   88    60   57  117   102  103  205
                                  PTS   117  128  245   188  160  348   305  288  593
                                  PCT    70   70   70    78   70   74    75   70   72
 
 5 Geordie McGugan                #SH     4    6   10     2    8   10     6   14   20
                                  PTS    12   23   35     6   24   30    18   47   65
                                  PCT    75   96   88    75   75   75    75   84   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Goss)                    #SH   271  249  520   204  132  336   475  381  856
                                  PTS   824  773 1597   605  380  985  1429 1153 2582
                                  PCT    76   78   77    74   72   73    75   76   75
 
 1 Neil Young                     #SH    81   54  135    49   29   78   130   83  213
                                  PTS   258  160  418   152   73  225   410  233  643
                                  PCT    80   74   77    78   63   72    79   70   75
 
 2 John Allan                     #SH    65   66  131    50   37   87   115  103  218
                                  PTS   207  236  443   161  119  280   368  355  723
                                  PCT    80   89   85    81   80   80    80   86   83
 
 3 Geoff Cunningham               #SH    67   63  130    58   30   88   125   93  218
                                  PTS   188  173  361   158   85  243   346  258  604
                                  PCT    70   69   69    68   71   69    69   69   69
 
 4 Glenn Goss                     #SH    58   66  124    47   36   83   105  102  207
                                  PTS   171  204  375   134  103  237   305  307  612
                                  PCT    74   77   76    71   72   71    73   75   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ont (Hackner)               #SH   273  248  521   139  159  298   412  407  819
                                  PTS   857  782 1639   425  469  894  1282 1251 2533
                                  PCT    78   79   79    76   74   75    78   77   77
 
 1 Brian Adams                    #SH    92   55  147    35   21   56   127   76  203
                                  PTS   343  197  540   110   71  181   453  268  721
                                  PCT    93   90   92    79   85   81    89   88   89
 
 2 Brian Perozak                  #SH    63   69  132    35   41   76    98  110  208
                                  PTS   197  209  406   104  114  218   301  323  624
                                  PCT    78   76   77    74   70   72    77   73   75
 
 3 Larry Pineau                   #SH    53   69  122    31   55   86    84  124  208
                                  PTS   152  218  370    90  153  243   242  371  613
                                  PCT    72   79   76    73   70   71    72   75   74
 
 4 Al Hackner                     #SH    65   55  120    38   42   80   103   97  200
                                  PTS   165  158  323   121  131  252   286  289  575
                                  PCT    63   72   67    80   78   79    69   74   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Jones)            #SH   219  259  478   112  182  294   331  441  772
                                  PTS   651  846 1497   315  557  872   966 1403 2369
                                  PCT    74   82   78    70   77   74    73   80   77
 
 1 Vance LeCocq                   #SH    63   76  139    21   34   55    84  110  194
                                  PTS   188  259  447    61  109  170   249  368  617
                                  PCT    75   85   80    73   80   77    74   84   80
 
 2 Jeff Henderson                 #SH    59   61  120    22   54   76    81  115  196
                                  PTS   197  204  401    62  171  233   259  375  634
                                  PCT    83   84   84    70   79   77    80   82   81
 
 3 Bruce Lohnes                   #SH    55   61  116    27   39   66    82  100  182
                                  PTS   164  215  379    80  124  204   244  339  583
                                  PCT    75   88   82    74   79   77    74   85   80
 
 4 Dave Jones                     #SH    38   57   95    37   54   91    75  111  186
                                  PTS    93  156  249   100  149  249   193  305  498
                                  PCT    61   68   66    68   69   68    64   69   67
 
 5 Don Cutcliffe                  #SH     4    4    8     5    1    6     9    5   14
                                  PTS     9   12   21    12    4   16    21   16   37
                                  PCT    56   75   66    60  100   67    58   80   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Howard)               #SH   172  214  386   230  311  541   402  525  927
                                  PTS   562  712 1274   758 1060 1818  1320 1772 3092
                                  PCT    82   83   83    82   85   84    82   84   83
 
 1 Peter Corner                   #SH    46   62  108    51   60  111    97  122  219
                                  PTS   157  216  373   164  203  367   321  419  740
                                  PCT    85   87   86    80   85   83    83   86   84
 
 2 Wayne Middaugh                 #SH    34   63   97    67   73  140   101  136  237
                                  PTS   113  207  320   227  252  479   340  459  799
                                  PCT    83   82   82    85   86   86    84   84   84
 
 3 Glenn Howard                   #SH    53   41   94    65   81  146   118  122  240
                                  PTS   178  145  323   219  266  485   397  411  808
                                  PCT    84   88   86    84   82   83    84   84   84
 
 4 Russ Howard                    #SH    39   48   87    47   97  144    86  145  231
                                  PTS   114  144  258   148  339  487   262  483  745
                                  PCT    73   75   74    79   87   85    76   83   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (MacFadyen)             #SH   178  203  381   223  221  444   401  424  825
                                  PTS   541  586 1127   630  682 1312  1171 1268 2439
                                  PCT    76   72   74    71   77   74    73   75   74
 
 1 Sandy Foy                      #SH    58   54  112    46   47   93   104  101  205
                                  PTS   200  163  363   147  155  302   347  318  665
                                  PCT    86   75   81    80   82   81    83   79   81
 
 2 Mike Coady                     #SH    36   56   92    63   55  118    99  111  210
                                  PTS    97  175  272   171  157  328   268  332  600
                                  PCT    67   78   74    68   71   69    68   75   71
 
 3 Bill MacFadyen                 #SH    41   58   99    59   52  111   100  110  210
                                  PTS   112  164  276   151  172  323   263  336  599
                                  PCT    68   71   70    64   83   73    66   76   71
 
 4 Ted MacFadyen                  #SH    43   35   78    55   67  122    98  102  200
                                  PTS   132   84  216   161  198  359   293  282  575
                                  PCT    77   60   69    73   74   74    75   69   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Butler)                #SH   142  204  346   183  259  442   325  463  788
                                  PTS   390  656 1046   562  861 1423   952 1517 2469
                                  PCT    69   80   76    77   83   80    73   82   78
 
 1 Louis Biron                    #SH    27   68   95    41   58   99    68  126  194
                                  PTS    93  227  320   124  178  302   217  405  622
                                  PCT    86   83   84    76   77   76    80   80   80
 
 2 Andre Lafleur                  #SH    32   46   78    49   75  124    81  121  202
                                  PTS    88  140  228   157  252  409   245  392  637
                                  PCT    69   76   73    80   84   82    76   81   79
 
 3 Daniel Lemery                  #SH    41   44   85    43   74  117    84  118  202
                                  PTS   105  146  251   125  253  378   230  399  629
                                  PCT    64   83   74    73   85   81    68   85   78
 
 4 Ted Butler                     #SH    42   46   88    50   52  102    92   98  190
                                  PTS   104  143  247   156  178  334   260  321  581
                                  PCT    62   78   70    78   86   82    71   82   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Hebert)                  #SH   168  226  394   178  275  453   346  501  847
                                  PTS   563  756 1319   549  848 1397  1112 1604 2716
                                  PCT    84   84   84    77   77   77    80   80   80
 
 1 Kerry Gudereit                 #SH    34   91  125    20   67   87    54  158  212
                                  PTS   132  323  455    65  205  270   197  528  725
                                  PCT    97   89   91    81   76   78    91   84   85
 
 2 Bob Novakowski                 #SH    43   52   95    47   72  119    90  124  214
                                  PTS   143  181  324   141  249  390   284  430  714
                                  PCT    83   87   85    75   86   82    79   87   83
 
 3 Warren Sharp                   #SH    48   43   91    48   74  122    96  117  213
                                  PTS   152  129  281   139  207  346   291  336  627
                                  PCT    79   75   77    72   70   71    76   72   74
 
 4 Brad Hebert                    #SH    43   40   83    63   62  125   106  102  208
                                  PTS   136  123  259   204  187  391   340  310  650
                                  PCT    79   77   78    81   75   78    80   76   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Moss)                   #SH   209  172  381   237  237  474   446  409  855
                                  PTS   671  520 1191   688  667 1355  1359 1187 2546
                                  PCT    80   76   78    73   70   71    76   73   74
 
 1 Clayton Ravndal                #SH    76   41  117    40   56   96   116   97  213
                                  PTS   272  135  407   126  164  290   398  299  697
                                  PCT    89   82   87    79   73   76    86   77   82
 
 2 Steve Van Dine                 #SH    41   43   84    73   61  134   114  104  218
                                  PTS   139  138  277   213  148  361   352  286  638
                                  PCT    85   80   82    73   61   67    77   69   73
 
 3 Derek Elkin                    #SH    50   41   91    65   62  127   115  103  218
                                  PTS   134  114  248   169  198  367   303  312  615
                                  PCT    67   70   68    65   80   72    66   76   71
 
 4 Steve Moss                     #SH    42   47   89    59   58  117   101  105  206
                                  PTS   126  133  259   180  157  337   306  290  596
                                  PCT    75   71   73    76   68   72    76   69   72
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                     1992 LABATTT BRIER
                                AGRIDOME REGINA, SASKATCHEWAN
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  68
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  10
 
          DRAW  4    N.B.  8  ALTA 10
          DRAW  5    N.S. 10  N.B.  3
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    ONT   3  ALTA  1
          DRAW  6    B.C.  8  ONT   1
          DRAW  8    TERR  1  N.B.  3
          DRAW  8    N.S.  1  ONT   7
          DRAW 17    N.S.  1  NONT  8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW  4    N.B.  8  ALTA 10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   4
 
          DRAW  1    ONT   3  ALTA  1
          DRAW  8    TERR  1  N.B.  3
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  4    N.B.  8  ALTA 10    ALTA SCORED 4 IN THE 7TH END
          DRAW  5    N.S. 10  N.B.  3    N.S. SCORED 4 IN THE 4TH END
          DRAW  6    B.C.  8  ONT   1    B.C. SCORED 4 IN THE FIRST END
          DRAW  8    NONT  9  NFLD  4    NONT SCORED 4 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  2    N.B.  4  ONT   9    ONT  SCORED 3 IN THE 8TH END
          DRAW  7    SASK  6  TERR  5    SASK SCORED 3 IN THE 5TH END
          DRAW  9    N.B.  7  PEI   5    N.B. SCORED 3 IN THE THIRD END
          DRAW 10    NFLD  8  B.C.  6    B.C. SCORED 3 IN THE FIRST END
          DRAW 13    N.S.  2  PEI   8    PEI  SCORED 3 IN THE 4TH END
          DRAW 16    ONT   8  NFLD  4    ONT  SCORED 3 IN THE SECOND END
          DRAW 17    N.S.  1  NONT  8    NONT SCORED 3 IN THE 5TH END
 
MOST BLANK ENDS, ONE GAME:   7
 
          DRAW  1    ONT   3  ALTA  1
 
NUMBER OF BLANK ENDS IN EVENT: 147
 
MOST BLANK ENDS ONE DRAW:  13
 
          DRAW  1
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  1    ONT   3  ALTA  1    BY ONT  BEGINNING IN END 1
          DRAW  4    ONT   2  PEI   5    BY PEI  BEGINNING IN END 5
          DRAW 17    PEI   3  TERR  4    BY PEI  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  8    N.S.  1  ONT   7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  2    N.B.  4  ONT   9    BY ONT  BEGINNING IN END 7
          DRAW  8    N.S.  1  ONT   7    BY ONT  BEGINNING IN END 5
          DRAW 13    N.S.  2  PEI   8    BY PEI  BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  8    N.S.  1  ONT   7    BY ONT 
          DRAW 13    N.S.  2  PEI   8    BY PEI 
          DRAW 17    N.S.  1  NONT  8    BY NONT
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  4    N.B.  8  ALTA 10    ALTA WAS DOWN 4 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   6
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    B.C.  7  N.B.  6
          DRAW  1    TERR  5  N.S.  4
          DRAW  6    MAN   4  N.S.  3
          DRAW 12    PEI   7  NFLD  6
          DRAW 15    TERR  3  ALTA  4
          DRAW 19    MAN   4  ONT   3
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW  6    B.C.  8  ONT   1
          DRAW  9    ALTA  8  QUE   2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  1    ONT   3  ALTA  1    BY ONT 
          DRAW  8    TERR  1  N.B.  3    BY TERR
          DRAW  8    PEI   3  SASK  5    BY PEI 
          DRAW 13    N.S.  2  PEI   8    BY N.S.
          DRAW 14    NONT  5  TERR  2    BY TERR
  </div>
</div>
