<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            2001 Canadian Curling Trials - Women
                                     Women's Competition
                                         Regina, SK
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 AVG
   LEADS  
 1 Diane Nelson                   LAW   93 93 93 95 87 90 81 86 85  89
 2 Denise Martin                  FOW   89 89 86 85 79 86 86 73 88  85
 3 Sheri Cordina                  MID   78 81 93 81 86 82 87 93 75  84
 4 Valerie Grenier                LAR   78 78 74 90 90 74 83 88 85  82
 4 Kate Horne                     KIN   72 83 81 82 91 86 83 85 78  82
 6 Nancy Delahunt                 JON   71 78 70 85 90 88 95 90 70  81
 6 Donna Gignac                   AND   78 74 72 85 83 83 79 87 89  81
 6 Patty Bell                     HOL   73 74 68 88 85 83 84 86 88  81
 9 Christine Jurgenson            FRA   72 76 73 69 77 83 96 90 84  80
10 Joan Stricker                  RID   80 83 78 66 82 89 76 83 74  79
 
   SECONDS
 1 Bronwen Saunders               FOW   85 85 85 79 85 86 85 81 86  84
 1 Corie Beveridge                FRA   79 74 79 78 77 96 98 88 91  84
 3 Georgina Wheatcroft            LAW   88 80 86 93 83 66 80 84 91  83
 3 Mary-Anne Waye                 JON   73 84 84 95 89 95 69 85 79  83
 5 Sandra Mulroney                AND   80 66 83 89 74 81 85 78 80  80
 6 Andrea Lawes                   MID   75 71 74 81 89 68 91 84 79  79
 6 Brenda Bohmer                  KIN   68 68 93 82 89 77 81 70 85  79
 8 Karen Purdy                    HOL   59 88 69 71 93 81 84 85 71  78
 8 Roberta Materi                 RID   74 88 69 69 68 86 85 81 79  78
10 Annie Lemay                    LAR   74 81 73 66 81 80 85 76 74  77
 
   THIRDS 
 1 Julie Skinner                  LAW   81 91 91 78 79 74 89 78 88  83
 2 Kim Hodson                     AND   73 85 88 74 79 85 79 88 88  82
 2 Kim Kelly                      JON   74 73 90 86 90 84 81 89 71  82
 4 Janet Brown                    MID   88 84 84 79 83 71 89 76 70  81
 5 Diane McLean                   FRA   70 65 78 78 77 89 82 93 86  79
 5 Carolyn Darbyshire             FOW   69 70 75 90 78 95 85 78 79  79
 7 Kay Montgomery                 HOL   64 84 71 80 86 79 75 79 81  78
 8 Lorie Kehler                   RID   84 79 77 71 74 79 81 74 73  77
 9 Lawnie MacDonald               KIN   65 65 73 80 88 72 72 81 85  75
10 Nancy Belanger                 LAR   74 78 74 74 70 78 64 76 80  74
 
   SKIPS  
 1 Amber Holland                  HOL   78 86 78 86 83 75 74 79 96  82
 2 Kelley Law                     LAW   86 83 80 65 92 69 79 86 97  81
 2 Heather Fowlie                 FOW   91 79 80 81 84 80 79 73 79  81
 4 Sherry Anderson                AND   82 78 85 87 83 74 73 86 75  80
 5 Colleen Jones                  JON   89 76 86 91 72 84 68 90 60  79
 6 Sherry Middaugh                MID   71 79 78 90 86 59 84 82 74  78
 7 Cathy King                     KIN   81 78 78 69 79 53 75 79 98  77
 8 Michelle Ridgway               RID   75 78 72 86 72 89 74 64 57  74
 9 Marie-France Larouche          LAR   72 59 67 64 80 61 79 93 71  72
10 Sherry Fraser                  FRA   81 60 70 78 54 65 74 65 64  68
 
   TEAMS
 1 Law - B.C.                           87 87 88 83 85 75 82 83 90  84
 2 Fowlie - Alberta                     83 81 82 84 81 87 84 77 83  82
 3 Jones - Nova Scotia                  77 78 82 89 85 88 78 88 70  81
 3 Middaugh - Ontario                   78 79 82 83 86 70 88 84 74  81
 3 Anderson - Sask                      78 76 82 83 80 81 79 85 83  81
 6 Holland - Sask                       68 83 71 81 87 79 79 83 84  79
 7 King - Alberta                       71 74 81 79 87 72 78 79 86  78
 7 Fraser - B.C.                        76 69 75 76 71 84 88 84 81  78
 9 Ridgway - Sask                       78 82 74 73 74 86 79 75 71  77
10 Larouche - Quebec                    74 74 72 73 80 73 78 83 78  76
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            2001 Canadian Curling Trials - Women
                                     Women's Competition
                                         Regina, SK
 
                             PLUS/MINUS STATISTICS AFTER DRAW 9
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 TOT
LEADS  
Diane Nelson                   LAW    +  0  +  +  0  +  -  0  0  +3
Nancy Delahunt                 JON    -  0  0  0  +  +  +  0  -  +1
Denise Martin                  FOW    +  0  +  0  -  0  +  -  0  +1
Donna Gignac                   AND    +  0  -  -  0  +  -  +  +  +1
Patty Bell                     HOL    0  0  0  +  0  -  +  0  0  +1
Joan Stricker                  RID    +  0  0  -  0  +  -  0  0   0
Valerie Grenier                LAR    -  0  0  +  0  -  0  0  +   0
Sheri Cordina                  MID    -  0  +  0  0  -  -  +  0  -1
Kate Horne                     KIN    0  0  -  0  +  0  0  -  -  -2
Christine Jurgenson            FRA    -  0  -  -  -  -  +  0  0  -4
 
SECONDS
Bronwen Saunders               FOW    +  +  +  0  0  +  0  0  +  +5
Mary-Anne Waye                 JON    0  +  +  +  0  +  -  0  +  +4
Corie Beveridge                FRA    0  -  -  +  -  +  +  0  0   0
Sandra Mulroney                AND    0  -  +  0  +  0  0  0  -   0
Karen Purdy                    HOL    -  +  -  0  0  +  0  +  -   0
Brenda Bohmer                  KIN    +  -  +  -  +  -  0  -  +   0
Roberta Materi                 RID    0  +  0  0  -  -  0  0  0  -1
Georgina Wheatcroft            LAW    +  -  -  0  0  -  +  0  0  -1
Annie Lemay                    LAR    -  +  0  -  0  0  0  -  -  -3
Andrea Lawes                   MID    -  -  -  0  0  -  -  +  0  -4
 
THIRDS 
Kim Hodson                     AND    0  +  0  0  +  +  0  +  0  +4
Kay Montgomery                 HOL    0  +  -  +  0  +  0  0  0  +2
Julie Skinner                  LAW    -  +  +  0  +  -  +  0  0  +2
Kim Kelly                      JON    -  -  +  +  +  +  -  0  -   0
Janet Brown                    MID    +  +  0  -  0  -  +  -  0   0
Lorie Kehler                   RID    +  +  0  -  -  -  0  0  0  -1
Lawnie MacDonald               KIN    0  -  -  -  +  -  +  +  0  -1
Nancy Belanger                 LAR    +  -  0  0  -  -  -  0  +  -2
Carolyn Darbyshire             FOW    -  -  0  +  -  +  0  -  0  -2
Diane McLean                   FRA    0  -  0  0  -  +  -  0  0  -2
 
SKIPS  
Sherry Anderson                AND    0  0  +  +  +  +  0  +  -  +4
Kelley Law                     LAW    +  0  0  -  +  -  +  +  +  +3
Colleen Jones                  JON    +  0  +  +  -  +  -  +  -  +2
Heather Fowlie                 FOW    +  0  +  -  +  +  +  -  -  +2
Amber Holland                  HOL    0  +  -  0  0  +  0  -  +  +1
Sherry Middaugh                MID    -  +  -  +  0  -  +  0  +  +1
Cathy King                     KIN    0  0  0  -  +  -  0  0  +   0
Michelle Ridgway               RID    -  0  +  0  -  +  -  -  -  -3
Marie-France Larouche          LAR    -  -  -  -  -  -  0  +  +  -4
Sherry Fraser                  FRA    0  -  -  +  -  -  -  -  -  -6
 
   TEAMS
Law - B.C.                            +  +  +  0  +  0  0  +  +  +6
Anderson - Sask                       0  0  0  0  +  +  0  +  0  +3
Fowlie - Alberta                      +  -  +  0  0  +  +  -  0  +2
Jones - Nova Scotia                   0  0  +  +  0  +  0  0  -  +2
Holland - Sask                        0  +  -  +  0  0  0  0  0  +1
Middaugh - Ontario                    -  +  0  0  0  -  0  +  0   0
Larouche - Quebec                     -  -  0  0  -  -  0  0  +  -3
Ridgway - Sask                        0  +  0  -  -  0  -  -  0  -3
Fraser - B.C.                         0  -  -  0  -  0  0  0  -  -4
King - Alberta                        0  -  -  -  +  -  0  -  0  -4
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            2001 Canadian Curling Trials - Women
                                     Women's Competition
                                         Regina, SK
 
                               SCORING ANALYSIS AFTER 9 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
AND     9    83  FOR       4    10     21   10    4    2    0    0   61   6.8   17  0.73
                 AGAINST   9     6     20   12    1    0    0    0   47   5.2    6  0.57
 
FOW     9    79  FOR       4     3     15   12    3    1    0    0   52   5.8    5  0.66
                 AGAINST   6     8     24    8    3    3    0    0   61   6.8   16  0.77
 
FRA     9    79  FOR       6     6     18    9    4    0    0    0   48   5.3    8  0.61
                 AGAINST   2    12     16   20    4    0    0    0   68   7.6   19  0.86
 
HOL     9    91  FOR       6     6     25   12    1    1    0    0   56   6.2    7  0.62
                 AGAINST   3     8     26   15    1    1    0    0   63   7.0   10  0.69
 
JON     9    81  FOR       2    14     27   12    2    0    0    0   57   6.3   17  0.70
                 AGAINST  10     2     19    7    2    0    0    0   39   4.3    3  0.48
 
KIN     9    80  FOR       2    10     27    8    0    1    1    0   52   5.8   13  0.65
                 AGAINST   2    11     23   10    5    1    0    0   62   6.9   19  0.78
 
LAR     9    85  FOR       4     6     25    8    4    0    0    0   53   5.9   11  0.62
                 AGAINST   4    11     28    8    2    2    0    0   58   6.4   14  0.68
 
MID     9    78  FOR       2     6     19   16    1    2    0    0   62   6.9   10  0.79
                 AGAINST   0     6     21   13    2    1    1    0   62   6.9   10  0.79
 
LAW     9    86  FOR       6    11     26   10    5    0    0    0   61   6.8   15  0.71
                 AGAINST   4     8     26    7    1    1    0    0   47   5.2   14  0.55
 
RID     9    86  FOR       7     9     23   11    3    2    0    0   62   6.9   18  0.72
                 AGAINST   3     9     23    8    6    0    0    0   57   6.3   10  0.66
 
 
TOTAL  45   414  FOR      43    81    226  108   27    9    1    0  564   6.3  121  0.68
                 AGAINST  43    81    226  108   27    9    1    0  564   6.3  121  0.68
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            2001 Canadian Curling Trials - Women
                                     Women's Competition
                                         Regina, SK
 
                                     TEAM WIN/LOSS GRID
 
 
        AND   FOW   FRA   HOL   JON   KIN   LAR   MID   LAW   RID   
 
 
AND      *     W     L     L     W     L     W     W     W     W  
 
 
FOW      L     *     W     L     W     W     W     L     L     L  
 
 
FRA      W     L     *     L     L     L     W     L     L     L  
 
 
HOL      W     W     W     *     L     L     L     L     W     L  
 
 
JON      L     L     W     W     *     W     W     W     L     W  
 
 
KIN      W     L     W     W     L     *     L     W     L     L  
 
 
LAR      L     L     L     W     L     W     *     L     L     L  
 
 
MID      L     W     W     W     L     L     W     *     L     W  
 
 
LAW      L     W     W     L     W     W     W     W     *     W  
 
 
RID      L     W     W     W     L     W     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            2001 Canadian Curling Trials - Women
                                     Women's Competition
                                         Regina, SK
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Anderson - Sask                #SH   168  172  340   196  291  487   364  463  827
                                  PTS   530  539 1069   656  966 1622  1186 1505 2691
                                  PCT    79   78   79    84   83   83    81   81   81
 
 1 Donna Gignac                   #SH    71   72  143    21   31   52    92  103  195
                                  PTS   236  237  473    69   99  168   305  336  641
                                  PCT    83   82   83    82   80   81    83   82   82
 
 2 Sandra Mulroney                #SH    37   27   64    69   81  150   106  108  214
                                  PTS   113   90  203   220  272  492   333  362  695
                                  PCT    76   83   79    80   84   82    79   84   81
 
 3 Kim Hodson                     #SH    26   30   56    52  105  157    78  135  213
                                  PTS    82   77  159   184  353  537   266  430  696
                                  PCT    79   64   71    88   84   86    85   80   82
 
 4 Sherry Anderson                #SH    34   43   77    54   74  128    88  117  205
                                  PTS    99  135  234   183  242  425   282  377  659
                                  PCT    73   78   76    85   82   83    80   81   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Fowlie - Alberta               #SH   226  107  333   174  141  315   400  248  648
                                  PTS   731  328 1059   602  472 1074  1333  800 2133
                                  PCT    81   77   80    86   84   85    83   81   82
 
 1 Denise Martin                  #SH   108   22  130    20   12   32   128   34  162
                                  PTS   373   73  446    59   45  104   432  118  550
                                  PCT    86   83   86    74   94   81    84   87   85
 
 2 Bronwen Saunders               #SH    42   24   66    56   42   98    98   66  164
                                  PTS   126   73  199   200  155  355   326  228  554
                                  PCT    75   76   75    89   92   91    83   86   84
 
 3 Carolyn Darbyshire             #SH    37   27   64    51   49  100    88   76  164
                                  PTS   110   70  180   187  151  338   297  221  518
                                  PCT    74   65   70    92   77   85    84   73   79
 
 4 Heather Fowlie                 #SH    39   34   73    47   38   85    86   72  158
                                  PTS   122  112  234   156  121  277   278  233  511
                                  PCT    78   82   80    83   80   81    81   81   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Fraser - B.C.                  #SH   253  157  410   113  142  255   366  299  665
                                  PTS   816  471 1287   349  444  793  1165  915 2080
                                  PCT    81   75   78    77   78   78    80   77   78
 
 1 Christine Jurgenson            #SH    93   35  128    18   20   38   111   55  166
                                  PTS   308  110  418    55   60  115   363  170  533
                                  PCT    83   79   82    76   75   76    82   77   80
 
 2 Corie Beveridge                #SH    57   35   92    32   46   78    89   81  170
                                  PTS   198  111  309   103  161  264   301  272  573
                                  PCT    87   79   84    80   88   85    85   84   84
 
 3 Diane McLean                   #SH    52   50  102    29   38   67    81   88  169
                                  PTS   173  158  331    90  116  206   263  274  537
                                  PCT    83   79   81    78   76   77    81   78   79
 
 4 Sherry Fraser                  #SH    51   37   88    34   38   72    85   75  160
                                  PTS   137   92  229   101  107  208   238  199  437
                                  PCT    67   62   65    74   70   72    70   66   68
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Holland - Sask                 #SH   214  190  404   188  138  326   402  328  730
                                  PTS   647  608 1255   603  462 1065  1250 1070 2320
                                  PCT    76   80   78    80   84   82    78   82   79
 
 1 Patty Bell                     #SH    83   60  143    29   11   40   112   71  183
                                  PTS   256  199  455    99   37  136   355  236  591
                                  PCT    77   83   80    85   84   85    79   83   81
 
 2 Karen Purdy                    #SH    42   40   82    57   45  102    99   85  184
                                  PTS   119  115  234   186  153  339   305  268  573
                                  PCT    71   72   71    82   85   83    77   79   78
 
 3 Kay Montgomery                 #SH    43   39   82    49   52  101    92   91  183
                                  PTS   126  118  244   156  168  324   282  286  568
                                  PCT    73   76   74    80   81   80    77   79   78
 
 4 Amber Holland                  #SH    46   51   97    53   30   83    99   81  180
                                  PTS   146  176  322   162  104  266   308  280  588
                                  PCT    79   86   83    76   87   80    78   86   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Jones - Nova Scotia            #SH   167  229  396   163  180  343   330  409  739
                                  PTS   501  779 1280   548  585 1133  1049 1364 2413
                                  PCT    75   85   81    84   81   83    79   83   82
 
 1 Nancy Delahunt                 #SH    39   99  138    13   33   46    52  132  184
                                  PTS   125  345  470    44   95  139   169  440  609
                                  PCT    80   87   85    85   72   76    81   83   83
 
 2 Mary-Anne Waye                 #SH    36   46   82    57   49  106    93   95  188
                                  PTS    98  158  256   193  175  368   291  333  624
                                  PCT    68   86   78    85   89   87    78   88   83
 
 3 Kim Kelly                      #SH    44   43   87    56   44  100   100   87  187
                                  PTS   136  140  276   187  149  336   323  289  612
                                  PCT    77   81   79    83   85   84    81   83   82
 
 4 Colleen Jones                  #SH    48   41   89    37   54   91    85   95  180
                                  PTS   142  136  278   124  166  290   266  302  568
                                  PCT    74   83   78    84   77   80    78   79   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   King - Alberta                 #SH   151  166  317   154  178  332   305  344  649
                                  PTS   427  515  942   491  598 1089   918 1113 2031
                                  PCT    71   78   74    80   84   82    75   81   78
 
 1 Kate Horne                     #SH    54   68  122    21   19   40    75   87  162
                                  PTS   177  219  396    65   68  133   242  287  529
                                  PCT    82   81   81    77   89   83    81   82   82
 
 2 Brenda Bohmer                  #SH    36   32   68    40   56   96    76   88  164
                                  PTS    89   99  188   133  196  329   222  295  517
                                  PCT    62   77   69    83   88   86    73   84   79
 
 3 Lawnie MacDonald               #SH    28   28   56    51   56  107    79   84  163
                                  PTS    69   85  154   157  179  336   226  264  490
                                  PCT    62   76   69    77   80   79    72   79   75
 
 4 Cathy King                     #SH    33   38   71    42   47   89    75   85  160
                                  PTS    92  112  204   136  155  291   228  267  495
                                  PCT    70   74   72    81   82   82    76   79   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Larouche - Quebec              #SH   177  216  393   169  152  321   346  368  714
                                  PTS   512  662 1174   493  505  998  1005 1167 2172
                                  PCT    72   77   75    73   83   78    73   79   76
 
 1 Valerie Grenier                #SH    48   81  129    32   15   47    80   96  176
                                  PTS   151  294  445    81   51  132   232  345  577
                                  PCT    79   91   86    63   85   70    73   90   82
 
 2 Annie Lemay                    #SH    45   36   81    48   53  101    93   89  182
                                  PTS   127   95  222   154  182  336   281  277  558
                                  PCT    71   66   69    80   86   83    76   78   77
 
 3 Nancy Belanger                 #SH    42   48   90    46   46   92    88   94  182
                                  PTS   120  125  245   139  155  294   259  280  539
                                  PCT    71   65   68    76   84   80    74   74   74
 
 4 Marie-France Larouche          #SH    42   51   93    43   38   81    85   89  174
                                  PTS   114  148  262   119  117  236   233  265  498
                                  PCT    68   73   70    69   77   73    69   74   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Middaugh - Ontario             #SH   194  185  379   137  138  275   331  323  654
                                  PTS   628  588 1216   438  455  893  1066 1043 2109
                                  PCT    81   79   80    80   82   81    81   81   81
 
 1 Sheri Cordina                  #SH    60   77  137    11   12   23    71   89  160
                                  PTS   208  259  467    33   38   71   241  297  538
                                  PCT    87   84   85    75   79   77    85   83   84
 
 2 Andrea Lawes                   #SH    39   28   67    56   45  101    95   73  168
                                  PTS   127   82  209   177  148  325   304  230  534
                                  PCT    81   73   78    79   82   80    80   79   79
 
 3 Janet Brown                    #SH    41   44   85    35   47   82    76   91  167
                                  PTS   127  137  264   119  157  276   246  294  540
                                  PCT    77   78   78    85   84   84    81   81   81
 
 4 Sherry Middaugh                #SH    54   36   90    35   34   69    89   70  159
                                  PTS   166  110  276   109  112  221   275  222  497
                                  PCT    77   76   77    78   82   80    77   79   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Law - B.C.                     #SH   167  212  379   258  132  390   425  344  769
                                  PTS   553  697 1250   899  447 1346  1452 1144 2596
                                  PCT    83   82   82    87   85   86    85   83   84
 
 1 Diane Nelson                   #SH    54   86  140    20   29   49    74  115  189
                                  PTS   195  310  505    69  102  171   264  412  676
                                  PCT    90   90   90    86   88   87    89   90   89
 
 2 Georgina Wheatcroft            #SH    32   35   67    86   42  128   118   77  195
                                  PTS    98  114  212   300  134  434   398  248  646
                                  PCT    77   81   79    87   80   85    84   81   83
 
 3 Julie Skinner                  #SH    39   37   76    86   34  120   125   71  196
                                  PTS   129  112  241   301  113  414   430  225  655
                                  PCT    83   76   79    88   83   86    86   79   84
 
 4 Kelley Law                     #SH    42   54   96    66   27   93   108   81  189
                                  PTS   131  161  292   229   98  327   360  259  619
                                  PCT    78   75   76    87   91   88    83   80   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ridgway - Sask                 #SH   188  179  367   189  147  336   377  326  703
                                  PTS   550  533 1083   631  445 1076  1181  978 2159
                                  PCT    73   74   74    83   76   80    78   75   77
 
 1 Joan Stricker                  #SH    54   73  127    27   19   46    81   92  173
                                  PTS   157  241  398    92   55  147   249  296  545
                                  PCT    73   83   78    85   72   80    77   80   79
 
 2 Roberta Materi                 #SH    47   26   73    63   42  105   110   68  178
                                  PTS   134   78  212   219  121  340   353  199  552
                                  PCT    71   75   73    87   72   81    80   73   78
 
 3 Lorie Kehler                   #SH    37   46   83    48   47   95    85   93  178
                                  PTS   118  132  250   145  152  297   263  284  547
                                  PCT    80   72   75    76   81   78    77   76   77
 
 4 Michelle Ridgway               #SH    50   34   84    51   39   90   101   73  174
                                  PTS   141   82  223   175  117  292   316  199  515
                                  PCT    71   60   66    86   75   81    78   68   74
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            2001 Canadian Curling Trials - Women
                                     Women's Competition
                                         Regina, SK
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  47
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  2    RID  11  KIN   4
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  4    JON   8  KIN   1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  5    HOL   9  MID  10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  8    HOL   2  LAR   6
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  8    MID   6  KIN   9    KIN  SCORED 5 IN THE 5TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  2    RID  11  KIN   4    RID  SCORED 4 IN THE 9TH END
          DRAW  8    FOW   3  AND   9    AND  SCORED 4 IN THE THIRD END
          DRAW  8    LAW   9  RID   8    RID  SCORED 4 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  5    AND   7  RID   2
 
NUMBER OF BLANK ENDS IN EVENT:  44
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAW  8
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  1    RID   4  JON   7    BY RID  BEGINNING IN END 3
          DRAW  1    MID   3  LAW   6    BY MID  BEGINNING IN END 1
          DRAW  2    FOW   4  LAW   8    BY LAW  BEGINNING IN END 1
          DRAW  4    FRA   8  LAR   5    BY FRA  BEGINNING IN END 1
          DRAW  5    AND   7  RID   2    BY RID  BEGINNING IN END 2
          DRAW  7    AND   5  HOL   6    BY HOL  BEGINNING IN END 8
          DRAW  8    FOW   3  AND   9    BY FOW  BEGINNING IN END 1
          DRAW  8    HOL   2  LAR   6    BY HOL  BEGINNING IN END 5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  2    RID  11  KIN   4
          DRAW  8    LAW   9  RID   8
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  4    JON   8  KIN   1    BY JON  BEGINNING IN END 3
          DRAW  5    KIN   8  FRA   2    BY KIN  BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  5    KIN   8  FRA   2    BY KIN 
 
LARGEST COME FROM BEHIND VICTORY:   5
 
          DRAW  8    LAW   9  RID   8    LAW  WAS DOWN 5 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    HOL   6  KIN  10
          DRAW  3    LAR   8  RID   9
          DRAW  5    HOL   9  MID  10
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  4    FOW   3  MID  10
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   4
 
          DRAW  4    JON   8  KIN   1    BY KIN 
          DRAW  5    KIN   8  FRA   2    BY FRA 
          DRAW  7    LAW   5  JON   4    BY LAW 
          DRAW  8    FOW   3  AND   9    BY FOW 
          DRAW  8    JON   7  FRA   3    BY FRA 
          DRAW  8    HOL   2  LAR   6    BY HOL 
  </div>
</div>
