<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2013 Tim Hortons Roar of the Rings - Women
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  3  5  7  9 11 12 AVG
   LEADS  
 1 Dawn McEwen                    JON  100 99 95 90 86 94 81  92
 2 Marliese Kasner                LAW   83 93 91 91 94 88100  91
 3 Lisa Weagle                    HOM  100 72 90 95 89 90 86  89
 4 Lindsay Titheridge             CAR   81 91 95 85 83 95 88  88
 5 Laine Peters                   NED   86 86 78 74 93 85 99  86
 6 Leigh Armstrong                MID   85 82 84100 91 77 78  85
 7 Rona Pasika                    SON   75 86 74 84 88 84 75  81
 8 Rachelle Pidherny              SWE   84 55 84 81 90 84 84  80
 
   SECONDS
 1 Alison Kreviazuk               HOM   86 86 74100 84 84 94  87
 1 Lee Merklinger                 MID   88 88 86 91 88 82 86  87
 3 Jessica Mair                   NED   79 91 79 84 85 84 91  85
 4 Jill Officer                   JON   92 89 81 88 72 88 81  84
 5 Sherri Singler                 LAW   88 83 75 89 92 79 80  83
 6 Dana Ferguson                  SWE   92 86 79 86 88 78 70  82
 7 Cary-Anne McTaggart            SON   76 73 86 83 91 80 75  81
 8 Kristen Foster                 CAR   70 80 80 85 76 84 85  80
 
   THIRDS 
 1 Kaitlyn Lawes                  JON   95 80 76 89 85 79 91  84
 2 Emma Miskew                    HOM   78 84 74 93 83 84 85  83
 3 Jo-Ann Rizzo                   MID   74 77 89 91 76 85 81  82
 4 Sherry Anderson                LAW   90 68 91 93 65 84 74  81
 5 Lawnie MacDonald               SON   79 70 74 78 84 81 89  80
 5 Beth Iskiw                     NED   83 85 85 80 74 66 84  80
 7 Kristy McDonald                CAR   ** 76 79 85 80 75 74  78
 + Breanne Meakin                 CAR   75 ** ** ** ** ** **  75
 8 Joanne Courtney                SWE   75 81 71 69 85 75 59  73
 
   SKIPS  
 1 Jennifer Jones                 JON   97 84 70 81 86 88 88  84
 1 Sherry Middaugh                MID   80 83 76 97 90 75 83  84
 3 Heather Nedohin                NED   75 77 86 81 84 79 90  82
 4 Val Sweeting                   SWE   86 73 83 85 88 74 77  81
 5 Rachel Homan                   HOM   60 89 64 93 84 85 78  79
 6 Chelsea Carey                  CAR   73 76 70 75 90 83 66  76
 6 Stefanie Lawton                LAW   58 76 71 95 79 71 79  76
 8 Renee Sonnenberg               SON   83 68 78 56 79 73 84  75
 
   TEAMS
 1 Jennifer Jones                       96 88 81 87 82 87 85  86
 2 Rachel Homan                         81 83 75 95 85 86 86  85
 3 Sherry Middaugh                      82 82 84 95 86 80 82  84
 4 Heather Nedohin                      81 85 82 80 84 78 91  83
 4 Stefanie Lawton                      80 80 82 92 83 80 83  83
 6 Chelsea Carey                        75 81 81 83 82 84 78  81
 7 Val Sweeting                         84 74 79 80 88 78 73  79
 7 Renee Sonnenberg                     78 75 78 75 85 79 81  79
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2013 Tim Hortons Roar of the Rings - Women
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                             PLUS/MINUS STATISTICS AFTER DRAW 14
 
 
                          DRAW----->  1  3  5  7  9 11 12 TOT
LEADS  
Marliese Kasner                LAW    0  +  +  +  +  0  +  +5
Dawn McEwen                    JON    +  +  +  +  -  0  -  +2
Lindsay Titheridge             CAR    -  +  +  -  -  +  +  +1
Leigh Armstrong                MID    0  -  +  +  0  -  -  -1
Rona Pasika                    SON    -  +  -  -  +  +  -  -1
Laine Peters                   NED    +  -  -  -  0  0  +  -1
Rachelle Pidherny              SWE    -  -  -  +  0  -  +  -2
Lisa Weagle                    HOM    +  -  -  -  0  0  -  -3
 
SECONDS
Jessica Mair                   NED    0  +  -  0  0  +  +  +2
Alison Kreviazuk               HOM    -  +  -  +  0  0  +  +1
Cary-Anne McTaggart            SON    0  -  +  -  +  0  +  +1
Lee Merklinger                 MID    0  0  +  -  0  0  0   0
Jill Officer                   JON    +  0  0  +  -  0  -   0
Dana Ferguson                  SWE    +  0  0  0  0  -  -  -1
Kristen Foster                 CAR    -  -  +  0  -  +  0  -1
Sherri Singler                 LAW    0  0  -  0  +  -  -  -2
 
THIRDS 
Kaitlyn Lawes                  JON    +  0  +  +  +  -  +  +4
Emma Miskew                    HOM    0  +  -  0  +  +  +  +3
Sherry Anderson                LAW    +  -  +  +  -  +  -  +1
Jo-Ann Rizzo                   MID    -  0  0  0  -  0  +  -1
Joanne Courtney                SWE    0  +  -  -  +  0  -  -1
Beth Iskiw                     NED    0  +  0  +  -  -  -  -1
Lawnie MacDonald               SON    0  -  -  -  0  0  +  -2
Kristy McDonald                CAR    *  -  +  -  0  0  -  -2
 
SKIPS  
Jennifer Jones                 JON    +  0  -  +  +  0  0  +2
Sherry Middaugh                MID    +  0  -  0  0  0  +  +1
Heather Nedohin                NED    -  0  +  0  0  +  0  +1
Val Sweeting                   SWE    +  0  +  0  0  -  -   0
Chelsea Carey                  CAR    -  0  +  -  +  +  -   0
Renee Sonnenberg               SON    +  -  +  -  -  0  +   0
Rachel Homan                   HOM    -  +  -  0  0  0  0  -1
Stefanie Lawton                LAW    -  0  -  +  -  -  0  -3
 
   TEAMS
Stefanie Lawton                       0  +  0  +  0  0  0  +2
Jennifer Jones                        +  +  0  +  0  0  -  +2
Heather Nedohin                       0  0  0  0  0  0  +  +1
Rachel Homan                          0  +  -  0  0  0  0   0
Chelsea Carey                         -  0  +  -  0  +  0   0
Renee Sonnenberg                      0  -  0  -  0  0  +  -1
Sherry Middaugh                       0  -  0  0  0  0  0  -1
Val Sweeting                          0  -  0  0  0  -  -  -3
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2013 Tim Hortons Roar of the Rings - Women
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                               SCORING ANALYSIS AFTER 14 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
SWE     7    69  FOR       3    10     18   11    2    1    0    0   50   7.1   17  0.72
                 AGAINST   4     6     19    9    2    0    0    0   43   6.1    6  0.62
 
SON     7    68  FOR       4     4     14   10    1    0    0    0   37   5.3    6  0.54
                 AGAINST   5    12     22    9    2    1    0    0   50   7.1   17  0.74
 
HOM     7    68  FOR       8     4     18    4    4    1    0    0   42   6.0    8  0.62
                 AGAINST   5     8     15   13    0    0    0    0   41   5.9   11  0.60
 
MID     7    72  FOR       6     4     21    7    2    0    0    0   41   5.9    4  0.57
                 AGAINST   9     1     15    9    3    0    0    0   42   6.0    2  0.58
 
CAR     7    69  FOR       9     7     18    9    2    0    0    0   42   6.0   10  0.61
                 AGAINST   3     7     18    7    1    1    0    1   45   6.4    8  0.65
 
LAW     7    69  FOR       9     6     16    8    0    1    0    0   36   5.1    8  0.52
                 AGAINST   7     5     14   12    2    0    0    0   44   6.3    7  0.64
 
NED     7    70  FOR       4     5     18    8    1    0    0    0   37   5.3    6  0.53
                 AGAINST  11     6     20    5    3    0    0    0   39   5.6   11  0.56
 
JON     7    65  FOR       6    10     16   11    3    0    0    1   53   7.6   13  0.82
                 AGAINST   5     5     16    4    2    1    0    0   34   4.9   10  0.52
 
 
TOTAL  28   275  FOR      49    50    139   68   15    3    0    1  338   6.0   72  0.61
                 AGAINST  49    50    139   68   15    3    0    1  338   6.0   72  0.61
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2013 Tim Hortons Roar of the Rings - Women
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                                     TEAM WIN/LOSS GRID
 
 
        SWE   SON   HOM   MID   CAR   LAW   NED   JON   
 
 
SWE      *     L     W     L     L     W     L     W  
 
 
SON      W     *     L     L     L     L     W     L  
 
 
HOM      L     W     *     W     L     W     W     L  
 
 
MID      W     W     L     *     W     W     L     L  
 
 
CAR      W     W     W     L     *     L     W     L  
 
 
LAW      L     W     L     L     W     *     L     L  
 
 
NED      W     L     L     W     L     W     *     L  
 
 
JON      L     W     W     W     W     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2013 Tim Hortons Roar of the Rings - Women
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Val Sweeting                   #SH   168  119  287   138  129  267   306  248  554
                                  PTS   546  362  908   413  433  846   959  795 1754
                                  PCT    81   76   79    75   84   79    78   80   79
 
 1 Rachelle Pidherny              #SH    80   29  109    14   12   26    94   41  135
                                  PTS   277   98  375    30   29   59   307  127  434
                                  PCT    87   84   86    54   60   57    82   77   80
 
 2 Dana Ferguson                  #SH    21   30   51    40   49   89    61   79  140
                                  PTS    62   98  160   128  173  301   190  271  461
                                  PCT    74   82   78    80   88   85    78   86   82
 
 3 Joanne Courtney                #SH    30   27   57    52   31   83    82   58  140
                                  PTS    99   63  162   150   99  249   249  162  411
                                  PCT    83   58   71    72   80   75    76   70   73
 
 4 Val Sweeting                   #SH    37   33   70    32   37   69    69   70  139
                                  PTS   108  103  211   105  132  237   213  235  448
                                  PCT    73   78   75    82   89   86    77   84   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Renee Sonnenberg               #SH   167  125  292   112  135  247   279  260  539
                                  PTS   499  407  906   357  440  797   856  847 1703
                                  PCT    75   81   78    80   81   81    77   81   79
 
 1 Rona Pasika                    #SH    60   52  112    13   11   24    73   63  136
                                  PTS   204  168  372    40   26   66   244  194  438
                                  PCT    85   81   83    77   59   69    84   77   81
 
 2 Cary-Anne McTaggart            #SH    39   18   57    38   41   79    77   59  136
                                  PTS   114   67  181   113  145  258   227  212  439
                                  PCT    73   93   79    74   88   82    74   90   81
 
 3 Lawnie MacDonald               #SH    28   31   59    35   42   77    63   73  136
                                  PTS    75   99  174   118  141  259   193  240  433
                                  PCT    67   80   74    84   84   84    77   82   80
 
 4 Renee Sonnenberg               #SH    40   24   64    26   41   67    66   65  131
                                  PTS   106   73  179    86  128  214   192  201  393
                                  PCT    66   76   70    83   78   80    73   77   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Rachel Homan                   #SH   148   80  228   231  147  378   379  227  606
                                  PTS   466  263  729   769  523 1292  1235  786 2021
                                  PCT    79   82   80    83   89   85    81   87   83
 
 1 Lisa Weagle                    #SH    63   36   99    35   18   53    98   54  152
                                  PTS   231  125  356   116   70  186   347  195  542
                                  PCT    92   87   90    83   97   88    89   90   89
 
 2 Alison Kreviazuk               #SH    28   12   40    69   43  112    97   55  152
                                  PTS    87   41  128   227  164  391   314  205  519
                                  PCT    78   85   80    82   95   87    81   93   85
 
 3 Emma Miskew                    #SH    30   16   46    66   40  106    96   56  152
                                  PTS    84   49  133   221  137  358   305  186  491
                                  PCT    70   77   72    84   86   84    79   83   81
 
 4 Rachel Homan                   #SH    27   16   43    61   46  107    88   62  150
                                  PTS    64   48  112   205  152  357   269  200  469
                                  PCT    59   75   65    84   83   83    76   81   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sherry Middaugh                #SH   229  183  412   196  192  388   425  375  800
                                  PTS   784  618 1402   668  630 1298  1452 1248 2700
                                  PCT    86   84   85    85   82   84    85   83   84
 
 1 Leigh Armstrong                #SH    84   78  162    26   11   37   110   89  199
                                  PTS   291  269  560    86   34  120   377  303  680
                                  PCT    87   86   86    83   77   81    86   85   85
 
 2 Lee Merklinger                 #SH    45   33   78    69   55  124   114   88  202
                                  PTS   153  111  264   240  188  428   393  299  692
                                  PCT    85   84   85    87   85   86    86   85   86
 
 3 Jo-Ann Rizzo                   #SH    49   39   88    49   65  114    98  104  202
                                  PTS   157  138  295   168  206  374   325  344  669
                                  PCT    80   88   84    86   79   82    83   83   83
 
 4 Sherry Middaugh                #SH    51   33   84    52   61  113   103   94  197
                                  PTS   183  100  283   174  202  376   357  302  659
                                  PCT    90   76   84    84   83   83    87   80   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Chelsea Carey                  #SH   119  215  334   143  153  296   262  368  630
                                  PTS   359  709 1068   466  515  981   825 1224 2049
                                  PCT    75   82   80    81   84   83    79   83   81
 
 1 Lindsay Titheridge             #SH    47   81  128    18   12   30    65   93  158
                                  PTS   165  288  453    65   44  109   230  332  562
                                  PCT    88   89   88    90   92   91    88   89   89
 
 2 Kristen Foster                 #SH    23   51   74    41   43   84    64   94  158
                                  PTS    63  173  236   134  134  268   197  307  504
                                  PCT    68   85   80    82   78   80    77   82   80
 
 3 Kristy McDonald                #SH    14   40   54    35   53   88    49   93  142
                                  PTS    41  113  154   103  188  291   144  301  445
                                  PCT    73   71   71    74   89   83    73   81   78
 
 4 Chelsea Carey                  #SH    31   38   69    47   40   87    78   78  156
                                  PTS    82  117  199   156  135  291   238  252  490
                                  PCT    66   77   72    83   84   84    76   81   79
 
 5 Breanne Meakin                 #SH     4    5    9     2    5    7     6   10   16
                                  PTS     8   18   26     8   14   22    16   32   48
                                  PCT    50   90   72   100   70   79    67   80   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Stefanie Lawton                #SH   186  159  345   108   94  202   294  253  547
                                  PTS   627  500 1127   355  331  686   982  831 1813
                                  PCT    84   79   82    82   88   85    84   82   83
 
 1 Marliese Kasner                #SH    66   53  119    10    8   18    76   61  137
                                  PTS   238  200  438    32   30   62   270  230  500
                                  PCT    90   94   92    80   94   86    89   94   91
 
 2 Sherri Singler                 #SH    45   31   76    32   30   62    77   61  138
                                  PTS   145  103  248   109  103  212   254  206  460
                                  PCT    81   83   82    85   86   85    82   84   83
 
 3 Sherry Anderson                #SH    36   41   77    26   35   61    62   76  138
                                  PTS   127  112  239    86  121  207   213  233  446
                                  PCT    88   68   78    83   86   85    86   77   81
 
 4 Stefanie Lawton                #SH    39   34   73    40   21   61    79   55  134
                                  PTS   117   85  202   128   77  205   245  162  407
                                  PCT    75   63   69    80   92   84    78   74   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Heather Nedohin                #SH   117  138  255    75  235  310   192  373  565
                                  PTS   405  438  843   233  798 1031   638 1236 1874
                                  PCT    87   79   83    78   85   83    83   83   83
 
 1 Laine Peters                   #SH    60   46  106     5   28   33    65   74  139
                                  PTS   219  158  377    17   83  100   236  241  477
                                  PCT    91   86   89    85   74   76    91   81   86
 
 2 Jessica Mair                   #SH    16   30   46    28   68   96    44   98  142
                                  PTS    57   96  153    92  236  328   149  332  481
                                  PCT    89   80   83    82   87   85    85   85   85
 
 3 Beth Iskiw                     #SH    17   30   47    24   71   95    41  101  142
                                  PTS    51   95  146    72  234  306   123  329  452
                                  PCT    75   79   78    75   82   81    75   81   80
 
 4 Heather Nedohin                #SH    24   32   56    18   68   86    42  100  142
                                  PTS    78   89  167    52  245  297   130  334  464
                                  PCT    81   70   75    72   90   86    77   84   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Jennifer Jones                 #SH   168   92  260   159  182  341   327  274  601
                                  PTS   605  322  927   522  643 1165  1127  965 2092
                                  PCT    90   88   89    82   88   85    86   88   87
 
 1 Dawn McEwen                    #SH    84   35  119    12   15   27    96   50  146
                                  PTS   322  128  450    42   43   85   364  171  535
                                  PCT    96   91   95    88   72   79    95   86   92
 
 2 Jill Officer                   #SH    21   19   40    67   45  112    88   64  152
                                  PTS    79   69  148   215  161  376   294  230  524
                                  PCT    94   91   93    80   89   84    84   90   86
 
 3 Kaitlyn Lawes                  #SH    29   18   47    39   66  105    68   84  152
                                  PTS    94   64  158   126  234  360   220  298  518
                                  PCT    81   89   84    81   89   86    81   89   85
 
 4 Jennifer Jones                 #SH    34   20   54    41   56   97    75   76  151
                                  PTS   110   61  171   139  205  344   249  266  515
                                  PCT    81   76   79    85   92   89    83   88   85
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2013 Tim Hortons Roar of the Rings - Women
                                    Presented by Monsanto
                               MTS Centre, Winnipeg, Manitoba
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  31
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  10
 
          DRAW  1    HOM   3  SWE  10
          DRAW  1    JON  10  CAR   2
          DRAW 16    MID  10  HOM   4
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  1    JON  10  CAR   2
          DRAW  3    HOM   8  SON   2
          DRAW  7    SON   2  JON   7
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  5    CAR   9  HOM   8
          DRAW 12    SWE   8  SON   9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  1    MID   5  LAW   3
          DRAW  9    HOM   5  NED   3
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW  1    JON  10  CAR   2    JON  SCORED 6 IN THE 6TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  5    SWE   9  JON   6    SWE  SCORED 4 IN THE 7TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  1    MID   5  LAW   3
          DRAW  7    LAW   7  CAR   5
 
NUMBER OF BLANK ENDS IN EVENT:  54
 
MOST BLANK ENDS ONE DRAW:   9
 
          DRAWS  7  9 12
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  1    MID   5  LAW   3    BY LAW  BEGINNING IN END 2
          DRAW  7    LAW   7  CAR   5    BY CAR  BEGINNING IN END 4
          DRAW  9    HOM   5  NED   3    BY HOM  BEGINNING IN END 1
          DRAW 12    NED   5  JON   6    BY JON  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  1    HOM   3  SWE  10
          DRAW  5    SWE   9  JON   6
          DRAW  5    LAW   8  SON   6
          DRAW  7    SON   2  JON   7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  7    SON   2  JON   7    BY JON  BEGINNING IN END 1
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  5    SWE   9  JON   6    BY SWE 
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  5    SWE   9  JON   6    SWE  WAS DOWN 3 AFTER 2 ENDS
          DRAW  5    LAW   8  SON   6    LAW  WAS DOWN 3 AFTER 2 ENDS
          DRAW  5    CAR   9  HOM   8    CAR  WAS DOWN 3 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   5
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  3    CAR   8  NED   5
          DRAW  3    JON   9  MID   7
          DRAW  7    MID   5  HOM   6
          DRAW 11    MID   7  SON   6
          DRAW 12    SWE   8  SON   9
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  1    JON  10  CAR   2
          DRAW  3    HOM   8  SON   2
          DRAW  7    SON   2  JON   7
          DRAW 16    MID  10  HOM   4
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  1    MID   5  LAW   3    BY LAW 
          DRAW  1    HOM   3  SWE  10    BY HOM 
          DRAW  7    SON   2  JON   7    BY SON 
  </div>
</div>
