<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2021 Tim Hortons Curling Trials - Women
                                   Saskatoon, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 AVG
   LEADS  
 + Erin Pincott                   Walk  ** ** ** ** ** ** **100 ** 100
 1 Dawn McEwen                    Jone  93 95 ** 88 83 91 91 ** 89  90
 1 Joanne Courtney                Homa  84 96 ** 83 93100 93 79 91  90
 + Lisa Weagle                    Jone  ** ** 89 ** ** ** ** ** **  89
 3 Kristie Moore                  Sche  75 89 80 89 90 ** 85 94 96  87
 3 Rachel Brown                   Rocq  ** 80 88 74 89 91 86 86 98  87
 5 Sarah Potts                    McCa  83 80 76 94 90 90 86 92 **  86
 5 Nadine Scotland                Walk  88 59 95 75 ** 92 85100 88  86
 7 Laura Hickey                   Harr  81 72 84 ** 88 88 90 93 77  84
 7 Kristin MacCuish               Fleu  93 ** 73 97 82 80 83 86 80  84
 9 Briane Meilleur                Eina  90 84 81 63 70 91 ** 88 93  82
 
   SECONDS
 1 Ashley Sippala                 McCa  88 91 83 81 86 95 91 92 **  88
 2 Liz Fyfe                       Fleu  98 ** 83 80 90 88 78 84 79  85
 2 Shannon Birchard               Eina  80 77 76 81 91 85 ** 91 95  85
 4 Jessie Haughian                Sche  86 81 69 85 94 ** 86 78 91  84
 5 Jocelyn Peterman               Jone  79 70 84 90 74 88 83 ** 83  82
 6 Dana Ferguson                  Rocq  ** 80 78 71 84 84 81 83 91  81
 6 Sarah Wilkes                   Homa  89 84 ** 76 82 96 80 66 79  81
 8 Taylor McDonald                Walk  74 73 85 69 ** 89 81 94 77  80
 + Lisa Weagle                    Jone  ** 75 ** ** ** ** ** ** **  75
 9 Lynn Kreviazuk                 Harr  71 73 83 ** 76 63 78 75 73  74
 
   THIRDS 
 1 Val Sweeting                   Eina  88 77 85 80 88 76 ** 83 95  84
 2 Danielle Schmiemann            Rocq  ** 59 84 70 96 76 81 91 99  83
 3 Kaitlyn Lawes                  Jone  94 92 84 84 69 83 80 ** 75  82
 3 Selena Njegovan                Fleu  91 ** 67 83 76 82 74 97 88  82
 5 Kate Cameron                   Walk  85 80 81 ** ** 82 78 86 68  80
 6 Emma Miskew                    Homa  68 89 ** 78 81 79 95 71 75  79
 6 Cary-Anne McTaggart            Sche  86 86 78 70 84 ** 81 73 76  79
 6 Kendra Lilly                   McCa  89 69 69 59 81 86 86 89 **  79
 9 Allison Flaxey                 Harr  70 75 88 ** 59 69 80 88 75  75
 + Erin Pincott                   Walk  ** ** ** 75 ** 69 ** ** **  74
 
   SKIPS  
 1 Tracy Fleury                   Fleu  88 ** 93100 96 73 74 89 88  87
 2 Kerri Einarson                 Eina  82 84 68 80 66 85 ** 90 84  80
 2 Kelsey Rocque                  Rocq  ** 63 74 64 89 75 86 88 94  80
 4 Krista McCarville              McCa  88 74 76 56 87 85 91 69 **  79
 5 Laura Walker                   Walk  68 94 77 57 ** 92 74 93 73  78
 6 Casey Scheidegger              Sche  89 52 76 76 83 ** 81 64 88  77
 7 Jennifer Jones                 Jone  99 80 74 89 53 73 68 ** 71  75
 8 Rachel Homan                   Homa  81 64 ** 67 69 62 88 71 71  72
 9 Jacqueline Harrison            Harr  76 47 71 ** 75 73 76 72 58  69
 
   TEAMS
 1 Team Fleury                          92 ** 79 90 86 80 77 89 83  84
 2 Team McCarville                      87 78 76 73 86 89 89 85 **  83
 2 Team Einarson                        85 80 78 76 79 84 ** 88 92  83
 2 Team Rocque                          ** 70 81 70 90 82 84 87 95  83
 5 Team Jones                           91 84 83 88 69 83 81 ** 79  82
 5 Team Scheidegger                     84 77 76 80 88 ** 83 77 88  82
 7 Team Walker                          79 77 85 69 ** 88 79 93 76  81
 7 Team Homan                           80 83 ** 76 81 85 89 72 79  81
 9 Team Harrison                        75 67 81 ** 74 73 81 82 71  76
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2021 Tim Hortons Curling Trials - Women
                                   Saskatoon, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 9
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 TOT
LEADS  
Dawn McEwen                    Jone   +  +  *  0  +  0  0  *  +  +4
Nadine Scotland                Walk   +  -  +  +  *  -  0  +  +  +3
Joanne Courtney                Homa   0  +  *  +  +  +  0  -  -  +2
Laura Hickey                   Harr   0  -  0  *  0  +  +  +  -  +1
Kristie Moore                  Sche   -  +  0  0  0  *  -  +  +  +1
Rachel Brown                   Rocq   *  +  +  -  0  0  0  -  +  +1
Sarah Potts                    McCa   -  -  0  0  0  0  0  -  *  -3
Briane Meilleur                Eina   0  -  0  -  -  0  *  +  -  -3
Kristin MacCuish               Fleu   0  *  -  0  -  -  0  -  -  -5
 
SECONDS
Ashley Sippala                 McCa   +  +  +  0  +  +  +  0  *  +6
Liz Fyfe                       Fleu   +  *  +  0  +  +  0  +  0  +5
Jessie Haughian                Sche   +  0  -  -  +  *  +  -  +  +1
Shannon Birchard               Eina   -  0  -  +  +  -  *  +  0   0
Jocelyn Peterman               Jone   -  0  0  +  -  0  0  *  0  -1
Sarah Wilkes                   Homa   +  -  *  +  -  +  0  -  -  -1
Dana Ferguson                  Rocq   *  +  -  -  -  0  -  +  0  -2
Lynn Kreviazuk                 Harr   -  0  +  *  -  -  -  -  0  -4
Taylor McDonald                Walk   -  -  0  -  *  -  0  0  0  -4
 
THIRDS 
Emma Miskew                    Homa   0  +  *  +  +  0  +  -  0  +3
Selena Njegovan                Fleu   0  *  -  +  -  +  0  +  +  +2
Kaitlyn Lawes                  Jone   +  +  0  +  -  +  -  *  -  +1
Val Sweeting                   Eina   0  -  0  +  +  -  *  +  0  +1
Kate Cameron                   Walk   0  +  0  *  *  0  0  0  -   0
Kendra Lilly                   McCa   -  -  -  -  +  +  +  0  *  -1
Cary-Anne McTaggart            Sche   0  +  +  -  -  *  0  -  0  -1
Allison Flaxey                 Harr   0  -  0  *  -  -  0  0  +  -2
Danielle Schmiemann            Rocq   *  -  +  -  +  -  -  0  0  -2
 
SKIPS  
Tracy Fleury                   Fleu   +  *  +  +  +  0  0  +  +  +6
Kerri Einarson                 Eina   -  +  0  +  +  0  *  +  -  +2
Laura Walker                   Walk   -  +  0  -  *  +  0  +  +  +2
Krista McCarville              McCa   -  +  0  -  +  0  +  -  *   0
Jennifer Jones                 Jone   +  +  0  +  -  0  -  *  -   0
Kelsey Rocque                  Rocq   *  -  -  0  +  0  -  +  +   0
Casey Scheidegger              Sche   +  -  0  -  -  *  +  -  +  -1
Rachel Homan                   Homa   +  -  *  0  -  -  +  -  -  -3
Jacqueline Harrison            Harr   -  -  0  *  -  0  -  -  -  -6
 
   TEAMS
Team Fleury                           +  *  0  +  +  +  0  +  0  +5
Team Homan                            +  +  *  +  -  0  +  -  -  +1
Team Walker                           -  +  0  -  *  0  0  +  +  +1
Team Einarson                         -  0  0  +  +  -  *  +  0  +1
Team Scheidegger                      +  0  0  -  0  *  0  -  +   0
Team McCarville                       0  -  0  -  +  +  +  -  *   0
Team Jones                            0  +  0  +  -  0  -  *  0   0
Team Rocque                           *  -  0  -  0  0  -  +  0  -2
Team Harrison                         -  -  0  *  -  -  0  -  -  -6
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2021 Tim Hortons Curling Trials - Women
                                   Saskatoon, Saskatchewan
 
                               SCORING ANALYSIS AFTER 9 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
Sche    8    76  FOR       4     7     21    8    1    1    0    0   44   5.5    8  0.58
                 AGAINST   8     8     18   12    2    0    1    0   53   6.6   12  0.70
 
Harr    8    78  FOR       3     4     19   11    0    0    1    0   46   5.8    5  0.59
                 AGAINST   4    13     25   11    3    1    0    0   60   7.5   16  0.77
 
McCa    8    75  FOR       7     5     22    7    3    0    0    0   45   5.6    6  0.60
                 AGAINST   1     9     20   13    2    0    0    0   52   6.5   12  0.69
 
Homa    8    76  FOR       5     7     18   14    0    0    0    0   46   5.8    8  0.61
                 AGAINST   3    11     19   11    5    1    0    0   60   7.5   18  0.79
 
Walk    8    78  FOR       2     9     12   18    3    1    0    0   61   7.6   15  0.78
                 AGAINST   4     9     25    9    3    0    1    0   57   7.1   11  0.73
 
Jone    8    76  FOR       3    11     19   15    4    0    0    0   61   7.6   17  0.80
                 AGAINST   2    10     18   15    0    0    0    0   48   6.0   14  0.63
 
Eina    8    77  FOR       3    14     22   14    0    0    1    0   55   6.9   19  0.71
                 AGAINST   5     8     16   11    5    0    0    0   53   6.6   12  0.69
 
Fleu    8    75  FOR       2    17     26   11    7    0    0    0   69   8.6   24  0.92
                 AGAINST   3     2     16    9    1    0    0    0   37   4.6    2  0.49
 
Rocq    8    75  FOR       3     7     19    9    4    0    0    0   49   6.1    9  0.65
                 AGAINST   2    11     21   16    1    0    0    0   56   7.0   14  0.75
 
 
TOTAL  36   343  FOR      32    81    178  107   22    2    2    0  476   6.6  111  0.69
                 AGAINST  32    81    178  107   22    2    2    0  476   6.6  111  0.69
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2021 Tim Hortons Curling Trials - Women
                                   Saskatoon, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
        Sche  Harr  McCa  Homa  Walk  Jone  Eina  Fleu  Rocq  
 
 
Sche     *     W     W     W     W     L     L     L     L  
 
 
Harr     L     *     L     W     W     L     W     L     L  
 
 
McCa     L     W     *     W     L     L     W     L     W  
 
 
Homa     L     L     L     *     L     W     L     L     W  
 
 
Walk     L     L     W     W     *     L     L     L     W  
 
 
Jone     W     W     W     L     W     *     L     L     W  
 
 
Eina     W     L     L     W     W     W     *     L     L  
 
 
Fleu     W     W     W     W     W     W     W     *     W  
 
 
Rocq     W     W     L     L     L     L     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2021 Tim Hortons Curling Trials - Women
                                   Saskatoon, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Scheidegger               #SH   207  172  379   140  168  308   347  340  687
                                  PTS   675  569 1244   441  552  993  1116 1121 2237
                                  PCT    82   83   82    79   82   81    80   82   81
 
 1 Kristie Moore                  #SH    82   63  145    16   11   27    98   74  172
                                  PTS   291  216  507    50   40   90   341  256  597
                                  PCT    89   86   87    78   91   83    87   86   87
 
 2 Jessie Haughian                #SH    47   36   83    41   48   89    88   84  172
                                  PTS   153  125  278   131  166  297   284  291  575
                                  PCT    81   87   84    80   86   83    81   87   84
 
 3 Cary-Anne McTaggart            #SH    40   34   74    46   52   98    86   86  172
                                  PTS   117  114  231   149  157  306   266  271  537
                                  PCT    73   84   78    81   75   78    77   79   78
 
 4 Casey Scheidegger              #SH    38   39   77    37   57   94    75   96  171
                                  PTS   114  114  228   111  189  300   225  303  528
                                  PCT    75   73   74    75   83   80    75   79   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Harrison                  #SH   211  167  378   109  150  259   320  317  637
                                  PTS   665  486 1151   316  460  776   981  946 1927
                                  PCT    79   73   76    72   77   75    77   75   76
 
 1 Laura Hickey                   #SH    87   56  143     5   12   17    92   68  160
                                  PTS   289  188  477    18   44   62   307  232  539
                                  PCT    83   84   83    90   92   91    83   85   84
 
 2 Lynn Kreviazuk                 #SH    48   35   83    40   37   77    88   72  160
                                  PTS   151  102  253   112  107  219   263  209  472
                                  PCT    79   73   76    70   72   71    75   73   74
 
 3 Allison Flaxey                 #SH    40   30   70    39   51   90    79   81  160
                                  PTS   125   78  203   123  156  279   248  234  482
                                  PCT    78   65   73    79   76   78    78   72   75
 
 4 Jacqueline Harrison            #SH    36   46   82    25   50   75    61   96  157
                                  PTS   100  118  218    63  153  216   163  271  434
                                  PCT    69   64   66    63   77   72    67   71   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team McCarville                #SH   198  198  396   178  201  379   376  399  775
                                  PTS   657  652 1309   579  665 1244  1236 1317 2553
                                  PCT    83   82   83    81   83   82    82   83   82
 
 1 Sarah Potts                    #SH    70   68  138    29   29   58    99   97  196
                                  PTS   247  239  486    90   99  189   337  338  675
                                  PCT    88   88   88    78   85   81    85   87   86
 
 2 Ashley Sippala                 #SH    48   39   87    56   53  109   104   92  196
                                  PTS   163  142  305   198  177  375   361  319  680
                                  PCT    85   91   88    88   83   86    87   87   87
 
 3 Kendra Lilly                   #SH    42   48   90    40   65  105    82  113  195
                                  PTS   131  146  277   116  217  333   247  363  610
                                  PCT    78   76   77    73   83   79    75   80   78
 
 4 Krista McCarville              #SH    38   43   81    53   54  107    91   97  188
                                  PTS   116  125  241   175  172  347   291  297  588
                                  PCT    76   73   74    83   80   81    80   77   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Homan                     #SH   259  104  363   124  135  259   383  239  622
                                  PTS   854  345 1199   388  417  805  1242  762 2004
                                  PCT    82   83   83    78   77   78    81   80   81
 
 1 Joanne Courtney                #SH   110   26  136     9   11   20   119   37  156
                                  PTS   405   93  498    31   30   61   436  123  559
                                  PCT    92   89   92    86   68   76    92   83   90
 
 2 Sarah Wilkes                   #SH    46   20   66    42   48   90    88   68  156
                                  PTS   151   67  218   138  151  289   289  218  507
                                  PCT    82   84   83    82   79   80    82   80   81
 
 3 Emma Miskew                    #SH    50   26   76    34   46   80    84   72  156
                                  PTS   146   90  236   106  153  259   252  243  495
                                  PCT    73   87   78    78   83   81    75   84   79
 
 4 Rachel Homan                   #SH    53   32   85    39   30   69    92   62  154
                                  PTS   152   95  247   113   83  196   265  178  443
                                  PCT    72   74   73    72   69   71    72   72   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Walker                    #SH   195  158  353   124  145  269   319  303  622
                                  PTS   643  510 1153   387  465  852  1030  975 2005
                                  PCT    82   81   82    78   80   79    81   80   81
 
 1 Nadine Scotland                #SH    75   54  129     9   16   25    84   70  154
                                  PTS   263  191  454    27   46   73   290  237  527
                                  PCT    88   88   88    75   72   73    86   85   86
 
 2 Taylor McDonald                #SH    40   31   71    44   40   84    84   71  155
                                  PTS   120  103  223   141  133  274   261  236  497
                                  PCT    75   83   79    80   83   82    78   83   80
 
 3 Kate Cameron                   #SH    37   26   63    27   42   69    64   68  132
                                  PTS   118   81  199    89  132  221   207  213  420
                                  PCT    80   78   79    82   79   80    81   78   80
 
 4 Laura Walker                   #SH    38   40   78    35   42   77    73   82  155
                                  PTS   126  111  237   102  143  245   228  254  482
                                  PCT    83   69   76    73   85   80    78   77   78
 
 5 Erin Pincott                   #SH     5    7   12     9    5   14    14   12   26
                                  PTS    16   24   40    28   11   39    44   35   79
                                  PCT    80   86   83    78   55   70    79   73   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Jones                     #SH   257  181  438   159  193  352   416  374  790
                                  PTS   863  620 1483   518  624 1142  1381 1244 2625
                                  PCT    84   86   85    81   81   81    83   83   83
 
 1 Dawn McEwen                    #SH   122   33  155    13    8   21   135   41  176
                                  PTS   442  123  565    43   32   75   485  155  640
                                  PCT    91   93   91    83  100   89    90   95   91
 
 2 Jocelyn Peterman               #SH    48   42   90    51   56  107    99   98  197
                                  PTS   152  151  303   161  186  347   313  337  650
                                  PCT    79   90   84    79   83   81    79   86   82
 
 3 Kaitlyn Lawes                  #SH    41   39   80    57   63  120    98  102  200
                                  PTS   126  135  261   192  206  398   318  341  659
                                  PCT    77   87   82    84   82   83    81   84   82
 
 4 Jennifer Jones                 #SH    33   59   92    35   66  101    68  125  193
                                  PTS    94  186  280   112  200  312   206  386  592
                                  PCT    71   79   76    80   76   77    76   77   77
 
 5 Lisa Weagle                    #SH    13    8   21     3    0    3    16    8   24
                                  PTS    49   25   74    10    0   10    59   25   84
                                  PCT    94   78   88    83  ***   83    92   78   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Einarson                  #SH   234  142  376   202  213  415   436  355  791
                                  PTS   789  454 1243   662  711 1373  1451 1165 2616
                                  PCT    84   80   83    82   83   83    83   82   83
 
 1 Briane Meilleur                #SH   105   50  155    24   19   43   129   69  198
                                  PTS   370  166  536    60   61  121   430  227  657
                                  PCT    88   83   86    63   80   70    83   82   83
 
 2 Shannon Birchard               #SH    45   21   66    62   70  132   107   91  198
                                  PTS   150   70  220   207  232  439   357  302  659
                                  PCT    83   83   83    83   83   83    83   83   83
 
 3 Val Sweeting                   #SH    33   31   64    66   68  134    99   99  198
                                  PTS   102  103  205   219  238  457   321  341  662
                                  PCT    77   83   80    83   88   85    81   86   84
 
 4 Kerri Einarson                 #SH    51   40   91    50   56  106   101   96  197
                                  PTS   167  115  282   176  180  356   343  295  638
                                  PCT    82   72   77    88   80   84    85   77   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Fleury                    #SH   113  191  304   179  209  388   292  400  692
                                  PTS   356  665 1021   579  711 1290   935 1376 2311
                                  PCT    79   87   84    81   85   83    80   86   83
 
 1 Kristin MacCuish               #SH    37   95  132    16   24   40    53  119  172
                                  PTS   119  341  460    46   76  122   165  417  582
                                  PCT    80   90   87    72   79   76    78   88   85
 
 2 Liz Fyfe                       #SH    23   35   58    48   68  116    71  103  174
                                  PTS    78  118  196   147  242  389   225  360  585
                                  PCT    85   84   84    77   89   84    79   87   84
 
 3 Selena Njegovan                #SH    18   27   45    63   65  128    81   92  173
                                  PTS    53   94  147   213  197  410   266  291  557
                                  PCT    74   87   82    85   76   80    82   79   80
 
 4 Tracy Fleury                   #SH    35   34   69    52   52  104    87   86  173
                                  PTS   106  112  218   173  196  369   279  308  587
                                  PCT    76   82   79    83   94   89    80   90   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Rocque                    #SH   165  157  322   156  141  297   321  298  619
                                  PTS   551  526 1077   513  455  968  1064  981 2045
                                  PCT    83   84   84    82   81   81    83   82   83
 
 1 Rachel Brown                   #SH    71   58  129    12   15   27    83   73  156
                                  PTS   252  209  461    37   42   79   289  251  540
                                  PCT    89   90   89    77   70   73    87   86   87
 
 2 Dana Ferguson                  #SH    30   33   63    53   40   93    83   73  156
                                  PTS    95  107  202   178  128  306   273  235  508
                                  PCT    79   81   80    84   80   82    82   80   81
 
 3 Danielle Schmiemann            #SH    28   28   56    49   51  100    77   79  156
                                  PTS    95   90  185   159  172  331   254  262  516
                                  PCT    85   80   83    81   84   83    82   83   83
 
 4 Kelsey Rocque                  #SH    36   38   74    42   35   77    78   73  151
                                  PTS   109  120  229   139  113  252   248  233  481
                                  PCT    76   79   77    83   81   82    79   80   80
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                           2021 Tim Hortons Curling Trials - Women
                                   Saskatoon, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  40
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  6    Homa  5  Walk 11
          DRAW  7    Fleu 11  Walk  7
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  2    Harr  2  Jone 10
          DRAW  4    McCa  2  Fleu  9
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  5    Jone  9  Eina 10
          DRAW  9    Walk  9  Harr 10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW 11    Eina  3  McCa  4
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  2    Eina 10  Sche  5    Eina SCORED 5 IN THE 6TH END
          DRAW  9    Walk  9  Harr 10    Harr SCORED 5 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  5    Homa  3  Fleu  8    Fleu SCORED 3 IN THE 8TH END
          DRAW  5    Jone  9  Eina 10    Jone SCORED 3 IN THE 8TH END
          DRAW  6    Homa  5  Walk 11    Walk SCORED 3 IN THE 5TH END
          DRAW  8    Fleu 10  Sche  3    Fleu SCORED 3 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   6
 
          DRAW 11    Eina  3  McCa  4
 
NUMBER OF BLANK ENDS IN EVENT:  45
 
MOST BLANK ENDS ONE DRAW:   6
 
          DRAWS  1  5 11
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW 11    Eina  3  McCa  4    BY McCa BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  5    Jone  9  Eina 10
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  2    Harr  2  Jone 10    BY Jone BEGINNING IN END 4
          DRAW  4    McCa  2  Fleu  9    BY Fleu BEGINNING IN END 2
          DRAW  5    Jone  9  Eina 10    BY Eina BEGINNING IN END 1
          DRAW  8    Fleu 10  Sche  3    BY Fleu BEGINNING IN END 2
          DRAW  9    Rocq  8  Eina  4    BY Rocq BEGINNING IN END 8
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  2    Harr  2  Jone 10    BY Jone
          DRAW  5    Jone  9  Eina 10    BY Eina
          DRAW  8    Fleu 10  Sche  3    BY Fleu
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  3    Harr  7  Eina  6    Harr WAS DOWN 3 AFTER 3 ENDS
          DRAW  9    Walk  9  Harr 10    Harr WAS DOWN 3 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   5
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  3    Jone  8  Walk  7
          DRAW  6    Fleu  9  Harr  6
          DRAW  9    Walk  9  Harr 10
          DRAW 11    Eina  3  McCa  4
          DRAW 13    Jone  6  Fleu  5
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  2    Walk  9  Rocq  3
          DRAW  2    Eina 10  Sche  5
          DRAW  2    Harr  2  Jone 10
          DRAW  4    McCa  2  Fleu  9
          DRAW  8    Fleu 10  Sche  3
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  3    Sche  5  McCa  4    BY McCa
          DRAW  5    Homa  3  Fleu  8    BY Homa
          DRAW 11    Eina  3  McCa  4    BY McCa
  </div>
</div>
