<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2003 Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8 AVG
   LEADS  
 1 Diane Dezura                             KLaw  ** 95 ** 83 ** 90 95 **  91
 1 Nancy Delahunt                           Jone  92 ** 94 ** 95 ** 82 **  91
 3 Sheri Cordina                            Midd  ** 93 ** 84 85 ** 95 **  89
 4 Susan McInnis                            Gaud  90 94 ** ** ** 84 ** 86  88
 5 Rona Pasika                              Nedo  84 ** ** 89 88 ** ** 88  87
 5 Donna Gignac                             Ande  ** 86 85 ** 93 ** ** 82  87
 7 Renee Simons                             Scot  ** ** 91 82 ** 90 ** 83  86
 8 Sara Gatchell                            Bodo  88 ** 89 ** ** 88 73 **  84
 9 Angela Mossman                           Roch  86 ** 79 ** 90 78 ** **  83
10 Faye Unrau                               Spen  61 ** 86 ** 79 89 ** **  79
 
   SECONDS
 1 Julie Skinner                            KLaw  ** 88 ** 85 ** 88 84 **  86
 1 Andrea Lawes                             Midd  ** 83 ** 91 86 ** 83 **  86
 3 Sandra Mulroney                          Ande  ** 88 88 ** 85 ** ** 81  85
 4 Mary-Anne Waye                           Jone  84 ** 84 ** 81 ** 83 **  83
 4 Lawnie MacDonald                         Nedo  83 ** ** 83 81 ** ** 85  83
 6 Susan Froud                              Bodo  71 ** 88 ** ** 91 71 **  81
 7 Robyn MacPhee                            Gaud  80 94 ** ** ** 66 ** 81  80
 7 Sherri Singler                           Roch  71 ** 80 ** 88 80 ** **  80
 9 Barb Enright                             Spen  64 ** 84 ** 84 85 ** **  79
10 Sasha Bergner                            Scot  ** ** 88 69 ** 75 ** 82  78
 
   THIRDS 
 1 Kim Hodson                               Ande  ** 94 88 ** 85 ** ** 81  87
 2 Theresa Breen                            Bodo  92 ** 88 ** ** 83 76 **  84
 2 Georgina Wheatcroft                      KLaw  ** 89 ** 81 ** 85 81 **  84
 4 Kirsten Wall                             Midd  ** 79 ** 75 91 ** 84 **  82
 4 Atina Johnston                           Nedo  76 ** ** 91 84 ** ** 76  82
 4 Brandee Borne                            Roch  81 ** 86 ** 78 81 ** **  82
 7 Kim Kelly                                Jone  78 ** 78 ** 75 ** 94 **  81
 7 Jeanna Richard                           Scot  ** ** 91 67 ** 88 ** 79  81
 9 Darcy Robertson                          Spen  81 ** 61 ** 85 90 ** **  80
 9 Rebecca Jean MacPhee                     Gaud  78 80 ** ** ** 79 ** 83  80
 
   SKIPS  
 1 Kelley Law                               KLaw  ** 81 ** 78 ** 94 90 **  86
 2 Penny Shantz                             Bodo  78 ** 85 ** ** 93 80 **  84
 3 Suzanne Gaudet                           Gaud  78 84 ** ** ** 86 ** 78  81
 4 Kelly Scott                              Scot  ** ** 84 71 ** 81 ** 83  80
 5 Colleen Jones                            Jone  86 ** 73 ** 78 ** 75 **  78
 5 Sherry Middaugh                          Midd  ** 82 ** 88 79 ** 63 **  78
 7 Sherry Anderson                          Ande  ** 89 79 ** 74 ** ** 53  74
 7 Patty Rocheleau                          Roch  75 ** 74 ** 76 73 ** **  74
 9 Heather Nedohin                          Nedo  91 ** ** 63 74 ** ** 64  73
10 Barb Spencer                             Spen  85 ** 31 ** 79 56 ** **  65
 
   TEAMS
 1 Law                                            ** 88 ** 82 ** 89 87 **  87
 2 Middaugh                                       ** 84 ** 85 85 ** 81 **  84
 3 Anderson                                       ** 89 85 ** 84 ** ** 74  83
 3 Jones                                          85 ** 82 ** 82 ** 84 **  83
 3 Bodogh/Shantz                                  82 ** 87 ** ** 88 75 **  83
 6 Gaudet                                         82 88 ** ** ** 79 ** 82  82
 7 Nedohin                                        84 ** ** 82 82 ** ** 78  81
 7 Scott                                          ** ** 88 72 ** 83 ** 82  81
 9 Rocheleau                                      78 ** 80 ** 83 78 ** **  80
10 Spencer                                        73 ** 66 ** 82 80 ** **  76
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2003 Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                             PLUS/MINUS STATISTICS AFTER DRAW 8
 
 
                          DRAW----->  1  2  3  4  5  6  7  8 TOT
LEADS  
Diane Dezura                             KLaw   *  +  *  0  *  0  +  *  +2
Nancy Delahunt                           Jone   0  *  +  *  +  *  -  *  +1
Susan McInnis                            Gaud   0  0  *  *  *  +  *  0  +1
Renee Simons                             Scot   *  *  +  0  *  0  *  0  +1
Sara Gatchell                            Bodo   +  *  0  *  *  0  -  *   0
Rona Pasika                              Nedo   0  *  *  +  -  *  *  0   0
Donna Gignac                             Ande   *  -  0  *  +  *  *  0   0
Angela Mossman                           Roch   0  *  -  *  +  -  *  *  -1
Sheri Cordina                            Midd   *  0  *  -  -  *  +  *  -1
Faye Unrau                               Spen   -  *  -  *  -  0  *  *  -3
 
SECONDS
Julie Skinner                            KLaw   *  0  *  +  *  0  +  *  +2
Susan Froud                              Bodo   +  *  0  *  *  +  -  *  +1
Sherri Singler                           Roch   -  *  0  *  0  +  *  *   0
Lawnie MacDonald                         Nedo   +  *  *  -  0  *  *  0   0
Mary-Anne Waye                           Jone   0  *  0  *  0  *  0  *   0
Robyn MacPhee                            Gaud   0  +  *  *  *  -  *  0   0
Andrea Lawes                             Midd   *  -  *  +  0  *  0  *   0
Sandra Mulroney                          Ande   *  0  0  *  0  *  *  0   0
Barb Enright                             Spen   -  *  0  *  0  0  *  *  -1
Sasha Bergner                            Scot   *  *  0  -  *  -  *  0  -2
 
THIRDS 
Brandee Borne                            Roch   +  *  +  *  -  0  *  *  +1
Rebecca Jean MacPhee                     Gaud   0  0  *  *  *  0  *  +  +1
Kim Hodson                               Ande   *  +  0  *  0  *  *  0  +1
Jeanna Richard                           Scot   *  *  +  -  *  +  *  0  +1
Atina Johnston                           Nedo   -  *  *  +  +  *  *  -   0
Georgina Wheatcroft                      KLaw   *  -  *  +  *  -  +  *   0
Darcy Robertson                          Spen   -  *  -  *  0  +  *  *  -1
Theresa Breen                            Bodo   +  *  0  *  *  -  -  *  -1
Kim Kelly                                Jone   0  *  -  *  -  *  +  *  -1
Kirsten Wall                             Midd   *  0  *  -  +  *  -  *  -1
 
SKIPS  
Colleen Jones                            Jone   +  *  0  *  0  *  +  *  +2
Kelley Law                               KLaw   *  -  *  +  *  +  +  *  +2
Suzanne Gaudet                           Gaud   -  0  *  *  *  +  *  +  +1
Barb Spencer                             Spen   +  *  -  *  +  -  *  *   0
Penny Shantz                             Bodo   -  *  +  *  *  +  -  *   0
Sherry Middaugh                          Midd   *  0  *  +  0  *  -  *   0
Kelly Scott                              Scot   *  *  +  -  *  -  *  +   0
Heather Nedohin                          Nedo   +  *  *  -  0  *  *  -  -1
Patty Rocheleau                          Roch   -  *  0  *  0  -  *  *  -2
Sherry Anderson                          Ande   *  +  -  *  -  *  *  -  -2
 
   TEAMS
Law                                             *  0  *  +  *  +  +  *  +3
Nedohin                                         +  *  *  0  0  *  *  0  +1
Bodogh/Shantz                                   +  *  0  *  *  +  -  *  +1
Jones                                           0  *  0  *  0  *  0  *   0
Middaugh                                        *  0  *  0  0  *  0  *   0
Scott                                           *  *  +  -  *  -  *  +   0
Gaudet                                          0  0  *  *  *  0  *  0   0
Anderson                                        *  0  0  *  0  *  *  -  -1
Rocheleau                                       -  *  0  *  0  0  *  *  -1
Spencer                                         -  *  -  *  0  -  *  *  -3
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2003 Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                               SCORING ANALYSIS AFTER 8 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
Jone    4    40  FOR       0     5      8    7    2    0    0    0   28   7.0    8  0.70
                 AGAINST   6     4     10    5    1    1    0    0   27   6.8    5  0.68
 
KLaw    4    39  FOR       0     4      6    8    2    3    0    0   40  10.0    8  1.03
                 AGAINST   4     3     11    4    1    0    0    0   22   5.5    3  0.56
 
Ande    4    41  FOR       3     3      7    8    2    0    0    0   29   7.3    3  0.71
                 AGAINST   1     7     12    5    2    1    0    0   32   8.0    9  0.78
 
Midd    4    38  FOR       2     5     10    8    0    0    0    0   26   6.5    5  0.68
                 AGAINST   1     5     13    4    0    0    0    0   21   5.3    6  0.55
 
Nedo    4    38  FOR       1     6     12    6    1    0    0    0   27   6.8    7  0.71
                 AGAINST   0     6     11    5    2    0    0    0   27   6.8    6  0.71
 
Bodo    4    40  FOR       4     4     14    4    1    0    0    0   25   6.3    5  0.63
                 AGAINST   0     2      5   10    1    1    0    0   32   8.0    4  0.80
 
Scot    4    35  FOR       1     8     10    2    4    0    0    0   26   6.5   11  0.74
                 AGAINST   4     5      8    4    2    0    0    0   22   5.5    8  0.63
 
Gaud    4    40  FOR       4     3     11    4    1    1    0    0   26   6.5    3  0.65
                 AGAINST   2     3      9    7    1    0    0    0   26   6.5    4  0.65
 
Roch    4    40  FOR       3     4     10    5    2    0    0    0   26   6.5    6  0.65
                 AGAINST   1     5      8    9    2    0    0    0   32   8.0    8  0.80
 
Spen    4    35  FOR       3     2      8    5    0    0    0    0   18   4.5    3  0.51
                 AGAINST   2     4      9    4    3    1    0    0   30   7.5    6  0.86
 
 
TOTAL  20   193  FOR      21    44     96   57   15    4    0    0  271   6.8   59  0.70
                 AGAINST  21    44     96   57   15    4    0    0  271   6.8   59  0.70
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2003 Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                                     TEAM WIN/LOSS GRID
 
 
                                           POOL A
 
        Jone  Midd  Nedo  Gaud  Roch  
 
 
Jone     *     W     W     L     L  
 
 
Midd     L     *     W     W     W  
 
 
Nedo     L     L     *     L     W  
 
 
Gaud     W     L     W     *     W  
 
 
Roch     W     L     L     L     *  
 
 
 
                                           POOL B
 
        KLaw  Ande  Bodo  Scot  Spen  
 
 
KLaw     *     W     W     W     W  
 
 
Ande     L     *     W     L     W  
 
 
Bodo     L     L     *     W     L  
 
 
Scot     L     W     L     *     W  
 
 
Spen     L     L     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2003 Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Jones                                    #SH    74  100  174    61   88  149   135  188  323
                                  PTS   243  334  577   199  300  499   442  634 1076
                                  PCT    82   84   83    82   85   84    82   84   83
 
 1 Nancy Delahunt                           #SH    25   40   65     2   13   15    27   53   80
                                  PTS    88  149  237     8   46   54    96  195  291
                                  PCT    88   93   91   100   88   90    89   92   91
 
 2 Mary-Anne Waye                           #SH    15   14   29    27   26   53    42   40   82
                                  PTS    48   44   92    89   91  180   137  135  272
                                  PCT    80   79   79    82   88   85    82   84   83
 
 3 Kim Kelly                                #SH    17   22   39    18   25   43    35   47   82
                                  PTS    58   64  122    63   81  144   121  145  266
                                  PCT    85   73   78    88   81   84    86   77   81
 
 4 Colleen Jones                            #SH    17   24   41    14   24   38    31   48   79
                                  PTS    49   77  126    39   82  121    88  159  247
                                  PCT    72   80   77    70   85   80    71   83   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Law                                      #SH    99  128  227   196  110  306   295  238  533
                                  PTS   318  450  768   677  349 1026   995  799 1794
                                  PCT    80   88   85    86   79   84    84   84   84
 
 1 Diane Dezura                             #SH    28   71   99    12   21   33    40   92  132
                                  PTS    96  264  360    36   73  109   132  337  469
                                  PCT    86   93   91    75   87   83    83   92   89
 
 2 Julie Skinner                            #SH    21   14   35    59   40   99    80   54  134
                                  PTS    68   39  107   204  126  330   272  165  437
                                  PCT    81   70   76    86   79   83    85   76   82
 
 3 Georgina Wheatcroft                      #SH    23   17   40    67   27   94    90   44  134
                                  PTS    73   54  127   243   80  323   316  134  450
                                  PCT    79   79   79    91   74   86    88   76   84
 
 4 Kelley Law                               #SH    27   26   53    58   22   80    85   48  133
                                  PTS    81   93  174   194   70  264   275  163  438
                                  PCT    75   89   82    84   80   83    81   85   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Anderson                                 #SH    92  117  209    89  108  197   181  225  406
                                  PTS   299  371  670   288  359  647   587  730 1317
                                  PCT    81   79   80    81   83   82    81   81   81
 
 1 Donna Gignac                             #SH    44   35   79    11   12   23    55   47  102
                                  PTS   154  114  268    40   40   80   194  154  348
                                  PCT    88   81   85    91   83   87    88   82   85
 
 2 Sandra Mulroney                          #SH    16   25   41    23   38   61    39   63  102
                                  PTS    53   76  129    72  126  198   125  202  327
                                  PCT    83   76   79    78   83   81    80   80   80
 
 3 Kim Hodson                               #SH    12   32   44    24   34   58    36   66  102
                                  PTS    41   98  139    85  120  205   126  218  344
                                  PCT    85   77   79    89   88   88    88   83   84
 
 4 Sherry Anderson                          #SH    20   25   45    31   24   55    51   49  100
                                  PTS    51   83  134    91   73  164   142  156  298
                                  PCT    64   83   74    73   76   75    70   80   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Middaugh                                 #SH   104  120  224   119  131  250   223  251  474
                                  PTS   344  402  746   380  437  817   724  839 1563
                                  PCT    83   84   83    80   83   82    81   84   82
 
 1 Sheri Cordina                            #SH    39   55   94    11   14   25    50   69  119
                                  PTS   140  189  329    37   48   85   177  237  414
                                  PCT    90   86   88    84   86   85    89   86   87
 
 2 Andrea Lawes                             #SH    19   22   41    35   44   79    54   66  120
                                  PTS    55   76  131   111  160  271   166  236  402
                                  PCT    72   86   80    79   91   86    77   89   84
 
 3 Kirsten Wall                             #SH    21   21   42    37   41   78    58   62  120
                                  PTS    75   69  144   122  124  246   197  193  390
                                  PCT    89   82   86    82   76   79    85   78   81
 
 4 Sherry Middaugh                          #SH    25   22   47    36   32   68    61   54  115
                                  PTS    74   68  142   110  105  215   184  173  357
                                  PCT    74   77   76    76   82   79    75   80   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nedohin                                  #SH    76  113  189    58   69  127   134  182  316
                                  PTS   238  387  625   186  216  402   424  603 1027
                                  PCT    78   86   83    80   78   79    79   83   81
 
 1 Rona Pasika                              #SH    26   38   64     7    8   15    33   46   79
                                  PTS    86  143  229    21   25   46   107  168  275
                                  PCT    83   94   89    75   78   77    81   91   87
 
 2 Lawnie MacDonald                         #SH    11   26   37    16   27   43    27   53   80
                                  PTS    33   89  122    53   90  143    86  179  265
                                  PCT    75   86   82    83   83   83    80   84   83
 
 3 Atina Johnston                           #SH    19   26   45    17   18   35    36   44   80
                                  PTS    65   83  148    56   58  114   121  141  262
                                  PCT    86   80   82    82   81   81    84   80   82
 
 4 Heather Nedohin                          #SH    20   23   43    18   16   34    38   39   77
                                  PTS    54   72  126    56   43   99   110  115  225
                                  PCT    68   78   73    78   67   73    72   74   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Bodogh/Shantz                            #SH    65  101  166    62   92  154   127  193  320
                                  PTS   226  338  564   190  312  502   416  650 1066
                                  PCT    87   84   85    77   85   81    82   84   83
 
 1 Sara Gatchell                            #SH    16   41   57     8   15   23    24   56   80
                                  PTS    61  133  194    23   52   75    84  185  269
                                  PCT    95   81   85    72   87   82    88   83   84
 
 2 Susan Froud                              #SH    21   18   39    17   24   41    38   42   80
                                  PTS    66   53  119    56   83  139   122  136  258
                                  PCT    79   74   76    82   86   85    80   81   81
 
 3 Theresa Breen                            #SH    11   22   33    23   24   47    34   46   80
                                  PTS    43   79  122    70   78  148   113  157  270
                                  PCT    98   90   92    76   81   79    83   85   84
 
 4 Penny Shantz                             #SH    17   20   37    14   29   43    31   49   80
                                  PTS    56   73  129    41   99  140    97  172  269
                                  PCT    82   91   87    73   85   81    78   88   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Scott                                    #SH   136   97  233    94  106  200   230  203  433
                                  PTS   448  296  744   326  337  663   774  633 1407
                                  PCT    82   76   80    87   79   83    84   78   81
 
 1 Renee Simons                             #SH    62   23   85     8   15   23    70   38  108
                                  PTS   210   84  294    31   55   86   241  139  380
                                  PCT    85   91   86    97   92   93    86   91   88
 
 2 Sasha Bergner                            #SH    24   27   51    26   33   59    50   60  110
                                  PTS    81   68  149    95  108  203   176  176  352
                                  PCT    84   63   73    91   82   86    88   73   80
 
 3 Jeanna Richard                           #SH    24   21   45    34   31   65    58   52  110
                                  PTS    80   65  145   110   94  204   190  159  349
                                  PCT    83   77   81    81   76   78    82   76   79
 
 4 Kelly Scott                              #SH    26   26   52    26   27   53    52   53  105
                                  PTS    77   79  156    90   80  170   167  159  326
                                  PCT    74   76   75    87   74   80    80   75   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Gaudet                                   #SH   141   72  213   134  118  252   275  190  465
                                  PTS   435  249  684   444  386  830   879  635 1514
                                  PCT    77   86   80    83   82   82    80   84   81
 
 1 Susan McInnis                            #SH    63   22   85    23    6   29    86   28  114
                                  PTS   216   76  292    85   23  108   301   99  400
                                  PCT    86   86   86    92   96   93    88   88   88
 
 2 Robyn MacPhee                            #SH    26   16   42    35   41   76    61   57  118
                                  PTS    86   48  134   118  131  249   204  179  383
                                  PCT    83   75   80    84   80   82    84   79   81
 
 3 Rebecca Jean MacPhee                     #SH    34   13   47    45   26   71    79   39  118
                                  PTS    96   47  143   139   85  224   235  132  367
                                  PCT    71   90   76    77   82   79    74   85   78
 
 4 Suzanne Gaudet                           #SH    18   21   39    31   45   76    49   66  115
                                  PTS    37   78  115   102  147  249   139  225  364
                                  PCT    51   93   74    82   82   82    71   85   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Rocheleau                                #SH    92   66  158    76   82  158   168  148  316
                                  PTS   308  205  513   234  261  495   542  466 1008
                                  PCT    84   78   81    77   80   78    81   79   80
 
 1 Angela Mossman                           #SH    40   20   60     8    9   17    48   29   77
                                  PTS   134   67  201    26   30   56   160   97  257
                                  PCT    84   84   84    81   83   82    83   84   83
 
 2 Sherri Singler                           #SH    16   21   37    21   22   43    37   43   80
                                  PTS    54   67  121    66   68  134   120  135  255
                                  PCT    84   80   82    79   77   78    81   78   80
 
 3 Brandee Borne                            #SH    20   13   33    21   26   47    41   39   80
                                  PTS    74   31  105    70   86  156   144  117  261
                                  PCT    93   60   80    83   83   83    88   75   82
 
 4 Patty Rocheleau                          #SH    16   12   28    26   25   51    42   37   79
                                  PTS    46   40   86    72   77  149   118  117  235
                                  PCT    72   83   77    69   77   73    70   79   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Spencer                                  #SH    90   53  143    68   65  133   158  118  276
                                  PTS   262  170  432   215  190  405   477  360  837
                                  PCT    73   80   76    79   73   76    75   76   76
 
 1 Faye Unrau                               #SH    39   13   52    13    3   16    52   16   68
                                  PTS   125   37  162    44    8   52   169   45  214
                                  PCT    80   71   78    85   67   81    81   70   79
 
 2 Barb Enright                             #SH    19   10   29    19   22   41    38   32   70
                                  PTS    60   33   93    65   63  128   125   96  221
                                  PCT    79   83   80    86   72   78    82   75   79
 
 3 Darcy Robertson                          #SH    16   15   31    20   19   39    36   34   70
                                  PTS    42   54   96    70   59  129   112  113  225
                                  PCT    66   90   77    88   78   83    78   83   80
 
 4 Barb Spencer                             #SH    16   15   31    16   21   37    32   36   68
                                  PTS    35   46   81    36   60   96    71  106  177
                                  PCT    55   77   65    56   71   65    55   74   65
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                         2003 Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  25
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  2    Law 11  Anderson  7
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  3    Spencer  1  Scott  8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW  2    Law 11  Anderson  7
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   9
 
          DRAW  3    Spencer  1  Scott  8
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  1    Jones  7  Gaudet  8    Gaudet SCORED 4 IN THE 5TH END
          DRAW  2    Law 11  Anderson  7    Law SCORED 4 IN THE 11TH END
          DRAW  6    Law 10  Spencer  4    Law SCORED 4 IN THE 5TH END
          DRAW  7    Bodogh/Shantz  7  Law 10    Law SCORED 4 IN THE 8TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  3    Rocheleau  9  Jones  7    Jones SCORED 3 IN THE 9TH END
          DRAW  3    Spencer  1  Scott  8    Scott SCORED 3 IN THE 7TH END
          DRAW  4    Scott  4  Law  9    Law SCORED 3 IN THE 9TH END
          DRAW 11    Gaudet  9  Scott  6    Gaudet SCORED 3 IN THE 8TH END
 
MOST BLANK ENDS, ONE GAME:   3
 
          DRAW  1    Jones  7  Gaudet  8
          DRAW  5    Anderson  8  Spencer  5
 
NUMBER OF BLANK ENDS IN EVENT:  25
 
MOST BLANK ENDS ONE DRAW:   5
 
          DRAW  5
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  1    Jones  7  Gaudet  8    BY Gaudet BEGINNING IN END 7
          DRAW  3    Spencer  1  Scott  8    BY Spencer BEGINNING IN END 1
          DRAW  7    Bodogh/Shantz  7  Law 10    BY Bodogh/Shantz BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  8    Scott  9  Anderson  5
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  8    Scott  9  Anderson  5    BY Scott BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  4    Scott  4  Law  9    BY Law
 
LARGEST COME FROM BEHIND VICTORY:   2
 
          DRAW  1    Jones  7  Gaudet  8    Gaudet WAS DOWN 2 AFTER 1 END
          DRAW  4    Scott  4  Law  9    Law WAS DOWN 2 AFTER 6 ENDS
          DRAW  4    Nedohin  5  Middaugh  7    Middaugh WAS DOWN 2 AFTER 1 END
          DRAW 11    Law  6  Middaugh  8    Middaugh WAS DOWN 2 AFTER 2 ENDS
          DRAW 13    Middaugh  8  Law  7    Middaugh WAS DOWN 2 AFTER 8 ENDS
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    Jones  7  Gaudet  8
          DRAW  2    Law 11  Anderson  7
          DRAW  3    Anderson  9  Bodogh/Shantz  7
 
FEWEST ENDS PLAYED IN ONE GAME:   7
 
          DRAW  3    Spencer  1  Scott  8
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  3    Spencer  1  Scott  8    BY Spencer
  </div>
</div>
