<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 AVG
   LEADS  
 + Sandra Jenkins                 Kle   ** ** ** ** ** ** ** ** 93  93
 1 Georgina Wheatcroft            Jon   ** 88 93 ** 94 ** 98 ** 89  91
 1 Carey Burgess                  Har   98 ** 94 ** ** 88 85 ** 90  91
 3 Nicole Jacques                 Ran   86 ** ** 90 88 ** ** 90 86  88
 4 Tracy Bush                     Kin   ** 90 90 ** 90 ** ** 86 78  87
 5 Jolene McIvor                  Bet   84 ** ** 88 ** 76 91 ** 91  86
 5 Susan O'Leary                  Str   ** 76 ** 86 93 ** 85 ** 88  86
 7 Renee Simons                   Sco   ** 89 81 ** 89 ** 94 ** 77  85
 8 Tina McDonald                  Son   88 ** 81 ** ** 78 ** 88 84  84
 9 Christine Keshen               Kle   68 ** 89 ** ** 75 91 ** **  81
10 Carol Webb                     Com   71 ** ** 63 81 ** ** 83 90  79
 
   SECONDS
 1 Jill Officer                   Jon   ** 81 89 ** 76 **100 ** 88  86
 + Christine Keshen               Kle   ** ** ** ** ** ** ** ** 86  86
 2 Sasha Carter                   Sco   ** 81 83 ** 85 ** 81 ** 97  85
 3 Twyla Bruce                    Son   75 ** 86 ** ** 76 ** 86 86  82
 4 Allison Farrell                Com   76 ** ** 79 84 ** ** 83 84  81
 5 Raylene Rocque                 Kin   ** 68 86 ** 86 ** ** 78 79  79
 6 Laura Strong                   Str   ** 74 ** 74 93 ** 80 ** 69  78
 6 Cherie-Ann Loder               Har   79 ** 83 ** ** 67 71 ** 88  78
 8 Joan McCusker                  Bet   77 ** ** 73 ** 85 75 ** 74  77
 9 Glenys Bakker                  Kle   64 ** 79 ** ** 68 86 ** **  74
10 Samantha Preston               Ran   58 ** ** 71 63 ** ** 79 77  69
 
   THIRDS 
 1 Jeanna Schraeder               Sco   ** 79 90 ** 85 ** 88 ** 88  86
 + Glenys Bakker                  Kle   ** ** ** ** ** ** ** ** 84  84
 2 Nikki Smith                    Son   77 ** 73 ** ** 88 ** 86 82  81
 3 Amy Nixon                      Kle   70 ** 85 ** ** 69 93 ** **  79
 4 Lori Armitstead                Kin   ** 73 78 ** 63 ** ** 86 88  77
 4 Deanna Doig                    Ran   74 ** ** 83 80 ** ** 84 61  77
 6 Sherry Linton                  Bet   80 ** ** 58 ** 65 79 ** 85  74
 7 Stacey Leger                   Com   65 ** ** 73 76 ** ** 82 66  73
 8 Cathy Overton-Clapham          Jon   ** 70 68 ** 76 ** 85 ** 63  71
 8 Shelley Nichols                Str   ** 68 ** 78 73 ** 73 ** 65  71
10 Jill Thurston                  Har   71 ** 63 ** ** 60 61 ** 80  67
 
   SKIPS  
 1 Sandy Comeau                   Com   68 ** ** 81 81 ** ** 76 86  78
 1 Kelly Scott                    Sco   ** 81 79 ** 76 ** 63 ** 84  78
 3 Renee Sonnenberg               Son   69 ** 84 ** ** 74 ** 72 84  76
 3 Jan Betker                     Bet   86 ** ** 67 ** 81 80 ** 63  76
 5 Jennifer Jones                 Jon   ** 73 65 ** 83 ** 77 ** 79  75
 6 Heather Strong                 Str   ** 79 ** 81 47 ** 85 ** 75  73
 6 Janet Harvey                   Har   74 ** 70 ** ** 60 79 ** 80  73
 8 Shannon Kleibrink              Kle   64 ** 66 ** ** 72 85 ** 73  72
 8 Cathy King                     Kin   ** 65 75 ** 71 ** ** 74 75  72
10 Heather Rankin                 Ran   58 ** ** 75 79 ** ** 74 64  70
 
   TEAMS
 1 Scott                                ** 83 83 ** 84 ** 81 ** 86  83
 2 Jones                                ** 78 78 ** 82 ** 90 ** 79  81
 2 Sonnenberg                           77 ** 81 ** ** 79 ** 83 84  81
 4 King                                 ** 74 82 ** 78 ** ** 81 80  79
 5 Betker                               82 ** ** 71 ** 77 81 ** 78  78
 5 Comeau                               70 ** ** 74 81 ** ** 81 81  78
 5 Kleibrink                            66 ** 80 ** ** 71 89 ** 84  78
 8 Strong                               ** 74 ** 79 77 ** 81 ** 74  77
 8 Harvey                               80 ** 77 ** ** 68 74 ** 84  77
10 Rankin                               69 ** ** 80 77 ** ** 82 72  76
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                             PLUS/MINUS STATISTICS AFTER DRAW 9
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 TOT
LEADS  
Jolene McIvor                  Bet    0  *  *  +  *  0  +  *  +  +3
Carey Burgess                  Har    +  *  +  *  *  +  -  *  0  +2
Georgina Wheatcroft            Jon    *  0  +  *  +  *  0  *  0  +2
Christine Keshen               Kle    0  *  -  *  *  0  +  *  *   0
Renee Simons                   Sco    *  +  -  *  +  *  0  *  -   0
Tracy Bush                     Kin    *  0  +  *  0  *  *  0  -   0
Nicole Jacques                 Ran    -  *  *  0  -  *  *  0  +  -1
Tina McDonald                  Son    0  *  -  *  *  -  *  +  -  -2
Susan O'Leary                  Str    *  -  *  0  0  *  -  *  0  -2
Carol Webb                     Com    0  *  *  -  -  *  *  -  0  -3
 
SECONDS
Jill Officer                   Jon    *  +  0  *  +  *  +  *  +  +4
Allison Farrell                Com    +  *  *  +  0  *  *  0  0  +2
Twyla Bruce                    Son    0  *  0  *  *  +  *  0  0  +1
Sasha Carter                   Sco    *  +  0  *  0  *  -  *  +  +1
Cherie-Ann Loder               Har    +  *  0  *  *  -  0  *  0   0
Glenys Bakker                  Kle    -  *  0  *  *  -  +  *  *  -1
Joan McCusker                  Bet    0  *  *  -  *  +  0  *  -  -1
Raylene Rocque                 Kin    *  -  0  *  -  *  *  0  +  -1
Laura Strong                   Str    *  -  *  0  +  *  -  *  -  -2
Samantha Preston               Ran    -  *  *  0  -  *  *  0  -  -3
 
THIRDS 
Jeanna Schraeder               Sco    *  +  +  *  +  *  0  *  +  +4
Amy Nixon                      Kle    +  *  +  *  *  0  +  *  *  +3
Nikki Smith                    Son    0  *  +  *  *  +  *  0  0  +2
Deanna Doig                    Ran    0  *  *  +  0  *  *  0  -   0
Sherry Linton                  Bet    0  *  *  -  *  0  +  *  0   0
Cathy Overton-Clapham          Jon    *  0  -  *  0  *  0  *  0  -1
Jill Thurston                  Har    0  *  -  *  *  -  -  *  +  -2
Stacey Leger                   Com    -  *  *  +  -  *  *  0  -  -2
Shelley Nichols                Str    *  -  *  -  +  *  -  *  0  -2
Lori Armitstead                Kin    *  0  -  *  -  *  *  0  0  -2
 
SKIPS  
Sandy Comeau                   Com    0  *  *  +  +  *  *  0  +  +3
Renee Sonnenberg               Son    -  *  +  *  *  +  *  0  +  +2
Cathy King                     Kin    *  -  0  *  +  *  *  0  +  +1
Jennifer Jones                 Jon    *  +  -  *  0  *  +  *  0  +1
Jan Betker                     Bet    +  *  *  -  *  +  0  *  -   0
Heather Strong                 Str    *  0  *  +  -  *  0  *  0   0
Janet Harvey                   Har    +  *  0  *  *  -  0  *  -  -1
Kelly Scott                    Sco    *  0  0  *  -  *  -  *  +  -1
Shannon Kleibrink              Kle    0  *  0  *  *  -  0  *  -  -2
Heather Rankin                 Ran    -  *  *  -  0  *  *  0  -  -3
 
   TEAMS
Betker                                +  *  *  0  *  +  +  *  0  +3
Jones                                 *  0  0  *  +  *  +  *  +  +3
Scott                                 *  +  0  *  0  *  -  *  +  +1
King                                  *  0  0  *  0  *  *  0  0   0
Kleibrink                             0  *  0  *  *  -  +  *  0   0
Sonnenberg                            -  *  0  *  *  +  *  0  0   0
Comeau                                0  *  *  0  0  *  *  0  0   0
Harvey                                +  *  0  *  *  -  -  *  0  -1
Rankin                                -  *  *  0  -  *  *  0  -  -3
Strong                                *  -  *  0  0  *  -  *  -  -3
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                               SCORING ANALYSIS AFTER 9 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
Bet     5    43  FOR       2     1     10    5    0    3    1    0   37   7.4    1  0.86
                 AGAINST   2     4      8    8    3    0    1    0   38   7.6    9  0.88
 
Har     5    47  FOR       1     4     11    7    3    0    0    0   34   6.8    6  0.72
                 AGAINST   1     5     12    9    2    1    0    0   40   8.0    7  0.85
 
Jon     5    45  FOR       0     5      8    9    3    0    1    0   40   8.0    7  0.89
                 AGAINST   2     7     16    4    2    0    0    0   30   6.0    9  0.67
 
Kin     5    51  FOR       2    11     17    9    0    0    0    0   35   7.0   16  0.69
                 AGAINST   2     6     15    4    2    0    0    0   29   5.8    9  0.57
 
Kle     5    46  FOR       4     4     10    8    0    0    0    0   26   5.2    5  0.57
                 AGAINST   1     7     16    5    0    2    0    0   34   6.8    9  0.74
 
Ran     5    46  FOR       1     6     15    3    2    0    0    0   27   5.4    7  0.59
                 AGAINST   2     7     11    9    3    0    0    0   38   7.6   13  0.83
 
Sco     5    45  FOR       2     4     10    7    2    0    0    0   30   6.0    7  0.67
                 AGAINST   4     7     14    5    0    0    1    0   29   5.8    9  0.64
 
Son     5    45  FOR       0     7     10   10    3    1    0    0   43   8.6   10  0.96
                 AGAINST   2     3      8    7    2    1    1    0   37   7.4    4  0.82
 
Str     5    48  FOR       8     5     14    1    2    0    0    0   22   4.4    7  0.46
                 AGAINST   2     8     13    6    2    0    0    0   31   6.2    9  0.65
 
Com     5    46  FOR       1    10     16    7    1    0    1    0   38   7.6   16  0.83
                 AGAINST   3     3      8    9    0    0    0    0   26   5.2    4  0.57
 
 
TOTAL  25   231  FOR      21    57    121   66   16    4    3    0  332   6.6   82  0.72
                 AGAINST  21    57    121   66   16    4    3    0  332   6.6   82  0.72
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                                     TEAM WIN/LOSS GRID
 
 
                                           POOL A
 
        Bet   Har   Kle   Son   Com   
 
 
Bet      *     W     W     W     L  
 
 
Har      L     *     L     L     L  
 
 
Kle      L     W     *     L     L  
 
 
Son      L     W     W     *     W  
 
 
Com      W     W     W     L     *  
 
 
 
                                           POOL B
 
        Jon   Kin   Ran   Sco   Str   
 
 
Jon      *     L     W     W     W  
 
 
Kin      W     *     W     L     W  
 
 
Ran      L     L     *     L     W  
 
 
Sco      L     W     W     *     W  
 
 
Str      L     L     L     L     *  
                            Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                             CROSSOVER GAMES GRID AFTER 9 DRAWS
 
 
        Bet   Har   Jon   Kin   Kle   Ran   Sco   Son   Str   Com   
 
 
Bet      *     -     -     L     -     -     -     -     -     -  
 
 
Har      -     *     -     -     -     W     -     -     -     -  
 
 
Jon      -     -     *     -     -     -     -     L     -     -  
 
 
Kin      W     -     -     *     -     -     -     -     -     -  
 
 
Kle      -     -     -     -     *     -     -     -     L     -  
 
 
Ran      -     L     -     -     -     *     -     -     -     -  
 
 
Sco      -     -     -     -     -     -     *     -     -     L  
 
 
Son      -     -     W     -     -     -     -     *     -     -  
 
 
Str      -     -     -     -     W     -     -     -     *     -  
 
 
Com      -     -     -     -     -     -     W     -     -     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Betker                         #SH   113   89  202    79   71  150   192  160  352
                                  PTS   367  278  645   236  221  457   603  499 1102
                                  PCT    81   78   80    75   78   76    79   78   78
 
 1 Jolene McIvor                  #SH    39   36   75     5    8   13    44   44   88
                                  PTS   141  127  268    12   23   35   153  150  303
                                  PCT    90   88   89    60   72   67    87   85   86
 
 2 Joan McCusker                  #SH    24   17   41    27   20   47    51   37   88
                                  PTS    80   42  122    81   68  149   161  110  271
                                  PCT    83   62   74    75   85   79    79   74   77
 
 3 Sherry Linton                  #SH    27   19   46    21   21   42    48   40   88
                                  PTS    79   57  136    62   64  126   141  121  262
                                  PCT    73   75   74    74   76   75    73   76   74
 
 4 Jan Betker                     #SH    23   17   40    26   22   48    49   39   88
                                  PTS    67   52  119    81   66  147   148  118  266
                                  PCT    73   76   74    78   75   77    76   76   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Harvey                         #SH   108   87  195    92   92  184   200  179  379
                                  PTS   362  267  629   269  267  536   631  534 1165
                                  PCT    84   77   81    73   73   73    79   75   77
 
 1 Carey Burgess                  #SH    61   23   84     6    3    9    67   26   93
                                  PTS   223   78  301    24   12   36   247   90  337
                                  PCT    91   85   90   100  100  100    92   87   91
 
 2 Cherie-Ann Loder               #SH    15   20   35    27   34   61    42   54   96
                                  PTS    46   65  111    86  101  187   132  166  298
                                  PCT    77   81   79    80   74   77    79   77   78
 
 3 Jill Thurston                  #SH    17   24   41    33   22   55    50   46   96
                                  PTS    43   63  106    86   65  151   129  128  257
                                  PCT    63   66   65    65   74   69    65   70   67
 
 4 Janet Harvey                   #SH    15   20   35    26   33   59    41   53   94
                                  PTS    50   61  111    73   89  162   123  150  273
                                  PCT    83   76   79    70   67   69    75   71   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Jones                          #SH   231  163  394   147  149  296   378  312  690
                                  PTS   802  537 1339   463  481  944  1265 1018 2283
                                  PCT    87   82   85    79   81   80    84   82   83
 
 1 Georgina Wheatcroft            #SH   107   38  145    19    7   26   126   45  171
                                  PTS   395  133  528    72   27   99   467  160  627
                                  PCT    92   88   91    95   96   95    93   89   92
 
 2 Jill Officer                   #SH    42   41   83    51   40   91    93   81  174
                                  PTS   142  142  284   160  146  306   302  288  590
                                  PCT    85   87   86    78   91   84    81   89   85
 
 3 Cathy Overton-Clapham          #SH    42   44   86    34   54   88    76   98  174
                                  PTS   129  135  264    92  173  265   221  308  529
                                  PCT    77   77   77    68   80   75    73   79   76
 
 4 Jennifer Jones                 #SH    40   40   80    43   48   91    83   88  171
                                  PTS   136  127  263   139  135  274   275  262  537
                                  PCT    85   79   82    81   70   75    83   74   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   King                           #SH   204  105  309   111  124  235   315  229  544
                                  PTS   687  297  984   345  398  743  1032  695 1727
                                  PCT    84   71   80    78   80   79    82   76   79
 
 1 Tracy Bush                     #SH    88   30  118    10    8   18    98   38  136
                                  PTS   319  106  425    28   20   48   347  126  473
                                  PCT    91   88   90    70   63   67    89   83   87
 
 2 Raylene Rocque                 #SH    30   29   59    36   41   77    66   70  136
                                  PTS   100   81  181   123  131  254   223  212  435
                                  PCT    83   70   77    85   80   82    84   76   80
 
 3 Lori Armitstead                #SH    43   25   68    31   37   68    74   62  136
                                  PTS   145   63  208    93  121  214   238  184  422
                                  PCT    84   63   76    75   82   79    80   74   78
 
 4 Cathy King                     #SH    43   21   64    34   38   72    77   59  136
                                  PTS   123   47  170   101  126  227   224  173  397
                                  PCT    72   56   66    74   83   79    73   73   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Kleibrink                      #SH   132   64  196   100   77  177   232  141  373
                                  PTS   407  193  600   316  242  558   723  435 1158
                                  PCT    77   75   77    79   79   79    78   77   78
 
 1 Christine Keshen               #SH    59   12   71    22    1   23    81   13   94
                                  PTS   192   36  228    75    3   78   267   39  306
                                  PCT    81   75   80    85   75   85    82   75   81
 
 2 Glenys Bakker                  #SH    22   18   40    27   27   54    49   45   94
                                  PTS    61   58  119    80   85  165   141  143  284
                                  PCT    69   81   74    74   79   76    72   79   76
 
 3 Amy Nixon                      #SH    16   17   33    29   18   47    45   35   80
                                  PTS    54   45   99    93   61  154   147  106  253
                                  PCT    84   66   75    80   85   82    82   76   79
 
 4 Shannon Kleibrink              #SH    26   15   41    21   29   50    47   44   91
                                  PTS    68   46  114    64   85  149   132  131  263
                                  PCT    65   77   70    76   73   75    70   74   72
 
 5 Sandra Jenkins                 #SH     9    2   11     1    2    3    10    4   14
                                  PTS    32    8   40     4    8   12    36   16   52
                                  PCT    89  100   91   100  100  100    90  100   93
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Rankin                         #SH   127   88  215    80   77  157   207  165  372
                                  PTS   408  267  675   229  229  458   637  496 1133
                                  PCT    80   76   78    72   74   73    77   75   76
 
 1 Nicole Jacques                 #SH    60   24   84     3    5    8    63   29   92
                                  PTS   216   83  299    12   13   25   228   96  324
                                  PCT    90   86   89   100   65   78    90   83   88
 
 2 Samantha Preston               #SH    19   25   44    21   29   50    40   54   94
                                  PTS    53   67  120    55   86  141   108  153  261
                                  PCT    70   67   68    65   74   71    68   71   69
 
 3 Deanna Doig                    #SH    25   19   44    26   24   50    51   43   94
                                  PTS    79   59  138    75   76  151   154  135  289
                                  PCT    79   78   78    72   79   76    75   78   77
 
 4 Heather Rankin                 #SH    23   20   43    30   19   49    53   39   92
                                  PTS    60   58  118    87   54  141   147  112  259
                                  PCT    65   73   69    73   71   72    69   72   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Scott                          #SH   111   89  200   123  116  239   234  205  439
                                  PTS   379  300  679   404  373  777   783  673 1456
                                  PCT    85   84   85    82   80   81    84   82   83
 
 1 Renee Simons                   #SH    48   40   88     9   13   22    57   53  110
                                  PTS   169  138  307    33   37   70   202  175  377
                                  PCT    88   86   87    92   71   80    89   83   86
 
 2 Sasha Carter                   #SH    20   15   35    36   39   75    56   54  110
                                  PTS    72   51  123   123  124  247   195  175  370
                                  PCT    90   85   88    85   79   82    87   81   84
 
 3 Jeanna Schraeder               #SH    20   17   37    42   31   73    62   48  110
                                  PTS    65   63  128   132  102  234   197  165  362
                                  PCT    81   93   86    79   82   80    79   86   82
 
 4 Kelly Scott                    #SH    23   17   40    36   33   69    59   50  109
                                  PTS    73   48  121   116  110  226   189  158  347
                                  PCT    79   71   76    81   83   82    80   79   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sonnenberg                     #SH   132  129  261   108  125  233   240  254  494
                                  PTS   438  411  849   347  401  748   785  812 1597
                                  PCT    83   80   81    80   80   80    82   80   81
 
 1 Tina McDonald                  #SH    48   54  102    15    7   22    63   61  124
                                  PTS   169  184  353    49   17   66   218  201  419
                                  PCT    88   85   87    82   61   75    87   82   84
 
 2 Twyla Bruce                    #SH    23   28   51    32   41   73    55   69  124
                                  PTS    72   88  160   104  137  241   176  225  401
                                  PCT    78   79   78    81   84   83    80   82   81
 
 3 Nikki Smith                    #SH    31   15   46    34   44   78    65   59  124
                                  PTS   100   47  147   113  137  250   213  184  397
                                  PCT    81   78   80    83   78   80    82   78   80
 
 4 Renee Sonnenberg               #SH    30   32   62    27   33   60    57   65  122
                                  PTS    97   92  189    81  110  191   178  202  380
                                  PCT    81   72   76    75   83   80    78   78   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Strong                         #SH   132   87  219    82   94  176   214  181  395
                                  PTS   412  244  656   261  299  560   673  543 1216
                                  PCT    78   70   75    80   80   80    79   75   77
 
 1 Susan O'Leary                  #SH    59   23   82    12    6   18    71   29  100
                                  PTS   199   82  281    38   23   61   237  105  342
                                  PCT    84   89   86    79   96   85    83   91   86
 
 2 Laura Strong                   #SH    28   21   49    20   31   51    48   52  100
                                  PTS    91   60  151    60  100  160   151  160  311
                                  PCT    81   71   77    75   81   78    79   77   78
 
 3 Shelley Nichols                #SH    25   24   49    28   23   51    53   47  100
                                  PTS    68   49  117    90   77  167   158  126  284
                                  PCT    68   51   60    80   84   82    75   67   71
 
 4 Heather Strong                 #SH    20   19   39    22   34   56    42   53   95
                                  PTS    54   53  107    73   99  172   127  152  279
                                  PCT    68   70   69    83   73   77    76   72   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Comeau                         #SH   135  110  245    91  124  215   226  234  460
                                  PTS   421  339  760   291  394  685   712  733 1445
                                  PCT    78   77   78    80   79   80    79   78   79
 
 1 Carol Webb                     #SH    61   27   88    10   15   25    71   42  113
                                  PTS   197   87  284    29   47   76   226  134  360
                                  PCT    81   81   81    73   78   76    80   80   80
 
 2 Allison Farrell                #SH    30   27   57    26   33   59    56   60  116
                                  PTS    96   80  176    86  116  202   182  196  378
                                  PCT    80   74   77    83   88   86    81   82   81
 
 3 Stacey Leger                   #SH    25   23   48    34   34   68    59   57  116
                                  PTS    77   64  141   103  101  204   180  165  345
                                  PCT    77   70   73    76   74   75    76   72   74
 
 4 Sandy Comeau                   #SH    19   33   52    21   42   63    40   75  115
                                  PTS    51  108  159    73  130  203   124  238  362
                                  PCT    67   82   76    87   77   81    78   79   79
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                            Strauss Canada Cup of Curling - Women
                                        Kamloops, BC
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  30
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  13
 
          DRAW  1    Betker 13  Sonnenberg  7
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  2    Strong  2  Scott  5
          DRAW  4    Comeau 10  Betker  2
          DRAW  7    Jones 11  Scott  2
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW  1    Betker 13  Sonnenberg  7
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  2    Strong  2  Scott  5
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  1    Betker 13  Sonnenberg  7    Betker SCORED 5 IN THE SECOND END
          DRAW  7    Jones 11  Scott  2    Jones SCORED 5 IN THE 5TH END
          DRAW 11    King 10  Sonnenberg  4    King SCORED 5 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW  4    Comeau 10  Betker  2    Comeau SCORED 5 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  2    Strong  2  Scott  5
 
NUMBER OF BLANK ENDS IN EVENT:  24
 
MOST BLANK ENDS ONE DRAW:   6
 
          DRAW  9
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  2    Strong  2  Scott  5    BY Strong BEGINNING IN END 4
          DRAW 10    Scott  5  Jones  7    BY Jones BEGINNING IN END 2
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  5    Strong  5  King  7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  3    Jones  6  Sonnenberg  7    BY Sonnenberg BEGINNING IN END 4
          DRAW  5    Strong  5  King  7    BY King BEGINNING IN END 5
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  4    Comeau 10  Betker  2    BY Comeau
          DRAW  5    Strong  5  King  7    BY King
          DRAW  9    Scott 10  Rankin  3    BY Scott
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  1    Kleibrink  5  Comeau  6    Comeau WAS DOWN 3 AFTER 3 ENDS
          DRAW  5    Strong  5  King  7    King WAS DOWN 3 AFTER 3 ENDS
          DRAW  7    Harvey  9  Betker 10    Betker WAS DOWN 3 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  3    Scott  8  King  6
          DRAW  8    Comeau  8  Sonnenberg 10
          DRAW 11    Jones 10  Comeau  8
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  4    Comeau 10  Betker  2
          DRAW  7    Jones 11  Scott  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  1    Kleibrink  5  Comeau  6    BY Kleibrink
          DRAW  5    Strong  5  King  7    BY Strong
  </div>
</div>
