<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Canada Cup of Curling - Women
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 AVG
   LEADS  
 1 Tracy Bush                     KING  97 ** 94 ** ** 89 88 ** 86 **  91
 2 Andra Harmark                  SMID  86 ** 91 ** 93 ** 84 ** ** 86  88
 3 Heather Seeley                 HOLL  92 ** ** 85 ** 80 93 ** ** 85  87
 3 Chelsey Bell                   KLEI  ** 83 ** 81 ** 90 ** 85 ** 92  87
 5 Lana Vey                       LAWT  93 ** ** 78 ** 84 ** ** ** **  84
 6 Veronique Brassard             M-FL  78 ** 69 ** ** 94 ** 83 ** 96  82
 6 Renee Simons                   SCOT  81 ** 80 ** 84 ** ** 72 91 **  82
 8 Theresa Breen                  M-AA  ** 81 73 ** ** 83 ** 81 81 **  80
 + Teejay Surik                   LAWT  ** ** ** ** ** ** ** 79 ** 80  79
 9 Cindy Simmons                  ENGL  81 ** ** 75 ** 71 91 ** ** 78  79
10 Cori Bartel                    BERN  89 ** 81 ** ** 68 ** 58 83 **  77
 
   SECONDS
 1 Raylene Rocque                 KING  86 ** 90 ** ** 94 85 ** 80 **  87
 2 Bronwen Webster                KLEI  ** 88 ** 85 ** 84 ** 90 ** 80  85
 2 Carolyn Darbyshire             BERN  90 ** 74 ** ** 90 ** 82 88 **  85
 4 Sherri Singler                 LAWT  97 ** ** 86 ** 70 ** 79 ** 84  83
 5 Joelle Sabourin                M-FL  76 ** 78 ** ** 80 ** 68 ** 94  78
 6 Roberta Materi                 ENGL  73 ** ** 73 ** 80 72 ** ** 86  77
 7 Sasha Carter                   SCOT  89 ** 57 ** 73 ** ** 78 79 **  76
 8 Tammy Schneider                HOLL  90 ** ** 55 ** 76 84 ** ** 71  74
 9 Laine Peters                   M-AA  ** 78 77 ** ** 65 ** 74 73 **  73
10 Kim Moore                      SMID  75 ** 64 ** 68 ** 77 ** ** 61  69
 
   THIRDS 
 1 Kaitlyn Lawes                  KING  90 ** 74 ** ** 90 75 ** 77 **  81
 2 Susan O'Connor                 BERN  76 ** 78 ** ** 83 ** 69 92 **  80
 3 Amy Nixon                      KLEI  ** 76 ** 75 ** 78 ** 86 ** 70  77
 3 Jeanna Schraeder               SCOT  74 ** 80 ** 82 ** ** 67 83 **  77
 5 Deanna Doig                    ENGL  68 ** ** 71 ** 75 89 ** ** 73  75
 6 Kim Schneider                  HOLL  88 ** ** 68 ** 72 73 ** ** 69  74
 6 Marliese Kasner                LAWT  69 ** ** 69 ** 75 ** 83 ** 73  74
 6 Annie Lemay                    M-FL  80 ** 75 ** ** 76 ** 64 ** 75  74
 9 Kay Zinck                      M-AA  ** 70 54 ** ** 73 ** 81 81 **  73
10 Kirsten Wall                   SMID  76 ** 64 ** 64 ** 81 ** ** 67  71
 
   SKIPS  
 1 Cathy King                     KING  94 ** 74 ** ** 79 66 ** 82 **  79
 2 Cheryl Bernard                 BERN  82 ** 69 ** ** 78 ** 79 77 **  77
 3 Marie-France Larouche          M-FL  79 ** 81 ** ** 79 ** 53 ** 88  75
 4 Kelly Scott                    SCOT  77 ** 76 ** 84 ** ** 72 63 **  74
 4 Mary-Anne Arsenault            M-AA  ** 68 91 ** ** 68 ** 68 83 **  74
 6 Stefanie Lawton                LAWT  71 ** ** 77 ** 56 ** 78 ** 81  73
 7 Shannon Kleibrink              KLEI  ** 55 ** 85 ** 75 ** 71 ** 75  71
 8 Amber Holland                  HOLL  96 ** ** 66 ** 67 70 ** ** 40  70
 9 Michelle Englot                ENGL  80 ** ** 58 ** 68 72 ** ** 64  69
10 Sherry Middaugh                SMID  64 ** 68 ** 66 ** 53 ** ** 70  65
 
   TEAMS
 1 KING                                 92 ** 83 ** ** 88 78 ** 81 **  84
 2 KLEIBRINK                            ** 75 ** 82 ** 82 ** 83 ** 79  80
 2 BERNARD                              84 ** 76 ** ** 80 ** 73 85 **  80
 4 LAWTON                               83 ** ** 78 ** 71 ** 80 ** 80  78
 5 LAROUCHE                             78 ** 76 ** ** 82 ** 67 ** 88  77
 5 SCOTT                                80 ** 73 ** 81 ** ** 72 80 **  77
 7 HOLLAND                              91 ** ** 68 ** 74 80 ** ** 66  76
 8 ENGLOT                               75 ** ** 69 ** 73 81 ** ** 75  75
 8 ARSENAULT                            ** 74 74 ** ** 72 ** 76 79 **  75
10 MIDDAUGH                             76 ** 72 ** 73 ** 74 ** ** 71  73
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Canada Cup of Curling - Women
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 10
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 TOT
LEADS  
Chelsey Bell                   KLEI   *  0  *  +  *  +  *  +  *  +  +4
Andra Harmark                  SMID   +  *  +  *  +  *  -  *  *  -  +1
Veronique Brassard             M-FL   -  *  -  *  *  +  *  0  *  +   0
Heather Seeley                 HOLL   0  *  *  +  *  -  +  *  *  -   0
Lana Vey                       LAWT   0  *  *  -  *  +  *  *  *  *   0
Theresa Breen                  M-AA   *  0  -  *  *  +  *  +  -  *   0
Cori Bartel                    BERN   0  *  +  *  *  -  *  -  0  *  -1
Tracy Bush                     KING   0  *  +  *  *  -  -  *  0  *  -1
Cindy Simmons                  ENGL   0  *  *  -  *  -  +  *  *  0  -1
Renee Simons                   SCOT   0  *  -  *  -  *  *  -  +  *  -2
 
SECONDS
Bronwen Webster                KLEI   *  +  *  +  *  +  *  +  *  +  +5
Carolyn Darbyshire             BERN   0  *  0  *  *  +  *  +  +  *  +3
Sherri Singler                 LAWT   +  *  *  +  *  -  *  +  *  0  +2
Sasha Carter                   SCOT   +  *  -  *  +  *  *  -  +  *  +1
Raylene Rocque                 KING   -  *  +  *  *  +  0  *  -  *   0
Joelle Sabourin                M-FL   0  *  0  *  *  -  *  -  *  +  -1
Kim Moore                      SMID   0  *  -  *  -  *  +  *  *  -  -2
Roberta Materi                 ENGL   -  *  *  -  *  +  -  *  *  0  -2
Tammy Schneider                HOLL   0  *  *  -  *  -  0  *  *  -  -3
Laine Peters                   M-AA   *  -  +  *  *  -  *  -  -  *  -3
 
THIRDS 
Amy Nixon                      KLEI   *  +  *  0  *  +  *  +  *  0  +3
Jeanna Schraeder               SCOT   +  *  +  *  +  *  *  -  0  *  +2
Susan O'Connor                 BERN   -  *  0  *  *  +  *  -  +  *   0
Kaitlyn Lawes                  KING   +  *  -  *  *  +  0  *  -  *   0
Deanna Doig                    ENGL   -  *  *  0  *  0  +  *  *  0   0
Kirsten Wall                   SMID   0  *  +  *  -  *  -  *  *  0  -1
Annie Lemay                    M-FL   0  *  0  *  *  -  *  -  *  +  -1
Kim Schneider                  HOLL   +  *  *  0  *  -  0  *  *  -  -1
Marliese Kasner                LAWT   -  *  *  0  *  -  *  +  *  0  -1
Kay Zinck                      M-AA   *  -  -  *  *  0  *  +  0  *  -1
 
SKIPS  
Marie-France Larouche          M-FL   +  *  +  *  *  0  *  -  *  +  +2
Cathy King                     KING   +  *  0  *  *  0  0  *  +  *  +2
Mary-Anne Arsenault            M-AA   *  +  +  *  *  0  *  -  +  *  +2
Shannon Kleibrink              KLEI   *  -  *  +  *  +  *  0  *  +  +2
Stefanie Lawton                LAWT   -  *  *  +  *  -  *  +  *  +  +1
Kelly Scott                    SCOT   0  *  0  *  +  *  *  0  -  *   0
Cheryl Bernard                 BERN   -  *  -  *  *  +  *  +  -  *  -1
Michelle Englot                ENGL   0  *  *  -  *  0  +  *  *  -  -1
Amber Holland                  HOLL   +  *  *  -  *  -  0  *  *  -  -2
Sherry Middaugh                SMID   -  *  -  *  -  *  -  *  *  -  -5
 
   TEAMS
KLEIBRINK                             *  0  *  +  *  +  *  +  *  +  +4
KING                                  +  *  +  *  *  +  0  *  0  *  +3
LAWTON                                -  *  *  +  *  -  *  +  *  +  +1
ARSENAULT                             *  0  0  *  *  0  *  0  0  *   0
BERNARD                               -  *  0  *  *  +  *  0  0  *   0
SCOTT                                 +  *  -  *  +  *  *  -  0  *   0
LAROUCHE                              0  *  0  *  *  -  *  -  *  +  -1
ENGLOT                                -  *  *  -  *  0  +  *  *  -  -2
HOLLAND                               +  *  *  -  *  -  0  *  *  -  -2
MIDDAUGH                              0  *  0  *  -  *  -  *  *  -  -3
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Canada Cup of Curling - Women
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                               SCORING ANALYSIS AFTER 10 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
M-AA    5    45  FOR       2     7     11    7    1    1    0    0   32   6.4    9  0.71
                 AGAINST   4     7     11    8    0    0    0    0   27   5.4    9  0.60
 
BERN    5    49  FOR       2     9     11   13    2    0    0    0   43   8.6   17  0.88
                 AGAINST   0     4      9    7    3    2    0    0   40   8.0    5  0.82
 
ENGL    5    42  FOR       2    11     16    4    2    0    0    0   30   6.0   15  0.71
                 AGAINST   2     3      2   10    4    0    0    0   34   6.8    7  0.81
 
HOLL    5    47  FOR       4     4     10    8    2    0    0    0   32   6.4    5  0.68
                 AGAINST   2     4      9    8    3    1    0    0   38   7.6    6  0.81
 
KING    5    49  FOR       0     8     13    8    1    1    0    0   36   7.2   10  0.73
                 AGAINST   5     7     12    7    2    0    0    0   32   6.4   10  0.65
 
KLEI    5    47  FOR       4     4     10   10    3    0    0    0   39   7.8    5  0.83
                 AGAINST   1     3     10    9    0    0    0    0   28   5.6    3  0.60
 
M-FL    5    44  FOR       3     5      6    8    4    2    0    0   42   8.4    8  0.95
                 AGAINST   1     8     12    8    0    0    0    0   28   5.6   10  0.64
 
LAWT    5    46  FOR       1     8     10    6    4    0    0    0   34   6.8   11  0.74
                 AGAINST   3     9     10    9    3    0    0    0   37   7.4   14  0.80
 
SMID    5    41  FOR       1     0      9    6    0    0    0    0   21   4.2    0  0.51
                 AGAINST   1     7     13    7    2    1    0    1   43   8.6   11  1.05
 
SCOT    5    46  FOR       2     3      9    8    0    0    0    1   31   6.2    3  0.67
                 AGAINST   2     7     17    5    2    0    0    0   33   6.6    8  0.72
 
 
TOTAL  25   228  FOR      21    59    105   78   19    4    0    1  340   6.8   83  0.75
                 AGAINST  21    59    105   78   19    4    0    1  340   6.8   83  0.75
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Canada Cup of Curling - Women
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
                                           POOL A
 
        M-AA  ENGL  KLEI  SMID  SCOT  
 
 
M-AA     *     L     W     W     W  
 
 
ENGL     W     *     L     W     W  
 
 
KLEI     L     W     *     W     W  
 
 
SMID     L     L     L     *     L  
 
 
SCOT     L     L     L     W     *  
 
 
 
                                           POOL B
 
        BERN  HOLL  KING  M-FL  LAWT  
 
 
BERN     *     L     W     L     W  
 
 
HOLL     W     *     L     L     W  
 
 
KING     L     W     *     L     W  
 
 
M-FL     W     W     W     *     L  
 
 
LAWT     L     L     L     W     *  
                             2009 Canada Cup of Curling - Women
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                             CROSSOVER GAMES GRID AFTER 10 DRAWS
 
 
        M-AA  BERN  ENGL  HOLL  KING  KLEI  M-FL  LAWT  SMID  SCOT  
 
 
M-AA     *     L     -     -     -     -     -     -     -     -  
 
 
BERN     W     *     -     -     -     -     -     -     -     -  
 
 
ENGL     -     -     *     -     -     -     -     L     -     -  
 
 
HOLL     -     -     -     *     -     L     -     -     -     -  
 
 
KING     -     -     -     -     *     -     -     -     -     L  
 
 
KLEI     -     -     -     W     -     *     -     -     -     -  
 
 
M-FL     -     -     -     -     -     -     *     -     W     -  
 
 
LAWT     -     -     W     -     -     -     -     *     -     -  
 
 
SMID     -     -     -     -     -     -     L     -     *     -  
 
 
SCOT     -     -     -     -     W     -     -     -     -     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Canada Cup of Curling - Women
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   ARSENAULT                      #SH   143  112  255   110   85  195   253  197  450
                                  PTS   431  326  757   344  259  603   775  585 1360
                                  PCT    75   73   74    78   76   77    77   74   76
 
 1 Theresa Breen                  #SH    66   20   86    17    7   24    83   27  110
                                  PTS   223   67  290    51   21   72   274   88  362
                                  PCT    84   84   84    75   75   75    83   81   82
 
 2 Laine Peters                   #SH    26   27   53    31   30   61    57   57  114
                                  PTS    72   78  150   102   87  189   174  165  339
                                  PCT    69   72   71    82   73   77    76   72   74
 
 3 Kay Zinck                      #SH    30   30   60    36   18   54    66   48  114
                                  PTS    74   85  159   114   54  168   188  139  327
                                  PCT    62   71   66    79   75   78    71   72   72
 
 4 Mary-Anne Arsenault            #SH    21   35   56    26   30   56    47   65  112
                                  PTS    62   96  158    77   97  174   139  193  332
                                  PCT    74   69   71    74   81   78    74   74   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   BERNARD                        #SH   154   92  246   163  146  309   317  238  555
                                  PTS   457  283  740   519  502 1021   976  785 1761
                                  PCT    74   77   75    80   86   83    77   82   79
 
 1 Cori Bartel                    #SH    66   43  109    17    7   24    83   50  133
                                  PTS   214  138  352    53   21   74   267  159  426
                                  PCT    81   80   81    78   75   77    80   80   80
 
 2 Carolyn Darbyshire             #SH    19   14   33    61   48  109    80   62  142
                                  PTS    56   40   96   206  173  379   262  213  475
                                  PCT    74   71   73    84   90   87    82   86   84
 
 3 Susan O'Connor                 #SH    23   18   41    55   47  102    78   65  143
                                  PTS    62   59  121   172  166  338   234  225  459
                                  PCT    67   82   74    78   88   83    75   87   80
 
 4 Cheryl Bernard                 #SH    46   17   63    30   44   74    76   61  137
                                  PTS   125   46  171    88  142  230   213  188  401
                                  PCT    68   68   68    73   81   78    70   77   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   ENGLOT                         #SH   141  131  272   122  112  234   263  243  506
                                  PTS   443  370  813   375  343  718   818  713 1531
                                  PCT    79   71   75    77   77   77    78   73   76
 
 1 Cindy Simmons                  #SH    57   48  105    12    9   21    69   57  126
                                  PTS   183  151  334    39   30   69   222  181  403
                                  PCT    80   79   80    81   83   82    80   79   80
 
 2 Roberta Materi                 #SH    28   28   56    42   30   72    70   58  128
                                  PTS    87   81  168   137  102  239   224  183  407
                                  PCT    78   72   75    82   85   83    80   79   79
 
 3 Deanna Doig                    #SH    27   32   59    39   30   69    66   62  128
                                  PTS    79   90  169   120   86  206   199  176  375
                                  PCT    73   70   72    77   72   75    75   71   73
 
 4 Michelle Englot                #SH    29   23   52    29   43   72    58   66  124
                                  PTS    94   48  142    79  125  204   173  173  346
                                  PCT    81   52   68    68   73   71    75   66   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   HOLLAND                        #SH   115   92  207    83   89  172   198  181  379
                                  PTS   330  273  603   263  290  553   593  563 1156
                                  PCT    72   74   73    79   81   80    75   78   76
 
 1 Heather Seeley                 #SH    43   33   76     6   12   18    49   45   94
                                  PTS   140  120  260    22   44   66   162  164  326
                                  PCT    81   91   86    92   92   92    83   91   87
 
 2 Tammy Schneider                #SH    26   28   54    19   20   39    45   48   93
                                  PTS    71   74  145    62   70  132   133  144  277
                                  PCT    68   66   67    82   88   85    74   75   74
 
 3 Kim Schneider                  #SH    25   18   43    28   25   53    53   43   96
                                  PTS    79   40  119    91   74  165   170  114  284
                                  PCT    79   56   69    81   74   78    80   66   74
 
 4 Amber Holland                  #SH    21   13   34    30   32   62    51   45   96
                                  PTS    40   39   79    88  102  190   128  141  269
                                  PCT    48   75   58    73   80   77    63   78   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   KING                           #SH   149   95  244    67   88  155   216  183  399
                                  PTS   516  309  825   228  292  520   744  601 1345
                                  PCT    87   81   85    85   83   84    86   82   84
 
 1 Tracy Bush                     #SH    49   35   84     7    8   15    56   43   99
                                  PTS   183  124  307    22   30   52   205  154  359
                                  PCT    93   89   91    79   94   87    92   90   91
 
 2 Raylene Rocque                 #SH    31   19   50    25   25   50    56   44  100
                                  PTS   109   68  177    82   88  170   191  156  347
                                  PCT    88   89   89    82   88   85    85   89   87
 
 3 Kaitlyn Lawes                  #SH    36   20   56    19   25   44    55   45  100
                                  PTS   118   55  173    68   83  151   186  138  324
                                  PCT    82   69   77    89   83   86    85   77   81
 
 4 Cathy King                     #SH    33   21   54    16   30   46    49   51  100
                                  PTS   106   62  168    56   91  147   162  153  315
                                  PCT    80   74   78    88   76   80    83   75   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   KLEIBRINK                      #SH   138  110  248   151  134  285   289  244  533
                                  PTS   438  349  787   510  441  951   948  790 1738
                                  PCT    79   79   79    84   82   83    82   81   82
 
 1 Chelsey Bell                   #SH    67   31   98    28    7   35    95   38  133
                                  PTS   220  109  329    97   28  125   317  137  454
                                  PCT    82   88   84    87  100   89    83   90   85
 
 2 Bronwen Webster                #SH    21   24   45    50   39   89    71   63  134
                                  PTS    73   69  142   173  134  307   246  203  449
                                  PCT    87   72   79    87   86   86    87   81   84
 
 3 Amy Nixon                      #SH    20   26   46    46   42   88    66   68  134
                                  PTS    58   78  136   164  137  301   222  215  437
                                  PCT    73   75   74    89   82   86    84   79   82
 
 4 Shannon Kleibrink              #SH    30   29   59    27   46   73    57   75  132
                                  PTS    87   93  180    76  142  218   163  235  398
                                  PCT    73   80   76    70   77   75    71   78   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   LAROUCHE                       #SH   176  166  342   143  137  280   319  303  622
                                  PTS   568  504 1072   462  410  872  1030  914 1944
                                  PCT    81   76   78    81   75   78    81   75   78
 
 1 Veronique Brassard             #SH    59   67  126    12   18   30    71   85  156
                                  PTS   215  211  426    40   54   94   255  265  520
                                  PCT    91   79   85    83   75   78    90   78   83
 
 2 Joelle Sabourin                #SH    29   37   66    46   44   90    75   81  156
                                  PTS    93  113  206   152  135  287   245  248  493
                                  PCT    80   76   78    83   77   80    82   77   79
 
 3 Annie Lemay                    #SH    41   30   71    45   40   85    86   70  156
                                  PTS   116   90  206   138  118  256   254  208  462
                                  PCT    71   75   73    77   74   75    74   74   74
 
 4 Marie-France Larouche          #SH    47   32   79    40   35   75    87   67  154
                                  PTS   144   90  234   132  103  235   276  193  469
                                  PCT    77   70   74    83   74   78    79   72   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   LAWTON                         #SH   126   85  211    83   82  165   209  167  376
                                  PTS   382  256  638   267  269  536   649  525 1174
                                  PCT    76   75   76    80   82   81    78   79   78
 
 1 Lana Vey                       #SH    38   14   52     4    2    6    42   16   58
                                  PTS   135   42  177    12    7   19   147   49  196
                                  PCT    89   75   85    75   88   79    88   77   84
 
 2 Sherri Singler                 #SH    17   17   34    31   31   62    48   48   96
                                  PTS    58   50  108   108  103  211   166  153  319
                                  PCT    85   74   79    87   83   85    86   80   83
 
 3 Marliese Kasner                #SH    25   26   51    22   23   45    47   49   96
                                  PTS    63   86  149    67   68  135   130  154  284
                                  PCT    63   83   73    76   74   75    69   79   74
 
 4 Stefanie Lawton                #SH    24   21   45    23   23   46    47   44   91
                                  PTS    54   57  111    70   83  153   124  140  264
                                  PCT    56   68   62    76   90   83    66   80   73
 
 5 Teejay Surik                   #SH    22    7   29     3    3    6    25   10   35
                                  PTS    72   21   93    10    8   18    82   29  111
                                  PCT    82   75   80    83   67   75    82   73   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   MIDDAUGH                       #SH   113   90  203    75   64  139   188  154  342
                                  PTS   337  265  602   225  174  399   562  439 1001
                                  PCT    75   74   74    75   68   72    75   71   73
 
 1 Andra Harmark                  #SH    38   31   69     8    9   17    46   40   86
                                  PTS   141  113  254    26   22   48   167  135  302
                                  PCT    93   91   92    81   61   71    91   84   88
 
 2 Kim Moore                      #SH    26   23   49    23   14   37    49   37   86
                                  PTS    68   63  131    67   39  106   135  102  237
                                  PCT    65   68   67    73   70   72    69   69   69
 
 3 Kirsten Wall                   #SH    27   15   42    21   23   44    48   38   86
                                  PTS    71   40  111    66   67  133   137  107  244
                                  PCT    66   67   66    79   73   76    71   70   71
 
 4 Sherry Middaugh                #SH    22   21   43    23   18   41    45   39   84
                                  PTS    57   49  106    66   46  112   123   95  218
                                  PCT    65   58   62    72   64   68    68   61   65
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   SCOTT                          #SH   137  107  244    63   66  129   200  173  373
                                  PTS   434  333  767   186  198  384   620  531 1151
                                  PCT    79   78   79    74   75   74    78   77   77
 
 1 Renee Simons                   #SH    39   43   82     7    5   12    46   48   94
                                  PTS   128  140  268    21   18   39   149  158  307
                                  PCT    82   81   82    75   90   81    81   82   82
 
 2 Sasha Carter                   #SH    27   26   53    19   22   41    46   48   94
                                  PTS    86   83  169    54   61  115   140  144  284
                                  PCT    80   80   80    71   69   70    76   75   76
 
 3 Jeanna Schraeder               #SH    39   17   56    17   21   38    56   38   94
                                  PTS   114   47  161    58   70  128   172  117  289
                                  PCT    73   69   72    85   83   84    77   77   77
 
 4 Kelly Scott                    #SH    32   21   53    20   18   38    52   39   91
                                  PTS   106   63  169    53   49  102   159  112  271
                                  PCT    83   75   80    66   68   67    76   72   74
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Canada Cup of Curling - Women
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  30
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  3    BERNARD  9  LAROUCHE 12
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW 10    LAROUCHE  9  HOLLAND  2
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  21
 
          DRAW  3    BERNARD  9  LAROUCHE 12
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  2    ARSENAULT  5  KLEIBRINK  3
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW  5    MIDDAUGH  4  SCOTT 10    SCOTT SCORED 6 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 12    BERNARD  8  ENGLOT  5    BERNARD SCORED 4 IN THE SECOND END
 
MOST BLANK ENDS, ONE GAME:   3
 
          DRAW  2    ARSENAULT  5  KLEIBRINK  3
 
NUMBER OF BLANK ENDS IN EVENT:  28
 
MOST BLANK ENDS ONE DRAW:   5
 
          DRAWS  1  6
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW 12    KLEIBRINK  6  LAROUCHE  4    BY LAROUCHE BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  8    LAROUCHE  5  LAWTON  6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  6    ARSENAULT  5  ENGLOT  7    BY ENGLOT BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  7    ENGLOT  9  MIDDAUGH  3    BY ENGLOT
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  3    BERNARD  9  LAROUCHE 12    LAROUCHE WAS DOWN 3 AFTER 8 ENDS
          DRAW  4    HOLLAND 10  LAWTON  8    HOLLAND WAS DOWN 3 AFTER 9 ENDS
 
NUMBER OF EXTRA END GAMES:   8
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    ENGLOT  7  SCOTT  6
          DRAW  3    BERNARD  9  LAROUCHE 12
          DRAW  4    HOLLAND 10  LAWTON  8
          DRAW  6    KLEIBRINK  9  HOLLAND  8
          DRAW  9    KING  9  BERNARD 10
          DRAW 10    KLEIBRINK  7  MIDDAUGH  6
          DRAW 11    ARSENAULT  6  ENGLOT  7
          DRAW 13    LAROUCHE  7  BERNARD  6
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  4    KLEIBRINK  9  ENGLOT  3
          DRAW 10    LAROUCHE  9  HOLLAND  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  2    ARSENAULT  5  KLEIBRINK  3    BY KLEIBRINK
  </div>
</div>
