<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             WOMEN - 2012 Capital One Canada Cup
                                   Moose Jaw, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 AVG
   LEADS  
 1 Breanne Meakin                           OVE   ** 94 73 83 ** 81 ** 78 88  83
 2 Leigh Armstrong                          MID   72 81 ** 89 73 ** 91 85 **  82
 3 Samantha Preston                         WEB   73 78 ** 84 81 ** 96 73 **  80
 3 Dawn Askin                               JON   84 ** 64 ** 73 94 79 ** 90  80
 5 Lindsay Titheridge                       CAR   ** 73 76 92 ** 79 ** 80 75  79
 6 Laine Peters                             NED   ** 90 71 61 ** 75 ** 70 95  78
 7 Marliese Kasner                          LAW   75 78 ** 72 79 ** 84 79 **  77
 
   SECONDS
 1 Jill Officer                             JON   80 ** 85 ** 75 68 74 ** 86  78
 1 Lee Merklinger                           MID   61 88 ** 75 83 ** 86 73 **  78
 3 Sherri Singler                           LAW   81 83 ** 61 75 ** 96 66 **  76
 4 Ashley Howard                            OVE   ** 81 71 68 ** 66 ** 79 80  74
 5 Jessica Mair                             NED   ** 66 70 74 ** 76 ** 78 74  73
 5 Geri-Lynn Ramsay                         WEB   59 80 ** 74 74 ** 76 75 **  73
 7 Kristen Foster                           CAR   ** 85 66 64 ** 78 ** 84 57  72
 
   THIRDS 
 1 Sherry Anderson                          LAW   88 81 ** 64 71 ** 96 71 **  78
 2 Jo-Ann Rizzo                             MID   80 93 ** 73 64 ** 63 75 **  74
 2 Kristy McDonald                          CAR   ** 54 63 73 ** 85 ** 90 78  74
 4 Beth Iskiw                               NED   ** 66 76 75 ** 53 ** 84 77  73
 5 Kirsten Wall                             JON   60 ** 84 ** 80 58 66 ** 80  72
 6 Erin Carmody                             WEB   61 68 ** 70 61 ** 85 75 **  70
 7 Jenna Loder                              OVE   ** 66 75 66 ** 64 ** 64 77  69
 
   SKIPS  
 1 Stefanie Lawton                          LAW   69 76 ** 76 79 ** 88 78 **  78
 2 Heather Nedohin                          NED   ** 65 78 81 ** 74 ** 75 83  76
 3 Chelsea Carey                            CAR   ** 53 61 79 ** 80 ** 81 75  72
 3 Crystal Webster                          WEB   59 76 ** 74 70 ** 68 82 **  72
 5 Sherry Middaugh                          MID   61 78 ** 70 75 ** 63 76 **  71
 6 Cathy Overton-Clapham                    OVE   ** 63 55 64 ** 78 ** 76 58  66
 7 Kaitlyn Lawes                            JON   51 ** 57 ** 66 58 62 ** 83  63
 
   TEAMS
 1 Team Lawton                                    78 80 ** 68 76 ** 91 73 **  77
 2 Team Middaugh                                  68 85 ** 77 73 ** 76 77 **  76
 3 Team Nedohin                                   ** 72 74 73 ** 69 ** 77 82  75
 4 Team Carey                                     ** 66 67 77 ** 80 ** 84 71  74
 4 Team Webster                                   63 75 ** 75 72 ** 81 76 **  74
 6 Team Jones                                     69 ** 73 ** 73 70 70 ** 85  73
 6 Team Overton-Clapham                           ** 76 68 70 ** 72 ** 74 76  73
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             WOMEN - 2012 Capital One Canada Cup
                                   Moose Jaw, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 9
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 TOT
LEADS  
Samantha Preston                         WEB    -  +  *  0  +  *  +  0  *  +2
Leigh Armstrong                          MID    0  -  *  +  -  *  +  +  *  +1
Breanne Meakin                           OVE    *  +  +  0  *  0  *  0  -  +1
Dawn Askin                               JON    +  *  -  *  -  +  -  *  +   0
Lindsay Titheridge                       CAR    *  -  +  +  *  0  *  -  -  -1
Laine Peters                             NED    *  +  -  -  *  -  *  0  +  -1
Marliese Kasner                          LAW    0  -  *  -  +  *  -  0  *  -2
 
SECONDS
Sherri Singler                           LAW    +  +  *  0  0  *  +  -  *  +2
Kristen Foster                           CAR    *  +  0  0  *  +  *  +  -  +2
Lee Merklinger                           MID    -  +  *  0  +  *  +  -  *  +1
Jill Officer                             JON    +  *  +  *  0  -  -  *  +  +1
Jessica Mair                             NED    *  -  0  0  *  +  *  0  -  -1
Ashley Howard                            OVE    *  -  -  -  *  -  *  +  +  -2
Geri-Lynn Ramsay                         WEB    -  -  *  +  -  *  -  0  *  -3
 
THIRDS 
Kirsten Wall                             JON    0  *  +  *  +  +  0  *  0  +3
Sherry Anderson                          LAW    +  +  *  -  -  *  +  +  *  +2
Kristy McDonald                          CAR    *  -  -  +  *  +  *  +  0  +1
Beth Iskiw                               NED    *  -  +  0  *  -  *  +  0   0
Jo-Ann Rizzo                             MID    -  +  *  0  0  *  0  -  *  -1
Erin Carmody                             WEB    0  +  *  0  0  *  -  -  *  -1
Jenna Loder                              OVE    *  -  -  0  *  -  *  -  0  -4
 
SKIPS  
Stefanie Lawton                          LAW    +  +  *  0  +  *  +  0  *  +4
Crystal Webster                          WEB    +  +  *  +  -  *  -  +  *  +2
Heather Nedohin                          NED    *  -  +  +  *  +  *  -  +  +2
Sherry Middaugh                          MID    -  +  *  -  +  *  0  -  *  -1
Kaitlyn Lawes                            JON    -  *  0  *  -  -  0  *  +  -2
Chelsea Carey                            CAR    *  -  -  0  *  0  *  +  -  -2
Cathy Overton-Clapham                    OVE    *  -  0  -  *  0  *  0  -  -3
 
   TEAMS
Team Jones                                      +  *  +  *  0  0  -  *  +  +2
Team Lawton                                     +  +  *  -  0  *  +  0  *  +2
Team Nedohin                                    *  -  +  0  *  0  *  0  +  +1
Team Carey                                      *  -  -  +  *  +  *  +  -   0
Team Middaugh                                   -  +  *  0  0  *  +  -  *   0
Team Webster                                    -  +  *  +  0  *  -  0  *   0
Team Overton-Clapham                            *  -  -  -  *  -  *  0  -  -5
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             WOMEN - 2012 Capital One Canada Cup
                                   Moose Jaw, Saskatchewan
 
                               SCORING ANALYSIS AFTER 9 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
CAR     6    60  FOR       3     2     12   11    1    0    0    0   37   6.2    3  0.62
                 AGAINST   2     8     23    7    1    0    0    0   40   6.7    8  0.67
 
JON     6    59  FOR       2     5     20    7    0    2    0    0   42   7.0    6  0.71
                 AGAINST   1     4     15   11    0    1    0    0   41   6.8    5  0.69
 
LAW     6    58  FOR       6     4     13   11    1    1    0    0   42   7.0    8  0.72
                 AGAINST   6     0     13    7    0    0    0    0   27   4.5    0  0.47
 
MID     6    57  FOR       2     1     11   10    2    1    0    0   41   6.8    2  0.72
                 AGAINST   0     8     17   11    3    0    0    0   48   8.0   13  0.84
 
NED     6    61  FOR       4    10     19    9    3    0    0    0   46   7.7   14  0.75
                 AGAINST   1     5     15    5    4    1    0    0   41   6.8    8  0.67
 
OVE     6    60  FOR       4     4     15    5    2    0    0    0   31   5.2    6  0.52
                 AGAINST   6     9     14   12    1    1    0    0   45   7.5   12  0.75
 
WEB     6    59  FOR       1    11     17   11    1    0    0    0   42   7.0   12  0.71
                 AGAINST   6     3     10   11    1    1    0    0   39   6.5    5  0.66
 
 
TOTAL  21   207  FOR      22    37    107   64   10    4    0    0  281   6.7   51  0.68
                 AGAINST  22    37    107   64   10    4    0    0  281   6.7   51  0.68
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             WOMEN - 2012 Capital One Canada Cup
                                   Moose Jaw, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
        CAR   JON   LAW   MID   NED   OVE   WEB   
 
 
CAR      *     L     L     W     L     W     L  
 
 
JON      W     *     L     W     L     W     W  
 
 
LAW      W     W     *     W     W     L     W  
 
 
MID      L     L     L     *     L     W     W  
 
 
NED      W     W     L     W     *     W     L  
 
 
OVE      L     L     W     L     L     *     L  
 
 
WEB      W     L     L     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             WOMEN - 2012 Capital One Canada Cup
                                   Moose Jaw, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Carey                               #SH   151  135  286   101   97  198   252  232  484
                                  PTS   441  376  817   311  309  620   752  685 1437
                                  PCT    73   70   71    77   80   78    75   74   74
 
 1 Lindsay Titheridge                       #SH    50   56  106     9    7   16    59   63  122
                                  PTS   165  170  335    29   23   52   194  193  387
                                  PCT    83   76   79    81   82   81    82   77   79
 
 2 Kristen Foster                           #SH    39   22   61    30   31   61    69   53  122
                                  PTS   108   60  168    84  100  184   192  160  352
                                  PCT    69   68   69    70   81   75    70   75   72
 
 3 Kristy McDonald                          #SH    31   24   55    36   31   67    67   55  122
                                  PTS    87   60  147   118   94  212   205  154  359
                                  PCT    70   63   67    82   76   79    76   70   74
 
 4 Chelsea Carey                            #SH    31   33   64    26   28   54    57   61  118
                                  PTS    81   86  167    80   92  172   161  178  339
                                  PCT    65   65   65    77   82   80    71   73   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Jones                               #SH   205  152  357   145  128  273   350  280  630
                                  PTS   603  475 1078   432  384  816  1035  859 1894
                                  PCT    74   78   75    74   75   75    74   77   75
 
 1 Dawn Askin                               #SH    79   55  134    10   14   24    89   69  158
                                  PTS   261  184  445    29   41   70   290  225  515
                                  PCT    83   84   83    73   73   73    81   82   81
 
 2 Jill Officer                             #SH    35   27   62    44   52   96    79   79  158
                                  PTS   107   80  187   136  169  305   243  249  492
                                  PCT    76   74   75    77   81   79    77   79   78
 
 3 Kirsten Wall                             #SH    35   32   67    53   38   91    88   70  158
                                  PTS    93   89  182   155  118  273   248  207  455
                                  PCT    66   70   68    73   78   75    70   74   72
 
 4 Kaitlyn Lawes                            #SH    56   38   94    38   24   62    94   62  156
                                  PTS   142  122  264   112   56  168   254  178  432
                                  PCT    63   80   70    74   58   68    68   72   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Lawton                              #SH   132   89  221   167  148  315   299  237  536
                                  PTS   415  261  676   519  465  984   934  726 1660
                                  PCT    79   73   76    78   79   78    78   77   77
 
 1 Marliese Kasner                          #SH    57   33   90    19   23   42    76   56  132
                                  PTS   192  105  297    49   67  116   241  172  413
                                  PCT    84   80   83    64   73   69    79   77   78
 
 2 Sherri Singler                           #SH    24   16   40    49   47   96    73   63  136
                                  PTS    65   45  110   158  151  309   223  196  419
                                  PCT    68   70   69    81   80   80    76   78   77
 
 3 Sherry Anderson                          #SH    20   18   38    51   47   98    71   65  136
                                  PTS    64   50  114   153  154  307   217  204  421
                                  PCT    80   69   75    75   82   78    76   78   77
 
 4 Stefanie Lawton                          #SH    31   22   53    48   31   79    79   53  132
                                  PTS    94   61  155   159   93  252   253  154  407
                                  PCT    76   69   73    83   75   80    80   73   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Middaugh                            #SH   148  116  264    98   97  195   246  213  459
                                  PTS   452  352  804   302  293  595   754  645 1399
                                  PCT    76   76   76    77   76   76    77   76   76
 
 1 Leigh Armstrong                          #SH    54   42   96     8   10   18    62   52  114
                                  PTS   179  139  318    21   35   56   200  174  374
                                  PCT    83   83   83    66   88   78    81   84   82
 
 2 Lee Merklinger                           #SH    34   25   59    30   27   57    64   52  116
                                  PTS   108   72  180    94   88  182   202  160  362
                                  PCT    79   72   76    78   81   80    79   77   78
 
 3 Jo-Ann Rizzo                             #SH    29   24   53    29   34   63    58   58  116
                                  PTS    79   71  150    93  101  194   172  172  344
                                  PCT    68   74   71    80   74   77    74   74   74
 
 4 Sherry Middaugh                          #SH    31   25   56    31   26   57    62   51  113
                                  PTS    86   70  156    94   69  163   180  139  319
                                  PCT    69   70   70    76   66   71    73   68   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Nedohin                             #SH   132  152  284    83  196  279   215  348  563
                                  PTS   402  475  877   224  601  825   626 1076 1702
                                  PCT    76   78   77    67   77   74    73   77   76
 
 1 Laine Peters                             #SH    57   62  119     7   12   19    64   74  138
                                  PTS   184  209  393    13   29   42   197  238  435
                                  PCT    81   84   83    46   60   55    77   80   79
 
 2 Jessica Mair                             #SH    23   27   50    27   65   92    50   92  142
                                  PTS    66   81  147    77  197  274   143  278  421
                                  PCT    72   75   74    71   76   74    72   76   74
 
 3 Beth Iskiw                               #SH    20   29   49    29   64   93    49   93  142
                                  PTS    63   80  143    70  199  269   133  279  412
                                  PCT    79   69   73    60   78   72    68   75   73
 
 4 Heather Nedohin                          #SH    32   34   66    20   55   75    52   89  141
                                  PTS    89  105  194    64  176  240   153  281  434
                                  PCT    70   77   73    80   80   80    74   79   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Overton-Clapham                     #SH   128  141  269   104  112  216   232  253  485
                                  PTS   369  437  806   325  282  607   694  719 1413
                                  PCT    72   77   75    78   63   70    75   71   73
 
 1 Breanne Meakin                           #SH    50   53  103     7   12   19    57   65  122
                                  PTS   167  176  343    21   39   60   188  215  403
                                  PCT    84   83   83    75   81   79    82   83   83
 
 2 Ashley Howard                            #SH    24   30   54    28   40   68    52   70  122
                                  PTS    69   91  160    82  120  202   151  211  362
                                  PCT    72   76   74    73   75   74    73   75   74
 
 3 Jenna Loder                              #SH    23   35   58    25   39   64    48   74  122
                                  PTS    51  112  163    79   94  173   130  206  336
                                  PCT    55   80   70    79   60   68    68   70   69
 
 4 Cathy Overton-Clapham                    #SH    31   23   54    44   21   65    75   44  119
                                  PTS    82   58  140   143   29  172   225   87  312
                                  PCT    66   63   65    81   35   66    75   49   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Webster                             #SH   102  154  256   112  105  217   214  259  473
                                  PTS   316  428  744   331  318  649   647  746 1393
                                  PCT    77   69   73    74   76   75    76   72   74
 
 1 Samantha Preston                         #SH    43   55   98    10    6   16    53   61  114
                                  PTS   142  176  318    33   16   49   175  192  367
                                  PCT    83   80   81    83   67   77    83   79   80
 
 2 Geri-Lynn Ramsay                         #SH    20   33   53    35   32   67    55   65  120
                                  PTS    60  100  160    99   91  190   159  191  350
                                  PCT    75   76   75    71   71   71    72   73   73
 
 3 Erin Carmody                             #SH    18   30   48    36   36   72    54   66  120
                                  PTS    47   68  115   109  111  220   156  179  335
                                  PCT    65   57   60    76   77   76    72   68   70
 
 4 Crystal Webster                          #SH    21   36   57    31   31   62    52   67  119
                                  PTS    67   84  151    90  100  190   157  184  341
                                  PCT    80   58   66    73   81   77    75   69   72
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             WOMEN - 2012 Capital One Canada Cup
                                   Moose Jaw, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  23
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  10
 
          DRAW  1    Team Middaugh  4  Team Lawton 10
          DRAW  9    Team Overton-Clapham  8  Team Nedohin 10
 
LOWEST SCORE, ONE TEAM, ONE GAME:   3
 
          DRAW  6    Team Jones  3  Team Nedohin  8
          DRAW  8    Team Lawton  3  Team Overton-Clapham  4
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW  9    Team Overton-Clapham  8  Team Nedohin 10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  8    Team Lawton  3  Team Overton-Clapham  4
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  1    Team Jones  9  Team Webster  7    Team Jones SCORED 4 IN THE 4TH END
          DRAW  2    Team Lawton  8  Team Nedohin  5    Team Lawton SCORED 4 IN THE 5TH END
          DRAW  3    Team Overton-Clapham  6  Team Jones  9    Team Jones SCORED 4 IN THE 5TH END
          DRAW  7    Team Middaugh  8  Team Jones  9    Team Middaugh SCORED 4 IN THE THIRD END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  1    Team Middaugh  4  Team Lawton 10    Team Lawton SCORED 3 IN THE 4TH END
          DRAW  4    Team Nedohin  8  Team Middaugh  6    Team Nedohin SCORED 3 IN THE 4TH END
          DRAW  9    Team Overton-Clapham  8  Team Nedohin 10    Team Overton-Clapham SCORED 3 IN THE 4TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  8    Team Lawton  3  Team Overton-Clapham  4
 
NUMBER OF BLANK ENDS IN EVENT:  24
 
MOST BLANK ENDS ONE DRAW:   6
 
          DRAW  8
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  8    Team Lawton  3  Team Overton-Clapham  4    BY Team Lawton BEGINNING IN END 5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  2    Team Webster  7  Team Carey  4
          DRAW  4    Team Overton-Clapham  4  Team Webster  8
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   2
 
          DRAW  1    Team Middaugh  4  Team Lawton 10    BY Team Lawton BEGINNING IN END 3
          DRAW  2    Team Webster  7  Team Carey  4    BY Team Webster BEGINNING IN END 2
          DRAW  2    Team Middaugh  8  Team Overton-Clapham  5    BY Team Overton-Clapham BEGINNING IN END 6
          DRAW  4    Team Nedohin  8  Team Middaugh  6    BY Team Nedohin BEGINNING IN END 4
          DRAW  4    Team Overton-Clapham  4  Team Webster  8    BY Team Webster BEGINNING IN END 9
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  1    Team Middaugh  4  Team Lawton 10    BY Team Lawton
          DRAW  4    Team Nedohin  8  Team Middaugh  6    BY Team Nedohin
          DRAW  4    Team Overton-Clapham  4  Team Webster  8    BY Team Webster
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  4    Team Nedohin  8  Team Middaugh  6    Team Nedohin WAS DOWN 3 AFTER 2 ENDS
          DRAW  9    Team Overton-Clapham  8  Team Nedohin 10    Team Nedohin WAS DOWN 3 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  4    Team Carey  5  Team Lawton  6
          DRAW  8    Team Nedohin  6  Team Webster  9
          DRAW  9    Team Overton-Clapham  8  Team Nedohin 10
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  1    Team Middaugh  4  Team Lawton 10
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  2    Team Webster  7  Team Carey  4    BY Team Carey
          DRAW  4    Team Overton-Clapham  4  Team Webster  8    BY Team Overton-Clapham
  </div>
</div>
