<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1981 Labatt Brier
                                    Halifax, Nova Scotia
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1981 Labatt Brier
                                    Halifax, Nova Scotia
 
                                    PLUS/MINUS STATISTICS
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1981 Labatt Brier
                                    Halifax, Nova Scotia
 
                                      SCORING ANALYSIS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   103  FOR       1    12     30   13    3    1    0    0   69   6.3   17  0.67
                 AGAINST   9     9     34   11    1    0    0    0   59   5.4   11  0.57
 
B.C.   11   110  FOR       6    12     27   13    4    4    0    0   81   7.4   19  0.74
                 AGAINST  10     9     24   18    4    0    0    0   72   6.5   13  0.65
 
MAN    11   105  FOR      12    10     29   10    6    1    0    0   71   6.5   16  0.68
                 AGAINST  11     3     28    8    0    0    0    0   44   4.0    4  0.42
 
N.B.   11   106  FOR      10     6     22   16    0    0    0    0   54   4.9    9  0.51
                 AGAINST   8    16     33   15    2    0    0    0   69   6.3   20  0.65
 
NFLD   11   103  FOR      11    10     28   12    1    0    0    0   55   5.0   14  0.53
                 AGAINST   7    13     24   17    2    1    0    0   68   6.2   18  0.66
 
NONT   11   108  FOR       8    15     26   19    3    2    0    0   81   7.4   23  0.75
                 AGAINST  10     7     26    8    3    3    0    0   63   5.7    9  0.58
 
N.S.   11   104  FOR       3    11     32    9    2    0    0    0   56   5.1   12  0.54
                 AGAINST   8    18     28   16    4    2    0    0   80   7.3   32  0.77
 
ONT    11   109  FOR       9    18     36    9    4    1    0    0   70   6.4   23  0.64
                 AGAINST   7    12     30   10    3    0    0    0   59   5.4   19  0.54
 
PEI    11   105  FOR      13    11     29    9    3    0    0    0   56   5.1   16  0.53
                 AGAINST   4    18     31   12    2    2    0    0   69   6.3   21  0.66
 
QUE    11   104  FOR       9    13     32   10    3    0    0    0   61   5.5   20  0.59
                 AGAINST  11     6     23   13    3    0    0    0   58   5.3    8  0.56
 
SASK   11   103  FOR       8    11     30   11    2    2    0    0   66   6.0   17  0.64
                 AGAINST  10     6     28    7    4    1    0    0   58   5.3   10  0.56
 
TERR   11   102  FOR      10     5     26    9    2    0    0    0   50   4.5    7  0.49
                 AGAINST   5    17     38    5    5    2    0    0   71   6.5   28  0.70
 
 
TOTAL  66   631  FOR     100   134    347  140   33   11    0    0  770   5.8  193  0.61
                 AGAINST 100   134    347  140   33   11    0    0  770   5.8  193  0.61
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1981 Labatt Brier
                                    Halifax, Nova Scotia
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     W     L     W     L     L     W     L     L     W     W     L  
 
 
B.C.     L     *     L     W     W     W     W     L     W     W     L     W  
 
 
MAN      W     W     *     L     W     L     L     W     W     W     W     W  
 
 
N.B.     L     L     W     *     L     L     W     L     W     L     L     L  
 
 
NFLD     W     L     L     W     *     L     L     L     L     L     L     W  
 
 
NONT     W     L     W     W     W     *     W     W     W     W     L     W  
 
 
N.S.     L     L     W     L     W     L     *     L     W     L     L     L  
 
 
ONT      W     W     L     W     W     L     W     *     L     L     W     W  
 
 
PEI      W     L     L     L     W     L     L     W     *     L     L     W  
 
 
QUE      L     L     L     W     W     L     W     W     W     *     W     L  
 
 
SASK     L     W     L     W     W     W     W     L     W     L     *     W  
 
 
TERR     W     L     L     W     L     L     W     L     L     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1981 Labatt Brier
                                    Halifax, Nova Scotia
 
                                 TEAM CUMULATIVE STATISTICS
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1981 Labatt Brier
                                    Halifax, Nova Scotia
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW 10    B.C. 11  NONT 10
          DRAW 12    N.S.  3  B.C. 11
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    NONT  7  TERR  1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  21
 
          DRAW 10    B.C. 11  NONT 10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  1    QUE   4  SASK  3
          DRAW  3    NFLD  3  B.C.  4
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  1    NONT  7  TERR  1    NONT SCORED 4 IN THE 5TH END
          DRAW  6    ONT   7  NONT  8    ONT  SCORED 4 IN THE 6TH END
          DRAW 10    B.C. 11  NONT 10    B.C. SCORED 4 IN THE 5TH END
          DRAW 11    PEI   3  MAN   8    MAN  SCORED 4 IN THE 4TH END
          DRAW 11    SASK 10  NFLD  3    SASK SCORED 4 IN THE 6TH END
          DRAW 14    NONT  5  SASK  8    SASK SCORED 4 IN THE 10TH END
          DRAW 14    PEI   6  B.C.  9    B.C. SCORED 4 IN THE 5TH END
          DRAW 15    ALTA  8  SASK  3    ALTA SCORED 4 IN THE SECOND END
          DRAW 16    SASK  7  B.C.  5    SASK SCORED 4 IN THE 6TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  2    B.C.  9  TERR  8    B.C. SCORED 4 IN THE 4TH END
          DRAW  5    N.S.  6  NONT 10    NONT SCORED 4 IN THE 6TH END
          DRAW 12    N.S.  3  B.C. 11    B.C. SCORED 4 IN THE 9TH END
 
MOST BLANK ENDS, ONE GAME:   6
 
          DRAW  3    NFLD  3  B.C.  4
 
NUMBER OF BLANK ENDS IN EVENT: 112
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAW  4
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  3    NFLD  3  B.C.  4    BY NFLD BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  5    ALTA  5  PEI   6
          DRAW  8    NFLD  3  PEI   6
          DRAW 12    PEI   3  QUE   8
          DRAW 15    TERR  3  ONT   9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW 15    TERR  3  ONT   9    BY ONT  BEGINNING IN END 1
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  5    N.S.  6  NONT 10    BY NONT
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  5    N.S.  6  NONT 10    NONT WAS DOWN 3 AFTER 3 ENDS
          DRAW  5    B.C.  9  QUE   8    B.C. WAS DOWN 3 AFTER 2 ENDS
          DRAW 11    B.C.  6  ONT   7    ONT  WAS DOWN 3 AFTER 4 ENDS
          DRAW 15    N.S.  7  NFLD  6    N.S. WAS DOWN 3 AFTER 5 ENDS
 
NUMBER OF EXTRA END GAMES:  13
 
MOST ENDS PLAYED IN ONE GAME:  11 (13 games)
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  1    NONT  7  TERR  1
          DRAW  4    MAN   8  QUE   2
          DRAW 10    ONT  10  N.S.  2
          DRAW 11    SASK 10  NFLD  3
          DRAW 13    MAN  10  SASK  2
          DRAW 14    ALTA  8  N.B.  2
          DRAW 15    ALTA  8  SASK  3
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  3    NFLD  3  B.C.  4    BY NFLD
          DRAW  6    ONT   7  NONT  8    BY ONT 
          DRAW 12    PEI   3  QUE   8    BY PEI 
          DRAW 15    TERR  3  ONT   9    BY TERR
          DRAW 19    NONT  4  MAN   5    BY MAN 
  </div>
</div>
