<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1982 Labatt Brier
                                      Brandon, Manitoba
 
                              POSITIONAL CUMULATIVE PERCENTAGES
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1982 Labatt Brier
                                      Brandon, Manitoba
 
                                    PLUS/MINUS STATISTICS
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1982 Labatt Brier
                                      Brandon, Manitoba
 
                               SCORING ANALYSIS AFTER 15 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   105  FOR       9    10     27   17    1    0    0    0   64   5.8   14  0.61
                 AGAINST   6    11     24   14    6    0    1    0   75   6.8   16  0.71
 
B.C.   11   107  FOR       8    14     22   15    4    1    0    0   68   6.2   19  0.64
                 AGAINST  19    10     27    9    2    0    0    0   51   4.6   14  0.48
 
MAN    11   105  FOR       8    16     26   11    6    0    1    0   71   6.5   25  0.68
                 AGAINST  12    12     23   13    5    0    0    0   64   5.8   16  0.61
 
N.B.   11   105  FOR       7    11     29   13    3    0    0    0   64   5.8   13  0.61
                 AGAINST   9    12     31   11    2    0    0    0   59   5.4   14  0.56
 
NFLD   11   105  FOR       9     6     28   10    4    0    0    0   60   5.5    9  0.57
                 AGAINST   9    10     35    9    0    1    0    0   57   5.2   10  0.54
 
NONT   11   104  FOR       6    22     28   15    4    3    0    0   82   7.5   32  0.79
                 AGAINST   8     8     31    7    2    0    0    0   51   4.6    8  0.49
 
N.S.   11    95  FOR       5    19     31   10    4    2    0    0   71   6.5   28  0.75
                 AGAINST   3    13     18   13    8    0    1    0   73   6.6   23  0.77
 
ONT    11   101  FOR       4    12     26    8    6    0    1    0   65   5.9   16  0.64
                 AGAINST  10    17     35    7    4    0    0    0   61   5.5   22  0.60
 
PEI    11   102  FOR      12     6     28    8    1    0    0    0   47   4.3    6  0.46
                 AGAINST   7    15     26   14    5    1    0    0   73   6.6   25  0.72
 
QUE    11   102  FOR       5    14     28   13    3    0    0    0   63   5.7   20  0.62
                 AGAINST   8    15     28   12    5    0    0    0   67   6.1   22  0.66
 
SASK   11   105  FOR      19    10     25    8    4    0    1    0   58   5.3   11  0.55
                 AGAINST   6    14     25   12    4    1    0    0   65   5.9   20  0.62
 
TERR   11   100  FOR      11    10     29    7    4    0    0    0   55   5.0   12  0.55
                 AGAINST   6    13     24   14    1    3    1    0   72   6.5   15  0.72
 
 
TOTAL  66   618  FOR     103   150    327  135   44    6    3    0  768   5.8  205  0.62
                 AGAINST 103   150    327  135   44    6    3    0  768   5.8  205  0.62
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis By Hammer</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
 
                          SCORING ANALYSIS BY HAMMER AFTER DRAW 15
 
                                         WITH HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                             FOR        AGAINST        FOR          FOR
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
ALTA      11      55        9  16       11  20       21  38       14  25
 
B.C.      11      46        8  17       10  22       13  28       15  33
 
MAN       11      48        8  17       12  25       16  33       12  25
 
N.B.      11      53        7  13       12  23       19  36       15  28
 
NFLD      11      55        9  16       10  18       24  44       12  22
 
NONT      11      42        6  14        8  19       14  33       14  33
 
N.S.      11      46        5  11       13  28       18  39       10  22
 
ONT       11      50        4   8       17  34       17  34       12  24
 
PEI       11      58       12  21       15  26       22  38        9  16
 
QUE       11      50        5  10       15  30       18  36       12  24
 
SASK      11      61       19  31       14  23       16  26       12  20
 
TERR      11      54       11  20       13  24       21  39        9  17
 
 
                                       WITHOUT HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                           AGAINST        FOR        AGAINST      AGAINST
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
ALTA      11      50        6  12       10  20       17  34       17  34
 
B.C.      11      61       19  31       14  23       21  34        7  11
 
MAN       11      57       12  21       16  28       14  25       15  26
 
N.B.      11      52        9  17       11  21       21  40       11  21
 
NFLD      11      50        9  18        6  12       25  50       10  20
 
NONT      11      62        8  13       22  35       23  37        9  15
 
N.S.      11      49        3   6       19  39       12  24       15  31
 
ONT       11      51       10  20       12  24       22  43        7  14
 
PEI       11      44        7  16        6  14       18  41       13  30
 
QUE       11      52        8  15       14  27       18  35       12  23
 
SASK      11      44        6  14       10  23       15  34       13  30
 
TERR      11      46        6  13       10  22       13  28       17  37
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1982 Labatt Brier
                                      Brandon, Manitoba
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     L     L     L     W     W     L     W     W     L     W  
 
 
B.C.     W     *     W     W     W     W     W     W     W     L     L     W  
 
 
MAN      W     L     *     W     W     L     W     W     W     L     L     L  
 
 
N.B.     W     L     L     *     W     L     L     W     W     W     W     L  
 
 
NFLD     W     L     L     L     *     L     W     W     L     W     W     W  
 
 
NONT     L     L     W     W     W     *     W     L     W     W     W     W  
 
 
N.S.     L     L     L     W     L     L     *     L     W     W     W     W  
 
 
ONT      W     L     L     L     L     W     W     *     L     L     W     W  
 
 
PEI      L     L     L     L     W     L     L     W     *     L     W     L  
 
 
QUE      L     W     W     L     L     L     L     W     W     *     L     W  
 
 
SASK     W     W     W     L     L     L     L     L     L     W     *     W  
 
 
TERR     L     L     W     W     L     L     L     L     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1982 Labatt Brier
                                      Brandon, Manitoba
 
                                 TEAM CUMULATIVE STATISTICS
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1982 Labatt Brier
                                      Brandon, Manitoba
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  14
 
          DRAW  1    N.S.  6  ONT  14
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  2    TERR  2  ONT   6
          DRAW  2    B.C.  7  PEI   2
          DRAW  5    NONT 12  SASK  2
          DRAW  8    SASK  4  B.C.  2
          DRAW  9    SASK  2  PEI   5
          DRAW 12    MAN   2  TERR  9
          DRAW 13    PEI   2  N.S.  9
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW  1    N.S.  6  ONT  14
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW  8    SASK  4  B.C.  2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  5    N.S.  3  MAN  12    MAN  SCORED 5 IN THE 7TH END
          DRAW 11    ONT  10  ALTA  4    ONT  SCORED 5 IN THE 7TH END
          DRAW 11    SASK  8  TERR  5    SASK SCORED 5 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 13    PEI   2  N.S.  9    N.S. SCORED 4 IN THE 8TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  8    SASK  4  B.C.  2
          DRAW 15    MAN   3  SASK  5
 
NUMBER OF BLANK ENDS IN EVENT: 106
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAWS  2 11
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW 15    MAN   3  SASK  5    BY SASK BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  5    NONT 12  SASK  2
          DRAW  7    SASK  3  N.S.  7
          DRAW 16    N.B.  8  NFLD  7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  2    MAN   6  N.B.  5    BY MAN  BEGINNING IN END 7
          DRAW  5    NONT 12  SASK  2    BY NONT BEGINNING IN END 5
          DRAW  6    N.S.  9  TERR  3    BY N.S. BEGINNING IN END 1
          DRAW  7    SASK  3  N.S.  7    BY N.S. BEGINNING IN END 4
          DRAW  8    NONT  7  PEI   3    BY NONT BEGINNING IN END 2
          DRAW  9    QUE   7  B.C.  3    BY QUE  BEGINNING IN END 7
          DRAW 12    N.S. 10  QUE   4    BY N.S. BEGINNING IN END 5
          DRAW 18    NONT  8  MAN   6    BY NONT BEGINNING IN END 4
          DRAW 19    NONT  7  B.C.  3    BY NONT BEGINNING IN END 6
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  5    NONT 12  SASK  2    BY NONT
 
LARGEST COME FROM BEHIND VICTORY:   5
 
          DRAW  5    B.C.  8  TERR  7    B.C. WAS DOWN 5 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   6
 
MOST ENDS PLAYED IN ONE GAME:  12
 
          DRAW  2    MAN   6  N.B.  5
          DRAW 12    B.C.  7  NONT  6
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  5    NONT 12  SASK  2
          DRAW  5    N.S.  3  MAN  12
          DRAW  6    N.S.  9  TERR  3
          DRAW  7    QUE   4  NONT 10
          DRAW 12    N.S. 10  QUE   4
          DRAW 12    MAN   2  TERR  9
          DRAW 13    PEI   2  N.S.  9
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  2    B.C.  7  PEI   2    BY PEI 
  </div>
</div>
