<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1983 Labatt Brier
                                      Sudbury, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1983 Labatt Brier
                                      Sudbury, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 15
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1983 Labatt Brier
                                      Sudbury, Ontario
 
                               SCORING ANALYSIS AFTER 15 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   106  FOR      12    11     25   14    6    1    0    0   75   6.8   14  0.71
                 AGAINST   8     8     33    6    1    0    0    0   48   4.4    9  0.45
 
B.C.   11   108  FOR       9    16     34   13    1    0    0    0   63   5.7   20  0.58
                 AGAINST  12     6     27    9    3    0    0    0   54   4.9    6  0.50
 
MAN    11    97  FOR      13     9     26    8    3    0    0    0   51   4.6   16  0.53
                 AGAINST  11     8     20   12    3    1    0    0   57   5.2   10  0.59
 
N.B.   11   105  FOR       4     8     34   11    0    0    0    0   56   5.1    9  0.53
                 AGAINST  10     7     28   16    2    0    0    0   66   6.0   12  0.63
 
NFLD   11    98  FOR       7     4     26    8    2    0    0    0   48   4.4    7  0.49
                 AGAINST  11    12     19   16    8    1    0    0   79   7.2   17  0.81
 
NONT   11   101  FOR      12     9     25    8    2    1    1    0   56   5.1   14  0.55
                 AGAINST  15     9     24   10    3    0    0    0   53   4.8   14  0.52
 
N.S.   11   104  FOR       5    21     35   11    5    3    0    0   84   7.6   30  0.81
                 AGAINST   5    10     21   13    5    1    0    0   66   6.0   18  0.63
 
ONT    11    97  FOR       5    17     25   19    4    1    0    0   79   7.2   28  0.81
                 AGAINST   8     6     23   11    1    0    0    0   48   4.4    6  0.49
 
PEI    11   106  FOR      10     7     19   18    3    0    0    0   64   5.8    8  0.60
                 AGAINST   6    16     33   14    3    0    0    0   70   6.4   24  0.66
 
QUE    11    97  FOR      11     8     16   16    5    0    0    0   63   5.7   11  0.65
                 AGAINST   6    14     23   12    5    2    1    0   75   6.8   21  0.77
 
SASK   11   103  FOR      13     4     20   11    6    0    0    0   60   5.5    4  0.58
                 AGAINST   6    13     35    8    4    0    0    0   63   5.7   16  0.61
 
TERR   11   104  FOR       5    10     27    9    5    0    0    0   60   5.5   14  0.58
                 AGAINST   8    15     26   19    4    1    0    0   80   7.3   22  0.77
 
 
TOTAL  66   613  FOR     106   124    312  146   42    6    1    0  759   5.8  175  0.62
                 AGAINST 106   124    312  146   42    6    1    0  759   5.8  175  0.62
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1983 Labatt Brier
                                      Sudbury, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     W     W     W     W     W     W     W     W     W     L     W  
 
 
B.C.     L     *     W     W     W     W     W     L     W     L     W     W  
 
 
MAN      L     L     *     W     W     L     L     L     L     L     L     W  
 
 
N.B.     L     L     L     *     W     L     L     L     W     L     W     W  
 
 
NFLD     L     L     L     L     *     L     L     L     L     L     L     W  
 
 
NONT     L     L     W     W     W     *     L     L     L     W     L     W  
 
 
N.S.     L     L     W     W     W     W     *     L     W     W     W     L  
 
 
ONT      L     W     W     W     W     W     W     *     W     W     W     W  
 
 
PEI      L     L     W     L     W     W     L     L     *     L     W     L  
 
 
QUE      L     W     W     W     W     L     L     L     W     *     W     L  
 
 
SASK     W     L     W     L     W     W     L     L     L     L     *     W  
 
 
TERR     L     L     L     L     L     L     W     L     W     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1983 Labatt Brier
                                      Sudbury, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1983 Labatt Brier
                                      Sudbury, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  68
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  2    N.S.  3  ONT  11
          DRAW  8    N.S. 11  SASK  1
          DRAW 14    TERR 11  N.S. 10
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  4    NFLD  1  MAN   9
          DRAW  8    NONT  7  QUE   1
          DRAW  8    N.S. 11  SASK  1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  21
 
          DRAW 14    TERR 11  N.S. 10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   5
 
          DRAW  7    NONT  3  MAN   2
          DRAW 13    SASK  3  MAN   2
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  9    ALTA  9  QUE   2    ALTA SCORED 4 IN THE 8TH END
          DRAW 11    N.S. 10  MAN   5    N.S. SCORED 4 IN THE 7TH END
          DRAW 12    QUE   7  N.S. 10    N.S. SCORED 4 IN THE 10TH END
          DRAW 14    TERR 11  N.S. 10    N.S. SCORED 4 IN THE 6TH END
          DRAW 14    NONT 10  NFLD  6    NONT SCORED 4 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW  8    NONT  7  QUE   1    NONT SCORED 5 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  7    NONT  3  MAN   2
          DRAW  9    NONT  2  SASK  4
          DRAW 13    SASK  3  MAN   2
 
NUMBER OF BLANK ENDS IN EVENT: 109
 
MOST BLANK ENDS ONE DRAW:  13
 
          DRAW  7
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  7    NONT  3  MAN   2    BY NONT BEGINNING IN END 6
          DRAW  9    NONT  2  SASK  4    BY SASK BEGINNING IN END 2
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW  8    N.S. 11  SASK  1
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  8    N.S. 11  SASK  1    BY N.S. BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  8    N.S. 11  SASK  1    BY N.S.
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  3    NFLD  6  N.S.  7    N.S. WAS DOWN 4 AFTER 5 ENDS
          DRAW  7    B.C.  7  SASK  6    B.C. WAS DOWN 4 AFTER 6 ENDS
          DRAW 14    TERR 11  N.S. 10    TERR WAS DOWN 4 AFTER 6 ENDS
 
NUMBER OF EXTRA END GAMES:   6
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    PEI   6  TERR  7
          DRAW  3    NFLD  6  N.S.  7
          DRAW  7    B.C.  7  SASK  6
          DRAW 11    TERR  7  B.C.  8
          DRAW 12    N.B.  7  PEI   6
          DRAW 14    SASK  7  N.B.  8
 
FEWEST ENDS PLAYED IN ONE GAME:   7
 
          DRAW 15    ONT   6  MAN   2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  8    N.S. 11  SASK  1    BY SASK
  </div>
</div>
