<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1984 Labatt Brier
                               Memorial Arena, Victoria, B.C.
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1984 Labatt Brier
                               Memorial Arena, Victoria, B.C.
 
                                    PLUS/MINUS STATISTICS
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1984 Labatt Brier
                               Memorial Arena, Victoria, B.C.
 
                                      SCORING ANALYSIS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11    99  FOR       5    19     30    9   10    0    0    1   84   7.6   30  0.85
                 AGAINST   6     8     23    9    4    2    0    0   61   5.5   11  0.62
 
B.C.   11   102  FOR      10    11     24   11    5    0    0    0   61   5.5   17  0.60
                 AGAINST   9    14     26   13    3    0    1    0   66   6.0   22  0.65
 
MAN    11   101  FOR       7    18     34    8    3    3    0    0   71   6.5   23  0.70
                 AGAINST   6     9     32    7    1    0    0    0   49   4.5   11  0.49
 
N.B.   11   102  FOR       3    18     29   17    4    0    0    0   75   6.8   24  0.74
                 AGAINST   9     9     26    8    6    0    0    0   60   5.5   11  0.59
 
NFLD   11   100  FOR       4    11     24   15    2    0    0    0   60   5.5   16  0.60
                 AGAINST   5    20     29   13    6    1    0    1   83   7.5   32  0.83
 
NONT   11   107  FOR       4    14     30   15    4    0    0    0   72   6.5   18  0.67
                 AGAINST   6    14     34    8    6    0    0    0   68   6.2   19  0.64
 
N.S.   11   103  FOR       4     9     30   11    2    0    0    0   58   5.3   11  0.56
                 AGAINST   6    17     28   19    3    0    0    0   75   6.8   23  0.73
 
ONT    11   102  FOR       9    19     35    8    5    1    0    0   70   6.4   23  0.69
                 AGAINST   1    15     26   16    1    0    0    0   61   5.5   19  0.60
 
PEI    11   103  FOR       8     8     24    9    4    1    0    0   58   5.3   14  0.56
                 AGAINST   6    19     35   12    4    0    0    0   71   6.5   24  0.69
 
QUE    11   100  FOR       6    14     29   14    2    0    0    0   63   5.7   21  0.63
                 AGAINST   4    12     25   13    6    1    0    0   73   6.6   20  0.73
 
SASK   11   103  FOR       9    18     24   20    4    0    0    0   76   6.9   28  0.74
                 AGAINST   6    11     28   10    1    1    0    0   55   5.0   17  0.53
 
TERR   11    96  FOR       3     8     26    5    3    1    1    0   54   4.9   17  0.56
                 AGAINST   8    19     27   14    7    1    0    0   80   7.3   33  0.83
 
 
TOTAL  66   609  FOR      72   167    339  142   48    6    1    1  802   6.1  242  0.66
                 AGAINST  72   167    339  142   48    6    1    1  802   6.1  242  0.66
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1984 Labatt Brier
                               Memorial Arena, Victoria, B.C.
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     L     W     W     W     W     L     W     W     W     W  
 
 
B.C.     W     *     W     L     L     L     W     W     W     W     L     L  
 
 
MAN      W     L     *     L     L     W     W     W     W     W     W     W  
 
 
N.B.     L     W     W     *     W     W     L     L     W     W     L     W  
 
 
NFLD     L     W     W     L     *     W     L     L     L     L     L     L  
 
 
NONT     L     W     L     L     L     *     W     W     L     W     W     W  
 
 
N.S.     L     L     L     W     W     L     *     L     W     W     L     L  
 
 
ONT      W     L     L     W     W     L     W     *     W     W     L     W  
 
 
PEI      L     L     L     L     W     W     L     L     *     W     L     W  
 
 
QUE      L     L     L     L     W     L     L     L     L     *     W     W  
 
 
SASK     L     W     L     W     W     L     W     W     W     L     *     W  
 
 
TERR     L     W     L     L     W     L     W     L     L     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1984 Labatt Brier
                               Memorial Arena, Victoria, B.C.
 
                                 TEAM CUMULATIVE STATISTICS
 
 
Player and team statistics are not available.
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1984 Labatt Brier
                               Memorial Arena, Victoria, B.C.
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  13
 
          DRAW 10    ALTA 13  NFLD  4
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  7    NFLD  1  SASK 10
          DRAW 15    MAN   8  PEI   1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW 10    ALTA 13  NFLD  4
          DRAW 13    NFLD  8  N.S.  9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  1    MAN   5  TERR  3
          DRAW  5    N.S.  2  ALTA  6
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW 10    ALTA 13  NFLD  4    ALTA SCORED 6 IN THE 5TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW 14    B.C.  3  TERR 12    TERR SCORED 5 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  8    QUE   3  B.C.  6
          DRAW 13    SASK  5  N.B.  4
          DRAW 18    ALTA  3  ONT   6
 
NUMBER OF BLANK ENDS IN EVENT:  78
 
MOST BLANK ENDS ONE DRAW:   9
 
          DRAW 13
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  8    QUE   3  B.C.  6    BY QUE  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  2    NFLD  2  N.B.  8
          DRAW  7    NFLD  1  SASK 10
          DRAW  8    TERR  2  SASK 11
          DRAW  9    N.S.  5  NONT  9
          DRAW 11    PEI   2  ONT   7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  2    NFLD  2  N.B.  8    BY N.B. BEGINNING IN END 5
          DRAW  7    NFLD  1  SASK 10    BY SASK BEGINNING IN END 3
          DRAW 15    MAN   8  PEI   1    BY MAN  BEGINNING IN END 2
          DRAW 17    SASK  2  ONT   8    BY ONT  BEGINNING IN END 5
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW  7    NFLD  1  SASK 10    BY SASK
          DRAW  8    TERR  2  SASK 11    BY SASK
          DRAW 14    B.C.  3  TERR 12    BY TERR
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  9    N.S.  5  NONT  9    NONT WAS DOWN 4 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   7
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    NONT  7  SASK  6
          DRAW  4    ALTA  8  NONT  7
          DRAW  4    ONT   5  SASK  7
          DRAW  7    NONT  4  MAN   5
          DRAW 12    N.B.  7  N.S.  9
          DRAW 13    ALTA  6  PEI   5
          DRAW 15    NONT  7  QUE   5
 
FEWEST ENDS PLAYED IN ONE GAME:   8 (18 games)
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  2    NFLD  2  N.B.  8    BY NFLD
          DRAW  7    NFLD  1  SASK 10    BY NFLD
  </div>
</div>
