<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1991 LABATT BRIER
                                      Hamilton, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 AVG
   LEADS  
 + Kevin Adams                    QUE   ** ** ** ** ** ** 96 97 ** ** **  96
 1 Andrew Carter                  QUE   88 91 81 88 93 93 ** ** 94 91 90  89
 2 Don Bartlett                   ALTA  79 95 81 88 81 97 89 81 92 86 92  88
 3 Art Lappalainen                NONT  82 98 89 78 95 81 80 74 95 86 95  87
 4 Peter Corner                   ONT   80 92 88 89 88 83 88 76 75 97 89  86
 5 Ken McHargue                   B.C.  83 92 80 88 82 84 75 78 80 97 95  85
 5 George Xidos                   N.S.  78 95 89 75 91 72 75 92 93 82 84  85
 7 Mark Butler                    PEI   84 91 98 71 98 88 79 88 80 76 80  84
 8 John Grundy                    SASK  85 87 87 86 86 76 78 82 73 84 80  82
 8 Garry Van Den Berghe           MAN   65 86 79 89 75 80 68 85 86 88 98  82
 + Gerry Parrott                  NFLD  ** ** ** ** ** ** ** ** ** ** 82  82
 8 Doug Bryant                    TERR  94 87 89 86 69 74 64 79 92 85 84  82
11 Mike Butler                    N.B.  78 94 88 66 81 84 78 83 75 82 76  80
12 Dave Mayne                     NFLD  76 59 80 89 95 78 73 74 81 78 **  79
 
   SECONDS
 1 Don Reddick                    QUE   93 95 85 75 84 98 94 85 93 87 92  89
 2 Dan Petryk                     ALTA  89 80 77 77 89 80 84 98 86 90 95  86
 3 Wayne Middaugh                 ONT   89 91 75 75 93 66 85 83 85 91 96  84
 4 Ken Tresoor                    MAN   75 89 76 76 95 80 69 91 80 94 91  83
 5 Tom Shypitka                   B.C.  69 81 71 84 84 91 79 90 69 87 90  82
 5 Ross Tetley                    NONT  71 91 94 78 83 67 92 89 88 79 72  82
 7 Wyatt Buck                     SASK  75 76 69 80 85 88 84 76 75 91 84  81
 8 Mark O'Rourke                  PEI   80 90 85 83 74 86 76 76 81 73 83  80
 9 Darren Bentley                 N.S.  89 81 78 73 76 77 69 82 91 79 80  79
10 Robert Skanes                  NFLD  63 72 84 78 76 76 80 86 85 69 85  78
11 Rick Perron                    N.B.  75 78 81 55 83 85 83 75 85 89 53  76
12 Craig Tuton                    TERR  78 68 71 72 67 81 74 ** 94 ** **  75
 + Lionel Stokes                  TERR  ** ** ** ** ** ** ** 57 ** 84 71  71
 
   THIRDS 
 1 Kevin Park                     ALTA  94 78 94 78 91 76 77 78 89 80 98  85
 2 Dave Iverson                   MAN   71 63 83 76 80 91 72 84 91 92 99  82
 2 Brian McCusker                 SASK  83 83 92 86 83 67 84 78 88 84 80  82
 2 Glenn Howard                   ONT   82 79 85 88 86 78 67 89 89 77 80  82
 5 Scott Henderson                NONT  66 91 69 88 75 69 86 83 86 93 69  79
 + Grant Odishaw                  N.B.  89 59 74 74 88 ** ** ** ** ** **  77
 6 Rob MacLean                    QUE   84 80 76 65 73 86 68 74 84 85 72  77
 + Gary Mitchell                  N.B.  ** ** ** ** ** 81 80 78 79 67 **  77
 7 Malcolm Florence               TERR  90 60 74 69 88 85 58 74 ** 80 83  76
 8 Jim Walsh                      N.S.  75 83 75 68 70 56 78 89 81 76 70  75
 9 Brian Collison                 B.C.  65 75 77 73 79 74 71 56 88 79 85  74
 9 Phil Kieley                    NFLD  57 84 66 81 65 83 78 70 83 66 81  74
11 Peter Gallant                  PEI   66 70 69 73 78 81 68 74 82 66 77  73
 + Terry Odishaw                  N.B.  ** ** ** ** ** ** ** ** ** ** 61  61
 + Lionel Stokes                  TERR  ** ** ** ** ** ** ** ** 54 ** **  54
 
   SKIPS  
 1 Randy Woytowich                SASK  89 90 93 91 82 78 78 85 94 88 75  85
 2 Jeff Stoughton                 MAN   80 66 78 70 89 84 82 80 80 92 90  81
 3 Rick Lang                      NONT  68 94 69 88 74 59 93 68 82 86 85  79
 3 Kevin Martin                   ALTA  95 57 79 83 92 74 66 68 82 72 98  79
 + Grant Odishaw                  N.B.  ** ** ** ** ** 87 79 86 58 72 **  78
 5 Dan Bentley                    N.S.  82 72 78 78 74 58 72 82 83 80 76  76
 5 Russ Howard                    ONT   69 85 72 77 79 72 78 78 85 58 83  76
 5 John Boland                    NFLD  54 86 74 92 75 80 78 74 81 51 88  76
 8 Gerry Kent                     B.C.  44 73 90 74 79 72 79 74 73 90 85  75
 8 Robert Campbell                PEI   72 60 69 71 84 75 60 86 82 72 89  75
10 Kevin Adams                    QUE   94 73 63 66 42 59 ** ** 84 63 85  71
11 Chuck Haines                   TERR  50 71 58 79 87 86 65 78 ** 63 62  70
 + Andrew Carter                  QUE   ** ** ** ** ** ** 47 85 ** ** **  69
12 Gary Mitchell                  N.B.  55 38 58 71 66 ** ** ** ** ** 69  60
 + Malcolm Florence               TERR  ** ** ** ** ** ** ** ** 52 ** **  52
 
   TEAMS
 1 Alberta (Martin)                     90 78 83 82 89 81 79 81 87 82 96  84
 2 Sask (Woytowich)                     83 84 85 86 84 77 81 80 82 87 80  83
 3 Ontario (Howard)                     80 87 80 82 86 75 79 82 84 81 87  82
 3 Man (Stoughton)                      73 76 79 78 85 84 73 85 84 92 94  82
 3 Quebec (Adams)                       89 85 76 73 74 84 77 85 88 81 85  82
 3 N. Ont (Lang)                        72 93 80 83 82 69 88 79 88 86 80  82
 7 B.C. (Kent)                          66 80 79 79 81 80 76 74 77 88 89  79
 7 N.S. (Bentley)                       81 83 80 74 78 66 73 86 87 79 78  79
 9 P.E.I. (Campbell)                    76 78 80 75 83 83 71 81 81 72 82  78
10 NFLD (Boland)                        63 76 76 85 78 79 77 76 82 66 84  77
11 N.B. (Mitchell)                      74 67 75 66 79 84 80 80 74 77 65  75
11 Y/NWT (Haines)                       78 71 73 77 78 81 65 72 73 78 75  75
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1991 LABATT BRIER
                                      Hamilton, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 11
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 TOT
LEADS  
Andrew Carter                  QUE    0  -  0  +  +  +  *  *  +  +  +  +5
Art Lappalainen                NONT   +  +  +  -  +  +  -  -  +  0  +  +4
Peter Corner                   ONT    0  0  0  0  -  +  +  0  -  +  +  +2
Mark Butler                    PEI    +  0  +  0  +  -  0  +  -  0  -  +1
George Xidos                   N.S.   0  0  +  0  +  -  0  -  +  0  -   0
Doug Bryant                    TERR   +  0  0  +  -  -  0  0  +  0  -   0
Don Bartlett                   ALTA   -  0  -  0  0  +  +  +  +  -  -   0
Mike Butler                    N.B.   0  +  0  -  0  0  0  0  0  -  -  -2
Ken McHargue                   B.C.   0  0  -  0  -  +  -  -  -  +  +  -2
Garry Van Den Berghe           MAN    -  0  -  0  -  0  0  +  -  -  +  -3
Dave Mayne                     NFLD   -  -  0  0  +  -  0  0  -  0  *  -3
John Grundy                    SASK   0  0  0  0  -  -  -  -  0  0  0  -4
 
SECONDS
Don Reddick                    QUE    +  0  0  +  -  +  +  0  +  0  +  +5
Ross Tetley                    NONT   +  0  +  +  0  -  +  -  +  -  +  +3
Rick Perron                    N.B.   -  +  +  -  -  +  +  +  +  0  -  +2
Dan Petryk                     ALTA   +  0  0  0  +  -  0  +  0  0  0  +2
Mark O'Rourke                  PEI    +  +  +  +  -  +  -  0  -  0  -  +1
Wayne Middaugh                 ONT    +  +  -  0  +  -  -  0  -  0  +   0
Wyatt Buck                     SASK   -  -  0  0  +  +  0  0  -  +  0   0
Robert Skanes                  NFLD   -  -  0  0  +  -  +  0  0  0  0  -1
Tom Shypitka                   B.C.   -  0  -  0  0  +  -  0  -  0  +  -2
Darren Bentley                 N.S.   +  -  0  -  -  +  -  0  +  -  -  -3
Craig Tuton                    TERR   -  -  0  -  -  -  +  *  +  *  *  -3
Ken Tresoor                    MAN    -  +  -  0  +  -  -  0  -  0  0  -3
 
THIRDS 
Scott Henderson                NONT   +  +  -  +  0  +  +  +  0  +  +  +7
Dave Iverson                   MAN    +  -  +  -  +  +  +  +  +  +  0  +6
Glenn Howard                   ONT    +  0  +  +  +  +  -  +  +  -  0  +5
Brian McCusker                 SASK   0  +  +  +  +  -  +  0  +  -  0  +4
Brian Collison                 B.C.   -  0  +  -  0  -  0  -  +  +  +   0
Peter Gallant                  PEI    -  +  -  +  -  +  -  0  0  0  +   0
Phil Kieley                    NFLD   -  +  -  +  -  +  0  -  -  0  0  -2
Malcolm Florence               TERR   0  -  -  -  +  0  -  0  *  0  0  -3
Kevin Park                     ALTA   0  0  +  -  0  -  -  -  +  -  0  -3
Rob MacLean                    QUE    0  -  +  -  -  0  0  -  -  +  -  -4
Jim Walsh                      N.S.   -  0  -  -  -  -  0  +  -  0  -  -6
 
SKIPS  
Randy Woytowich                SASK   -  +  +  +  +  +  +  0  +  0  -  +5
Gerry Kent                     B.C.   -  +  +  -  +  -  +  -  +  +  +  +3
Kevin Martin                   ALTA   +  -  0  +  +  0  -  0  0  +  +  +3
Jeff Stoughton                 MAN    +  -  +  -  +  0  +  +  0  +  -  +3
John Boland                    NFLD   -  +  +  +  -  +  +  0  0  -  +  +3
Rick Lang                      NONT   +  +  -  +  -  0  +  0  0  0  +  +3
Dan Bentley                    N.S.   +  -  0  +  -  0  -  0  0  +  -  -1
Russ Howard                    ONT    +  +  +  -  -  -  -  0  0  -  +  -1
Robert Campbell                PEI    -  -  -  -  +  0  -  0  0  +  0  -3
Gary Mitchell                  N.B.   -  -  -  +  -  *  *  *  *  *  -  -4
Chuck Haines                   TERR   -  +  -  -  +  +  -  -  *  -  -  -4
Kevin Adams                    QUE    +  -  -  -  -  -  *  *  0  -  0  -5
 
   TEAMS
N. Ont (Lang)                         +  +  0  +  0  0  +  0  +  0  +  +6
Sask (Woytowich)                      -  +  +  +  +  0  0  0  +  0  0  +4
Alberta (Martin)                      +  0  0  0  +  0  0  0  +  0  0  +3
Man (Stoughton)                       0  -  0  -  +  0  +  +  0  +  0  +2
Ontario (Howard)                      +  0  +  0  0  0  -  +  0  -  +  +2
P.E.I. (Campbell)                     0  +  0  0  0  0  -  0  -  +  0   0
Quebec (Adams)                        +  -  0  +  -  0  0  0  0  0  0   0
B.C. (Kent)                           -  0  0  -  0  0  0  -  0  +  +  -1
N.S. (Bentley)                        +  0  0  0  -  0  0  0  0  0  -  -1
NFLD (Boland)                         -  +  0  +  0  0  0  -  -  -  0  -2
N.B. (Mitchell)                       -  -  -  -  -  0  +  +  -  -  -  -6
Y/NWT (Haines)                        -  -  -  -  0  0  -  -  0  0  -  -7
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1991 LABATT BRIER
                                      Hamilton, Ontario
 
                               SCORING ANALYSIS AFTER 11 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   104  FOR      11    11     27   10    2    0    1    0   58   5.3   17  0.56
                 AGAINST  15    10     28    9    0    0    1    0   51   4.6   14  0.49
 
B.C.   11    94  FOR      11    17     23   14    1    2    0    0   62   5.6   22  0.66
                 AGAINST  13     8     19   11    0    0    0    0   41   3.7   11  0.44
 
MAN    11   100  FOR      13     8     18   16    4    0    0    0   62   5.6   11  0.62
                 AGAINST  15     7     23   10    1    0    0    0   46   4.2    9  0.46
 
N.B.   11   100  FOR      10     8     26   10    1    0    0    0   49   4.5   10  0.49
                 AGAINST   7    16     25   18    3    0    0    0   70   6.4   21  0.70
 
NFLD   11   104  FOR       9    12     32    9    1    0    0    0   53   4.8   12  0.51
                 AGAINST  13     9     29    8    2    1    0    0   55   5.0   12  0.53
 
NONT   11   102  FOR      13    16     30   12    4    0    0    0   66   6.0   24  0.65
                 AGAINST   8     5     25    9    0    0    1    0   48   4.4   10  0.47
 
N.S.   11   111  FOR      14     8     30   10    0    1    0    0   54   4.9    8  0.49
                 AGAINST  12    10     33    8    3    0    0    0   58   5.3   14  0.52
 
ONT    11   102  FOR      13     7     21   14    3    1    0    0   62   5.6   11  0.61
                 AGAINST  11     7     26   10    3    0    0    0   55   5.0    8  0.54
 
PEI    11   109  FOR      11     9     31   12    0    0    0    0   55   5.0   10  0.50
                 AGAINST  11    10     27   13    3    1    0    0   66   6.0   11  0.61
 
QUE    11   104  FOR      12     5     25    9    0    0    0    0   43   3.9    6  0.41
                 AGAINST  11    16     30   14    2    1    0    0   68   6.2   20  0.65
 
SASK   11   104  FOR      16    11     26    9    5    0    1    0   64   5.8   17  0.62
                 AGAINST  15     4     22    9    1    0    0    0   43   3.9    4  0.41
 
TERR   11    98  FOR       5     8     25   11    1    0    0    0   50   4.5    9  0.51
                 AGAINST   7    18     27   17    4    1    0    0   77   7.0   23  0.79
 
 
TOTAL  66   616  FOR     138   120    314  136   22    4    2    0  678   5.1  157  0.55
                 AGAINST 138   120    314  136   22    4    2    0  678   5.1  157  0.55
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1991 LABATT BRIER
                                      Hamilton, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     W     W     W     W     W     W     W     L     L     W  
 
 
B.C.     W     *     L     W     L     W     W     L     W     W     L     W  
 
 
MAN      L     W     *     L     L     W     L     W     W     W     L     W  
 
 
N.B.     L     L     W     *     L     L     L     L     W     W     L     W  
 
 
NFLD     L     W     W     W     *     L     L     L     L     W     L     L  
 
 
NONT     L     L     L     W     W     *     W     W     L     W     W     W  
 
 
N.S.     L     L     W     W     W     L     *     L     L     W     L     W  
 
 
ONT      L     W     L     W     W     L     W     *     L     W     L     W  
 
 
PEI      L     L     L     L     W     W     W     W     *     W     W     L  
 
 
QUE      W     L     L     L     L     L     L     L     L     *     W     L  
 
 
SASK     W     W     W     W     W     L     W     W     L     L     *     W  
 
 
TERR     L     L     L     L     W     L     L     L     W     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1991 LABATT BRIER
                                      Hamilton, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Martin)               #SH   153  220  373   339  250  589   492  470  962
                                  PTS   502  735 1237  1175  830 2005  1677 1565 3242
                                  PCT    82   84   83    87   83   85    85   83   84
 
 1 Don Bartlett                   #SH    40   80  120    64   43  107   104  123  227
                                  PTS   145  286  431   225  143  368   370  429  799
                                  PCT    91   89   90    88   83   86    89   87   88
 
 2 Dan Petryk                     #SH    27   54   81    86   83  169   113  137  250
                                  PTS    92  193  285   293  282  575   385  475  860
                                  PCT    85   89   88    85   85   85    85   87   86
 
 3 Kevin Park                     #SH    31   44   75    97   75  172   128  119  247
                                  PTS   102  129  231   350  254  604   452  383  835
                                  PCT    82   73   77    90   85   88    88   80   85
 
 4 Kevin Martin                   #SH    55   42   97    92   49  141   147   91  238
                                  PTS   163  127  290   307  151  458   470  278  748
                                  PCT    74   76   75    83   77   81    80   76   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Kent)                    #SH   207  164  371   264  282  546   471  446  917
                                  PTS   640  496 1136   844  918 1762  1484 1414 2898
                                  PCT    77   76   77    80   81   81    79   79   79
 
 1 Ken McHargue                   #SH    86   28  114    66   44  110   152   72  224
                                  PTS   296   99  395   225  144  369   521  243  764
                                  PCT    86   88   87    85   82   84    86   84   85
 
 2 Tom Shypitka                   #SH    32   40   72    64   97  161    96  137  233
                                  PTS   102  129  231   211  321  532   313  450  763
                                  PCT    80   81   80    82   83   83    82   82   82
 
 3 Brian Collison                 #SH    45   51   96    70   68  138   115  119  234
                                  PTS   123  141  264   207  220  427   330  361  691
                                  PCT    68   69   69    74   81   77    72   76   74
 
 4 Gerry Kent                     #SH    44   45   89    64   73  137   108  118  226
                                  PTS   119  127  246   201  233  434   320  360  680
                                  PCT    68   71   69    79   80   79    74   76   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Man (Stoughton)                #SH   161  172  333   233  246  479   394  418  812
                                  PTS   526  558 1084   770  807 1577  1296 1365 2661
                                  PCT    82   81   81    83   82   82    82   82   82
 
 1 Garry Van Den Berghe           #SH    55   46  101    57   42   99   112   88  200
                                  PTS   187  163  350   181  125  306   368  288  656
                                  PCT    85   89   87    79   74   77    82   82   82
 
 2 Ken Tresoor                    #SH    40   40   80    58   70  128    98  110  208
                                  PTS   135  137  272   199  219  418   334  356  690
                                  PCT    84   86   85    86   78   82    85   81   83
 
 3 Dave Iverson                   #SH    34   46   80    59   68  127    93  114  207
                                  PTS   105  136  241   189  249  438   294  385  679
                                  PCT    77   74   75    80   92   86    79   84   82
 
 4 Jeff Stoughton                 #SH    32   40   72    59   66  125    91  106  197
                                  PTS    99  122  221   201  214  415   300  336  636
                                  PCT    77   76   77    85   81   83    82   79   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Mitchell)                #SH   167  242  409   185  214  399   352  456  808
                                  PTS   500  739 1239   546  633 1179  1046 1372 2418
                                  PCT    75   76   76    74   74   74    74   75   75
 
 1 Mike Butler                    #SH    20   96  116    28   57   85    48  153  201
                                  PTS    62  320  382    77  186  263   139  506  645
                                  PCT    78   83   82    69   82   77    72   83   80
 
 2 Rick Perron                    #SH    61   46  107    55   42   97   116   88  204
                                  PTS   195  148  343   154  120  274   349  268  617
                                  PCT    80   80   80    70   71   71    75   76   76
 
 3 Grant Odishaw                  #SH    37   47   84    44   52   96    81   99  180
                                  PTS   110  144  254   143  162  305   253  306  559
                                  PCT    74   77   76    81   78   79    78   77   78
 
 4 Gary Mitchell                  #SH    46   49   95    52   54  106    98  103  201
                                  PTS   126  116  242   157  144  301   283  260  543
                                  PCT    68   59   64    75   67   71    72   63   68
 
 5 Terry Odishaw                  #SH     3    4    7     6    9   15     9   13   22
                                  PTS     7   11   18    15   21   36    22   32   54
                                  PCT    58   69   64    63   58   60    61   62   61
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Boland)                  #SH   190  280  470   158  230  388   348  510  858
                                  PTS   576  864 1440   479  713 1192  1055 1577 2632
                                  PCT    76   77   77    76   78   77    76   77   77
 
 1 Dave Mayne                     #SH    31   84  115    26   50   76    57  134  191
                                  PTS   100  267  367    74  161  235   174  428  602
                                  PCT    81   79   80    71   81   77    76   80   79
 
 2 Robert Skanes                  #SH    50   65  115    42   63  105    92  128  220
                                  PTS   153  202  355   132  198  330   285  400  685
                                  PCT    77   78   77    79   79   79    77   78   78
 
 3 Phil Kieley                    #SH    59   61  120    42   57   99   101  118  219
                                  PTS   170  185  355   120  173  293   290  358  648
                                  PCT    72   76   74    71   76   74    72   76   74
 
 4 John Boland                    #SH    43   65  108    46   52   98    89  117  206
                                  PTS   125  190  315   147  163  310   272  353  625
                                  PCT    73   73   73    80   78   79    76   75   76
 
 5 Gerry Parrott                  #SH     7    5   12     2    8   10     9   13   22
                                  PTS    28   20   48     6   18   24    34   38   72
                                  PCT   100  100  100    75   56   60    94   73   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ont (Lang)                  #SH   233  251  484   237  190  427   470  441  911
                                  PTS   762  838 1600   764  604 1368  1526 1442 2968
                                  PCT    82   83   83    81   79   80    81   82   81
 
 1 Art Lappalainen                #SH    68   77  145    54   26   80   122  103  225
                                  PTS   251  279  530   178   72  250   429  351  780
                                  PCT    92   91   91    82   69   78    88   85   87
 
 2 Ross Tetley                    #SH    51   63  114    59   59  118   110  122  232
                                  PTS   165  207  372   197  189  386   362  396  758
                                  PCT    81   82   82    83   80   82    82   81   82
 
 3 Scott Henderson                #SH    55   57  112    70   50  120   125  107  232
                                  PTS   167  179  346   221  169  390   388  348  736
                                  PCT    76   79   77    79   85   81    78   81   79
 
 4 Rick Lang                      #SH    59   54  113    54   55  109   113  109  222
                                  PTS   179  173  352   168  174  342   347  347  694
                                  PCT    76   80   78    78   79   78    77   80   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Bentley)                 #SH   258  179  437   292  167  459   550  346  896
                                  PTS   827  573 1400   883  544 1427  1710 1117 2827
                                  PCT    80   80   80    76   81   78    78   81   79
 
 1 George Xidos                   #SH    95   40  135    64   22   86   159   62  221
                                  PTS   320  140  460   206   82  288   526  222  748
                                  PCT    84   88   85    80   93   84    83   90   85
 
 2 Darren Bentley                 #SH    66   48  114    73   41  114   139   89  228
                                  PTS   216  162  378   216  131  347   432  293  725
                                  PCT    82   84   83    74   80   76    78   82   79
 
 3 Jim Walsh                      #SH    56   50  106    75   47  122   131   97  228
                                  PTS   168  146  314   224  146  370   392  292  684
                                  PCT    75   73   74    75   78   76    75   75   75
 
 4 Dan Bentley                    #SH    41   41   82    80   57  137   121   98  219
                                  PTS   123  125  248   237  185  422   360  310  670
                                  PCT    75   76   76    74   81   77    74   79   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Howard)               #SH   194  184  378   182  273  455   376  457  833
                                  PTS   621  614 1235   573  925 1498  1194 1539 2733
                                  PCT    80   83   82    79   85   82    79   84   82
 
 1 Peter Corner                   #SH    49   66  115    32   52   84    81  118  199
                                  PTS   181  237  418    92  174  266   273  411  684
                                  PCT    92   90   91    72   84   79    84   87   86
 
 2 Wayne Middaugh                 #SH    41   47   88    49   77  126    90  124  214
                                  PTS   141  138  279   166  274  440   307  412  719
                                  PCT    86   73   79    85   89   87    85   83   84
 
 3 Glenn Howard                   #SH    50   34   84    50   80  130   100  114  214
                                  PTS   150  115  265   164  272  436   314  387  701
                                  PCT    75   85   79    82   85   84    79   85   82
 
 4 Russ Howard                    #SH    54   37   91    51   64  115   105  101  206
                                  PTS   149  124  273   151  205  356   300  329  629
                                  PCT    69   84   75    74   80   77    71   81   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Campbell)              #SH   169  211  380   217  273  490   386  484  870
                                  PTS   536  661 1197   662  866 1528  1198 1527 2725
                                  PCT    79   78   79    76   79   78    78   79   78
 
 1 Mark Butler                    #SH    53   65  118    39   62  101    92  127  219
                                  PTS   187  224  411   123  202  325   310  426  736
                                  PCT    88   86   87    79   81   80    84   84   84
 
 2 Mark O'Rourke                  #SH    35   37   72    72   76  148   107  113  220
                                  PTS   108  127  235   208  265  473   316  392  708
                                  PCT    77   86   82    72   87   80    74   87   80
 
 3 Peter Gallant                  #SH    47   46   93    45   82  127    92  128  220
                                  PTS   136  124  260   141  244  385   277  368  645
                                  PCT    72   67   70    78   74   76    75   72   73
 
 4 Robert Campbell                #SH    34   63   97    61   53  114    95  116  211
                                  PTS   105  186  291   190  155  345   295  341  636
                                  PCT    77   74   75    78   73   76    78   73   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Adams)                 #SH   261  263  524   133  185  318   394  448  842
                                  PTS   840  864 1704   450  605 1055  1290 1469 2759
                                  PCT    80   82   81    85   82   83    82   82   82
 
 1 Andrew Carter                  #SH    59   81  140    30   40   70    89  121  210
                                  PTS   193  290  483   110  126  236   303  416  719
                                  PCT    82   90   86    92   79   84    85   86   86
 
 2 Don Reddick                    #SH    64   70  134    38   39   77   102  109  211
                                  PTS   240  243  483   130  139  269   370  382  752
                                  PCT    94   87   90    86   89   87    91   88   89
 
 3 Rob MacLean                    #SH    80   57  137    34   41   75   114   98  212
                                  PTS   239  177  416   109  128  237   348  305  653
                                  PCT    75   78   76    80   78   79    76   78   77
 
 4 Kevin Adams                    #SH    58   55  113    31   65   96    89  120  209
                                  PTS   168  154  322   101  212  313   269  366  635
                                  PCT    72   70   71    81   82   82    76   76   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Woytowich)               #SH   147  212  359   161  386  547   308  598  906
                                  PTS   470  709 1179   514 1261 1775   984 1970 2954
                                  PCT    80   84   82    80   82   81    80   82   82
 
 1 John Grundy                    #SH    32   80  112     4  107  111    36  187  223
                                  PTS   106  257  363    13  344  357   119  601  720
                                  PCT    83   80   81    81   80   80    83   80   81
 
 2 Wyatt Buck                     #SH    41   40   81    60   91  151   101  131  232
                                  PTS   147  136  283   175  295  470   322  431  753
                                  PCT    90   85   87    73   81   78    80   82   81
 
 3 Brian McCusker                 #SH    31   44   75    45  111  156    76  155  231
                                  PTS    88  150  238   143  368  511   231  518  749
                                  PCT    71   85   79    79   83   82    76   84   81
 
 4 Randy Woytowich                #SH    43   48   91    52   77  129    95  125  220
                                  PTS   129  166  295   183  254  437   312  420  732
                                  PCT    75   86   81    88   82   85    82   84   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Haines)                 #SH   195  184  379   203  213  416   398  397  795
                                  PTS   602  553 1155   603  619 1222  1205 1172 2377
                                  PCT    77   75   76    74   73   73    76   74   75
 
 1 Doug Bryant                    #SH    52   59  111    44   43   87    96  102  198
                                  PTS   179  201  380   142  124  266   321  325  646
                                  PCT    86   85   86    81   72   76    84   80   82
 
 2 Craig Tuton                    #SH    32   32   64    39   38   77    71   70  141
                                  PTS    94  102  196   108  117  225   202  219  421
                                  PCT    73   80   77    69   77   73    71   78   75
 
 3 Malcolm Florence               #SH    48   32   80    56   65  121   104   97  201
                                  PTS   155   70  225   171  203  374   326  273  599
                                  PCT    81   55   70    76   78   77    78   70   75
 
 4 Chuck Haines                   #SH    42   45   87    53   43   96    95   88  183
                                  PTS   122  133  255   157  103  260   279  236  515
                                  PCT    73   74   73    74   60   68    73   67   70
 
 5 Lionel Stokes                  #SH    21   16   37    11   24   35    32   40   72
                                  PTS    52   47   99    25   72   97    77  119  196
                                  PCT    62   73   67    57   75   69    60   74   68
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1991 LABATT BRIER
                                      Hamilton, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  69
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  10
 
          DRAW  7    ALTA  4  SASK 10
          DRAW  9    B.C. 10  TERR  2
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    TERR  1  ALTA  9
          DRAW  2    ALTA  1  B.C.  7
          DRAW  2    NFLD  8  N.B.  1
          DRAW  3    B.C.  9  PEI   1
          DRAW  4    SASK  5  B.C.  1
          DRAW 10    MAN   6  ONT   1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  15
 
          DRAW  9    ONT   9  QUE   6
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   5
 
          DRAW 11    ALTA  3  MAN   2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  7    ALTA  4  SASK 10    SASK SCORED 5 IN THE 8TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW  8    NONT  6  ALTA  8    ALTA SCORED 5 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   6
 
          DRAW 11    ALTA  3  MAN   2
 
NUMBER OF BLANK ENDS IN EVENT: 147
 
MOST BLANK ENDS ONE DRAW:  22
 
          DRAW 11
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  3    N.S.  4  ALTA  5    BY N.S. BEGINNING IN END 4
          DRAW  7    N.S.  7  NFLD  3    BY N.S. BEGINNING IN END 6
          DRAW  8    SASK  4  PEI   5    BY SASK BEGINNING IN END 1
          DRAW 11    ALTA  3  MAN   2    BY ALTA BEGINNING IN END 5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  1    N.B.  4  N.S.  5
          DRAW  1    TERR  1  ALTA  9
          DRAW  2    NFLD  8  N.B.  1
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  1    TERR  1  ALTA  9    BY ALTA BEGINNING IN END 2
          DRAW  2    NFLD  8  N.B.  1    BY NFLD BEGINNING IN END 4
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  1    TERR  1  ALTA  9    BY ALTA
          DRAW  6    NONT  9  N.S.  3    BY NONT
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  8    NONT  6  ALTA  8    ALTA WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:  13
 
MOST ENDS PLAYED IN ONE GAME:  12
 
          DRAW  3    N.S.  4  ALTA  5
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  3    B.C.  9  PEI   1
          DRAW  9    N.B.  2  SASK  8
          DRAW  9    B.C. 10  TERR  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  1    TERR  1  ALTA  9    BY TERR
  </div>
</div>
