<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1993 Labatt Brier
                                       Ottawa, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Peter Corner                             ONT   90 ** 99 98 91 97 ** ** 89100 93 ** 97 94 ** 71 **  93
 2 Louis Biron                              QUE   91 ** ** 86 85 **100 ** 88 86 96 88 ** 81 ** ** **  89
 3 Mark Butler                              PEI   85 ** 68 ** 91 82 ** 95 ** 96 98 94 ** ** 89 79 93  88
 4 Gerry Richard                            B.C.  ** 74 76 ** ** 92 92 89 ** 85 92 ** 96 ** 93 84 88  87
 4 Rich Hipkin                              ALTA  ** 80 ** 97 ** 92 89 91 84 ** 89 ** 77 ** 88 89 88  87
 4 John Grundy                              SASK  ** 76 ** 78 ** 86 90 98 83 ** ** 87 95 76 ** 81100  87
 7 Don Rudd                                 MAN   88 ** 92 ** 99 ** 92 62 ** 91 ** 84 80 89 74 ** 89  86
 8 Art Lappalainen                          NONT  89 ** 85 72 76 85 ** 81 ** 92 ** 89 85 84 92 ** **  85
 + Charlie Salina                           NONT  ** ** ** ** ** ** ** ** ** ** ** ** ** 84 ** ** **  84
 9 Steve Piggott                            N.S.  ** 80 ** 95 ** 81 88 ** 76 78 85 ** 89 79 64 ** 89  82
 9 Dave Coster                              N.B.  89 ** 79 66 94 80 ** 90 92 ** ** 89 67 64 ** 91 **  82
11 Scott Alexander                          TERR  71 ** 69 78 84 ** 71 94 94 **100 81 ** ** 65 84 **  81
12 Gary Rowe                                NFLD  75 ** 66 ** 76 ** 74 ** 91 98 80 80 ** 78 ** 84 65  79
 + Eric Carriere                            QUE   ** ** ** ** ** ** ** ** ** ** ** ** ** ** 64 ** 90  73
 
   SECONDS
 1 Wayne Middaugh                           ONT   91 ** 79 83 88 84 ** ** 89 93 83 ** 91 85 ** 89 **  87
 2 Bert Gretzinger                          B.C.  ** 85 90 ** ** 79 83 92 ** 90 92 ** 84 ** 86 64 94  85
 2 Chris Neufeld                            MAN   79 ** 90 ** 75 ** 94 76 ** 93 ** 85 75 91 79 ** 93  85
 4 Wyatt Buck                               SASK  ** 83 ** 83 ** 83 78 97 80 ** ** 80 74 83 ** 88 93  84
 5 Mark O'Rourke                            PEI   79 ** 70 ** 91 79 ** 73 ** 88 86 91 ** ** 90 84 84  83
 6 Ross Tetley                              NONT  79 ** 76 78 83 83 ** 88 ** 86 ** 89 94 76 75 ** **  82
 6 Mark Lecocq                              N.B.  82 ** 73 83 94 89 ** 92 76 ** ** 85 75 75 ** 74 **  82
 8 Don Westphal                             QUE   63 ** ** 86 74 ** 84 ** 78 76 98 85 ** 84 ** ** **  80
 + Louis Biron                              QUE   ** ** ** ** ** ** ** ** ** ** ** ** ** ** 74 ** 84  79
 9 Calvin Schiewe                           ALTA  ** 68 ** 81 ** 81 73 80 73 ** 79 ** 82 ** 80 78 77  77
 9 Steve Johnston                           N.S.  ** 75 ** 76 ** 88 83 ** 82 61 78 ** 75 74 68 ** 85  77
11 Rob Thomas                               NFLD  75 ** 64 ** 74 ** 66 ** 84 79 85 80 ** 64 ** 64 81  74
12 Steve Moss                               TERR  68 ** 56 85 79 ** 64 81 84 ** 74 66 ** ** 70 75 **  72
 
   THIRDS 
 1 Pat Ryan                                 B.C.  ** 95 69 ** ** 80 94 96 ** 90 91 ** 94 ** 79 96 92  88
 2 Glenn Howard                             ONT   83 ** 90 97 85 85 ** ** 88 90 84 ** 83 81 ** 76 **  86
 3 Dan Carey                                MAN   88 ** 85 ** 88 ** 79 72 ** 91 ** 89 75 79 84 ** 88  84
 4 Brian McCusker                           SASK  ** 84 ** 64 ** 76 81 86 86 ** ** 88 79 79 ** 90 76  81
 5 Peter Gallant                            PEI   78 ** 79 ** 92 79 ** 76 ** 86 78 86 ** ** 70 80 80  80
 6 Scott Henderson                          NONT  68 ** 61 96 83 75 ** 81 ** 80 ** 88 81 75 71 ** **  78
 7 Brad Fitzherbert                         N.B.  81 ** 69 73 74 78 ** 84 81 ** ** 88 81 70 ** 71 **  77
 8 Kelly Kijewski                           ALTA  ** 93 ** 70 ** 68 60 81 76 ** 73 ** 76 ** 78 76 77  76
 9 Daniel Lemery                            QUE   78 ** ** 83 61 ** 80 ** 80 68 71 80 ** 82 ** ** 43  74
10 Bob LeClair                              N.S.  ** 78 ** 68 ** 73 71 ** 75 73 75 ** 66 81 74 ** 71  73
 + Al Delmage                               TERR  ** ** ** 68 70 ** ** ** ** ** ** ** ** ** ** ** **  69
11 Don Ryan                                 NFLD  61 ** 51 ** 73 ** 73 ** 79 73 75 71 ** 65 ** 76 56  68
11 Richard Robertson                        TERR  57 ** 45 ** ** ** 80 73 74 ** 73 73 ** ** 70 65 **  68
 + Don Westphal                             QUE   ** ** ** ** ** ** ** ** ** ** ** ** ** ** 56 ** 60  58
 
   SKIPS  
 1 Russ Howard                              ONT   86 ** 79 91 82 83 ** ** 98 75 93 ** 93 70 ** 63 **  83
 2 Vic Peters                               MAN   89 ** 66 ** 67 ** 81 92 ** 95 ** 82 88 75 79 ** 83  81
 2 Rick Folk                                B.C.  ** 95 65 ** ** 70 92 83 ** 89 89 ** 67 ** 68 71 99  81
 4 Rick Lang                                NONT  71 ** 59 88 95 72 ** 74 ** 84 ** 79 80 67 79 ** **  77
 4 Pierre Charette                          QUE   71 ** ** 72 78 ** 82 ** 84 75 56 74 ** 91 76 ** 80  77
 4 Mike Kennedy                             N.B.  69 ** 71 57 75 83 ** 90 75 ** ** 85 78 74 ** 83 **  77
 7 Randy Woytowich                          SASK  ** 80 ** 88 ** 59 83 82 85 ** ** 80 87 74 ** 68 47  76
 8 Robert Campbell                          PEI   51 ** 59 ** 86 74 ** 75 ** 73 70 81 ** ** 75 94 74  74
 9 Gary Oke                                 NFLD  68 ** 68 ** 69 ** 75 ** 76 78 88 60 ** 70 ** 78 78  73
10 Alan O'Leary                             N.S.  ** 83 ** 72 ** 76 81 ** 57 79 76 ** 63 59 64 ** 68  71
11 Greg Ferster                             ALTA  ** 75 ** 50 ** 86 63 79 90 ** 92 ** 80 ** 39 50 72  70
12 Trevor Alexander                         TERR  76 ** 51 71 74 ** 88 67 63 ** 71 78 ** ** 46 69 **  69
 
   TEAMS
 1 Ontario (Howard)                               87 ** 86 92 86 87 ** ** 91 90 88 ** 91 83 ** 75 **  87
 2 B.C. (Folk)                                    ** 87 75 ** ** 80 90 90 ** 88 91 ** 85 ** 82 79 93  85
 3 Manitoba (Peters)                              86 ** 83 ** 82 ** 86 76 ** 92 ** 85 79 83 79 ** 88  84
 4 Sask (Woytowich)                               ** 81 ** 78 ** 76 83 91 84 ** ** 84 84 78 ** 82 80  82
 5 P.E.I. (Campbell)                              74 ** 69 ** 90 78 ** 80 ** 86 83 88 ** ** 81 84 83  81
 5 N. Ontario (Lang)                              77 ** 70 83 84 79 ** 81 ** 85 ** 86 85 77 79 ** **  81
 7 N.B. (Kennedy)                                 80 ** 73 70 84 82 ** 89 81 ** ** 87 75 71 ** 80 **  79
 8 Quebec (Charette)                              75 ** ** 82 74 ** 86 ** 82 76 80 82 ** 85 68 ** 72  78
 9 Alberta (Ferster)                              ** 79 ** 75 ** 81 71 83 81 ** 83 ** 79 ** 71 74 78  77
10 N.S. (O'Leary)                                 ** 79 ** 78 ** 79 81 ** 73 73 78 ** 73 73 67 ** 78  76
11 Newfoundland (Oke)                             70 ** 62 ** 73 ** 72 ** 83 82 82 73 ** 69 ** 75 70  74
12 Y/NWT (Alexander)                              68 ** 55 75 77 ** 75 79 79 ** 79 74 ** ** 63 73 **  72
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1993 Labatt Brier
                                       Ottawa, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Louis Biron                              QUE    0  *  *  -  +  *  +  *  +  +  +  0  *  -  *  *  *  +3
Peter Corner                             ONT    0  *  +  +  0  +  *  *  0  +  -  *  0  +  *  -  *  +3
Mark Butler                              PEI    +  *  0  *  0  0  *  0  *  +  +  +  *  *  0  -  0  +3
Rich Hipkin                              ALTA   *  +  *  +  *  +  +  0  -  *  -  *  -  *  +  +  0  +3
Art Lappalainen                          NONT   +  *  +  -  -  -  *  +  *  -  *  0  +  +  0  *  *  +1
John Grundy                              SASK   *  0  *  -  *  0  0  +  -  *  *  +  0  -  *  0  +   0
Scott Alexander                          TERR   -  *  -  +  -  *  -  +  +  *  +  -  *  *  0  0  *  -1
Gerry Richard                            B.C.   *  -  -  *  *  +  -  -  *  -  +  *  +  *  +  0  0  -1
Dave Coster                              N.B.   0  *  -  -  +  -  *  -  +  *  *  +  -  -  *  +  *  -2
Don Rudd                                 MAN    0  *  +  *  +  *  0  -  *  -  *  -  -  +  -  *  0  -2
Steve Piggott                            N.S.   *  0  *  +  *  -  +  *  -  -  -  *  +  0  -  *  0  -2
Gary Rowe                                NFLD   -  *  0  *  -  *  -  *  0  +  -  -  *  0  *  0  -  -5
 
SECONDS
Wayne Middaugh                           ONT    +  *  -  0  0  0  *  *  +  +  +  *  +  +  *  +  *  +6
Bert Gretzinger                          B.C.   *  +  +  *  *  0  0  +  *  0  +  *  +  *  +  -  +  +6
Mark O'Rourke                            PEI    +  *  +  *  0  0  *  -  *  0  +  +  *  *  +  +  0  +5
Wyatt Buck                               SASK   *  +  *  0  *  0  -  +  0  *  *  +  -  +  *  +  +  +4
Chris Neufeld                            MAN    -  *  +  *  0  *  +  -  *  +  *  -  0  +  -  *  +  +1
Don Westphal                             QUE    -  *  *  0  0  *  0  *  0  +  +  0  *  -  *  *  *   0
Ross Tetley                              NONT   0  *  +  0  -  0  *  +  *  -  *  0  +  -  -  *  *  -1
Mark Lecocq                              N.B.   +  *  -  0  +  +  *  -  -  *  *  +  -  -  *  -  *  -2
Steve Johnston                           N.S.   *  -  *  0  *  0  +  *  +  -  -  *  0  +  -  *  -  -2
Steve Moss                               TERR   -  *  -  0  0  *  -  -  +  *  -  -  *  *  0  +  *  -4
Calvin Schiewe                           ALTA   *  -  *  0  *  -  +  +  -  *  -  *  -  *  +  -  -  -4
Rob Thomas                               NFLD   0  *  -  *  0  *  -  *  -  -  -  -  *  -  *  -  -  -9
 
THIRDS 
Dan Carey                                MAN    +  *  +  *  +  *  0  -  *  +  *  0  +  0  +  *  +  +6
Glenn Howard                             ONT    -  *  +  +  -  +  *  *  +  +  +  *  0  +  *  0  *  +5
Scott Henderson                          NONT   +  *  +  +  +  -  *  +  *  -  *  +  +  0  0  *  *  +5
Pat Ryan                                 B.C.   *  0  -  *  *  +  +  +  *  0  +  *  +  *  -  +  +  +5
Peter Gallant                            PEI    +  *  +  *  +  0  *  -  *  0  0  0  *  *  0  +  +  +4
Brian McCusker                           SASK   *  +  *  -  *  0  0  0  +  *  *  +  0  0  *  -  +  +2
Brad Fitzherbert                         N.B.   0  *  -  +  -  +  *  0  +  *  *  +  -  -  *  -  *  -1
Kelly Kijewski                           ALTA   *  0  *  +  *  -  -  +  0  *  0  *  -  *  0  0  -  -2
Richard Robertson                        TERR   -  *  -  *  *  *  +  -  0  *  -  -  *  *  +  -  *  -4
Don Ryan                                 NFLD   -  *  -  *  +  *  +  *  -  -  -  -  *  -  *  +  -  -5
Bob LeClair                              N.S.   *  -  *  -  *  -  -  *  -  +  0  *  -  +  0  *  -  -5
Daniel Lemery                            QUE    0  *  *  -  -  *  -  *  -  -  0  -  *  0  *  *  -  -7
 
SKIPS  
Russ Howard                              ONT    0  *  +  +  0  +  *  *  +  -  +  *  +  0  *  +  *  +6
Rick Lang                                NONT   0  *  +  +  +  0  *  -  *  +  *  +  0  -  0  *  *  +3
Mike Kennedy                             N.B.   0  *  +  -  -  0  *  +  +  *  *  +  +  0  *  -  *  +2
Vic Peters                               MAN    0  *  -  *  -  *  0  +  *  +  *  0  +  -  +  *  +  +2
Rick Folk                                B.C.   *  +  -  *  *  0  +  +  *  +  0  *  -  *  -  0  +  +2
Gary Oke                                 NFLD   0  *  +  *  -  *  +  *  -  -  0  -  *  +  *  +  +  +1
Pierre Charette                          QUE    0  *  *  -  +  *  -  *  0  0  -  -  *  +  +  *  +   0
Trevor Alexander                         TERR   +  *  -  +  +  *  +  -  -  *  -  0  *  *  -  -  *  -2
Randy Woytowich                          SASK   *  0  *  +  *  -  0  -  0  *  *  0  -  +  *  0  -  -2
Robert Campbell                          PEI    -  *  -  *  0  +  *  0  *  -  -  0  *  *  0  +  -  -3
Greg Ferster                             ALTA   *  -  *  -  *  0  -  0  +  *  +  *  0  *  -  -  -  -4
Alan O'Leary                             N.S.   *  0  *  -  *  -  -  *  -  0  +  *  -  -  +  *  -  -5
 
   TEAMS
Ontario (Howard)                                0  *  +  +  0  +  *  *  +  +  +  *  +  +  *  0  *  +8
B.C. (Folk)                                     *  +  -  *  *  0  0  +  *  0  +  *  +  *  0  0  +  +4
Manitoba (Peters)                               0  *  +  *  +  *  0  -  *  +  *  0  +  0  0  *  +  +4
N. Ontario (Lang)                               +  *  +  +  0  0  *  +  *  -  *  0  +  0  0  *  *  +4
P.E.I. (Campbell)                               +  *  +  *  0  0  *  0  *  0  +  0  *  *  0  0  +  +4
Sask (Woytowich)                                *  0  *  0  *  0  0  0  0  *  *  +  -  0  *  0  +  +1
N.B. (Kennedy)                                  +  *  -  -  0  0  *  0  +  *  *  +  -  -  *  0  *  -1
Quebec (Charette)                               -  *  *  -  0  *  0  *  0  0  0  0  *  0  +  *  -  -2
Alberta (Ferster)                               *  -  *  0  *  0  0  0  0  *  0  *  -  *  0  0  -  -3
N.S. (O'Leary)                                  *  0  *  -  *  -  +  *  -  0  -  *  -  0  0  *  -  -5
Newfoundland (Oke)                              -  *  -  *  0  *  0  *  -  -  -  -  *  0  *  0  -  -7
Y/NWT (Alexander)                               -  *  -  +  -  *  -  -  0  *  -  -  *  *  -  0  *  -7
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1993 Labatt Brier
                                       Ottawa, Ontario
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   103  FOR      20     8     23    9    3    0    0    0   50   4.5   11  0.49
                 AGAINST   9     9     24   12    3    0    0    0   57   5.2   13  0.55
 
B.C.   11   104  FOR      11     9     23   13    2    1    0    0   59   5.4   17  0.57
                 AGAINST  18     6     25   11    0    0    0    0   47   4.3    9  0.45
 
MAN    11   102  FOR      18     9     21   11    3    0    0    0   52   4.7   13  0.51
                 AGAINST  14     7     26    7    1    1    0    0   47   4.3    8  0.46
 
N.B.   11   105  FOR      11     7     27    8    2    2    0    0   57   5.2    8  0.54
                 AGAINST  14     8     25   13    2    1    0    0   61   5.5    9  0.58
 
NFLD   11   107  FOR      11     7     30   14    2    0    0    0   64   5.8    8  0.60
                 AGAINST   6     7     26   15    3    0    0    0   65   5.9    8  0.61
 
NONT   11   103  FOR      12    12     26   12    4    0    0    0   62   5.6   14  0.60
                 AGAINST  11     6     26    9    2    1    0    0   54   4.9    9  0.52
 
N.S.   11   104  FOR      10     6     25   12    0    0    0    0   49   4.5    8  0.47
                 AGAINST  12    13     27   12    5    1    0    0   70   6.4   18  0.67
 
ONT    11   103  FOR      15     6     22   15    3    0    0    0   61   5.5    9  0.59
                 AGAINST  15     4     25    6    1    1    0    0   44   4.0    5  0.43
 
PEI    11   106  FOR      12     5     17   11    3    0    0    0   48   4.4    6  0.45
                 AGAINST  21    15     31   10    1    0    0    0   54   4.9   20  0.51
 
QUE    11    99  FOR      11     8     27    8    3    2    0    0   60   5.5    9  0.61
                 AGAINST   7    10     26   10    5    0    0    0   61   5.5   13  0.62
 
SASK   11   106  FOR      12    12     33    9    1    1    0    0   58   5.3   16  0.55
                 AGAINST  16     4     18   15    1    0    0    0   51   4.6    5  0.48
 
TERR   11   102  FOR      11    12     29    9    2    0    0    0   53   4.8   14  0.52
                 AGAINST  11    12     24   11    4    1    0    0   62   5.6   16  0.61
 
 
TOTAL  66   622  FOR     154   101    303  131   28    6    0    0  673   5.1  133  0.54
                 AGAINST 154   101    303  131   28    6    0    0  673   5.1  133  0.54
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis By Hammer</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
 
                          SCORING ANALYSIS BY HAMMER AFTER DRAW 17
 
                                         WITH HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                             FOR        AGAINST        FOR          FOR
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
ALTA      11      56       20  36        9  16       17  30       10  18
 
B.C.      11      47       11  23        6  13       19  40       11  23
 
MAN       11      51       18  35        7  14       15  29       11  22
 
N.B.      11      51       11  22        8  16       21  41       11  22
 
NFLD      11      57       11  19        7  12       24  42       15  26
 
NONT      11      48       12  25        6  13       16  33       14  29
 
N.S.      11      54       10  19       13  24       21  39       10  19
 
ONT       11      53       15  28        4   8       19  36       15  28
 
PEI       11      53       12  23       15  28       13  25       13  25
 
QUE       11      53       11  21       10  19       20  38       12  23
 
SASK      11      48       12  25        4   8       25  52        7  15
 
TERR      11      51       11  22       12  24       19  37        9  18
 
 
                                       WITHOUT HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                           AGAINST        FOR        AGAINST      AGAINST
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
ALTA      11      47        9  19        8  17       19  40       11  23
 
B.C.      11      57       18  32        9  16       22  39        8  14
 
MAN       11      51       14  27        9  18       20  39        8  16
 
N.B.      11      54       14  26        7  13       18  33       15  28
 
NFLD      11      50        6  12        7  14       20  40       17  34
 
NONT      11      55       11  20       12  22       22  40       10  18
 
N.S.      11      50       12  24        6  12       18  36       14  28
 
ONT       11      50       15  30        6  12       22  44        7  14
 
PEI       11      53       21  40        5   9       21  40        6  11
 
QUE       11      46        7  15        8  17       18  39       13  28
 
SASK      11      58       16  28       12  21       15  26       15  26
 
TERR      11      51       11  22       12  24       14  27       14  27
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1993 Labatt Brier
                                       Ottawa, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     L     W     L     L     L     L     W     W     L     W  
 
 
B.C.     W     *     L     L     W     W     W     L     W     W     W     W  
 
 
MAN      W     W     *     W     W     W     W     W     L     L     L     W  
 
 
N.B.     L     W     L     *     W     L     W     W     L     L     W     L  
 
 
NFLD     W     L     L     L     *     L     W     L     W     L     W     W  
 
 
NONT     W     L     L     W     W     *     W     W     W     W     L     W  
 
 
N.S.     W     L     L     L     L     L     *     L     L     W     L     L  
 
 
ONT      W     W     L     L     W     L     W     *     W     W     W     W  
 
 
PEI      L     L     W     W     L     L     W     L     *     L     W     L  
 
 
QUE      L     L     W     W     W     L     L     L     W     *     L     W  
 
 
SASK     W     L     W     L     L     W     W     L     L     W     *     W  
 
 
TERR     L     L     L     W     L     L     W     L     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1993 Labatt Brier
                                       Ottawa, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Ferster)                        #SH   160  180  340   232  259  491   392  439  831
                                  PTS   484  545 1029   730  816 1546  1214 1361 2575
                                  PCT    76   76   76    79   79   79    77   78   77
 
 1 Rich Hipkin                              #SH    34   60   94    52   56  108    86  116  202
                                  PTS   130  208  338   179  186  365   309  394  703
                                  PCT    96   87   90    86   83   84    90   85   87
 
 2 Calvin Schiewe                           #SH    39   44   83    59   70  129    98  114  212
                                  PTS   123  142  265   169  221  390   292  363  655
                                  PCT    79   81   80    72   79   76    74   80   77
 
 3 Kelly Kijewski                           #SH    48   42   90    67   55  122   115   97  212
                                  PTS   136  118  254   231  157  388   367  275  642
                                  PCT    71   70   71    86   71   80    80   71   76
 
 4 Greg Ferster                             #SH    39   34   73    54   78  132    93  112  205
                                  PTS    95   77  172   151  252  403   246  329  575
                                  PCT    61   57   59    70   81   76    66   73   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Folk)                              #SH   192  296  488   347  320  667   539  616 1155
                                  PTS   638 1028 1666  1188 1121 2309  1826 2149 3975
                                  PCT    83   87   85    86   88   87    85   87   86
 
 1 Gerry Richard                            #SH    45  102  147    61   76  137   106  178  284
                                  PTS   157  369  526   197  277  474   354  646 1000
                                  PCT    87   90   89    81   91   86    83   91   88
 
 2 Bert Gretzinger                          #SH    40   67  107   119   66  185   159  133  292
                                  PTS   142  237  379   408  216  624   550  453 1003
                                  PCT    89   88   89    86   82   84    86   85   86
 
 3 Pat Ryan                                 #SH    46   70  116    79   98  177   125  168  293
                                  PTS   159  232  391   290  357  647   449  589 1038
                                  PCT    86   83   84    92   91   91    90   88   89
 
 4 Rick Folk                                #SH    61   57  118    88   80  168   149  137  286
                                  PTS   180  190  370   293  271  564   473  461  934
                                  PCT    74   83   78    83   85   84    79   84   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Peters)                        #SH   166  305  471   137  367  504   303  672  975
                                  PTS   583 1035 1618   442 1214 1656  1025 2249 3274
                                  PCT    88   85   86    81   83   82    85   84   84
 
 1 Don Rudd                                 #SH    46   87  133    24   83  107    70  170  240
                                  PTS   169  316  485    65  272  337   234  588  822
                                  PCT    92   91   91    68   82   79    84   86   86
 
 2 Chris Neufeld                            #SH    40   68  108    45   95  140    85  163  248
                                  PTS   144  239  383   139  322  461   283  561  844
                                  PCT    90   88   89    77   85   82    83   86   85
 
 3 Dan Carey                                #SH    44   70  114    40   94  134    84  164  248
                                  PTS   156  225  381   140  307  447   296  532  828
                                  PCT    89   80   84    88   82   83    88   81   83
 
 4 Vic Peters                               #SH    36   80  116    28   95  123    64  175  239
                                  PTS   114  255  369    98  313  411   212  568  780
                                  PCT    79   80   80    88   82   84    83   81   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Kennedy)                           #SH   177  194  371   236  252  488   413  446  859
                                  PTS   583  623 1206   747  772 1519  1330 1395 2725
                                  PCT    82   80   81    79   77   78    81   78   79
 
 1 Dave Coster                              #SH    46   68  114    46   54  100    92  122  214
                                  PTS   169  233  402   131  168  299   300  401  701
                                  PCT    92   86   88    71   78   75    82   82   82
 
 2 Mark Lecocq                              #SH    52   39   91    68   59  127   120   98  218
                                  PTS   180  130  310   221  181  402   401  311  712
                                  PCT    87   83   85    81   77   79    84   79   82
 
 3 Brad Fitzherbert                         #SH    45   39   84    66   68  134   111  107  218
                                  PTS   129  118  247   220  205  425   349  323  672
                                  PCT    72   76   74    83   75   79    79   75   77
 
 4 Mike Kennedy                             #SH    34   48   82    56   71  127    90  119  209
                                  PTS   105  142  247   175  218  393   280  360  640
                                  PCT    77   74   75    78   77   77    78   76   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Newfoundland (Oke)                       #SH   155  277  432   244  200  444   399  477  876
                                  PTS   458  851 1309   706  568 1274  1164 1419 2583
                                  PCT    74   77   76    72   71   72    73   74   74
 
 1 Gary Rowe                                #SH    35   93  128    52   37   89    87  130  217
                                  PTS   130  310  440   148   97  245   278  407  685
                                  PCT    93   83   86    71   66   69    80   78   79
 
 2 Rob Thomas                               #SH    37   63  100    59   63  122    96  126  222
                                  PTS   104  200  304   173  182  355   277  382  659
                                  PCT    70   79   76    73   72   73    72   76   74
 
 3 Don Ryan                                 #SH    46   61  107    70   45  115   116  106  222
                                  PTS   107  184  291   196  121  317   303  305  608
                                  PCT    58   75   68    70   67   69    65   72   68
 
 4 Gary Oke                                 #SH    37   60   97    63   55  118   100  115  215
                                  PTS   117  157  274   189  168  357   306  325  631
                                  PCT    79   65   71    75   76   76    77   71   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ontario (Lang)                        #SH   311  236  547   262  287  549   573  523 1096
                                  PTS  1043  769 1812   844  884 1728  1887 1653 3540
                                  PCT    84   81   83    81   77   79    82   79   81
 
 1 Art Lappalainen                          #SH   105   49  154    56   60  116   161  109  270
                                  PTS   378  183  561   184  189  373   562  372  934
                                  PCT    90   93   91    82   79   80    87   85   86
 
 2 Ross Tetley                              #SH    75   69  144    65   70  135   140  139  279
                                  PTS   255  222  477   221  219  440   476  441  917
                                  PCT    85   80   83    85   78   81    85   79   82
 
 3 Scott Henderson                          #SH    62   64  126    74   77  151   136  141  277
                                  PTS   198  203  401   239  216  455   437  419  856
                                  PCT    80   79   80    81   70   75    80   74   77
 
 4 Rick Lang                                #SH    65   51  116    67   79  146   132  130  262
                                  PTS   199  149  348   200  258  458   399  407  806
                                  PCT    77   73   75    75   82   78    76   78   77
 
 5 Charlie Salina                           #SH     4    3    7     0    1    1     4    4    8
                                  PTS    13   12   25     0    2    2    13   14   27
                                  PCT    81  100   89   ***   50   50    81   88   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (O'Leary)                           #SH   222  262  484   165  187  352   387  449  836
                                  PTS   702  787 1489   494  548 1042  1196 1335 2531
                                  PCT    79   75   77    75   73   74    77   74   76
 
 1 Steve Piggott                            #SH    65   81  146    31   35   66    96  116  212
                                  PTS   237  268  505    90  100  190   327  368  695
                                  PCT    91   83   86    73   71   72    85   79   82
 
 2 Steve Johnston                           #SH    55   62  117    47   48   95   102  110  212
                                  PTS   171  197  368   144  137  281   315  334  649
                                  PCT    78   79   79    77   71   74    77   76   77
 
 3 Bob LeClair                              #SH    59   58  117    48   46   94   107  104  211
                                  PTS   168  162  330   156  131  287   324  293  617
                                  PCT    71   70   71    81   71   76    76   70   73
 
 4 Alan O'Leary                             #SH    43   61  104    39   58   97    82  119  201
                                  PTS   126  160  286   104  180  284   230  340  570
                                  PCT    73   66   69    67   78   73    70   71   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Howard)                         #SH   172  199  371   302  392  694   474  591 1065
                                  PTS   611  690 1301  1053 1365 2418  1664 2055 3719
                                  PCT    89   87   88    87   87   87    88   87   87
 
 1 Peter Corner                             #SH    45   75  120    59   72  131   104  147  251
                                  PTS   176  284  460   203  261  464   379  545  924
                                  PCT    98   95   96    86   91   89    91   93   92
 
 2 Wayne Middaugh                           #SH    44   39   83    82  109  191   126  148  274
                                  PTS   149  125  274   297  393  690   446  518  964
                                  PCT    85   80   83    91   90   90    88   88   88
 
 3 Glenn Howard                             #SH    38   45   83    86  105  191   124  150  274
                                  PTS   140  144  284   300  367  667   440  511  951
                                  PCT    92   80   86    87   87   87    89   85   87
 
 4 Russ Howard                              #SH    45   40   85    75  106  181   120  146  266
                                  PTS   146  137  283   253  344  597   399  481  880
                                  PCT    81   86   83    84   81   82    83   82   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Campbell)                        #SH   245  241  486   180  204  384   425  445  870
                                  PTS   778  814 1592   587  653 1240  1365 1467 2832
                                  PCT    79   84   82    82   80   81    80   82   81
 
 1 Mark Butler                              #SH    61   74  135    36   46   82    97  120  217
                                  PTS   225  278  503   117  145  262   342  423  765
                                  PCT    92   94   93    81   79   80    88   88   88
 
 2 Mark O'Rourke                            #SH    61   61  122    54   46  100   115  107  222
                                  PTS   195  204  399   176  163  339   371  367  738
                                  PCT    80   84   82    81   89   85    81   86   83
 
 3 Peter Gallant                            #SH    62   62  124    43   55   98   105  117  222
                                  PTS   196  205  401   134  179  313   330  384  714
                                  PCT    79   83   81    78   81   80    79   82   80
 
 4 Robert Campbell                          #SH    61   44  105    47   57  104   108  101  209
                                  PTS   162  127  289   160  166  326   322  293  615
                                  PCT    66   72   69    85   73   78    75   73   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Charette)                        #SH   184  241  425   143  233  376   327  474  801
                                  PTS   523  814 1337   435  732 1167   958 1546 2504
                                  PCT    71   84   79    76   79   78    73   82   78
 
 1 Louis Biron                              #SH    48   74  122    25   52   77    73  126  199
                                  PTS   167  275  442    72  177  249   239  452  691
                                  PCT    87   93   91    72   85   81    82   90   87
 
 2 Don Westphal                             #SH    37   69  106    39   57   96    76  126  202
                                  PTS    91  228  319   109  183  292   200  411  611
                                  PCT    61   83   75    70   80   76    66   82   76
 
 3 Daniel Lemery                            #SH    42   47   89    34   49   83    76   96  172
                                  PTS   126  143  269   109  129  238   235  272  507
                                  PCT    75   76   76    80   66   72    77   71   74
 
 4 Pierre Charette                          #SH    54   43   97    41   60  101    95  103  198
                                  PTS   131  146  277   130  201  331   261  347  608
                                  PCT    61   85   71    79   84   82    69   84   77
 
 5 Eric Carriere                            #SH     3    8   11     4   15   19     7   23   30
                                  PTS     8   22   30    15   42   57    23   64   87
                                  PCT    67   69   68    94   70   75    82   70   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Woytowich)                         #SH   179  235  414   133  320  453   312  555  867
                                  PTS   590  771 1361   423 1055 1478  1013 1826 2839
                                  PCT    82   82   82    80   82   82    81   82   82
 
 1 John Grundy                              #SH    42   82  124    11   80   91    53  162  215
                                  PTS   161  287  448    32  266  298   193  553  746
                                  PCT    96   88   90    73   83   82    91   85   87
 
 2 Wyatt Buck                               #SH    52   40   92    46   81  127    98  121  219
                                  PTS   164  149  313   146  273  419   310  422  732
                                  PCT    79   93   85    79   84   82    79   87   84
 
 3 Brian McCusker                           #SH    49   55  104    36   79  115    85  134  219
                                  PTS   164  168  332   116  264  380   280  432  712
                                  PCT    84   76   80    81   84   83    82   81   81
 
 4 Randy Woytowich                          #SH    36   58   94    40   80  120    76  138  214
                                  PTS   101  167  268   129  252  381   230  419  649
                                  PCT    70   72   71    81   79   79    76   76   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Alexander)                        #SH   259  218  477   158  209  367   417  427  844
                                  PTS   724  682 1406   461  575 1036  1185 1257 2442
                                  PCT    70   78   74    73   69   71    71   74   72
 
 1 Scott Alexander                          #SH    92   65  157    28   24   52   120   89  209
                                  PTS   293  227  520    88   65  153   381  292  673
                                  PCT    80   87   83    79   68   74    79   82   81
 
 2 Steve Moss                               #SH    77   60  137    46   31   77   123   91  214
                                  PTS   223  184  407   135   78  213   358  262  620
                                  PCT    72   77   74    73   63   69    73   72   72
 
 3 Richard Robertson                        #SH    52   43   95    45   34   79    97   77  174
                                  PTS   115  132  247   131   92  223   246  224  470
                                  PCT    55   77   65    73   68   71    63   73   68
 
 4 Trevor Alexander                         #SH    33   42   75    29  103  132    62  145  207
                                  PTS    81  117  198    81  290  371   162  407  569
                                  PCT    61   70   66    70   70   70    65   70   69
 
 5 Al Delmage                               #SH     5    8   13    10   17   27    15   25   40
                                  PTS    12   22   34    26   50   76    38   72  110
                                  PCT    60   69   65    65   74   70    63   72   69
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1993 Labatt Brier
                                       Ottawa, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  72
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW 14    N.B. 11  ONT   9
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  5    ONT   2  PEI   1
          DRAW  8    PEI   1  ALTA  5
          DRAW 19    B.C.  1  ONT   3
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW 14    N.B. 11  ONT   9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   3
 
          DRAW  5    ONT   2  PEI   1
 
HIGHEST END SCORE WITH HAMMER:   4
 
          DRAW  1    QUE   8  N.B.  4    QUE  SCORED 4 IN THE 5TH END
          DRAW  9    N.B.  8  N.S.  3    N.B. SCORED 4 IN THE 6TH END
          DRAW 14    N.B. 11  ONT   9    N.B. SCORED 4 IN THE 8TH END
          DRAW 14    SASK  7  NONT  4    SASK SCORED 4 IN THE 5TH END
          DRAW 14    QUE   9  MAN   3    QUE  SCORED 4 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  8    TERR  2  B.C.  7    B.C. SCORED 4 IN THE 5TH END
 
MOST BLANK ENDS, ONE GAME:   8
 
          DRAW  5    ONT   2  PEI   1
 
NUMBER OF BLANK ENDS IN EVENT: 172
 
MOST BLANK ENDS ONE DRAW:  15
 
          DRAW  7
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  5    ONT   2  PEI   1    BY PEI  BEGINNING IN END 2
          DRAW 12    SASK  5  TERR  4    BY TERR BEGINNING IN END 4
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  4    N.B.  4  TERR  7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   2
 
          DRAW  1    PEI   5  TERR  8    BY TERR BEGINNING IN END 6
          DRAW  3    TERR  5  NONT  7    BY NONT BEGINNING IN END 3
          DRAW  3    PEI   6  NFLD  7    BY NFLD BEGINNING IN END 5
          DRAW  3    MAN   6  N.B.  5    BY N.B. BEGINNING IN END 9
          DRAW  4    SASK  9  ALTA  2    BY SASK BEGINNING IN END 3
          DRAW  4    N.B.  4  TERR  7    BY TERR BEGINNING IN END 5
          DRAW  5    MAN   5  TERR  3    BY TERR BEGINNING IN END 7
          DRAW  5    QUE  10  NFLD  7    BY NFLD BEGINNING IN END 3
          DRAW  7    SASK  6  MAN   2    BY SASK BEGINNING IN END 5
          DRAW  8    PEI   1  ALTA  5    BY ALTA BEGINNING IN END 1
          DRAW  8    TERR  2  B.C.  7    BY B.C. BEGINNING IN END 4
          DRAW 11    QUE   3  ALTA  8    BY ALTA BEGINNING IN END 2
          DRAW 13    MAN   8  N.S.  3    BY MAN  BEGINNING IN END 6
          DRAW 15    NONT  6  PEI   5    BY NONT BEGINNING IN END 2
          DRAW 17    N.S.  3  B.C.  7    BY B.C. BEGINNING IN END 7
          DRAW 19    NONT  6  MAN   5    BY NONT BEGINNING IN END 9
          DRAW 21    B.C.  3  ONT   5    BY ONT  BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  8    TERR  2  B.C.  7    BY B.C.
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  4    N.B.  4  TERR  7    TERR WAS DOWN 3 AFTER 3 ENDS
          DRAW  5    QUE  10  NFLD  7    QUE  WAS DOWN 3 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   8
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    ALTA  4  B.C.  5
          DRAW  5    ONT   2  PEI   1
          DRAW  8    SASK  3  N.B.  4
          DRAW  9    QUE   4  SASK  5
          DRAW 11    B.C.  7  NFLD  6
          DRAW 12    SASK  5  TERR  4
          DRAW 13    ALTA  4  NONT  5
          DRAW 17    ALTA  4  MAN   5
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  8    TERR  2  B.C.  7
          DRAW 11    QUE   3  ALTA  8
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  5    MAN   5  TERR  3    BY MAN 
          DRAW 19    B.C.  1  ONT   3    BY B.C.
  </div>
</div>
