<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1997 Labatt Brier
                                    Presented by Safeway
                                      Calgary, Alberta
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + David Campbell                           PEI   89 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  89
 1 Neil Harrison                            ONT   ** 84 ** 81 86 89 ** 93 ** 88 91 94 80 ** 83 82 **  87
 + Jules Owchar                             ALTA  ** ** ** ** ** ** ** ** ** ** ** ** ** 86 ** ** **  86
 2 Mark Maki                                NONT  ** 91 ** 86 89 83 ** 76 89 84 ** 81 89 ** ** 80 89  85
 2 Mark Butler                              PEI   ** ** ** 86 89 89 ** 84 82 79 ** ** 88 84 81 ** 89  85
 4 Darol Stuart                             TERR  ** 72 81 85 ** ** 89 70 91 ** 88 88 85 ** ** 86 93  84
 5 Jeff Lacey                               N.B.  83 ** ** 84 74 83 ** 77 ** 90 81 86 78 ** 93 74 **  82
 5 Scott Grant                              MAN   78 ** ** 90 88 71 82 ** 82 ** 85 91 ** 80 ** 78 80  82
 + Dallas Duce                              SASK  ** ** ** ** ** ** ** 81 ** ** ** ** ** ** ** ** **  81
 7 Ian Kerr                                 NFLD  82 75 ** ** 81 84 68 ** 83 79 ** ** 80 81 91 ** 79  81
 8 Don Bartlett                             ALTA  72 76 ** ** 86 77 82 ** 88 ** 78 71 ** ** ** 94 76  80
 9 Bert Hinch                               B.C.  78 78 91 ** ** ** 83 65 ** 85 85 80 ** 60 78 84 **  79
10 Ken Loeffler                             SASK  ** 69 65 83 ** ** 72 ** 85 71 ** ** 85 84 83 ** 84  78
10 Kris MacLeod                             N.S.  85 ** 69 ** 88 ** 75 69 85 ** 82 ** 74 70 83 82 **  78
10 Louis Biron                              QUE   70 77 ** 81 ** 76 73 ** ** 73 79 86 ** 81 86 ** **  78
 + Daniel Lafleur                           QUE   ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 75  75
 
   SECONDS
 1 Pat Perroud                              ONT   ** 72 ** 86 83 89 ** 81 ** 95 86 82 80 ** 89 90 **  85
 2 Chris Neufeld                            MAN   73 ** ** 80 89 81 80 ** 76 ** 81 89 ** 89 ** 86 91  83
 3 Daryell Nowlan                           N.B.  85 ** ** 86 86 95 ** 83 ** 84 83 69 70 ** 74 94 **  82
 4 Pierre Charette                          QUE   86 72 ** 80 ** 69 80 ** ** 93 79 84 ** 94 80 ** **  81
 + Bob Doerr                                SASK  ** ** ** ** ** ** ** 78 ** 84 ** ** ** ** ** ** **  81
 5 Rudy Ramcharan                           ALTA  75 79 ** ** 69 92 83 ** 75 ** 89 79 ** 84 ** 88 75  80
 5 Ken Ellis Jr                             NFLD  84 66 ** ** 81 88 67 ** 90 83 ** ** 75 61100 ** 80  80
 7 Georg Ernst                              N.S.  79 ** 83 ** 90 ** 72 70 71 ** 84 ** 81 80 69 88 **  79
 7 Ken Brown                                B.C.  66 79 82 ** ** ** 78 75 ** 75 92 86 ** 85 71 78 **  79
 7 Dallas Duce                              SASK  ** 81 75 65 ** ** 84 ** 70 ** ** ** 78 85 85 ** 88  79
 7 Humphrey Power                           TERR  ** 81 71 68 ** ** 83 70 88 ** 81 91 80 ** ** 81 74  79
 + Louis Biron                              QUE   ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 79  79
11 Mark O'Rourke                            PEI   ** ** ** 81 71 76 ** 72 81 68 ** ** 70 79 78 ** 90  77
12 Dusty Jakomait                           NONT  ** 71 ** 60 82 75 ** 84 78 73 ** 72 78 ** ** 80 81  76
 + Mark Butler                              PEI   75 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  75
 
   THIRDS 
 1 Don Walchuk                              ALTA  90 78 ** ** 79 88 88 ** 86 ** 79 86 ** 85 ** 86 86  84
 2 Charles Sullivan Jr.                     N.B.  89 ** ** 85 79 86 ** 89 ** 89 74 73 80 ** 86 90 **  83
 + Mark O'Rourke                            PEI   83 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  83
 3 John Kawaja                              ONT   ** 86 ** 93 84 78 ** 61 ** 84 75 74 91 ** 89 93 **  82
 4 Peter Gallant                            PEI   ** ** ** 86 74 83 ** 78 88 85 ** ** 82 66 68 ** 81  79
 4 Mike Coulter (S)                         NONT  ** 86 ** 72 79 65 ** 70 85 80 ** 69 88 ** ** 86 **  79
 6 Dan Carey                                MAN   65 ** ** 86 90 74 81 ** 79 ** 68 83 ** 69 ** 88 82  78
 6 Lorne Henderson                          NFLD  83 70 ** ** 78 70 78 ** 86 75 ** ** 86 72 81 ** 74  78
 + Rollie Ralph                             NONT  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 78  78
 8 Dave Schleppe                            B.C.  61 84 86 ** ** ** 86 65 ** 79 84 85 ** 70 71 84 **  77
 8 Nolin McGowan                            TERR  ** 64 73 70 ** ** 65 83 86 ** 80 74 78 ** ** 86 92  77
10 Dan Lemery                               QUE   65 81 ** 67 ** 88 75 ** ** 61 85 73 ** 73 83 ** **  76
 + Bob Doerr                                SASK  ** ** ** ** ** ** ** ** 75 ** ** ** ** ** ** ** **  75
11 Bill Robinson                            N.S.  57 ** 74 ** 78 ** 67 78 70 ** 72 ** 80 68 76 90 **  74
 + Pierre Charette                          QUE   ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 74  74
11 Jeff Mosley                              SASK  ** 79 63 65 ** ** 72 71 ** 84 ** ** 65 78 79 ** 81  74
 
   SKIPS  
 1 James Grattan                            N.B.  93 ** ** 82 84 82 ** 93 ** 79 80 81 85 ** 86 87 **  85
 2 Vic Peters                               MAN   70 ** ** 81 85 85 83 ** 70 ** 88 88 ** 76 ** 74 86  81
 3 Ed Werenich                              ONT   ** 83 ** 97 85 55 ** 75 ** 84 76 68 84 ** 94 82 **  80
 4 Kevin Martin                             ALTA  75 62 ** ** 68 83 84 ** 77 ** 93 90 ** 70 ** 74 88  78
 5 Don Westphal                             QUE   85 80 ** 55 ** 79 89 ** ** 63 74 92 ** 78 78 ** 65  76
 6 Jeff Thomas                              NFLD  83 62 ** ** 83 71 75 ** 91 64 ** ** 64 58 84 ** 85  75
 7 Lowell Goulden                           N.S.  69 ** 85 ** 75 ** 61 84 63 ** 74 ** 75 75 78 71 **  74
 8 Barry McPhee                             B.C.  75 66 92 ** ** ** 56 70 ** 71 78 79 ** 85 75 50 **  73
 8 Chris Buchan                             NONT  ** 65 ** 69 56 63 ** 75 82 88 ** 86 83 ** ** 78 49  73
 + Peter Gallant                            PEI   73 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  73
10 Robert Campbell                          PEI   ** ** ** 85 54 85 ** 86 64 68 ** ** 55 64 69 ** 84  72
11 Jim Packet                               SASK  ** 81 74 63 ** ** 67 80 55 71 ** ** 69 64 65 ** 74  70
12 Lonnie Kofoed                            TERR  ** 52 63 65 ** ** 74 67 50 ** 73 61 82 ** ** 83 85  69
 
   TEAMS
 1 Ontario (Werenich)                             ** 81 ** 89 84 78 ** 78 ** 88 82 80 84 ** 89 87 **  83
 1 N.B. (Grattan)                                 88 ** ** 84 81 86 ** 86 ** 85 79 77 78 ** 85 86 **  83
 3 Manitoba (Peters)                              71 ** ** 84 88 78 81 ** 77 ** 80 88 ** 79 ** 81 85  81
 3 Alberta (Martin)                               78 74 ** ** 76 85 84 ** 81 ** 85 82 ** 81 ** 85 81  81
 5 P.E.I. (Campbell)                              80 ** ** 85 72 83 ** 80 78 75 ** ** 74 73 74 ** 86  78
 5 Newfoundland(Thomas)                           83 68 ** ** 81 78 72 ** 88 75 ** ** 77 68 89 ** 79  78
 5 N. Ont (Coulter)                               ** 78 ** 72 76 71 ** 76 84 81 ** 77 84 ** ** 81 74  78
 5 Quebec (Westphal)                              77 77 ** 71 ** 78 79 ** ** 72 79 84 ** 81 81 ** 73  78
 9 Y/NWT (Kofoed)                                 ** 67 72 71 ** ** 78 73 79 ** 80 79 81 ** ** 84 86  77
 9 B.C. (McPhee)                                  70 77 88 ** ** ** 76 69 ** 78 85 83 ** 75 74 74 **  77
11 N.S. (Goulden)                                 73 ** 77 ** 83 ** 69 75 72 ** 78 ** 78 73 77 83 **  76
12 Sask (Packet)                                  ** 78 69 69 ** ** 74 78 72 78 ** ** 74 78 78 ** 82  75
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1997 Labatt Brier
                                    Presented by Safeway
                                      Calgary, Alberta
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Mark Maki                                NONT   *  +  *  +  0  +  *  +  +  +  *  -  +  *  *  0  0  +6
Mark Butler                              PEI    *  *  *  0  0  +  *  +  -  +  *  *  +  +  0  *  +  +5
Neil Harrison                            ONT    *  +  *  -  +  +  *  +  *  +  +  0  -  *  0  0  *  +4
Darol Stuart                             TERR   *  -  +  0  *  *  +  -  0  *  +  +  +  *  *  +  0  +4
Jeff Lacey                               N.B.   0  *  *  0  -  +  *  0  *  +  0  +  -  *  0  -  *   0
Louis Biron                              QUE    0  0  *  -  *  -  0  *  *  -  -  +  *  +  +  *  *  -1
Don Bartlett                             ALTA   0  0  *  *  0  -  +  *  0  *  -  -  *  *  *  +  0  -1
Scott Grant                              MAN    0  *  *  +  0  -  -  *  0  *  0  0  *  0  *  -  0  -2
Ken Loeffler                             SASK   *  -  -  0  *  *  0  *  0  -  *  *  +  0  0  *  0  -2
Bert Hinch                               B.C.   0  0  +  *  *  *  +  -  *  -  0  -  *  -  -  0  *  -3
Kris MacLeod                             N.S.   0  *  -  *  +  *  -  -  0  *  0  *  -  -  0  0  *  -4
Ian Kerr                                 NFLD   -  0  *  *  -  -  -  *  0  -  *  *  -  0  0  *  0  -6
 
SECONDS
Chris Neufeld                            MAN    +  *  *  0  +  +  0  *  +  *  0  +  *  +  *  0  0  +6
Pierre Charette                          QUE    +  +  *  0  *  -  0  *  *  0  0  +  *  +  +  *  *  +4
Daryell Nowlan                           N.B.   +  *  *  +  0  +  *  +  *  +  0  -  -  *  -  +  *  +3
Pat Perroud                              ONT    *  -  *  +  0  0  *  +  *  0  0  -  +  *  0  0  *  +1
Humphrey Power                           TERR   *  +  -  0  *  *  0  0  +  *  0  +  +  *  *  -  -  +1
Rudy Ramcharan                           ALTA   -  0  *  *  0  +  +  *  -  *  0  +  *  0  *  0  -   0
Ken Ellis Jr                             NFLD   +  -  *  *  -  0  -  *  +  +  *  *  -  -  +  *  +   0
Ken Brown                                B.C.   -  0  +  *  *  *  +  -  *  -  +  -  *  +  -  0  *  -1
Dallas Duce                              SASK   *  +  -  0  *  *  0  *  -  *  *  *  0  0  0  *  0  -1
Dusty Jakomait                           NONT   *  -  *  -  -  -  *  +  0  -  *  -  +  *  *  0  +  -3
Mark O'Rourke                            PEI    *  *  *  -  0  -  *  0  0  -  *  *  -  -  +  *  +  -3
Georg Ernst                              N.S.   -  *  +  *  +  *  -  -  -  *  -  *  0  -  -  0  *  -5
 
THIRDS 
Don Walchuk                              ALTA   +  -  *  *  +  +  +  *  0  *  0  +  *  +  *  0  +  +6
John Kawaja                              ONT    *  +  *  +  +  +  *  0  *  +  0  -  +  *  +  0  *  +6
Dave Schleppe                            B.C.   0  +  +  *  *  *  +  0  *  -  +  +  *  0  -  0  *  +3
Dan Carey                                MAN    0  *  *  +  +  -  +  *  +  *  -  +  *  0  *  0  0  +3
Charles Sullivan Jr.                     N.B.   +  *  *  0  -  0  *  +  *  +  +  -  -  *  +  0  *  +2
Dan Lemery                               QUE    -  +  *  -  *  0  0  *  *  -  +  0  *  +  +  *  *  +1
Mike Coulter (S)                         NONT   *  +  *  -  -  -  *  -  0  +  *  0  +  *  *  0  *  -1
Bill Robinson                            N.S.   -  *  0  *  0  *  -  +  -  *  -  *  +  -  +  0  *  -2
Nolin McGowan                            TERR   *  -  0  +  *  *  -  +  0  *  -  -  -  *  *  0  +  -2
Peter Gallant                            PEI    *  *  *  0  -  +  *  -  0  0  *  *  -  0  -  *  +  -2
Lorne Henderson                          NFLD   0  -  *  *  0  -  -  *  +  -  *  *  +  0  -  *  -  -4
Jeff Mosley                              SASK   *  -  -  -  *  *  0  -  *  0  *  *  -  -  -  *  0  -7
 
SKIPS  
Vic Peters                               MAN    -  *  *  +  +  0  +  *  +  *  +  +  *  +  *  0  +  +7
Kevin Martin                             ALTA   -  0  *  *  +  +  +  *  +  *  +  +  *  +  *  0  0  +6
Ed Werenich                              ONT    *  +  *  +  0  -  *  +  *  +  -  -  +  *  +  +  *  +4
Don Westphal                             QUE    +  +  *  -  *  0  +  *  *  -  0  +  *  0  0  *  -  +1
Jeff Thomas                              NFLD   +  -  *  *  +  +  +  *  +  -  *  *  -  -  0  *  0  +1
James Grattan                            N.B.   +  *  *  0  0  0  *  +  *  +  -  -  0  *  0  0  *  +1
Barry McPhee                             B.C.   +  0  +  *  *  *  -  -  *  -  0  +  *  +  0  -  *   0
Lowell Goulden                           N.S.   -  *  +  *  -  *  -  +  -  *  0  *  +  0  +  -  *  -1
Robert Campbell                          PEI    *  *  *  0  -  0  *  +  -  0  *  *  -  -  -  *  +  -3
Lonnie Kofoed                            TERR   *  -  -  0  *  *  -  -  -  *  0  -  +  *  *  0  +  -4
Chris Buchan                             NONT   *  -  *  -  -  -  *  -  +  +  *  -  0  *  *  +  -  -4
Jim Packet                               SASK   *  +  -  0  *  *  -  -  -  0  *  *  -  -  -  *  -  -7
 
   TEAMS
Ontario (Werenich)                              *  +  *  +  0  0  *  +  *  +  0  -  +  *  +  0  *  +5
Manitoba (Peters)                               0  *  *  +  +  -  0  *  +  *  0  +  *  +  *  0  0  +4
Alberta (Martin)                                0  0  *  *  0  +  +  *  0  *  0  +  *  0  *  0  0  +3
N.B. (Grattan)                                  +  *  *  0  0  +  *  +  *  +  0  -  -  *  0  0  *  +2
Quebec (Westphal)                               0  +  *  -  *  -  +  *  *  -  0  +  *  +  +  *  -  +1
P.E.I. (Campbell)                               0  *  *  0  0  +  *  +  -  0  *  *  -  0  0  *  +  +1
N. Ont (Coulter)                                *  0  *  -  -  -  *  0  +  +  *  -  +  *  *  +  -  -1
B.C. (McPhee)                                   0  0  +  *  *  *  0  -  *  -  +  0  *  0  -  -  *  -2
Y/NWT (Kofoed)                                  *  -  -  0  *  *  0  -  0  *  0  0  0  *  *  0  +  -2
Newfoundland(Thomas)                            0  -  *  *  0  0  0  *  +  -  *  *  0  -  0  *  0  -2
N.S. (Goulden)                                  -  *  +  *  0  *  -  0  -  *  -  *  0  -  0  0  *  -4
Sask (Packet)                                   *  0  -  0  *  *  -  -  -  0  *  *  0  0  -  *  0  -5
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1997 Labatt Brier
                                    Presented by Safeway
                                      Calgary, Alberta
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
B.C.   11   103  FOR       5     8     27   13    4    1    0    0   69   6.3    8  0.67
                 AGAINST   5    11     25   18    4    1    0    0   77   7.0   16  0.75
 
ALTA   11    98  FOR       6    14     29   12    7    0    1    0   79   7.2   16  0.81
                 AGAINST   8     5     24   10    1    0    0    0   47   4.3    6  0.48
 
TERR   11    97  FOR      11     7     24    9    1    1    0    0   49   4.5    8  0.51
                 AGAINST  13    10     19   13    5    1    0    0   64   5.8   20  0.66
 
SASK   11   102  FOR      18     5     25    8    1    0    0    0   44   4.0    5  0.43
                 AGAINST   5    11     23   15    4    3    0    0   77   7.0   14  0.75
 
MAN    11   102  FOR       6    20     25   20    4    1    0    0   81   7.4   34  0.79
                 AGAINST  13     6     20   12    1    0    0    0   47   4.3    6  0.46
 
ONT    11    98  FOR       7    16     22   17    4    3    0    0   80   7.3   25  0.82
                 AGAINST  10     5     18   13    4    0    0    0   56   5.1    7  0.57
 
NONT   11   101  FOR       7     6     24   15    2    0    0    0   60   5.5    7  0.59
                 AGAINST   7    10     23   15    5    3    0    0   80   7.3   11  0.79
 
QUE    11    97  FOR       5     5     16   14    2    3    1    0   67   6.1    9  0.69
                 AGAINST   6    18     35   15    0    0    0    0   65   5.9   22  0.67
 
N.B.   11   109  FOR      18     5     23   11    6    0    0    0   63   5.7    6  0.58
                 AGAINST  15     5     24   11    1    0    0    0   49   4.5    6  0.45
 
N.S.   11   102  FOR      10     6     23   11    4    1    0    0   61   5.5   10  0.60
                 AGAINST   9     9     23   13    6    2    0    0   75   6.8   14  0.74
 
PEI    11   103  FOR       8     9     17   19    2    2    0    0   69   6.3   14  0.67
                 AGAINST  11    10     21   13    7    2    1    0   81   7.4   15  0.79
 
NFLD   11   104  FOR      10     8     27   12    2    1    0    0   61   5.5    8  0.59
                 AGAINST   9     9     27   13    1    1    1    0   65   5.9   13  0.63
 
 
TOTAL  66   608  FOR     111   109    282  161   39   13    2    0  783   5.9  150  0.64
                 AGAINST 111   109    282  161   39   13    2    0  783   5.9  150  0.64
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1997 Labatt Brier
                                    Presented by Safeway
                                      Calgary, Alberta
 
                                     TEAM WIN/LOSS GRID
 
 
        B.C.  ALTA  TERR  SASK  MAN   ONT   NONT  QUE   N.B.  N.S.  PEI   NFLD  
 
 
B.C.     *     L     W     W     L     W     L     L     L     W     W     L  
 
 
ALTA     W     *     W     W     L     W     W     W     W     W     W     W  
 
 
TERR     L     L     *     W     L     L     W     W     L     L     L     W  
 
 
SASK     L     L     L     *     L     L     W     L     L     L     L     L  
 
 
MAN      W     W     W     W     *     W     W     W     W     W     W     W  
 
 
ONT      L     L     W     W     L     *     W     W     W     W     W     L  
 
 
NONT     W     L     L     L     L     L     *     L     L     L     W     W  
 
 
QUE      W     L     L     W     L     L     W     *     L     W     L     W  
 
 
N.B.     W     L     W     W     L     L     W     W     *     W     W     W  
 
 
N.S.     L     L     W     W     L     L     W     L     L     *     W     L  
 
 
PEI      L     L     W     W     L     L     L     W     L     L     *     L  
 
 
NFLD     W     L     L     W     L     W     L     L     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1997 Labatt Brier
                                    Presented by Safeway
                                      Calgary, Alberta
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (McPhee)                            #SH   207  234  441   214  182  396   421  416  837
                                  PTS   605  721 1326   700  553 1253  1305 1274 2579
                                  PCT    73   77   75    82   76   79    77   77   77
 
 1 Bert Hinch                               #SH   117   46  163    37    5   42   154   51  205
                                  PTS   362  157  519   115   10  125   477  167  644
                                  PCT    77   85   80    78   50   74    77   82   79
 
 2 Ken Brown                                #SH    21   66   87    58   67  125    79  133  212
                                  PTS    47  208  255   205  210  415   252  418  670
                                  PCT    56   79   73    88   78   83    80   79   79
 
 3 Dave Schleppe                            #SH    32   69  101    57   54  111    89  123  212
                                  PTS    88  213  301   186  170  356   274  383  657
                                  PCT    69   77   75    82   79   80    77   78   77
 
 4 Barry McPhee                             #SH    37   53   90    62   56  118    99  109  208
                                  PTS   108  143  251   194  163  357   302  306  608
                                  PCT    73   67   70    78   73   76    76   70   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Martin)                         #SH   261  204  465   257  227  484   518  431  949
                                  PTS   818  677 1495   828  757 1585  1646 1434 3080
                                  PCT    78   83   80    81   83   82    79   83   81
 
 1 Don Bartlett                             #SH    81   93  174    19   19   38   100  112  212
                                  PTS   243  326  569    60   52  112   303  378  681
                                  PCT    75   88   82    79   68   74    76   84   80
 
 2 Rudy Ramcharan                           #SH    63   35   98    78   63  141   141   98  239
                                  PTS   210  109  319   244  210  454   454  319  773
                                  PCT    83   78   81    78   83   80    80   81   81
 
 3 Don Walchuk                              #SH    52   30   82    72   86  158   124  116  240
                                  PTS   153   99  252   251  302  553   404  401  805
                                  PCT    74   83   77    87   88   88    81   86   84
 
 4 Kevin Martin                             #SH    55   41   96    84   58  142   139   99  238
                                  PTS   176  128  304   257  191  448   433  319  752
                                  PCT    80   78   79    76   82   79    78   81   79
 
 5 Jules Owchar                             #SH    10    5   15     4    1    5    14    6   20
                                  PTS    36   15   51    16    2   18    52   17   69
                                  PCT    90   75   85   100   50   90    93   71   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Kofoed)                           #SH   209  184  393   202  205  407   411  389  800
                                  PTS   663  548 1211   612  654 1266  1275 1202 2477
                                  PCT    79   74   77    76   80   78    78   77   77
 
 1 Darol Stuart                             #SH   101   35  136    28   33   61   129   68  197
                                  PTS   341  124  465    87  113  200   428  237  665
                                  PCT    84   89   85    78   86   82    83   87   84
 
 2 Humphrey Power                           #SH    43   46   89    54   61  115    97  107  204
                                  PTS   131  142  273   162  208  370   293  350  643
                                  PCT    76   77   77    75   85   80    76   82   79
 
 3 Nolin McGowan                            #SH    34   56   90    58   55  113    92  111  203
                                  PTS   104  167  271   187  167  354   291  334  625
                                  PCT    76   75   75    81   76   78    79   75   77
 
 4 Lonnie Kofoed                            #SH    31   47   78    62   56  118    93  103  196
                                  PTS    87  115  202   176  166  342   263  281  544
                                  PCT    70   61   65    71   74   72    71   68   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Packet)                            #SH   192  268  460    98  289  387   290  557  847
                                  PTS   534  821 1355   297  902 1199   831 1723 2554
                                  PCT    70   77   74    76   78   77    72   77   75
 
 1 Ken Loeffler                             #SH    47  105  152     9   33   42    56  138  194
                                  PTS   142  329  471    27  110  137   169  439  608
                                  PCT    76   78   77    75   83   82    75   80   78
 
 2 Dallas Duce                              #SH    47   53  100    20   74   94    67  127  194
                                  PTS   137  163  300    70  244  314   207  407  614
                                  PCT    73   77   75    88   82   84    77   80   79
 
 3 Jeff Mosley                              #SH    38   46   84    31   79  110    69  125  194
                                  PTS    94  147  241    92  239  331   186  386  572
                                  PCT    62   80   72    74   76   75    67   77   74
 
 4 Jim Packet                               #SH    40   47   87    35   83  118    75  130  205
                                  PTS    96  133  229    96  246  342   192  379  571
                                  PCT    60   71   66    69   74   72    64   73   70
 
 5 Bob Doerr                                #SH    20   17   37     3   20   23    23   37   60
                                  PTS    65   49  114    12   63   75    77  112  189
                                  PCT    81   72   77   100   79   82    84   76   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Peters)                        #SH   221  279  500   300  274  574   521  553 1074
                                  PTS   722  932 1654   987  878 1865  1709 1810 3519
                                  PCT    82   84   83    82   80   81    82   82   82
 
 1 Scott Grant                              #SH    61  129  190    27   40   67    88  169  257
                                  PTS   219  450  669    71  127  198   290  577  867
                                  PCT    90   87   88    66   79   74    82   85   84
 
 2 Chris Neufeld                            #SH    43   43   86    84  104  188   127  147  274
                                  PTS   134  141  275   292  361  653   426  502  928
                                  PCT    78   82   80    87   87   87    84   85   85
 
 3 Dan Carey                                #SH    48   50   98   105   71  176   153  121  274
                                  PTS   137  154  291   347  227  574   484  381  865
                                  PCT    71   77   74    83   80   82    79   79   79
 
 4 Vic Peters                               #SH    69   57  126    84   59  143   153  116  269
                                  PTS   232  187  419   277  163  440   509  350  859
                                  PCT    84   82   83    82   69   77    83   75   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Werenich)                       #SH   125  320  445   138  275  413   263  595  858
                                  PTS   426 1069 1495   428  937 1365   854 2006 2860
                                  PCT    85   84   84    78   85   83    81   84   83
 
 1 Neil Harrison                            #SH    22  146  168     6   38   44    28  184  212
                                  PTS    80  508  588    18  132  150    98  640  738
                                  PCT    91   87   88    75   87   85    88   87   87
 
 2 Pat Perroud                              #SH    26   68   94    51   71  122    77  139  216
                                  PTS    87  239  326   158  249  407   245  488  733
                                  PCT    84   88   87    77   88   83    80   88   85
 
 3 John Kawaja                              #SH    36   48   84    40   92  132    76  140  216
                                  PTS   126  143  269   128  313  441   254  456  710
                                  PCT    88   74   80    80   85   84    84   81   82
 
 4 Ed Werenich                              #SH    41   58   99    41   74  115    82  132  214
                                  PTS   133  179  312   124  243  367   257  422  679
                                  PCT    81   77   79    76   82   80    78   80   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ont (Coulter)                         #SH   193  273  466   158  180  338   351  453  804
                                  PTS   600  860 1460   509  546 1055  1109 1406 2515
                                  PCT    78   79   78    81   76   78    79   78   78
 
 1 Mark Maki                                #SH    63   96  159    18   24   42    81  120  201
                                  PTS   205  335  540    61   86  147   266  421  687
                                  PCT    81   87   85    85   90   88    82   88   85
 
 2 Dusty Jakomait                           #SH    39   63  102    46   54  100    85  117  202
                                  PTS   120  189  309   145  159  304   265  348  613
                                  PCT    77   75   76    79   74   76    78   74   76
 
 3 Mike Coulter (S)                         #SH    45   46   91    47   46   93    92   92  184
                                  PTS   145  141  286   158  136  294   303  277  580
                                  PCT    81   77   79    84   74   79    82   75   79
 
 4 Chris Buchan                             #SH    43   62  105    41   53   94    84  115  199
                                  PTS   123  178  301   125  153  278   248  331  579
                                  PCT    72   72   72    76   72   74    74   72   73
 
 5 Rollie Ralph                             #SH     3    6    9     6    3    9     9    9   18
                                  PTS     7   17   24    20   12   32    27   29   56
                                  PCT    58   71   67    83  100   89    75   81   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Westphal)                        #SH   182  238  420   125  236  361   307  474  781
                                  PTS   560  778 1338   378  711 1089   938 1489 2427
                                  PCT    77   82   80    76   75   75    76   79   78
 
 1 Louis Biron                              #SH    44   84  128    22   40   62    66  124  190
                                  PTS   145  278  423    57  115  172   202  393  595
                                  PCT    82   83   83    65   72   69    77   79   78
 
 2 Pierre Charette                          #SH    36   54   90    34   74  108    70  128  198
                                  PTS   121  184  305   102  232  334   223  416  639
                                  PCT    84   85   85    75   78   77    80   81   81
 
 3 Dan Lemery                               #SH    49   42   91    29   58   87    78  100  178
                                  PTS   152  134  286    77  175  252   229  309  538
                                  PCT    78   80   79    66   75   72    73   77   76
 
 4 Don Westphal                             #SH    50   47   97    40   58   98    90  105  195
                                  PTS   134  146  280   142  173  315   276  319  595
                                  PCT    67   78   72    89   75   80    77   76   76
 
 5 Daniel Lafleur                           #SH     3   11   14     0    6    6     3   17   20
                                  PTS     8   36   44     0   16   16     8   52   60
                                  PCT    67   82   79   ***   67   67    67   76   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Grattan)                           #SH   127  254  381   197  464  661   324  718 1042
                                  PTS   385  806 1191   636 1598 2234  1021 2404 3425
                                  PCT    76   79   78    81   86   84    79   84   82
 
 1 Jeff Lacey                               #SH    33  128  161    27   66   93    60  194  254
                                  PTS   108  404  512    87  226  313   195  630  825
                                  PCT    82   79   80    81   86   84    81   81   81
 
 2 Daryell Nowlan                           #SH    26   39   65    67  132  199    93  171  264
                                  PTS    75  134  209   219  437  656   294  571  865
                                  PCT    72   86   80    82   83   82    79   83   82
 
 3 Charles Sullivan Jr.                     #SH    33   38   71    61  132  193    94  170  264
                                  PTS    93  112  205   201  462  663   294  574  868
                                  PCT    70   74   72    82   88   86    78   84   82
 
 4 James Grattan                            #SH    35   49   84    42  134  176    77  183  260
                                  PTS   109  156  265   129  473  602   238  629  867
                                  PCT    78   80   79    77   88   86    77   86   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Goulden)                           #SH   215  271  486   178  178  356   393  449  842
                                  PTS   636  816 1452   570  547 1117  1206 1363 2569
                                  PCT    74   75   75    80   77   78    77   76   76
 
 1 Kris MacLeod                             #SH    71   88  159    23   30   53    94  118  212
                                  PTS   223  281  504    69   91  160   292  372  664
                                  PCT    79   80   79    75   76   75    78   79   78
 
 2 Georg Ernst                              #SH    40   72  112    47   55  102    87  127  214
                                  PTS   125  220  345   148  184  332   273  404  677
                                  PCT    78   76   77    79   84   81    78   80   79
 
 3 Bill Robinson                            #SH    57   57  114    48   51   99   105  108  213
                                  PTS   162  169  331   154  144  298   316  313  629
                                  PCT    71   74   73    80   71   75    75   72   74
 
 4 Lowell Goulden                           #SH    47   54  101    60   42  102   107   96  203
                                  PTS   126  146  272   199  128  327   325  274  599
                                  PCT    67   68   67    83   76   80    76   71   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Campbell)                        #SH   200  261  461   145  230  375   345  491  836
                                  PTS   646  854 1500   417  704 1121  1063 1558 2621
                                  PCT    81   82   81    72   77   75    77   79   78
 
 1 Mark Butler                              #SH    62   89  151    21   35   56    83  124  207
                                  PTS   221  291  512    63  120  183   284  411  695
                                  PCT    89   82   85    75   86   82    86   83   84
 
 2 Mark O'Rourke                            #SH    47   44   91    48   71  119    95  115  210
                                  PTS   157  145  302   137  211  348   294  356  650
                                  PCT    84   82   83    71   74   73    77   77   77
 
 3 Peter Gallant                            #SH    43   66  109    39   62  101    82  128  210
                                  PTS   133  222  355   116  190  306   249  412  661
                                  PCT    77   84   81    74   77   76    76   80   79
 
 4 Robert Campbell                          #SH    38   57   95    35   59   94    73  116  189
                                  PTS   101  177  278    93  173  266   194  350  544
                                  PCT    66   78   73    66   73   71    66   75   72
 
 5 David Campbell                           #SH    10    5   15     2    3    5    12    8   20
                                  PTS    34   19   53     8   10   18    42   29   71
                                  PCT    85   95   88   100   83   90    88   91   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Newfoundland(Thomas)                     #SH   205  199  404   211  218  429   416  417  833
                                  PTS   618  635 1253   679  679 1358  1297 1314 2611
                                  PCT    75   80   78    80   78   79    78   79   78
 
 1 Ian Kerr                                 #SH    57   79  136    30   36   66    87  115  202
                                  PTS   185  265  450    91  110  201   276  375  651
                                  PCT    81   84   83    76   76   76    79   82   81
 
 2 Ken Ellis Jr                             #SH    43   40   83    63   66  129   106  106  212
                                  PTS   130  138  268   207  204  411   337  342  679
                                  PCT    76   86   81    82   77   80    79   81   80
 
 3 Lorne Henderson                          #SH    50   43   93    56   63  119   106  106  212
                                  PTS   146  129  275   182  203  385   328  332  660
                                  PCT    73   75   74    81   81   81    77   78   78
 
 4 Jeff Thomas                              #SH    55   37   92    62   53  115   117   90  207
                                  PTS   157  103  260   199  162  361   356  265  621
                                  PCT    71   70   71    80   76   78    76   74   75
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1997 Labatt Brier
                                    Presented by Safeway
                                      Calgary, Alberta
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW 16    N.S.  8  ONT  12
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    N.S.  1  N.B.  7
          DRAW  9    ALTA  7  TERR  1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW 16    N.S.  8  ONT  12
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW 16    N.B.  4  TERR  2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  2    NFLD  5  QUE   9    QUE  SCORED 5 IN THE 5TH END
          DRAW  5    PEI   5  ALTA 10    ALTA SCORED 5 IN THE 9TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  8    TERR  4  PEI  11    PEI  SCORED 4 IN THE 8TH END
          DRAW 14    MAN  10  NFLD  5    MAN  SCORED 4 IN THE 8TH END
          DRAW 16    N.S.  8  ONT  12    ONT  SCORED 4 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  8    SASK  2  N.B.  5
          DRAW 16    N.B.  4  TERR  2
 
NUMBER OF BLANK ENDS IN EVENT: 120
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAW 15
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  4    SASK  4  TERR  8    BY SASK BEGINNING IN END 1
          DRAW  8    SASK  2  N.B.  5    BY SASK BEGINNING IN END 1
          DRAW 16    N.B.  4  TERR  2    BY N.B. BEGINNING IN END 4
          DRAW 19    ALTA  6  MAN   5    BY MAN  BEGINNING IN END 5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW  1    B.C.  4  MAN   8
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW 13    PEI   3  ONT  10    BY ONT  BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  1    B.C.  4  MAN   8    BY MAN 
          DRAW  4    QUE   2  MAN   7    BY MAN 
          DRAW  8    TERR  4  PEI  11    BY PEI 
          DRAW 13    PEI   3  ONT  10    BY ONT 
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 14    SASK  5  ALTA  6    ALTA WAS DOWN 4 AFTER 4 ENDS
          DRAW 16    N.S.  8  ONT  12    ONT  WAS DOWN 4 AFTER 2 ENDS
          DRAW 17    QUE   5  PEI   8    PEI  WAS DOWN 4 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   8
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  4    N.B.  7  PEI   6
          DRAW  5    N.S.  5  NFLD  6
          DRAW  9    NONT  7  PEI   6
          DRAW 11    B.C.  7  N.S.  6
          DRAW 13    N.B.  7  NONT  6
          DRAW 17    SASK  3  MAN   4
          DRAW 19    ALTA  6  MAN   5
          DRAW 20    N.B.  5  MAN   6
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  6    ALTA  9  NONT  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  1    PEI   4  NFLD  6    BY NFLD
          DRAW  4    QUE   2  MAN   7    BY QUE 
          DRAW 13    PEI   3  ONT  10    BY PEI 
          DRAW 16    N.B.  4  TERR  2    BY N.B.
          DRAW 17    QUE   5  PEI   8    BY QUE 
          DRAW 17    SASK  3  MAN   4    BY SASK
  </div>
</div>
