<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1998 Labatt Brier
                                    Presented by Safeway
                                     Winnipeg, Manitoba
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Doug Armstrong                 MAN   88 91 ** ** 88 80 79 ** 88 ** 98 93 ** 98 ** 88 85  89
 2 Tom Fetterly                   N.S.  78 95 ** ** 85 89 72 ** 89 93 ** ** 92 90 85 ** 91  87
 3 Jeff Tait                      SASK  81 ** 88 ** 74 ** 89 98 99 ** 94 ** 88 76 84 82 **  86
 4 Scott Bailey                   ONT   ** 92 ** 72 90 91 ** 86 ** 80 92 82 86 ** 95 75 **  85
 5 Darin Fenton                   B.C.  86 88 ** 92 ** 90 77 ** ** 71 96 69 ** 89 85 ** 93  84
 5 Dale Ness                      QUE   ** 71 89 86 ** ** 84 80 93 ** 88 73 86 ** ** 82 86  84
 + Roger Nason                    N.B.  ** ** ** ** ** ** ** ** 84 ** ** ** ** ** ** ** **  84
 7 Scott Alexander                TERR  ** ** ** 76 86 ** ** 69 83 ** ** 79 90 ** ** ** 91  82
 8 Garry Landry                   ALTA  ** 86 81 66 ** ** 86 84 83 84 ** ** 83 88 80 ** 74  81
 9 Larry Rathje                   NONT  80 ** ** 74 80 74 ** 86 ** 78 91 80 84 ** 78 82 **  80
 9 Paul Withers                   NFLD  65 83 82 ** ** ** 74 84 ** ** 97 83 ** 82 72 80 **  80
11 Brad Chugg                     PEI   72 ** ** 75 65 76 ** 78 84 85 ** ** 67 68 84 ** 84  77
12 Kevin Keefe                    N.B.  67 ** ** 68 81 60 81 ** 75 ** 72 82 ** 85 ** 85 78  76
 + Wayne Young                    NFLD  ** ** ** ** ** ** ** ** ** 74 ** ** ** ** ** ** **  74
 + Mark Whitehead                 TERR  ** 70 ** ** ** 73 ** ** ** 67 ** ** ** ** ** 55 **  67
 + Ernie Surkan                   NONT  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 50 **  50
 
   SECONDS
 1 Ian Tetley                     ONT   ** 86 ** 92 88 95 ** 85 ** 65 92 79 84 ** 78 89 **  84
 1 Jim Spencer                    MAN   83 96 ** ** 88 79 80 ** 88 ** 88 80 ** 83 ** 89 78  84
 3 Guy Thibaudeau                 QUE   ** 80 85 83 ** ** 86 81 78 ** 84 77 86 ** ** 81 85  83
 3 Larry Gardeski                 ALTA  ** 88 82 83 ** ** 81 78 89 78 ** ** 89 70 89 ** 85  83
 5 Bryan Miki                     B.C.  91 88 ** 83 ** 77 84 ** ** 82 95 61 ** 58 79 ** 89  81
 6 Dale Wiersema                  NONT  64 ** ** 83 61 72 ** 76 ** 76 75 80 95 ** 91 81 **  77
 6 Dwayne Mihalicz                SASK  81 ** 73 ** 73 ** 74 63 89 ** 78 ** 78 81 81 74 **  77
 6 Andy Dauphinee                 N.S.  72 86 ** ** 78 73 73 ** 83 88 ** ** 77 65 78 ** 75  77
 9 Mark Dobson                    N.B.  69 ** ** 56 75 74 69 ** 81 ** 67 83 ** 80 ** 73 75  73
 9 Lloyd Powell                   NFLD  63 79 65 ** ** ** 84 83 ** 74 67 67 ** 59 74 80 **  73
11 Phillip McInnis                PEI   59 ** ** 83 56 56 ** 53 85 72 ** ** 69 52 79 ** 77  68
12 Brad Chorostkowski             TERR  ** 48 ** 74 ** 60 ** 83 ** 52 ** 69 80 ** ** 50 66  63
 + Mark Whitehead                 TERR  ** ** ** ** 61 ** ** ** 51 ** ** ** ** ** ** ** **  56
 
   THIRDS 
 1 Graeme McCarrel                ONT   ** 93 ** 82 96 97 ** 84 ** 90 91 90 91 ** 92 92 **  90
 2 Pierre Charette                QUE   ** 75 89 82 ** ** 80 80 86 ** 80100 64 ** ** 94 85  83
 3 Glen Despins                   SASK  71 ** 85 ** 76 ** 70 77 74 ** 84 ** 86 81 86 78 **  79
 3 James Kirkness                 MAN   76 90 ** ** 79 64 65 ** 80 ** 81 79 ** 83 ** 96 75  79
 5 Tommy Sullivan                 N.B.  86 ** ** 69 88 74 73 ** 84 ** 70 82 ** 68 ** 81 **  78
 6 Rob Sinclair                   NONT  76 ** ** 64 84 69 ** 79 ** 84 69 72 83 ** 85 84 **  77
 6 Warren Kushnir                 ALTA  ** 63 81 65 ** ** 83 90 88 81 ** ** 78 70 84 ** 66  77
 6 Brent Pierce                   B.C.  85 86 ** 81 ** 85 75 ** ** 66 76 59 ** 68 79 ** 84  77
 + Brad Chorostkowski             TERR  ** ** ** ** ** ** ** ** 76 ** ** ** ** ** ** ** **  76
 9 Glen MacLeod                   N.S.  72 84 ** ** 63 77 83 ** 73 89 ** ** 45 79 63 ** 70  73
10 Wayne Hamilton                 NFLD  58 63 56 ** ** ** 65 75 ** 80 66 69 ** 79 73 68 **  68
 + Roger Nason                    N.B.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 68  68
11 Klaus Schoenne                 TERR  ** 68 ** 82 69 53 ** 50 ** 58 ** 71 70 ** ** 66 76  67
12 Ken McGregor                   PEI   64 ** ** 47 35 78 ** 56 76 70 ** ** 80 55 65 ** 50  63
 
   SKIPS  
 1 Wayne Middaugh                 ONT   ** 79 ** 83 86 91 ** 74 ** 72 84 78 97 ** 88 94 **  84
 2 Dale Duguid                    MAN   91 86 ** ** 98 81 87 ** 86 ** 80 56 ** 94 ** 83 79  83
 3 Guy Hemmings                   QUE   ** 55 83 80 ** ** 68 70 89 ** 75 88 78 ** ** 88 93  79
 4 Bruce Melville                 NONT  75 ** ** 82 44 76 ** 80 ** 61 70 85 88 ** 85 79 **  75
 5 Rod Montgomery                 SASK  56 ** 76 ** 70 ** 65 83 78 ** 94 ** 79 85 78 62 **  74
 5 Greg McAulay                   B.C.  71 85 ** 78 ** 77 73 ** ** 76 91 62 ** 65 67 ** 63  74
 7 Tom Reed                       ALTA  ** 79 76 86 ** ** 64 69 88 70 ** ** 64 83 67 ** 57  73
 8 Trevor Alexander               TERR  ** 65 ** 75 89 64 ** 54 71 70 ** 68 75 ** ** 58 88  71
 8 Paul Flemming                  N.S.  67 70 ** ** 70 68 57 ** 69 88 ** ** 61 71 78 ** 85  71
10 Terry Odishaw                  N.B.  78 ** ** 60 83 67 84 ** 76 ** 39 63 ** 63 ** 79 53  68
11 Garth Mitchell                 PEI   61 ** ** 68 50 84 ** 55 75 68 ** ** 69 29 68 ** 46  63
11 Toby McDonald                  NFLD  56 62 56 ** ** ** 73 56 ** 68 72 33 ** 71 76 55 **  63
 
   TEAMS
 1 Ontario (Middaugh)                   ** 87 ** 83 90 93 ** 82 ** 76 90 82 89 ** 88 88 **  86
 2 Manitoba (Duguid)                    84 91 ** ** 88 76 78 ** 85 ** 87 77 ** 89 ** 89 79  84
 3 Quebec (Hemmings)                    ** 71 86 82 ** ** 80 78 86 ** 82 84 78 ** ** 86 87  82
 4 Sask (Montgomery)                    73 ** 80 ** 73 ** 74 79 84 ** 88 ** 83 81 82 74 **  79
 4 B.C. (McAulay)                       83 87 ** 83 ** 82 77 ** ** 74 89 63 ** 70 78 ** 83  79
 6 Alberta (Reed)                       ** 79 80 75 ** ** 78 80 87 78 ** ** 78 78 80 ** 70  78
 7 N.Ontario (Melville)                 74 ** ** 76 68 73 ** 80 ** 75 76 79 88 ** 85 81 **  77
 7 N.S. (Flemming)                      72 84 ** ** 74 77 71 ** 79 90 ** ** 69 76 76 ** 80  77
 9 N.B. (Odishaw)                       75 ** ** 63 81 69 76 ** 81 ** 62 77 ** 74 ** 79 69  74
10 NFLD (McDonald)                      60 72 65 ** ** ** 74 75 ** 74 75 63 ** 73 74 71 **  71
11 Y/NWT (Alexander)                    ** 63 ** 77 76 62 ** 64 70 62 ** 71 79 ** ** 57 80  69
12 PEI (Mitchell)                       64 ** ** 68 52 73 ** 61 80 74 ** ** 71 51 74 ** 64  68
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1998 Labatt Brier
                                    Presented by Safeway
                                     Winnipeg, Manitoba
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Tom Fetterly                   N.S.   +  +  *  *  +  0  0  *  +  +  *  *  +  +  +  *  +  +9
Doug Armstrong                 MAN    0  +  *  *  +  +  -  *  -  *  +  +  *  +  *  0  -  +3
Jeff Tait                      SASK   0  *  0  *  -  *  +  +  +  *  0  *  +  -  0  +  *  +3
Scott Bailey                   ONT    *  +  *  0  +  0  *  0  *  +  -  0  +  *  +  -  *  +3
Scott Alexander                TERR   *  *  *  0  +  *  *  -  0  *  *  +  +  *  *  *  +  +3
Darin Fenton                   B.C.   0  -  *  +  *  +  -  *  *  -  +  -  *  +  +  *  +  +2
Paul Withers                   NFLD   0  -  0  *  *  *  0  0  *  *  0  +  *  +  -  +  *  +1
Dale Ness                      QUE    *  -  0  +  *  *  0  0  +  *  -  -  -  *  *  0  -  -3
Garry Landry                   ALTA   *  +  0  -  *  *  +  0  -  0  *  *  -  -  -  *  0  -3
Brad Chugg                     PEI    -  *  *  0  -  +  *  0  0  0  *  *  -  -  0  *  -  -4
Larry Rathje                   NONT   0  *  *  0  -  -  *  0  *  0  +  -  -  *  -  0  *  -4
Kevin Keefe                    N.B.   0  *  *  -  -  -  0  *  -  *  -  0  *  -  *  0  0  -6
 
SECONDS
Jim Spencer                    MAN    -  +  *  *  +  +  +  *  +  *  0  0  *  +  *  +  0  +6
Larry Gardeski                 ALTA   *  +  +  0  *  *  0  0  +  +  *  *  +  -  +  *  +  +6
Bryan Miki                     B.C.   +  0  *  +  *  +  0  *  *  +  +  -  *  -  +  *  +  +5
Ian Tetley                     ONT    *  +  *  +  +  +  *  0  *  -  0  0  +  *  -  +  *  +4
Guy Thibaudeau                 QUE    *  -  +  0  *  *  +  +  -  *  -  +  +  *  *  0  +  +3
Dale Wiersema                  NONT   -  *  *  0  -  -  *  0  *  0  +  0  +  *  +  0  *   0
Mark Dobson                    N.B.   +  *  *  -  +  +  -  *  -  *  -  0  *  +  *  -  -  -2
Dwayne Mihalicz                SASK   +  *  -  *  -  *  -  -  +  *  +  *  -  +  0  -  *  -2
Lloyd Powell                   NFLD   -  -  -  *  *  *  +  0  *  0  -  -  *  +  -  +  *  -3
Andy Dauphinee                 N.S.   +  0  *  *  +  -  -  *  -  +  *  *  -  -  -  *  0  -3
Brad Chorostkowski             TERR   *  -  *  -  *  -  *  +  *  -  *  +  -  *  *  -  -  -5
Phillip McInnis                PEI    -  *  *  0  -  -  *  -  +  -  *  *  -  -  0  *  -  -7
 
THIRDS 
Graeme McCarrel                ONT    *  +  *  0  +  +  *  +  *  +  +  +  +  *  +  +  * +10
Pierre Charette                QUE    *  -  0  +  *  *  +  +  +  *  0  +  +  *  *  +  +  +7
Glen Despins                   SASK   -  *  0  *  +  *  +  +  -  *  +  *  +  +  +  -  *  +4
James Kirkness                 MAN    -  +  *  *  +  +  -  *  -  *  -  +  *  +  *  +  +  +3
Brent Pierce                   B.C.   +  0  *  +  *  +  -  *  *  -  0  -  *  -  +  *  +  +1
Warren Kushnir                 ALTA   *  -  +  -  *  *  +  +  +  +  *  *  -  -  -  *  0   0
Rob Sinclair                   NONT   +  *  *  +  -  -  *  -  *  0  0  -  +  *  +  -  *  -1
Tommy Sullivan                 N.B.   +  *  *  -  +  0  -  *  +  *  0  -  *  -  *  -  *  -2
Glen MacLeod                   N.S.   +  0  *  *  -  -  +  *  -  +  *  *  -  +  -  *  -  -2
Klaus Schoenne                 TERR   *  +  *  0  -  -  *  -  *  -  *  +  -  *  *  0  -  -4
Wayne Hamilton                 NFLD   -  -  -  *  *  *  -  -  *  0  -  -  *  +  -  0  *  -7
Ken McGregor                   PEI    -  *  *  -  -  0  *  -  0  -  *  *  -  -  -  *  -  -9
 
SKIPS  
Wayne Middaugh                 ONT    *  +  *  +  +  +  *  +  *  0  0  +  +  *  +  +  *  +9
Dale Duguid                    MAN    +  +  *  *  +  +  +  *  0  *  0  -  *  +  *  0  -  +4
Bruce Melville                 NONT   +  *  *  +  -  0  *  +  *  -  +  +  +  *  +  -  *  +4
Guy Hemmings                   QUE    *  -  +  -  *  *  -  +  0  *  -  +  +  *  *  +  +  +2
Greg McAulay                   B.C.   -  +  *  +  *  0  +  *  *  0  +  -  *  -  -  *  +  +1
Rod Montgomery                 SASK   -  *  -  *  0  *  -  +  0  *  +  *  +  +  +  -  *  +1
Tom Reed                       ALTA   *  +  +  +  *  *  -  -  +  0  *  *  -  -  -  *  0  -1
Toby McDonald                  NFLD   -  -  -  *  *  *  +  -  *  +  -  -  *  +  +  0  *  -2
Paul Flemming                  N.S.   +  -  *  *  0  -  -  *  -  +  *  *  -  +  -  *  +  -2
Terry Odishaw                  N.B.   +  *  *  -  -  -  +  *  0  *  -  -  *  -  *  0  0  -4
Trevor Alexander               TERR   *  -  *  -  +  -  *  -  0  -  *  +  -  *  *  0  -  -5
Garth Mitchell                 PEI    -  *  *  -  -  +  *  -  0  0  *  *  -  -  -  *  -  -7
 
   TEAMS
Ontario (Middaugh)                    *  +  *  +  +  +  *  +  *  0  0  +  +  *  +  +  *  +9
Manitoba (Duguid)                     0  +  *  *  +  +  0  *  0  *  0  0  *  +  *  +  0  +5
Quebec (Hemmings)                     *  -  +  +  *  *  0  +  0  *  -  +  +  *  *  +  +  +5
Sask (Montgomery)                     0  *  -  *  0  *  0  +  0  *  +  *  +  +  +  -  *  +3
B.C. (McAulay)                        0  0  *  +  *  +  0  *  *  0  +  -  *  -  0  *  +  +2
N.Ontario (Melville)                  0  *  *  +  -  -  *  0  *  0  +  0  +  *  +  -  *  +1
Alberta (Reed)                        *  +  +  -  *  *  0  0  +  0  *  *  -  -  -  *  0  -1
N.B. (Odishaw)                        +  *  *  -  +  0  0  *  0  *  -  -  *  0  *  -  0  -2
N.S. (Flemming)                       +  0  *  *  0  -  0  *  -  +  *  *  -  0  -  *  0  -2
NFLD (McDonald)                       -  -  -  *  *  *  0  -  *  0  -  -  *  +  0  +  *  -4
PEI (Mitchell)                        -  *  *  -  -  0  *  -  +  0  *  *  -  -  -  *  -  -7
Y/NWT (Alexander)                     *  -  *  -  -  -  *  -  -  -  *  +  -  *  *  -  -  -9
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1998 Labatt Brier
                                    Presented by Safeway
                                     Winnipeg, Manitoba
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   108  FOR      12     9     21   14    5    0    1    0   69   6.3   13  0.64
                 AGAINST   9    12     27   18    1    0    0    0   66   6.0   15  0.61
 
B.C.   11   104  FOR       8    13     31    8    7    0    1    0   73   6.6   15  0.70
                 AGAINST   6    10     26   14    2    1    0    0   64   5.8   11  0.62
 
MAN    11   101  FOR       9    12     27   16    4    0    0    0   71   6.5   16  0.70
                 AGAINST   5     7     26   10    3    0    1    0   60   5.5   10  0.59
 
N.B.   11    99  FOR       8    11     25    8    7    0    0    0   62   5.6   13  0.63
                 AGAINST   9    11     16   21    4    1    0    0   74   6.7   19  0.75
 
NFLD   11    93  FOR       6     9     25   10    2    1    0    0   55   5.0   10  0.59
                 AGAINST   5    15     23   13    7    1    0    0   74   6.7   20  0.80
 
NONT   11    98  FOR       6    18     27   15    4    1    0    0   73   6.6   27  0.74
                 AGAINST   8    10     21   11    3    2    0    0   60   5.5   11  0.61
 
N.S.   11    99  FOR       6     9     23   14    3    0    0    0   60   5.5   12  0.61
                 AGAINST   7    13     25   17    3    0    1    0   73   6.6   15  0.74
 
ONT    11    91  FOR       6    18     20   16    8    2    1    0   89   8.1   28  0.98
                 AGAINST   8     1     21    7    2    0    0    0   41   3.7    1  0.45
 
PEI    11    92  FOR       8     9     22    9    2    0    0    0   46   4.2   10  0.50
                 AGAINST   4    20     22   11   10    3    1    0   91   8.3   34  0.99
 
QUE    11    97  FOR       6    13     17   21    2    3    0    0   77   7.0   18  0.79
                 AGAINST  11     9     20   11    5    1    0    0   61   5.5   13  0.63
 
SASK   11   100  FOR       5    12     21   16    5    3    0    0   80   7.3   20  0.80
                 AGAINST   6    10     29   11    4    0    0    0   63   5.7   11  0.63
 
TERR   11    94  FOR       8     3     22    8    2    0    0    0   44   4.0    3  0.47
                 AGAINST  10    18     25   11    7    1    0    0   72   6.5   25  0.77
 
 
TOTAL  66   588  FOR      88   136    281  155   51   10    3    0  799   6.1  185  0.68
                 AGAINST  88   136    281  155   51   10    3    0  799   6.1  185  0.68
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1998 Labatt Brier
                                    Presented by Safeway
                                     Winnipeg, Manitoba
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     L     W     W     L     W     L     W     L     L     W  
 
 
B.C.     W     *     L     W     L     W     W     W     W     W     L     L  
 
 
MAN      W     W     *     W     W     L     L     L     W     L     W     W  
 
 
N.B.     L     L     L     *     W     L     W     L     L     W     L     W  
 
 
NFLD     L     W     L     L     *     W     L     L     W     L     L     W  
 
 
NONT     W     L     W     W     L     *     L     L     W     L     W     W  
 
 
N.S.     L     L     W     L     W     W     *     L     W     L     L     W  
 
 
ONT      W     L     W     W     W     W     W     *     W     W     W     W  
 
 
PEI      L     L     L     W     L     L     L     L     *     L     L     W  
 
 
QUE      W     L     W     L     W     W     W     L     W     *     W     W  
 
 
SASK     W     W     L     W     W     L     W     L     W     L     *     W  
 
 
TERR     L     W     L     L     L     L     L     L     L     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1998 Labatt Brier
                                    Presented by Safeway
                                     Winnipeg, Manitoba
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Reed)                 #SH   283  201  484   217  161  378   500  362  862
                                  PTS   874  618 1492   705  501 1206  1579 1119 2698
                                  PCT    77   77   77    81   78   80    79   77   78
 
 1 Garry Landry                   #SH   102   58  160    20   31   51   122   89  211
                                  PTS   333  184  517    67  101  168   400  285  685
                                  PCT    82   79   81    84   81   82    82   80   81
 
 2 Larry Gardeski                 #SH    68   34  102    64   52  116   132   86  218
                                  PTS   210  118  328   222  170  392   432  288  720
                                  PCT    77   87   80    87   82   84    82   84   83
 
 3 Warren Kushnir                 #SH    56   60  116    69   33  102   125   93  218
                                  PTS   159  184  343   223  103  326   382  287  669
                                  PCT    71   77   74    81   78   80    76   77   77
 
 4 Tom Reed                       #SH    57   49  106    64   45  109   121   94  215
                                  PTS   172  132  304   193  127  320   365  259  624
                                  PCT    75   67   72    75   71   73    75   69   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (McAulay)                 #SH   228  272  500   196  236  432   424  508  932
                                  PTS   641  923 1564   622  753 1375  1263 1676 2939
                                  PCT    70   85   78    79   80   80    74   82   79
 
 1 Darin Fenton                   #SH    52  115  167    35   29   64    87  144  231
                                  PTS   148  417  565   116  101  217   264  518  782
                                  PCT    71   91   85    83   87   85    76   90   85
 
 2 Bryan Miki                     #SH    56   58  114    59   63  122   115  121  236
                                  PTS   159  195  354   189  214  403   348  409  757
                                  PCT    71   84   78    80   85   83    76   85   80
 
 3 Brent Pierce                   #SH    49   55  104    49   83  132    98  138  236
                                  PTS   136  174  310   164  250  414   300  424  724
                                  PCT    69   79   75    84   75   78    77   77   77
 
 4 Greg McAulay                   #SH    71   44  115    53   61  114   124  105  229
                                  PTS   198  137  335   153  188  341   351  325  676
                                  PCT    70   78   73    72   77   75    71   77   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Duguid)              #SH   212  296  508   189  266  455   401  562  963
                                  PTS   703 1017 1720   625  882 1507  1328 1899 3227
                                  PCT    83   86   85    83   83   83    83   84   84
 
 1 Doug Armstrong                 #SH    51  131  182    18   36   54    69  167  236
                                  PTS   174  475  649    59  126  185   233  601  834
                                  PCT    85   91   89    82   88   86    84   90   88
 
 2 Jim Spencer                    #SH    53   50  103    56   86  142   109  136  245
                                  PTS   170  166  336   188  299  487   358  465  823
                                  PCT    80   83   82    84   87   86    82   85   84
 
 3 James Kirkness                 #SH    47   56  103    60   81  141   107  137  244
                                  PTS   153  176  329   186  257  443   339  433  772
                                  PCT    81   79   80    78   79   79    79   79   79
 
 4 Dale Duguid                    #SH    61   59  120    55   63  118   116  122  238
                                  PTS   206  200  406   192  200  392   398  400  798
                                  PCT    84   85   85    87   79   83    86   82   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Odishaw)                 #SH   245  192  437   184  199  383   429  391  820
                                  PTS   719  540 1259   560  595 1155  1279 1135 2414
                                  PCT    73   70   72    76   75   75    75   73   74
 
 1 Kevin Keefe                    #SH    63   81  144    14   27   41    77  108  185
                                  PTS   200  249  449    42   70  112   242  319  561
                                  PCT    79   77   78    75   65   68    79   74   76
 
 2 Mark Dobson                    #SH    67   31   98    49   63  112   116   94  210
                                  PTS   200   84  284   149  181  330   349  265  614
                                  PCT    75   68   72    76   72   74    75   70   73
 
 3 Tommy Sullivan                 #SH    43   38   81    54   55  109    97   93  190
                                  PTS   132  109  241   172  176  348   304  285  589
                                  PCT    77   72   74    80   80   80    78   77   78
 
 4 Terry Odishaw                  #SH    57   36   93    55   53  108   112   89  201
                                  PTS   139   76  215   170  164  334   309  240  549
                                  PCT    61   53   58    77   77   77    69   67   68
 
 5 Roger Nason                    #SH    15    6   21    12    1   13    27    7   34
                                  PTS    48   22   70    27    4   31    75   26  101
                                  PCT    80   92   83    56  100   60    69   93   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (McDonald)                #SH   269  177  446   132  176  308   401  353  754
                                  PTS   767  508 1275   367  490  857  1134  998 2132
                                  PCT    71   72   71    70   70   70    71   71   71
 
 1 Paul Withers                   #SH    94   34  128    28   12   40   122   46  168
                                  PTS   299  111  410    91   36  127   390  147  537
                                  PCT    80   82   80    81   75   79    80   80   80
 
 2 Lloyd Powell                   #SH    58   51  109    28   53   81    86  104  190
                                  PTS   160  149  309    79  165  244   239  314  553
                                  PCT    69   73   71    71   78   75    69   75   73
 
 3 Wayne Hamilton                 #SH    59   43  102    33   55   88    92   98  190
                                  PTS   153  115  268    97  153  250   250  268  518
                                  PCT    65   67   66    73   70   71    68   68   68
 
 4 Toby McDonald                  #SH    55   41   96    40   50   90    95   91  186
                                  PTS   144  107  251    92  122  214   236  229  465
                                  PCT    65   65   65    57   61   59    62   63   63
 
 5 Wayne Young                    #SH     3    8   11     3    6    9     6   14   20
                                  PTS    11   26   37     8   14   22    19   40   59
                                  PCT    92   81   84    67   58   61    79   71   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.Ontario (Melville)           #SH   182  244  426   122  237  359   304  481  785
                                  PTS   546  767 1313   359  755 1114   905 1522 2427
                                  PCT    75   79   77    74   80   78    74   79   77
 
 1 Larry Rathje                   #SH    53   87  140    17   33   50    70  120  190
                                  PTS   171  277  448    45  115  160   216  392  608
                                  PCT    81   80   80    66   87   80    77   82   80
 
 2 Dale Wiersema                  #SH    37   45   82    35   83  118    72  128  200
                                  PTS   116  136  252    99  267  366   215  403  618
                                  PCT    78   76   77    71   80   78    75   79   77
 
 3 Rob Sinclair                   #SH    45   54   99    32   67   99    77  121  198
                                  PTS   130  177  307    91  211  302   221  388  609
                                  PCT    72   82   78    71   79   76    72   80   77
 
 4 Bruce Melville                 #SH    45   58  103    38   54   92    83  112  195
                                  PTS   125  177  302   124  162  286   249  339  588
                                  PCT    69   76   73    82   75   78    75   76   75
 
 5 Ernie Surkan                   #SH     2    0    2     0    0    0     2    0    2
                                  PTS     4    0    4     0    0    0     4    0    4
                                  PCT    50  ***   50   ***  ***  ***    50  ***   50
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Flemming)                #SH   190  267  457   129  208  337   319  475  794
                                  PTS   581  837 1418   370  656 1026   951 1493 2444
                                  PCT    76   78   78    72   79   76    75   79   77
 
 1 Tom Fetterly                   #SH    63   91  154    14   30   44    77  121  198
                                  PTS   214  313  527    48  116  164   262  429  691
                                  PCT    85   86   86    86   97   93    85   89   87
 
 2 Andy Dauphinee                 #SH    42   56   98    36   66  102    78  122  200
                                  PTS   122  184  306   104  204  308   226  388  614
                                  PCT    73   82   78    72   77   75    72   80   77
 
 3 Glen MacLeod                   #SH    45   63  108    38   54   92    83  117  200
                                  PTS   134  172  306   116  158  274   250  330  580
                                  PCT    74   68   71    76   73   74    75   71   73
 
 4 Paul Flemming                  #SH    40   57   97    41   58   99    81  115  196
                                  PTS   111  168  279   102  178  280   213  346  559
                                  PCT    69   74   72    62   77   71    66   75   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Middaugh)             #SH   150  243  393   215  271  486   365  514  879
                                  PTS   470  818 1288   738  992 1730  1208 1810 3018
                                  PCT    78   84   82    86   92   89    83   88   86
 
 1 Scott Bailey                   #SH    60  115  175    13   20   33    73  135  208
                                  PTS   183  403  586    48   77  125   231  480  711
                                  PCT    76   88   84    92   96   95    79   89   85
 
 2 Ian Tetley                     #SH    21   40   61    72   91  163    93  131  224
                                  PTS    52  128  180   238  325  563   290  453  743
                                  PCT    62   80   74    83   89   86    78   86   83
 
 3 Graeme McCarrel                #SH    27   41   68    64   92  156    91  133  224
                                  PTS    93  137  230   229  350  579   322  487  809
                                  PCT    86   84   85    89   95   93    88   92   90
 
 4 Wayne Middaugh                 #SH    42   47   89    66   68  134   108  115  223
                                  PTS   142  150  292   223  240  463   365  390  755
                                  PCT    85   80   82    84   88   86    84   85   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (Mitchell)                 #SH   156  258  414   127  205  332   283  463  746
                                  PTS   405  712 1117   336  573  909   741 1285 2026
                                  PCT    65   69   67    66   70   68    65   69   68
 
 1 Brad Chugg                     #SH    27  113  140    11   34   45    38  147  185
                                  PTS    87  356  443    26  100  126   113  456  569
                                  PCT    81   79   79    59   74   70    74   78   77
 
 2 Phillip McInnis                #SH    45   56  101    33   54   87    78  110  188
                                  PTS   125  150  275    94  145  239   219  295  514
                                  PCT    69   67   68    71   67   69    70   67   68
 
 3 Ken McGregor                   #SH    38   48   86    41   61  102    79  109  188
                                  PTS    85  112  197   103  175  278   188  287  475
                                  PCT    56   58   57    63   72   68    59   66   63
 
 4 Garth Mitchell                 #SH    46   41   87    42   56   98    88   97  185
                                  PTS   108   94  202   113  153  266   221  247  468
                                  PCT    59   57   58    67   68   68    63   64   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Hemmings)              #SH   220  270  490   217  301  518   437  571 1008
                                  PTS   707  897 1604   729  961 1690  1436 1858 3294
                                  PCT    80   83   82    84   80   82    82   81   82
 
 1 Dale Ness                      #SH    85   94  179    40   30   70   125  124  249
                                  PTS   280  324  604   138   97  235   418  421  839
                                  PCT    82   86   84    86   81   84    84   85   84
 
 2 Guy Thibaudeau                 #SH    42   63  105    61   90  151   103  153  256
                                  PTS   124  204  328   200  297  497   324  501  825
                                  PCT    74   81   78    82   83   82    79   82   81
 
 3 Pierre Charette                #SH    46   62  108    58   90  148   104  152  256
                                  PTS   154  202  356   195  293  488   349  495  844
                                  PCT    84   81   82    84   81   82    84   81   82
 
 4 Guy Hemmings                   #SH    47   51   98    58   91  149   105  142  247
                                  PTS   149  167  316   196  274  470   345  441  786
                                  PCT    79   82   81    84   75   79    82   78   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Montgomery)              #SH   201  273  474   202  280  482   403  553  956
                                  PTS   622  899 1521   641  887 1528  1263 1786 3049
                                  PCT    77   82   80    79   79   79    78   81   80
 
 1 Jeff Tait                      #SH    44  116  160    20   48   68    64  164  228
                                  PTS   142  415  557    60  172  232   202  587  789
                                  PCT    81   89   87    75   90   85    79   89   87
 
 2 Dwayne Mihalicz                #SH    45   61  106    61   79  140   106  140  246
                                  PTS   145  178  323   209  233  442   354  411  765
                                  PCT    81   73   76    86   74   79    83   73   78
 
 3 Glen Despins                   #SH    57   53  110    60   76  136   117  129  246
                                  PTS   182  170  352   191  246  437   373  416  789
                                  PCT    80   80   80    80   81   80    80   81   80
 
 4 Rod Montgomery                 #SH    55   43   98    61   77  138   116  120  236
                                  PTS   153  136  289   181  236  417   334  372  706
                                  PCT    70   79   74    74   77   76    72   78   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Alexander)              #SH   223  198  421   114  220  334   337  418  755
                                  PTS   642  520 1162   313  621  934   955 1141 2096
                                  PCT    72   66   69    69   71   70    71   68   69
 
 1 Mark Whitehead                 #SH    40   39   79    13   18   31    53   57  110
                                  PTS   113   85  198    33   47   80   146  132  278
                                  PCT    71   54   63    63   65   65    69   58   63
 
 2 Brad Chorostkowski             #SH    52   33   85    30   55   85    82   88  170
                                  PTS   139   85  224    80  137  217   219  222  441
                                  PCT    67   64   66    67   62   64    67   63   65
 
 3 Klaus Schoenne                 #SH    48   37   85    30   55   85    78   92  170
                                  PTS   130   95  225    73  156  229   203  251  454
                                  PCT    68   64   66    61   71   67    65   68   67
 
 4 Trevor Alexander               #SH    34   44   78    26   83  109    60  127  187
                                  PTS   106  110  216    71  247  318   177  357  534
                                  PCT    78   63   69    68   74   73    74   70   71
 
 5 Scott Alexander                #SH    49   45   94    15    9   24    64   54  118
                                  PTS   154  145  299    56   34   90   210  179  389
                                  PCT    79   81   80    93   94   94    82   83   82
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      1998 Labatt Brier
                                    Presented by Safeway
                                     Winnipeg, Manitoba
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  10
 
          DRAW  2    ONT  10  QUE   5
          DRAW  6    ONT  10  N.S.  3
          DRAW  8    QUE  10  PEI   5
          DRAW  9    TERR  8  PEI  10
          DRAW 11    ONT  10  MAN   5
          DRAW 11    N.B.  4  NONT 10
          DRAW 12    QUE  10  NFLD  1
          DRAW 12    ONT  10  N.B.  5
          DRAW 14    B.C.  4  SASK 10
          DRAW 14    NFLD 10  PEI   2
          DRAW 20    ONT  10  QUE   4
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          DRAW  5    PEI   0  MAN   8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW  9    TERR  8  PEI  10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   5
 
          DRAW 18    SASK  3  B.C.  2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  9    ALTA  9  N.S.  2    ALTA SCORED 5 IN THE 8TH END
          DRAW 11    ONT  10  MAN   5    ONT  SCORED 5 IN THE 4TH END
          DRAW 17    B.C.  9  PEI   2    B.C. SCORED 5 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  8    TERR  2  SASK  7    SASK SCORED 4 IN THE 5TH END
          DRAW 11    N.B.  4  NONT 10    NONT SCORED 4 IN THE 7TH END
          DRAW 15    PEI   6  SASK  9    SASK SCORED 4 IN THE SECOND END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  5    N.B.  5  TERR  4
          DRAW 18    SASK  3  B.C.  2
 
NUMBER OF BLANK ENDS IN EVENT: 100
 
MOST BLANK ENDS ONE DRAW:   9
 
          DRAWS  4  5 16
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  5    N.B.  5  TERR  4    BY N.B. BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  5    PEI   0  MAN   8
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  5    PEI   0  MAN   8    BY MAN  BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  5    PEI   0  MAN   8    BY MAN 
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  6    NONT  6  B.C.  9    B.C. WAS DOWN 3 AFTER 4 ENDS
          DRAW  7    SASK  7  MAN   8    MAN  WAS DOWN 3 AFTER 5 ENDS
          DRAW 10    PEI   7  ALTA  8    ALTA WAS DOWN 3 AFTER 4 ENDS
          DRAW 10    NONT  7  NFLD  8    NFLD WAS DOWN 3 AFTER 3 ENDS
          DRAW 11    N.B.  4  NONT 10    NONT WAS DOWN 3 AFTER 3 ENDS
          DRAW 15    N.S.  7  NONT  6    N.S. WAS DOWN 3 AFTER 5 ENDS
 
NUMBER OF EXTRA END GAMES:   6
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  4    ALTA  6  QUE   7
          DRAW  6    NONT  6  B.C.  9
          DRAW  7    B.C.  6  ALTA  5
          DRAW 10    PEI   7  ALTA  8
          DRAW 10    B.C.  6  ONT   5
          DRAW 13    SASK  8  ALTA  7
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW 13    NONT  8  TERR  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  5    PEI   0  MAN   8    BY PEI 
  </div>
</div>
