<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2000 Labatt Brier
                           Presented by Sheraton Hotels & Resorts
                                   Saskatoon, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Rory Golanowski                SASK  98 ** ** 94 86 ** 91 93 79 93 ** 94 ** 94 82 ** 83  90
 2 Don Bartlett                   ALTA  88 89 ** 98 ** 94 98 ** ** 90 89 91 ** 84 74 ** 91  89
 2 Dwayne Pyper                   ONT   89 88 ** ** 83 ** 93 91 78 ** 93 93 88 ** 94 89 **  89
 2 Jean Gagnon                    QUE   92 93 ** 89 ** 88 88 ** 89 ** 89 96 ** 75 ** 92 86  89
 2 Doug Armstrong                 MAN   89 ** 84 ** 77 83 88 ** 82 ** 89 ** 94 99 ** 94 94  89
 6 Grant Odishaw                  N.B.  96 ** 84 ** 78100 ** 95 ** 78100 ** 86 81 85 88 **  88
 6 Jody Sveistrup                 B.C.  93 ** ** 84 90 88 ** 80 88 91 ** 88 ** 90 ** 93 85  88
 + Robert MacArther               N.S.  ** ** ** ** ** ** ** ** ** 89 ** ** ** ** ** 86 **  88
 8 Craig Dowden                   NFLD  88 71 91 ** ** ** 84 85 81 ** 95 ** 94 89 ** 89 **  87
 9 Ross Milward                   TERR  ** 88 ** 89 79 86 ** 74 ** 88 85 81 91 ** 85 80 **  84
10 Dan Sauve                      NONT  ** 70 75 85 ** 84 85 ** ** 96 76 ** 84 89 86 ** 83  83
11 Jason Blanchard                N.S.  ** 61 ** 84 68 84 ** 94 76 ** ** 90 83 ** ** ** 85  81
11 Bob Pritchett                  PEI   ** 78 ** 88 85 ** 85 80 78 85 ** 83 82 ** 74 ** 75  81
 + Wayne Young                    NFLD  ** ** ** ** ** ** ** ** ** ** ** ** ** ** 79 ** **  79
 + Paul Sauve                     NONT  ** ** ** ** ** 50 ** ** ** ** ** ** ** ** ** ** **  50
 
   SECONDS
 1 Eric Sylvain                   QUE   91 88 ** 90 ** 97 81 ** 91 ** 89 88 ** 96 ** 97 89  91
 2 Carter Rycroft                 ALTA  95 75 ** 86 ** 84 94 ** ** 86 81 78 ** 86 88 ** 91  86
 2 Bryan Miki                     B.C.  81 ** ** 92 85 81 ** 89 83 86 ** 86 ** 82 ** 90 89  86
 4 Drew Macklin                   ONT   85 72 ** ** 93 ** 79 79 86 ** 88 84 93 ** 84 91 **  85
 5 Ken Ellis                      NFLD  80 72 81 ** ** ** 84 85 89 ** 86 ** 94 85 83 86 **  84
 5 Garry Van Den Berghe           MAN   85 ** 72 ** 73 72 85 ** 84 ** 84 ** 90 96 ** 89 88  84
 7 Roger Korte                    SASK  80 ** ** 88 75 ** 94 86 63 86 ** 83 ** 79 89 ** 80  82
 8 Ron Henderson                  NONT  ** 76 79 82 ** 65 83 ** ** 90 86 ** 80 84 85 ** 85  81
 8 Rick Perron                    N.B.  91 ** 65 ** 64 89 ** 91 ** 76 88 ** 81 88 83 78 **  81
10 Jason Nolan                    TERR  ** 88 ** 78 80 79 ** 68 ** 76 90 67 73 ** 83 86 **  79
10 Ben Blanchard                  N.S.  ** 76 ** 79 80 75 ** 81 81 71 ** 76 78 ** ** 83 84  79
12 Brian Scales                   PEI   ** 71 ** 83 73 ** 74 74 78 86 ** 89 82 ** 80 ** 69  78
 
   THIRDS 
 1 Don Walchuk                    ALTA  85 86 ** 73 **100 96 ** ** 85 83 91 ** 96 90 ** 95  89
 2 Jonathan Mead                  MAN   85 ** 78 ** 81 89 94 ** 81 ** 83 ** 84 93 ** 90 86  86
 2 Brent Pierce                   B.C.  79 ** ** 82 77 94 ** 72 94 88 ** 91 ** 88 ** 89 89  86
 4 Todd Brandwood                 ONT   81 73 ** ** 85 ** 82 94 85 ** 88 89 85 ** 85 89 **  85
 5 Doug Bryant                    TERR  ** 85 ** 85 86 82 ** 78 ** 86 74 72 90 ** 85 88 **  83
 6 Maxime Elmaleh                 QUE   83 71 ** 99 ** 81 69 ** 83 ** 73 75 ** 84 ** 83 88  81
 7 Darrell McKee                  SASK  73 ** ** 78 84 ** 85 70 81 71 ** 89 ** 85 91 ** 80  80
 8 Peter Hollett                  NFLD  93 74 84 ** ** ** 72 81 68 ** 76 ** 75 72 71 88 **  78
 9 Wayne Tallon                   N.B.  68 ** 78 ** 59 80 ** 84 ** 89 84 ** 79 80 73 72 **  77
10 Evan Sullivan                  PEI   ** 81 ** 78 60 ** 84 71 69 88 ** 82 74 ** 86 ** 55  76
11 Jeff Hopkins                   N.S.  ** 69 ** 65 60 88 ** 70 64 73 ** 85 81 ** ** 78 76  74
11 Roger Sauve                    NONT  ** 72 73 76 ** 71 55 ** ** 79 74 ** 85 80 79 ** 68  74
 
   SKIPS  
 1 Jeff Stoughton                 MAN   91 ** 89 ** 92 84 89 ** 89 ** 84 ** 85 94 ** 85 86  88
 2 Peter Corner                   ONT   96 88 ** ** 88 ** 90 88 81 ** 93 78 90 ** 83 71 **  86
 2 Russ Howard                    N.B.  83 ** 86 ** 72 83 ** 87 ** 94 85 ** 97 95 83 78 **  86
 4 Bruce Korte                    SASK  79 ** ** 69 78 ** 93 84 86 80 ** 89 ** 88 87 ** 94  84
 5 Francois Roberge               QUE   85 92 ** 85 ** 86 67 ** 79 ** 85 76 ** 71 ** 86 81  82
 6 Greg McAulay                   B.C.  84 ** ** 74 67 83 ** 72 85 81 ** 90 ** 93 ** 80 83  81
 7 Kevin Martin                   ALTA  74 44 ** 65 ** 66 83 ** ** 88 70 89 ** 90 89 ** 89  77
 8 Shawn Adams                    N.S.  ** 70 ** 68 45 70 ** 74 87 75 ** 86 80 ** ** 82 74  75
 9 Andrew Robinson                PEI   ** 80 ** 67 65 ** 79 75 64 81 ** 82 62 ** 72 ** 76  73
10 Chad Cowan                     TERR  ** 76 ** 63 70 69 ** 63 ** 75 74 70 70 ** 81 79 **  72
11 Rick Rowsell                   NFLD  57 65 69 ** ** ** 78 67 47 ** 76 ** 74 79 76 73 **  69
12 Tim Phillips                   NONT  ** 76 66 75 ** 69 65 ** ** 65 56 ** 80 40 75 ** 70  68
 
   TEAMS
 1 Manitoba (Stoughton)                 88 ** 81 ** 81 82 89 ** 84 ** 85 ** 88 95 ** 89 88  87
 2 Ontario (Corner)                     88 80 ** ** 87 ** 86 88 83 ** 90 86 89 ** 86 85 **  86
 2 Quebec (Roberge)                     88 86 ** 91 ** 88 76 ** 85 ** 83 84 ** 82 ** 90 86  86
 4 Alberta (Martin)                     86 73 ** 80 ** 86 93 ** ** 87 81 87 ** 90 85 ** 91  85
 4 B.C. (McAulay)                       84 ** ** 83 80 87 ** 78 87 87 ** 89 ** 88 ** 88 87  85
 6 Sask (Korte)                         82 ** ** 82 81 ** 91 83 77 83 ** 88 ** 86 88 ** 84  84
 7 N.B. (Howard)                        85 ** 78 ** 68 88 ** 89 ** 84 89 ** 85 86 81 79 **  83
 8 Yukon/NWT (Cowan)                    ** 84 ** 79 79 79 ** 70 ** 81 81 73 81 ** 83 84 **  80
 9 NFLD (Rowsell)                       80 70 81 ** ** ** 79 80 71 ** 83 ** 84 81 77 84 **  79
10 N.S. (Adams)                         ** 69 ** 74 63 79 ** 80 77 77 ** 84 80 ** ** 82 80  77
10 P.E.I. (Robinson)                    ** 78 ** 79 71 ** 80 75 72 85 ** 84 75 ** 78 ** 69  77
12 N.Ontario (Phillips)                 ** 74 73 80 ** 72 72 ** ** 83 74 ** 82 74 81 ** 76  76
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2000 Labatt Brier
                           Presented by Sheraton Hotels & Resorts
                                   Saskatoon, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Grant Odishaw                  N.B.   +  *  +  *  0  +  *  0  *  -  +  *  0  +  +  +  *  +6
Craig Dowden                   NFLD   -  -  +  *  *  *  0  +  0  *  +  *  +  +  *  0  *  +3
Jody Sveistrup                 B.C.   +  *  *  -  +  -  *  +  0  +  *  +  *  0  *  0  0  +3
Rory Golanowski                SASK   +  *  *  +  +  *  0  0  0  0  *  0  *  -  +  *  0  +3
Don Bartlett                   ALTA   -  0  *  +  *  +  +  *  *  0  0  +  *  -  -  *  +  +2
Doug Armstrong                 MAN    0  *  -  *  0  0  0  *  +  *  0  *  0  +  *  0  +  +2
Dan Sauve                      NONT   *  +  -  0  *  0  0  *  *  +  -  *  0  0  +  *  0  +1
Jean Gagnon                    QUE    -  +  *  0  *  0  -  *  0  *  +  0  *  -  *  +  -  -1
Dwayne Pyper                   ONT    0  0  *  *  -  *  0  0  0  *  -  0  0  *  +  0  *  -1
Ross Milward                   TERR   *  +  *  0  -  0  *  -  *  0  -  -  0  *  -  -  *  -5
Bob Pritchett                  PEI    *  -  *  0  +  *  0  -  0  -  *  -  0  *  -  *  -  -5
Jason Blanchard                N.S.   *  -  *  -  -  -  *  0  -  *  *  0  -  *  *  *  0  -6
 
SECONDS
Eric Sylvain                   QUE    +  +  *  +  *  +  -  *  +  *  0  0  *  +  *  +  0  +6
Carter Rycroft                 ALTA   0  0  *  +  *  0  +  *  *  0  0  +  *  0  0  *  +  +4
Garry Van Den Berghe           MAN    0  *  -  *  +  +  +  *  0  *  0  *  +  +  *  0  0  +4
Drew Macklin                   ONT    0  0  *  *  +  *  -  0  +  *  0  0  +  *  0  +  *  +3
Ken Ellis                      NFLD   0  -  +  *  *  *  0  +  +  *  0  *  +  0  0  -  *  +2
Bryan Miki                     B.C.   0  *  *  0  -  0  *  +  -  +  *  0  *  0  *  0  +  +1
Jason Nolan                    TERR   *  +  *  0  +  -  *  -  *  +  0  -  -  *  0  +  *   0
Ron Henderson                  NONT   *  0  +  0  *  -  0  *  *  0  0  *  -  0  0  *  +   0
Roger Korte                    SASK   -  *  *  0  -  *  +  -  -  0  *  +  *  -  +  *  -  -3
Rick Perron                    N.B.   0  *  -  *  -  +  *  +  *  -  0  *  0  -  0  -  *  -3
Ben Blanchard                  N.S.   *  0  *  -  +  -  *  0  0  -  *  -  -  *  *  -  -  -6
Brian Scales                   PEI    *  -  *  -  -  *  -  -  -  0  *  0  0  *  -  *  -  -8
 
THIRDS 
Don Walchuk                    ALTA   +  +  *  +  *  +  +  *  *  +  0  +  *  +  +  *  + +10
Doug Bryant                    TERR   *  0  *  +  0  0  *  +  *  +  0  -  +  *  0  +  *  +4
Todd Brandwood                 ONT    0  -  *  *  +  *  0  +  +  *  0  +  0  *  0  0  *  +3
Jonathan Mead                  MAN    0  *  -  *  +  +  +  *  +  *  0  *  -  +  *  0  0  +3
Peter Hollett                  NFLD   +  0  +  *  *  *  +  +  -  *  0  *  -  -  0  0  *  +1
Brent Pierce                   B.C.   -  *  *  0  -  -  *  -  +  0  *  +  *  +  *  0  +   0
Maxime Elmaleh                 QUE    +  0  *  +  *  0  -  *  -  *  0  -  *  0  *  +  0   0
Darrell McKee                  SASK   -  *  *  0  0  *  0  -  +  -  *  0  *  -  +  *  +  -1
Wayne Tallon                   N.B.   -  *  +  *  -  -  *  +  *  0  0  *  +  0  0  -  *  -1
Jeff Hopkins                   N.S.   *  0  *  -  0  +  *  -  -  -  *  0  +  *  *  -  -  -4
Evan Sullivan                  PEI    *  0  *  -  0  *  -  -  -  +  *  -  -  *  -  *  -  -7
Roger Sauve                    NONT   *  0  -  -  *  -  -  *  *  -  0  *  0  -  -  *  -  -8
 
SKIPS  
Jeff Stoughton                 MAN    -  *  +  *  +  +  +  *  0  *  +  *  +  +  *  +  +  +8
Peter Corner                   ONT    +  +  *  *  +  *  0  +  +  *  +  0  +  *  0  0  *  +7
Greg McAulay                   B.C.   +  *  *  +  -  +  *  +  +  -  *  +  *  +  *  -  +  +5
Russ Howard                    N.B.   +  *  +  *  -  +  *  0  *  +  -  *  +  +  +  0  *  +5
Kevin Martin                   ALTA   -  -  *  0  *  -  +  *  *  +  -  +  *  +  +  *  +  +2
Francois Roberge               QUE    +  +  *  +  *  +  -  *  -  *  +  0  *  -  *  0  -  +1
Bruce Korte                    SASK   -  *  *  -  +  *  0  0  +  -  *  0  *  -  +  *  +   0
Andrew Robinson                PEI    *  0  *  -  +  *  -  +  -  +  *  -  -  *  -  *  -  -4
Shawn Adams                    N.S.   *  -  *  0  -  -  *  -  0  0  *  0  +  *  *  0  -  -4
Chad Cowan                     TERR   *  0  *  -  -  -  *  -  *  0  0  -  -  *  0  0  *  -6
Rick Rowsell                   NFLD   -  -  -  *  *  *  +  -  -  *  0  *  -  -  -  0  *  -7
Tim Phillips                   NONT   *  +  -  +  *  -  -  *  *  -  -  *  -  -  -  *  -  -7
 
   TEAMS
Manitoba (Stoughton)                  0  *  0  *  +  +  +  *  +  *  0  *  +  +  *  0  0  +6
Quebec (Roberge)                      +  +  *  +  *  +  -  *  0  *  +  0  *  0  *  +  0  +5
Alberta (Martin)                      0  -  *  +  *  0  +  *  *  0  0  +  *  +  0  *  +  +4
Ontario (Corner)                      0  +  *  *  +  *  -  +  +  *  0  0  +  *  0  0  *  +4
B.C. (McAulay)                        0  *  *  0  -  0  *  +  0  0  *  +  *  +  *  0  +  +3
N.B. (Howard)                         0  *  +  *  -  +  *  +  *  0  0  *  +  0  0  -  *  +2
Sask (Korte)                          -  *  *  0  0  *  +  -  +  0  *  0  *  -  +  *  +  +1
NFLD (Rowsell)                        0  -  0  *  *  *  +  +  -  *  0  *  0  -  0  0  *  -1
Yukon/NWT (Cowan)                     *  +  *  0  0  -  *  -  *  0  0  -  -  *  0  +  *  -2
N.Ontario (Phillips)                  *  +  -  0  *  -  -  *  *  0  -  *  -  -  0  *  -  -6
N.S. (Adams)                          *  -  *  -  -  -  *  -  -  0  *  0  0  *  *  -  -  -8
P.E.I. (Robinson)                     *  -  *  -  +  *  -  -  -  0  *  -  -  *  -  *  -  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2000 Labatt Brier
                           Presented by Sheraton Hotels & Resorts
                                   Saskatoon, Saskatchewan
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11    96  FOR       5     8     23   14    4    2    0    0   71   6.5   11  0.74
                 AGAINST   4    10     29    9    5    1    0    0   66   6.0   13  0.69
 
B.C.   11    96  FOR       8    12     19   20    4    0    1    0   76   6.9   18  0.79
                 AGAINST   4    12     29   10    1    0    0    0   52   4.7   18  0.54
 
MAN    11   100  FOR       7    12     29   13    3    2    0    0   72   6.5   14  0.72
                 AGAINST   8     4     30    7    1    0    0    0   47   4.3    4  0.47
 
N.B.   11    98  FOR       3    10     18   13   13    0    1    0   88   8.0   18  0.90
                 AGAINST   6    10     24   16    3    1    0    0   69   6.3   10  0.70
 
NFLD   11   102  FOR       7     9     24   13    2    0    0    0   56   5.1   10  0.55
                 AGAINST   8    15     22   19    5    1    1    0   84   7.6   18  0.82
 
NONT   11   102  FOR       2     9     27   11    1    0    0    0   52   4.7   12  0.51
                 AGAINST   9    20     30   20    2    0    0    0   76   6.9   28  0.75
 
N.S.   11   100  FOR       7     7     27    9    2    0    0    0   51   4.6    9  0.51
                 AGAINST   4    19     31   15    4    0    0    1   80   7.3   35  0.80
 
ONT    11   102  FOR       5    17     30   15    4    2    0    0   80   7.3   21  0.78
                 AGAINST   5     7     26    9    6    0    0    0   62   5.6    7  0.61
 
PEI    11    98  FOR      11     9     26    7    4    0    0    1   59   5.4   18  0.60
                 AGAINST  10    10     20   13    5    1    0    0   65   5.9   10  0.66
 
QUE    11    97  FOR      12    14     24   15    4    0    1    0   71   6.5   17  0.73
                 AGAINST   3     9     24    9    2    2    1    0   61   5.5   10  0.63
 
SASK   11   102  FOR       3    11     30   16    2    0    0    0   68   6.2   12  0.67
                 AGAINST  10     3     21   15    4    0    1    0   68   6.2    3  0.67
 
TERR   11   103  FOR       6    11     35    9    2    0    0    0   59   5.4   12  0.57
                 AGAINST   5    10     26   13    7    0    0    0   73   6.6   16  0.71
 
 
TOTAL  66   598  FOR      76   129    312  155   45    6    3    1  803   6.1  172  0.67
                 AGAINST  76   129    312  155   45    6    3    1  803   6.1  172  0.67
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2000 Labatt Brier
                           Presented by Sheraton Hotels & Resorts
                                   Saskatoon, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     L     W     W     W     L     L     L     W     W     W  
 
 
B.C.     W     *     W     L     W     W     W     L     W     W     W     W  
 
 
MAN      W     L     *     W     W     W     W     L     W     L     W     W  
 
 
N.B.     L     W     L     *     W     W     W     W     W     W     W     L  
 
 
NFLD     L     L     L     L     *     W     L     L     L     L     L     W  
 
 
NONT     L     L     L     L     L     *     W     L     L     L     L     W  
 
 
N.S.     W     L     L     L     W     L     *     L     L     L     W     L  
 
 
ONT      W     W     W     L     W     W     W     *     W     L     L     W  
 
 
PEI      W     L     L     L     W     W     W     L     *     L     L     L  
 
 
QUE      L     L     W     L     W     W     W     W     W     *     W     W  
 
 
SASK     L     L     L     L     W     W     L     W     W     L     *     W  
 
 
TERR     L     L     L     W     L     L     W     L     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2000 Labatt Brier
                           Presented by Sheraton Hotels & Resorts
                                   Saskatoon, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Martin)               #SH   186  243  429   150  190  340   336  433  769
                                  PTS   631  829 1460   525  641 1166  1156 1470 2626
                                  PCT    85   85   85    88   84   86    86   85   85
 
 1 Don Bartlett                   #SH    57   97  154    16   16   32    73  113  186
                                  PTS   200  350  550    57   58  115   257  408  665
                                  PCT    88   90   89    89   91   90    88   90   89
 
 2 Carter Rycroft                 #SH    53   46   99    40   57   97    93  103  196
                                  PTS   170  157  327   140  208  348   310  365  675
                                  PCT    80   85   83    88   91   90    83   89   86
 
 3 Don Walchuk                    #SH    40   49   89    48   59  107    88  108  196
                                  PTS   141  166  307   171  217  388   312  383  695
                                  PCT    88   85   86    89   92   91    89   89   89
 
 4 Kevin Martin                   #SH    36   51   87    46   58  104    82  109  191
                                  PTS   120  156  276   157  158  315   277  314  591
                                  PCT    83   76   79    85   68   76    84   72   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (McAulay)                 #SH   214  221  435   248  246  494   462  467  929
                                  PTS   692  769 1461   901  824 1725  1593 1593 3186
                                  PCT    81   87   84    91   84   87    86   85   86
 
 1 Jody Sveistrup                 #SH    84   83  167    27   31   58   111  114  225
                                  PTS   291  299  590    97  101  198   388  400  788
                                  PCT    87   90   88    90   81   85    87   88   88
 
 2 Bryan Miki                     #SH    45   33   78    83   77  160   128  110  238
                                  PTS   147  107  254   310  265  575   457  372  829
                                  PCT    82   81   81    93   86   90    89   85   87
 
 3 Brent Pierce                   #SH    39   43   82    83   73  156   122  116  238
                                  PTS   134  144  278   301  247  548   435  391  826
                                  PCT    86   84   85    91   85   88    89   84   87
 
 4 Greg McAulay                   #SH    46   62  108    55   65  120   101  127  228
                                  PTS   120  219  339   193  211  404   313  430  743
                                  PCT    65   88   78    88   81   84    77   85   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Stoughton)           #SH   174  249  423   271  275  546   445  524  969
                                  PTS   568  884 1452   925  997 1922  1493 1881 3374
                                  PCT    82   89   86    85   91   88    84   90   87
 
 1 Doug Armstrong                 #SH    64  111  175    19   42   61    83  153  236
                                  PTS   230  400  630    55  152  207   285  552  837
                                  PCT    90   90   90    72   90   85    86   90   89
 
 2 Garry Van Den Berghe           #SH    42   50   92    85   69  154   127  119  246
                                  PTS   132  181  313   278  250  528   410  431  841
                                  PCT    79   91   85    82   91   86    81   91   85
 
 3 Jonathan Mead                  #SH    35   43   78    89   79  168   124  122  246
                                  PTS   118  139  257   317  280  597   435  419  854
                                  PCT    84   81   82    89   89   89    88   86   87
 
 4 Jeff Stoughton                 #SH    33   45   78    78   85  163   111  130  241
                                  PTS    88  164  252   275  315  590   363  479  842
                                  PCT    67   91   81    88   93   90    82   92   87
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Howard)                  #SH   216  317  533   152  346  498   368  663 1031
                                  PTS   731 1119 1850   455 1120 1575  1186 2239 3425
                                  PCT    85   88   87    75   81   79    81   84   83
 
 1 Grant Odishaw                  #SH    63  129  192    12   46   58    75  175  250
                                  PTS   230  480  710    44  133  177   274  613  887
                                  PCT    91   93   92    92   72   76    91   88   89
 
 2 Rick Perron                    #SH    51   61  112    43  109  152    94  170  264
                                  PTS   174  215  389   125  358  483   299  573  872
                                  PCT    85   88   87    73   82   79    80   84   83
 
 3 Wayne Tallon                   #SH    46   70  116    47  100  147    93  170  263
                                  PTS   142  219  361   125  319  444   267  538  805
                                  PCT    77   78   78    66   80   76    72   79   77
 
 4 Russ Howard                    #SH    56   57  113    50   91  141   106  148  254
                                  PTS   185  205  390   161  310  471   346  515  861
                                  PCT    83   90   86    81   85   84    82   87   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Rowsell)                 #SH   242  244  486   178  171  349   420  415  835
                                  PTS   799  756 1555   563  533 1096  1362 1289 2651
                                  PCT    83   77   80    79   78   79    81   78   79
 
 1 Craig Dowden                   #SH    73   69  142    24   23   47    97   92  189
                                  PTS   264  236  500    71   84  155   335  320  655
                                  PCT    90   86   88    74   91   82    86   87   87
 
 2 Ken Ellis                      #SH    67   49  116    51   45   96   118   94  212
                                  PTS   222  153  375   186  153  339   408  306  714
                                  PCT    83   78   81    91   85   88    86   81   84
 
 3 Peter Hollett                  #SH    53   59  112    50   47   97   103  106  209
                                  PTS   169  177  346   161  143  304   330  320  650
                                  PCT    80   75   77    81   76   78    80   75   78
 
 4 Rick Rowsell                   #SH    40   58   98    53   54  107    93  112  205
                                  PTS   113  164  277   145  147  292   258  311  569
                                  PCT    71   71   71    68   68   68    69   69   69
 
 5 Wayne Young                    #SH     9    9   18     0    2    2     9   11   20
                                  PTS    31   26   57     0    6    6    31   32   63
                                  PCT    86   72   79   ***   75   75    86   73   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.Ontario (Phillips)           #SH   202  353  555   132  143  275   334  496  830
                                  PTS   614 1089 1703   407  427  834  1021 1516 2537
                                  PCT    76   77   77    77   75   76    76   76   76
 
 1 Dan Sauve                      #SH    43  135  178    13   17   30    56  152  208
                                  PTS   139  453  592    45   50   95   184  503  687
                                  PCT    81   84   83    87   74   79    82   83   83
 
 2 Ron Henderson                  #SH    64   77  141    34   35   69    98  112  210
                                  PTS   219  245  464   112  107  219   331  352  683
                                  PCT    86   80   82    82   76   79    84   79   81
 
 3 Roger Sauve                    #SH    47   73  120    41   47   88    88  120  208
                                  PTS   130  204  334   130  148  278   260  352  612
                                  PCT    69   70   70    79   79   79    74   73   74
 
 4 Tim Phillips                   #SH    47   67  114    44   44   88    91  111  202
                                  PTS   122  187  309   120  122  242   242  309  551
                                  PCT    65   70   68    68   69   69    66   70   68
 
 5 Paul Sauve                     #SH     1    1    2     0    0    0     1    1    2
                                  PTS     4    0    4     0    0    0     4    0    4
                                  PCT   100    0   50   ***  ***  ***   100    0   50
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Adams)                   #SH   181  275  456   150  211  361   331  486  817
                                  PTS   556  856 1412   444  674 1118  1000 1530 2530
                                  PCT    77   78   77    74   80   77    76   79   77
 
 1 Jason Blanchard                #SH    35   95  130    12   25   37    47  120  167
                                  PTS   109  316  425    39   77  116   148  393  541
                                  PCT    78   83   82    81   77   78    79   82   81
 
 2 Ben Blanchard                  #SH    40   55   95    48   63  111    88  118  206
                                  PTS   112  172  284   143  220  363   255  392  647
                                  PCT    70   78   75    74   87   82    72   83   79
 
 3 Jeff Hopkins                   #SH    45   50   95    48   62  110    93  112  205
                                  PTS   146  134  280   139  187  326   285  321  606
                                  PCT    81   67   74    72   75   74    77   72   74
 
 4 Shawn Adams                    #SH    53   51  104    42   55   97    95  106  201
                                  PTS   161  148  309   123  171  294   284  319  603
                                  PCT    76   73   74    73   78   76    75   75   75
 
 5 Robert MacArther               #SH     8   24   32     0    6    6     8   30   38
                                  PTS    28   86  114     0   19   19    28  105  133
                                  PCT    88   90   89   ***   79   79    88   88   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Corner)               #SH   159  267  426   125  336  461   284  603  887
                                  PTS   516  951 1467   411 1177 1588   927 2128 3055
                                  PCT    81   89   86    82   88   86    82   88   86
 
 1 Dwayne Pyper                   #SH    32  140  172     7   37   44    39  177  216
                                  PTS   106  523  629    23  124  147   129  647  776
                                  PCT    83   93   91    82   84   84    83   91   90
 
 2 Drew Macklin                   #SH    36   39   75    29  119  148    65  158  223
                                  PTS   118  128  246   102  405  507   220  533  753
                                  PCT    82   82   82    88   85   86    85   84   84
 
 3 Todd Brandwood                 #SH    45   42   87    42   95  137    87  137  224
                                  PTS   142  140  282   142  336  478   284  476  760
                                  PCT    79   83   81    85   88   87    82   87   85
 
 4 Peter Corner                   #SH    46   46   92    47   85  132    93  131  224
                                  PTS   150  160  310   144  312  456   294  472  766
                                  PCT    82   87   84    77   92   86    79   90   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Robinson)              #SH   254  175  429   190  180  370   444  355  799
                                  PTS   795  564 1359   590  514 1104  1385 1078 2463
                                  PCT    78   81   79    78   71   75    78   76   77
 
 1 Bob Pritchett                  #SH   110   46  156    31   14   45   141   60  201
                                  PTS   363  146  509   102   38  140   465  184  649
                                  PCT    83   79   82    82   68   78    82   77   81
 
 2 Brian Scales                   #SH    54   43   97    58   47  105   112   90  202
                                  PTS   164  140  304   191  136  327   355  276  631
                                  PCT    76   81   78    82   72   78    79   77   78
 
 3 Evan Sullivan                  #SH    49   41   90    45   66  111    94  107  201
                                  PTS   144  134  278   138  194  332   282  328  610
                                  PCT    73   82   77    77   73   75    75   77   76
 
 4 Andrew Robinson                #SH    41   45   86    56   53  109    97   98  195
                                  PTS   124  144  268   159  146  305   283  290  573
                                  PCT    76   80   78    71   69   70    73   74   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Roberge)               #SH   210  251  461   276  197  473   486  448  934
                                  PTS   694  872 1566   947  692 1639  1641 1564 3205
                                  PCT    83   87   85    86   88   87    84   87   86
 
 1 Jean Gagnon                    #SH    63   93  156    45   26   71   108  119  227
                                  PTS   220  352  572   152   91  243   372  443  815
                                  PCT    87   95   92    84   88   86    86   93   90
 
 2 Eric Sylvain                   #SH    56   45  101    79   58  137   135  103  238
                                  PTS   180  162  342   290  214  504   470  376  846
                                  PCT    80   90   85    92   92   92    87   91   89
 
 3 Maxime Elmaleh                 #SH    48   56  104    67   67  134   115  123  238
                                  PTS   147  180  327   220  234  454   367  414  781
                                  PCT    77   80   79    82   87   85    80   84   82
 
 4 Francois Roberge               #SH    43   57  100    85   46  131   128  103  231
                                  PTS   147  178  325   285  153  438   432  331  763
                                  PCT    85   78   81    84   83   84    84   80   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Korte)                   #SH   208  237  445   207  192  399   415  429  844
                                  PTS   676  816 1492   689  658 1347  1365 1474 2839
                                  PCT    81   86   84    83   86   84    82   86   84
 
 1 Rory Golanowski                #SH    60  113  173    13   21   34    73  134  207
                                  PTS   213  410  623    44   77  121   257  487  744
                                  PCT    89   91   90    85   92   89    88   91   90
 
 2 Roger Korte                    #SH    55   38   93    70   51  121   125   89  214
                                  PTS   167  134  301   229  172  401   396  306  702
                                  PCT    76   88   81    82   84   83    79   86   82
 
 3 Darrell McKee                  #SH    53   33   86    56   72  128   109  105  214
                                  PTS   151  121  272   187  230  417   338  351  689
                                  PCT    71   92   79    83   80   81    78   84   80
 
 4 Bruce Korte                    #SH    40   53   93    68   48  116   108  101  209
                                  PTS   145  151  296   229  179  408   374  330  704
                                  PCT    91   71   80    84   93   88    87   82   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Yukon/NWT (Cowan)              #SH   255  162  417   189  220  409   444  382  826
                                  PTS   832  530 1362   582  687 1269  1414 1217 2631
                                  PCT    82   82   82    77   78   78    80   80   80
 
 1 Ross Milward                   #SH   107   37  144    25   34   59   132   71  203
                                  PTS   380  126  506    75  103  178   455  229  684
                                  PCT    89   85   88    75   76   75    86   81   84
 
 2 Jason Nolan                    #SH    47   34   81    57   72  129   104  106  210
                                  PTS   148  115  263   175  227  402   323  342  665
                                  PCT    79   85   81    77   79   78    78   81   79
 
 3 Doug Bryant                    #SH    62   40  102    47   60  107   109  100  209
                                  PTS   202  138  340   167  187  354   369  325  694
                                  PCT    81   86   83    89   78   83    85   81   83
 
 4 Chad Cowan                     #SH    39   51   90    60   54  114    99  105  204
                                  PTS   102  151  253   165  170  335   267  321  588
                                  PCT    65   74   70    69   79   73    67   76   72
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2000 Labatt Brier
                           Presented by Sheraton Hotels & Resorts
                                   Saskatoon, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  5    PEI  12  N.S.  2
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  7    PEI   1  MAN   2
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  2    NFLD  6  QUE  11
          DRAW  3    NONT  8  N.B.  9
          DRAW  9    ONT  11  PEI   6
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   3
 
          DRAW  7    PEI   1  MAN   2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  2    NFLD  6  QUE  11    QUE  SCORED 5 IN THE 7TH END
          DRAW  4    B.C. 10  SASK  6    B.C. SCORED 5 IN THE 4TH END
          DRAW 14    N.B. 10  QUE   3    N.B. SCORED 5 IN THE THIRD END
 
HIGHEST END SCORE WITHOUT HAMMER:   7
 
          DRAW  5    PEI  12  N.S.  2    PEI  SCORED 7 IN THE 5TH END
 
MOST BLANK ENDS, ONE GAME:   6
 
          DRAW  7    PEI   1  MAN   2
 
NUMBER OF BLANK ENDS IN EVENT:  80
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW 12
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  7    PEI   1  MAN   2    BY PEI  BEGINNING IN END 4
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  1    NFLD  3  B.C.  7
          DRAW  2    ALTA  3  ONT   8
          DRAW  2    NONT  7  N.S.  5
          DRAW  6    N.S.  4  N.B. 11
          DRAW  9    QUE   5  B.C.  6
          DRAW 13    PEI   3  N.B.  9
          DRAW 15    ONT   7  TERR  6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  2    ALTA  3  ONT   8    BY ONT  BEGINNING IN END 3
          DRAW  4    QUE   8  PEI   4    BY QUE  BEGINNING IN END 6
          DRAW 11    NONT  2  QUE   6    BY QUE  BEGINNING IN END 6
          DRAW 14    NONT  2  B.C.  8    BY B.C. BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:  10
 
          DRAW  5    PEI  12  N.S.  2    BY PEI 
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 11    TERR  6  NFLD  7    NFLD WAS DOWN 4 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:   1
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    NONT  7  N.S.  5
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW  5    PEI  12  N.S.  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   7
 
          DRAW  7    PEI   1  MAN   2    BY PEI 
  </div>
</div>
