<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2003 Nokia Brier
                           Presented by Sheraton Hotels & Resorts
                                    Halifax, Nova Scotia
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Dan Holowaychuk                          ALTA  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 96 **  96
 1 Brian Wempe                              SASK  89 86 ** 95 ** 93 96 ** ** 94 96 93 ** 84 89 89 **  91
 1 Marcel Rocque                            ALTA  88 ** 89 ** 86 93 ** 95 89 89 ** ** 96 90 ** ** 91  91
 3 Grant Odishaw                            N.B.  83 ** 91 ** 94 89 ** 92 88 91 ** ** 91 91 ** 93 91  90
 3 Mark Ward                                NFLD  80 94 ** 80 ** 93 84 ** ** 90 99 98 ** 91 90 96 **  90
 5 Kevin MacKenzie                          B.C.  ** 80 ** 85 95 ** 83 86 83 ** 93 86 95 ** 92 ** 97  89
 6 Mike Dillon                              PEI   ** 87 ** 82 86 ** 91 83 89 ** 83 94 83 ** 85 ** 91  87
 7 John Steski                              ONT   ** 80 ** 72 89 ** 83 88 74 ** 90 98 97 ** 83 ** 89  86
 8 Ross Milward                             YNWT  83 78 ** 75 ** 96 89 ** ** 89 86 79 ** 88 89 89 **  85
 8 Dan Kelsch                               MAN   90 ** 79 ** 78 88 ** 93 84 78 ** ** 83 96 ** 88 75  85
10 Dale Ness                                QUE   ** 83 ** 85 91 ** 78 83 75 ** 83 91 87 ** 87 ** 86  84
11 Andrew Gibson                            N.S.  77 ** 83 ** 91 81 ** 83 88 78 ** ** 84 88 ** 73 93  83
12 Tim Lindsay                              NONT  70 85 ** 75 ** 89 70 ** ** 92 89 81 ** 80 84 75 **  81
 
   SECONDS
 1 Scott Pfeifer                            ALTA  86 ** 84 ** 89 88 ** 89 92 80 ** ** 97 83 ** 85 88  87
 2 Jean-Michel Menard                       QUE   ** 78 ** 78 86 ** 83 93 88 ** 92 83 89 ** 91 ** 91  86
 2 Marc LeCocq                              N.B.  86 ** 85 ** 84 91 ** 69 83 88 ** ** 88 89 ** 88 96  86
 4 Greg Harcourt                            SASK  74 80 ** 88 ** 84 93 ** ** 86 79 93 ** 76 94 83 **  84
 4 Deane Horning                            B.C.  ** 89 ** 72 93 ** 83 81 81 ** 80 80 88 ** 77 ** 94  84
 6 Mike Desilets                            NONT  75 79 ** 84 ** 84 80 ** ** 81 81 86 ** 90 97 75 **  83
 7 Bob Scales                               MAN   78 ** 78 ** 86 89 ** 88 70 78 ** ** 83 86 ** 79 84  81
 7 Ian MacAulay                             ONT   ** 85 ** 76 78 ** 74 78 83 ** 89 80 85 ** 88 ** 81  81
 7 Jamie Korab                              NFLD  73 69 ** 74 ** 89 86 ** ** 80 85 88 ** 78 85 88 **  81
10 Philip Gorveatt                          PEI   ** 71 ** 75 85 ** 83 81 80 ** 89 63 83 ** 78 ** 84  80
11 Rob Harris                               N.S.  55 ** 68 ** 79 78 ** 84 84 86 ** ** 77 83 ** 80 85  78
11 James Buyck                              YNWT  75 71 ** 81 ** 89 83 ** ** 76 81 81 ** 64 84 69 **  78
 
   THIRDS 
 1 Randy Ferbey (S)                         ALTA  92 ** 76 ** 86 80 ** 89 92 88 ** ** 89 79 ** 83 98  86
 2 James Grattan                            N.B.  83 ** 70 ** 93 90 ** 77 79 91 ** ** 85 85 ** 86 90  84
 3 Kevin Kalthoff                           SASK  91 78 ** 66 ** 85 91 ** ** 70 91 90 ** 74 84 86 **  82
 3 Bob Ursel                                B.C.  ** 94 ** 69 83 ** 81 94 74 ** 78 76 81 ** 92 ** 88  82
 5 Bob Jenion                               MAN   73 ** 66 ** 75 91 ** 89 86 81 ** ** 79 89 ** 76 83  81
 5 Bill Gamble                              ONT   ** 83 ** 85 83 ** 75 79 81 ** 74 81 88 ** 83 ** 80  81
 7 Don Westphal                             QUE   ** 71 ** 75 64 ** 73 80 80 ** 89 85 86 ** 89 ** 86  80
 7 Mark Nichols                             NFLD  66 70 ** 74 ** 80 89 ** ** 88 90 90 ** 90 69 75 **  80
 7 Doug Bryant                              YNWT  65 83 ** 85 ** 81 78 ** ** 85 86 80 ** 88 80 67 **  80
10 Kevin Champion                           PEI   ** 78 ** 74 86 ** 81 78 78 ** 79 67 75 ** 82 ** 70  78
11 Bruce Lohnes                             N.S.  80 ** 71 ** 75 71 ** 69 88 73 ** ** 78 74 ** 85 79  76
11 Art Lappalainen                          NONT  78 79 ** 70 ** 79 73 ** ** 77 69 59 ** 90 82 78 **  76
 
   SKIPS  
 1 Russ Howard                              N.B.  86 ** 74 ** 86 86 ** 72 91 95 ** ** 92 80 ** 93 88  85
 2 David Nedohin                            ALTA  78 ** 73 ** 81 79 ** 85 96 93 ** ** 94 69 ** 88 78  83
 3 Brad Gushue                              NFLD  85 81 ** 93 ** 82 75 ** ** 80 95 83 ** 91 40 78 **  82
 4 Robert Campbell                          PEI   ** 80 ** 76 89 ** 90 88 78 ** 78 58 75 ** 85 ** 83  81
 4 Guy Hemmings                             QUE   ** 62 ** 78 80 ** 77 75 95 ** 88 80 88 ** 88 ** 83  81
 4 Pat Ryan                                 B.C.  ** 78 ** 57 93 ** 72 94 72 ** 93 74 76 ** 98 ** 89  81
 7 Doug Harcourt                            SASK  72 76 ** 67 ** 85 93 ** ** 75 84 80 ** 77 88 78 **  79
 7 John Bubbs                               MAN   79 ** 83 ** 82 64 ** 91 85 66 ** ** 89 80 ** 79 70  79
 7 Bryan Cochrane                           ONT   ** 69 ** 76 89 ** 73 86 87 ** 83 82 69 ** 83 ** 73  79
10 Mark Dacey                               N.S.  69 ** 69 ** 95 83 ** 56 84 79 ** ** 65 82 ** 91 69  77
11 Scott Henderson                          NONT  68 76 ** 83 ** 78 71 ** ** 77 59 71 ** 91 77 82 **  76
12 Chad Cowan                               YNWT  73 85 ** 79 ** 70 71 ** ** 81 82 68 ** 73 65 71 **  74
 
   TEAMS
 1 Alberta (Ferbey)                               86 ** 80 ** 86 85 ** 89 92 88 ** ** 94 80 ** 88 88  87
 1 N.B. (Howard)                                  84 ** 80 ** 89 89 ** 77 85 91 ** ** 89 86 ** 90 91  87
 3 Sask (Harcourt)                                82 80 ** 79 ** 87 93 ** ** 81 87 89 ** 78 89 84 **  84
 3 B.C. (Ryan)                                    ** 85 ** 71 91 ** 80 89 77 ** 86 79 85 ** 90 ** 92  84
 5 NFLD (Gushue)                                  76 78 ** 80 ** 86 84 ** ** 84 92 89 ** 88 71 84 **  83
 5 Quebec (Hemmings)                              ** 73 ** 79 80 ** 78 83 84 ** 88 85 88 ** 89 ** 87  83
 7 Ontario (Cochrane)                             ** 79 ** 77 85 ** 76 82 81 ** 84 85 85 ** 84 ** 81  82
 8 Manitoba (Bubbs)                               80 ** 76 ** 80 83 ** 90 81 76 ** ** 83 88 ** 81 78  81
 8 PEI (Campbell)                                 ** 79 ** 77 87 ** 86 82 81 ** 82 70 79 ** 83 ** 82  81
10 Y/NWT (Cowan)                                  74 79 ** 80 ** 84 80 ** ** 83 84 77 ** 78 80 74 **  79
10 N. Ont (Henderson)                             73 80 ** 78 ** 82 73 ** ** 82 75 74 ** 88 85 77 **  79
10 Nova Scotia (Dacey)                            70 ** 73 ** 85 78 ** 73 86 79 ** ** 76 82 ** 82 82  79
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2003 Nokia Brier
                           Presented by Sheraton Hotels & Resorts
                                    Halifax, Nova Scotia
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Brian Wempe                              SASK   +  0  *  +  *  +  +  *  *  +  0  0  *  0  +  0  *  +6
Mark Ward                                NFLD   -  +  *  +  *  0  +  *  *  +  +  0  *  0  0  +  *  +5
Marcel Rocque                            ALTA   +  *  0  *  +  0  *  +  +  -  *  *  0  0  *  *  0  +3
Ross Milward                             YNWT   +  -  *  -  *  +  +  *  *  +  0  -  *  0  0  0  *  +1
Grant Odishaw                            N.B.   -  *  0  *  0  -  *  +  +  0  *  *  +  0  *  0  0  +1
Kevin MacKenzie                          B.C.   *  0  *  0  +  *  -  -  -  *  0  +  +  *  0  *  0   0
Dan Kelsch                               MAN    +  *  0  *  -  -  *  +  +  -  *  *  -  +  *  0  -  -1
John Steski                              ONT    *  0  *  -  0  *  +  +  -  *  -  +  0  *  -  *  0  -1
Dale Ness                                QUE    *  0  *  0  0  *  -  -  -  *  -  0  0  *  0  *  +  -3
Mike Dillon                              PEI    *  0  *  +  -  *  -  -  0  *  0  0  -  *  0  *  0  -3
Tim Lindsay                              NONT   -  0  *  -  *  +  -  *  *  0  +  -  *  -  0  -  *  -4
Andrew Gibson                            N.S.   -  *  0  *  0  -  *  -  0  -  *  *  0  0  *  -  0  -5
 
SECONDS
Jean-Michel Menard                       QUE    *  +  *  +  +  *  0  0  +  *  +  -  +  *  +  *  +  +7
Marc LeCocq                              N.B.   +  *  0  *  +  0  *  -  -  +  *  *  +  +  *  +  +  +5
Scott Pfeifer                            ALTA   +  *  0  *  0  0  *  0  +  -  *  *  +  +  *  +  0  +4
Mike Desilets                            NONT   0  0  *  +  *  +  +  *  *  -  -  +  *  0  +  -  *  +2
Greg Harcourt                            SASK   0  0  *  +  *  -  +  *  *  +  0  +  *  -  +  -  *  +2
Jamie Korab                              NFLD   0  0  *  -  *  0  0  *  *  0  0  +  *  -  +  +  *  +1
Bob Scales                               MAN    -  *  +  *  0  +  *  +  -  0  *  *  -  0  *  +  -   0
Deane Horning                            B.C.   *  0  *  -  +  *  0  +  -  *  0  -  +  *  -  *  +   0
Rob Harris                               N.S.   -  *  -  *  -  -  *  +  0  +  *  *  -  +  *  -  -  -4
Ian MacAulay                             ONT    *  0  *  0  -  *  -  -  +  *  0  0  -  *  -  *  -  -5
James Buyck                              YNWT   0  0  *  -  *  0  0  *  *  -  -  0  *  -  -  -  *  -6
Philip Gorveatt                          PEI    *  -  *  0  -  *  -  -  0  *  +  -  -  *  -  *  0  -6
 
THIRDS 
Randy Ferbey (S)                         ALTA   +  *  +  *  +  0  *  +  +  +  *  *  0  -  *  +  +  +7
James Grattan                            N.B.   +  *  -  *  +  +  *  -  0  +  *  *  +  -  *  0  +  +3
Bob Ursel                                B.C.   *  +  *  -  0  *  0  +  -  *  -  +  0  *  +  *  +  +2
Doug Bryant                              YNWT   -  +  *  +  *  -  0  *  *  +  +  0  *  +  -  -  *  +1
Kevin Kalthoff                           SASK   +  0  *  -  *  -  +  *  *  -  +  +  *  0  0  0  *  +1
Mark Nichols                             NFLD   -  -  *  0  *  0  +  *  *  +  +  +  *  +  -  -  *  +1
Bob Jenion                               MAN    -  *  -  *  -  +  *  +  +  -  *  *  0  0  *  +  0   0
Don Westphal                             QUE    *  -  *  +  -  *  -  -  0  *  +  -  +  *  +  *  0  -1
Bill Gamble                              ONT    *  -  *  +  +  *  0  +  -  *  -  0  0  *  0  *  -  -1
Art Lappalainen                          NONT   +  0  *  0  *  +  0  *  *  -  -  -  *  0  0  -  *  -2
Bruce Lohnes                             N.S.   -  *  +  *  -  -  *  -  +  -  *  *  -  0  *  +  -  -4
Kevin Champion                           PEI    *  +  *  -  0  *  -  -  -  *  -  -  -  *  0  *  -  -7
 
SKIPS  
David Nedohin                            ALTA   +  *  0  *  0  0  *  +  +  +  *  *  +  0  *  +  -  +5
Brad Gushue                              NFLD   +  0  *  +  *  0  0  *  *  +  +  +  *  +  -  -  *  +4
Russ Howard                              N.B.   +  *  0  *  -  +  *  -  0  +  *  *  +  -  *  +  +  +3
Guy Hemmings                             QUE    *  -  *  +  -  *  0  -  0  *  +  0  +  *  +  *  +  +2
Pat Ryan                                 B.C.   *  +  *  -  0  *  0  +  -  *  +  0  -  *  +  *  +  +2
Mark Dacey                               N.S.   -  *  -  *  +  +  *  -  +  0  *  *  -  +  *  +  -   0
Robert Campbell                          PEI    *  +  *  0  0  *  0  0  -  *  0  -  -  *  +  *  +   0
Chad Cowan                               YNWT   +  0  *  +  *  -  0  *  *  0  0  -  *  0  -  -  *  -2
John Bubbs                               MAN    -  *  +  *  0  -  *  0  0  -  *  *  +  -  *  +  -  -2
Bryan Cochrane                           ONT    *  -  *  0  +  *  0  +  0  *  -  +  -  *  -  *  -  -2
Doug Harcourt                            SASK   -  0  *  -  *  +  0  *  *  -  -  0  *  -  +  -  *  -4
Scott Henderson                          NONT   -  0  *  -  *  -  0  *  *  -  -  0  *  +  -  -  *  -6
 
   TEAMS
Alberta (Ferbey)                                +  *  0  *  +  0  *  +  +  +  *  *  +  0  *  +  +  +8
N.B. (Howard)                                   0  *  0  *  0  +  *  -  0  +  *  *  +  0  *  +  +  +4
B.C. (Ryan)                                     *  +  *  -  0  *  0  +  -  *  0  +  0  *  +  *  +  +3
NFLD (Gushue)                                   -  0  *  0  *  0  +  *  *  +  +  +  *  0  -  0  *  +2
Quebec (Hemmings)                               *  -  *  +  -  *  -  -  0  *  +  0  +  *  +  *  +  +1
Sask (Harcourt)                                 +  0  *  0  *  0  +  *  *  -  0  0  *  0  +  -  *  +1
Manitoba (Bubbs)                                0  *  0  *  -  0  *  +  0  -  *  *  0  0  *  +  -  -1
Ontario (Cochrane)                              *  -  *  0  +  *  0  +  0  *  -  +  -  *  -  *  -  -2
Nova Scotia (Dacey)                             -  *  0  *  0  0  *  -  +  0  *  *  -  0  *  0  -  -3
N. Ont (Henderson)                              0  0  *  0  *  0  0  *  *  -  -  -  *  0  0  -  *  -4
Y/NWT (Cowan)                                   0  0  *  0  *  -  0  *  *  0  0  -  *  0  -  -  *  -4
PEI (Campbell)                                  *  +  *  0  0  *  -  -  -  *  0  -  -  *  0  *  -  -5
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2003 Nokia Brier
                           Presented by Sheraton Hotels & Resorts
                                    Halifax, Nova Scotia
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   100  FOR       3    12     22   16    9    1    1    0   90   8.2   17  0.90
                 AGAINST   7     8     27   12    2    0    0    0   57   5.2    9  0.57
 
B.C.   11    98  FOR       8    14     26   17    3    0    0    0   69   6.3   18  0.70
                 AGAINST   4     9     25   12    3    0    0    0   58   5.3   11  0.59
 
MAN    11   103  FOR      12     6     28   10    2    0    0    0   54   4.9    7  0.52
                 AGAINST   5     9     28   14    3    1    0    0   69   6.3   13  0.67
 
N.B.   11    98  FOR       6     8     24   13    6    0    2    0   78   7.1   13  0.80
                 AGAINST   4     7     29   10    4    0    0    0   61   5.5   10  0.62
 
NFLD   11    97  FOR       7    15     30   11    1    1    1    0   64   5.8   16  0.66
                 AGAINST   8     9     21   12    4    1    0    0   61   5.5   14  0.63
 
NONT   11   106  FOR      11    10     28   13    3    0    0    0   63   5.7   11  0.59
                 AGAINST   6    12     23   14    8    0    0    0   75   6.8   15  0.71
 
N.S.   11   102  FOR       3     4     23   13    5    1    0    0   68   6.2    6  0.67
                 AGAINST  13     9     26   13    4    0    1    0   69   6.3   10  0.68
 
ONT    11   101  FOR       4     8     25   11    3    2    1    0   69   6.3   11  0.68
                 AGAINST   9     9     27   13    6    0    0    0   71   6.5   12  0.70
 
PEI    11    99  FOR       4     4     26    8    5    0    0    0   57   5.2    4  0.58
                 AGAINST  10     8     24   12    5    2    3    0   86   7.8   13  0.87
 
QUE    11    97  FOR       3    14     27   14    5    0    0    0   70   6.4   20  0.72
                 AGAINST   7     9     28    9    3    1    0    0   59   5.4    9  0.61
 
SASK   11   106  FOR      11     6     26   13    3    0    0    0   61   5.5    6  0.58
                 AGAINST   5    12     31   16    0    0    1    0   68   6.2   14  0.64
 
YNWT   11   107  FOR       9     8     33   11    3    0    0    0   64   5.8   10  0.60
                 AGAINST   3     8     29   13    6    0    0    0   73   6.6    9  0.68
 
 
TOTAL  66   607  FOR      81   109    318  150   48    5    5    0  807   6.1  139  0.66
                 AGAINST  81   109    318  150   48    5    5    0  807   6.1  139  0.66
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2003 Nokia Brier
                           Presented by Sheraton Hotels & Resorts
                                    Halifax, Nova Scotia
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  NONT  N.S.  ONT   PEI   QUE   SASK  YNWT  
 
 
ALTA     *     W     W     W     W     W     W     W     W     W     W     W  
 
 
B.C.     L     *     L     W     W     W     W     W     W     L     L     W  
 
 
MAN      L     W     *     L     L     L     L     L     W     L     L     W  
 
 
N.B.     L     L     W     *     W     W     L     W     W     L     W     W  
 
 
NFLD     L     L     W     L     *     W     L     W     W     W     W     L  
 
 
NONT     L     L     W     L     L     *     L     W     W     L     W     W  
 
 
N.S.     L     L     W     W     W     W     *     L     W     L     W     W  
 
 
ONT      L     L     W     L     L     L     W     *     W     W     L     W  
 
 
PEI      L     L     L     L     L     L     L     L     *     W     L     L  
 
 
QUE      L     W     W     W     L     W     W     L     L     *     L     W  
 
 
SASK     L     W     W     L     L     L     L     W     W     W     *     L  
 
 
YNWT     L     L     L     L     W     L     L     L     W     L     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2003 Nokia Brier
                           Presented by Sheraton Hotels & Resorts
                                    Halifax, Nova Scotia
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Ferbey)                         #SH   205  274  479   226  245  471   431  519  950
                                  PTS   722  972 1694   778  844 1622  1500 1816 3316
                                  PCT    88   89   88    86   86   86    87   87   87
 
 1 Marcel Rocque                            #SH    45  123  168    20   28   48    65  151  216
                                  PTS   168  455  623    68   93  161   236  548  784
                                  PCT    93   92   93    85   83   84    91   91   91
 
 2 Scott Pfeifer                            #SH    43   48   91    77   71  148   120  119  239
                                  PTS   154  160  314   270  250  520   424  410  834
                                  PCT    90   83   86    88   88   88    88   86   87
 
 3 Randy Ferbey (S)                         #SH    53   43   96    64   80  144   117  123  240
                                  PTS   175  150  325   220  282  502   395  432  827
                                  PCT    83   87   85    86   88   87    84   88   86
 
 4 David Nedohin                            #SH    61   48  109    63   65  128   124  113  237
                                  PTS   213  162  375   212  215  427   425  377  802
                                  PCT    87   84   86    84   83   83    86   83   85
 
 5 Dan Holowaychuk                          #SH     3   12   15     2    1    3     5   13   18
                                  PTS    12   45   57     8    4   12    20   49   69
                                  PCT   100   94   95   100  100  100   100   94   96
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Ryan)                              #SH   289  229  518   202  214  416   491  443  934
                                  PTS   977  733 1710   699  719 1418  1676 1452 3128
                                  PCT    85   80   83    87   84   85    85   82   84
 
 1 Kevin MacKenzie                          #SH   100   85  185    24   29   53   124  114  238
                                  PTS   355  316  671    82   90  172   437  406  843
                                  PCT    89   93   91    85   78   81    88   89   89
 
 2 Deane Horning                            #SH    56   44  100    66   66  132   122  110  232
                                  PTS   187  139  326   231  231  462   418  370  788
                                  PCT    83   79   82    88   88   88    86   84   85
 
 3 Bob Ursel                                #SH    70   42  112    69   55  124   139   97  236
                                  PTS   230  119  349   234  189  423   464  308  772
                                  PCT    82   71   78    85   86   85    83   79   82
 
 4 Pat Ryan                                 #SH    63   58  121    43   64  107   106  122  228
                                  PTS   205  159  364   152  209  361   357  368  725
                                  PCT    81   69   75    88   82   84    84   75   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Bubbs)                         #SH   254  220  474   168  205  373   422  425  847
                                  PTS   792  714 1506   580  673 1253  1372 1387 2759
                                  PCT    78   81   79    86   82   84    81   82   81
 
 1 Dan Kelsch                               #SH    89   82  171    18   24   42   107  106  213
                                  PTS   294  283  577    68   76  144   362  359  721
                                  PCT    83   86   84    94   79   86    85   85   85
 
 2 Bob Scales                               #SH    53   52  105    50   59  109   103  111  214
                                  PTS   160  172  332   172  193  365   332  365  697
                                  PCT    75   83   79    86   82   84    81   82   81
 
 3 Bob Jenion                               #SH    61   49  110    50   54  104   111  103  214
                                  PTS   197  146  343   170  179  349   367  325  692
                                  PCT    81   74   78    85   83   84    83   79   81
 
 4 John Bubbs                               #SH    51   37   88    50   68  118   101  105  206
                                  PTS   141  113  254   170  225  395   311  338  649
                                  PCT    69   76   72    85   83   84    77   80   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Howard)                            #SH   186  224  410   135  334  469   321  558  879
                                  PTS   637  788 1425   459 1138 1597  1096 1926 3022
                                  PCT    86   88   87    85   85   85    85   86   86
 
 1 Grant Odishaw                            #SH    70  100  170    11   36   47    81  136  217
                                  PTS   264  358  622    42  118  160   306  476  782
                                  PCT    94   90   91    95   82   85    94   88   90
 
 2 Marc LeCocq                              #SH    41   42   83    40   99  139    81  141  222
                                  PTS   137  146  283   136  338  474   273  484  757
                                  PCT    84   87   85    85   85   85    84   86   85
 
 3 James Grattan                            #SH    34   41   75    51   96  147    85  137  222
                                  PTS   108  141  249   166  331  497   274  472  746
                                  PCT    79   86   83    81   86   85    81   86   84
 
 4 Russ Howard                              #SH    41   41   82    33  103  136    74  144  218
                                  PTS   128  143  271   115  351  466   243  494  737
                                  PCT    78   87   83    87   85   86    82   86   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Gushue)                            #SH   131  308  439   143  212  355   274  520  794
                                  PTS   417 1054 1471   462  705 1167   879 1759 2638
                                  PCT    80   86   84    81   83   82    80   85   83
 
 1 Mark Ward                                #SH    25  140  165     5   27   32    30  167  197
                                  PTS    89  505  594    20   96  116   109  601  710
                                  PCT    89   90   90   100   89   91    91   90   90
 
 2 Jamie Korab                              #SH    36   54   90    51   59  110    87  113  200
                                  PTS   123  178  301   162  182  344   285  360  645
                                  PCT    85   82   84    79   77   78    82   80   81
 
 3 Mark Nichols                             #SH    40   54   94    44   62  106    84  116  200
                                  PTS   105  182  287   143  209  352   248  391  639
                                  PCT    66   84   76    81   84   83    74   84   80
 
 4 Brad Gushue                              #SH    30   60   90    43   64  107    73  124  197
                                  PTS   100  189  289   137  218  355   237  407  644
                                  PCT    83   79   80    80   85   83    81   82   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ont (Henderson)                       #SH   269  196  465   210  176  386   479  372  851
                                  PTS   859  593 1452   688  545 1233  1547 1138 2685
                                  PCT    80   76   78    82   77   80    81   76   79
 
 1 Tim Lindsay                              #SH    82   86  168    22   24   46   104  110  214
                                  PTS   273  267  540    76   74  150   349  341  690
                                  PCT    83   78   80    86   77   82    84   78   81
 
 2 Mike Desilets                            #SH    68   36  104    55   55  110   123   91  214
                                  PTS   222  116  338   186  187  373   408  303  711
                                  PCT    82   81   81    85   85   85    83   83   83
 
 3 Art Lappalainen                          #SH    67   29   96    68   50  118   135   79  214
                                  PTS   208   82  290   220  139  359   428  221  649
                                  PCT    78   71   76    81   70   76    79   70   76
 
 4 Scott Henderson                          #SH    52   45   97    65   47  112   117   92  209
                                  PTS   156  128  284   206  145  351   362  273  635
                                  PCT    75   71   73    79   77   78    77   74   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Dacey)                      #SH   362  194  556   218  293  511   580  487 1067
                                  PTS  1152  589 1741   696  942 1638  1848 1531 3379
                                  PCT    80   76   78    80   80   80    80   79   79
 
 1 Andrew Gibson                            #SH   178   39  217    22   25   47   200   64  264
                                  PTS   607  119  726    70   85  155   677  204  881
                                  PCT    85   76   84    80   85   82    85   80   83
 
 2 Rob Harris                               #SH    74   48  122    64   84  148   138  132  270
                                  PTS   226  142  368   222  255  477   448  397  845
                                  PCT    76   74   75    87   76   81    81   75   78
 
 3 Bruce Lohnes                             #SH    61   51  112    57  100  157   118  151  269
                                  PTS   176  154  330   167  343  510   343  497  840
                                  PCT    72   75   74    73   86   81    73   82   78
 
 4 Mark Dacey                               #SH    49   56  105    75   84  159   124  140  264
                                  PTS   143  174  317   237  259  496   380  433  813
                                  PCT    73   78   75    79   77   78    77   77   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Cochrane)                       #SH   163  326  489   106  229  335   269  555  824
                                  PTS   510 1097 1607   350  734 1084   860 1831 2691
                                  PCT    78   84   82    83   80   81    80   82   82
 
 1 John Steski                              #SH    30  146  176    10   20   30    40  166  206
                                  PTS   108  497  605    36   65  101   144  562  706
                                  PCT    90   85   86    90   81   84    90   85   86
 
 2 Ian MacAulay                             #SH    44   63  107    23   78  101    67  141  208
                                  PTS   134  216  350    68  259  327   202  475  677
                                  PCT    76   86   82    74   83   81    75   84   81
 
 3 Bill Gamble                              #SH    49   56  105    36   67  103    85  123  208
                                  PTS   151  187  338   118  216  334   269  403  672
                                  PCT    77   83   80    82   81   81    79   82   81
 
 4 Bryan Cochrane                           #SH    40   61  101    37   64  101    77  125  202
                                  PTS   117  197  314   128  194  322   245  391  636
                                  PCT    73   81   78    86   76   80    80   78   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (Campbell)                           #SH   210  267  477   151  169  320   361  436  797
                                  PTS   701  848 1549   493  548 1041  1194 1396 2590
                                  PCT    83   79   81    82   81   81    83   80   81
 
 1 Mike Dillon                              #SH    79   85  164    14   21   35    93  106  199
                                  PTS   270  300  570    46   73  119   316  373  689
                                  PCT    85   88   87    82   87   85    85   88   87
 
 2 Philip Gorveatt                          #SH    48   50   98    53   49  102   101   99  200
                                  PTS   154  157  311   175  152  327   329  309  638
                                  PCT    80   79   79    83   78   80    81   78   80
 
 3 Kevin Champion                           #SH    38   64  102    53   45   98    91  109  200
                                  PTS   124  187  311   169  140  309   293  327  620
                                  PCT    82   73   76    80   78   79    80   75   78
 
 4 Robert Campbell                          #SH    45   68  113    31   54   85    76  122  198
                                  PTS   153  204  357   103  183  286   256  387  643
                                  PCT    85   75   79    83   85   84    84   79   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Hemmings)                        #SH   255  183  438   206  150  356   461  333  794
                                  PTS   863  604 1467   669  498 1167  1532 1102 2634
                                  PCT    85   83   84    81   83   82    83   83   83
 
 1 Dale Ness                                #SH   111   46  157    23   15   38   134   61  195
                                  PTS   389  150  539    70   49  119   459  199  658
                                  PCT    88   82   86    76   82   78    86   82   84
 
 2 Jean-Michel Menard                       #SH    50   39   89    69   44  113   119   83  202
                                  PTS   168  133  301   245  152  397   413  285  698
                                  PCT    84   85   85    89   86   88    87   86   86
 
 3 Don Westphal                             #SH    46   50   96    59   47  106   105   97  202
                                  PTS   144  158  302   189  156  345   333  314  647
                                  PCT    78   79   79    80   83   81    79   81   80
 
 4 Guy Hemmings                             #SH    48   48   96    55   44   99   103   92  195
                                  PTS   162  163  325   165  141  306   327  304  631
                                  PCT    84   85   85    75   80   77    79   83   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Harcourt)                          #SH   264  182  446   201  212  413   465  394  859
                                  PTS   906  608 1514   675  707 1382  1581 1315 2896
                                  PCT    86   84   85    84   83   84    85   83   84
 
 1 Brian Wempe                              #SH   124   49  173    29   14   43   153   63  216
                                  PTS   453  183  636   100   52  152   553  235  788
                                  PCT    91   93   92    86   93   88    90   93   91
 
 2 Greg Harcourt                            #SH    41   53   94    38   84  122    79  137  216
                                  PTS   131  180  311   124  292  416   255  472  727
                                  PCT    80   85   83    82   87   85    81   86   84
 
 3 Kevin Kalthoff                           #SH    44   36   80    65   70  135   109  106  215
                                  PTS   140  110  250   222  235  457   362  345  707
                                  PCT    80   76   78    85   84   85    83   81   82
 
 4 Doug Harcourt                            #SH    55   44   99    69   44  113   124   88  212
                                  PTS   182  135  317   229  128  357   411  263  674
                                  PCT    83   77   80    83   73   79    83   75   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Cowan)                            #SH   318  188  506   170  199  369   488  387  875
                                  PTS  1049  567 1616   535  625 1160  1584 1192 2776
                                  PCT    82   75   80    79   79   79    81   77   79
 
 1 Ross Milward                             #SH   139   31  170    16   33   49   155   64  219
                                  PTS   490  111  601    56   91  147   546  202  748
                                  PCT    88   90   88    88   69   75    88   79   85
 
 2 James Buyck                              #SH    70   49  119    49   54  103   119  103  222
                                  PTS   228  131  359   148  183  331   376  314  690
                                  PCT    81   67   75    76   85   80    79   76   78
 
 3 Doug Bryant                              #SH    56   49  105    61   56  117   117  105  222
                                  PTS   176  148  324   203  181  384   379  329  708
                                  PCT    79   76   77    83   81   82    81   78   80
 
 4 Chad Cowan                               #SH    53   59  112    44   56  100    97  115  212
                                  PTS   155  177  332   128  170  298   283  347  630
                                  PCT    73   75   74    73   76   75    73   75   74
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                      2003 Nokia Brier
                           Presented by Sheraton Hotels & Resorts
                                    Halifax, Nova Scotia
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  4    PEI   7  ONT  12
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW 15    NFLD  1  B.C.  9
          DRAW 17    B.C.  5  N.S.  1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  4    PEI   7  ONT  12
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW 17    B.C.  5  N.S.  1
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  1    ALTA 10  N.S.  4    ALTA SCORED 5 IN THE 8TH END
          DRAW  4    PEI   7  ONT  12    ONT  SCORED 5 IN THE 7TH END
          DRAW 12    NFLD 10  PEI   3    NFLD SCORED 5 IN THE THIRD END
          DRAW 16    N.B.  9  SASK  3    N.B. SCORED 5 IN THE 9TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW 13    PEI   3  N.B.  9    N.B. SCORED 5 IN THE 5TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  8    PEI   3  MAN   4
          DRAW 17    B.C.  5  N.S.  1
 
NUMBER OF BLANK ENDS IN EVENT:  82
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAW  6
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  1    SASK  5  NFLD  6    BY SASK BEGINNING IN END 2
          DRAW  4    NONT  4  NFLD  6    BY NFLD BEGINNING IN END 8
          DRAW  7    SASK  6  PEI   5    BY SASK BEGINNING IN END 1
          DRAW  8    PEI   3  MAN   4    BY PEI  BEGINNING IN END 4
          DRAW  8    B.C.  6  N.B.  2    BY B.C. BEGINNING IN END 1
          DRAW 11    NONT  4  QUE   9    BY NONT BEGINNING IN END 1
          DRAW 13    B.C.  4  MAN   6    BY MAN  BEGINNING IN END 3
          DRAW 15    NONT  7  PEI   6    BY NONT BEGINNING IN END 5
          DRAW 16    N.S.  8  NFLD  5    BY NFLD BEGINNING IN END 6
          DRAW 16    ALTA  8  NONT  4    BY NONT BEGINNING IN END 6
          DRAW 17    B.C.  5  N.S.  1    BY B.C. BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  4    QUE   8  B.C.  3
          DRAW  6    ALTA  5  NFLD  3
          DRAW 10    MAN   5  NFLD  7
          DRAW 15    NFLD  1  B.C.  9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW 13    PEI   3  N.B.  9    BY N.B. BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW 13    PEI   3  N.B.  9    BY N.B.
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  2    NFLD  6  YNWT  7    YNWT WAS DOWN 3 AFTER 3 ENDS
          DRAW  2    SASK  5  NONT  8    NONT WAS DOWN 3 AFTER 4 ENDS
          DRAW 12    YNWT  6  ONT   7    ONT  WAS DOWN 3 AFTER 6 ENDS
          DRAW 16    N.S.  8  NFLD  5    N.S. WAS DOWN 3 AFTER 3 ENDS
          DRAW 17    PEI   8  ALTA  9    ALTA WAS DOWN 3 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:   4
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    YNWT  5  NONT  6
          DRAW 10    N.S.  6  YNWT  5
          DRAW 14    N.S.  7  SASK  6
          DRAW 15    NONT  7  PEI   6
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW 12    NFLD 10  PEI   3
          DRAW 13    PEI   3  N.B.  9
          DRAW 15    NFLD  1  B.C.  9
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW 13    ONT   3  ALTA  7    BY ONT 
  </div>
</div>
