<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2009 Tim Hortons Brier
                                    Presented by Monsanto
                           Pengrowth Saddledome, Calgary, Alberta
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Steve Bice                               ONT   ** ** ** ** ** ** ** **100 ** ** ** ** ** ** ** ** 100
 1 Steve Gould                              MAN   94 84 ** 93 ** 89 91 ** ** 91 85 95 ** 91 81 94 **  90
 2 Ben Hebert                               ALTA  96 ** 88 ** 88 93 ** 85 88 88 ** ** 85 91 ** 85 88  89
 3 Craig Savill                             ONT   ** 83 ** 97 90 ** 84 85 85 ** 79 94 90 ** 88 ** 95  88
 4 Mark Olson                               B.C.  ** 90 ** 93 94 ** 77 85 88 ** 80 78 92 ** 95 ** 83  87
 4 Peter Case                               N.B.  85 ** 88 ** ** 82 ** 92 ** 78 ** ** 94 ** ** 79 94  87
 6 Lee Toner                                NONT  ** 76 ** 88 88 ** 94 84 88 ** 98 83 80 ** 86 ** 84  86
 7 Dean Hicke                               SASK  83 ** 89 ** 84 92 ** 81 80 90 ** ** 77 95 ** 85 81  85
 8 Jean Gagnon                              QUE   86 ** 81 ** 91 89 ** 90 91 72 ** ** 88 73 ** 76 85  84
 8 Mark O'Rourke                            PEI   75 80 ** 85 ** 80 81 ** ** 85 84 79 ** 92 84 91 **  84
10 Jamie Korab                              NL    ** 80 ** 92 78 ** 80 85 91 ** 87 77 78 ** 83 ** 86  83
10 Kris Granchelli                          N.S.  82 79 ** 82 ** 91 90 ** ** 80 89 77 ** 81 76 83 **  83
 + Steven Howard                            N.B.  ** ** ** ** 75 ** ** ** 92 ** ** ** ** 81 ** ** **  83
12 Martin Gavin                             NWTY  69 86 ** 85 ** 85 63 ** ** 89 88 83 ** 80 78 89 **  82
 + Terry Meek                               ALTA  ** ** ** ** 75 ** ** ** ** ** ** **100 ** ** ** **  81
 + Scott Seabrook                           NONT  ** ** ** ** ** ** ** ** ** ** ** ** 63 ** ** ** **  63
 
   SECONDS
 1 Marc Kennedy                             ALTA  91 ** 98 ** 95 92 ** 86 94 98 ** ** 90 95 ** 82 81  91
 2 Eric Sylvain                             QUE   82 ** 91 ** 88 89 ** 89 80 73 ** ** 95 88 ** 88 78  86
 3 Brent Laing                              ONT   ** 88 ** 89 85 ** 84 86 91 ** 91 84 75 ** 80 ** 86  85
 3 Rob Fowler                               MAN   88 88 ** 85 ** 88 86 ** ** 83 66 88 ** 91 95 82 **  85
 + Steven Howard                            N.B.  ** ** 81 ** ** ** ** 88 ** 79 ** ** 75 ** ** ** 84  81
 5 Jason Vaughan                            N.B.  73 ** ** ** 94 81 ** ** 73 ** ** ** ** 83 ** 84 **  81
 5 Ryan Fry                                 NL    ** 76 ** 81 84 ** 90 74100 ** 86 77 80 ** 61 ** 81  81
 7 Brad Chorostkowski                       NWTY  72 76 ** 79 ** 79 89 ** ** 76 84 74 ** 88 86 79 **  80
 8 Aryn Schmidt                             SASK  66 ** 82 ** 70 69 ** 85 71 80 ** ** 78 84 ** 88 77  77
 8 Kevin Recksiedler                        B.C.  ** 67 ** 83 74 ** 64 86 84 ** 90 78 67 ** 77 ** 74  77
10 Luc Ouimet                               NONT  ** 69 ** 86 68 ** 69 85 70 ** 80 79 79 ** 73 ** 77  76
11 Andrew Gibson                            N.S.  71 86 ** 72 ** 83 74 ** ** 63 84 77 ** ** 68 63 **  74
12 Andrew Robinson                          PEI   84 79 ** 74 ** 89 66 ** ** 71 61 54 ** 65 75 74 **  73
 + Mathew Harris                            N.S.  ** ** ** ** ** ** ** ** ** ** ** ** ** 67 ** ** **  67
 + Tyler Klitch                             B.C.  ** ** ** ** ** ** ** ** 25 ** ** ** ** ** ** ** **  25
 
   THIRDS 
 1 Richard Hart                             ONT   ** 88 ** 95 95 ** 94 85 92 ** 91 89 88 ** 80 ** 74  88
 2 John Morris                              ALTA  85 ** 80 ** 89 89 ** 81100 94 ** ** 94 82 ** 76 88  86
 3 Kevin Park                               MAN   97 85 ** 89 ** 90 80 ** ** 80 83 79 ** 64 83 86 **  84
 4 James Grattan                            N.B.  83 ** 89 ** 80 79 ** 91 78 79 ** ** 65 81 ** 80 84  81
 4 Mark Nichols                             NL    ** 79 ** 72 99 ** 94 80 73 ** 90 58 79 ** 73 ** 78  81
 6 Martin Crete                             QUE   80 ** 75 ** 89 76 ** 79 73 84 ** ** 90 84 ** 84 72  80
 6 Scott Bitz                               SASK  74 ** 82 ** 80 74 ** 85 91 88 ** ** 61 92 ** 74 83  80
 6 Brent Pierce                             B.C.  ** 83 ** 89 83 ** 71 78 73 ** 94 78 81 ** 61 ** 78  80
 + Tom Naugler                              NWTY  ** ** ** ** ** ** 79 ** ** ** ** ** ** ** 77 ** **  77
 9 Jon Solberg                              NWTY  75 64 ** 83 ** 74 81 ** ** 81 95 66 ** 75 ** 71 **  77
10 Kevin Champion                           PEI   88 75 ** 75 ** 74 64 ** ** 75 66 71 ** 79 85 80 **  76
11 Matt Seabrook                            NONT  ** 58 ** 80 74 ** 65 79 81 ** 78 75 67 ** 75 ** 76  74
12 Bruce Lohnes                             N.S.  78 81 ** 67 ** 68 76 ** ** 66 74 67 ** 53 85 74 **  72
 
   SKIPS  
 1 Kevin Martin                             ALTA  86 ** 86 ** 88 86 ** 86 98 94 ** **100 88 ** 89 87  89
 2 Glenn Howard                             ONT   ** 86 ** 92 96 ** 81 85 92 ** 89 88 88 ** 91 ** 81  88
 3 Brad Gushue                              NL    ** 80 ** 87 89 ** 89 84 93 ** 82 96 88 ** 75 ** 89  86
 4 Jean-Michel Menard                       QUE   89 ** 70 ** 92 83 ** 69 63 86 ** ** 84 95 ** 90 83  82
 5 Russ Howard                              N.B.  86 ** 82 ** 81 75 ** 91 77 65 ** ** 76 76 ** 93 80  80
 5 Jeff Stoughton                           MAN   93 88 ** 79 ** 83 75 ** ** 54 90 75 ** 66 89 85 **  80
 7 Sean Geall                               B.C.  ** 76 ** 72 74 ** 48 81 79 ** 82 72 88 ** 55 ** 91  75
 8 Mark Dacey                               N.S.  69 74 ** 72 ** 72 83 ** ** 67 82 70 ** 72 74 76 **  74
 9 Joel Jordison                            SASK  75 ** 58 ** 59 70 ** 88 78 73 ** ** 75 66 ** 75 69  72
 9 Jamie Koe                                NWTY  42 83 ** 76 ** 78 53 ** ** 74 89 76 ** 72 67 61 **  72
11 Mike Jakubo                              NONT  ** 61 ** 55 71 ** 78 76 78 ** 86 55 52 ** 83 ** 80  71
12 Rod MacDonald                            PEI   84 65 ** 81 ** 64 67 ** ** 65 57 52 ** 54 68 74 **  67
 
   TEAMS
 1 Alberta (Martin)                               89 ** 88 ** 89 90 ** 85 95 93 ** ** 93 89 ** 83 86  88
 2 Ontario (G.Howard)                             ** 86 ** 93 92 ** 86 85 91 ** 88 88 85 ** 85 ** 84  87
 3 Manitoba (Stoughton)                           93 86 ** 86 ** 87 83 ** ** 77 81 84 ** 78 87 87 **  85
 4 Quebec (Menard)                                84 ** 79 ** 90 84 ** 82 77 79 ** ** 89 85 ** 84 80  83
 4 NL (Gushue)                                    ** 79 ** 83 88 ** 88 81 89 ** 86 77 81 ** 73 ** 84  83
 6 N.B. (R.Howard)                                81 ** 85 ** 82 79 ** 90 80 75 ** ** 78 80 ** 84 85  82
 7 B.C. (Geall)                                   ** 79 ** 84 81 ** 66 82 76 ** 87 77 82 ** 72 ** 81  79
 7 Sask (Jordison)                                74 ** 78 ** 73 76 ** 85 80 83 ** ** 73 84 ** 80 77  79
 9 NWT/Yukon (Koe)                                64 77 ** 81 ** 79 74 ** ** 80 89 75 ** 79 77 75 **  78
10 N.Ont (Jakubo)                                 ** 66 ** 77 75 ** 77 81 79 ** 85 73 69 ** 79 ** 79  77
11 Nova Scotia (Dacey)                            75 80 ** 73 ** 78 81 ** ** 69 82 73 ** 68 76 74 **  76
12 PEI (MacDonald)                                83 75 ** 79 ** 77 70 ** ** 74 68 64 ** 73 78 80 **  75
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2009 Tim Hortons Brier
                                    Presented by Monsanto
                           Pengrowth Saddledome, Calgary, Alberta
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Steve Gould                              MAN    +  0  *  +  *  0  +  *  *  +  +  +  *  0  0  +  *  +7
Ben Hebert                               ALTA   +  *  +  *  0  +  *  0  0  0  *  *  +  0  *  0  -  +3
Craig Savill                             ONT    *  0  *  +  0  *  0  0  -  *  -  +  0  *  +  *  +  +2
Mark O'Rourke                            PEI    +  0  *  -  *  -  0  *  *  0  0  0  *  +  0  +  *  +1
Jamie Korab                              NL     *  0  *  0  -  *  +  0  0  *  0  0  -  *  0  *  +   0
Mark Olson                               B.C.   *  +  *  0  0  *  -  -  0  *  0  0  +  *  +  *  -   0
Kris Granchelli                          N.S.   -  0  *  0  *  +  0  *  *  +  0  0  *  -  -  0  *  -1
Peter Case                               N.B.   -  *  0  *  *  -  *  +  *  -  *  *  +  *  *  -  +  -1
Dean Hicke                               SASK   0  *  0  *  0  +  *  0  -  0  *  *  -  +  *  -  -  -2
Jean Gagnon                              QUE    0  *  -  *  +  0  *  +  0  -  *  *  0  -  *  -  0  -2
Lee Toner                                NONT   *  -  *  -  +  *  0  -  +  *  +  -  -  *  0  *  0  -2
Martin Gavin                             NWTY   -  0  *  0  *  -  -  *  *  0  -  -  *  +  -  +  *  -4
 
SECONDS
Marc Kennedy                             ALTA   +  *  +  *  +  +  *  +  +  +  *  *  +  0  *  +  -  +8
Brent Laing                              ONT    *  +  *  0  +  *  +  0  +  *  +  +  -  *  +  *  +  +7
Rob Fowler                               MAN    +  +  *  +  *  0  +  *  *  0  -  +  *  0  +  -  *  +4
Eric Sylvain                             QUE    +  *  -  *  -  0  *  0  -  +  *  *  +  0  *  +  0  +1
Jason Vaughan                            N.B.   -  *  *  *  +  0  *  *  -  *  *  *  *  +  *  +  *  +1
Ryan Fry                                 NL     *  -  *  0  +  *  0  -  +  *  0  +  +  *  -  *  0  +1
Aryn Schmidt                             SASK   -  *  0  *  -  -  *  0  0  0  *  *  +  +  *  +  0   0
Andrew Gibson                            N.S.   -  +  *  -  *  0  +  *  *  -  0  0  *  *  -  -  *  -3
Brad Chorostkowski                       NWTY   -  -  *  +  *  -  0  *  *  0  0  -  *  0  +  -  *  -3
Luc Ouimet                               NONT   *  0  *  0  -  *  -  0  0  *  0  -  -  *  0  *  0  -4
Kevin Recksiedler                        B.C.   *  0  *  0  -  *  -  0  -  *  +  0  -  *  -  *  -  -5
Andrew Robinson                          PEI    +  -  *  -  *  +  -  *  *  -  -  -  *  -  0  -  *  -6
 
THIRDS 
John Morris                              ALTA   0  *  +  *  +  +  *  0  +  +  *  *  +  +  *  0  +  +8
Kevin Park                               MAN    +  +  *  +  *  +  +  *  *  0  -  0  *  -  +  +  *  +5
Richard Hart                             ONT    *  +  *  +  +  *  +  0  +  *  +  +  0  *  -  *  -  +5
Martin Crete                             QUE    +  *  -  *  +  -  *  0  0  +  *  *  0  +  *  0  0  +2
James Grattan                            N.B.   0  *  +  *  -  +  *  +  -  0  *  *  -  0  *  +  +  +2
Brent Pierce                             B.C.   *  +  *  +  -  *  -  0  -  *  +  +  +  *  -  *  -   0
Scott Bitz                               SASK   -  *  -  *  -  0  *  0  +  +  *  *  -  +  *  -  +  -1
Mark Nichols                             NL     *  -  *  -  +  *  +  0  0  *  +  -  +  *  -  *  -  -1
Kevin Champion                           PEI    +  -  *  -  *  0  -  *  *  -  -  +  *  0  +  0  *  -2
Bruce Lohnes                             N.S.   -  +  *  -  *  -  +  *  *  -  -  -  *  -  +  0  *  -4
Jon Solberg                              NWTY   -  -  *  +  *  -  -  *  *  -  +  -  *  -  *  -  *  -6
Matt Seabrook                            NONT   *  -  *  -  -  *  -  -  -  *  -  0  -  *  -  *  0  -9
 
SKIPS  
Kevin Martin                             ALTA   0  *  +  *  +  +  *  0  +  +  *  *  +  +  *  +  +  +9
Glenn Howard                             ONT    *  +  *  +  +  *  +  0  +  *  0  +  0  *  +  *  -  +6
Brad Gushue                              NL     *  -  *  +  +  *  +  0  +  *  0  +  +  *  -  *  +  +5
Jeff Stoughton                           MAN    +  +  *  0  *  0  +  *  *  -  0  +  *  -  +  +  *  +4
Jean-Michel Menard                       QUE    +  *  -  *  +  0  *  -  -  +  *  *  0  +  *  +  0  +2
Russ Howard                              N.B.   0  *  +  *  -  0  *  +  -  +  *  *  -  +  *  +  -  +1
Sean Geall                               B.C.   *  +  *  -  -  *  -  +  -  *  +  0  +  *  -  *  +   0
Mark Dacey                               N.S.   -  +  *  0  *  0  +  *  *  -  0  0  *  +  -  -  *  -1
Joel Jordison                            SASK   -  *  -  *  -  +  *  0  0  0  *  *  -  -  *  -  -  -6
Jamie Koe                                NWTY   -  -  *  0  *  -  -  *  *  0  0  -  *  -  +  -  *  -6
Mike Jakubo                              NONT   *  -  *  -  -  *  -  -  0  *  0  -  -  *  +  *  0  -6
Rod MacDonald                            PEI    +  -  *  0  *  -  -  *  *  -  -  -  *  -  -  -  *  -8
 
   TEAMS
Alberta (Martin)                                +  *  +  *  +  +  *  0  +  +  *  *  +  +  *  +  0  +9
Ontario (G.Howard)                              *  +  *  +  +  *  +  0  +  *  +  +  0  *  +  *  0  +8
Manitoba (Stoughton)                            +  +  *  +  *  0  +  *  *  0  -  +  *  -  +  +  *  +5
NL (Gushue)                                     *  -  *  0  +  *  +  0  +  *  0  +  0  *  -  *  +  +3
Quebec (Menard)                                 +  *  -  *  +  0  *  0  -  +  *  *  0  +  *  0  0  +2
N.B. (R.Howard)                                 -  *  +  *  -  0  *  +  -  0  *  *  0  +  *  +  0  +1
B.C. (Geall)                                    *  +  *  0  -  *  -  0  -  *  +  0  +  *  -  *  0  -1
NWT/Yukon (Koe)                                 -  -  *  +  *  -  -  *  *  0  0  -  *  -  +  -  *  -5
Nova Scotia (Dacey)                             -  +  *  -  *  0  0  *  *  -  0  0  *  -  -  -  *  -5
Sask (Jordison)                                 -  *  -  *  -  0  *  0  0  0  *  *  -  +  *  -  -  -5
N.Ont (Jakubo)                                  *  -  *  -  -  *  0  -  0  *  0  -  -  *  0  *  0  -6
PEI (MacDonald)                                 +  -  *  -  *  0  -  *  *  -  -  -  *  -  0  0  *  -6
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2009 Tim Hortons Brier
                                    Presented by Monsanto
                           Pengrowth Saddledome, Calgary, Alberta
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11    89  FOR       4    12     26   12    8    2    1    0   87   7.9   18  0.98
                 AGAINST   5     3     24    7    0    0    0    0   38   3.5    3  0.43
 
B.C.   11    89  FOR       4     7     19   13    3    1    1    0   63   5.7    9  0.71
                 AGAINST   4     9     30    9    2    1    2    0   68   6.2   10  0.76
 
MAN    11    95  FOR      12     7     16   13    9    0    0    0   69   6.3   11  0.73
                 AGAINST   6     8     27   11    1    0    0    0   52   4.7    9  0.55
 
N.B.   11    94  FOR       4    11     28   14    3    1    0    0   69   6.3   16  0.73
                 AGAINST   6     4     17   15    5    1    0    0   66   6.0    7  0.70
 
NL     11    93  FOR       2    13     24   21    2    1    1    0   81   7.4   15  0.87
                 AGAINST   3     2     27    7    5    0    0    0   56   5.1    2  0.60
 
NONT   11    99  FOR       5     4     28   12    0    0    0    0   52   4.7    6  0.53
                 AGAINST   5    13     24   19    4    2    0    0   82   7.5   18  0.83
 
NWTY   11    94  FOR       8     7     24   14    1    0    1    0   60   5.5    8  0.64
                 AGAINST   3    12     19   13   10    1    0    0   79   7.2   18  0.84
 
N.S.   11    96  FOR       3    10     26   11    2    1    0    0   58   5.3   12  0.60
                 AGAINST   2    17     26   17    6    1    1    0   87   7.9   25  0.91
 
ONT    11   100  FOR       3    11     24   14    9    1    0    0   83   7.5   17  0.83
                 AGAINST   8     6     25   15    1    0    0    0   58   5.3    7  0.58
 
PEI    11    95  FOR       5     9     24   12    2    0    0    0   54   4.9   14  0.57
                 AGAINST   3    17     25   19    3    1    1    0   81   7.4   21  0.85
 
QUE    11    96  FOR       3     7     24   13    7    1    1    0   80   7.3    8  0.83
                 AGAINST   4     6     27   10    6    0    0    0   65   5.9    9  0.68
 
SASK   11    98  FOR       2     9     31    9    3    0    0    0   58   5.3   13  0.59
                 AGAINST   6    10     23   16    6    1    1    0   82   7.5   18  0.84
 
 
TOTAL  66   569  FOR      55   107    294  158   49    8    5    0  814   6.2  147  0.72
                 AGAINST  55   107    294  158   49    8    5    0  814   6.2  147  0.72
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2009 Tim Hortons Brier
                                    Presented by Monsanto
                           Pengrowth Saddledome, Calgary, Alberta
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NL    NONT  NWTY  N.S.  ONT   PEI   QUE   SASK  
 
 
ALTA     *     W     W     W     W     W     W     W     W     W     W     W  
 
 
B.C.     L     *     L     W     L     W     L     W     L     W     W     W  
 
 
MAN      L     W     *     L     W     W     W     W     L     L     W     W  
 
 
N.B.     L     L     W     *     L     W     W     W     L     W     L     W  
 
 
NL       L     W     L     W     *     W     W     W     L     W     W     W  
 
 
NONT     L     L     L     L     L     *     L     L     L     W     L     W  
 
 
NWTY     L     W     L     L     L     W     *     W     L     L     L     L  
 
 
N.S.     L     L     L     L     L     W     L     *     L     W     L     L  
 
 
ONT      L     W     W     W     W     W     W     W     *     W     L     W  
 
 
PEI      L     L     W     L     L     L     W     L     L     *     L     L  
 
 
QUE      L     L     L     W     L     W     W     W     W     W     *     W  
 
 
SASK     L     L     L     L     L     L     W     W     L     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2009 Tim Hortons Brier
                                    Presented by Monsanto
                           Pengrowth Saddledome, Calgary, Alberta
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Martin)                         #SH   165  274  439   216  225  441   381  499  880
                                  PTS   579  968 1547   773  796 1569  1352 1764 3116
                                  PCT    88   88   88    89   88   89    89   88   89
 
 1 Ben Hebert                               #SH    36  155  191     4   15   19    40  170  210
                                  PTS   125  550  675    13   51   64   138  601  739
                                  PCT    87   89   88    81   85   84    86   88   88
 
 2 Marc Kennedy                             #SH    33   28   61    96   65  161   129   93  222
                                  PTS   126  100  226   357  224  581   483  324  807
                                  PCT    95   89   93    93   86   90    94   87   91
 
 3 John Morris                              #SH    34   37   71    65   86  151    99  123  222
                                  PTS   113  123  236   224  307  531   337  430  767
                                  PCT    83   83   83    86   89   88    85   87   86
 
 4 Kevin Martin                             #SH    60   50  110    51   57  108   111  107  218
                                  PTS   210  179  389   179  209  388   389  388  777
                                  PCT    88   90   88    88   92   90    88   91   89
 
 5 Terry Meek                               #SH     2    4    6     0    2    2     2    6    8
                                  PTS     5   16   21     0    5    5     5   21   26
                                  PCT    63  100   88   ***   63   63    63   88   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Geall)                             #SH   230  188  418   139  182  321   369  370  739
                                  PTS   741  589 1330   440  575 1015  1181 1164 2345
                                  PCT    81   78   80    79   79   79    80   79   79
 
 1 Mark Olson                               #SH   110   53  163     6   15   21   116   68  184
                                  PTS   393  181  574    20   45   65   413  226  639
                                  PCT    89   85   88    83   75   77    89   83   87
 
 2 Kevin Recksiedler                        #SH    33   49   82    42   60  102    75  109  184
                                  PTS    99  149  248   137  180  317   236  329  565
                                  PCT    75   76   76    82   75   78    79   75   77
 
 3 Brent Pierce                             #SH    38   38   76    51   61  112    89   99  188
                                  PTS   114  121  235   162  202  364   276  323  599
                                  PCT    75   80   77    79   83   81    78   82   80
 
 4 Sean Geall                               #SH    49   44   93    40   46   86    89   90  179
                                  PTS   135  134  269   121  148  269   256  282  538
                                  PCT    69   76   72    76   80   78    72   78   75
 
 5 Tyler Klitch                             #SH     0    4    4     0    0    0     0    4    4
                                  PTS     0    4    4     0    0    0     0    4    4
                                  PCT   ***   25   25   ***  ***  ***   ***   25   25
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Stoughton)                     #SH   247  309  556   182  354  536   429  663 1092
                                  PTS   793 1079 1872   601 1255 1856  1394 2334 3728
                                  PCT    80   87   84    83   89   87    81   88   85
 
 1 Steve Gould                              #SH   102  145  247     9   15   24   111  160  271
                                  PTS   374  526  900    36   53   89   410  579  989
                                  PCT    92   91   91   100   88   93    92   90   91
 
 2 Rob Fowler                               #SH    59   51  110    63  103  166   122  154  276
                                  PTS   171  177  348   217  373  590   388  550  938
                                  PCT    72   87   79    86   91   89    80   89   85
 
 3 Kevin Park                               #SH    38   53   91    60  125  185    98  178  276
                                  PTS   113  172  285   189  449  638   302  621  923
                                  PCT    74   81   78    79   90   86    77   87   84
 
 4 Jeff Stoughton                           #SH    48   60  108    50  111  161    98  171  269
                                  PTS   135  204  339   159  380  539   294  584  878
                                  PCT    70   85   78    80   86   84    75   85   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (R.Howard)                          #SH   222  212  434   145  213  358   367  425  792
                                  PTS   720  709 1429   464  699 1163  1184 1408 2592
                                  PCT    81   84   82    80   82   81    81   83   82
 
 1 Steven Howard                            #SH    47   42   89    22   37   59    69   79  148
                                  PTS   144  137  281    72  130  202   216  267  483
                                  PCT    77   82   79    82   88   86    78   84   82
 
 2 Jason Vaughan                            #SH    27   17   44    27   33   60    54   50  104
                                  PTS    90   47  137    82  118  200   172  165  337
                                  PCT    83   69   78    76   89   83    80   83   81
 
 3 James Grattan                            #SH    44   39   83    50   69  119    94  108  202
                                  PTS   142  128  270   168  214  382   310  342  652
                                  PCT    81   82   81    84   78   80    82   79   81
 
 4 Russ Howard                              #SH    59   33   92    42   60  102   101   93  194
                                  PTS   192  110  302   126  193  319   318  303  621
                                  PCT    81   83   82    75   80   78    79   81   80
 
 5 Peter Case                               #SH    45   81  126     4   14   18    49   95  144
                                  PTS   152  287  439    16   44   60   168  331  499
                                  PCT    84   89   87   100   79   83    86   87   87
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Gushue)                              #SH   211  236  447   144  246  390   355  482  837
                                  PTS   688  787 1475   460  831 1291  1148 1618 2766
                                  PCT    82   83   82    80   84   83    81   84   83
 
 1 Jamie Korab                              #SH    82   98  180     6   21   27    88  119  207
                                  PTS   282  342  624    16   58   74   298  400  698
                                  PCT    86   87   87    67   69   69    85   84   84
 
 2 Ryan Fry                                 #SH    30   40   70    46   95  141    76  135  211
                                  PTS    86  110  196   150  328  478   236  438  674
                                  PCT    72   69   70    82   86   85    78   81   80
 
 3 Mark Nichols                             #SH    39   42   81    57   74  131    96  116  212
                                  PTS   112  136  248   182  251  433   294  387  681
                                  PCT    72   81   77    80   85   83    77   83   80
 
 4 Brad Gushue                              #SH    60   56  116    35   56   91    95  112  207
                                  PTS   208  199  407   112  194  306   320  393  713
                                  PCT    87   89   88    80   87   84    84   88   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.Ont (Jakubo)                           #SH   221  277  498   158  162  320   379  439  818
                                  PTS   672  869 1541   466  506  972  1138 1375 2513
                                  PCT    76   78   77    74   78   76    75   78   77
 
 1 Lee Toner                                #SH    79  107  186    10    8   18    89  115  204
                                  PTS   271  379  650    33   22   55   304  401  705
                                  PCT    86   89   87    83   69   76    85   87   86
 
 2 Luc Ouimet                               #SH    41   68  109    49   48   97    90  116  206
                                  PTS   128  197  325   140  159  299   268  356  624
                                  PCT    78   72   75    71   83   77    74   77   76
 
 3 Matt Seabrook                            #SH    50   56  106    50   50  100   100  106  206
                                  PTS   138  176  314   139  155  294   277  331  608
                                  PCT    69   79   74    70   78   74    69   78   74
 
 4 Mike Jakubo                              #SH    49   46   95    49   56  105    98  102  200
                                  PTS   130  117  247   154  170  324   284  287  571
                                  PCT    66   64   65    79   76   77    72   70   71
 
 5 Scott Seabrook                           #SH     2    0    2     0    0    0     2    0    2
                                  PTS     5    0    5     0    0    0     5    0    5
                                  PCT    63  ***   63   ***  ***  ***    63  ***   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NWT/Yukon (Koe)                          #SH   211  244  455   141  167  308   352  411  763
                                  PTS   596  748 1344   467  556 1023  1063 1304 2367
                                  PCT    71   77   74    83   83   83    75   79   78
 
 1 Martin Gavin                             #SH    48  125  173     6   12   18    54  137  191
                                  PTS   147  414  561    19   43   62   166  457  623
                                  PCT    77   83   81    79   90   86    77   83   82
 
 2 Brad Chorostkowski                       #SH    51   45   96    52   44   96   103   89  192
                                  PTS   148  135  283   181  150  331   329  285  614
                                  PCT    73   75   74    87   85   86    80   80   80
 
 3 Jon Solberg                              #SH    51   34   85    39   52   91    90   86  176
                                  PTS   146   96  242   124  175  299   270  271  541
                                  PCT    72   71   71    79   84   82    75   79   77
 
 4 Jamie Koe                                #SH    56   34   90    41   51   92    97   85  182
                                  PTS   137   89  226   133  162  295   270  251  521
                                  PCT    61   65   63    81   79   80    70   74   72
 
 5 Tom Naugler                              #SH     5    6   11     3    8   11     8   14   22
                                  PTS    18   14   32    10   26   36    28   40   68
                                  PCT    90   58   73    83   81   82    88   71   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Dacey)                      #SH   309  189  498   150  144  294   459  333  792
                                  PTS   973  570 1543   449  404  853  1422  974 2396
                                  PCT    79   75   77    75   70   73    77   73   76
 
 1 Kris Granchelli                          #SH   146   39  185     6    7   13   152   46  198
                                  PTS   489  130  619    18   19   37   507  149  656
                                  PCT    84   83   84    75   68   71    83   81   83
 
 2 Andrew Gibson                            #SH    61   47  108    46   30   76   107   77  184
                                  PTS   184  141  325   131   90  221   315  231  546
                                  PCT    75   75   75    71   75   73    74   75   74
 
 3 Bruce Lohnes                             #SH    56   49  105    44   51   95   100  100  200
                                  PTS   160  151  311   128  138  266   288  289  577
                                  PCT    71   77   74    73   68   70    72   72   72
 
 4 Mark Dacey                               #SH    38   53   91    51   52  103    89  105  194
                                  PTS   122  147  269   161  144  305   283  291  574
                                  PCT    80   69   74    79   69   74    79   69   74
 
 5 Mathew Harris                            #SH     8    1    9     3    4    7    11    5   16
                                  PTS    18    1   19    11   13   24    29   14   43
                                  PCT    56   25   53    92   81   86    66   70   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (G.Howard)                       #SH   252  293  545   215  228  443   467  521  988
                                  PTS   846 1045 1891   737  796 1533  1583 1841 3424
                                  PCT    84   89   87    86   87   87    85   88   87
 
 1 Craig Savill                             #SH    87  130  217    11   11   22    98  141  239
                                  PTS   301  478  779    40   28   68   341  506  847
                                  PCT    86   92   90    91   64   77    87   90   89
 
 2 Brent Laing                              #SH    48   70  118    60   72  132   108  142  250
                                  PTS   141  243  384   205  257  462   346  500  846
                                  PCT    73   87   81    85   89   88    80   88   85
 
 3 Richard Hart                             #SH    56   42   98    81   71  152   137  113  250
                                  PTS   192  145  337   279  256  535   471  401  872
                                  PCT    86   86   86    86   90   88    86   89   87
 
 4 Glenn Howard                             #SH    58   51  109    63   74  137   121  125  246
                                  PTS   200  179  379   213  255  468   413  434  847
                                  PCT    86   88   87    85   86   85    85   87   86
 
 5 Steve Bice                               #SH     3    0    3     0    0    0     3    0    3
                                  PTS    12    0   12     0    0    0    12    0   12
                                  PCT   100  ***  100   ***  ***  ***   100  ***  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (MacDonald)                          #SH   176  271  447   121  207  328   297  478  775
                                  PTS   486  823 1309   379  632 1011   865 1455 2320
                                  PCT    69   76   73    78   76   77    73   76   75
 
 1 Mark O'Rourke                            #SH    40  133  173     3   17   20    43  150  193
                                  PTS   122  461  583    10   52   62   132  513  645
                                  PCT    76   87   84    83   76   78    77   86   84
 
 2 Andrew Robinson                          #SH    46   51   97    42   57   99    88  108  196
                                  PTS   119  137  256   123  192  315   242  329  571
                                  PCT    65   67   66    73   84   80    69   76   73
 
 3 Kevin Champion                           #SH    43   33   76    41   79  120    84  112  196
                                  PTS   120   92  212   135  247  382   255  339  594
                                  PCT    70   70   70    82   78   80    76   76   76
 
 4 Rod MacDonald                            #SH    47   54  101    35   54   89    82  108  190
                                  PTS   125  133  258   111  141  252   236  274  510
                                  PCT    66   62   64    79   65   71    72   63   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Menard)                          #SH   121  377  498   131  252  383   252  629  881
                                  PTS   389 1279 1668   419  836 1255   808 2115 2923
                                  PCT    80   85   84    80   83   82    80   84   83
 
 1 Jean Gagnon                              #SH    32  174  206     5   10   15    37  184  221
                                  PTS    98  606  704    12   26   38   110  632  742
                                  PCT    77   87   85    60   65   63    74   86   84
 
 2 Eric Sylvain                             #SH    32   70  102    48   71  119    80  141  221
                                  PTS   107  236  343   167  247  414   274  483  757
                                  PCT    84   84   84    87   87   87    86   86   86
 
 3 Martin Crete                             #SH    30   66   96    46   80  126    76  146  222
                                  PTS    98  209  307   155  250  405   253  459  712
                                  PCT    82   79   80    84   78   80    83   79   80
 
 4 Jean-Michel Menard                       #SH    27   67   94    32   91  123    59  158  217
                                  PTS    86  228  314    85  313  398   171  541  712
                                  PCT    80   85   84    66   86   81    72   86   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Jordison)                          #SH   285  251  536   130  139  269   415  390  805
                                  PTS   916  792 1708   395  428  823  1311 1220 2531
                                  PCT    80   79   80    76   77   76    79   78   79
 
 1 Dean Hicke                               #SH   103   81  184     6    7   13   109   88  197
                                  PTS   354  278  632    18   22   40   372  300  672
                                  PCT    86   86   86    75   79   77    85   85   85
 
 2 Aryn Schmidt                             #SH    65   57  122    36   44   80   101  101  202
                                  PTS   202  173  375   118  130  248   320  303  623
                                  PCT    78   76   77    82   74   78    79   75   77
 
 3 Scott Bitz                               #SH    58   59  117    42   47   89   100  106  206
                                  PTS   186  192  378   127  157  284   313  349  662
                                  PCT    80   81   81    76   84   80    78   82   80
 
 4 Joel Jordison                            #SH    59   54  113    46   41   87   105   95  200
                                  PTS   174  149  323   132  119  251   306  268  574
                                  PCT    74   69   71    72   73   72    73   71   72
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2009 Tim Hortons Brier
                                    Presented by Monsanto
                           Pengrowth Saddledome, Calgary, Alberta
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW 10    QUE  12  N.S.  5
          DRAW 16    QUE  12  PEI   8
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  1    NWTY  2  PEI   8
          DRAW  4    ONT   9  NONT  2
          DRAW  7    NWTY  2  NL    7
          DRAW  7    MAN   8  B.C.  2
          DRAW  9    ONT   7  N.B.  2
          DRAW  9    B.C.  2  ALTA  8
          DRAW 12    PEI   2  NL    8
          DRAW 13    NONT  2  ALTA  8
          DRAW 14    ALTA  7  MAN   2
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW 16    QUE  12  PEI   8
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   9
 
          DRAW  7    NWTY  2  NL    7
          DRAW  9    ONT   7  N.B.  2
          DRAW 10    N.B.  5  MAN   4
          DRAW 11    PEI   3  B.C.  6
          DRAW 14    ALTA  7  MAN   2
          DRAW 17    B.C.  5  N.B.  4
          DRAW 18    QUE   3  MAN   6
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  4    NL   10  B.C.  6    NL   SCORED 5 IN THE 7TH END
          DRAW 10    ALTA 11  PEI   4    ALTA SCORED 5 IN THE FIRST END
          DRAW 10    QUE  12  N.S.  5    QUE  SCORED 5 IN THE 6TH END
          DRAW 13    B.C. 10  SASK  6    B.C. SCORED 5 IN THE 4TH END
          DRAW 15    NWTY 11  B.C.  3    NWTY SCORED 5 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  5    SASK  3  ALTA 11    ALTA SCORED 4 IN THE 5TH END
 
MOST BLANK ENDS, ONE GAME:   3
 
          DRAW  4    MAN   5  PEI   6
          DRAW  4    ONT   9  NONT  2
          DRAW  6    QUE   4  MAN   7
          DRAW  9    ONT   7  N.B.  2
          DRAW 18    QUE   3  MAN   6
 
NUMBER OF BLANK ENDS IN EVENT:  60
 
MOST BLANK ENDS ONE DRAW:   7
 
          DRAWS  4  6
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  1    ALTA  7  N.B.  4    BY ALTA BEGINNING IN END 7
          DRAW  6    QUE   4  MAN   7    BY MAN  BEGINNING IN END 3
          DRAW  9    ONT   7  N.B.  2    BY N.B. BEGINNING IN END 6
          DRAW 16    ALTA  7  N.S.  3    BY N.S. BEGINNING IN END 3
          DRAW 18    QUE   3  MAN   6    BY QUE  BEGINNING IN END 7
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  1    NWTY  2  PEI   8
          DRAW  2    PEI   5  N.S.  8
          DRAW  7    N.S.  8  NONT  3
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  1    NWTY  2  PEI   8    BY PEI  BEGINNING IN END 1
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  1    NWTY  2  PEI   8    BY PEI 
          DRAW  5    SASK  3  ALTA 11    BY ALTA
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  4    NL   10  B.C.  6    NL   WAS DOWN 3 AFTER 1 END
          DRAW 12    NWTY  7  ONT   9    ONT  WAS DOWN 3 AFTER 4 ENDS
          DRAW 16    QUE  12  PEI   8    QUE  WAS DOWN 3 AFTER 1 END
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  6    SASK  6  PEI   5
          DRAW 17    NONT  6  QUE   7
          DRAW 19    ALTA  7  ONT   6
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  9    B.C.  2  ALTA  8
          DRAW 10    ALTA 11  PEI   4
          DRAW 12    PEI   2  NL    8
          DRAW 13    NONT  2  ALTA  8
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  1    NWTY  2  PEI   8    BY NWTY
          DRAW  4    ONT   9  NONT  2    BY NONT
          DRAW  6    SASK  6  PEI   5    BY PEI 
  </div>
</div>
