<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2011 Tim Hortons Brier
                                    Presented by Monsanto
                                       London, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Craig Burgess                  NS    ** ** ** ** ** ** ** ** ** ** ** ** ** ** **100 ** 100
 1 Ben Hebert                     AB    ** 88 94 93 ** ** 94 97 95 90 ** 93 **100 ** 85 91  92
 + Dustin Eckstrand               AB    ** ** ** ** ** ** 75 ** ** ** **100 ** ** ** ** **  92
 2 Craig Savill                   ON    84 ** ** 93 93 79 ** 95 ** 95 92 98 90 ** 93 ** 84  90
 + Paul Nason                     NB    ** ** ** ** ** ** ** ** ** ** ** ** ** 94 ** 84 **  89
 3 Steve Gould                    MB    83 83 84 ** 86 ** 85 ** 95 ** 99 ** 88 98 86 92 **  89
 4 Dallan Muyres                  SK    88 ** ** 81 91 98 ** 83 ** 95 80 96 84 ** 85 ** 90  88
 + Andrew Symonds                 NL    88 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  88
 + Scott Howard                   ON    ** ** ** **100 ** ** ** ** ** ** ** 75 ** ** ** **  88
 + Matt Dumontelle                NO    ** ** ** ** ** ** ** ** ** 88 ** ** ** 83 ** ** **  86
 + Mike Dillon                    PE    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 86 **  86
 5 Jamie Danbrook                 NL    90 ** ** 80 90 71 ** 81 ** 97 92 96 74 ** 91 ** 86  85
 5 Peter Case                     NB    70 78 83 ** 95 ** 83 ** 88 ** 90 ** 83 ** 93 ** **  85
 7 Kelly Mittelstadt              NS    ** 85 73 93 ** ** 91 89 84 82 ** 86 ** 96 ** 58 84  84
 7 Martin Gavin                   NT/Y  71 85 90 ** 86 ** 98 ** 81 ** 86 ** 81 84 82 86 **  84
 7 Alex MacFadyen                 PE    91 85 81 ** 86 ** 93 ** 88 ** 85 ** 54 70 91 ** **  84
 7 Rick Sawatsky                  BC    86 ** ** 96 74 80 ** 84 ** 89 80 95 70 ** 84 ** 89  84
11 Philippe Menard                QC    ** 72 98 92 ** ** 83 88 85 76 ** 81 ** 78 ** 81 84  83
11 Scott Seabrook                 NO    ** 86 78 77 ** ** 79 88 82 80 ** 89 ** 71 ** 75 99  83
 + Colin Millar                   NT/Y  ** ** ** ** ** ** 69 ** ** ** ** ** ** 94 ** ** **  81
 + Jamie Newson                   PE    ** ** ** ** ** ** ** ** ** ** ** ** 75 ** ** ** **  75
 + Kelly Knapp                    SK    ** ** ** ** ** ** ** ** ** ** ** 50 ** ** ** ** **  50
 
   SECONDS
 1 Marc Kennedy                   AB    ** 96 89100 ** ** 82 91 96 93 ** 89 ** 92 ** 80 84  90
 + Brad Wood                      BC    88 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  88
 2 Reid Carruthers                MB    95 82 92 ** 96 ** 94 ** 88 ** 85 ** 69 92 84 90 **  87
 3 Brent Laing                    ON    84 ** ** 89 77 91 ** 96 ** 78100 89 91 ** 79 ** 76  86
 3 Ryan Fry                       NL    86 ** ** 91 85 91 ** 94 ** 75 92 93 80 ** 69 ** 93  86
 5 Brennen Jones                  SK    74 ** ** 90 94 86 ** 79 ** 88 83 79 89 ** 85 ** 86  85
 6 Ryan Harnden                   NO    ** 79 94 92 ** ** 67 94 78 63 ** 88 ** 81 ** 81 93  83
 7 Andrew Gibson                  NS    ** 74 72 86 ** **100 80 81 82 ** 77 ** 82 ** 86 76  81
 7 Kevin Folk                     BC    92 ** ** 70 78 74 ** 89 ** 84 80 90 81 ** 93 ** 64  81
 9 Christian Bouchard             QC    ** 72 91 70 ** ** 75 61 75 86 ** 93 ** 81 ** 82 75  79
10 Mike Dillon                    PE    73 80 80 ** 70 ** 59 ** 88 ** 79 ** 83 ** 75 ** **  77
10 Steven Howard                  NB    70 67 86 ** 72 ** 63 ** 86 ** 65 ** 80 90 80 89 **  77
 + Jamie Newson                   PE    75 ** ** ** 81 ** ** ** ** ** ** ** ** 83 ** 68 **  76
12 Brad Chorostkowski             NT/Y  75 79 74 ** 72 ** 71 ** 75 ** 70 ** 74 80 64 74 **  74
 
   THIRDS 
 1 Richard Hart                   ON    90 ** ** 99 89 91 ** 86 ** 80 88 84 90 ** 91 ** 74  87
 1 Jon Mead                       MB    96 88 89 ** 77 ** 92 ** 80 ** 79 ** 85 97 89 88 **  87
 3 John Morris                    AB    ** 82 90 75 ** ** 82 94 86 76 ** 89 ** 67 ** 70 93  82
 4 Mark Nichols                   NL    88 ** ** 78 78 84 ** 89 ** 67 70 89 91 ** 80 ** 80  81
 4 E.J. Harnden                   NO    ** 68 76 84 ** ** 71 75 84 81 ** 89 ** 83 ** 88 89  81
 6 Ken Maskiewich                 BC    80 ** ** 70 88 88 ** 68 ** 88 88 85 79 ** 64 ** 66  79
 6 Paul Flemming                  NS    ** 64 77 86 ** ** 91 75 71 82 ** 73 ** 82 ** 88 81  79
 8 Robert Desjardins              QC    ** 76 95 73 ** ** 90 64 73 75 ** 81 ** 77 ** 79 76  78
 9 Charles Sullivan Jr.           NB    70 63 85 ** 81 ** 73 ** 65 ** 80 ** 90 89 85 64 **  77
10 Steve Laycock (S)              SK    63 ** ** 83 66 88 ** 83 ** 74 85 73 73 ** 75 ** 68  76
11 Tom Naugler                    NT/Y  71 65 78 ** 77 ** 70 ** 72 ** 80 ** 71 75 54 71 **  72
12 Mike Gaudet                    PE    75 68 72 ** 70 ** 70 ** 93 ** 76 ** 65 56 59 70 **  71
 
   SKIPS  
 1 Glenn Howard                   ON    83 ** ** 79 95 94 ** 82 ** 94 78 82 93 ** 95 ** 86  87
 2 Jeff Stoughton                 MB    95 90 89 ** 82 ** 79 ** 81 ** 79 ** 81100 70 85 **  84
 2 Brad Gushue                    NL    88 ** ** 81 62 93 ** 80 ** 85 84 82 91 ** 91 ** 87  84
 4 Brad Jacobs                    NO    ** 72 86 83 ** ** 83 84 89 71 ** 87 ** 87 ** 88 86  83
 5 Kevin Martin                   AB    ** 89 75 75 ** ** 86 69 85 93 ** 89 ** 85 ** 60 78  80
 6 Pat Simmons                    SK    83 ** ** 84 69 71 ** 79 ** 81 84 64 82 ** 75 ** 82  78
 7 James Grattan                  NB    84 69 78 ** 72 ** 95 ** 75 ** 68 ** 83 88 71 72 **  77
 7 Shawn Adams                    NS    ** 66 77 68 ** ** 91 85 78 76 ** 70 ** 74 ** 88 80  77
 7 Jim Cotter                     BC    68 ** ** 68 82 76 ** 74 ** 80 93 80 75 ** 73 ** 74  77
10 Francois Gagne                 QC    ** 85 81 81 ** ** 54 54 81 73 ** 81 ** 75 ** 69 79  74
11 Jamie Koe                      NT/Y  82 89 57 ** 80 ** 61 ** 59 ** 75 ** 80 67 54 79 **  72
12 Eddie MacKenzie                PE    48 78 67 ** 63 ** 48 ** 85 ** 69 ** 50 63 54 50 **  63
 
   TEAMS
 1 Ontario (Howard)                     85 ** ** 90 89 89 ** 90 ** 87 89 88 90 ** 89 ** 80  88
 2 Manitoba (Stoughton)                 93 86 89 ** 85 ** 88 ** 86 ** 86 ** 81 97 82 89 **  87
 3 Alberta (Martin)                     ** 89 87 86 ** ** 85 88 91 88 ** 91 ** 86 ** 74 86  86
 4 NL (Gushue)                          88 ** ** 82 79 85 ** 86 ** 81 85 90 84 ** 83 ** 86  84
 5 N.Ont (Jacobs)                       ** 76 83 84 ** ** 75 85 83 74 ** 88 ** 81 ** 83 91  82
 5 Sask (Laycock)                       77 ** ** 84 80 86 ** 81 ** 84 83 78 82 ** 80 ** 81  82
 7 Nova Scotia (Adams)                  ** 72 75 84 ** ** 93 82 79 81 ** 76 ** 83 ** 81 80  80
 7 B.C. (Cotter)                        81 ** ** 76 80 79 ** 78 ** 85 85 88 76 ** 79 ** 73  80
 9 NB (Grattan)                         73 69 83 ** 80 ** 78 ** 78 ** 76 ** 84 90 82 77 **  79
 9 Quebec (Gagne)                       ** 76 91 79 ** ** 76 67 78 78 ** 84 ** 78 ** 78 78  79
11 NT/YT (Koe)                          75 79 75 ** 79 ** 73 ** 72 ** 78 ** 77 78 63 78 **  75
12 P.E.I. (MacKenzie)                   72 78 75 ** 73 ** 67 ** 88 ** 77 ** 65 68 70 68 **  74
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2011 Tim Hortons Brier
                                    Presented by Monsanto
                                       London, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Steve Gould                    MB     0  +  +  *  0  *  +  *  +  *  +  *  0  0  -  +  *  +5
Ben Hebert                     AB     *  0  +  0  *  *  0  +  +  +  *  0  *  0  *  0  +  +5
Craig Savill                   ON     +  *  *  0  0  0  *  +  *  0  -  +  +  *  +  *  -  +3
Peter Case                     NB     -  -  -  *  +  *  0  *  0  *  +  *  +  *  +  *  *  +1
Jamie Danbrook                 NL     0  *  *  0  +  -  *  -  *  0  +  +  -  *  +  *  0  +1
Alex MacFadyen                 PE     0  0  -  *  0  *  0  *  0  *  +  *  -  0  +  *  *   0
Martin Gavin                   NT/Y   -  0  +  *  -  *  +  *  -  *  -  *  +  +  -  0  *  -1
Dallan Muyres                  SK     +  *  *  -  0  +  *  -  *  +  -  0  0  *  -  *  -  -2
Rick Sawatsky                  BC     0  *  *  0  -  0  *  0  *  -  -  +  -  *  -  *  +  -3
Scott Seabrook                 NO     *  0  -  0  *  *  -  0  0  0  *  -  *  0  *  -  +  -3
Kelly Mittelstadt              NS     *  +  -  0  *  *  -  +  -  0  *  -  *  0  *  -  -  -4
Philippe Menard                QC     *  -  +  +  *  *  0  -  0  -  *  -  *  -  *  -  0  -4
 
SECONDS
Marc Kennedy                   AB     *  +  0  +  *  *  +  0  +  +  *  +  *  0  *  +  +  +8
Ryan Fry                       NL     +  *  *  0  +  +  *  0  *  0  +  +  0  *  -  *  +  +5
Reid Carruthers                MB     0  +  +  *  +  *  +  *  +  *  -  *  -  0  +  +  *  +5
Brent Laing                    ON     +  *  *  0  -  +  *  +  *  0  +  0  +  *  +  *  -  +4
Brennen Jones                  SK     0  *  *  +  +  -  *  0  *  0  0  -  +  *  +  *  -  +1
Andrew Gibson                  NS     *  0  -  0  *  *  +  0  -  +  *  -  *  -  *  +  +   0
Ryan Harnden                   NO     *  -  +  0  *  *  -  +  0  -  *  0  *  0  *  -  +  -1
Kevin Folk                     BC     0  *  *  -  -  -  *  -  *  0  +  0  +  *  +  *  -  -2
Steven Howard                  NB     -  -  0  *  0  *  -  *  0  *  -  *  0  +  -  +  *  -3
Christian Bouchard             QC     *  0  +  -  *  *  +  -  0  -  *  0  *  0  *  -  -  -3
Mike Dillon                    PE     -  0  -  *  -  *  -  *  0  *  0  *  -  *  -  *  *  -6
Brad Chorostkowski             NT/Y   0  0  -  *  0  *  -  *  -  *  -  *  -  0  -  -  *  -7
 
THIRDS 
Jon Mead                       MB     +  +  +  *  +  *  +  *  +  *  -  *  +  +  +  +  *  +9
John Morris                    AB     *  +  +  +  *  *  +  +  +  0  *  +  *  -  *  0  +  +7
Richard Hart                   ON     +  *  *  +  +  0  *  +  *  +  +  -  +  *  +  *  -  +6
E.J. Harnden                   NO     *  -  0  +  *  *  -  +  +  0  *  +  *  +  *  +  +  +5
Ken Maskiewich                 BC     -  *  *  -  +  0  *  -  *  +  +  0  +  *  +  *  -  +1
Robert Desjardins              QC     *  +  +  -  *  *  +  -  -  0  *  0  *  0  *  -  0  -1
Tom Naugler                    NT/Y   +  0  0  *  0  *  -  *  -  *  +  *  -  0  -  0  *  -2
Steve Laycock (S)              SK     -  *  *  +  -  0  *  +  *  -  +  -  -  *  -  *  -  -4
Mark Nichols                   NL     +  *  *  -  -  0  *  -  *  -  -  +  0  *  -  *  0  -4
Paul Flemming                  NS     *  -  -  -  *  *  +  -  -  0  *  -  *  -  *  +  +  -4
Charles Sullivan Jr.           NB     -  -  -  *  0  *  -  *  -  *  -  *  0  +  +  -  *  -5
Mike Gaudet                    PE     -  0  -  *  -  *  -  *  +  *  -  *  -  -  -  -  *  -8
 
SKIPS  
Glenn Howard                   ON     0  *  *  +  +  +  *  +  *  +  0  -  +  *  +  *  +  +7
Brad Gushue                    NL     +  *  *  0  -  +  *  +  *  -  +  +  +  *  +  *  +  +6
Jeff Stoughton                 MB     +  +  +  *  +  *  0  *  +  *  0  *  0  +  -  +  *  +6
Brad Jacobs                    NO     *  -  +  0  *  *  0  +  +  -  *  +  *  +  *  +  0  +4
Kevin Martin                   AB     *  +  0  +  *  *  +  -  +  +  *  +  *  -  *  -  -  +2
Shawn Adams                    NS     *  -  -  -  *  *  +  +  -  +  *  -  *  -  *  +  +  -1
Jamie Koe                      NT/Y   0  +  -  *  +  *  -  *  -  *  -  *  +  -  -  +  *  -2
Pat Simmons                    SK     0  *  *  0  -  -  *  -  *  0  +  -  0  *  0  *  0  -3
Jim Cotter                     BC     -  *  *  -  +  -  *  -  *  0  +  0  -  *  +  *  -  -3
Francois Gagne                 QC     *  +  +  0  *  *  -  -  -  -  *  0  *  +  *  -  -  -3
James Grattan                  NB     0  -  0  *  -  *  +  *  -  *  -  *  -  +  0  -  *  -4
Eddie MacKenzie                PE     -  -  -  *  -  *  -  *  +  *  -  *  -  -  -  -  *  -9
 
   TEAMS
Manitoba (Stoughton)                  +  +  +  *  +  *  +  *  +  *  0  *  0  +  0  +  *  +8
Ontario (Howard)                      +  *  *  +  +  +  *  +  *  +  0  0  +  *  +  *  -  +7
Alberta (Martin)                      *  +  0  +  *  *  +  0  +  +  *  +  *  -  *  0  +  +6
NL (Gushue)                           +  *  *  0  0  0  *  0  *  -  +  +  0  *  0  *  +  +3
N.Ont (Jacobs)                        *  -  +  0  *  *  -  +  +  -  *  0  *  +  *  +  +  +3
Nova Scotia (Adams)                   *  0  -  -  *  *  +  0  -  +  *  -  *  -  *  +  +  -1
Sask (Laycock)                        0  *  *  +  -  0  *  0  *  0  +  -  0  *  0  *  -  -1
B.C. (Cotter)                         -  *  *  -  0  -  *  -  *  0  +  0  0  *  +  *  -  -3
NB (Grattan)                          -  -  0  *  0  *  0  *  -  *  -  *  0  +  0  -  *  -4
Quebec (Gagne)                        *  0  +  -  *  *  0  -  -  -  *  0  *  0  *  -  -  -5
NT/YT (Koe)                           0  0  -  *  0  *  -  *  -  *  -  *  0  0  -  0  *  -5
P.E.I. (MacKenzie)                    -  0  -  *  -  *  -  *  +  *  -  *  -  -  -  -  *  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2011 Tim Hortons Brier
                                    Presented by Monsanto
                                       London, Ontario
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
PE     11    86  FOR       4     8     26    6    0    0    0    0   38   3.5    8  0.44
                 AGAINST   2    20     18   14   12    2    2    0  100   9.1   32  1.16
 
NS     11    96  FOR       5    10     27    9    7    1    0    0   70   6.4   16  0.73
                 AGAINST   5     7     22   11    8    1    0    0   72   6.5   10  0.75
 
NL     11    99  FOR       8    13     25   13    7    1    1    0   81   7.4   19  0.82
                 AGAINST   7     8     25   10    2    0    0    0   51   4.6   10  0.52
 
NB     11   107  FOR       6     8     28   14    1    0    0    0   59   5.4   12  0.55
                 AGAINST  13     6     26   15    3    1    0    0   69   6.3    8  0.64
 
QC     11   102  FOR       6     5     21   16    3    3    0    0   74   6.7    6  0.73
                 AGAINST   4    10     28   15    4    2    0    0   78   7.1   15  0.76
 
ON     11    95  FOR       6    13     18   13   10    2    0    0   82   7.5   23  0.86
                 AGAINST  16     2     21    8    1    0    0    0   40   3.6    3  0.42
 
NO     11   103  FOR       9    11     30   13    4    0    0    0   68   6.2   16  0.66
                 AGAINST   9     6     22   12    3    1    0    0   59   5.4   12  0.57
 
MB     11    95  FOR      11     7     11   19    7    2    1    0   83   7.5   12  0.87
                 AGAINST   8     5     24   11    1    0    0    0   49   4.5    7  0.52
 
SK     11   106  FOR       5    10     35    9    2    0    0    0   59   5.4   12  0.56
                 AGAINST   7    11     27   16    3    2    0    0   76   6.9   15  0.72
 
AB     11    96  FOR      10    15     20   20    4    1    0    0   76   6.9   24  0.79
                 AGAINST   5     8     22   12    2    0    0    0   52   4.7   11  0.54
 
BC     11   102  FOR       8     8     29   11    2    0    0    0   57   5.2   10  0.56
                 AGAINST   5    14     33    8    5    1    0    0   68   6.2   16  0.67
 
NT/Y   11    99  FOR       5     5     26    8    3    1    0    0   55   5.0    8  0.56
                 AGAINST   2    16     28   19    6    1    0    0   88   8.0   27  0.89
 
 
TOTAL  66   593  FOR      83   113    296  151   50   11    2    0  802   6.1  166  0.68
                 AGAINST  83   113    296  151   50   11    2    0  802   6.1  166  0.68
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2011 Tim Hortons Brier
                                    Presented by Monsanto
                                       London, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        PE    NS    NL    NB    QC    ON    NO    MB    SK    AB    BC    NT/Y  
 
 
PE       *     L     L     W     L     L     L     L     L     L     L     L  
 
 
NS       W     *     L     L     L     L     W     L     W     L     W     W  
 
 
NL       W     W     *     W     W     L     W     W     W     W     L     W  
 
 
NB       L     W     L     *     W     W     L     L     W     L     L     L  
 
 
QC       W     W     L     L     *     L     L     L     L     L     L     W  
 
 
ON       W     W     W     L     W     *     L     W     W     L     W     W  
 
 
NO       W     L     L     W     W     W     *     L     W     L     W     W  
 
 
MB       W     W     L     W     W     L     W     *     W     W     W     W  
 
 
SK       W     L     L     L     W     L     L     L     *     L     W     W  
 
 
AB       W     W     L     W     W     W     W     L     W     *     W     W  
 
 
BC       W     L     W     W     W     L     L     L     L     L     *     L  
 
 
NT/Y     W     L     L     W     L     L     L     L     L     L     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2011 Tim Hortons Brier
                                    Presented by Monsanto
                                       London, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (MacKenzie)             #SH   270  195  465    95  127  222   365  322  687
                                  PTS   837  562 1399   273  356  629  1110  918 2028
                                  PCT    78   72   75    72   70   71    76   71   74
 
 1 Alex MacFadyen                 #SH   103   45  148     2    4    6   105   49  154
                                  PTS   346  149  495     8   15   23   354  164  518
                                  PCT    84   83   84   100   94   96    84   84   84
 
 2 Mike Dillon                    #SH    64   45  109    17   22   39    81   67  148
                                  PTS   198  143  341    56   64  120   254  207  461
                                  PCT    77   79   78    82   73   77    78   77   78
 
 3 Mike Gaudet                    #SH    46   48   94    39   39   78    85   87  172
                                  PTS   124  130  254   111  124  235   235  254  489
                                  PCT    67   68   68    71   79   75    69   73   71
 
 4 Eddie MacKenzie                #SH    40   42   82    31   58   89    71  100  171
                                  PTS   118   95  213    82  137  219   200  232  432
                                  PCT    74   57   65    66   59   62    70   58   63
 
 5 Jamie Newson                   #SH    17   15   32     6    4   10    23   19   42
                                  PTS    51   45   96    16   16   32    67   61  128
                                  PCT    75   75   75    67  100   80    73   80   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Adams)            #SH   206  267  473   154  135  289   360  402  762
                                  PTS   695  834 1529   522  402  924  1217 1236 2453
                                  PCT    84   78   81    85   74   80    85   77   80
 
 1 Kelly Mittelstadt              #SH    34  141  175     5   10   15    39  151  190
                                  PTS   121  472  593    12   37   49   133  509  642
                                  PCT    89   84   85    60   93   82    85   84   84
 
 2 Andrew Gibson                  #SH    48   40   88    54   50  104   102   90  192
                                  PTS   158  132  290   185  148  333   343  280  623
                                  PCT    82   83   82    86   74   80    84   78   81
 
 3 Paul Flemming                  #SH    60   37   97    53   42   95   113   79  192
                                  PTS   187  114  301   177  127  304   364  241  605
                                  PCT    78   77   78    83   76   80    81   76   79
 
 4 Shawn Adams                    #SH    62   49  111    42   33   75   104   82  186
                                  PTS   221  116  337   148   90  238   369  206  575
                                  PCT    89   59   76    88   68   79    89   63   77
 
 5 Craig Burgess                  #SH     2    0    2     0    0    0     2    0    2
                                  PTS     8    0    8     0    0    0     8    0    8
                                  PCT   100  ***  100   ***  ***  ***   100  ***  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Gushue)                    #SH   242  308  550   140  330  470   382  638 1020
                                  PTS   803 1052 1855   486 1105 1591  1289 2157 3446
                                  PCT    83   85   84    87   84   85    84   85   84
 
 1 Jamie Danbrook                 #SH   106  122  228     5   19   24   111  141  252
                                  PTS   361  445  806    20   54   74   381  499  880
                                  PCT    85   91   88   100   71   77    86   88   87
 
 2 Ryan Fry                       #SH    51   62  113    45   98  143    96  160  256
                                  PTS   171  220  391   157  332  489   328  552  880
                                  PCT    84   89   87    87   85   85    85   86   86
 
 3 Mark Nichols                   #SH    35   59   94    47  115  162    82  174  256
                                  PTS   111  185  296   159  375  534   270  560  830
                                  PCT    79   78   79    85   82   82    82   80   81
 
 4 Brad Gushue                    #SH    48   63  111    43   98  141    91  161  252
                                  PTS   154  194  348   150  344  494   304  538  842
                                  PCT    80   77   78    87   88   88    84   84   84
 
 5 Andrew Symonds                 #SH     2    2    4     0    0    0     2    2    4
                                  PTS     6    8   14     0    0    0     6    8   14
                                  PCT    75  100   88   ***  ***  ***    75  100   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NB (Grattan)                   #SH   156  267  423   115  314  429   271  581  852
                                  PTS   510  875 1385   316  997 1313   826 1872 2698
                                  PCT    82   82   82    69   79   77    76   81   79
 
 1 Peter Case                     #SH    52  109  161     7   12   19    59  121  180
                                  PTS   180  369  549    20   41   61   200  410  610
                                  PCT    87   85   85    71   85   80    85   85   85
 
 2 Steven Howard                  #SH    32   47   79    40   95  135    72  142  214
                                  PTS    92  156  248   121  288  409   213  444  657
                                  PCT    72   83   78    76   76   76    74   78   77
 
 3 Charles Sullivan Jr.           #SH    31   33   64    40  110  150    71  143  214
                                  PTS   100  107  207   105  347  452   205  454  659
                                  PCT    81   81   81    66   79   75    72   79   77
 
 4 James Grattan                  #SH    31   56   87    28   96  124    59  152  211
                                  PTS   101  165  266    70  318  388   171  483  654
                                  PCT    81   74   76    63   83   78    72   79   77
 
 5 Paul Nason                     #SH    10   22   32     0    1    1    10   23   33
                                  PTS    37   78  115     0    3    3    37   81  118
                                  PCT    93   89   90   ***   75   75    93   88   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Gagne)                 #SH   161  304  465   135  219  354   296  523  819
                                  PTS   501  993 1494   374  707 1081   875 1700 2575
                                  PCT    78   82   80    69   81   76    74   81   79
 
 1 Philippe Menard                #SH    51  125  176     9   19   28    60  144  204
                                  PTS   171  427  598    22   60   82   193  487  680
                                  PCT    84   85   85    61   79   73    80   85   83
 
 2 Christian Bouchard             #SH    44   52   96    42   68  110    86  120  206
                                  PTS   135  157  292   116  240  356   251  397  648
                                  PCT    77   75   76    69   88   81    73   83   79
 
 3 Robert Desjardins              #SH    38   73  111    38   57   95    76  130  206
                                  PTS   120  226  346   116  182  298   236  408  644
                                  PCT    79   77   78    76   80   78    78   78   78
 
 4 Francois Gagne                 #SH    28   54   82    46   75  121    74  129  203
                                  PTS    75  183  258   120  225  345   195  408  603
                                  PCT    67   85   79    65   75   71    66   79   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Howard)               #SH   211  274  485   240  275  515   451  549 1000
                                  PTS   731  975 1706   854  977 1831  1585 1952 3537
                                  PCT    87   89   88    89   89   89    88   89   88
 
 1 Craig Savill                   #SH    81  133  214    10   22   32    91  155  246
                                  PTS   300  488  788    40   75  115   340  563  903
                                  PCT    93   92   92   100   85   90    93   91   92
 
 2 Brent Laing                    #SH    32   53   85    83   82  165   115  135  250
                                  PTS   105  189  294   289  293  582   394  482  876
                                  PCT    82   89   86    87   89   88    86   89   88
 
 3 Richard Hart                   #SH    52   40   92    80   80  160   132  120  252
                                  PTS   172  144  316   280  297  577   452  441  893
                                  PCT    83   90   86    88   93   90    86   92   89
 
 4 Glenn Howard                   #SH    44   46   90    67   91  158   111  137  248
                                  PTS   146  148  294   245  312  557   391  460  851
                                  PCT    83   80   82    91   86   88    88   84   86
 
 5 Scott Howard                   #SH     2    2    4     0    0    0     2    2    4
                                  PTS     8    6   14     0    0    0     8    6   14
                                  PCT   100   75   88   ***  ***  ***   100   75   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.Ont (Jacobs)                 #SH   186  249  435   121  276  397   307  525  832
                                  PTS   615  826 1441   385  918 1303  1000 1744 2744
                                  PCT    83   83   83    80   83   82    81   83   82
 
 1 Scott Seabrook                 #SH    67  103  170     8   21   29    75  124  199
                                  PTS   225  345  570    29   59   88   254  404  658
                                  PCT    84   84   84    91   70   76    85   81   83
 
 2 Ryan Harnden                   #SH    36   46   82    33   95  128    69  141  210
                                  PTS   112  163  275    97  326  423   209  489  698
                                  PCT    78   89   84    73   86   83    76   87   83
 
 3 E.J. Harnden                   #SH    32   50   82    34   94  128    66  144  210
                                  PTS   109  161  270   102  306  408   211  467  678
                                  PCT    85   81   82    75   81   80    80   81   81
 
 4 Brad Jacobs                    #SH    50   44   94    46   66  112    96  110  206
                                  PTS   166  136  302   157  227  384   323  363  686
                                  PCT    83   77   80    85   86   86    84   83   83
 
 5 Matt Dumontelle                #SH     1    6    7     0    0    0     1    6    7
                                  PTS     3   21   24     0    0    0     3   21   24
                                  PCT    75   88   86   ***  ***  ***    75   88   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Stoughton)           #SH   216  236  452   182  288  470   398  524  922
                                  PTS   730  833 1563   636 1042 1678  1366 1875 3241
                                  PCT    84   88   86    87   90   89    86   89   88
 
 1 Steve Gould                    #SH    90  105  195    15   19   34   105  124  229
                                  PTS   319  384  703    52   69  121   371  453  824
                                  PCT    89   91   90    87   91   89    88   91   90
 
 2 Reid Carruthers                #SH    43   44   87    56   91  147    99  135  234
                                  PTS   144  147  291   199  333  532   343  480  823
                                  PCT    84   84   84    89   91   90    87   89   88
 
 3 Jon Mead                       #SH    42   45   87    59   88  147   101  133  234
                                  PTS   138  157  295   210  321  531   348  478  826
                                  PCT    82   87   85    89   91   90    86   90   88
 
 4 Jeff Stoughton                 #SH    41   42   83    52   90  142    93  132  225
                                  PTS   129  145  274   175  319  494   304  464  768
                                  PCT    79   86   83    84   89   87    82   88   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Laycock)                 #SH   255  220  475   174  202  376   429  422  851
                                  PTS   854  715 1569   568  639 1207  1422 1354 2776
                                  PCT    84   81   83    82   79   80    83   80   82
 
 1 Dallan Muyres                  #SH   104   87  191     8   14   22   112  101  213
                                  PTS   378  303  681    23   44   67   401  347  748
                                  PCT    91   87   89    72   79   76    90   86   88
 
 2 Brennen Jones                  #SH    54   51  105    52   57  109   106  108  214
                                  PTS   185  165  350   184  191  375   369  356  725
                                  PCT    86   81   83    88   84   86    87   82   85
 
 3 Steve Laycock (S)              #SH    43   45   88    60   66  126   103  111  214
                                  PTS   124  139  263   187  197  384   311  336  647
                                  PCT    72   77   75    78   75   76    75   76   76
 
 4 Pat Simmons                    #SH    52   37   89    54   65  119   106  102  208
                                  PTS   163  108  271   174  207  381   337  315  652
                                  PCT    78   73   76    81   80   80    79   77   78
 
 5 Kelly Knapp                    #SH     2    0    2     0    0    0     2    0    2
                                  PTS     4    0    4     0    0    0     4    0    4
                                  PCT    50  ***   50   ***  ***  ***    50  ***   50
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Martin)               #SH   176  338  514   184  210  394   360  548  908
                                  PTS   604 1206 1810   607  704 1311  1211 1910 3121
                                  PCT    86   89   88    82   84   83    84   87   86
 
 1 Ben Hebert                     #SH    17  169  186    10   24   34    27  193  220
                                  PTS    65  634  699    25   78  103    90  712  802
                                  PCT    96   94   94    63   81   76    83   92   91
 
 2 Marc Kennedy                   #SH    62   32   94    72   46  118   134   78  212
                                  PTS   230  110  340   269  156  425   499  266  765
                                  PCT    93   86   90    93   85   90    93   85   90
 
 3 John Morris                    #SH    34   70  104    43   81  124    77  151  228
                                  PTS   110  246  356   124  276  400   234  522  756
                                  PCT    81   88   86    72   85   81    76   86   83
 
 4 Kevin Martin                   #SH    49   60  109    59   58  117   108  118  226
                                  PTS   149  192  341   189  190  379   338  382  720
                                  PCT    76   80   78    80   82   81    78   81   80
 
 5 Dustin Eckstrand               #SH    14    7   21     0    1    1    14    8   22
                                  PTS    50   24   74     0    4    4    50   28   78
                                  PCT    89   86   88   ***  100  100    89   88   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Cotter)                  #SH   253  167  420   193  195  388   446  362  808
                                  PTS   829  545 1374   628  592 1220  1457 1137 2594
                                  PCT    82   82   82    81   76   79    82   79   80
 
 1 Rick Sawatsky                  #SH   128   46  174    18   12   30   146   58  204
                                  PTS   448  152  600    56   29   85   504  181  685
                                  PCT    88   83   86    78   60   71    86   78   84
 
 2 Kevin Folk                     #SH    38   32   70    62   70  132   100  102  202
                                  PTS   119  104  223   208  222  430   327  326  653
                                  PCT    78   81   80    84   79   81    82   80   81
 
 3 Ken Maskiewich                 #SH    43   41   84    61   59  120   104  100  204
                                  PTS   134  143  277   195  173  368   329  316  645
                                  PCT    78   87   82    80   73   77    79   79   79
 
 4 Jim Cotter                     #SH    43   47   90    52   54  106    95  101  196
                                  PTS   125  142  267   169  168  337   294  310  604
                                  PCT    73   76   74    81   78   79    77   77   77
 
 5 Brad Wood                      #SH     1    1    2     0    0    0     1    1    2
                                  PTS     3    4    7     0    0    0     3    4    7
                                  PCT    75  100   88   ***  ***  ***    75  100   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NT/YT (Koe)                    #SH   240  226  466   147  176  323   387  402  789
                                  PTS   718  725 1443   417  521  938  1135 1246 2381
                                  PCT    75   80   77    71   74   73    73   77   75
 
 1 Martin Gavin                   #SH    88   87  175     6   13   19    94  100  194
                                  PTS   290  305  595    14   44   58   304  349  653
                                  PCT    82   88   85    58   85   76    81   87   84
 
 2 Brad Chorostkowski             #SH    45   55  100    44   54   98    89  109  198
                                  PTS   131  164  295   125  163  288   256  327  583
                                  PCT    73   75   74    71   75   73    72   75   74
 
 3 Tom Naugler                    #SH    46   46   92    51   55  106    97  101  198
                                  PTS   112  150  262   148  157  305   260  307  567
                                  PCT    61   82   71    73   71   72    67   76   72
 
 4 Jamie Koe                      #SH    56   35   91    46   54  100   102   89  191
                                  PTS   170   95  265   130  157  287   300  252  552
                                  PCT    76   68   73    71   73   72    74   71   72
 
 5 Colin Millar                   #SH     5    3    8     0    0    0     5    3    8
                                  PTS    15   11   26     0    0    0    15   11   26
                                  PCT    75   92   81   ***  ***  ***    75   92   81
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2011 Tim Hortons Brier
                                    Presented by Monsanto
                                       London, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  1    NL   12  PE    1
          DRAW  8    QC    4  ON   12
          DRAW 16    NS   12  PE    3
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    NL   12  PE    1
          DRAW 10    NL    1  ON    6
          DRAW 13    ON   11  PE    1
          DRAW 14    MB    5  AB    1
          DRAW 15    BC    7  PE    1
          DRAW 16    NO    6  NB    1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  3    NT/Y  8  NO   11
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW 14    MB    5  AB    1
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  1    NL   12  PE    1    NL   SCORED 5 IN THE THIRD END
          DRAW  5    PE    4  MB    9    MB   SCORED 5 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  3    NT/Y  8  NO   11    NT/Y SCORED 4 IN THE 4TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  4    ON    7  NS    4
          DRAW 10    NL    1  ON    6
          DRAW 12    NO    5  ON    4
          DRAW 14    MB    5  AB    1
          DRAW 15    NL    8  MB    5
 
NUMBER OF BLANK ENDS IN EVENT:  90
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAW  2
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW 10    NL    1  ON    6    BY NL   BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  5    BC    6  NL    5
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  1    NL   12  PE    1    BY NL   BEGINNING IN END 4
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW 13    ON   11  PE    1    BY ON  
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  3    AB    8  NB    6    AB   WAS DOWN 3 AFTER 2 ENDS
          DRAW  8    NS    7  SK    6    NS   WAS DOWN 3 AFTER 3 ENDS
          DRAW  9    AB    9  NS    7    AB   WAS DOWN 3 AFTER 1 END
          DRAW 13    SK    6  MB    7    MB   WAS DOWN 3 AFTER 6 ENDS
 
NUMBER OF EXTRA END GAMES:   7
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  4    SK    8  QC    7
          DRAW  4    NO    5  NL    7
          DRAW  5    NB    7  NT/Y  8
          DRAW 12    BC    8  QC    7
          DRAW 12    NO    5  ON    4
          DRAW 13    SK    6  MB    7
          DRAW 18    NL    6  MB    7
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW 13    ON   11  PE    1
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW 10    NL    1  ON    6    BY NL  
  </div>
</div>
