<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2012 Tim Hortons Brier
                                    Presented by Monsanto
                             Credit Union Centre, Saskatoon, SK
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Joe Scharf                               NO    ** ** ** ** ** ** 92 ** ** ** ** ** ** ** ** ** **  92
 + Carl deConinck-Smith                     SK    ** ** ** ** ** ** ** ** ** ** ** ** ** ** 92 ** **  92
 1 Derek Samagalski                         MB    89 90 93 ** 86 ** 90 ** 95 ** 90 ** 97 73 97 91 **  90
 2 Craig Savill                             ON    84 ** ** 85 ** ** ** 86 ** 90 93 93 94 ** 91 ** 86  89
 3 Nolan Thiessen                           AB    ** 85 93 85 ** ** 91 84 84 88 ** 98 ** 89 ** 95 78  88
 4 Rick Sawatsky                            BC    ** 85 90 84 ** ** 89 90 85 95 ** 90 ** 84 ** 86 83  87
 4 Mike Armstrong                           SK    79 ** ** 84 79 86 ** 93 ** 84 90 90 91 ** 93 ** 90  87
 6 Grant Odishaw                            NB    94 85 82 ** 89 ** 94 ** 91 ** 86 ** 78 85 89 79 **  86
 6 Donald McDermaid                         NS    82 81 81 ** 91 ** 85 ** 83 ** 90 ** 94 82 84 91 **  86
 6 Robert Borden                            NT/Y  77 ** ** 92 85 88 ** 91 ** 81 93 95 80 ** 85 ** 83  86
 + Scott Howard                             ON    ** ** ** ** 85 83 ** ** ** ** ** ** 94 ** ** ** **  85
 9 Scott Seabrook                           NO    ** 83 86 89 ** ** 98 89 86 71 ** 73 ** 81 ** 94 83  84
 9 Steeve Villeneuve                        QC    83 ** ** 71 84 82 ** 94 ** 92 ** 81 80 ** 81 ** 86  84
11 Sean Clarey                              PE    91 94 82 ** 71 ** 77 ** 93 ** 86 ** 78 74 90 76 **  83
11 Geoff Walker                             NL    ** 89 79 80 ** ** 76 90 73 79 ** 83 ** 84 ** 89 91  83
 + Greg Skauge                              NT/Y  ** ** ** ** ** ** ** ** ** ** ** 81 ** ** ** ** **  81
 + Kyle Schmeisser                          NS    ** 75 ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  75
 + Jean-Francois Charest                    QC    ** ** ** ** ** ** ** ** ** ** 73 ** ** ** ** ** **  73
 
   SECONDS
 + Jean-Francois Charest                    QC    ** ** ** 88 ** ** ** ** ** ** ** ** ** ** ** ** 97  96
 1 Carter Rycroft                           AB    ** 92 86 92 ** ** 92 86 88 96 ** 91 ** 80 ** 92 88  89
 2 Brent Laing                              ON    90 ** ** 89 85 84 ** 89 ** 84 82 80100 ** 94 ** 85  87
 3 Richard Daneault                         MB    85 71 85 ** 92 ** 88 ** 86 ** 82 ** 77 89 94 91 **  85
 3 Adam Casey                               NL    ** 82 79 74 ** ** 92 86 94 94 ** 84 ** 88 ** 79 89  85
 5 Ryan Harnden                             NO    ** 74 77 81 ** ** 78 91 82 83 ** 89 ** 88 ** 94 86  84
 5 Steven Munroe                            QC    83 ** ** 79 88 81 ** 83 ** 84 73 88 80 ** 94 ** **  84
 + Andrew Robinson                          PE    ** 83 ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  83
 7 Mike Bardsley                            NS    81 83 84 ** 85 ** 86 ** 78 ** 76 ** 81 75 77 80 **  81
 8 Ryan Deis                                SK    95 ** ** 73 86 72 ** 89 ** 78 83 75 70 ** 84 ** 70  79
 8 Ty Griffith                              BC    ** 69 78 83 ** ** 85 90 83 59 ** 70 ** 89 ** 86 71  79
10 Brad Chorostkowski                       NT/Y  66 ** ** 89 78 71 ** 74 ** 80 78 70 83 ** 79 ** 83  78
11 Tyler Harris                             PE    79 80 73 ** 79 ** 61 ** 90 ** 86 ** 77 70 84 68 **  77
12 Scott Jones                              NB    76 54 92 ** 83 ** 81 ** 84 ** 70 ** 79 84 74 57 **  76
 + Blake MacDonald                          AB    ** ** ** 63 ** ** ** ** ** ** ** ** ** ** ** ** **  63
 
   THIRDS 
 + Carl deConinck-Smith                     SK    ** ** ** ** ** ** ** ** ** ** ** **100 ** ** ** ** 100
 1 Wayne Middaugh                           ON    84 ** ** 88 84 83 ** 76 ** 89 94 86 91 ** 94 ** 95  87
 2 Pat Simmons                              AB    ** 94 75 96 ** ** 88 80 80 85 ** 73 ** 81 ** 89 94  85
 2 Allan Lyburn                             MB    85 83 80 ** 94 ** 74 ** 94 ** 83 ** 73 83 88 94 **  85
 4 Tyler Lang                               SK    90 ** ** 78 81 88 ** 78 ** 92 83 84 84 ** 86 ** 85  84
 4 Ryan Fry                                 NL    ** 91 73 90 ** ** 89 92 80 91 ** 81 ** 84 ** 76 77  84
 6 E.J. Harnden                             NO    ** 90 80 78 ** ** 69 82 89 79 ** 91 ** 90 ** 72 91  83
 7 Tom Naugler                              NT/Y  72 ** ** 88 75 78 ** 92 ** 85 86 82 77 ** 74 ** 93  82
 8 Kevin Folk                               BC    ** 81 73 76 ** ** 79 89 92 70 ** 88 ** 81 ** 89 81  81
 + Blake MacDonald                          AB    ** ** ** ** ** ** ** ** ** ** ** 81 ** ** ** ** **  81
 9 Andy McCann                              NB    66 80 83 ** 80 ** 94 ** 83 ** 84 ** 79 78 73 86 **  80
10 Jordan Pinder                            NS    66 78 84 ** 78 ** 75 ** 79 ** 79 ** 80 83 83 89 **  79
11 Tyler MacKenzie                          PE    75 73 76 ** 85 ** 84 ** 78 ** 85 ** 64 69 89 67 **  77
11 Jean-Sebastien Roy                       QC    70 ** ** 66 71 73 ** 83 ** 77 95 89 76 ** 73 ** 77  77
 
   SKIPS  
 1 Glenn Howard                             ON    82 ** ** 88 75 81 ** 89 ** 85 96 84 83 ** 92 ** 95  86
 2 Kevin Koe                                AB    ** 79 86100 ** ** 80 93 94 71 ** 91 ** 70 ** 80 78  83
 3 Rob Fowler                               MB    75 79 73 ** 85 ** 64 ** 83 ** 76 ** 83 84 89 88 **  79
 3 Jamie Koe                                NT/Y  69 ** ** 86 81 90 ** 79 ** 91 69 64 72 ** 75 ** 86  79
 5 Scott Manners                            SK    94 ** ** 76 80 78 ** 72 ** 83 66 88 71 ** 75 ** 71  78
 5 Brad Jacobs                              NO    ** 75 78 69 ** ** 61 78 83 78 ** 81 ** 88 ** 67 90  78
 5 Brad Gushue                              NL    ** 74 78 85 ** ** 97 69 58 80 ** 74 ** 74 ** 86 73  78
 8 Jamie Murphy                             NS    80 89 91 ** 70 ** 68 ** 76 ** 88 ** 79 68 67 72 **  77
 8 Jim Cotter                               BC    ** 75 71 82 ** ** 75 83 90 73 ** 70 ** 79 ** 83 63  77
10 Terry Odishaw                            NB    73 71 72 ** 69 ** 97 ** 87 ** 86 ** 71 74 63 84 **  76
11 Robert Desjardins                        QC    82 ** ** 48 66 67 ** 70 ** 73 89 73 86 ** 88 ** 83  75
12 Mike Gaudet                              PE    82 75 76 ** 62 ** 73 ** 86 ** 79 ** 61 85 63 64 **  74
 
   TEAMS
 1 Ontario (Howard)                               85 ** ** 87 82 83 ** 85 ** 87 91 86 92 ** 93 ** 90  87
 2 Alberta (Koe)                                  ** 88 85 92 ** ** 88 86 86 85 ** 89 ** 80 ** 89 84  86
 3 Manitoba (Fowler)                              84 80 83 ** 89 ** 79 ** 89 ** 83 ** 82 82 92 91 **  85
 4 NL (Gushue)                                    ** 84 77 82 ** ** 89 84 77 86 ** 80 ** 82 ** 83 82  82
 4 SK (Manners)                                   90 ** ** 78 82 81 ** 83 ** 84 80 84 80 ** 84 ** 79  82
 4 N. Ont (Jacobs)                                ** 80 80 79 ** ** 76 85 85 78 ** 84 ** 86 ** 82 88  82
 7 NT/YT (Koe)                                    71 ** ** 89 80 82 ** 84 ** 84 82 77 78 ** 78 ** 86  81
 7 BC (Cotter)                                    ** 77 78 81 ** ** 82 88 88 74 ** 79 ** 83 ** 86 74  81
 7 NS (Murphy)                                    77 83 85 ** 81 ** 78 ** 79 ** 83 ** 83 77 78 83 **  81
10 Quebec (Desjardins)                            80 ** ** 67 77 76 ** 82 ** 82 83 83 80 ** 84 ** 86  80
10 NB (Odishaw)                                   77 72 82 ** 80 ** 91 ** 86 ** 81 ** 77 80 74 77 **  80
12 PE (Gaudet)                                    82 81 77 ** 74 ** 74 ** 87 ** 84 ** 70 74 81 69 **  78
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2012 Tim Hortons Brier
                                    Presented by Monsanto
                             Credit Union Centre, Saskatoon, SK
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Derek Samagalski                         MB     +  +  +  *  +  *  0  *  +  *  0  *  +  -  0  0  *  +5
Craig Savill                             ON     -  *  *  +  *  *  *  0  *  +  0  0  +  *  +  *  +  +4
Rick Sawatsky                            BC     *  0  +  0  *  *  0  0  0  +  *  0  *  +  *  +  0  +4
Nolan Thiessen                           AB     *  0  +  +  *  *  +  -  +  +  *  0  *  +  *  0  -  +4
Mike Armstrong                           SK     -  *  *  0  -  0  *  +  *  -  0  +  +  *  0  *  +  +1
Donald McDermaid                         NS     +  -  -  *  0  *  +  *  -  *  0  *  +  0  -  0  *  -1
Steeve Villeneuve                        QC     -  *  *  -  +  0  *  0  *  +  *  +  -  *  -  *  -  -2
Grant Odishaw                            NB     +  -  -  *  0  *  0  *  0  *  +  *  -  0  0  -  *  -2
Robert Borden                            NT/Y   -  *  *  0  0  0  *  0  *  -  +  0  -  *  0  *  0  -2
Sean Clarey                              PE     +  +  0  *  -  *  -  *  0  *  -  *  -  -  +  -  *  -3
Geoff Walker                             NL     *  +  -  -  *  *  -  0  -  -  *  -  *  0  *  +  +  -3
Scott Seabrook                           NO     *  -  0  0  *  *  0  0  0  -  *  -  *  0  *  0  -  -4
 
SECONDS
Brent Laing                              ON     +  *  *  +  +  0  *  0  *  +  0  +  +  *  +  *  0  +7
Richard Daneault                         MB     0  +  +  *  +  *  0  *  +  *  0  *  -  +  +  0  *  +5
Adam Casey                               NL     *  +  -  -  *  *  +  +  +  +  *  +  *  0  *  +  -  +4
Carter Rycroft                           AB     *  +  -  +  *  *  +  0  -  +  *  +  *  -  *  +  0  +3
Steven Munroe                            QC     0  *  *  -  0  0  *  -  *  0  0  0  0  *  +  *  *  -1
Brad Chorostkowski                       NT/Y   -  *  *  +  -  0  *  -  *  0  -  -  +  *  +  *  +  -1
Ty Griffith                              BC     *  -  -  +  *  *  0  +  0  -  *  -  *  +  *  +  -  -1
Ryan Harnden                             NO     *  -  0  -  *  *  0  0  0  -  *  0  *  +  *  0  +  -1
Scott Jones                              NB     -  -  +  *  0  *  0  *  -  *  0  *  +  0  -  -  *  -3
Ryan Deis                                SK     +  *  *  -  0  0  *  0  *  -  +  -  -  *  -  *  -  -4
Mike Bardsley                            NS     +  0  +  *  0  *  -  *  -  *  -  *  0  -  -  -  *  -4
Tyler Harris                             PE     -  0  0  *  -  *  -  *  +  *  +  *  -  -  -  -  *  -5
 
THIRDS 
Wayne Middaugh                           ON     +  *  *  0  +  +  *  -  *  0  +  0  +  *  +  *  0  +5
Allan Lyburn                             MB     +  0  +  *  +  *  -  *  +  *  -  *  0  0  0  +  *  +3
Tyler Lang                               SK     +  *  *  0  +  +  *  0  *  0  0  0  +  *  0  *  -  +3
Tom Naugler                              NT/Y   +  *  *  +  -  -  *  0  *  +  0  +  0  *  0  *  +  +3
Ryan Fry                                 NL     *  0  -  0  *  *  +  0  0  +  *  0  *  +  *  +  0  +3
Pat Simmons                              AB     *  +  -  +  *  *  0  0  0  +  *  -  *  0  *  0  0  +1
Andy McCann                              NB     -  0  +  *  0  *  +  *  +  *  -  *  -  -  0  0  *  -1
Kevin Folk                               BC     *  -  -  0  *  *  +  +  0  -  *  0  *  +  *  0  -  -1
E.J. Harnden                             NO     *  0  0  -  *  *  -  +  0  -  *  0  *  +  *  -  +  -1
Jordan Pinder                            NS     -  +  +  *  0  *  -  *  -  *  0  *  0  -  -  0  *  -3
Jean-Sebastien Roy                       QC     -  *  *  -  -  -  *  -  *  -  +  0  0  *  -  *  0  -6
Tyler MacKenzie                          PE     -  -  0  *  -  *  0  *  -  *  0  *  -  -  +  -  *  -6
 
SKIPS  
Glenn Howard                             ON     +  *  *  0  -  +  *  +  *  0  +  +  +  *  +  *  +  +7
Kevin Koe                                AB     *  0  +  +  *  *  +  +  +  -  *  +  *  -  *  +  -  +4
Rob Fowler                               MB     -  +  -  *  +  *  -  *  +  *  -  *  +  +  +  +  *  +3
Jamie Koe                                NT/Y   -  *  *  +  +  +  *  +  *  +  -  -  -  *  +  *  +  +3
Brad Gushue                              NL     *  0  +  0  *  *  +  -  -  +  *  -  *  0  *  +  -   0
Jim Cotter                               BC     *  0  -  +  *  *  +  +  +  -  *  -  *  -  *  0  -  -1
Brad Jacobs                              NO     *  0  0  -  *  *  -  -  -  +  *  +  *  +  *  -  +  -1
Robert Desjardins                        QC     +  *  *  -  -  -  *  -  *  -  0  -  +  *  +  *  +  -2
Jamie Murphy                             NS     +  +  +  *  0  *  -  *  -  *  +  *  -  -  -  -  *  -2
Scott Manners                            SK     +  *  *  -  +  -  *  -  *  0  -  +  0  *  -  *  -  -3
Terry Odishaw                            NB     -  -  -  *  0  *  +  *  0  *  0  *  0  0  -  0  *  -3
Mike Gaudet                              PE     -  -  0  *  -  *  -  *  0  *  +  *  -  +  -  -  *  -5
 
   TEAMS
Ontario (Howard)                                +  *  *  +  0  +  *  0  *  0  +  +  +  *  +  *  +  +8
Alberta (Koe)                                   *  +  0  +  *  *  +  0  +  +  *  +  *  0  *  +  -  +6
Manitoba (Fowler)                               0  +  +  *  +  *  0  *  +  *  -  *  0  0  +  +  *  +5
SK (Manners)                                    +  *  *  0  +  0  *  0  *  0  0  0  0  *  -  *  -   0
NT/YT (Koe)                                     -  *  *  +  0  0  *  0  *  0  0  -  0  *  0  *  +   0
NL (Gushue)                                     *  0  -  -  *  *  +  0  -  +  *  0  *  0  *  +  0   0
NB (Odishaw)                                    -  -  0  *  0  *  +  *  0  *  0  *  0  0  0  -  *  -2
N. Ont (Jacobs)                                 *  0  0  -  *  *  -  0  0  -  *  0  *  +  *  -  +  -2
BC (Cotter)                                     *  -  -  0  *  *  0  +  0  -  *  -  *  +  *  +  -  -2
NS (Murphy)                                     +  0  +  *  0  *  -  *  -  *  0  *  0  -  -  -  *  -3
Quebec (Desjardins)                             0  *  *  -  -  -  *  -  *  0  0  0  0  *  0  *  0  -4
PE (Gaudet)                                     -  0  0  *  -  *  -  *  0  *  0  *  -  -  0  -  *  -6
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2012 Tim Hortons Brier
                                    Presented by Monsanto
                             Credit Union Centre, Saskatoon, SK
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
SK     11   107  FOR      10     8     31   10    4    0    0    0   63   5.7    9  0.59
                 AGAINST   2    10     31   11    4    4    0    0   81   7.4   12  0.76
 
NT/Y   11   100  FOR       2     9     24   20    3    2    0    0   81   7.4   11  0.81
                 AGAINST   3    10     27   10    7    1    1    0   77   7.0   18  0.77
 
NL     11   105  FOR       4    13     31   14    1    3    0    0   74   6.7   20  0.70
                 AGAINST   3    12     33   11    5    0    0    0   70   6.4   16  0.67
 
NS     11    99  FOR       3     5     20   13    3    2    1    0   68   6.2    6  0.69
                 AGAINST   7    10     30   13    3    4    0    0   81   7.4   17  0.82
 
NB     11   102  FOR       4    12     28   14    3    0    0    0   65   5.9   16  0.64
                 AGAINST   6    15     27   16    3    1    0    0   72   6.5   24  0.71
 
PE     11   100  FOR       5     6     24    9    5    0    1    0   62   5.6    9  0.62
                 AGAINST   9     9     19   18    6    4    0    0   89   8.1   15  0.89
 
QC     11   103  FOR       5    10     34    9    1    2    0    0   63   5.7   11  0.61
                 AGAINST   4    11     28   15    3    1    1    0   76   6.9   16  0.74
 
ON     11   109  FOR       6    12     31   13    5    2    0    0   80   7.3   18  0.73
                 AGAINST   8     8     33   10    0    1    0    0   57   5.2    8  0.52
 
NO     11   104  FOR       3    13     34   12    2    1    0    0   68   6.2   20  0.65
                 AGAINST   6    10     25   17    4    0    0    0   71   6.5   12  0.68
 
MB     11   100  FOR       5    10     24   18    4    3    0    0   84   7.6   15  0.84
                 AGAINST   5     9     24   14    3    0    0    0   61   5.5   13  0.61
 
AB     11    94  FOR       5    18     21   18    7    1    0    0   82   7.5   29  0.87
                 AGAINST   7    10     28    5    2    0    0    0   44   4.0   10  0.47
 
BC     11   107  FOR      12    11     32    7    4    0    0    0   58   5.3   14  0.54
                 AGAINST   4    13     29   17    2    0    0    0   69   6.3   17  0.64
 
 
TOTAL  66   615  FOR      64   127    334  157   42   16    2    0  848   6.4  178  0.69
                 AGAINST  64   127    334  157   42   16    2    0  848   6.4  178  0.69
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis By Hammer</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
 
                          SCORING ANALYSIS BY HAMMER AFTER DRAW 17
 
                                         WITH HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                             FOR        AGAINST        FOR          FOR
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
SK        11      57       10  18       10  18       24  42       13  23
 
NT/Y      11      52        2   4       10  19       17  33       23  44
 
NL        11      52        4   8       12  23       22  42       14  27
 
NS        11      47        3   6       10  21       16  34       18  38
 
NB        11      52        4   8       15  29       19  37       14  27
 
PE        11      47        5  11        9  19       20  43       13  28
 
QC        11      52        5  10       11  21       25  48       11  21
 
ON        11      53        6  11        8  15       23  43       16  30
 
NO        11      49        3   6       10  20       25  51       11  22
 
MB        11      53        5   9        9  17       17  32       22  42
 
AB        11      44        5  11       10  23       10  23       19  43
 
BC        11      57       12  21       13  23       23  40        9  16
 
 
                                       WITHOUT HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                           AGAINST        FOR        AGAINST      AGAINST
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
SK        11      50        2   4        8  16       22  44       18  36
 
NT/Y      11      48        3   6        9  19       21  44       15  31
 
NL        11      53        3   6       13  25       24  45       13  25
 
NS        11      52        7  13        5  10       24  46       16  31
 
NB        11      50        6  12       12  24       20  40       12  24
 
PE        11      53        9  17        6  11       14  26       24  45
 
QC        11      51        4   8       10  20       20  39       17  33
 
ON        11      56        8  14       12  21       25  45       11  20
 
NO        11      55        6  11       13  24       17  31       19  35
 
MB        11      47        5  11       10  21       17  36       15  32
 
AB        11      50        7  14       18  36       18  36        7  14
 
BC        11      50        4   8       11  22       19  38       16  32
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2012 Tim Hortons Brier
                                    Presented by Monsanto
                             Credit Union Centre, Saskatoon, SK
 
                                     TEAM WIN/LOSS GRID
 
 
        SK    NT/Y  NL    NS    NB    PE    QC    ON    NO    MB    AB    BC    
 
 
SK       *     L     L     L     L     W     W     L     W     L     L     L  
 
 
NT/Y     W     *     W     L     W     L     W     W     W     L     L     W  
 
 
NL       W     L     *     W     L     W     W     L     L     L     L     W  
 
 
NS       W     W     L     *     L     W     L     L     L     L     L     W  
 
 
NB       W     L     W     W     *     L     L     L     W     L     L     W  
 
 
PE       L     W     L     L     W     *     L     L     L     L     L     W  
 
 
QC       L     L     L     W     W     W     *     L     L     W     L     L  
 
 
ON       W     L     W     W     W     W     W     *     W     W     W     W  
 
 
NO       L     L     W     W     L     W     W     L     *     L     W     L  
 
 
MB       W     W     W     W     W     W     L     L     W     *     W     L  
 
 
AB       W     W     W     W     W     W     W     L     L     L     *     W  
 
 
BC       W     L     L     L     L     L     W     L     W     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2012 Tim Hortons Brier
                                    Presented by Monsanto
                             Credit Union Centre, Saskatoon, SK
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   SK (Manners)                             #SH   306  197  503   193  167  360   499  364  863
                                  PTS  1005  629 1634   653  553 1206  1658 1182 2840
                                  PCT    82   80   81    85   83   84    83   81   82
 
 1 Mike Armstrong                           #SH   129   59  188    11    9   20   140   68  208
                                  PTS   453  203  656    40   28   68   493  231  724
                                  PCT    88   86   87    91   78   85    88   85   87
 
 2 Ryan Deis                                #SH    67   49  116    59   43  102   126   92  218
                                  PTS   217  144  361   204  128  332   421  272  693
                                  PCT    81   73   78    86   74   81    84   74   79
 
 3 Tyler Lang                               #SH    51   39   90    55   67  122   106  106  212
                                  PTS   177  127  304   184  227  411   361  354  715
                                  PCT    87   81   84    84   85   84    85   83   84
 
 4 Scott Manners                            #SH    50   47   97    68   48  116   118   95  213
                                  PTS   124  143  267   225  170  395   349  313  662
                                  PCT    62   76   69    83   89   85    74   82   78
 
 5 Carl deConinck-Smith                     #SH     9    3   12     0    0    0     9    3   12
                                  PTS    34   12   46     0    0    0    34   12   46
                                  PCT    94  100   96   ***  ***  ***    94  100   96
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NT/YT (Koe)                              #SH   357  162  519   208  231  439   565  393  958
                                  PTS  1172  526 1698   659  716 1375  1831 1242 3073
                                  PCT    82   81   82    79   77   78    81   79   80
 
 1 Robert Borden                            #SH   172   36  208    14   12   26   186   48  234
                                  PTS   608  116  724    43   34   77   651  150  801
                                  PCT    88   81   87    77   71   74    88   78   86
 
 2 Brad Chorostkowski                       #SH    59   40   99    67   74  141   126  114  240
                                  PTS   160  125  285   213  227  440   373  352  725
                                  PCT    68   78   72    79   77   78    74   77   76
 
 3 Tom Naugler                              #SH    57   38   95    72   73  145   129  111  240
                                  PTS   192  124  316   227  231  458   419  355  774
                                  PCT    84   82   83    79   79   79    81   80   81
 
 4 Jamie Koe                                #SH    66   47  113    55   72  127   121  119  240
                                  PTS   203  157  360   176  224  400   379  381  760
                                  PCT    77   84   80    80   78   79    78   80   79
 
 5 Greg Skauge                              #SH     3    1    4     0    0    0     3    1    4
                                  PTS     9    4   13     0    0    0     9    4   13
                                  PCT    75  100   81   ***  ***  ***    75  100   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Gushue)                              #SH   218  272  490   158  189  347   376  461  837
                                  PTS   726  917 1643   510  606 1116  1236 1523 2759
                                  PCT    83   84   84    81   80   80    82   83   82
 
 1 Geoff Walker                             #SH    83   91  174    13   21   34    96  112  208
                                  PTS   288  309  597    34   59   93   322  368  690
                                  PCT    87   85   86    65   70   68    84   82   83
 
 2 Adam Casey                               #SH    46   69  115    43   52   95    89  121  210
                                  PTS   155  241  396   139  179  318   294  420  714
                                  PCT    84   87   86    81   86   84    83   87   85
 
 3 Ryan Fry                                 #SH    44   52   96    53   61  114    97  113  210
                                  PTS   145  173  318   182  207  389   327  380  707
                                  PCT    82   83   83    86   85   85    84   84   84
 
 4 Brad Gushue                              #SH    45   60  105    49   55  104    94  115  209
                                  PTS   138  194  332   155  161  316   293  355  648
                                  PCT    77   81   79    79   73   76    78   77   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NS (Murphy)                              #SH   281  160  441   164  186  350   445  346  791
                                  PTS   934  498 1432   520  602 1122  1454 1100 2554
                                  PCT    83   78   81    79   81   80    82   79   81
 
 1 Donald McDermaid                         #SH   135   40  175     9    8   17   144   48  192
                                  PTS   477  129  606    31   23   54   508  152  660
                                  PCT    88   81   87    86   72   79    88   79   86
 
 2 Mike Bardsley                            #SH    49   28   77    58   65  123   107   93  200
                                  PTS   154   90  244   191  209  400   345  299  644
                                  PCT    79   80   79    82   80   81    81   80   81
 
 3 Jordan Pinder                            #SH    46   39   85    54   61  115   100  100  200
                                  PTS   147  115  262   170  203  373   317  318  635
                                  PCT    80   74   77    79   83   81    79   80   79
 
 4 Jamie Murphy                             #SH    49   53  102    43   52   95    92  105  197
                                  PTS   150  164  314   128  167  295   278  331  609
                                  PCT    77   77   77    74   80   78    76   79   77
 
 5 Kyle Schmeisser                          #SH     2    0    2     0    0    0     2    0    2
                                  PTS     6    0    6     0    0    0     6    0    6
                                  PCT    75  ***   75   ***  ***  ***    75  ***   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NB (Odishaw)                             #SH   134  322  456   170  199  369   304  521  825
                                  PTS   408 1066 1474   555  595 1150   963 1661 2624
                                  PCT    76   83   81    82   75   78    79   80   80
 
 1 Grant Odishaw                            #SH    21  172  193     3   10   13    24  182  206
                                  PTS    75  600  675     8   29   37    83  629  712
                                  PCT    89   87   87    67   73   71    86   86   86
 
 2 Scott Jones                              #SH    41   50   91    53   64  117    94  114  208
                                  PTS   124  157  281   171  177  348   295  334  629
                                  PCT    76   79   77    81   69   74    78   73   76
 
 3 Andy McCann                              #SH    34   56   90    53   65  118    87  121  208
                                  PTS    98  181  279   178  209  387   276  390  666
                                  PCT    72   81   78    84   80   82    79   81   80
 
 4 Terry Odishaw                            #SH    38   44   82    61   60  121    99  104  203
                                  PTS   111  128  239   198  180  378   309  308  617
                                  PCT    73   73   73    81   75   78    78   74   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PE (Gaudet)                              #SH   279  183  462   134  216  350   413  399  812
                                  PTS   932  545 1477   401  645 1046  1333 1190 2523
                                  PCT    84   74   80    75   75   75    81   75   78
 
 1 Sean Clarey                              #SH   121   55  176    14   14   28   135   69  204
                                  PTS   417  181  598    38   41   79   455  222  677
                                  PCT    86   82   85    68   73   71    84   80   83
 
 2 Tyler Harris                             #SH    61   44  105    24   69   93    85  113  198
                                  PTS   202  119  321    64  225  289   266  344  610
                                  PCT    83   68   76    67   82   78    78   76   77
 
 3 Tyler MacKenzie                          #SH    57   32   89    46   68  114   103  100  203
                                  PTS   186  103  289   144  191  335   330  294  624
                                  PCT    82   80   81    78   70   73    80   74   77
 
 4 Mike Gaudet                              #SH    39   47   86    50   65  115    89  112  201
                                  PTS   123  126  249   155  188  343   278  314  592
                                  PCT    79   67   72    78   72   75    78   70   74
 
 5 Andrew Robinson                          #SH     1    5    6     0    0    0     1    5    6
                                  PTS     4   16   20     0    0    0     4   16   20
                                  PCT   100   80   83   ***  ***  ***   100   80   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Desjardins)                      #SH   174  268  442   142  237  379   316  505  821
                                  PTS   547  880 1427   438  759 1197   985 1639 2624
                                  PCT    79   82   81    77   80   79    78   81   80
 
 1 Steeve Villeneuve                        #SH    68  104  172     8   12   20    76  116  192
                                  PTS   230  352  582    22   40   62   252  392  644
                                  PCT    85   85   85    69   83   78    83   84   84
 
 2 Steven Munroe                            #SH    32   48   80    47   61  108    79  109  188
                                  PTS    96  166  262   155  211  366   251  377  628
                                  PCT    75   86   82    82   86   85    79   86   84
 
 3 Jean-Sebastien Roy                       #SH    31   56   87    44   75  119    75  131  206
                                  PTS    98  171  269   132  231  363   230  402  632
                                  PCT    79   76   77    75   77   76    77   77   77
 
 4 Robert Desjardins                        #SH    38   47   85    38   81  119    76  128  204
                                  PTS   104  150  254   110  249  359   214  399  613
                                  PCT    68   80   75    72   77   75    70   78   75
 
 5 Jean-Francois Charest                    #SH     5   13   18     5    8   13    10   21   31
                                  PTS    19   41   60    19   28   47    38   69  107
                                  PCT    95   79   83    95   88   90    95   82   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Howard)                         #SH   213  244  457   271  289  560   484  533 1017
                                  PTS   734  875 1609   969  996 1965  1703 1871 3574
                                  PCT    86   90   88    89   86   88    88   88   88
 
 1 Craig Savill                             #SH    75   90  165    22   16   38    97  106  203
                                  PTS   270  328  598    79   43  122   349  371  720
                                  PCT    90   91   91    90   67   80    90   88   89
 
 2 Brent Laing                              #SH    40   42   82    86   88  174   126  130  256
                                  PTS   134  153  287   309  305  614   443  458  901
                                  PCT    84   91   88    90   87   88    88   88   88
 
 3 Wayne Middaugh                           #SH    29   37   66    89  101  190   118  138  256
                                  PTS    97  123  220   321  366  687   418  489  907
                                  PCT    84   83   83    90   91   90    89   89   89
 
 4 Glenn Howard                             #SH    54   46  100    73   81  154   127  127  254
                                  PTS   179  172  351   256  276  532   435  448  883
                                  PCT    83   93   88    88   85   86    86   88   87
 
 5 Scott Howard                             #SH    15   29   44     1    3    4    16   32   48
                                  PTS    54   99  153     4    6   10    58  105  163
                                  PCT    90   85   87   100   50   63    91   82   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. Ont (Jacobs)                          #SH   236  277  513   131  187  318   367  464  831
                                  PTS   770  936 1706   406  617 1023  1176 1553 2729
                                  PCT    82   84   83    77   82   80    80   84   82
 
 1 Scott Seabrook                           #SH    85   92  177    11   14   25    96  106  202
                                  PTS   287  315  602    36   42   78   323  357  680
                                  PCT    84   86   85    82   75   78    84   84   84
 
 2 Ryan Harnden                             #SH    57   57  114    35   59   94    92  116  208
                                  PTS   178  200  378   110  207  317   288  407  695
                                  PCT    78   88   83    79   88   84    78   88   84
 
 3 E.J. Harnden                             #SH    42   65  107    44   57  101    86  122  208
                                  PTS   138  216  354   141  195  336   279  411  690
                                  PCT    82   83   83    80   86   83    81   84   83
 
 4 Brad Jacobs                              #SH    51   58  109    41   57   98    92  115  207
                                  PTS   163  187  350   119  173  292   282  360  642
                                  PCT    80   81   80    73   76   74    77   78   78
 
 5 Joe Scharf                               #SH     1    5    6     0    0    0     1    5    6
                                  PTS     4   18   22     0    0    0     4   18   22
                                  PCT   100   90   92   ***  ***  ***   100   90   92
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Fowler)                        #SH   323  241  564   209  264  473   532  505 1037
                                  PTS  1101  817 1918   699  886 1585  1800 1703 3503
                                  PCT    85   85   85    84   84   84    85   84   84
 
 1 Derek Samagalski                         #SH   139  102  241     9    8   17   148  110  258
                                  PTS   501  364  865    31   29   60   532  393  925
                                  PCT    90   89   90    86   91   88    90   89   90
 
 2 Richard Daneault                         #SH    70   51  121    62   79  141   132  130  262
                                  PTS   219  166  385   219  282  501   438  448  886
                                  PCT    78   81   80    88   89   89    83   86   85
 
 3 Allan Lyburn                             #SH    63   38  101    79   80  159   142  118  260
                                  PTS   219  128  347   275  259  534   494  387  881
                                  PCT    87   84   86    87   81   84    87   82   85
 
 4 Rob Fowler                               #SH    50   50  100    59   96  155   109  146  255
                                  PTS   158  159  317   174  314  488   332  473  805
                                  PCT    79   80   79    74   82   79    76   81   79
 
 5 William Lyburn                           #SH     1    0    1     0    1    1     1    1    2
                                  PTS     4    0    4     0    2    2     4    2    6
                                  PCT   100  ***  100   ***   50   50   100   50   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Koe)                            #SH   253  282  535   219  239  458   472  521  993
                                  PTS   856  952 1808   761  816 1577  1617 1768 3385
                                  PCT    85   84   84    87   85   86    86   85   85
 
 1 Nolan Thiessen                           #SH    63  157  220     9   17   26    72  174  246
                                  PTS   229  553  782    21   51   72   250  604  854
                                  PCT    91   88   89    58   75   69    87   87   87
 
 2 Carter Rycroft                           #SH    71   41  112    75   61  136   146  102  248
                                  PTS   242  132  374   279  212  491   521  344  865
                                  PCT    85   80   83    93   87   90    89   84   87
 
 3 Pat Simmons                              #SH    68   40  108    66   70  136   134  110  244
                                  PTS   233  122  355   228  238  466   461  360  821
                                  PCT    86   76   82    86   85   86    86   82   84
 
 4 Kevin Koe                                #SH    51   44   95    66   86  152   117  130  247
                                  PTS   152  145  297   223  300  523   375  445  820
                                  PCT    75   82   78    84   87   86    80   86   83
 
 5 Blake MacDonald                          #SH     0    0    0     3    5    8     3    5    8
                                  PTS     0    0    0    10   15   25    10   15   25
                                  PCT   ***  ***  ***    83   75   78    83   75   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   BC (Cotter)                              #SH   254  232  486   201  166  367   455  398  853
                                  PTS   819  757 1576   671  517 1188  1490 1274 2764
                                  PCT    81   82   81    83   78   81    82   80   81
 
 1 Rick Sawatsky                            #SH   105   77  182    16   16   32   121   93  214
                                  PTS   349  286  635    60   53  113   409  339  748
                                  PCT    83   93   87    94   83   88    85   91   87
 
 2 Ty Griffith                              #SH    62   46  108    59   47  106   121   93  214
                                  PTS   197  146  343   186  143  329   383  289  672
                                  PCT    79   79   79    79   76   78    79   78   79
 
 3 Kevin Folk                               #SH    41   56   97    60   57  117   101  113  214
                                  PTS   127  166  293   213  191  404   340  357  697
                                  PCT    77   74   76    89   84   86    84   79   81
 
 4 Jim Cotter                               #SH    46   53   99    66   46  112   112   99  211
                                  PTS   146  159  305   212  130  342   358  289  647
                                  PCT    79   75   77    80   71   76    80   73   77
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2012 Tim Hortons Brier
                                    Presented by Monsanto
                             Credit Union Centre, Saskatoon, SK
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW 12    NT/Y  3  AB   11
          DRAW 14    NS    4  NO   11
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  9    AB    8  NL    1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW 15    PE    8  QC   10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  3    BC    3  NS    5
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  1    NS    9  NT/Y  5    NS   SCORED 5 IN THE 4TH END
          DRAW 15    PE    8  QC   10    PE   SCORED 5 IN THE SECOND END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 13    NT/Y  5  MB   10    MB   SCORED 4 IN THE 4TH END
          DRAW 14    NS    4  NO   11    NO   SCORED 4 IN THE 9TH END
          DRAW 16    NL   10  PE    5    NL   SCORED 4 IN THE 9TH END
          DRAW 19    AB   10  NT/Y  6    AB   SCORED 4 IN THE 8TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  3    BC    3  NS    5
          DRAW 17    ON    6  AB    3
 
NUMBER OF BLANK ENDS IN EVENT:  68
 
MOST BLANK ENDS ONE DRAW:   7
 
          DRAWS  8  9
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  3    BC    3  NS    5    BY BC   BEGINNING IN END 6
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  7    MB    5  BC    9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  7    MB    5  BC    9    BY BC   BEGINNING IN END 4
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  9    AB    8  NL    1    BY AB  
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  3    NO    8  PE    7    NO   WAS DOWN 3 AFTER 1 END
          DRAW  7    MB    5  BC    9    BC   WAS DOWN 3 AFTER 2 ENDS
          DRAW 15    PE    8  QC   10    QC   WAS DOWN 3 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:  11
 
MOST ENDS PLAYED IN ONE GAME:  11 (11 games)
 
FEWEST ENDS PLAYED IN ONE GAME:   7
 
          DRAW  4    QC    2  AB    9
          DRAW 11    NB    3  QC    8
          DRAW 12    NT/Y  3  AB   11
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  9    AB    8  NL    1    BY NL  
  </div>
</div>
