<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2013 Tim Hortons Brier
                                    Presented by MONSANTO
                                      Edmonton, Alberta
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Aaron Watson                   BC    ** 89 91 ** 95 94 ** 96 91 ** 90 ** 94 96 97 ** 92  93
 1 Pete Case                      NB    94 91 ** 97 83 ** 95 88 ** 89 96 ** 99 ** 96 94 **  93
 3 Mark Nichols                   MB    ** 89100 ** 95 89 ** 81 94 ** 99 ** 88 91 96 ** 90  92
 4 Ben Hebert                     AB    ** 90 92 ** 91 98 ** 85100 ** 89 ** 93 85 90 ** 98  91
 4 Philippe Menard                QC    89 ** 83 83 ** 86 97 **100 95 ** 89 ** 88 ** 94 99  91
 4 Sean Ledgerwood                PE    94 88 ** 91 92 ** 94 95 ** 86 85 ** 95 ** 94 90 **  91
 4 Craig Savill                   ON    ** 88 83 ** 88 83 ** 88 96 **100 ** 96 88 98 ** 91  91
 8 Geoff Walker                   NL    86 88 ** 77 91 ** 88 93 ** 83 96 ** 90 ** 94 88 **  89
 9 Robert Borden                  NWTY  88 89 ** 81 92 ** 90 97 ** 89 88 ** 85 ** 81 90 **  88
 9 Ryan Harnden                   NO    85 ** 92 72 **100 89 ** 91 86 ** 83 ** 92 ** 90 91  88
 9 DJ Kidby                       SK    84 ** 93 93 ** 67 92 ** 79 89 ** 91 ** 95 ** 93 89  88
 + Garth Smith                    MB    ** ** ** ** ** ** ** 88 ** ** ** ** ** ** ** ** **  88
12 Kelly Mittelstadt              NS    89 ** 80 85 ** 93 88 ** 93 66 ** 86 ** 95 ** 95 83  87
 + Karrick Martin                 AB    ** ** ** ** ** 75 ** ** 94 ** ** ** ** ** ** ** **  84
 + Scott Howard                   ON    ** ** ** ** ** 75 ** ** ** ** ** ** ** ** ** ** **  75
 + Matt Dumontelle                NO    ** **  0 ** ** ** ** ** ** ** ** ** ** ** ** ** **   0
 
   SECONDS
 + Kevi Whitehead                 NWTY  ** ** ** **100 ** ** ** ** ** ** ** ** ** ** ** ** 100
 + Scott Howard                   ON    ** ** ** ** ** ** ** **100 ** ** ** ** ** ** ** ** 100
 + Kent Smith                     NS    ** ** ** ** **100 ** ** 88 ** ** ** ** ** ** ** **  94
 1 Brent Laing                    ON    ** 93 96 ** 88 93 ** 92 92 **100 ** 90 95 98 ** 86  93
 2 Marc Kennedy                   AB    ** 76 92 ** 89 88 ** 94 95 ** 94 **100 94 91 ** 84  90
 + Philip Gorveatt                PE    ** ** ** ** ** ** ** 88 ** ** ** ** ** ** ** ** **  88
 3 Reid Carruthers                MB    ** 82 91 ** 79 88 ** 80 85 ** 94 ** 95 92 85 ** 90  87
 4 Derek Errington                BC    ** 88 89 ** 89 76 ** 89 97 ** 85 ** 69 98 86 ** 83  86
 5 Chris Schille                  SK    83 ** 90 77 ** 91 85 ** 85 81 ** 91 ** 84 ** 79 89  85
 5 E.J. Harnden                   NO    94 ** 86 89 ** 93 78 ** 75 81 ** 85 ** 91 ** 84 85  85
 5 Adam Casey                     NL    82 88 ** 96 78 ** 85 88 ** 86 85 ** 80 ** 86 86 **  85
 5 Eric Sylvain                   QC    79 ** 93 76 ** 74 86 ** 92 88 ** 90 ** 85 ** 88 88  85
 5 Darren Roach                   NB    73 84 ** 94 86 ** 95 88 ** 78 93 ** 73 ** 86 88 **  85
10 Graham Breckon                 NS    73 ** 78 90 ** 80 81 ** 95 72 ** 80 ** 95 ** 86 80  83
11 Brad Chorostkowski             NWTY  79 71 ** 76 98 ** 85 83 ** 60 84 ** 73 ** 89 83 **  80
11 Alex MacFadyen                 PE    84 83 ** 83 75 ** 86 53 ** 69 76 ** 79 ** 89 86 **  80
 
   THIRDS 
 1 Jon Mead                       MB    ** 81 98 ** 94 83 ** 93 83 ** 93 ** 98 91 90 ** 94  90
 1 Wayne Middaugh                 ON    ** 94 93 ** 90 84 ** 83 93 ** 96 ** 91 86 92 ** 84  90
 3 Ryan Fry                       NO    89 ** 89 94 ** 89 89 ** 77 86 ** 76 ** 92 ** 94 96  88
 4 Martin Crete                   QC    91 ** 96 86 ** 78 89 ** 89 83 ** 96 ** 83 ** 80 83  87
 5 John Morris                    AB    ** 80 94 ** 82 71 ** 84 93 ** 91 ** 84 93 86 ** 86  86
 6 Brett Gallant                  NL    79 84 ** 86 80 ** 84 91 ** 90 75 ** 78 ** 89 99 **  85
 7 Braeden Moskowy                SK    82 ** 91 73 ** 76 88 ** 85 95 ** 88 ** 80 ** 75 94  84
 8 Steve Kopf                     BC    ** 81 79 ** 48 95 ** 70 94 ** 83 ** 76 93 88 ** 95  83
 8 Jason Roach                    NB    68 64 ** 90 77 ** 86 94 ** 85 98 ** 91 ** 93 69 **  83
10 Tom Naugler                    NWTY  72 79 ** 80 95 ** 68 90 ** 86 77 ** 75 ** 93 76 **  81
11 Paul Flemming(S)               NS    66 ** 75 76 ** 73 72 ** 84 73 ** 85 ** 89 ** 85 94  80
12 Anson Carmody                  PE    81 75 ** 73 80 ** 71 70 ** 64 70 ** 86 ** 80 77 **  75
 
   SKIPS  
 1 Glenn Howard                   ON    ** 88 86 ** 89 93 ** 85 89 ** 88 ** 91 88 92 ** 90  89
 1 Brad Gushue                    NL    88 91 ** 89 90 ** 83 87 ** 94 84 ** 93 ** 89 89 **  89
 3 Jeff Stoughton                 MB    ** 81 91 ** 76 79 ** 93 83 ** 88 ** 86 92 89 ** 91  86
 4 Kevin Martin                   AB    ** 78 78 ** 80 68 ** 81 86 ** 84 ** 95 91 93 ** 88  84
 5 J. Michel Menard               QC    91 ** 90 86 ** 73 89 ** 92 78 ** 90 ** 79 ** 84 68  83
 5 Brad Jacobs                    NO    79 ** 89 84 **100 70 ** 70 76 ** 79 ** 92 ** 97 83  83
 7 Brock Virtue                   SK    75 ** 76 70 ** 91 72 ** 81 98 ** 86 ** 81 ** 68 89  81
 7 James Grattan                  NB    81 59 ** 84 88 ** 78 79 ** 87 80 ** 76 ** 92 83 **  81
 9 Andrew Bilesky                 BC    ** 81 59 ** 61 86 ** 82 78 ** 85 ** 65 91 81 ** 91  79
10 Jamie Koe                      NWTY  74 84 ** 80 90 ** 81 69 ** 82 64 ** 73 ** 82 78 **  78
11 Ian Fitzner-LeBlanc            NS    55 ** 88 81 ** 64 69 ** 60 72 ** 78 ** 90 ** 81 83  76
12 Eddie MacKenzie                PE    70 66 ** 73 70 ** 78 64 ** 72 88 ** 82 ** 67 75 **  74
 
   TEAMS
 1 ON (Howard)                          ** 91 89 ** 89 88 ** 87 93 ** 96 ** 92 89 95 ** 88  90
 2 MB (Stoughton)                       ** 83 95 ** 86 84 ** 87 86 ** 93 ** 92 91 90 ** 91  89
 3 AB (Martin)                          ** 81 89 ** 86 79 ** 86 93 ** 89 ** 93 91 90 ** 89  88
 4 NL (Gushue)                          84 88 ** 87 85 ** 85 90 ** 89 85 ** 85 ** 89 90 **  87
 5 QC (Menard)                          87 ** 91 83 ** 78 90 ** 93 86 ** 91 ** 83 ** 86 84  86
 5 NO (Jacobs)                          87 ** 87 85 ** 96 82 ** 78 83 ** 81 ** 92 ** 91 89  86
 7 BC (Bilesky)                         ** 84 79 ** 73 88 ** 84 90 ** 86 ** 76 94 88 ** 90  85
 7 NB (Grattan)                         79 75 ** 91 84 ** 89 87 ** 84 92 ** 85 ** 92 83 **  85
 7 SK (Virtue)                          81 ** 88 78 ** 82 84 ** 83 91 ** 89 ** 85 ** 79 90  85
10 NS (Flemming)                        71 ** 80 83 ** 79 77 ** 85 71 ** 82 ** 92 ** 87 85  82
10 NT/YT (Koe)                          78 81 ** 79 94 ** 81 85 ** 79 78 ** 76 ** 86 82 **  82
12 PEI (MacKenzie)                      83 78 ** 80 79 ** 82 73 ** 73 79 ** 85 ** 82 82 **  80
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2013 Tim Hortons Brier
                                    Presented by MONSANTO
                                      Edmonton, Alberta
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Pete Case                      NB     +  0  *  +  -  *  0  0  *  0  0  *  +  *  0  0  *  +2
Philippe Menard                QC     -  *  -  0  *  0  0  *  +  +  *  0  *  0  *  +  +  +2
Ben Hebert                     AB     *  0  +  *  0  0  *  0  +  *  0  *  0  -  0  *  +  +2
Mark Nichols                   MB     *  0  +  *  +  0  *  -  +  *  0  *  -  0  +  *  0  +2
Aaron Watson                   BC     *  0  0  *  0  +  *  0  -  *  +  *  +  0  0  *  0  +2
DJ Kidby                       SK     -  *  +  +  *  -  0  *  -  +  *  +  *  +  *  0  -  +1
Sean Ledgerwood                PE     +  0  *  +  0  *  0  +  *  0  -  *  0  *  0  -  *  +1
Robert Borden                  NWTY   0  0  *  0  0  *  0  +  *  +  0  *  -  *  -  0  *   0
Ryan Harnden                   NO     0  *  0  -  *  0  0  *  -  -  *  -  *  0  *  0  +  -3
Kelly Mittelstadt              NS     0  *  -  -  *  +  0  *  -  -  *  0  *  0  *  +  -  -3
Geoff Walker                   NL     0  0  *  -  +  *  0  0  *  -  0  *  -  *  0  -  *  -3
Craig Savill                   ON     *  0  -  *  -  -  *  -  +  *  0  *  +  0  0  *  -  -3
 
SECONDS
Brent Laing                    ON     *  +  +  *  +  +  *  +  +  *  +  *  +  +  +  *  0 +10
Reid Carruthers                MB     *  +  +  *  -  +  *  +  0  *  +  *  +  0  0  *  +  +6
Marc Kennedy                   AB     *  -  0  *  0  -  *  +  0  *  +  *  +  +  +  *  0  +3
Adam Casey                     NL     +  +  *  +  -  *  +  0  *  +  -  *  -  *  -  0  *  +1
E.J. Harnden                   NO     +  *  0  +  *  +  -  *  -  -  *  -  *  0  *  0  +   0
Darren Roach                   NB     -  +  *  0  +  *  +  -  *  +  -  *  -  *  0  0  *   0
Eric Sylvain                   QC     +  *  0  0  *  -  0  *  -  +  *  +  *  -  *  0  0   0
Chris Schille                  SK     0  *  -  -  *  +  -  *  0  +  *  +  *  -  *  0  0  -1
Derek Errington                BC     *  -  0  *  0  -  *  0  +  *  +  *  0  0  0  *  -  -1
Brad Chorostkowski             NWTY   -  -  *  0  +  *  0  -  *  -  -  *  0  *  0  0  *  -4
Graham Breckon                 NS     -  *  -  0  *  -  0  *  0  -  *  -  *  0  *  0  -  -6
Alex MacFadyen                 PE     0  -  *  -  -  *  0  -  *  -  -  *  -  *  -  0  *  -8
 
THIRDS 
Jon Mead                       MB     *  0  +  *  0  +  *  +  0  *  +  *  +  0  0  *  0  +5
Ryan Fry                       NO     +  *  +  +  *  +  +  *  -  0  *  -  *  0  *  +  0  +4
Wayne Middaugh                 ON     *  +  0  *  0  +  *  -  +  *  0  *  +  0  +  *  0  +4
Brett Gallant                  NL     +  +  *  +  0  *  -  +  *  0  -  *  -  *  0  +  *  +2
John Morris                    AB     *  0  0  *  +  -  *  -  +  *  +  *  0  +  0  *  0  +2
Tom Naugler                    NWTY   -  +  *  -  +  *  0  +  *  0  -  *  0  *  0  0  *   0
Jason Roach                    NB     -  -  *  +  0  *  0  +  *  +  0  *  -  *  +  -  *   0
Martin Crete                   QC     +  *  0  +  *  -  +  *  -  0  *  +  *  0  *  -  -   0
Braeden Moskowy                SK     0  *  0  -  *  -  0  *  0  +  *  +  *  -  *  0  +   0
Steve Kopf                     BC     *  -  -  *  -  +  *  -  +  *  +  *  0  0  -  *  0  -2
Paul Flemming(S)               NS     -  *  -  -  *  -  0  *  -  -  *  -  *  0  *  +  0  -6
Anson Carmody                  PE     0  -  *  -  -  *  -  -  *  -  -  *  0  *  -  -  *  -9
 
SKIPS  
Glenn Howard                   ON     *  +  +  *  +  +  *  +  +  *  +  *  0  +  +  *  0  +9
Brad Gushue                    NL     +  +  *  +  0  *  +  +  *  +  0  *  0  *  0  +  *  +7
Kevin Martin                   AB     *  0  -  *  +  -  *  0  +  *  +  *  +  +  0  *  0  +3
Jeff Stoughton                 MB     *  0  0  *  -  +  *  +  0  *  0  *  +  0  +  *  0  +3
Brad Jacobs                    NO     +  *  +  +  *  +  -  *  -  0  *  -  *  0  *  +  0  +2
J. Michel Menard               QC     +  *  +  +  *  -  +  *  +  0  *  +  *  -  *  -  -  +2
Brock Virtue                   SK     +  *  -  -  *  +  -  *  0  +  *  +  *  -  *  -  +   0
Jamie Koe                      NWTY   -  +  *  -  +  *  +  -  *  -  -  *  +  *  -  +  *  -1
James Grattan                  NB     -  -  *  0  0  *  +  0  *  +  -  *  -  *  +  -  *  -2
Ian Fitzner-LeBlanc            NS     -  *  0  0  *  -  -  *  -  -  *  -  *  0  *  +  0  -5
Andrew Bilesky                 BC     *  -  -  *  -  -  *  -  -  *  0  *  -  0  -  *  0  -8
Eddie MacKenzie                PE     -  -  *  -  -  *  -  -  *  -  0  *  -  *  -  -  * -10
 
   TEAMS
ON (Howard)                           *  +  0  *  0  +  *  0  +  *  0  *  +  +  +  *  0  +6
MB (Stoughton)                        *  0  +  *  0  +  *  +  0  *  +  *  +  0  0  *  0  +5
AB (Martin)                           *  0  0  *  +  -  *  0  +  *  +  *  +  +  0  *  0  +4
NO (Jacobs)                           +  *  +  +  *  +  0  *  -  0  *  -  *  0  *  +  0  +3
NL (Gushue)                           +  +  *  +  0  *  0  +  *  +  -  *  -  *  0  0  *  +3
QC (Menard)                           +  *  0  0  *  -  +  *  0  0  *  +  *  -  *  0  -   0
NT/YT (Koe)                           -  +  *  0  +  *  0  0  *  -  -  *  0  *  0  0  *  -1
NB (Grattan)                          -  -  *  +  0  *  +  0  *  +  0  *  -  *  0  -  *  -1
SK (Virtue)                           0  *  0  -  *  -  -  *  0  +  *  +  *  -  *  0  +  -1
BC (Bilesky)                          *  -  -  *  -  +  *  -  0  *  +  *  0  0  0  *  0  -2
NS (Flemming)                         -  *  -  -  *  -  0  *  -  -  *  -  *  0  *  +  0  -6
PEI (MacKenzie)                       0  -  *  -  -  *  -  -  *  -  -  *  -  *  -  -  * -10
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2013 Tim Hortons Brier
                                    Presented by MONSANTO
                                      Edmonton, Alberta
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
AB     11    96  FOR       5    13     28   11    4    1    0    0   66   6.0   17  0.69
                 AGAINST   8     8     28    8    3    0    0    0   53   4.8    8  0.55
 
NO     11    97  FOR       8    11     24   11    9    2    0    0   81   7.4   15  0.84
                 AGAINST   5     5     26   10    2    0    0    0   52   4.7    7  0.54
 
NWTY   11    99  FOR       3    11     25   10    5    0    2    0   70   6.4   15  0.71
                 AGAINST   6    14     29   14    3    2    0    0   74   6.7   18  0.75
 
NB     11   104  FOR       3    16     36   13    2    0    0    0   68   6.2   21  0.65
                 AGAINST  10     5     18   17    4    0    1    0   69   6.3    6  0.66
 
QC     11   104  FOR      13     9     25   11    6    0    0    0   65   5.9   11  0.63
                 AGAINST   9    10     28   10    2    0    0    0   54   4.9   13  0.52
 
NS     11    95  FOR      11     2     18   11    1    0    0    0   43   3.9    3  0.45
                 AGAINST   6    16     22   17    7    1    1    0   86   7.8   26  0.91
 
NL     11   100  FOR      14     8     24   18    3    0    1    0   74   6.7   12  0.74
                 AGAINST   1     1     28   10    0    1    0    0   52   4.7    1  0.52
 
SK     11   105  FOR       7    12     31   11    3    0    0    0   62   5.6   12  0.59
                 AGAINST   9    12     30   11    2    0    1    0   63   5.7   14  0.60
 
PE     11    97  FOR      13     1     19   11    1    0    0    0   44   4.0    1  0.45
                 AGAINST   8    14     21   14   10    0    0    0   79   7.2   20  0.81
 
MB     11   103  FOR       8    10     28   15    2    2    0    0   72   6.5   13  0.70
                 AGAINST   3     9     32   11    1    1    0    0   61   5.5   10  0.59
 
ON     11    97  FOR       3    18     26   16    6    0    0    0   76   6.9   26  0.78
                 AGAINST  14     4     25    7    0    0    0    0   39   3.5    4  0.40
 
BC     11    99  FOR       2     4     26    9    1    0    0    0   47   4.3    5  0.47
                 AGAINST  11    17     23   18    9    0    0    0   86   7.8   24  0.87
 
 
TOTAL  66   598  FOR      90   115    310  147   43    5    3    0  768   5.8  151  0.64
                 AGAINST  90   115    310  147   43    5    3    0  768   5.8  151  0.64
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2013 Tim Hortons Brier
                                    Presented by MONSANTO
                                      Edmonton, Alberta
 
                                     TEAM WIN/LOSS GRID
 
 
        AB    NO    NWTY  NB    QC    NS    NL    SK    PE    MB    ON    BC    
 
 
AB       *     L     W     L     L     W     W     W     W     L     W     W  
 
 
NO       W     *     W     W     W     W     L     L     W     W     L     W  
 
 
NWTY     L     L     *     W     L     W     L     W     W     W     L     L  
 
 
NB       W     L     L     *     L     W     L     W     W     L     L     W  
 
 
QC       W     L     W     W     *     W     L     L     W     L     L     W  
 
 
NS       L     L     L     L     L     *     L     L     L     L     L     W  
 
 
NL       L     W     W     W     W     W     *     W     W     L     L     W  
 
 
SK       L     W     L     L     W     W     L     *     W     L     L     W  
 
 
PE       L     L     L     L     L     W     L     L     *     L     L     W  
 
 
MB       W     L     L     W     W     W     W     W     W     *     L     W  
 
 
ON       L     W     W     W     W     W     W     W     W     W     *     W  
 
 
BC       L     L     W     L     L     L     L     L     L     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2013 Tim Hortons Brier
                                    Presented by MONSANTO
                                      Edmonton, Alberta
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   AB (Martin)                    #SH   145  279  424   163  181  344   308  460  768
                                  PTS   498  996 1494   561  638 1199  1059 1634 2693
                                  PCT    86   89   88    86   88   87    86   89   88
 
 1 Ben Hebert                     #SH    24  142  166     5   13   18    29  155  184
                                  PTS    89  529  618     6   46   52    95  575  670
                                  PCT    93   93   93    30   88   72    82   93   91
 
 2 Marc Kennedy                   #SH    51   34   85    67   40  107   118   74  192
                                  PTS   183  116  299   248  144  392   431  260  691
                                  PCT    90   85   88    93   90   92    91   88   90
 
 3 John Morris                    #SH    33   50   83    42   67  109    75  117  192
                                  PTS   103  173  276   149  235  384   252  408  660
                                  PCT    78   87   83    89   88   88    84   87   86
 
 4 Kevin Martin                   #SH    37   47   84    48   60  108    85  107  192
                                  PTS   123  158  281   154  210  364   277  368  645
                                  PCT    83   84   84    80   88   84    81   86   84
 
 5 Karrick Martin                 #SH     0    6    6     1    1    2     1    7    8
                                  PTS     0   20   20     4    3    7     4   23   27
                                  PCT   ***   83   83   100   75   88   100   82   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NO (Jacobs)                    #SH   162  356  518   181  316  497   343  672 1015
                                  PTS   536 1257 1793   624 1141 1765  1160 2398 3558
                                  PCT    83   88   87    86   90   89    85   89   88
 
 1 Ryan Harnden                   #SH    29  185  214    10   26   36    39  211  250
                                  PTS   100  675  775    33   78  111   133  753  886
                                  PCT    86   91   91    83   75   77    85   89   89
 
 2 E.J. Harnden                   #SH    36   65  101    52  103  155    88  168  256
                                  PTS   117  221  338   189  376  565   306  597  903
                                  PCT    81   85   84    91   91   91    87   89   88
 
 3 Ryan Fry                       #SH    35   48   83    63  109  172    98  157  255
                                  PTS   120  174  294   227  393  620   347  567  914
                                  PCT    86   91   89    90   90   90    89   90   90
 
 4 Brad Jacobs                    #SH    62   58  120    55   78  133   117  136  253
                                  PTS   199  187  386   175  294  469   374  481  855
                                  PCT    80   81   80    80   94   88    80   88   84
 
 5 Matt Dumontelle                #SH     0    0    0     1    0    1     1    0    1
                                  PTS     0    0    0     0    0    0     0    0    0
                                  PCT   ***  ***  ***     0  ***    0     0  ***    0
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NT/YT (Koe)                    #SH   234  224  458   168  176  344   402  400  802
                                  PTS   768  753 1521   524  574 1098  1292 1327 2619
                                  PCT    82   84   83    78   82   80    80   83   82
 
 1 Robert Borden                  #SH    81   95  176     9   16   25    90  111  201
                                  PTS   286  338  624    30   53   83   316  391  707
                                  PCT    88   89   89    83   83   83    88   88   88
 
 2 Brad Chorostkowski             #SH    48   47   95    51   54  105    99  101  200
                                  PTS   140  151  291   156  190  346   296  341  637
                                  PCT    73   80   77    76   88   82    75   84   80
 
 3 Tom Naugler                    #SH    53   39   92    61   49  110   114   88  202
                                  PTS   171  131  302   190  162  352   361  293  654
                                  PCT    81   84   82    78   83   80    79   83   81
 
 4 Jamie Koe                      #SH    52   43   95    46   56  102    98   99  197
                                  PTS   171  133  304   144  165  309   315  298  613
                                  PCT    82   77   80    78   74   76    80   75   78
 
 5 Kevi Whitehead                 #SH     0    0    0     1    1    2     1    1    2
                                  PTS     0    0    0     4    4    8     4    4    8
                                  PCT   ***  ***  ***   100  100  100   100  100  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NB (Grattan)                   #SH   224  225  449   202  197  399   426  422  848
                                  PTS   770  767 1537   712  640 1352  1482 1407 2889
                                  PCT    86   85   86    88   81   85    87   83   85
 
 1 Pete Case                      #SH   100   88  188     9   14   23   109  102  211
                                  PTS   377  333  710    36   35   71   413  368  781
                                  PCT    94   95   94   100   63   77    95   90   93
 
 2 Darren Roach                   #SH    48   33   81    90   43  133   138   76  214
                                  PTS   150  115  265   329  133  462   479  248  727
                                  PCT    78   87   82    91   77   87    87   82   85
 
 3 Jason Roach                    #SH    29   52   81    60   73  133    89  125  214
                                  PTS   100  153  253   209  245  454   309  398  707
                                  PCT    86   74   78    87   84   85    87   80   83
 
 4 James Grattan                  #SH    47   52   99    43   67  110    90  119  209
                                  PTS   143  166  309   138  227  365   281  393  674
                                  PCT    76   80   78    80   85   83    78   83   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   QC (Menard)                    #SH   126  278  404    91  345  436   217  623  840
                                  PTS   452  955 1407   298 1201 1499   750 2156 2906
                                  PCT    90   86   87    82   87   86    86   87   86
 
 1 Philippe Menard                #SH    44  142  186     4   18   22    48  160  208
                                  PTS   166  517  683    12   62   74   178  579  757
                                  PCT    94   91   92    75   86   84    93   90   91
 
 2 Eric Sylvain                   #SH    23   53   76    37   99  136    60  152  212
                                  PTS    83  169  252   118  351  469   201  520  721
                                  PCT    90   80   83    80   89   86    84   86   85
 
 3 Martin Crete                   #SH    30   36   66    31  115  146    61  151  212
                                  PTS   106  122  228   112  394  506   218  516  734
                                  PCT    88   85   86    90   86   87    89   85   87
 
 4 J. Michel Menard               #SH    29   47   76    19  113  132    48  160  208
                                  PTS    97  147  244    56  394  450   153  541  694
                                  PCT    84   78   80    74   87   85    80   85   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NS (Flemming)                  #SH   209  265  474   117  175  292   326  440  766
                                  PTS   667  885 1552   355  596  951  1022 1481 2503
                                  PCT    80   83   82    76   85   81    78   84   82
 
 1 Kelly Mittelstadt              #SH    63  105  168    13   11   24    76  116  192
                                  PTS   229  354  583    44   39   83   273  393  666
                                  PCT    91   84   87    85   89   86    90   85   87
 
 2 Graham Breckon                 #SH    50   61  111    22   55   77    72  116  188
                                  PTS   155  210  365    64  196  260   219  406  625
                                  PCT    78   86   82    73   89   84    76   88   83
 
 3 Paul Flemming(S)               #SH    54   49  103    28   61   89    82  110  192
                                  PTS   159  165  324    88  204  292   247  369  616
                                  PCT    74   84   79    79   84   82    75   84   80
 
 4 Ian Fitzner-LeBlanc            #SH    37   47   84    54   48  102    91   95  186
                                  PTS   106  144  250   159  157  316   265  301  566
                                  PCT    72   77   74    74   82   77    73   79   76
 
 5 Kent Smith                     #SH     5    3    8     0    0    0     5    3    8
                                  PTS    18   12   30     0    0    0    18   12   30
                                  PCT    90  100   94   ***  ***  ***    90  100   94
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Gushue)                    #SH   283  233  516   179  290  469   462  523  985
                                  PTS  1006  803 1809   615 1016 1631  1621 1819 3440
                                  PCT    89   86   88    86   88   87    88   87   87
 
 1 Geoff Walker                   #SH   121   93  214     8   23   31   129  116  245
                                  PTS   446  331  777    29   71  100   475  402  877
                                  PCT    92   89   91    91   77   81    92   87   89
 
 2 Adam Casey                     #SH    51   45   96    65   87  152   116  132  248
                                  PTS   176  147  323   218  299  517   394  446  840
                                  PCT    86   82   84    84   86   85    85   84   85
 
 3 Brett Gallant                  #SH    53   44   97    52   99  151   105  143  248
                                  PTS   178  147  325   180  348  528   358  495  853
                                  PCT    84   84   84    87   88   87    85   87   86
 
 4 Brad Gushue                    #SH    58   51  109    54   81  135   112  132  244
                                  PTS   206  178  384   188  298  486   394  476  870
                                  PCT    89   87   88    87   92   90    88   90   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   SK (Virtue)                    #SH   238  246  484   169  193  362   407  439  846
                                  PTS   810  841 1651   553  656 1209  1363 1497 2860
                                  PCT    85   85   85    82   85   83    84   85   85
 
 1 DJ Kidby                       #SH    96   85  181    18   12   30   114   97  211
                                  PTS   350  296  646    48   45   93   398  341  739
                                  PCT    91   87   89    67   94   78    87   88   88
 
 2 Chris Schille                  #SH    41   59  100    50   62  112    91  121  212
                                  PTS   127  209  336   171  217  388   298  426  724
                                  PCT    77   89   84    86   88   87    82   88   85
 
 3 Braeden Moskowy                #SH    48   52  100    54   58  112   102  110  212
                                  PTS   156  172  328   190  198  388   346  370  716
                                  PCT    81   83   82    88   85   87    85   84   84
 
 4 Brock Virtue                   #SH    53   50  103    47   61  108   100  111  211
                                  PTS   177  164  341   144  196  340   321  360  681
                                  PCT    83   82   83    77   80   79    80   81   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (MacKenzie)                #SH   250  201  451   126  200  326   376  401  777
                                  PTS   811  642 1453   418  609 1027  1229 1251 2480
                                  PCT    81   80   81    83   76   79    82   78   80
 
 1 Sean Ledgerwood                #SH   111   52  163    14   17   31   125   69  194
                                  PTS   416  187  603    51   52  103   467  239  706
                                  PCT    94   90   92    91   76   83    93   87   91
 
 2 Alex MacFadyen                 #SH    55   53  108    23   61   84    78  114  192
                                  PTS   171  174  345    71  195  266   242  369  611
                                  PCT    78   82   80    77   80   79    78   81   80
 
 3 Anson Carmody                  #SH    44   47   91    43   62  105    87  109  196
                                  PTS   129  128  257   143  187  330   272  315  587
                                  PCT    73   68   71    83   75   79    78   72   75
 
 4 Eddie MacKenzie                #SH    39   46   85    46   60  106    85  106  191
                                  PTS    91  143  234   153  175  328   244  318  562
                                  PCT    58   78   69    83   73   77    72   75   74
 
 5 Philip Gorveatt                #SH     1    3    4     0    0    0     1    3    4
                                  PTS     4   10   14     0    0    0     4   10   14
                                  PCT   100   83   88   ***  ***  ***   100   83   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   MB (Stoughton)                 #SH   276  220  496   212  273  485   488  493  981
                                  PTS   992  805 1797   737  957 1694  1729 1762 3491
                                  PCT    90   91   91    87   88   87    89   89   89
 
 1 Mark Nichols                   #SH   110  104  214    13   15   28   123  119  242
                                  PTS   418  395  813    37   47   84   455  442  897
                                  PCT    95   95   95    71   78   75    92   93   93
 
 2 Reid Carruthers                #SH    52   40   92    78   76  154   130  116  246
                                  PTS   177  146  323   271  274  545   448  420  868
                                  PCT    85   91   88    87   90   88    86   91   88
 
 3 Jon Mead                       #SH    56   36   92    61   93  154   117  129  246
                                  PTS   202  125  327   225  336  561   427  461  888
                                  PCT    90   87   89    92   90   91    91   89   90
 
 4 Jeff Stoughton                 #SH    57   39   96    60   89  149   117  128  245
                                  PTS   192  135  327   204  300  504   396  435  831
                                  PCT    84   87   85    85   84   85    85   85   85
 
 5 Garth Smith                    #SH     1    1    2     0    0    0     1    1    2
                                  PTS     3    4    7     0    0    0     3    4    7
                                  PCT    75  100   88   ***  ***  ***    75  100   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   ON (Howard)                    #SH   240  250  490   235  291  526   475  541 1016
                                  PTS   876  908 1784   822 1046 1868  1698 1954 3652
                                  PCT    91   91   91    87   90   89    89   90   90
 
 1 Craig Savill                   #SH    86  123  209    14   24   38   100  147  247
                                  PTS   326  467  793    40   77  117   366  544  910
                                  PCT    95   95   95    71   80   77    92   93   92
 
 2 Brent Laing                    #SH    49   41   90    74   90  164   123  131  254
                                  PTS   184  144  328   277  331  608   461  475  936
                                  PCT    94   88   91    94   92   93    94   91   92
 
 3 Wayne Middaugh                 #SH    55   34   89    84   83  167   139  117  256
                                  PTS   195  115  310   296  299  595   491  414  905
                                  PCT    89   85   87    88   90   89    88   88   88
 
 4 Glenn Howard                   #SH    50   49   99    61   93  154   111  142  253
                                  PTS   171  171  342   204  335  539   375  506  881
                                  PCT    86   87   86    84   90   88    84   89   87
 
 5 Scott Howard                   #SH     0    3    3     2    1    3     2    4    6
                                  PTS     0   11   11     5    4    9     5   15   20
                                  PCT   ***   92   92    63  100   75    63   94   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   BC (Bilesky)                   #SH   343  158  501   135  169  304   478  327  805
                                  PTS  1230  513 1743   461  541 1002  1691 1054 2745
                                  PCT    90   81   87    85   80   82    88   81   85
 
 1 Aaron Watson                   #SH   135   45  180    10   12   22   145   57  202
                                  PTS   513  164  677    34   42   76   547  206  753
                                  PCT    95   91   94    85   88   86    94   90   93
 
 2 Derek Errington                #SH    75   42  117    36   49   85   111   91  202
                                  PTS   270  136  406   122  165  287   392  301  693
                                  PCT    90   81   87    85   84   84    88   83   86
 
 3 Steve Kopf                     #SH    65   33   98    47   57  104   112   90  202
                                  PTS   226  105  331   158  180  338   384  285  669
                                  PCT    87   80   84    84   79   81    86   79   83
 
 4 Andrew Bilesky                 #SH    68   38  106    42   51   93   110   89  199
                                  PTS   221  108  329   147  154  301   368  262  630
                                  PCT    81   71   78    88   75   81    84   74   79
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2013 Tim Hortons Brier
                                    Presented by MONSANTO
                                      Edmonton, Alberta
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  1    NO   11  NWTY  6
          DRAW 22    MB    4  NO   11
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  6    BC    1  SK    4
          DRAW  6    AB    1  NO    8
          DRAW 15    PE    1  ON    6
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  1    NO   11  NWTY  6
          DRAW  2    NWTY 10  NB    7
          DRAW  7    SK    8  NB    9
          DRAW  7    NL    9  NO    8
          DRAW 11    PE   10  BC    7
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   5
 
          DRAW  6    BC    1  SK    4
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  1    NS    2  NL   10    NL   SCORED 5 IN THE 6TH END
          DRAW  2    NWTY 10  NB    7    NWTY SCORED 5 IN THE 8TH END
          DRAW 16    SK    6  NWTY 10    NWTY SCORED 5 IN THE 9TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  1    NS    2  NL   10    NL   SCORED 3 IN THE 7TH END
          DRAW  2    NWTY 10  NB    7    NB   SCORED 3 IN THE 7TH END
          DRAW  3    BC    3  NO    9    NO   SCORED 3 IN THE THIRD END
          DRAW  3    BC    3  NO    9    NO   SCORED 3 IN THE 6TH END
          DRAW  5    BC    3  AB   10    AB   SCORED 3 IN THE 4TH END
          DRAW  6    NS    2  ON   10    ON   SCORED 3 IN THE THIRD END
          DRAW  7    NWTY  9  NS    6    NWTY SCORED 3 IN THE 7TH END
          DRAW 15    PE    1  ON    6    ON   SCORED 3 IN THE 8TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  1    SK    4  PE    3
          DRAW  6    BC    1  SK    4
          DRAW 14    QC    2  ON    4
          DRAW 17    NS    2  NO    5
 
NUMBER OF BLANK ENDS IN EVENT:  97
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAW  1
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW 15    PE    1  ON    6    BY PE   BEGINNING IN END 4
          DRAW 17    NS    2  NO    5    BY NS   BEGINNING IN END 2
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  6    QC    6  MB    7
          DRAW 11    NWTY  3  AB    8
          DRAW 16    SK    6  NWTY 10
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  5    BC    3  AB   10    BY AB   BEGINNING IN END 3
          DRAW  6    NS    2  ON   10    BY ON   BEGINNING IN END 3
          DRAW  6    QC    6  MB    7    BY MB   BEGINNING IN END 3
          DRAW  9    NO    2  ON    8    BY ON   BEGINNING IN END 4
          DRAW 16    SK    6  NWTY 10    BY SK   BEGINNING IN END 4
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  3    BC    3  NO    9    BY NO  
          DRAW  6    NS    2  ON   10    BY ON  
          DRAW 22    MB    4  NO   11    BY NO  
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  2    ON    8  BC    4    ON   WAS DOWN 3 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:  10
 
MOST ENDS PLAYED IN ONE GAME:  11 (10 games)
 
FEWEST ENDS PLAYED IN ONE GAME:   7 (11 games)
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   8
 
          DRAW 14    QC    2  ON    4    BY QC  
  </div>
</div>
