<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2015 Tim Hortons Brier
                                    Presented by SecurTek
                             Scotiabank Saddledome, Calgary, AB
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Bryan Cochrane                 ON    ** ** ** ** ** ** ** ** ** ** ** **100 ** ** ** ** 100
 1 Colin Hodgson                  MB    95 99 ** ** 93 ** 80 95 **100 ** 96 97 ** 96 98 96  95
 2 Ben Hebert                     AB    ** 93 96 ** 94 ** 88 95 ** 99 ** 95 88 ** 93 90 92  93
 3 Nolan Thiessen                 TC    83 ** 97 98 ** 88 94 ** 85 93 86 93 ** 91 ** 93 **  91
 4 Geoff Walker                   NL    85 ** 89 92 ** 90 96 ** 92 95 88 81 ** 93 ** 80 **  89
 4 Jared Bezanson                 NB    ** 73 ** 96 93 93 ** 89 91 ** 91 ** 88 89 84 ** 94  89
 6 Ryan Harnden                   NO    74 ** 92100 ** 88 90 ** 92 84 94 78 ** 84 ** 98 **  88
 6 Robert Borden                  NT    ** 76 ** 94 94 77 ** 92 94 ** 90 ** 89 93 91 ** 73  88
 8 Dallan Muyres                  SK    88 75 ** ** 98 ** 75 91 ** 94 ** 84 95 ** 91 85 83  87
 8 Phillip Menard                 QC    93 ** 85 90 ** 90 88 ** 78 90 79 83 ** 98 ** 79 **  87
 8 Scott Howard                   ON    ** 80 82 ** 83 ** 96 93 ** 78 ** 96 83 ** 94 78 91  87
11 Robbie Doherty                 PE    ** 85 ** 84 74 85 ** 81 92 ** 82 ** 93 78 88 ** 95  85
 + Steve Gould                    MB    ** ** ** ** ** ** ** 85 ** ** ** ** ** ** ** ** **  85
12 Rick Sawatsky                  BC    ** 84 ** 91 85 89 ** 75 84 ** 85 ** 83 78 92 ** 80  84
 + Robert Campbell                PE    ** ** ** ** ** ** ** ** ** ** ** ** ** ** 50 ** **  50
 + Eric Harnden                   NO    ** ** ** ** ** @@ ** ** ** ** ** ** ** ** ** ** **  **
 
   SECONDS
 1 Brent Laing                    AB    ** 93100 ** 90 ** 88 88 ** 93 ** 91 94 ** 85 84 94  91
 2 Carter Rycroft                 TC    85 ** 89 85 ** 90 84 ** 88 93 89 91 ** 98 ** 98 **  90
 3 Derek Samagalski               MB    94 76 ** ** 85 ** 88 94 ** 91 ** 88 83 ** 93 88 91  88
 4 E.J. Harnden                   NO    70 ** 85 85 ** 94 94 ** 78 94 95 84 ** 84 ** 95 **  87
 5 Tyrel Griffith                 BC    ** 81 ** 76 90 86 ** 86 99 ** 81 ** 75 94 88 ** 86  86
 6 David Mathers                  ON    ** 81 86 ** 72 ** 94 81 ** 80 ** 89 86 ** 90 86 89  85
 7 Eric Sylvain                   QC    73 ** 83 81 ** 68 88 ** 94 95 85 90 ** 90 ** 81 **  84
 7 Anson Carmody                  PE    ** 65 ** 78 83 81 ** 89 95 ** 93 ** 88 82 89 ** 88  84
 7 Brett Gallant                  NL    70 ** 86 76 ** 80 94 ** 95 81 93 85 ** 81 ** 79 **  84
10 Colton Flasch                  SK    73 90 ** ** 97 ** 82 92 ** 78 ** 74 94 ** 96 77 69  83
 + Tom Sallows                    TC    ** ** ** ** ** ** 81 ** ** ** ** ** ** ** ** ** **  81
11 Chris Jeffrey                  NB    ** 69 ** 81 72 80 ** 78 91 ** 79 ** 84 81 84 ** 80  80
12 Brad Chorostkowski             NT    ** 71 ** 76 89 84 ** 70 66 ** 81 ** 80 81 91 ** 75  78
 + Bill Merklinger                NT    ** ** ** ** ** 75 ** ** ** ** ** ** ** ** 81 ** **  78
 
   THIRDS 
 + Eric Harnden                   NO    ** ** ** ** ** @@ ** **100 ** ** ** ** ** ** ** ** 100
 1 Ryan Fry                       NO    91 ** 88 86 ** 91100 ** 93 97 91 96 ** 86 ** 90 **  92
 2 Marc Kennedy                   AB    ** 90 94 ** 89 ** 84 95 ** 98 ** 89 95 ** 90 86 92  91
 3 Braeden Moskowy                MB    88 88 ** ** 85 ** 96 94 ** 91 ** 88 89 ** 80 88 91  89
 4 John Morris                    TC    ** ** ** ** ** ** ** ** 90 84 85 98 ** 90 ** 84 **  88
 5 Kirk Muyres                    SK    83 99 ** ** 95 ** 90 89 ** 89 ** 81 85 ** 91 69 88  87
 + Pat Simmons                    TC    81 ** 92 90 ** 86 78 ** ** ** ** ** ** ** ** ** **  86
 6 Mat Camm                       ON    ** 94 89 ** 76 ** 88 88 ** 80 ** 85 91 ** 80 82 89  85
 7 Martin Crete                   QC    76 ** 86 94 ** 84 79 ** 88 81 88 88 ** 90 ** 70 **  84
 8 Josh Barry                     PE    ** 80 ** 85 83 86 ** 88 64 ** 76 ** 83 90 95 ** 88  83
 9 Mark Nichols                   NL    81 ** 76 82 ** 89 84 ** 94 74 88 79 ** 76 ** 75 **  81
10 Zach Eldridge                  NB    ** 71 ** 88 67 83 ** 71 73 ** 89 ** 83 72 81 ** 70  77
10 Ryan Kuhn                      BC    ** 67 ** 75 86 57 ** 88 76 ** 86 ** 73 90 78 ** 73  77
12 Mark Whitehead                 NT    ** 75 ** 79 77 83 ** 67 81 ** 79 ** 74 75 81 ** 70  76
 
   SKIPS  
 1 Brad Jacobs                    NO    89 ** 82 91 ** 88 89 ** 92 95 86 72 ** 75 ** 93 **  86
 2 Steve Laycock                  SK    73 83 ** ** 88 ** 81 89 ** 90 ** 76 93 ** 83 81 93  84
 2 Pat Simmons                    TC    ** ** ** ** ** ** ** ** 84 96 71 89 ** 88 ** 74 **  84
 4 Brad Gushue                    NL    88 ** 84 92 ** 71 86 ** 92 74 82 76 ** 85 ** 73 **  82
 4 Jean-Michel Menard             QC    85 ** 85 84 ** 90 75 ** 78 85 86 82 ** 83 ** 68 **  82
 4 Kevin Koe                      AB    ** 70 61 ** 93 ** 82 95 ** 75 ** 84 93 ** 79 85 84  82
 7 Jim Cotter                     BC    ** 84 ** 78 84 84 ** 83 80 ** 76 ** 63 82 88 ** 80  81
 + John Morris                    TC    85 ** 81 76 ** 90 64 ** ** ** ** ** ** ** ** ** **  80
 8 Reid Carruthers                MB    83 74 ** ** 82 ** 88 86 ** 87 ** 75 80 ** 73 73 68  79
 9 Adam Casey                     PE    ** 84 ** 88 84 81 ** 78 53 ** 68 ** 63 85 91 ** 88  78
10 Mark Kean                      ON    ** 80 84 ** 83 ** 76 72 ** 70 ** 74 66 ** 90 71 81  77
10 Jeremy Mallais                 NB    ** 79 ** 79 69 88 ** 76 59 ** 82 ** 83 75 83 ** 67  77
12 Jamie Koe                      NT    ** 80 ** 67 88 66 ** 64 74 ** 84 ** 64 84 79 ** 64  74
 
   TEAMS
 1 Alberta (K. Koe)                     ** 87 88 ** 92 ** 85 93 ** 91 ** 90 93 ** 87 86 91  89
 2 N.Ontario (Jacobs)                   81 ** 87 90 ** 90 93 ** 89 93 92 83 ** 82 ** 94 **  88
 2 Man. (Carruthers)                    90 84 ** ** 86 ** 88 91 ** 92 ** 87 88 ** 85 86 87  88
 4 T.Canada (Morris)                    83 ** 89 87 ** 88 80 ** 87 91 83 93 ** 92 ** 87 **  87
 5 Sask. (Laycock)                      79 87 ** ** 94 ** 82 90 ** 88 ** 79 92 ** 90 78 83  85
 6 Quebec (Menard)                      82 ** 85 87 ** 83 82 ** 84 88 85 86 ** 90 ** 74 **  84
 6 NL (Gushue)                          81 ** 84 85 ** 83 90 ** 93 81 88 80 ** 84 ** 77 **  84
 6 Ontario (Kean)                       ** 84 85 ** 79 ** 89 83 ** 77 ** 86 82 ** 88 79 88  84
 9 PEI (Casey)                          ** 78 ** 83 81 83 ** 84 76 ** 80 ** 82 84 89 ** 89  83
10 B.C. (Cotter)                        ** 79 ** 80 86 79 ** 83 85 ** 82 ** 74 86 86 ** 80  82
11 N.B. (Mallais)                       ** 73 ** 86 75 86 ** 78 79 ** 85 ** 84 79 83 ** 78  81
12 NWT (J. Koe)                         ** 76 ** 79 87 77 ** 73 79 ** 84 ** 77 83 86 ** 71  79
 
**did not play
@@all shots throw-through
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2015 Tim Hortons Brier
                                    Presented by SecurTek
                             Scotiabank Saddledome, Calgary, AB
 
                                    PLUS/MINUS STATISTICS
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Colin Hodgson                  MB     +  +  *  *  0  *  -  0  *  +  *  +  +  *  0  +  0  +5
Ben Hebert                     AB     *  +  0  *  +  *  0  +  *  +  *  +  0  *  0  -  0  +4
Jared Bezanson                 NB     *  0  *  +  0  +  *  0  0  *  0  *  +  +  -  *  0  +3
Geoff Walker                   NL     0  *  -  0  *  0  +  *  0  +  +  -  *  +  *  0  *  +2
Robert Borden                  NT     *  0  *  0  0  -  *  0  +  *  +  *  0  +  0  *  -  +1
Dallan Muyres                  SK     0  -  *  *  0  *  -  0  *  0  *  +  0  *  0  +  0   0
Phillip Menard                 QC     +  *  0  -  *  +  0  *  -  0  -  -  *  +  *  0  *  -1
Ryan Harnden                   NO     -  *  0  +  *  +  -  *  0  -  0  -  *  -  *  +  *  -2
Rick Sawatsky                  BC     *  -  *  -  +  0  *  -  +  *  0  *  -  -  +  *  0  -2
Scott Howard                   ON     *  -  0  *  -  *  +  +  *  -  *  0  -  *  0  -  +  -2
Nolan Thiessen                 TC     -  *  +  +  *  -  +  *  -  -  0  0  *  -  *  -  *  -3
Robbie Doherty                 PE     *  +  *  -  -  -  *  -  0  *  -  *  0  -  0  *  0  -5
 
SECONDS
Brent Laing                    AB     *  +  +  *  +  *  0  0  *  0  *  +  +  *  -  0  +  +5
Carter Rycroft                 TC     -  *  0  +  *  +  0  *  +  0  +  0  *  +  *  0  *  +4
E.J. Harnden                   NO     0  *  -  +  *  +  0  *  -  0  +  +  *  0  *  0  *  +2
Derek Samagalski               MB     +  -  *  *  +  *  -  +  *  0  *  0  +  *  0  0  0  +2
Tyrel Griffith                 BC     *  -  *  -  +  +  *  +  +  *  -  *  -  +  0  *  +  +2
Colton Flasch                  SK     0  +  *  *  +  *  0  +  *  -  *  -  +  *  +  -  -  +1
David Mathers                  ON     *  +  0  *  -  *  0  -  *  0  *  0  0  *  0  +  +  +1
Brett Gallant                  NL     0  *  0  0  *  -  +  *  0  0  0  -  *  0  *  0  *  -1
Eric Sylvain                   QC     0  *  0  0  *  -  0  *  -  +  0  0  *  -  *  0  *  -2
Anson Carmody                  PE     *  -  *  -  -  +  *  0  +  *  0  *  -  0  0  *  0  -2
Chris Jeffrey                  NB     *  0  *  0  -  -  *  -  0  *  -  *  0  0  0  *  -  -5
Brad Chorostkowski             NT     *  0  *  0  -  -  *  -  -  *  0  *  -  -  0  *  -  -7
 
THIRDS 
Marc Kennedy                   AB     *  +  +  *  +  *  +  +  *  +  *  +  +  *  0  0  +  +9
Ryan Fry                       NO     +  *  -  +  *  +  +  *  +  +  0  +  *  +  *  +  *  +8
Kirk Muyres                    SK     0  +  *  *  +  *  +  +  *  +  *  -  0  *  0  -  +  +4
Braeden Moskowy                MB     +  -  *  *  +  *  +  +  *  -  *  0  +  *  0  0  0  +3
Mat Camm                       ON     *  +  0  *  -  *  -  0  *  +  *  -  +  *  0  +  +  +2
John Morris                    TC     *  *  *  *  *  *  *  *  +  -  0  +  *  0  *  -  *   0
Martin Crete                   QC     -  *  0  +  *  0  -  *  +  -  +  0  *  0  *  -  *  -1
Mark Nichols                   NL     0  *  -  0  *  +  -  *  +  -  +  -  *  -  *  +  *  -1
Josh Barry                     PE     *  -  *  -  0  0  *  -  -  *  -  *  0  +  +  *  0  -3
Ryan Kuhn                      BC     *  -  *  -  0  -  *  0  -  *  0  *  -  +  0  *  -  -5
Zach Eldridge                  NB     *  0  *  -  -  0  *  -  -  *  0  *  -  -  0  *  -  -7
Mark Whitehead                 NT     *  0  *  0  -  -  *  -  -  *  -  *  -  -  -  *  -  -9
 
SKIPS  
Brad Jacobs                    NO     0  *  +  +  *  +  +  *  +  +  0  0  *  -  *  +  *  +6
Steve Laycock                  SK     -  +  *  *  0  *  +  +  *  +  *  0  +  *  0  +  +  +6
Brad Gushue                    NL     +  *  0  +  *  -  0  *  +  0  +  -  *  +  *  +  *  +4
Kevin Koe                      AB     *  -  -  *  +  *  +  +  *  -  *  +  +  *  0  +  +  +4
Jim Cotter                     BC     *  +  *  -  0  +  *  +  0  *  +  *  -  0  +  *  -  +2
Pat Simmons                    TC     *  *  *  *  *  *  *  *  +  +  -  +  *  +  *  -  *  +2
Jean-Michel Menard             QC     0  *  0  +  *  +  -  *  0  -  0  +  *  -  *  -  *  -1
Adam Casey                     PE     *  0  *  +  0  -  *  -  -  *  -  *  -  +  +  *  +  -1
Reid Carruthers                MB     0  -  *  *  +  *  0  +  *  -  *  -  +  *  -  -  -  -3
Mark Kean                      ON     *  0  0  *  -  *  -  -  *  0  *  -  -  *  +  -  +  -4
Jeremy Mallais                 NB     *  0  *  -  -  0  *  -  -  *  0  *  +  -  -  *  -  -6
Jamie Koe                      NT     *  0  *  -  0  -  *  -  -  *  0  *  -  0  -  *  -  -7
 
   TEAMS
Alberta (K. Koe)                      *  +  0  *  +  *  0  +  *  0  *  +  +  *  0  0  +  +6
N.Ontario (Jacobs)                    0  *  0  +  *  +  0  *  +  0  +  0  *  0  *  +  *  +5
Man. (Carruthers)                     +  0  *  *  +  *  0  +  *  0  *  0  +  *  0  0  0  +4
Sask. (Laycock)                       0  0  *  *  +  *  0  +  *  0  *  0  +  *  0  0  0  +3
NL (Gushue)                           0  *  -  +  *  0  0  *  +  0  +  -  *  0  *  0  *  +1
T.Canada (Morris)                     -  *  +  0  *  0  0  *  +  0  0  +  *  0  *  -  *  +1
Ontario (Kean)                        *  +  0  *  -  *  0  0  *  0  *  -  0  *  0  0  +   0
Quebec (Menard)                       0  *  0  0  *  0  0  *  0  0  0  0  *  0  *  0  *   0
B.C. (Cotter)                         *  -  *  -  +  0  *  0  0  *  0  *  -  0  0  *  0  -2
PEI (Casey)                           *  -  *  0  -  0  *  -  -  *  -  *  -  +  0  *  0  -5
N.B. (Mallais)                        *  0  *  0  -  0  *  -  -  *  -  *  0  -  0  *  -  -6
NWT (J. Koe)                          *  0  *  -  -  -  *  -  -  *  0  *  -  0  0  *  -  -7
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2015 Tim Hortons Brier
                                    Presented by SecurTek
                             Scotiabank Saddledome, Calgary, AB
 
                                      SCORING ANALYSIS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
AB     11   104  FOR       5    14     28   19    2    0    0    0   72   6.5   14  0.69
                 AGAINST   8     4     23   17    2    0    0    0   63   5.7    4  0.61
 
BC     11   105  FOR      10    10     31   14    0    1    0    0   63   5.7   11  0.60
                 AGAINST  11     4     20   15    2    1    0    0   60   5.5    5  0.57
 
MB     11   100  FOR       4     8     22   15    3    0    1    0   66   6.0    9  0.66
                 AGAINST   9    12     30   15    1    0    0    0   63   5.7   13  0.63
 
NB     11    98  FOR       7     4     27   10    1    0    0    0   50   4.5    6  0.51
                 AGAINST   3    15     28   16    5    1    0    0   79   7.2   20  0.81
 
NL     11   106  FOR       7    11     29   15    7    0    0    0   80   7.3   15  0.75
                 AGAINST   6     6     27   11    4    0    0    0   61   5.5    7  0.58
 
NO     11   100  FOR      10    10     24   18    5    1    0    0   79   7.2   16  0.79
                 AGAINST   7     3     30    5    0    0    0    0   40   3.6    3  0.40
 
NT     11    96  FOR       4     4     28    9    0    0    0    0   46   4.2    4  0.48
                 AGAINST   8    11     20   19    3    4    1    0   88   8.0   14  0.92
 
ON     11   104  FOR       9     6     24   13    3    0    1    0   64   5.8    7  0.62
                 AGAINST   5    11     24   21    3    1    0    0   79   7.2   14  0.76
 
QC     11   106  FOR       5     2     22   19    2    1    0    0   70   6.4    2  0.66
                 AGAINST   7     9     34   15    1    0    0    0   67   6.1    9  0.63
 
SK     11   104  FOR       8     9     26   10    5    2    0    0   69   6.3   14  0.66
                 AGAINST  14     3     26   10    2    0    1    0   57   5.2    3  0.55
 
TC     11   108  FOR      13     9     30   14    2    0    0    0   64   5.8   11  0.59
                 AGAINST   7     7     26   13    3    0    0    0   61   5.5   10  0.56
 
PE     11   103  FOR       7    11     29   12    1    2    0    0   64   5.8   12  0.62
                 AGAINST   4    13     32   11    5    0    0    0   69   6.3   19  0.67
 
 
TOTAL  66   617  FOR      89    98    320  168   31    7    2    0  787   6.0  121  0.64
                 AGAINST  89    98    320  168   31    7    2    0  787   6.0  121  0.64
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2015 Tim Hortons Brier
                                    Presented by SecurTek
                             Scotiabank Saddledome, Calgary, AB
 
                                     TEAM WIN/LOSS GRID
 
 
        AB    BC    MB    NB    NL    NO    NT    ON    QC    SK    TC    PE    
 
 
AB       *     L     W     W     L     L     W     W     W     L     L     W  
 
 
BC       W     *     L     W     W     L     W     W     L     L     L     L  
 
 
MB       L     W     *     W     W     L     W     L     L     L     L     L  
 
 
NB       L     L     L     *     L     L     W     W     L     L     L     L  
 
 
NL       W     L     L     W     *     W     W     W     W     W     W     W  
 
 
NO       W     W     W     W     L     *     W     W     W     W     W     W  
 
 
NT       L     L     L     L     L     L     *     L     L     L     L     L  
 
 
ON       L     L     W     L     L     L     W     *     W     W     L     W  
 
 
QC       L     W     W     W     L     L     W     L     *     W     L     W  
 
 
SK       W     W     W     W     L     L     W     L     L     *     W     W  
 
 
TC       W     W     W     W     L     L     W     W     W     L     *     L  
 
 
PE       L     W     W     W     L     L     W     L     L     L     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2015 Tim Hortons Brier
                                    Presented by SecurTek
                             Scotiabank Saddledome, Calgary, AB
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (K. Koe)               #SH   148  356  504   127  203  330   275  559  834
                                  PTS   520 1303 1823   442  706 1148   962 2009 2971
                                  PCT    88   92   90    87   87   87    87   90   89
 
 1 Ben Hebert                     #SH    24  160  184     5   18   23    29  178  207
                                  PTS    85  610  695    14   60   74    99  670  769
                                  PCT    89   95   94    70   83   80    85   94   93
 
 2 Brent Laing                    #SH    32   74  106    39   65  104    71  139  210
                                  PTS   118  270  388   148  226  374   266  496  762
                                  PCT    92   91   92    95   87   90    94   89   91
 
 3 Marc Kennedy                   #SH    65   43  108    51   51  102   116   94  210
                                  PTS   241  154  395   182  187  369   423  341  764
                                  PCT    93   90   91    89   92   90    91   91   91
 
 4 Kevin Koe                      #SH    27   79  106    32   69  101    59  148  207
                                  PTS    76  269  345    98  233  331   174  502  676
                                  PCT    70   85   81    77   84   82    74   85   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Cotter)                  #SH   178  243  421   222  205  427   400  448  848
                                  PTS   571  806 1377   749  652 1401  1320 1458 2778
                                  PCT    80   83   82    84   80   82    83   81   82
 
 1 Rick Sawatsky                  #SH    75  111  186    12   15   27    87  126  213
                                  PTS   253  373  626    45   47   92   298  420  718
                                  PCT    84   84   84    94   78   85    86   83   84
 
 2 Tyrel Griffith                 #SH    31   45   76    79   59  138   110  104  214
                                  PTS   112  155  267   260  207  467   372  362  734
                                  PCT    90   86   88    82   88   85    85   87   86
 
 3 Ryan Kuhn                      #SH    32   43   75    68   71  139   100  114  214
                                  PTS    92  133  225   225  209  434   317  342  659
                                  PCT    72   77   75    83   74   78    79   75   77
 
 4 Jim Cotter                     #SH    40   44   84    63   60  123   103  104  207
                                  PTS   114  145  259   219  189  408   333  334  667
                                  PCT    71   82   77    87   79   83    81   80   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Man. (Carruthers)              #SH   245  201  446   175  195  370   420  396  816
                                  PTS   876  711 1587   597  673 1270  1473 1384 2857
                                  PCT    89   88   89    85   86   86    88   87   88
 
 1 Colin Hodgson                  #SH    99   79  178    11   10   21   110   89  199
                                  PTS   378  304  682    37   37   74   415  341  756
                                  PCT    95   96   96    84   93   88    94   96   95
 
 2 Derek Samagalski               #SH    59   37   96    47   57  104   106   94  200
                                  PTS   202  135  337   161  207  368   363  342  705
                                  PCT    86   91   88    86   91   88    86   91   88
 
 3 Braeden Moskowy                #SH    51   37   88    58   66  124   109  103  212
                                  PTS   177  124  301   206  244  450   383  368  751
                                  PCT    87   84   86    89   92   91    88   89   89
 
 4 Reid Carruthers                #SH    32   47   79    59   62  121    91  109  200
                                  PTS   104  146  250   193  185  378   297  331  628
                                  PCT    81   78   79    82   75   78    82   76   79
 
 5 Steve Gould                    #SH     4    1    5     0    0    0     4    1    5
                                  PTS    15    2   17     0    0    0    15    2   17
                                  PCT    94   50   85   ***  ***  ***    94   50   85
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Mallais)                 #SH   217  270  487   148  166  314   365  436  801
                                  PTS   730  892 1622   463  500  963  1193 1392 2585
                                  PCT    84   83   83    78   75   77    82   80   81
 
 1 Jared Bezanson                 #SH    74  107  181     9   11   20    83  118  201
                                  PTS   272  378  650    24   41   65   296  419  715
                                  PCT    92   88   90    67   93   81    89   89   89
 
 2 Chris Jeffrey                  #SH    45   70  115    40   47   87    85  117  202
                                  PTS   159  232  391   109  143  252   268  375  643
                                  PCT    88   83   85    68   76   72    79   80   80
 
 3 Zach Eldridge                  #SH    51   44   95    50   57  107   101  101  202
                                  PTS   168  125  293   165  167  332   333  292  625
                                  PCT    82   71   77    83   73   78    82   72   77
 
 4 Jeremy Mallais                 #SH    47   49   96    49   51  100    96  100  196
                                  PTS   131  157  288   165  149  314   296  306  602
                                  PCT    70   80   75    84   73   79    77   77   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Gushue)                    #SH   217  339  556   184  358  542   401  697 1098
                                  PTS   753 1172 1925   599 1165 1764  1352 2337 3689
                                  PCT    87   86   87    81   81   81    84   84   84
 
 1 Geoff Walker                   #SH    91  149  240     8   26   34    99  175  274
                                  PTS   336  530  866    29   85  114   365  615  980
                                  PCT    92   89   90    91   82   84    92   88   89
 
 2 Brett Gallant                  #SH    38   65  103    77   96  173   115  161  276
                                  PTS   128  224  352   250  323  573   378  547  925
                                  PCT    84   86   85    81   84   83    82   85   84
 
 3 Mark Nichols                   #SH    43   58  101    62  113  175   105  171  276
                                  PTS   143  200  343   192  372  564   335  572  907
                                  PCT    83   86   85    77   82   81    80   84   82
 
 4 Brad Gushue                    #SH    45   67  112    37  123  160    82  190  272
                                  PTS   146  218  364   128  385  513   274  603  877
                                  PCT    81   81   81    86   78   80    84   79   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.Ontario (Jacobs)             #SH   121  280  401   175  394  569   296  674  970
                                  PTS   398  994 1392   611 1419 2030  1009 2413 3422
                                  PCT    82   89   87    87   90   89    85   90   88
 
 1 Ryan Harnden                   #SH    23  171  194    10   33   43    33  204  237
                                  PTS    82  618  700    23  120  143   105  738  843
                                  PCT    89   90   90    57   91   83    80   90   89
 
 2 E.J. Harnden                   #SH    21   41   62    55  128  183    76  169  245
                                  PTS    68  143  211   190  453  643   258  596  854
                                  PCT    81   87   85    86   88   88    85   88   87
 
 3 Ryan Fry                       #SH    27   32   59    53  132  185    80  164  244
                                  PTS    94  110  204   194  486  680   288  596  884
                                  PCT    87   86   86    92   92   92    90   91   91
 
 4 Brad Jacobs                    #SH    50   36   86    57   99  156   107  135  242
                                  PTS   154  123  277   204  352  556   358  475  833
                                  PCT    77   85   81    89   89   89    84   88   86
 
 5 Eric Harnden                   #SH     0    0    0     0    2    2     0    2    2
                                  PTS     0    0    0     0    8    8     0    8    8
                                  PCT   ***  ***  ***   ***  100  100   ***  100  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NWT (J. Koe)                   #SH   300  187  487   158  132  290   458  319  777
                                  PTS   980  607 1587   484  388  872  1464  995 2459
                                  PCT    82   81   81    77   73   75    80   78   79
 
 1 Robert Borden                  #SH   134   41  175    14    7   21   148   48  196
                                  PTS   482  139  621    47   19   66   529  158  687
                                  PCT    90   85   89    84   68   79    89   82   88
 
 2 Brad Chorostkowski             #SH    65   57  122    37   37   74   102   94  196
                                  PTS   204  181  385   121  108  229   325  289  614
                                  PCT    78   79   79    82   73   77    80   77   78
 
 3 Mark Whitehead                 #SH    50   40   90    65   35  100   115   75  190
                                  PTS   144  129  273   205  102  307   349  231  580
                                  PCT    72   81   76    79   73   77    76   77   76
 
 4 Jamie Koe                      #SH    42   48   90    42   53   95    84  101  185
                                  PTS   123  154  277   111  159  270   234  313  547
                                  PCT    73   80   77    66   75   71    70   77   74
 
 5 Bill Merklinger                #SH     9    1   10     0    0    0     9    1   10
                                  PTS    27    4   31     0    0    0    27    4   31
                                  PCT    75  100   78   ***  ***  ***    75  100   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Kean)                 #SH   262  177  439   190  196  386   452  373  825
                                  PTS   885  598 1483   627  648 1275  1512 1246 2758
                                  PCT    84   84   84    83   83   83    84   84   84
 
 1 Scott Howard                   #SH   112   71  183     5   11   16   117   82  199
                                  PTS   396  239  635    19   35   54   415  274  689
                                  PCT    88   84   87    95   80   84    89   84   87
 
 2 David Mathers                  #SH    51   42   93    62   53  115   113   95  208
                                  PTS   174  142  316   200  191  391   374  333  707
                                  PCT    85   85   85    81   90   85    83   88   85
 
 3 Mat Camm                       #SH    47   31   78    61   69  130   108  100  208
                                  PTS   160  115  275   211  224  435   371  339  710
                                  PCT    85   93   88    86   81   84    86   85   85
 
 4 Mark Kean                      #SH    48   33   81    62   63  125   110   96  206
                                  PTS   139  102  241   197  198  395   336  300  636
                                  PCT    72   77   74    79   79   79    76   78   77
 
 5 Bryan Cochrane                 #SH     4    0    4     0    0    0     4    0    4
                                  PTS    16    0   16     0    0    0    16    0   16
                                  PCT   100  ***  100   ***  ***  ***   100  ***  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Menard)                #SH   179  270  449    64  356  420   243  626  869
                                  PTS   610  915 1525   205 1194 1399   815 2109 2924
                                  PCT    85   85   85    80   84   83    84   84   84
 
 1 Phillip Menard                 #SH   112   86  198     4    8   12   116   94  210
                                  PTS   392  301  693    14   22   36   406  323  729
                                  PCT    88   88   88    88   69   75    88   86   87
 
 2 Eric Sylvain                   #SH    18   73   91    20  109  129    38  182  220
                                  PTS    55  247  302    65  374  439   120  621  741
                                  PCT    76   85   83    81   86   85    79   85   84
 
 3 Martin Crete                   #SH    30   54   84    22  114  136    52  168  220
                                  PTS   105  183  288    71  379  450   176  562  738
                                  PCT    88   85   86    81   83   83    85   84   84
 
 4 Jean-Michel Menard             #SH    19   57   76    18  125  143    37  182  219
                                  PTS    58  184  242    55  419  474   113  603  716
                                  PCT    76   81   80    76   84   83    76   83   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask. (Laycock)                #SH   273  252  525   298  207  505   571  459 1030
                                  PTS   927  827 1754  1007  728 1735  1934 1555 3489
                                  PCT    85   82   84    84   88   86    85   85   85
 
 1 Dallan Muyres                  #SH   124   93  217    23   13   36   147  106  253
                                  PTS   429  312  741    81   51  132   510  363  873
                                  PCT    86   84   85    88   98   92    87   86   86
 
 2 Colton Flasch                  #SH    57   57  114    86   60  146   143  117  260
                                  PTS   191  172  363   285  214  499   476  386  862
                                  PCT    84   75   80    83   89   85    83   82   83
 
 3 Kirk Muyres                    #SH    43   48   91   106   63  169   149  111  260
                                  PTS   143  167  310   364  215  579   507  382  889
                                  PCT    83   87   85    86   85   86    85   86   85
 
 4 Steve Laycock                  #SH    49   54  103    83   71  154   132  125  257
                                  PTS   164  176  340   277  248  525   441  424  865
                                  PCT    84   81   83    83   87   85    84   85   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   T.Canada (Morris)              #SH   193  453  646   200  286  486   393  739 1132
                                  PTS   666 1613 2279   711  964 1675  1377 2577 3954
                                  PCT    86   89   88    89   84   86    88   87   87
 
 1 Nolan Thiessen                 #SH    37  214  251     6   27   33    43  241  284
                                  PTS   139  788  927    21   82  103   160  870 1030
                                  PCT    94   92   92    88   76   78    93   90   91
 
 2 Carter Rycroft                 #SH    50   82  132    65   83  148   115  165  280
                                  PTS   176  299  475   239  287  526   415  586 1001
                                  PCT    88   91   90    92   86   89    90   89   89
 
 3 Pat Simmons                    #SH    60   73  133    63   84  147   123  157  280
                                  PTS   198  244  442   227  286  513   425  530  955
                                  PCT    83   84   83    90   85   87    86   84   85
 
 4 John Morris                    #SH    44   82  126    66   92  158   110  174  284
                                  PTS   148  274  422   224  309  533   372  583  955
                                  PCT    84   84   84    85   84   84    85   84   84
 
 5 Tom Sallows                    #SH     2    2    4     0    0    0     2    2    4
                                  PTS     5    8   13     0    0    0     5    8   13
                                  PCT    63  100   81   ***  ***  ***    63  100   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (Casey)                    #SH   291  169  460   163  201  364   454  370  824
                                  PTS   968  555 1523   543  660 1203  1511 1215 2726
                                  PCT    83   82   83    83   82   83    83   82   83
 
 1 Robbie Doherty                 #SH   160   31  191     5    8   13   165   39  204
                                  PTS   558  101  659    16   20   36   574  121  695
                                  PCT    87   81   86    80   63   69    87   78   85
 
 2 Anson Carmody                  #SH    47   45   92    50   64  114    97  109  206
                                  PTS   159  152  311   168  214  382   327  366  693
                                  PCT    85   84   85    84   84   84    84   84   84
 
 3 Josh Barry                     #SH    48   43   91    51   64  115    99  107  206
                                  PTS   148  133  281   179  228  407   327  361  688
                                  PCT    77   77   77    88   89   88    83   84   83
 
 4 Adam Casey                     #SH    34   50   84    57   65  122    91  115  206
                                  PTS    99  169  268   180  198  378   279  367  646
                                  PCT    73   85   80    79   76   77    77   80   78
 
 5 Robert Campbell                #SH     2    0    2     0    0    0     2    0    2
                                  PTS     4    0    4     0    0    0     4    0    4
                                  PCT    50  ***   50   ***  ***  ***    50  ***   50
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2015 Tim Hortons Brier
                                    Presented by SecurTek
                             Scotiabank Saddledome, Calgary, AB
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  8    NT    3  MB   11
          DRAW  9    NO   11  PE    1
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  9    NO   11  PE    1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  3    ON    9  QC    8
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW 17    BC    2  SK    4
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  8    NT    3  MB   11    MB   SCORED 5 IN THE 4TH END
          DRAW 16    ON    8  SK    7    ON   SCORED 5 IN THE 8TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  7    TC    4  SK    8    SK   SCORED 3 IN THE 4TH END
          DRAW  8    SK    7  NB    4    SK   SCORED 3 IN THE 8TH END
          DRAW  9    NO   11  PE    1    NO   SCORED 3 IN THE 5TH END
          DRAW  9    NL   10  NB    2    NL   SCORED 3 IN THE 8TH END
          DRAW 11    NL    9  PE    6    NL   SCORED 3 IN THE 5TH END
          DRAW 13    NB    9  ON    4    NB   SCORED 3 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW 22    TC    6  NO    5
 
NUMBER OF BLANK ENDS IN EVENT: 101
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW  6
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW 22    TC    6  NO    5    BY NO   BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  9    NO   11  PE    1
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  9    NO   11  PE    1    BY NO   BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW  9    NO   11  PE    1    BY NO  
 
LARGEST COME FROM BEHIND VICTORY:   2
 
          DRAW  1    TC    6  MB    4    TC   WAS DOWN 2 AFTER 5 ENDS
          DRAW  2    NT    5  NB    6    NB   WAS DOWN 2 AFTER 5 ENDS
          DRAW  6    NB    5  TC    6    TC   WAS DOWN 2 AFTER 7 ENDS
          DRAW  6    BC    6  NL    3    BC   WAS DOWN 2 AFTER 2 ENDS
          DRAW 11    TC    8  BC    7    TC   WAS DOWN 2 AFTER 4 ENDS
          DRAW 11    NL    9  PE    6    NL   WAS DOWN 2 AFTER 3 ENDS
          DRAW 13    SK    7  PE    6    SK   WAS DOWN 2 AFTER 5 ENDS
          DRAW 14    PE    8  NB    4    PE   WAS DOWN 2 AFTER 1 END
          DRAW 15    MB    7  ON    8    ON   WAS DOWN 2 AFTER 1 END
          DRAW 15    AB    5  SK    6    SK   WAS DOWN 2 AFTER 3 ENDS
          DRAW 16    AB    8  MB    7    AB   WAS DOWN 2 AFTER 3 ENDS
          DRAW 16    ON    8  SK    7    ON   WAS DOWN 2 AFTER 7 ENDS
          DRAW 18    NL    5  NO    7    NO   WAS DOWN 2 AFTER 4 ENDS
          DRAW 21    NL    5  SK    7    SK   WAS DOWN 2 AFTER 1 END
          DRAW 22    TC    6  NO    5    TC   WAS DOWN 2 AFTER 5 ENDS
 
NUMBER OF EXTRA END GAMES:   7
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    BC    8  AB    7
          DRAW  3    NL    9  TC    7
          DRAW 13    SK    7  PE    6
          DRAW 16    ON    8  SK    7
          DRAW 19    SK    7  TC    8
          DRAW 21    NL    5  SK    7
          DRAW 22    TC    6  NO    5
 
FEWEST ENDS PLAYED IN ONE GAME:   8 (13 games)
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  9    NO   11  PE    1    BY PE  
          DRAW 17    PE    5  MB    2    BY MB  
  </div>
</div>
