<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2017 Tim Hortons Brier
                                       St. John's, NL
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Greg Skauge                    NT    ** ** ** ** ** ** ** **100 ** ** ** ** ** ** ** ** 100
 + Adam Spencer                   ON    ** ** ** ** ** ** ** ** **100 ** ** ** ** ** ** ** 100
 + Spencer Mawhinney              NB    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 96  96
 1 Denni Neufeld                  MB    96 ** 96 ** 93 ** 94 98 ** 98 ** 91 79 ** 98100 90  94
 2 Geoff Walker                   NL    93 ** 96 ** 93 ** 94 95 ** 88 ** 91 99 ** 85 94 94  93
 3 Ben Hebert                     CA    ** 81 94 ** 95 ** 90 ** ** 95 ** 98 98 ** 89 93 93  92
 3 Ryan Harnden                   NO    93 ** 95 97 ** 94 86 ** 82 91 90 93 ** 97 ** 94 **  92
 3 Dustin Kidby                   SK    85 ** 96 88 ** 86 99 ** 91 90 90 99 ** 91 ** 91 **  92
 + Evan Scott Asmussen            AB    ** ** ** ** ** ** ** ** 90 ** ** ** ** ** ** ** **  90
 6 Philippe Menard                QC    ** 91 ** 99 93 89 ** 89 84 ** 78 ** 93 81 88 ** 96  89
 6 Scott Howard                   ON    ** 85 91 ** 91 ** 80 95 ** 98 ** 83 92 ** 93 84 84  89
 8 Robert Borden                  NT    ** 83 ** 92 85 88 ** 95 89 ** 89 ** 93 86 88 ** 79  88
 8 Rick Sawatsky                  BC    85 ** 91 91 ** 83 88 ** 89 76 78 94 ** 96 ** 89 **  88
10 Phil Crowell                   NS    ** 74 ** 88 92 91 ** 90 97 ** 75 ** 89 83 89 ** 91  87
10 Karrick Martin                 AB    85 ** 86 86 ** 83 88 ** 90 99 74 93 ** 93 ** 79 **  87
12 Jamie Brannen                  NB    ** 83 ** 92 89 81 ** 76 93 ** 89 ** 90 80 88 ** **  86
 + Jamie Schneider                SK    ** ** ** ** ** ** ** ** ** 75 ** ** ** ** ** ** **  75
 + David Harper                   BC    ** ** ** ** ** ** ** ** ** ** 75 ** ** ** ** ** **  75
 + Scott Pfeifer                  CA    ** ** ** ** ** ** ** 71 ** ** ** 75 ** ** ** ** **  72
 
   SECONDS
 1 E.J. Harnden                   NO    94 ** 84 99 ** 90 98 **100 89 91 83 ** 96 ** 89 **  92
 2 Matt Wozniak                   MB    90 ** 89 ** 90 ** 88 96 ** 86 ** 86 94 ** 95 83 98  91
 3 Shaun Myles Meachem            SK    89 ** 90 97 ** 83 92 ** 88 94 78 99 ** 74 ** 90 **  88
 3 Tyrel Griffith                 BC    85 ** 93 84 ** 90 88 ** 72 86 91 92 ** 95 ** 90 **  88
 3 Brett Gallant                  NL    91 ** 93 ** 81 ** 97 93 ** 88 ** 91 82 ** 91 78 80  88
 + Adam Spencer                   ON    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 88 **  88
 6 Brent Laing                    CA    ** 85 98 ** 76 ** 88 88 ** 85 ** 90 91 ** 83 85 83  86
 + Jamie Brannen                  NB    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 85  85
 7 David Mathers                  ON    ** 78 86 ** 86 ** 89 90 ** 83 ** 81 85 ** 85 95 74  84
 7 Brad Thiessen                  AB    74 ** 92 69 ** 75 89 ** 92 85 93 75 ** 90 ** 91 **  84
 7 Eric Sylvain                   QC    ** 75 ** 77 78 88 ** 94 82 ** 81 ** 75 94 91 ** 91  84
 7 Scott Saccary                  NS    ** 85 ** 85 86 86 ** 72 92 ** 81 ** 76 90 83 ** 83  84
11 Marc Lecocq                    NB    ** 83 ** 73 90 78 ** 98 68 ** 81 ** 90 85 88 ** **  83
12 Brad Chorostkowski             NT    ** 76 ** 78 79 68 ** 93 80 ** 86 ** 89 70 94 ** 66  80
 
   THIRDS 
 1 Catlin Schneider               SK    96 ** 83 94 ** 84 90 ** 85 92 84 95 ** 79 ** 95 **  89
 2 Marc Kennedy                   CA    ** 91 75 ** 78 ** 80 81 ** 83 ** 98 89 ** 88 91 99  86
 2 John Morris (S)                BC    84 ** 78 83 ** 90 88 ** 81 83 91 86 ** 96 ** 88 **  86
 2 Mark Nichols                   NL    86 ** 76 ** 86 ** 94 88 ** 79 ** 91 76 ** 89 88 89  86
 2 Martin Crete                   QC    ** 78 ** 92 86 80 ** 92 70 ** 90 ** 78 95 86 ** 95  86
 6 Ryan Fry                       NO    86 ** 86 89 ** 95 94 ** 88 73 90 68 ** 86 ** 84 **  85
 6 Richard Hart                   ON    ** 82 85 ** 80 ** 89 91 ** 92 ** 76 98 ** 83 81 78  85
 8 B.J. Neufeld                   MB    81 ** 83 ** 86 ** 76 80 ** 85 ** 89 78 ** 91 89 90  84
 9 Darren Moulding                AB    76 ** 83 79 ** 84 86 ** 80 84 80 78 ** 85 ** 75 **  81
 9 Jordan Pinder                  NS    ** 74 ** 81 92 85 ** 75 83 ** 75 ** 71 93 86 ** 78  81
11 Chris Schille                  NT    ** 70 ** 88 76 80 ** 81 78 ** 80 ** 90 75 83 ** 71  79
12 Scott Jones                    NB    ** 74 ** 70 88 75 ** 76 75 ** 83 ** 89 79 78 ** 75  78
 
   SKIPS  
 1 Brad Gushue                    NL   100 ** 82 ** 90 ** 96 80 ** 92 ** 95 92 ** 92 93 88  91
 2 Mike McEwen                    MB    93 ** 88 ** 96 ** 85 79 ** 76 ** 78 90 ** 83 94 93  86
 2 Kevin Koe                      CA    ** 90 85 ** 84 ** 79 83 ** 94 ** 79 89 ** 95 81 86  86
 4 Glenn Howard                   ON    ** 81 80 ** 89 ** 72 92 ** 88 ** 88 83 ** 82 80 92  84
 5 Brad Jacobs                    NO    76 ** 78 88 ** 78 90 ** 89 74 80 80 ** 85 ** 90 **  82
 5 Jim Cotter                     BC    79 ** 68 81 ** 83 84 ** 82 79 91 88 ** 94 ** 75 **  82
 5 Jean-Michel Menard             QC    ** 72 ** 69 93 89 ** 97 70 ** 91 ** 65 91 88 ** 78  82
 8 Brendan Bottcher               AB    82 ** 72 65 ** 83 79 ** 88 93 83 68 ** 92 ** 86 **  81
 9 Adam Casey                     SK    83 ** 85 89 ** 69 76 ** 80 83 73 84 ** 70 ** 66 **  78
10 Jamie Koe                      NT    ** 71 ** 77 75 78 ** 91 69 ** 61 ** 81 81 81 ** 75  77
10 Jamie Murphy                   NS    ** 84 ** 72 74 86 ** 78 75 ** 70 ** 60 80 84 ** 79  77
12 Mike Kennedy                   NB    ** 79 ** 73 66 73 ** 81 72 ** 79 ** 86 74 70 ** 85  76
 
   TEAMS
 1 NL (Gushue)                          93 ** 87 ** 88 ** 95 89 ** 86 ** 92 87 ** 89 88 88  89
 1 Manitoba (McEwen)                    90 ** 89 ** 91 ** 86 88 ** 86 ** 86 85 ** 92 91 93  89
 3 NO (Jacobs)                          87 ** 86 93 ** 89 92 ** 90 82 88 81 ** 91 ** 89 **  88
 4 Canada (Koe)                         ** 87 88 ** 83 ** 84 81 ** 89 ** 90 92 ** 88 88 90  87
 5 Saskatchewan (Casey)                 88 ** 89 92 ** 80 89 ** 86 89 81 94 ** 78 ** 86 **  86
 5 BC (Morris)                          83 ** 82 85 ** 86 87 ** 81 81 87 90 ** 95 ** 85 **  86
 5 Ontario (Howard)                     ** 82 86 ** 87 ** 82 92 ** 90 ** 82 89 ** 86 85 82  86
 8 Quebec (Menard)                      ** 79 ** 84 88 86 ** 93 77 ** 85 ** 78 90 88 ** 90  85
 9 Alberta (Bottcher)                   79 ** 83 75 ** 81 85 ** 88 90 82 78 ** 90 ** 83 **  83
10 Nova Scotia (Murphy)                 ** 79 ** 81 86 87 ** 79 87 ** 75 ** 74 86 86 ** 83  82
11 NB (Kennedy)                         ** 79 ** 77 83 77 ** 83 77 ** 83 ** 89 79 81 ** 85  81
11 NT (Koe)                             ** 75 ** 84 79 78 ** 90 80 ** 79 ** 88 78 86 ** 73  81
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2017 Tim Hortons Brier
                                       St. John's, NL
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Denni Neufeld                  MB     +  *  0  *  +  *  +  +  *  +  *  0  -  *  +  +  -  +5
Ryan Harnden                   NO     +  *  0  0  *  +  +  *  -  0  0  0  *  +  *  +  *  +4
Scott Howard                   ON     *  +  0  *  0  *  -  +  *  +  *  -  0  *  +  -  +  +2
Phil Crowell                   NS     *  -  *  0  0  +  *  +  +  *  -  *  +  0  0  *  0  +2
Dustin Kidby                   SK     -  *  +  0  *  0  +  *  0  -  +  0  *  -  *  0  *   0
Geoff Walker                   NL     +  *  0  *  0  *  -  0  *  0  *  0  +  *  -  0  0   0
Ben Hebert                     CA     *  -  0  *  0  *  0  *  *  0  *  0  +  *  -  0  0  -1
Jamie Brannen                  NB     *  0  *  0  0  0  *  -  0  *  0  *  0  0  0  *  *  -1
Philippe Menard                QC     *  +  *  0  0  0  *  -  -  *  0  *  -  -  0  *  +  -2
Robert Borden                  NT     *  0  *  0  -  -  *  0  0  *  +  *  -  +  0  *  -  -2
Rick Sawatsky                  BC     -  *  0  0  *  -  0  *  +  -  -  0  *  0  *  0  *  -3
Karrick Martin                 AB     -  *  -  0  *  0  -  *  0  0  0  +  *  0  *  -  *  -3
 
SECONDS
E.J. Harnden                   NO     +  *  -  +  *  +  +  *  +  0  +  0  *  +  *  0  *  +6
Matt Wozniak                   MB     0  *  0  *  +  *  0  0  *  0  *  0  +  *  +  -  +  +3
Tyrel Griffith                 BC     -  *  +  +  *  0  0  *  -  0  +  0  *  +  *  0  *  +2
Brett Gallant                  NL     +  *  0  *  -  *  +  0  *  0  *  0  +  *  +  -  0  +2
Shaun Myles Meachem            SK     0  *  0  +  *  -  -  *  +  +  0  +  *  -  *  0  *  +1
Brent Laing                    CA     *  +  +  *  -  *  0  +  *  0  *  -  0  *  -  +  0  +1
Scott Saccary                  NS     *  +  *  +  +  0  *  -  -  *  0  *  -  +  -  *  0   0
Marc Lecocq                    NB     *  +  *  -  +  0  *  0  -  *  -  *  +  -  0  *  *  -1
Brad Thiessen                  AB     -  *  0  -  *  0  0  *  +  0  +  -  *  -  *  0  *  -2
David Mathers                  ON     *  -  -  *  +  *  -  0  *  -  *  +  -  *  -  +  +  -2
Eric Sylvain                   QC     *  -  *  -  -  +  *  0  +  *  -  *  -  +  0  *  -  -3
Brad Chorostkowski             NT     *  -  *  -  -  -  *  0  -  *  -  *  0  -  +  *  -  -7
 
THIRDS 
Ryan Fry                       NO     0  *  +  0  *  +  +  *  +  -  +  -  *  +  *  +  *  +5
Mark Nichols                   NL     +  *  -  *  0  *  0  +  *  +  *  +  0  *  +  0  +  +5
Catlin Schneider               SK     +  *  0  +  *  0  0  *  +  0  +  0  *  -  *  +  *  +4
John Morris (S)                BC     0  *  -  +  *  +  +  *  +  0  +  -  *  +  *  -  *  +3
B.J. Neufeld                   MB     -  *  +  *  +  *  -  0  *  0  *  +  +  *  0  +  -  +2
Marc Kennedy                   CA     *  +  -  *  0  *  -  +  *  0  *  0  0  *  0  0  +  +1
Martin Crete                   QC     *  -  *  0  -  0  *  0  -  *  +  *  0  +  +  *  +  +1
Richard Hart                   ON     *  +  +  *  0  *  -  0  *  0  *  0  +  *  -  -  +  +1
Darren Moulding                AB     -  *  0  0  *  +  +  *  0  0  -  0  *  -  *  -  *  -2
Jordan Pinder                  NS     *  -  *  0  +  -  *  -  -  *  -  *  -  +  0  *  -  -5
Chris Schille                  NT     *  0  *  -  -  -  *  -  0  *  -  *  0  -  0  *  -  -7
Scott Jones                    NB     *  0  *  -  0  -  *  0  -  *  -  *  -  -  -  *  -  -8
 
SKIPS  
Brad Gushue                    NL     +  *  -  *  +  *  +  -  *  +  *  +  +  *  +  +  +  +7
Mike McEwen                    MB     +  *  +  *  +  *  +  0  *  0  *  0  +  *  -  +  +  +6
Jim Cotter                     BC     0  *  -  +  *  0  +  *  +  0  +  -  *  0  *  +  *  +3
Brad Jacobs                    NO     0  *  -  +  *  0  +  *  +  -  0  0  *  +  *  0  *  +2
Kevin Koe                      CA     *  +  +  *  -  *  -  +  *  0  *  -  +  *  +  -  0  +1
Jean-Michel Menard             QC     *  -  *  -  +  +  *  +  -  *  +  *  -  +  +  *  -  +1
Glenn Howard                   ON     *  0  +  *  +  *  -  -  *  +  *  +  0  *  -  -  +  +1
Adam Casey                     SK     -  *  +  +  *  -  -  *  +  -  0  +  *  -  *  -  *  -2
Jamie Murphy                   NS     *  0  *  +  -  0  *  -  -  *  0  *  -  +  0  *  -  -3
Brendan Bottcher               AB     -  *  -  -  *  +  -  *  +  0  -  -  *  0  *  0  *  -4
Mike Kennedy                   NB     *  +  *  -  -  -  *  0  -  *  0  *  0  -  -  *  0  -5
Jamie Koe                      NT     *  -  *  -  -  0  *  +  -  *  -  *  -  -  0  *  -  -7
 
   TEAMS
Manitoba (McEwen)                     0  *  0  *  +  *  0  +  *  +  *  +  +  *  0  +  0  +6
NO (Jacobs)                           0  *  0  +  *  +  +  *  0  0  +  -  *  +  *  +  *  +5
NL (Gushue)                           +  *  0  *  +  *  +  0  *  0  *  0  +  *  0  0  +  +5
BC (Morris)                           0  *  0  +  *  0  0  *  0  -  +  0  *  +  *  0  *  +2
Canada (Koe)                          *  +  0  *  0  *  0  0  *  0  *  0  0  *  0  0  +  +2
Saskatchewan (Casey)                  0  *  +  +  *  -  -  *  +  0  +  0  *  -  *  0  *  +1
Quebec (Menard)                       *  -  *  -  0  +  *  0  0  *  0  *  -  +  +  *  0   0
Ontario (Howard)                      *  0  0  *  0  *  -  0  *  0  *  0  0  *  0  -  +  -1
Nova Scotia (Murphy)                  *  0  *  +  0  0  *  0  0  *  -  *  -  +  0  *  -  -1
Alberta (Bottcher)                    -  *  -  -  *  0  0  *  +  0  0  0  *  -  *  -  *  -4
NT (Koe)                              *  0  *  -  -  -  *  0  -  *  -  *  0  -  0  *  -  -7
NB (Kennedy)                          *  0  *  -  -  0  *  -  -  *  -  *  0  -  -  *  -  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2017 Tim Hortons Brier
                                       St. John's, NL
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
BC     11   105  FOR       8    12     26   14    3    0    0    0   63   5.7   16  0.60
                 AGAINST  14    11     34    4    2    0    0    0   48   4.4   12  0.46
 
MB     11   101  FOR      11    11     19   21    2    2    0    0   75   6.8   15  0.74
                 AGAINST  10     7     23   12    1    0    0    0   50   4.5    8  0.50
 
AB     11    99  FOR      11     9     22   18    1    0    0    0   61   5.5   12  0.62
                 AGAINST   6     7     18   15    6    2    0    0   74   6.7    9  0.75
 
NB     11   103  FOR       5     6     31   11    1    0    0    0   56   5.1    6  0.54
                 AGAINST   8    10     21   20    5    1    0    0   80   7.3   16  0.78
 
NO     11   103  FOR       7     9     22   18    6    0    0    0   76   6.9   12  0.74
                 AGAINST  10     5     21   19    0    0    0    0   59   5.4    7  0.57
 
ON     11   106  FOR      13     6     32   11    1    0    0    0   57   5.2    6  0.54
                 AGAINST   8     3     24   11    4    1    1    0   67   6.1    3  0.63
 
SK     11   102  FOR       6     8     27   12    6    0    1    0   74   6.7   12  0.73
                 AGAINST   4    10     23   20    2    1    0    0   73   6.6   13  0.72
 
NL     11   105  FOR       9     8     26   16    3    1    0    0   71   6.5   10  0.68
                 AGAINST   8     3     28   11    3    0    0    0   59   5.4    5  0.56
 
NS     11   101  FOR       7     6     22   11    4    2    0    0   64   5.8    7  0.63
                 AGAINST   8    11     25   16    6    0    0    0   75   6.8   18  0.74
 
NT     11   101  FOR       7     4     23   11    1    0    0    0   48   4.4    6  0.48
                 AGAINST   9    10     25   18    7    0    0    0   82   7.5   14  0.81
 
QC     11   104  FOR       6     5     20   19    5    0    0    0   73   6.6    9  0.70
                 AGAINST  10     9     27   16    1    0    0    0   62   5.6   12  0.60
 
CA     11   108  FOR      14     8     23   17    4    0    0    0   69   6.3   12  0.64
                 AGAINST   9     6     24   17    0    0    0    0   58   5.3    6  0.54
 
 
TOTAL  66   619  FOR     104    92    293  179   37    5    1    0  787   6.0  123  0.64
                 AGAINST 104    92    293  179   37    5    1    0  787   6.0  123  0.64
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2017 Tim Hortons Brier
                                       St. John's, NL
 
                                     TEAM WIN/LOSS GRID
 
 
        BC    MB    AB    NB    NO    ON    SK    NL    NS    NT    QC    CA    
 
 
BC       *     W     W     W     L     L     W     L     W     W     L     W  
 
 
MB       L     *     W     W     W     W     W     W     W     W     W     L  
 
 
AB       L     L     *     W     L     L     L     L     L     W     L     W  
 
 
NB       L     L     L     *     L     L     L     L     L     W     L     L  
 
 
NO       W     L     W     W     *     W     W     L     W     W     W     L  
 
 
ON       W     L     W     W     L     *     L     L     L     W     L     L  
 
 
SK       L     L     W     W     L     W     *     L     W     W     L     L  
 
 
NL       W     L     W     W     W     W     W     *     W     L     W     W  
 
 
NS       L     L     W     W     L     W     L     L     *     W     L     L  
 
 
NT       L     L     L     L     L     L     L     W     L     *     L     L  
 
 
QC       W     L     W     W     L     W     W     L     W     W     *     L  
 
 
CA       L     W     L     W     W     W     W     L     W     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2017 Tim Hortons Brier
                                       St. John's, NL
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   BC (Morris)                    #SH   189  245  434   195  229  424   384  474  858
                                  PTS   650  840 1490   677  774 1451  1327 1614 2941
                                  PCT    86   86   86    87   84   86    86   85   86
 
 1 Rick Sawatsky                  #SH    73  112  185     7   17   24    80  129  209
                                  PTS   260  398  658    20   54   74   280  452  732
                                  PCT    89   89   89    71   79   77    88   88   88
 
 2 Tyrel Griffith                 #SH    37   38   75    69   72  141   106  110  216
                                  PTS   121  136  257   242  258  500   363  394  757
                                  PCT    82   89   86    88   90   89    86   90   88
 
 3 John Morris (S)                #SH    33   44   77    71   68  139   104  112  216
                                  PTS   121  144  265   246  231  477   367  375  742
                                  PCT    92   82   86    87   85   86    88   84   86
 
 4 Jim Cotter                     #SH    45   49   94    47   70  117    92  119  211
                                  PTS   147  157  304   165  223  388   312  380  692
                                  PCT    82   80   81    88   80   83    85   80   82
 
 5 David Harper                   #SH     1    2    3     1    2    3     2    4    6
                                  PTS     1    5    6     4    8   12     5   13   18
                                  PCT    25   63   50   100  100  100    63   81   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (McEwen)              #SH   340  167  507   273  301  574   613  468 1081
                                  PTS  1235  562 1797   985 1057 2042  2220 1619 3839
                                  PCT    91   84   89    90   88   89    91   86   89
 
 1 Denni Neufeld                  #SH   185   53  238    18   13   31   203   66  269
                                  PTS   686  190  876    66   52  118   752  242  994
                                  PCT    93   90   92    92  100   95    93   92   92
 
 2 Matt Wozniak                   #SH    64   40  104    76   92  168   140  132  272
                                  PTS   226  143  369   283  338  621   509  481  990
                                  PCT    88   89   89    93   92   92    91   91   91
 
 3 B.J. Neufeld                   #SH    46   31   77    98   97  195   144  128  272
                                  PTS   171   82  253   360  325  685   531  407  938
                                  PCT    93   66   82    92   84   88    92   79   86
 
 4 Mike McEwen                    #SH    45   43   88    81   99  180   126  142  268
                                  PTS   152  147  299   276  342  618   428  489  917
                                  PCT    84   85   85    85   86   86    85   86   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Bottcher)             #SH   269  183  452   189  168  357   458  351  809
                                  PTS   932  621 1553   612  529 1141  1544 1150 2694
                                  PCT    87   85   86    81   79   80    84   82   83
 
 1 Karrick Martin                 #SH   128   52  180     9    9   18   137   61  198
                                  PTS   453  181  634    31   21   52   484  202  686
                                  PCT    88   87   88    86   58   72    88   83   87
 
 2 Brad Thiessen                  #SH    47   46   93    60   51  111   107   97  204
                                  PTS   165  158  323   200  164  364   365  322  687
                                  PCT    88   86   87    83   80   82    85   83   84
 
 3 Darren Moulding                #SH    48   43   91    58   55  113   106   98  204
                                  PTS   161  150  311   172  177  349   333  327  660
                                  PCT    84   87   85    74   80   77    79   83   81
 
 4 Brendan Bottcher               #SH    44   40   84    62   52  114   106   92  198
                                  PTS   145  124  269   209  165  374   354  289  643
                                  PCT    82   78   80    84   79   82    83   79   81
 
 5 Evan Scott Asmussen            #SH     2    2    4     0    1    1     2    3    5
                                  PTS     8    8   16     0    2    2     8   10   18
                                  PCT   100  100  100   ***   50   50   100   83   90
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NB (Kennedy)                   #SH   244  226  470   156  212  368   400  438  838
                                  PTS   823  730 1553   480  694 1174  1303 1424 2727
                                  PCT    84   81   83    77   82   80    81   81   81
 
 1 Jamie Brannen                  #SH    89   87  176    16   18   34   105  105  210
                                  PTS   307  298  605    50   67  117   357  365  722
                                  PCT    86   86   86    78   93   86    85   87   86
 
 2 Marc Lecocq                    #SH    52   40   92    43   55   98    95   95  190
                                  PTS   170  133  303   141  190  331   311  323  634
                                  PCT    82   83   82    82   86   84    82   85   83
 
 3 Scott Jones                    #SH    52   46   98    36   76  112    88  122  210
                                  PTS   177  133  310   108  241  349   285  374  659
                                  PCT    85   72   79    75   79   78    81   77   78
 
 4 Mike Kennedy                   #SH    33   51   84    61   63  124    94  114  208
                                  PTS    99  159  258   181  196  377   280  355  635
                                  PCT    75   78   77    74   78   76    74   78   76
 
 5 Spencer Mawhinney              #SH    18    2   20     0    0    0    18    2   20
                                  PTS    70    7   77     0    0    0    70    7   77
                                  PCT    97   88   96   ***  ***  ***    97   88   96
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NO (Jacobs)                    #SH   197  346  543   189  276  465   386  622 1008
                                  PTS   693 1236 1929   646  977 1623  1339 2213 3552
                                  PCT    88   89   89    85   88   87    87   89   88
 
 1 Ryan Harnden                   #SH    59  164  223     8   20   28    67  184  251
                                  PTS   219  605  824    29   73  102   248  678  926
                                  PCT    93   92   92    91   91   91    93   92   92
 
 2 E.J. Harnden                   #SH    53   55  108    63   83  146   116  138  254
                                  PTS   190  206  396   236  302  538   426  508  934
                                  PCT    90   94   92    94   91   92    92   92   92
 
 3 Ryan Fry                       #SH    40   59   99    59   96  155    99  155  254
                                  PTS   138  200  338   190  342  532   328  542  870
                                  PCT    86   85   85    81   89   86    83   87   86
 
 4 Brad Jacobs                    #SH    45   68  113    59   77  136   104  145  249
                                  PTS   146  225  371   191  260  451   337  485  822
                                  PCT    81   83   82    81   84   83    81   84   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Howard)               #SH   242  210  452   190  199  389   432  409  841
                                  PTS   862  718 1580   633  669 1302  1495 1387 2882
                                  PCT    89   85   87    83   84   84    87   85   86
 
 1 Scott Howard                   #SH   115   61  176    11   17   28   126   78  204
                                  PTS   415  216  631    39   55   94   454  271  725
                                  PCT    90   89   90    89   81   84    90   87   89
 
 2 David Mathers                  #SH    49   50   99    46   65  111    95  115  210
                                  PTS   174  171  345   157  207  364   331  378  709
                                  PCT    89   86   87    85   80   82    87   82   84
 
 3 Richard Hart                   #SH    45   46   91    68   53  121   113   99  212
                                  PTS   158  148  306   234  180  414   392  328  720
                                  PCT    88   80   84    86   85   86    87   83   85
 
 4 Glenn Howard                   #SH    29   51   80    65   64  129    94  115  209
                                  PTS    99  176  275   203  227  430   302  403  705
                                  PCT    85   86   86    78   89   83    80   88   84
 
 5 Adam Spencer                   #SH     4    2    6     0    0    0     4    2    6
                                  PTS    16    7   23     0    0    0    16    7   23
                                  PCT   100   88   96   ***  ***  ***   100   88   96
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Saskatchewan (Casey)           #SH   161  292  453   143  226  369   304  518  822
                                  PTS   563 1033 1596   465  783 1248  1028 1816 2844
                                  PCT    87   88   88    81   87   85    85   88   86
 
 1 Dustin Kidby                   #SH    53  130  183     7   13   20    60  143  203
                                  PTS   194  480  674    25   44   69   219  524  743
                                  PCT    92   92   92    89   85   86    91   92   92
 
 2 Shaun Myles Meachem            #SH    43   57  100    44   62  106    87  119  206
                                  PTS   156  197  353   143  230  373   299  427  726
                                  PCT    91   86   88    81   93   88    86   90   88
 
 3 Catlin Schneider               #SH    29   58   87    47   72  119    76  130  206
                                  PTS    99  214  313   158  261  419   257  475  732
                                  PCT    85   92   90    84   91   88    85   91   89
 
 4 Adam Casey                     #SH    34   47   81    45   79  124    79  126  205
                                  PTS   108  142  250   139  248  387   247  390  637
                                  PCT    79   76   77    77   78   78    78   77   78
 
 5 Jamie Schneider                #SH     2    0    2     0    0    0     2    0    2
                                  PTS     6    0    6     0    0    0     6    0    6
                                  PCT    75  ***   75   ***  ***  ***    75  ***   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Gushue)                    #SH   199  276  475   210  337  547   409  613 1022
                                  PTS   721 1032 1753   733 1173 1906  1454 2205 3659
                                  PCT    91   93   92    87   87   87    89   90   90
 
 1 Geoff Walker                   #SH    76  147  223     9   20   29    85  167  252
                                  PTS   281  559  840    33   54   87   314  613  927
                                  PCT    92   95   94    92   68   75    92   92   92
 
 2 Brett Gallant                  #SH    47   38   85    72  103  175   119  141  260
                                  PTS   159  131  290   257  369  626   416  500  916
                                  PCT    85   86   85    89   90   89    87   89   88
 
 3 Mark Nichols                   #SH    33   38   71    80  109  189   113  147  260
                                  PTS   121  141  262   262  383  645   383  524  907
                                  PCT    92   93   92    82   88   85    85   89   87
 
 4 Brad Gushue                    #SH    43   53   96    49  105  154    92  158  250
                                  PTS   160  201  361   181  367  548   341  568  909
                                  PCT    93   95   94    92   87   89    93   90   91
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Murphy)           #SH   253  239  492   153  174  327   406  413  819
                                  PTS   842  788 1630   480  575 1055  1322 1363 2685
                                  PCT    83   82   83    78   83   81    81   83   82
 
 1 Phil Crowell                   #SH   126   65  191     9    6   15   135   71  206
                                  PTS   449  218  667    23   24   47   472  242  714
                                  PCT    89   84   87    64  100   78    87   85   87
 
 2 Scott Saccary                  #SH    56   51  107    47   52   99   103  103  206
                                  PTS   188  166  354   156  179  335   344  345  689
                                  PCT    84   81   83    83   86   85    83   84   84
 
 3 Jordan Pinder                  #SH    37   61   98    51   57  108    88  118  206
                                  PTS   116  199  315   164  187  351   280  386  666
                                  PCT    78   82   80    80   82   81    80   82   81
 
 4 Jamie Murphy                   #SH    34   62   96    46   59  105    80  121  201
                                  PTS    89  205  294   137  185  322   226  390  616
                                  PCT    65   83   77    74   78   77    71   81   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NT (Koe)                       #SH   214  249  463   163  182  345   377  431  808
                                  PTS   697  846 1543   474  594 1068  1171 1440 2611
                                  PCT    81   85   83    73   82   77    78   84   81
 
 1 Robert Borden                  #SH    78  103  181     9   12   21    87  115  202
                                  PTS   279  371  650    21   37   58   300  408  708
                                  PCT    89   90   90    58   77   69    86   89   88
 
 2 Brad Chorostkowski             #SH    48   60  108    52   40   92   100  100  200
                                  PTS   155  205  360   155  121  276   310  326  636
                                  PCT    81   85   83    75   76   75    78   82   80
 
 3 Chris Schille                  #SH    41   47   88    56   58  114    97  105  202
                                  PTS   128  148  276   168  195  363   296  343  639
                                  PCT    78   79   78    75   84   80    76   82   79
 
 4 Jamie Koe                      #SH    47   37   84    46   72  118    93  109  202
                                  PTS   135  114  249   130  241  371   265  355  620
                                  PCT    72   77   74    71   84   79    71   81   77
 
 5 Greg Skauge                    #SH     0    2    2     0    0    0     0    2    2
                                  PTS     0    8    8     0    0    0     0    8    8
                                  PCT   ***  100  100   ***  ***  ***   ***  100  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Menard)                #SH   204  207  411    78  362  440   282  569  851
                                  PTS   735  681 1416   261 1225 1486   996 1906 2902
                                  PCT    90   82   86    84   85   84    88   84   85
 
 1 Philippe Menard                #SH   151   30  181    18   13   31   169   43  212
                                  PTS   550   98  648    61   48  109   611  146  757
                                  PCT    91   82   90    85   92   88    90   85   89
 
 2 Eric Sylvain                   #SH    18   55   73    21  120  141    39  175  214
                                  PTS    61  177  238    72  410  482   133  587  720
                                  PCT    85   80   82    86   85   85    85   84   84
 
 3 Martin Crete                   #SH    19   54   73    27  114  141    46  168  214
                                  PTS    73  183  256    91  387  478   164  570  734
                                  PCT    96   85   88    84   85   85    89   85   86
 
 4 Jean-Michel Menard             #SH    16   68   84    12  115  127    28  183  211
                                  PTS    51  223  274    37  380  417    88  603  691
                                  PCT    80   82   82    77   83   82    79   82   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Koe)                   #SH   210  355  565   246  306  552   456  661 1117
                                  PTS   714 1307 2021   809 1078 1887  1523 2385 3908
                                  PCT    85   92   89    82   88   85    83   90   87
 
 1 Ben Hebert                     #SH    47  181  228    10   20   30    57  201  258
                                  PTS   168  681  849    36   70  106   204  751  955
                                  PCT    89   94   93    90   88   88    89   93   93
 
 2 Brent Laing                    #SH    65   50  115    76   89  165   141  139  280
                                  PTS   218  174  392   250  325  575   468  499  967
                                  PCT    84   87   85    82   91   87    83   90   86
 
 3 Marc Kennedy                   #SH    47   60  107   100   73  173   147  133  280
                                  PTS   163  207  370   341  256  597   504  463  967
                                  PCT    87   86   86    85   88   86    86   87   86
 
 4 Kevin Koe                      #SH    35   61   96    59  122  181    94  183  277
                                  PTS   116  235  351   178  427  605   294  662  956
                                  PCT    83   96   91    75   88   84    78   90   86
 
 5 Scott Pfeifer                  #SH    16    3   19     1    2    3    17    5   22
                                  PTS    49   10   59     4    0    4    53   10   63
                                  PCT    77   83   78   100    0   33    78   50   72
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                                   2017 Tim Hortons Brier
                                       St. John's, NL
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  3    AB    5  SK   11
          DRAW  4    AB    6  NS   11
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW 11    NT    1  BC    9
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  4    AB    6  NS   11
          DRAW  4    QC    8  NO    9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  6    NS    3  BC    4
          DRAW 14    AB    2  BC    5
          DRAW 17    MB    5  QC    2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW 10    SK    9  ON    5    SK   SCORED 5 IN THE 6TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  3    AB    5  SK   11    SK   SCORED 3 IN THE 9TH END
          DRAW  5    QC   10  NS    6    QC   SCORED 3 IN THE 7TH END
          DRAW  6    SK    3  QC    8    QC   SCORED 3 IN THE 5TH END
          DRAW  8    NL    4  NT    8    NT   SCORED 3 IN THE 10TH END
          DRAW 11    NT    1  BC    9    BC   SCORED 3 IN THE 4TH END
          DRAW 11    NS    7  SK    8    SK   SCORED 3 IN THE THIRD END
          DRAW 13    NS    3  MB    9    MB   SCORED 3 IN THE 9TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  2    ON    5  NS    6
          DRAW  6    NS    3  BC    4
          DRAW 12    BC    4  NL    5
          DRAW 15    MB    3  CA    6
 
NUMBER OF BLANK ENDS IN EVENT: 115
 
MOST BLANK ENDS ONE DRAW:   9
 
          DRAWS  5  6
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  2    ON    5  NS    6    BY ON   BEGINNING IN END 5
          DRAW  9    QC    5  BC    4    BY QC   BEGINNING IN END 2
          DRAW 10    CA    4  AB    6    BY CA   BEGINNING IN END 1
          DRAW 12    BC    4  NL    5    BY BC   BEGINNING IN END 5
          DRAW 15    MB    3  CA    6    BY CA   BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  3    AB    5  SK   11
          DRAW 11    NT    1  BC    9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW 11    NT    1  BC    9    BY BC   BEGINNING IN END 3
          DRAW 17    MB    5  QC    2    BY MB   BEGINNING IN END 7
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW 11    NT    1  BC    9    BY BC  
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  8    NB    7  MB    9    MB   WAS DOWN 4 AFTER 7 ENDS
          DRAW 14    NB    7  NS    9    NS   WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:  10
 
MOST ENDS PLAYED IN ONE GAME:  11 (10 games)
 
FEWEST ENDS PLAYED IN ONE GAME:   8 (13 games)
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW 11    NT    1  BC    9    BY NT  
          DRAW 19    CA    6  NO    2    BY NO  
          DRAW 20    MB    6  CA    7    BY MB  
  </div>
</div>
