<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          STRAUSS CANADA CUP OF CURLING 2005 - MEN
                                    Presented By AQUAFINA
                                       KAMLOOPS, B.C.
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  3  4  6  9 10 11 AVG
   LEADS  
 + David Harper                   Mor   **100 ** ** ** ** 100
 1 Marcel Rocque                  Fer   89 99 85 96 94 **  92
 2 Steve Gould                    Sto   97 89 89 83 ** 98  91
 2 Don Bartlett                   Mar   95 88100 88 ** 88  91
 2 Paul Moffatt                   Mor   84 93 99 91 ** 88  91
 5 Rick Sawatsky                  Rya   89 80 93 90 ** 96  89
 5 Jason Curtis                   Tuc   88 85 95 90 ** 86  89
 5 Andrew Gibson                  Dac   78 94 99 95 80 **  89
 8 Jamie Korab                    Gus   81 89 88 98 80 **  87
 9 Keith Fenton                   Bur   89 86 78 96 ** 83  86
10 Trevor Wall                    Har   89 92 90 83 74 **  85
 
   SECONDS
 1 Carter Rycroft                 Mar   78 89 91 97 ** 90  88
 2 Scott Pfeifer                  Fer   90 85 89 89 84 **  87
 3 Marc Kennedy                   Mor   92 85 81 80 ** 84  85
 3 Rob Fowler                     Bur   83 78 94 91 ** 78  85
 3 Garry Van Den Berghe           Sto   75 83 86 91 ** 88  85
 6 Kevin MacKenzie                Rya   86 81 84 80 ** 91  84
 7 Matt Paul                      Tuc   85 84 78 88 ** 72  82
 8 Rob Harris                     Dac   65 89 91 96 64 **  80
 8 Phil Loevenmark                Har   90 83 79 86 65 **  80
10 Keith Ryan                     Gus   60 65 84 78 83 **  74
 
   THIRDS 
 1 Jon Mead                       Sto   82 82 94 98 ** 85  88
 2 Don Walchuk                    Mar   89 81 91 86 ** 89  87
 3 Bruce Lohnes                   Dac   86 81 88 85 88 **  86
 4 Randy Ferbey(S)                Fer   83 88 88 93 78 **  85
 4 Pat Ryan(S)                    Rya   94 75 93 73 ** 93  85
 6 Kevin Koe                      Mor   80 75 95 80 ** 81  83
 7 Ken Tresoor                    Bur   82 71 79 81 ** 84  79
 8 Jason Boyce                    Tuc   69 73 86 78 ** 83  77
 9 Mark Nichols                   Gus   60 77 86 74 80 **  76
10 John Base                      Har   90 52 71 76 79 **  75
 
   SKIPS  
 1 Kevin Martin                   Mar   84 85100 96 ** 88  90
 2 David Nedohin                  Fer   93 92 91 88 75 **  88
 3 Jeff Stoughton                 Sto   86 81 76 87 ** 94  85
 4 Mark Dacey                     Dac   74 87 85 78 77 **  80
 5 Brad Gushue                    Gus   67 89 80 82 72 **  78
 5 Kerry Burtnyk                  Bur   81 81 74 85 ** 68  78
 5 Jim Cotter                     Rya   80 72 77 78 ** 83  78
 8 John Morris                    Mor   75 93 80 55 ** 86  77
 9 Wayne Tuck                     Tuc   78 76 78 83 ** 52  74
 9 Mike Harris                    Har   85 48 78 79 71 **  74
 
   TEAMS
 1 Martin                               86 86 96 92 ** 89  89
 2 Ferbey                               88 91 88 91 83 **  88
 3 Stoughton                            85 84 86 90 ** 91  87
 4 Morris                               83 86 89 77 ** 85  84
 4 Ryan                                 87 77 87 80 ** 91  84
 4 Dacey                                76 88 91 88 77 **  84
 7 Burtnyk                              84 79 81 88 ** 78  82
 8 Tuck                                 80 79 84 84 ** 73  80
 9 Gushue                               67 80 84 83 78 **  79
 9 Harris                               89 69 79 81 72 **  79
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          STRAUSS CANADA CUP OF CURLING 2005 - MEN
                                    Presented By AQUAFINA
                                       KAMLOOPS, B.C.
 
                             PLUS/MINUS STATISTICS AFTER DRAW 11
 
 
                          DRAW----->  3  4  6  9 10 11 TOT
LEADS  
Marcel Rocque                  Fer    0  +  0  +  +  *  +3
Don Bartlett                   Mar    +  -  +  0  *  +  +2
Paul Moffatt                   Mor    +  0  +  0  *  0  +2
Jamie Korab                    Gus    -  +  0  +  0  *  +1
Andrew Gibson                  Dac    -  +  0  0  0  *   0
Steve Gould                    Sto    +  -  0  -  *  0  -1
Rick Sawatsky                  Rya    0  -  -  +  *  0  -1
Trevor Wall                    Har    +  0  0  -  -  *  -1
Jason Curtis                   Tuc    -  0  0  -  *  0  -2
Keith Fenton                   Bur    -  0  -  0  *  -  -3
 
SECONDS
Scott Pfeifer                  Fer    0  0  +  0  +  *  +2
Carter Rycroft                 Mar    -  0  +  +  *  +  +2
Garry Van Den Berghe           Sto    -  0  +  +  *  0  +1
Phil Loevenmark                Har    +  0  -  +  -  *   0
Matt Paul                      Tuc    +  +  -  0  *  -   0
Rob Harris                     Dac    -  0  +  +  -  *   0
Marc Kennedy                   Mor    +  0  -  -  *  +   0
Rob Fowler                     Bur    +  -  +  -  *  -  -1
Kevin MacKenzie                Rya    0  +  -  -  *  0  -1
Keith Ryan                     Gus    -  -  -  -  +  *  -3
 
THIRDS 
Don Walchuk                    Mar    +  0  0  +  *  +  +3
Pat Ryan(S)                    Rya    +  0  0  0  *  +  +2
Bruce Lohnes                   Dac    +  0  0  0  +  *  +2
Randy Ferbey(S)                Fer    -  +  0  +  0  *  +1
Jon Mead                       Sto    0  -  +  +  *  -   0
Kevin Koe                      Mor    -  +  +  -  *  0   0
John Base                      Har    +  -  -  0  0  *  -1
Ken Tresoor                    Bur    0  0  -  0  *  -  -2
Jason Boyce                    Tuc    -  0  0  -  *  0  -2
Mark Nichols                   Gus    -  0  0  -  -  *  -3
 
SKIPS  
David Nedohin                  Fer    +  +  +  +  0  *  +4
Kevin Martin                   Mar    +  0  +  +  *  +  +4
Jeff Stoughton                 Sto    +  -  0  +  *  +  +2
John Morris                    Mor    0  +  +  -  *  +  +2
Mark Dacey                     Dac    0  0  +  -  +  *  +1
Mike Harris                    Har    +  -  0  0  0  *   0
Kerry Burtnyk                  Bur    -  +  -  +  *  -  -1
Brad Gushue                    Gus    -  +  -  -  -  *  -3
Jim Cotter                     Rya    -  -  -  0  *  -  -4
Wayne Tuck                     Tuc    -  -  -  -  *  -  -5
 
   TEAMS
Martin                                +  0  +  +  *  +  +4
Ferbey                                0  +  0  +  +  *  +3
Morris                                +  +  +  -  *  +  +3
Stoughton                             0  -  +  +  *  0  +1
Dacey                                 -  0  +  0  0  *   0
Ryan                                  0  0  -  0  *  0  -1
Burtnyk                               0  0  -  0  *  -  -2
Gushue                                -  0  0  -  0  *  -2
Harris                                +  -  -  0  -  *  -2
Tuck                                  -  0  -  -  *  -  -4
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          STRAUSS CANADA CUP OF CURLING 2005 - MEN
                                    Presented By AQUAFINA
                                       KAMLOOPS, B.C.
 
                               SCORING ANALYSIS AFTER 11 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
Bur     5    50  FOR       5     5      9    9    2    0    0    0   33   6.6    6  0.66
                 AGAINST   4     6     13    8    0    0    0    0   29   5.8    7  0.58
 
Dac     5    52  FOR       2     4     13    7    2    0    0    0   33   6.6    5  0.63
                 AGAINST   2     7     18    7    1    0    0    0   35   7.0    8  0.67
 
Fer     5    47  FOR       3     4     12    7    2    0    0    0   32   6.4    4  0.68
                 AGAINST   3     6     17    2    1    0    0    0   24   4.8    6  0.51
 
Gus     5    51  FOR       4     6     15    3    3    0    0    0   30   6.0    6  0.59
                 AGAINST   4     6     10    9    3    0    0    0   37   7.4    7  0.73
 
Har     5    43  FOR       2     5     11    5    2    1    0    0   31   6.2    6  0.72
                 AGAINST   3     5     10    5    3    0    1    0   34   6.8    8  0.79
 
Mar     5    44  FOR       3     7     12    8    2    0    0    0   34   6.8    9  0.77
                 AGAINST   4     3     13    2    0    0    0    0   17   3.4    3  0.39
 
Mor     5    43  FOR       2     7     14    4    1    0    2    0   35   7.0   10  0.81
                 AGAINST   2     4     13    3    2    0    0    0   25   5.0    4  0.58
 
Rya     5    46  FOR       6     1      9    5    1    0    0    0   22   4.4    1  0.48
                 AGAINST   2     6     13    7    2    1    0    0   37   7.4    7  0.80
 
Sto     5    50  FOR       6     3     15    4    1    0    0    0   26   5.2    3  0.52
                 AGAINST   9     0      8    6    1    0    0    0   23   4.6    0  0.46
 
Tuc     5    46  FOR       2     5     15    5    0    0    0    0   25   5.0    5  0.54
                 AGAINST   2     4     10    8    3    0    1    0   40   8.0    5  0.87
 
 
TOTAL  25   236  FOR      35    47    125   57   16    1    2    0  301   6.0   55  0.64
                 AGAINST  35    47    125   57   16    1    2    0  301   6.0   55  0.64
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          STRAUSS CANADA CUP OF CURLING 2005 - MEN
                                    Presented By AQUAFINA
                                       KAMLOOPS, B.C.
 
                                     TEAM WIN/LOSS GRID
 
 
                                           POOL A
 
        Fer   Gus   Har   Rya   Sto   
 
 
Fer      *     W     L     W     W  
 
 
Gus      L     *     L     W     L  
 
 
Har      W     W     *     W     L  
 
 
Rya      L     L     L     *     L  
 
 
Sto      L     W     W     W     *  
 
 
 
                                           POOL B
 
        Bur   Dac   Mar   Mor   Tuc   
 
 
Bur      *     W     L     W     W  
 
 
Dac      L     *     L     L     W  
 
 
Mar      W     W     *     W     W  
 
 
Mor      L     W     L     *     W  
 
 
Tuc      L     L     L     L     *  
                          STRAUSS CANADA CUP OF CURLING 2005 - MEN
                                    Presented By AQUAFINA
                                       KAMLOOPS, B.C.
 
                             CROSSOVER GAMES GRID AFTER 11 DRAWS
 
 
        Bur   Dac   Fer   Gus   Har   Mar   Mor   Rya   Sto   Tuc   
 
 
Bur      *     -     -     -     -     -     -     -     L     -  
 
 
Dac      -     *     -     W     -     -     -     -     -     -  
 
 
Fer      -     -     *     -     -     -     -     -     -     W  
 
 
Gus      -     L     -     *     -     -     -     -     -     -  
 
 
Har      -     -     -     -     *     -     L     -     -     -  
 
 
Mar      -     -     -     -     -     *     -     W     -     -  
 
 
Mor      -     -     -     -     W     -     *     -     -     -  
 
 
Rya      -     -     -     -     -     L     -     *     -     -  
 
 
Sto      W     -     -     -     -     -     -     -     *     -  
 
 
Tuc      -     -     L     -     -     -     -     -     -     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          STRAUSS CANADA CUP OF CURLING 2005 - MEN
                                    Presented By AQUAFINA
                                       KAMLOOPS, B.C.
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Burtnyk                        #SH   126  162  288   147  133  280   273  295  568
                                  PTS   408  538  946   503  450  953   911  988 1899
                                  PCT    81   83   82    86   85   85    83   84   84
 
 1 Keith Fenton                   #SH    45   74  119     8   13   21    53   87  140
                                  PTS   159  266  425    22   47   69   181  313  494
                                  PCT    88   90   89    69   90   82    85   90   88
 
 2 Rob Fowler                     #SH    28   28   56    50   38   88    78   66  144
                                  PTS    91   94  185   182  139  321   273  233  506
                                  PCT    81   84   83    91   91   91    88   88   88
 
 3 Ken Tresoor                    #SH    26   31   57    46   41   87    72   72  144
                                  PTS    75   99  174   151  136  287   226  235  461
                                  PCT    72   80   76    82   83   82    78   82   80
 
 4 Kerry Burtnyk                  #SH    27   29   56    43   41   84    70   70  140
                                  PTS    83   79  162   148  128  276   231  207  438
                                  PCT    77   68   72    86   78   82    83   74   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Dacey                          #SH   140   98  238    65  111  176   205  209  414
                                  PTS   491  324  815   218  352  570   709  676 1385
                                  PCT    88   83   86    84   79   81    86   81   84
 
 1 Andrew Gibson                  #SH    62   28   90     4   10   14    66   38  104
                                  PTS   224  103  327    16   26   42   240  129  369
                                  PCT    90   92   91   100   65   75    91   85   89
 
 2 Rob Harris                     #SH    27   26   53    26   25   51    53   51  104
                                  PTS    99   83  182    82   70  152   181  153  334
                                  PCT    92   80   86    79   70   75    85   75   80
 
 3 Bruce Lohnes                   #SH    27   16   43    18   43   61    45   59  104
                                  PTS    88   55  143    66  147  213   154  202  356
                                  PCT    81   86   83    92   85   87    86   86   86
 
 4 Mark Dacey                     #SH    24   28   52    17   33   50    41   61  102
                                  PTS    80   83  163    54  109  163   134  192  326
                                  PCT    83   74   78    79   83   82    82   79   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ferbey                         #SH   133  164  297   126  128  254   259  292  551
                                  PTS   447  594 1041   454  432  886   901 1026 1927
                                  PCT    84   91   88    90   84   87    87   88   87
 
 1 Marcel Rocque                  #SH    51   70  121     7   10   17    58   80  138
                                  PTS   179  268  447    27   36   63   206  304  510
                                  PCT    88   96   92    96   90   93    89   95   92
 
 2 Scott Pfeifer                  #SH    24   31   55    41   42   83    65   73  138
                                  PTS    78  103  181   153  146  299   231  249  480
                                  PCT    81   83   82    93   87   90    89   85   87
 
 3 Randy Ferbey(S)                #SH    31   29   60    40   38   78    71   67  138
                                  PTS   100  109  209   144  124  268   244  233  477
                                  PCT    81   94   87    90   82   86    86   87   86
 
 4 David Nedohin                  #SH    27   34   61    38   38   76    65   72  137
                                  PTS    90  114  204   130  126  256   220  240  460
                                  PCT    83   84   84    86   83   84    85   83   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Gushue                         #SH   136   77  213    80  111  191   216  188  404
                                  PTS   435  246  681   258  332  590   693  578 1271
                                  PCT    80   80   80    81   75   77    80   77   79
 
 1 Jamie Korab                    #SH    68   16   84    11    6   17    79   22  101
                                  PTS   234   61  295    32   24   56   266   85  351
                                  PCT    86   95   88    73  100   82    84   97   87
 
 2 Keith Ryan                     #SH    28   17   45    30   27   57    58   44  102
                                  PTS    78   48  126    93   83  176   171  131  302
                                  PCT    70   71   70    78   77   77    74   74   74
 
 3 Mark Nichols                   #SH    23   19   42    18   42   60    41   61  102
                                  PTS    74   58  132    59  118  177   133  176  309
                                  PCT    80   76   79    82   70   74    81   72   76
 
 4 Brad Gushue                    #SH    17   25   42    21   36   57    38   61   99
                                  PTS    49   79  128    74  107  181   123  186  309
                                  PCT    72   79   76    88   74   79    81   76   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Harris                         #SH    90  123  213    64   79  143   154  202  356
                                  PTS   280  396  676   199  244  443   479  640 1119
                                  PCT    78   80   79    78   77   77    78   79   79
 
 1 Trevor Wall                    #SH    27   51   78     5    6   11    32   57   89
                                  PTS    90  179  269    10   23   33   100  202  302
                                  PCT    83   88   86    50   96   75    78   89   85
 
 2 Phil Loevenmark                #SH    18   24   42    25   23   48    43   47   90
                                  PTS    48   81  129    88   72  160   136  153  289
                                  PCT    67   84   77    88   78   83    79   81   80
 
 3 John Base                      #SH    24   26   50    18   22   40    42   48   90
                                  PTS    78   72  150    54   67  121   132  139  271
                                  PCT    81   69   75    75   76   76    79   72   75
 
 4 Mike Harris                    #SH    21   22   43    16   28   44    37   50   87
                                  PTS    64   64  128    47   82  129   111  146  257
                                  PCT    76   73   74    73   73   73    75   73   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Martin                         #SH   180  126  306   132  148  280   312  274  586
                                  PTS   635  413 1048   460  529  989  1095  942 2037
                                  PCT    88   82   86    87   89   88    88   86   87
 
 1 Don Bartlett                   #SH    83   45  128     9   10   19    92   55  147
                                  PTS   313  155  468    29   31   60   342  186  528
                                  PCT    94   86   91    81   78   79    93   85   90
 
 2 Carter Rycroft                 #SH    40   24   64    34   51   85    74   75  149
                                  PTS   129   69  198   112  188  300   241  257  498
                                  PCT    81   72   77    82   92   88    81   86   84
 
 3 Don Walchuk                    #SH    28   25   53    49   46   95    77   71  148
                                  PTS    91   89  180   176  169  345   267  258  525
                                  PCT    81   89   85    90   92   91    87   91   89
 
 4 Kevin Martin                   #SH    29   32   61    40   41   81    69   73  142
                                  PTS   102  100  202   143  141  284   245  241  486
                                  PCT    88   78   83    89   86   88    89   83   86
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Morris                         #SH   139  117  256    72   88  160   211  205  416
                                  PTS   487  392  879   236  288  524   723  680 1403
                                  PCT    88   84   86    82   82   82    86   83   84
 
 1 Paul Moffatt                   #SH    64   25   89     7    9   16    71   34  105
                                  PTS   232   94  326    28   33   61   260  127  387
                                  PCT    91   94   92   100   92   95    92   93   92
 
 2 Marc Kennedy                   #SH    22   33   55    27   22   49    49   55  104
                                  PTS    75  107  182    99   75  174   174  182  356
                                  PCT    85   81   83    92   85   89    89   83   86
 
 3 Kevin Koe                      #SH    21   31   52    23   29   52    44   60  104
                                  PTS    67  101  168    70   95  165   137  196  333
                                  PCT    80   81   81    76   82   79    78   82   80
 
 4 John Morris                    #SH    31   28   59    15   28   43    46   56  102
                                  PTS   109   90  199    39   85  124   148  175  323
                                  PCT    88   80   84    65   76   72    80   78   79
 
 5 David Harper                   #SH     1    0    1     0    0    0     1    0    1
                                  PTS     4    0    4     0    0    0     4    0    4
                                  PCT   100  ***  100   ***  ***  ***   100  ***  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ryan                           #SH   121  105  226    72   83  155   193  188  381
                                  PTS   408  360  768   238  274  512   646  634 1280
                                  PCT    84   86   85    83   83   83    84   84   84
 
 1 Rick Sawatsky                  #SH    56   26   82     6    8   14    62   34   96
                                  PTS   202   89  291    24   27   51   226  116  342
                                  PCT    90   86   89   100   84   91    91   85   89
 
 2 Kevin MacKenzie                #SH    27   27   54    25   17   42    52   44   96
                                  PTS    84   90  174    90   60  150   174  150  324
                                  PCT    78   83   81    90   88   89    84   85   84
 
 3 Pat Ryan(S)                    #SH    23   29   52    14   30   44    37   59   96
                                  PTS    77  101  178    49   98  147   126  199  325
                                  PCT    84   87   86    88   82   84    85   84   85
 
 4 Jim Cotter                     #SH    15   23   38    27   28   55    42   51   93
                                  PTS    45   80  125    75   89  164   120  169  289
                                  PCT    75   87   82    69   79   75    71   83   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Stoughton                      #SH   161  107  268   140  155  295   301  262  563
                                  PTS   563  379  942   483  558 1041  1046  937 1983
                                  PCT    87   89   88    86   90   88    87   89   88
 
 1 Steve Gould                    #SH    80   43  123    10    8   18    90   51  141
                                  PTS   292  156  448    35   29   64   327  185  512
                                  PCT    91   91   91    88   91   89    91   91   91
 
 2 Garry Van Den Berghe           #SH    24   17   41    39   62  101    63   79  142
                                  PTS    77   53  130   130  230  360   207  283  490
                                  PCT    80   78   79    83   93   89    82   90   86
 
 3 Jon Mead                       #SH    19   25   44    50   48   98    69   73  142
                                  PTS    68   93  161   169  173  342   237  266  503
                                  PCT    89   93   91    85   90   87    86   91   89
 
 4 Jeff Stoughton                 #SH    38   22   60    41   37   78    79   59  138
                                  PTS   126   77  203   149  126  275   275  203  478
                                  PCT    83   88   85    91   85   88    87   86   87
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Tuck                           #SH   123  107  230    63   86  149   186  193  379
                                  PTS   400  365  765   187  267  454   587  632 1219
                                  PCT    81   85   83    74   78   76    79   82   80
 
 1 Jason Curtis                   #SH    41   42   83     4    9   13    45   51   96
                                  PTS   149  154  303     9   29   38   158  183  341
                                  PCT    91   92   91    56   81   73    88   90   89
 
 2 Matt Paul                      #SH    32   19   51    17   28   45    49   47   96
                                  PTS   105   66  171    58   84  142   163  150  313
                                  PCT    82   87   84    85   75   79    83   80   82
 
 3 Jason Boyce                    #SH    22   26   48    23   24   47    45   50   95
                                  PTS    66   76  142    71   80  151   137  156  293
                                  PCT    75   73   74    77   83   80    76   78   77
 
 4 Wayne Tuck                     #SH    28   20   48    19   25   44    47   45   92
                                  PTS    80   69  149    49   74  123   129  143  272
                                  PCT    71   86   78    64   74   70    69   79   74
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                          STRAUSS CANADA CUP OF CURLING 2005 - MEN
                                    Presented By AQUAFINA
                                       KAMLOOPS, B.C.
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  30
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  4    Morris 11  Harris  2
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  4    Morris 11  Harris  2
          DRAW  6    Martin  8  Ryan  2
          DRAW  9    Stoughton  4  Gushue  2
          DRAW  9    Morris  2  Martin  7
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  9    Ryan  7  Harris 10
          DRAW 10    Gushue  8  Dacey  9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW  9    Stoughton  4  Gushue  2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  4    Morris 11  Harris  2    Morris SCORED 5 IN THE THIRD END
          DRAW 11    Morris 10  Tuck  4    Morris SCORED 5 IN THE 8TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  4    Morris 11  Harris  2    Morris SCORED 3 IN THE 4TH END
          DRAW 12    Morris  6  Burtnyk  7    Burtnyk SCORED 3 IN THE SECOND END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  9    Stoughton  4  Gushue  2
 
NUMBER OF BLANK ENDS IN EVENT:  43
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAW  9
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  9    Stoughton  4  Gushue  2    BY Stoughton BEGINNING IN END 3
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  3    Gushue  5  Harris  9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   2
 
          DRAW  3    Gushue  5  Harris  9    BY Gushue BEGINNING IN END 2
          DRAW  4    Morris 11  Harris  2    BY Morris BEGINNING IN END 4
          DRAW  4    Ryan  7  Gushue  9    BY Gushue BEGINNING IN END 1
          DRAW  9    Ferbey  5  Tuck  4    BY Tuck BEGINNING IN END 1
          DRAW  9    Dacey  6  Burtnyk  9    BY Burtnyk BEGINNING IN END 7
          DRAW 10    Harris  6  Ferbey  5    BY Harris BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  4    Morris 11  Harris  2    BY Morris
          DRAW 12    Morris  6  Burtnyk  7    BY Burtnyk
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  3    Gushue  5  Harris  9    Harris WAS DOWN 3 AFTER 3 ENDS
          DRAW  9    Dacey  6  Burtnyk  9    Burtnyk WAS DOWN 3 AFTER 2 ENDS
          DRAW  9    Ryan  7  Harris 10    Harris WAS DOWN 3 AFTER 5 ENDS
          DRAW 10    Gushue  8  Dacey  9    Dacey WAS DOWN 3 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:   5
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  3    Stoughton  6  Burtnyk  5
          DRAW  3    Dacey  5  Morris  6
          DRAW  4    Ryan  7  Gushue  9
          DRAW 10    Gushue  8  Dacey  9
          DRAW 14    Stoughton  7  Burtnyk  5
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  4    Morris 11  Harris  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW 11    Stoughton  5  Ryan  3    BY Ryan
          DRAW 12    Morris  6  Burtnyk  7    BY Morris
  </div>
</div>
