<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                              2009 Canada Cup of Curling - Men
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 AVG
   LEADS  
 1 Denni Neufeld                  MCEW  ** 86 98 ** 93 91 ** ** 94 **  92
 1 Marcel Rocque                  FERB  ** ** 97 93 ** ** 83 97 90 **  92
 3 Nolan Thiessen                 KOE   86100 ** ** 86 ** 88 ** 86 **  89
 4 Steve Gould                    STOU  ** 78 ** 96 ** ** 93 86 86 **  87
 4 Brendan Melnyk                 APPE  94 ** 99 ** 84 ** 93 ** 70 **  87
 6 Jamie Korab                    GUSH  ** 80 ** 86 94 88 ** ** ** 75  85
 6 Ben Hebert                     MART  ** 90 ** 70 90 ** 89 ** ** 86  85
 8 Garth Smith                    BURT  ** 77 ** 85 85 ** 83 ** 92 **  84
 8 Scott Bailey                   WMID  ** 81 ** 88 88 ** ** 80 ** 83  84
10 Steven Howard                  HOWA  ** 84 93 ** 70 ** ** ** ** **  80
 + Gerry Adam                     HOWA  ** ** ** ** ** ** ** 80 ** **  80
 + Jason Tocher                   HOWA  ** ** ** ** ** ** ** ** ** 77  77
 
   SECONDS
 1 Scott Pfeifer                  FERB  ** ** 85 74 ** ** 81 91 90 **  84
 1 Richard Daneault               BURT  ** 80 ** 81 78 ** 97 ** 83 **  84
 3 Mark Kennedy                   MART  ** 71 ** 74 81 ** 88 ** ** 91  81
 3 Matt Wozniak                   MCEW  ** 85 85 ** 75 84 ** ** 79 **  81
 3 John Epping                    WMID  ** 76 ** 83 89 ** ** 78 ** 78  81
 6 Brandon Klassen                APPE  78 ** 90 ** 76 ** 78 ** 75 **  79
 6 Ryan Fry                       GUSH  ** 89 ** 86 76 70 ** ** ** 75  79
 8 Carter Rycroft                 KOE   75 79 ** ** 78 ** 81 ** 78 **  78
 8 Jason Vaughan                  HOWA  ** 76 80 ** 81 ** ** 80 ** 70  78
10 Rob Fowler                     STOU  ** 60 ** 88 ** ** 74 88 74 **  76
 
   THIRDS 
 1 Blake MacDonald                KOE   ** ** ** ** 85 ** 84 ** 97 **  88
 2 John Morris                    MART  ** 83 ** 85 79 ** 95 ** ** 88  86
 + Kevin Koe                      KOE   86 83 ** ** ** ** ** ** ** **  84
 3 B.J. Neufeld                   MCEW  ** 76 80 ** 83 80 ** ** 88 **  82
 4 James Grattan                  HOWA  ** 85 83 ** 74 ** ** ** ** **  80
 4 Kevin Park                     STOU  ** 88 ** 84 ** ** 96 78 58 **  80
 6 Randy Ferbey                   FERB  ** ** 75 58 ** ** 78 88 94 **  79
 7 Tom Appelman                   APPE  72 ** 93 ** 78 ** 84 ** 66 **  78
 7 Mark Nichols                   GUSH  ** 73 ** 80 89 65 ** ** ** 83  78
 9 Jon Mead                       WMID  ** 69 ** 63 88 ** ** 79 ** 86  77
10 Don Walchuk                    BURT  ** 72 ** 67 83 ** 74 ** 75 **  74
 + Steven Howard                  HOWA  ** ** ** ** ** ** ** 68 ** 70  69
 
   SKIPS  
 1 David Nedohin                  FERB  ** ** 94 82 ** ** 81 83 88 **  86
 2 Jeff Stoughton                 STOU  ** 84 ** 92 ** ** 82 66 85 **  82
 3 Wayne Middaugh                 WMID  ** 90 ** 72 88 ** ** 69 ** 87  81
 3 Mike McEwen                    MCEW  ** 69 98 ** 78 79 ** ** 89 **  81
 5 Ted Appelman                   APPE  63 ** 75 ** 94 ** 87 ** 68 **  78
 6 Brad Gushue                    GUSH  ** 83 ** 64 84 73 ** ** ** 83  77
 7 Kevin Martin                   MART  ** 74 ** 70 72 ** 79 ** ** 83  76
 8 Kevin Koe                      KOE   ** ** ** ** 83 ** 72 ** 70 **  75
 + James Grattan                  HOWA  ** ** ** ** ** ** ** 74 ** 73  74
 + Blake MacDonald                KOE   86 60 ** ** ** ** ** ** ** **  72
 9 Kerry Burtnyk                  BURT  ** 70 ** 71 81 ** 61 ** 55 **  68
10 Russ Howard                    HOWA  ** 55 68 ** 69 ** ** ** ** **  63
 
   TEAMS
 1 FERBEY                               ** ** 88 77 ** ** 81 89 90 **  85
 2 MCEWEN                               ** 79 90 ** 82 83 ** ** 87 **  84
 3 KOE                                  83 81 ** ** 83 ** 81 ** 83 **  82
 3 MARTIN                               ** 79 ** 75 81 ** 88 ** ** 87  82
 5 STOUGHTON                            ** 77 ** 89 ** ** 86 79 76 **  81
 5 MIDDAUGH                             ** 79 ** 76 88 ** ** 76 ** 83  81
 5 APPELMAN                             77 ** 89 ** 83 ** 85 ** 70 **  81
 8 GUSHUE                               ** 81 ** 79 86 74 ** ** ** 79  80
 9 BURTNYK                              ** 75 ** 76 82 ** 79 ** 76 **  78
10 HOWARD                               ** 75 81 ** 73 ** ** 75 ** 73  75
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                              2009 Canada Cup of Curling - Men
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 10
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 TOT
LEADS  
Jamie Korab                    GUSH   *  0  *  +  +  0  *  *  *  0  +2
Denni Neufeld                  MCEW   *  +  +  *  0  0  *  *  0  *  +2
Nolan Thiessen                 KOE    -  +  *  *  +  *  +  *  -  *  +1
Steve Gould                    STOU   *  -  *  +  *  *  +  -  +  *  +1
Marcel Rocque                  FERB   *  *  0  +  *  *  -  +  0  *  +1
Brendan Melnyk                 APPE   +  *  0  *  0  *  0  *  -  *   0
Ben Hebert                     MART   *  +  *  -  0  *  0  *  *  0   0
Garth Smith                    BURT   *  0  *  -  0  *  -  *  +  *  -1
Steven Howard                  HOWA   *  -  -  *  -  *  *  *  *  *  -3
Scott Bailey                   WMID   *  -  *  -  -  *  *  0  *  0  -3
 
SECONDS
Richard Daneault               BURT   *  -  *  +  0  *  +  *  +  *  +2
Ryan Fry                       GUSH   *  +  *  +  -  -  *  *  *  +  +1
Mark Kennedy                   MART   *  -  *  -  +  *  +  *  *  +  +1
Matt Wozniak                   MCEW   *  +  +  *  -  +  *  *  -  *  +1
Carter Rycroft                 KOE    0  +  *  *  0  *  0  *  -  *   0
Brandon Klassen                APPE   0  *  +  *  0  *  -  *  0  *   0
Jason Vaughan                  HOWA   *  +  -  *  0  *  *  0  *  -  -1
Rob Fowler                     STOU   *  -  *  +  *  *  -  0  0  *  -1
Scott Pfeifer                  FERB   *  *  -  -  *  *  0  0  +  *  -1
John Epping                    WMID   *  -  *  -  +  *  *  0  *  -  -2
 
THIRDS 
Blake MacDonald                KOE    *  *  *  *  +  *  +  *  +  *  +3
John Morris                    MART   *  0  *  +  0  *  +  *  *  0  +2
B.J. Neufeld                   MCEW   *  +  0  *  0  +  *  *  -  *  +1
Kevin Park                     STOU   *  +  *  +  *  *  +  -  -  *  +1
Don Walchuk                    BURT   *  0  *  +  +  *  -  *  -  *   0
Tom Appelman                   APPE   -  *  +  *  -  *  -  *  +  *  -1
Mark Nichols                   GUSH   *  0  *  -  0  -  *  *  *  +  -1
James Grattan                  HOWA   *  0  0  *  -  *  *  *  *  *  -1
Jon Mead                       WMID   *  -  *  -  0  *  *  +  *  0  -1
Randy Ferbey                   FERB   *  *  -  -  *  *  -  +  +  *  -1
 
SKIPS  
David Nedohin                  FERB   *  *  +  +  *  *  +  +  0  *  +4
Jeff Stoughton                 STOU   *  +  *  +  *  *  +  -  +  *  +3
Mike McEwen                    MCEW   *  -  +  *  +  +  *  *  0  *  +2
Kevin Koe                      KOE    *  *  *  *  +  *  -  *  +  *  +1
Brad Gushue                    GUSH   *  +  *  -  0  -  *  *  *  +   0
Kevin Martin                   MART   *  +  *  +  -  *  -  *  *  0   0
Ted Appelman                   APPE   -  *  -  *  +  *  +  *  -  *  -1
Wayne Middaugh                 WMID   *  +  *  -  0  *  *  -  *  0  -1
Russ Howard                    HOWA   *  -  -  *  -  *  *  *  *  *  -3
Kerry Burtnyk                  BURT   *  -  *  -  -  *  -  *  -  *  -5
 
   TEAMS
KOE                                   +  0  *  *  +  *  0  *  +  *  +3
MCEWEN                                *  0  +  *  0  +  *  *  0  *  +2
STOUGHTON                             *  0  *  +  *  *  +  -  +  *  +2
FERBEY                                *  *  0  0  *  *  0  +  0  *  +1
GUSHUE                                *  +  *  0  0  -  *  *  *  +  +1
MARTIN                                *  0  *  0  0  *  0  *  *  0   0
MIDDAUGH                              *  0  *  -  0  *  *  0  *  0  -1
APPELMAN                              -  *  0  *  0  *  0  *  -  *  -2
BURTNYK                               *  -  *  0  0  *  -  *  -  *  -3
HOWARD                                *  0  -  *  -  *  *  0  *  -  -3
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                              2009 Canada Cup of Curling - Men
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                               SCORING ANALYSIS AFTER 10 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
APPE    5    48  FOR       2     4     15    3    1    0    0    0   24   4.8    4  0.50
                 AGAINST   4     5     15    6    2    0    0    0   33   6.6    5  0.69
 
BURT    5    44  FOR       2     2     10    5    1    0    0    0   23   4.6    4  0.52
                 AGAINST   2     9     16    6    1    0    1    0   36   7.2   11  0.82
 
FERB    5    46  FOR       4     3     15    6    2    0    0    0   33   6.6    3  0.72
                 AGAINST   1     2     11    6    1    0    0    0   26   5.2    4  0.57
 
GUSH    5    46  FOR       0     5     11    7    0    2    1    0   38   7.6    5  0.83
                 AGAINST   3     6     13    6    2    1    0    0   35   7.0    9  0.76
 
HOWA    5    43  FOR       0     3     12    7    0    1    0    0   30   6.0    3  0.70
                 AGAINST   0     5     11    8    2    2    0    0   41   8.2    6  0.95
 
KOE     5    45  FOR       2     5     13    7    2    0    0    0   33   6.6    7  0.73
                 AGAINST   1     4     16    4    0    0    0    0   24   4.8    4  0.53
 
MART    5    50  FOR       3     7     16    9    1    0    0    0   37   7.4    9  0.74
                 AGAINST   1     3     10    8    1    1    0    0   33   6.6    3  0.66
 
MCEW    5    44  FOR       0     4     12    6    2    1    0    0   34   6.8    6  0.77
                 AGAINST   1     4     11   11    0    0    0    0   33   6.6    6  0.75
 
WMID    5    48  FOR       5     4      8   10    2    0    0    0   34   6.8    6  0.71
                 AGAINST   2     5     12    9    0    0    0    0   30   6.0    6  0.63
 
STOU    5    46  FOR       1     7     13    9    1    0    0    0   34   6.8    8  0.74
                 AGAINST   4     1     10    5    3    0    0    0   29   5.8    1  0.63
 
 
TOTAL  25   230  FOR      19    44    125   69   12    4    1    0  320   6.4   55  0.70
                 AGAINST  19    44    125   69   12    4    1    0  320   6.4   55  0.70
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                              2009 Canada Cup of Curling - Men
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
                                           POOL A
 
        GUSH  HOWA  MART  MCEW  WMID  
 
 
GUSH     *     W     L     L     L  
 
 
HOWA     L     *     L     L     W  
 
 
MART     W     W     *     W     L  
 
 
MCEW     W     W     L     *     L  
 
 
WMID     W     L     W     W     *  
 
 
 
                                           POOL B
 
        APPE  BURT  FERB  KOE   STOU  
 
 
APPE     *     W     L     L     L  
 
 
BURT     L     *     W     L     L  
 
 
FERB     W     L     *     W     W  
 
 
KOE      W     W     L     *     L  
 
 
STOU     W     W     L     W     *  
                              2009 Canada Cup of Curling - Men
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                             CROSSOVER GAMES GRID AFTER 10 DRAWS
 
 
        APPE  BURT  FERB  GUSH  HOWA  KOE   MART  MCEW  WMID  STOU  
 
 
APPE     *     -     -     -     -     -     L     -     -     -  
 
 
BURT     -     *     -     L     -     -     -     -     -     -  
 
 
FERB     -     -     *     -     -     -     -     W     -     -  
 
 
GUSH     -     W     -     *     -     -     -     -     -     -  
 
 
HOWA     -     -     -     -     *     L     -     -     -     -  
 
 
KOE      -     -     -     -     W     *     -     -     -     -  
 
 
MART     W     -     -     -     -     -     *     -     -     -  
 
 
MCEW     -     -     L     -     -     -     -     *     -     -  
 
 
WMID     -     -     -     -     -     -     -     -     *     L  
 
 
STOU     -     -     -     -     -     -     -     -     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                              2009 Canada Cup of Curling - Men
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   APPELMAN                       #SH   161   68  229    83   69  152   244  137  381
                                  PTS   522  213  735   273  220  493   795  433 1228
                                  PCT    81   78   80    82   80   81    81   79   81
 
 1 Brendan Melnyk                 #SH    71   19   90     4    1    5    75   20   95
                                  PTS   250   65  315    13    3   16   263   68  331
                                  PCT    88   86   88    81   75   80    88   85   87
 
 2 Brandon Klassen                #SH    26   16   42    28   26   54    54   42   96
                                  PTS    75   45  120    98   86  184   173  131  304
                                  PCT    72   70   71    88   83   85    80   78   79
 
 3 Tom Appelman                   #SH    32   15   47    26   23   49    58   38   96
                                  PTS   100   48  148    85   67  152   185  115  300
                                  PCT    78   80   79    82   73   78    80   76   78
 
 4 Ted Appelman                   #SH    32   18   50    25   19   44    57   37   94
                                  PTS    97   55  152    77   64  141   174  119  293
                                  PCT    76   76   76    77   84   80    76   80   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   BURTNYK                        #SH   121   90  211    71   68  139   192  158  350
                                  PTS   369  306  675   189  222  411   558  528 1086
                                  PCT    76   85   80    67   82   74    73   84   78
 
 1 Garth Smith                    #SH    47   35   82     4    2    6    51   37   88
                                  PTS   154  125  279    10    8   18   164  133  297
                                  PCT    82   89   85    63  100   75    80   90   84
 
 2 Richard Daneault               #SH    32   17   49    19   20   39    51   37   88
                                  PTS   106   60  166    59   69  128   165  129  294
                                  PCT    83   88   85    78   86   82    81   87   84
 
 3 Don Walchuk                    #SH    21   24   45    20   22   42    41   46   87
                                  PTS    54   71  125    61   72  133   115  143  258
                                  PCT    64   74   69    76   82   79    70   78   74
 
 4 Kerry Burtnyk                  #SH    21   14   35    28   24   52    49   38   87
                                  PTS    55   50  105    59   73  132   114  123  237
                                  PCT    65   89   75    53   76   63    58   81   68
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   FERBEY                         #SH   142  135  277   109  117  226   251  252  503
                                  PTS   482  477  959   374  370  744   856  847 1703
                                  PCT    85   88   87    86   79   82    85   84   85
 
 1 Marcel Rocque                  #SH    44   61  105     8   13   21    52   74  126
                                  PTS   158  236  394    30   38   68   188  274  462
                                  PCT    90   97   94    94   73   81    90   93   92
 
 2 Scott Pfeifer                  #SH    28   19   47    43   36   79    71   55  126
                                  PTS    93   64  157   149  120  269   242  184  426
                                  PCT    83   84   84    87   83   85    85   84   85
 
 3 Randy Ferbey                   #SH    31   24   55    32   39   71    63   63  126
                                  PTS   103   71  174   111  112  223   214  183  397
                                  PCT    83   74   79    87   72   79    85   73   79
 
 4 David Nedohin                  #SH    39   31   70    26   29   55    65   60  125
                                  PTS   128  106  234    84  100  184   212  206  418
                                  PCT    82   85   84    81   86   84    82   86   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   GUSHUE                         #SH   107  153  260    35   73  108   142  226  368
                                  PTS   355  472  827   115  231  346   470  703 1173
                                  PCT    83   77   80    82   79   80    83   78   80
 
 1 Jamie Korab                    #SH    46   41   87     4    1    5    50   42   92
                                  PTS   167  130  297    16    0   16   183  130  313
                                  PCT    91   79   85   100    0   80    92   77   85
 
 2 Ryan Fry                       #SH    25   44   69     9   14   23    34   58   92
                                  PTS    73  136  209    34   48   82   107  184  291
                                  PCT    73   77   76    94   86   89    79   79   79
 
 3 Mark Nichols                   #SH    20   36   56    12   24   36    32   60   92
                                  PTS    69  114  183    34   70  104   103  184  287
                                  PCT    86   79   82    71   73   72    80   77   78
 
 4 Brad Gushue                    #SH    16   32   48    10   34   44    26   66   92
                                  PTS    46   92  138    31  113  144    77  205  282
                                  PCT    72   72   72    78   83   82    74   78   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   HOWARD                         #SH    92  105  197    59   88  147   151  193  344
                                  PTS   278  305  583   171  277  448   449  582 1031
                                  PCT    76   73   74    72   79   76    74   75   75
 
 1 Steven Howard                  #SH    32   37   69     9    8   17    41   45   86
                                  PTS    93  119  212    19   28   47   112  147  259
                                  PCT    73   80   77    53   88   69    68   82   75
 
 2 Jason Vaughan                  #SH    20   23   43    17   26   43    37   49   86
                                  PTS    63   59  122    58   87  145   121  146  267
                                  PCT    79   64   71    85   84   84    82   74   78
 
 3 James Grattan                  #SH    12   14   26    19   41   60    31   55   86
                                  PTS    31   42   73    60  133  193    91  175  266
                                  PCT    65   75   70    79   81   80    73   80   77
 
 4 Russ Howard                    #SH    13   12   25    12   13   25    25   25   50
                                  PTS    38   30   68    29   29   58    67   59  126
                                  PCT    73   63   68    60   56   58    67   59   63
 
 5 Gerry Adam                     #SH     8   10   18     2    0    2    10   10   20
                                  PTS    27   32   59     5    0    5    32   32   64
                                  PCT    84   80   82    63  ***   63    80   80   80
 
 6 Jason Tocher                   #SH     7    9   16     0    0    0     7    9   16
                                  PTS    26   23   49     0    0    0    26   23   49
                                  PCT    93   64   77   ***  ***  ***    93   64   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   KOE                            #SH   106  104  210    74   81  155   180  185  365
                                  PTS   350  352  702   223  274  497   573  626 1199
                                  PCT    83   85   84    75   85   80    80   85   82
 
 1 Nolan Thiessen                 #SH    33   52   85     6    1    7    39   53   92
                                  PTS   117  188  305    20    4   24   137  192  329
                                  PCT    89   90   90    83  100   86    88   91   89
 
 2 Carter Rycroft                 #SH    26   18   44    22   26   48    48   44   92
                                  PTS    88   52  140    67   81  148   155  133  288
                                  PCT    85   72   80    76   78   77    81   76   78
 
 3 Blake MacDonald                #SH    27   12   39    21   30   51    48   42   90
                                  PTS    84   40  124    64  107  171   148  147  295
                                  PCT    78   83   79    76   89   84    77   88   82
 
 4 Kevin Koe                      #SH    20   22   42    25   24   49    45   46   91
                                  PTS    61   72  133    72   82  154   133  154  287
                                  PCT    76   82   79    72   85   79    74   84   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   MARTIN                         #SH   139  201  340   110  145  255   249  346  595
                                  PTS   458  679 1137   359  484  843   817 1163 1980
                                  PCT    82   84   84    82   83   83    82   84   83
 
 1 Ben Hebert                     #SH    44   92  136     5    6   11    49   98  147
                                  PTS   152  332  484    15   13   28   167  345  512
                                  PCT    86   90   89    75   54   64    85   88   87
 
 2 Mark Kennedy                   #SH    28   34   62    48   40   88    76   74  150
                                  PTS    89  101  190   169  141  310   258  242  500
                                  PCT    79   74   77    88   88   88    85   82   83
 
 3 John Morris                    #SH    31   40   71    24   55   79    55   95  150
                                  PTS   106  132  238    80  189  269   186  321  507
                                  PCT    85   83   84    83   86   85    85   84   85
 
 4 Kevin Martin                   #SH    36   35   71    33   44   77    69   79  148
                                  PTS   111  114  225    95  141  236   206  255  461
                                  PCT    77   81   79    72   80   77    75   81   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   MCEWEN                         #SH    80  108  188    81   83  164   161  191  352
                                  PTS   240  390  630   267  283  550   507  673 1180
                                  PCT    75   90   84    82   85   84    79   88   84
 
 1 Denni Neufeld                  #SH    30   53   83     4    1    5    34   54   88
                                  PTS   102  205  307    16    0   16   118  205  323
                                  PCT    85   97   92   100    0   80    87   95   92
 
 2 Matt Wozniak                   #SH    22   21   43    25   20   45    47   41   88
                                  PTS    68   73  141    74   70  144   142  143  285
                                  PCT    77   87   82    74   88   80    76   87   81
 
 3 B.J. Neufeld                   #SH    16   18   34    21   33   54    37   51   88
                                  PTS    38   60   98    71  118  189   109  178  287
                                  PCT    59   83   72    85   89   88    74   87   82
 
 4 Mike McEwen                    #SH    12   16   28    31   29   60    43   45   88
                                  PTS    32   52   84   106   95  201   138  147  285
                                  PCT    67   81   75    85   82   84    80   82   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   MIDDAUGH                       #SH   109  147  256   105  105  210   214  252  466
                                  PTS   328  484  812   334  343  677   662  827 1489
                                  PCT    75   82   79    80   82   81    77   82   80
 
 1 Scott Bailey                   #SH    48   59  107     8    3   11    56   62  118
                                  PTS   155  211  366    20    5   25   175  216  391
                                  PCT    81   89   86    63   42   57    78   87   83
 
 2 John Epping                    #SH    25   33   58    30   30   60    55   63  118
                                  PTS    71  105  176    98  105  203   169  210  379
                                  PCT    71   80   76    82   88   85    77   83   80
 
 3 Jon Mead                       #SH    19   25   44    38   36   74    57   61  118
                                  PTS    50   70  120   121  114  235   171  184  355
                                  PCT    66   70   68    80   79   79    75   75   75
 
 4 Wayne Middaugh                 #SH    17   30   47    29   36   65    46   66  112
                                  PTS    52   98  150    95  119  214   147  217  364
                                  PCT    76   82   80    82   83   82    80   82   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   STOUGHTON                      #SH   138  124  262    86  175  261   224  299  523
                                  PTS   429  394  823   293  580  873   722  974 1696
                                  PCT    78   79   79    85   83   84    81   81   81
 
 1 Steve Gould                    #SH    63   52  115     7    7   14    70   59  129
                                  PTS   216  183  399    22   24   46   238  207  445
                                  PCT    86   88   87    79   86   82    85   88   86
 
 2 Rob Fowler                     #SH    19   23   42    30   60   90    49   83  132
                                  PTS    54   68  122    95  190  285   149  258  407
                                  PCT    71   74   73    79   79   79    76   78   77
 
 3 Kevin Park                     #SH    20   27   47    26   59   85    46   86  132
                                  PTS    48   77  125    97  203  300   145  280  425
                                  PCT    60   71   66    93   86   88    79   81   80
 
 4 Jeff Stoughton                 #SH    36   22   58    23   49   72    59   71  130
                                  PTS   111   66  177    79  163  242   190  229  419
                                  PCT    77   75   76    86   83   84    81   81   81
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                              2009 Canada Cup of Curling - Men
                                   Presented by Richardson
                           Gallagher Centre, Yorkton, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  29
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW 10    GUSHUE 11  HOWARD  8
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  1    KOE  7  APPELMAN  2
          DRAW  3    APPELMAN  2  FERBEY  6
          DRAW  3    HOWARD  2  MCEWEN  7
          DRAW  4    STOUGHTON  5  MIDDAUGH  2
          DRAW 11    MARTIN  2  FERBEY  6
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW 10    GUSHUE 11  HOWARD  8
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  4    STOUGHTON  5  MIDDAUGH  2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  2    GUSHUE  9  BURTNYK  3    GUSHUE SCORED 5 IN THE 8TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  4    FERBEY  4  BURTNYK  7    BURTNYK SCORED 3 IN THE 6TH END
          DRAW  6    GUSHUE  5  MCEWEN  8    MCEWEN SCORED 3 IN THE FIRST END
 
MOST BLANK ENDS, ONE GAME:   3
 
          DRAW  4    STOUGHTON  5  MIDDAUGH  2
 
NUMBER OF BLANK ENDS IN EVENT:  25
 
MOST BLANK ENDS ONE DRAW:   5
 
          DRAW  5
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   1
 
          DRAW  1    KOE  7  APPELMAN  2
          DRAW  2    GUSHUE  9  BURTNYK  3
          DRAW  2    STOUGHTON  7  KOE  5
          DRAW  3    APPELMAN  2  FERBEY  6
          DRAW  4    STOUGHTON  5  MIDDAUGH  2
          DRAW  4    FERBEY  4  BURTNYK  7
          DRAW  5    BURTNYK  4  APPELMAN  6
          DRAW  5    MIDDAUGH  7  GUSHUE  6
          DRAW  5    MCEWEN  7  MARTIN  8
          DRAW  7    APPELMAN  6  MARTIN  7
          DRAW  7    KOE  5  FERBEY  6
          DRAW  8    FERBEY  9  STOUGHTON  5
          DRAW 10    MIDDAUGH  7  MARTIN  5
          DRAW 11    STOUGHTON  5  MIDDAUGH  3
          DRAW 11    MARTIN  2  FERBEY  6
          DRAW 12    MARTIN  8  STOUGHTON  3
          DRAW 13    MARTIN  8  FERBEY  5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   3
 
          DRAW  2    MCEWEN  5  MIDDAUGH 10
          DRAW  4    MARTIN  9  GUSHUE  7
          DRAW  5    HOWARD  5  KOE  7
          DRAW  7    STOUGHTON  8  BURTNYK  5
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   2
 
          DRAW  1    KOE  7  APPELMAN  2    BY KOE BEGINNING IN END 7
          DRAW  2    GUSHUE  9  BURTNYK  3    BY GUSHUE BEGINNING IN END 3
          DRAW  2    MARTIN  8  HOWARD  6    BY MARTIN BEGINNING IN END 9
          DRAW  2    STOUGHTON  7  KOE  5    BY STOUGHTON BEGINNING IN END 3
          DRAW  3    APPELMAN  2  FERBEY  6    BY FERBEY BEGINNING IN END 2
          DRAW  5    BURTNYK  4  APPELMAN  6    BY APPELMAN BEGINNING IN END 6
          DRAW 12    MARTIN  8  STOUGHTON  3    BY MARTIN BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  2    MCEWEN  5  MIDDAUGH 10    BY MIDDAUGH
          DRAW  6    GUSHUE  5  MCEWEN  8    BY MCEWEN
          DRAW  9    BURTNYK  4  KOE  9    BY KOE
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  2    MARTIN  8  HOWARD  6    MARTIN WAS DOWN 3 AFTER 7 ENDS
          DRAW  4    MARTIN  9  GUSHUE  7    MARTIN WAS DOWN 3 AFTER 5 ENDS
          DRAW 10    GUSHUE 11  HOWARD  8    GUSHUE WAS DOWN 3 AFTER 5 ENDS
          DRAW 13    MARTIN  8  FERBEY  5    MARTIN WAS DOWN 3 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   1
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  9    APPELMAN  8  STOUGHTON  9
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW  3    HOWARD  2  MCEWEN  7
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   4
 
          DRAW  4    STOUGHTON  5  MIDDAUGH  2    BY MIDDAUGH
          DRAW 13    MARTIN  8  FERBEY  5    BY FERBEY
  </div>
</div>
