<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1982 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 AVG
   LEADS  
 1 Barb Jones-Gordon                        N.S.  75 80 70 67 76 59 73 ** 80 65 88  74
 2 Wendy Inouye                             ONT   70 59 ** 75 88 61 64 69 75 66 75  69
 2 Dorothy Hepper                           SASK  77 67 78 79 ** 46 59 74 78 64 61  69
 4 Sheila Mellis                            B.C.  ** 66 79 46 86 60 56 78 61 78 66  68
 5 Donna Martineau                          ALTA  56 58 65 63 65 57 73 93 ** 76 56  65
 6 Karen McIntee                            NFLD  70 60 47 46 56 65 74 58 79 ** 71  63
 6 Shannon Burns                            MAN   53 ** 70 23 59 84 40 72 78 66 70  63
 8 Denise Grange                            QUE   44 57 59 ** 43 54 62 70 58 57 70  57
 9 Beverly Buckway                          TERR  50 53 44 69 54 64 53 57 43 78 **  56
10 Martha Smith                             N.B.  34 50 60 38 65 ** 45 56 57 75 61  55
11 Irene MacDonald                          PEI   43 33 54 41 60 46 ** 58 63 54 65  51
 
   SECONDS
 1 Donna Cunliffe                           B.C.  ** 54 67 75 57 81 64 90 71 93 79  73
 2 Monica Jones                             N.S.  50 70 75 73 68 60 80 ** 66 75 90  71
 3 Velva Squire                             SASK  70 81 63 70 ** 65 78 74 74 48 78  70
 4 Lindy Marchuk                            ONT   55 56 ** 63 56 78 50 72 79 63 73  65
 5 Sandra Rippel                            ALTA  57 64 40 71 78 75 60 48 ** 83 45  64
 6 Sheila Walter                            N.B.  61 55 67 43 89 ** 68 60 60 53 64  63
 7 Kim Crass                                MAN   71 ** 56 61 45 45 72 67 78 88 42  62
 8 Diane Caron                              QUE   43 64 57 ** 53 63 68 65 75 55 54  59
 9 Mary Lou Wall                            NFLD  40 49 64 52 59 63 56 57 56 ** 60  55
10 Diane Bradley                            PEI   49 41 50 48 40 57 ** 60 66 60 69  54
11 Arlene Bond                              TERR  60 54 64 45 31 48 48 56 53 55 **  52
 
   THIRDS 
 1 Lynne Andrews                            MAN   79 ** 59 50 67 61 75 67 89 96 77  72
 2 Lynn Reynolds                            ONT   46 71 ** 63 77 66 64 83 85 63 66  68
 3 Sharon Hastings                          B.C.  ** 69 73 61 73 66 61 63 56 69 79  67
 3 Karen Jones                              ALTA  59 41 79 79 64 71 80 56 ** 78 63  67
 3 Kay Smith                                N.S.  58 67 67 69 75 72 64 ** 39 79 80  67
 6 Shirley McKendry                         SASK  53 56 72 73 ** 69 66 61 71 51 79  65
 7 Marie Ferland                            QUE   57 63 57 ** 55 36 79 70 78 71 68  64
 8 Diane Ryan-LeDrew                        NFLD  76 63 63 57 67 64 50 65 61 ** 66  63
 9 Laurel Baldwin                           TERR  54 63 61 53 63 73 72 43 54 60 **  59
10 Chantel Vautour                          N.B.  56 48 59 66 65 ** 56 54 51 56 54  56
11 Wanda Aulenback                          PEI   53 54 47 45 33 63 ** 42 56 63 43  50
 
   SKIPS  
 1 Arleen Day                               SASK  77 69 73 74 ** 68 61 71 74 72 64  71
 2 Dorothy Rose                             MAN   67 ** 64 63 63 70 77 60 91 79 72  70
 2 Colleen Jones                            N.S.  70 71 81 80 67 69 75 ** 63 78 57  70
 4 Carol Thompson                           ONT   74 71 ** 69 73 76 52 76 60 76 58  69
 5 Lori Quinn                               NFLD  60 53 61 59 78 80 76 74 56 ** 80  68
 6 Cathy Shaw                               ALTA  64 58 44 79 68 66 75 73 ** 72 47  65
 6 Barbara Parker                           B.C.  ** 64 75 60 74 80 38 68 67 47 71  65
 8 Helene Tousignant                        QUE   63 49 49 ** 64 50 69 55 61 64 57  58
 9 Gloria Large                             PEI   65 65 63 56 35 55 ** 35 69 65 51  57
 9 Louise Ouellet                           N.B.  63 30 43 32 60 ** 70 51 59 80 69  57
11 Arenlea Felker                           TERR  33 64 61 56 44 52 75 53 55 51 **  54
 
   TEAMS
 1 Nova Scotia (Jones)                            63 72 73 72 71 65 73 ** 62 74 78  70
 2 Sask (Day)                                     70 69 71 74 ** 62 66 70 74 58 71  69
 3 B.C. (Parker)                                  ** 63 73 61 72 72 55 75 64 72 74  68
 3 Ontario (Thompson)                             61 64 ** 67 73 70 57 75 75 67 68  68
 5 Manitoba (Rose)                                68 ** 62 50 58 65 66 66 84 82 65  67
 6 Alberta (Shaw)                                 59 55 57 73 69 67 72 66 ** 77 53  65
 7 NFLD (Quinn)                                   62 56 59 54 65 68 64 63 63 ** 69  62
 8 Quebec (Tousignant)                            51 58 56 ** 53 51 69 65 68 62 62  60
 9 N.B. (Ouellet)                                 53 46 57 45 70 ** 60 55 57 66 62  58
10 Y/NWT (Felker)                                 50 58 57 56 48 59 62 52 51 61 **  55
11 P.E.I. (Large)                                 52 47 53 47 42 55 ** 49 64 60 57  53
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1982 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 11
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 TOT
LEADS  
Barb Jones-Gordon                        N.S.   0  +  +  0  +  +  +  *  0  -  +  +5
Sheila Mellis                            B.C.   *  +  0  +  +  0  +  +  0  +  -  +5
Donna Martineau                          ALTA   +  +  -  +  -  0  +  +  *  0  -  +2
Dorothy Hepper                           SASK   0  +  0  0  *  0  -  +  0  +  0  +2
Martha Smith                             N.B.   -  -  +  +  +  *  -  0  0  +  0  +1
Shannon Burns                            MAN    0  *  +  -  -  +  -  0  0  +  +  +1
Wendy Inouye                             ONT    0  -  *  0  +  0  +  0  +  -  -   0
Karen McIntee                            NFLD   0  -  -  -  0  -  +  0  0  *  +  -2
Irene MacDonald                          PEI    +  -  +  -  -  0  *  -  +  -  -  -3
Beverly Buckway                          TERR   0  -  -  0  0  0  -  -  -  0  *  -5
Denise Grange                            QUE    -  +  -  *  -  -  -  -  -  -  +  -6
 
SECONDS
Velva Squire                             SASK   +  +  0  +  *  +  +  +  0  -  +  +6
Monica Jones                             N.S.   -  +  +  +  +  0  +  *  +  -  +  +5
Donna Cunliffe                           B.C.   *  0  0  +  -  +  -  +  +  +  +  +4
Lindy Marchuk                            ONT    +  0  *  -  +  0  0  +  0  +  -  +2
Sandra Rippel                            ALTA   +  +  -  +  +  0  -  -  *  +  0  +2
Kim Crass                                MAN    +  *  0  +  -  -  +  -  0  +  0  +1
Diane Caron                              QUE    -  +  0  *  -  0  +  -  0  +  -  -1
Mary Lou Wall                            NFLD   -  -  +  -  +  +  -  0  -  *  -  -3
Diane Bradley                            PEI    -  -  -  -  -  -  *  +  +  -  +  -4
Sheila Walter                            N.B.   +  -  0  -  +  *  -  0  -  -  -  -4
Arlene Bond                              TERR   -  -  0  -  -  -  0  -  -  -  *  -8
 
THIRDS 
Kay Smith                                N.S.   +  +  -  +  +  +  +  *  -  +  +  +6
Karen Jones                              ALTA   0  -  +  +  -  +  +  +  *  +  -  +3
Diane Ryan-LeDrew                        NFLD   +  +  +  -  0  0  -  +  +  *  -  +2
Lynne Andrews                            MAN    +  *  0  -  -  0  +  -  +  +  +  +2
Marie Ferland                            QUE    0  0  0  *  -  -  +  +  -  +  +  +1
Sharon Hastings                          B.C.   *  0  0  +  +  -  -  -  +  -  +   0
Lynn Reynolds                            ONT    -  0  *  -  +  -  -  +  +  +  -  -1
Shirley McKendry                         SASK   -  -  0  +  *  +  -  +  -  -  +  -1
Chantel Vautour                          N.B.   0  +  0  +  +  *  -  -  -  -  -  -2
Laurel Baldwin                           TERR   -  0  0  -  0  +  +  -  0  -  *  -2
Wanda Aulenback                          PEI    0  -  -  -  -  -  *  -  0  -  -  -8
 
SKIPS  
Colleen Jones                            N.S.   -  +  +  +  0  +  +  *  +  +  0  +6
Dorothy Rose                             MAN    +  *  +  +  0  -  +  -  +  +  +  +5
Carol Thompson                           ONT    +  +  *  -  +  +  -  +  0  0  0  +3
Arleen Day                               SASK   +  +  0  +  *  +  -  +  -  +  -  +3
Lori Quinn                               NFLD   -  -  0  -  +  +  +  +  -  *  +  +1
Cathy Shaw                               ALTA   0  +  -  +  -  -  +  +  *  +  -  +1
Barbara Parker                           B.C.   *  -  0  0  +  +  -  +  +  -  -   0
Arenlea Felker                           TERR   -  +  +  -  -  -  +  -  -  -  *  -4
Gloria Large                             PEI    0  -  0  0  -  -  *  -  +  -  -  -5
Louise Ouellet                           N.B.   0  -  -  -  0  *  -  -  -  0  +  -5
Helene Tousignant                        QUE    0  -  -  *  0  -  -  -  0  -  +  -5
 
   TEAMS
Nova Scotia (Jones)                             -  +  +  +  +  +  +  *  0  0  +  +6
Manitoba (Rose)                                 +  *  +  +  -  0  +  -  +  +  +  +5
Alberta (Shaw)                                  +  +  -  +  0  0  +  +  *  +  -  +4
B.C. (Parker)                                   *  0  0  +  0  +  -  +  +  0  +  +4
Sask (Day)                                      +  +  0  +  *  +  -  +  -  0  +  +4
Ontario (Thompson)                              0  0  *  -  +  0  -  +  +  0  -   0
NFLD (Quinn)                                    0  -  +  -  +  0  -  +  0  *  -  -1
Quebec (Tousignant)                             -  0  -  *  -  -  +  -  -  0  +  -4
N.B. (Ouellet)                                  0  -  0  -  +  *  -  -  -  0  -  -5
Y/NWT (Felker)                                  -  0  0  -  -  -  +  -  -  -  *  -6
P.E.I. (Large)                                  0  -  -  -  -  -  *  -  +  -  -  -7
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1982 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                               SCORING ANALYSIS AFTER 11 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   10    83  FOR       5    20     19   12    6    3    0    0   73   7.3   30  0.88
                 AGAINST   6    11     20    8    0    3    1    0   53   5.3   17  0.64
 
B.C.   10    93  FOR       9    14     27   12    4    1    1    0   72   7.2   17  0.77
                 AGAINST   4     6     15   15    4    1    0    0   61   6.1   11  0.66
 
MAN    10    83  FOR       3    14     25   13    4    2    1    0   76   7.6   26  0.92
                 AGAINST   1     4     20    7    6    1    0    0   56   5.6    6  0.67
 
N.B.   10    94  FOR       4     7     22   13    1    0    0    0   51   5.1   11  0.54
                 AGAINST   6    17     28   15    4    1    0    0   74   7.4   23  0.79
 
NFLD   10    90  FOR       8    13     23   12    3    0    0    0   56   5.6   16  0.62
                 AGAINST   5    10     24   12    1    2    0    0   59   5.9   12  0.66
 
N.S.   10    92  FOR       5    14     19   12    8    2    1    0   80   8.0   22  0.87
                 AGAINST   5    12     32    7    1    0    0    0   49   4.9   15  0.53
 
ONT    10    95  FOR       4    10     25   14    2    2    0    0   67   6.7   14  0.71
                 AGAINST   3    14     33    8    4    0    0    0   61   6.1   19  0.64
 
PEI    10    83  FOR       6     7     27    5    1    0    0    0   40   4.0    8  0.48
                 AGAINST   4    17     14   16    8    2    0    0   78   7.8   30  0.94
 
QUE    10    91  FOR       5     8     20   12    1    0    0    0   47   4.7   10  0.52
                 AGAINST   9    20     26   15    3    0    0    0   65   6.5   28  0.71
 
SASK   10    99  FOR       5    20     26   18    2    1    0    0   72   7.2   27  0.73
                 AGAINST  10     9     20   15    2    0    0    0   56   5.6   12  0.57
 
TERR   10    89  FOR       1    12     26    7    6    0    0    0   58   5.8   16  0.65
                 AGAINST   2    19     27   12    5    1    2    0   80   8.0   24  0.90
 
 
TOTAL  55   496  FOR      55   139    259  130   38   11    3    0  692   6.3  197  0.70
                 AGAINST  55   139    259  130   38   11    3    0  692   6.3  197  0.70
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1982 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     L     W     W     L     W     W     W     W     W  
 
 
B.C.     W     *     L     W     W     L     L     W     W     W     W  
 
 
MAN      W     W     *     W     L     L     L     W     W     W     W  
 
 
N.B.     L     L     L     *     L     W     L     L     W     L     L  
 
 
NFLD     L     L     W     W     *     L     L     W     L     L     W  
 
 
N.S.     W     W     W     L     W     *     L     W     W     L     W  
 
 
ONT      L     W     W     W     W     W     *     W     L     L     L  
 
 
PEI      L     L     L     W     L     L     L     *     L     L     W  
 
 
QUE      L     L     L     L     W     L     W     W     *     L     L  
 
 
SASK     L     L     L     W     W     W     W     W     W     *     W  
 
 
TERR     L     L     L     W     L     L     W     L     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1982 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Shaw)                           #SH   220  169  389   178  197  375   398  366  764
                                  PTS   545  471 1016   457  551 1008  1002 1022 2024
                                  PCT    62   70   65    64   70   67    63   70   66
 
 1 Donna Martineau                          #SH    62   45  107    31   50   81    93   95  188
                                  PTS   153  118  271    78  148  226   231  266  497
                                  PCT    62   66   63    63   74   70    62   70   66
 
 2 Sandra Rippel                            #SH    58   39   97    48   51   99   106   90  196
                                  PTS   138  116  254   116  141  257   254  257  511
                                  PCT    59   74   65    60   69   65    60   71   65
 
 3 Karen Jones                              #SH    55   41   96    52   46   98   107   87  194
                                  PTS   141  109  250   143  135  278   284  244  528
                                  PCT    64   66   65    69   73   71    66   70   68
 
 4 Cathy Shaw                               #SH    45   44   89    47   50   97    92   94  186
                                  PTS   113  128  241   120  127  247   233  255  488
                                  PCT    63   73   68    64   64   64    63   68   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Parker)                            #SH   249  157  406   291  129  420   540  286  826
                                  PTS   689  442 1131   769  354 1123  1458  796 2254
                                  PCT    69   70   70    66   69   67    68   70   68
 
 1 Sheila Mellis                            #SH    88   27  115    74   13   87   162   40  202
                                  PTS   245   87  332   192   35  227   437  122  559
                                  PCT    70   81   72    65   67   65    67   76   69
 
 2 Donna Cunliffe                           #SH    58   47  105    82   25  107   140   72  212
                                  PTS   169  135  304   232   75  307   401  210  611
                                  PCT    73   72   72    71   75   72    72   73   72
 
 3 Sharon Hastings                          #SH    65   35  100    73   39  112   138   74  212
                                  PTS   167   95  262   197  111  308   364  206  570
                                  PCT    64   68   66    67   71   69    66   70   67
 
 4 Barbara Parker                           #SH    38   48   86    62   52  114   100  100  200
                                  PTS   108  125  233   148  133  281   256  258  514
                                  PCT    71   65   68    60   64   62    64   65   64
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Rose)                          #SH   220  186  406   190  225  415   410  411  821
                                  PTS   564  500 1064   564  601 1165  1128 1101 2229
                                  PCT    64   67   66    74   67   70    69   67   68
 
 1 Shannon Burns                            #SH    59   64  123    33   45   78    92  109  201
                                  PTS   142  176  318   100  104  204   242  280  522
                                  PCT    60   69   65    76   58   65    66   64   65
 
 2 Kim Crass                                #SH    51   41   92    55   63  118   106  104  210
                                  PTS   114  112  226   155  161  316   269  273  542
                                  PCT    56   68   61    70   64   67    63   66   65
 
 3 Lynne Andrews                            #SH    62   42  104    53   52  105   115   94  209
                                  PTS   171  107  278   166  148  314   337  255  592
                                  PCT    69   64   67    78   71   75    73   68   71
 
 4 Dorothy Rose                             #SH    48   39   87    49   65  114    97  104  201
                                  PTS   137  105  242   143  188  331   280  293  573
                                  PCT    71   67   70    73   72   73    72   70   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Ouellet)                           #SH   262  158  420   155  195  350   417  353  770
                                  PTS   613  366  979   324  476  800   937  842 1779
                                  PCT    58   58   58    52   61   57    56   60   58
 
 1 Martha Smith                             #SH    97   38  135    31   28   59   128   66  194
                                  PTS   225   91  316    53   56  109   278  147  425
                                  PCT    58   60   59    43   50   46    54   56   55
 
 2 Sheila Walter                            #SH    63   40  103    43   48   91   106   88  194
                                  PTS   150  111  261    96  130  226   246  241  487
                                  PCT    60   69   63    56   68   62    58   68   63
 
 3 Chantel Vautour                          #SH    57   33   90    42   62  104    99   95  194
                                  PTS   123   79  202    86  150  236   209  229  438
                                  PCT    54   60   56    51   60   57    53   60   56
 
 4 Louise Ouellet                           #SH    45   47   92    39   57   96    84  104  188
                                  PTS   115   85  200    89  140  229   204  225  429
                                  PCT    64   45   54    57   61   60    61   54   57
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Quinn)                             #SH   118  199  317   198  219  417   316  418  734
                                  PTS   282  548  830   485  516 1001   767 1064 1831
                                  PCT    60   69   65    61   59   60    61   64   62
 
 1 Karen McIntee                            #SH    15   77   92    34   58   92    49  135  184
                                  PTS    47  215  262    81  123  204   128  338  466
                                  PCT    78   70   71    60   53   55    65   63   63
 
 2 Mary Lou Wall                            #SH    26   53   79    47   63  110    73  116  189
                                  PTS    39  136  175   102  142  244   141  278  419
                                  PCT    38   64   55    54   56   55    48   60   55
 
 3 Diane Ryan-LeDrew                        #SH    36   33   69    64   51  115   100   84  184
                                  PTS    79   92  171   161  134  295   240  226  466
                                  PCT    55   70   62    63   66   64    60   67   63
 
 4 Lori Quinn                               #SH    41   36   77    53   47  100    94   83  177
                                  PTS   117  105  222   141  117  258   258  222  480
                                  PCT    71   73   72    67   62   65    69   67   68
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Jones)                      #SH   125  268  393   149  344  493   274  612  886
                                  PTS   322  853 1175   407  961 1368   729 1814 2543
                                  PCT    64   80   75    68   70   69    67   74   72
 
 1 Barb Jones-Gordon                        #SH     7   97  104     5  108  113    12  205  217
                                  PTS    12  315  327    16  304  320    28  619  647
                                  PCT    43   81   79    80   70   71    58   75   75
 
 2 Monica Jones                             #SH    36   58   94    28  103  131    64  161  225
                                  PTS    98  197  295    67  288  355   165  485  650
                                  PCT    68   85   78    60   70   68    64   75   72
 
 3 Kay Smith                                #SH    37   51   88    67   70  137   104  121  225
                                  PTS   100  147  247   186  180  366   286  327  613
                                  PCT    68   72   70    69   64   67    69   68   68
 
 4 Colleen Jones                            #SH    45   62  107    49   63  112    94  125  219
                                  PTS   112  194  306   138  189  327   250  383  633
                                  PCT    62   78   71    70   75   73    66   77   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Thompson)                       #SH   213  147  360   187  211  398   400  358  758
                                  PTS   562  417  979   489  587 1076  1051 1004 2055
                                  PCT    66   71   68    65   70   68    66   70   68
 
 1 Wendy Inouye                             #SH    63   30   93    35   59   94    98   89  187
                                  PTS   177   86  263    95  160  255   272  246  518
                                  PCT    70   72   71    68   68   68    69   69   69
 
 2 Lindy Marchuk                            #SH    49   45   94    47   51   98    96   96  192
                                  PTS   123  120  243   117  142  259   240  262  502
                                  PCT    63   67   65    62   70   66    63   68   65
 
 3 Lynn Reynolds                            #SH    51   35   86    53   52  105   104   87  191
                                  PTS   137  105  242   135  142  277   272  247  519
                                  PCT    67   75   70    64   68   66    65   71   68
 
 4 Carol Thompson                           #SH    50   37   87    52   49  101   102   86  188
                                  PTS   125  106  231   142  143  285   267  249  516
                                  PCT    63   72   66    68   73   71    65   72   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Large)                           #SH   198  152  350   202  141  343   400  293  693
                                  PTS   376  341  717   426  328  754   802  669 1471
                                  PCT    47   56   51    53   58   55    50   57   53
 
 1 Irene MacDonald                          #SH    65   39  104    50   21   71   115   60  175
                                  PTS   120   87  207   115   34  149   235  121  356
                                  PCT    46   56   50    57   40   52    51   50   51
 
 2 Diane Bradley                            #SH    46   37   83    55   38   93   101   75  176
                                  PTS    83   86  169   119   93  212   202  179  381
                                  PCT    45   58   51    54   61   57    50   60   54
 
 3 Wanda Aulenback                          #SH    40   36   76    56   43   99    96   79  175
                                  PTS    77   81  158   115   79  194   192  160  352
                                  PCT    48   56   52    51   46   49    50   51   50
 
 4 Gloria Large                             #SH    47   40   87    41   39   80    88   79  167
                                  PTS    96   87  183    77  122  199   173  209  382
                                  PCT    51   54   53    47   78   62    49   66   57
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Tousignant)                      #SH   167  213  380   161  238  399   328  451  779
                                  PTS   397  494  891   366  601  967   763 1095 1858
                                  PCT    59   58   59    57   63   61    58   61   60
 
 1 Denise Grange                            #SH    47   65  112    30   54   84    77  119  196
                                  PTS   114  171  285    58  107  165   172  278  450
                                  PCT    61   66   64    48   50   49    56   58   57
 
 2 Diane Caron                              #SH    24   56   80    48   70  118    72  126  198
                                  PTS    41  125  166   112  193  305   153  318  471
                                  PCT    43   56   52    58   69   65    53   63   59
 
 3 Marie Ferland                            #SH    45   50   95    42   59  101    87  109  196
                                  PTS   107  120  227   114  158  272   221  278  499
                                  PCT    59   60   60    68   67   67    64   64   64
 
 4 Helene Tousignant                        #SH    51   42   93    41   55   96    92   97  189
                                  PTS   135   78  213    82  143  225   217  221  438
                                  PCT    66   46   57    50   65   59    59   57   58
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Day)                               #SH   198  236  434   238  269  507   436  505  941
                                  PTS   570  635 1205   622  749 1371  1192 1384 2576
                                  PCT    72   67   69    65   70   68    68   69   68
 
 1 Dorothy Hepper                           #SH    40   97  137    45   51   96    85  148  233
                                  PTS   131  263  394   125  130  255   256  393  649
                                  PCT    82   68   72    69   64   66    75   66   70
 
 2 Velva Squire                             #SH    58   49  107    55   78  133   113  127  240
                                  PTS   160  135  295   156  218  374   316  353  669
                                  PCT    69   69   69    71   70   70    70   69   70
 
 3 Shirley McKendry                         #SH    42   47   89    73   75  148   115  122  237
                                  PTS   111  114  225   181  215  396   292  329  621
                                  PCT    66   61   63    62   72   67    63   67   66
 
 4 Arleen Day                               #SH    58   43  101    65   65  130   123  108  231
                                  PTS   168  123  291   160  186  346   328  309  637
                                  PCT    72   72   72    62   72   67    67   72   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Felker)                           #SH   158  263  421   133  188  321   291  451  742
                                  PTS   315  587  902   293  446  739   608 1033 1641
                                  PCT    50   56   54    55   59   58    52   57   55
 
 1 Beverly Buckway                          #SH    40   89  129    17   42   59    57  131  188
                                  PTS    97  211  308    32   81  113   129  292  421
                                  PCT    61   59   60    47   48   48    57   56   56
 
 2 Arlene Bond                              #SH    37   69  106    37   47   84    74  116  190
                                  PTS    49  127  176    87  131  218   136  258  394
                                  PCT    33   46   42    59   70   65    46   56   52
 
 3 Laurel Baldwin                           #SH    33   53   86    38   61   99    71  114  185
                                  PTS    71  131  202    87  148  235   158  279  437
                                  PCT    54   62   59    57   61   59    56   61   59
 
 4 Arenlea Felker                           #SH    48   52  100    41   38   79    89   90  179
                                  PTS    98  118  216    87   86  173   185  204  389
                                  PCT    51   57   54    53   57   55    52   57   54
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1982 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  59
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  14
 
          DRAW  8    ALTA 14  PEI   1
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  2    NFLD  1  SASK  7
          DRAW  2    ALTA  9  N.B.  1
          DRAW  3    ALTA  1  N.S. 11
          DRAW  8    ALTA 14  PEI   1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  6    ONT   9  ALTA 10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  2    NFLD  1  SASK  7
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  4    TERR  4  N.S. 12    N.S. SCORED 5 IN THE FIRST END
          DRAW  6    B.C. 12  TERR  6    B.C. SCORED 5 IN THE 6TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW 11    MAN  10  ALTA  2    MAN  SCORED 5 IN THE 7TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW 12    ALTA  5  SASK  7
 
NUMBER OF BLANK ENDS IN EVENT:  60
 
MOST BLANK ENDS ONE DRAW:   7
 
          DRAWS  1  2  5 11
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  1    N.S.  5  SASK  7    BY N.S. BEGINNING IN END 8
          DRAW  2    N.S.  7  PEI   3    BY PEI  BEGINNING IN END 3
          DRAW  2    NFLD  1  SASK  7    BY NFLD BEGINNING IN END 6
          DRAW  2    ONT   5  B.C.  4    BY B.C. BEGINNING IN END 2
          DRAW  6    PEI   4  SASK  7    BY SASK BEGINNING IN END 3
          DRAW  7    ALTA  7  SASK  5    BY ALTA BEGINNING IN END 6
          DRAW 11    N.B.  6  SASK  8    BY SASK BEGINNING IN END 1
          DRAW 12    ALTA  5  SASK  7    BY ALTA BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  1    MAN  11  TERR  4
          DRAW  2    QUE   3  TERR  7
          DRAW  2    NFLD  1  SASK  7
          DRAW  2    ALTA  9  N.B.  1
          DRAW  6    N.S.  9  QUE   4
          DRAW 10    TERR  4  ALTA  9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  2    ALTA  9  N.B.  1    BY ALTA BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW  8    ALTA 14  PEI   1    BY ALTA
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  7    N.S.  7  N.B.  8    N.B. WAS DOWN 4 AFTER 5 ENDS
 
NUMBER OF EXTRA END GAMES:   7
 
MOST ENDS PLAYED IN ONE GAME:  12
 
          DRAW  6    ONT   9  ALTA 10
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  3    ALTA  1  N.S. 11
          DRAW  5    PEI   2  ONT   9
          DRAW  8    ALTA 14  PEI   1
          DRAW 10    PEI   3  MAN   9
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   7
 
          DRAW  2    NFLD  1  SASK  7    BY NFLD
  </div>
</div>
