<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1983 Scott Tournament of Hearts
                                     Prince George, B.C.
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 AVG
   LEADS  
 1 Penny Ryan                               ALTA  76 85 86 77 80 ** 68 89 81 78 57  77
 2 Maureen Bonar                            MAN   80 76 88 76 78 67 68 ** 66 73 72  74
 3 Lillian Martin                           SASK  60 68 68 83 81 75 58 78 ** 80 70  72
 4 Pamela Sanford                           N.S.  72 71 85 78 ** 73 63 57 82 52 71  71
 4 Sandy McCubbin                           B.C.  65 73 ** 56 79 59 ** 80 82 66 75  71
 + Sherry Lethbridge                        B.C.  ** ** 69 ** ** ** ** ** ** ** **  69
 6 Valerie Adams                            ONT   70 59 65 ** 76 58 74 63 74 75 66  68
 7 Dale Sanderson                           TERR  54 71 48 80 66 74 61 75 65 ** 75  67
 8 Sandra Brawley                           NFLD  76 ** 80 66 66 60 63 59 59 57 68  65
 8 Odette Raby                              QUE   78 60 77 62 60 53 45 63 74 83 **  65
10 Kathie Burke                             PEI   ** 63 65 60 61 59 78 79 67 69 34  64
11 Stella Keays                             N.B.  60 57 ** 66 66 41 58 64 80 66 75  63
 
   SECONDS
 1 Guylaine Deschatelets                    QUE   79 ** ** ** ** 71 83 50 75 69 **  71
 2 Cathy Caudle                             N.S.  70 89 71 70 ** 39 67 69 78 78 70  70
 3 Marlene Delorenzi                        ONT   90 68 53 ** 70 72 63 81 55 74 59  68
 3 Iris Armstrong                           MAN   69 76 64 81 68 67 49 ** 69 70 69  68
 5 Judy Sefton                              SASK  71 63 64 69 74 65 56 70 ** 55 64  65
 5 Sherry Lethbridge                        B.C.  63 71 ** 56 70 69 ** 63 70 69 57  65
 7 Carolyn MacKay                           N.B.  80 80 ** 60 53 48 78 46 64 63 53  62
 8 Karen MacDonald                          PEI   ** 59 58 75 46 50 65 68 56 79 44  60
 9 Barbara Pinsent                          NFLD  53 ** 69 40 83 45 56 56 55 59 61  58
10 Louise McCrae                            TERR  55 45 41 55 59 56 55 74 59 ** 48  55
 
   THIRDS 
 1 Sandra Rippel                            ALTA  67 68 66 76 84 ** 68 80 65 72 57  70
 2 Sharon Horne                             N.S.  68 61 76 73 ** 75 56 68 68 68 70  68
 3 Lorraine Lang                            ONT   80 73 63 ** 53 58 69 69 78 67 63  67
 + Guylaine Deschatelets                    QUE   ** 68 53 63 77 ** ** ** ** ** **  66
 4 Carol Dunstone                           MAN   53 46 64 79 63 64 59 ** 60 69 81  64
 5 Elizabeth McCrae                         TERR  59 60 53 65 70 54 83 74 50 ** 64  63
 5 Cathy Dillon                             PEI   ** 59 60 55 51 73 61 69 85 73 45  63
 5 Rene Crocker                             NFLD  75 ** 76 64 56 47 60 65 57 76 49  63
 8 Jean MacLean                             SASK  68 74 61 54 79 52 56 72 ** 39 65  62
 8 Berniece McCallan                        B.C.  54 60 69 65 60 46 ** 72 68 65 57  62
 8 Connie Bothwell-Myers                    N.B.  60 51 ** 69 55 63 66 54 71 53 75  62
11 Linda Raby                               QUE   60 ** ** ** ** 44 77 71 54 50 **  59
 
   SKIPS  
 1 Cathy Shaw                               ALTA  57 75 84 74 72 ** 53 65 75 81 69  70
 1 Shelly Bildfell                          TERR  86 70 63 57 73 76 50 76 78 ** 70  70
 3 Penny LaRocque                           N.S.  78 82 88 60 ** 76 59 58 63 74 57  69
 4 Patti Vande                              MAN   63 69 51 66 83 71 74 ** 74 65 69  68
 5 Ruby Crocker                             NFLD  64 ** 60 71 76 49 67 74 58 56 63  64
 6 Kim McLeod                               PEI   ** 66 74 74 60 56 60 71 64 71 34  63
 6 Agnes Charette                           QUE   43 71 53 67 76 53 67 67 62 67 **  63
 8 Heather Kerr                             B.C.  54 68 67 72 75 54 ** 63 69 53 47  62
 9 Anne Provo                               ONT   80 55 55 ** 61 61 61 75 57 46 63  61
 9 Sheila Rowan                             SASK  65 69 66 57 76 67 42 57 ** 39 66  61
11 Grace Donald                             N.B.  67 34 ** 54 73 65 59 63 62 51 72  60
 
   TEAMS
 1 Alberta (Shaw)                                 68 76 78 76 80 ** 64 80 73 76 60  73
 2 N.S. (LaRocque)                                72 76 80 70 ** 65 62 63 73 68 67  70
 3 Manitoba (Vande)                               66 67 67 76 72 67 62 ** 67 69 73  69
 4 Ontario (Provo)                                80 64 59 ** 65 62 67 72 66 66 62  66
 5 Sask (Rowan)                                   66 68 65 66 77 65 53 70 ** 53 66  65
 5 B.C. (Kerr)                                    59 68 68 62 71 57 ** 69 72 63 60  65
 7 Quebec (Charette)                              65 66 62 63 70 55 68 63 66 67 **  64
 7 Y/NWT (Bildfell)                               62 62 51 64 67 65 63 75 63 ** 64  64
 9 P.E.I. (McLeod)                                ** 61 64 66 55 59 66 71 68 73 39  63
10 NFLD (Crocker)                                 67 ** 71 60 70 50 61 63 57 62 60  62
10 N.B. (Donald)                                  67 56 ** 62 62 54 65 56 69 58 69  62
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1983 Scott Tournament of Hearts
                                     Prince George, B.C.
 
                             PLUS/MINUS STATISTICS AFTER DRAW 11
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 TOT
LEADS  
Penny Ryan                               ALTA   +  +  +  +  0  *  0  +  +  +  -  +6
Maureen Bonar                            MAN    +  0  +  +  +  +  0  *  0  0  0  +5
Pamela Sanford                           N.S.   -  0  +  +  *  +  +  -  +  -  +  +3
Sandy McCubbin                           B.C.   -  0  *  0  +  -  *  0  +  +  +  +2
Kathie Burke                             PEI    *  +  -  0  -  +  +  +  -  0  -   0
Stella Keays                             N.B.   +  -  *  -  -  -  +  +  +  -  0  -1
Dale Sanderson                           TERR   -  0  -  0  +  +  -  -  0  *  +  -1
Lillian Martin                           SASK   -  -  -  0  +  +  -  0  *  0  0  -2
Valerie Adams                            ONT    +  0  -  *  0  -  +  -  -  +  -  -2
Odette Raby                              QUE    0  0  -  -  -  -  -  +  -  0  *  -5
Sandra Brawley                           NFLD   0  *  +  -  -  -  -  -  -  -  0  -6
 
SECONDS
Cathy Caudle                             N.S.   0  +  +  +  *  -  +  +  +  0  ?  +5
Guylaine Deschatelets                    QUE    +  *  *  *  *  +  +  -  +  +  *  +4
Marlene Delorenzi                        ONT    +  ?  -  *  ?  +  +  +  -  0  0  +2
Judy Sefton                              SASK   -  ?  0  +  +  +  -  +  *  -  0  +1
Iris Armstrong                           MAN    0  +  0  ?  -  -  ?  *  +  -  +   0
Sherry Lethbridge                        B.C.   ?  -  *  -  +  +  *  -  -  +  0  -1
Barbara Pinsent                          NFLD   -  *  +  ?  +  -  -  +  -  -  0  -2
Karen MacDonald                          PEI    *  -  -  +  -  -  +  -  ?  +  0  -2
Carolyn MacKay                           N.B.   +  +  *  -  -  -  -  -  +  ?  -  -3
Louise McCrae                            TERR   -  -  ?  -  ?  +  -  ?  -  *  0  -4
 
THIRDS 
Sharon Horne                             N.S.   +  0  +  0  *  +  0  0  +  0  +  +5
Sandra Rippel                            ALTA   +  -  +  +  +  *  +  +  -  +  -  +4
Carol Dunstone                           MAN    -  -  0  +  +  +  -  *  +  0  +  +2
Berniece McCallan                        B.C.   -  +  +  +  +  -  *  0  +  -  -  +1
Elizabeth McCrae                         TERR   0  0  -  +  -  +  +  -  -  *  +   0
Lorraine Lang                            ONT    +  +  -  *  -  -  -  0  +  0  +   0
Jean MacLean                             SASK   -  +  0  -  +  -  0  0  *  -  +  -1
Rene Crocker                             NFLD   +  *  +  -  -  -  0  +  -  +  -  -1
Linda Raby                               QUE    -  *  *  *  *  -  +  0  -  +  *  -1
Cathy Dillon                             PEI    *  +  -  -  -  +  0  0  +  0  -  -1
Connie Bothwell-Myers                    N.B.   0  -  *  0  -  +  -  -  -  -  -  -6
 
SKIPS  
Penny LaRocque                           N.S.   +  +  +  +  *  +  +  -  +  +  -  +6
Cathy Shaw                               ALTA   0  +  +  0  +  *  -  -  +  +  +  +4
Shelly Bildfell                          TERR   +  -  0  0  0  +  -  +  0  *  +  +2
Ruby Crocker                             NFLD   +  *  +  0  -  -  +  +  -  0  0  +1
Agnes Charette                           QUE    -  +  -  0  0  0  +  +  -  +  *  +1
Heather Kerr                             B.C.   0  0  0  0  0  -  *  +  +  0  -   0
Patti Vande                              MAN    -  0  -  0  +  +  +  *  0  -  0   0
Sheila Rowan                             SASK   -  -  +  0  +  0  -  -  *  -  0  -3
Anne Provo                               ONT    +  -  -  *  -  -  +  0  -  -  +  -3
Kim McLeod                               PEI    *  +  -  0  -  0  -  0  -  +  -  -3
Grace Donald                             N.B.   -  -  *  -  0  0  -  -  +  -  0  -5
 
   TEAMS
N.S. (LaRocque)                                 +  +  +  +  *  +  +  0  +  0  +  +8
Alberta (Shaw)                                  +  +  +  +  +  *  0  +  +  +  -  +7
B.C. (Kerr)                                     -  0  +  0  +  -  *  0  +  0  0  +1
Manitoba (Vande)                                -  0  0  +  0  +  0  *  0  0  0  +1
Sask (Rowan)                                    -  -  0  0  +  +  -  0  *  -  +  -1
Ontario (Provo)                                 +  0  -  *  -  -  0  0  0  0  0  -2
P.E.I. (McLeod)                                 *  +  -  0  -  0  +  0  -  0  -  -2
Quebec (Charette)                               0  0  -  -  0  0  0  0  -  +  *  -2
Y/NWT (Bildfell)                                -  -  -  0  0  +  0  -  0  *  +  -2
NFLD (Crocker)                                  0  *  +  -  0  -  -  +  -  0  -  -3
N.B. (Donald)                                   +  -  *  -  -  -  0  -  0  -  0  -5
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1983 Scott Tournament of Hearts
                                     Prince George, B.C.
 
                               SCORING ANALYSIS AFTER 11 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   10    93  FOR      11    16     25   14    3    1    1    0   71   7.1   22  0.76
                 AGAINST   2     8     24   11    1    0    0    0   49   4.9    8  0.53
 
B.C.   10    95  FOR       5    11     30   10    3    0    0    0   59   5.9   15  0.62
                 AGAINST   5    13     31    9    2    0    0    0   55   5.5   18  0.58
 
MAN    10    98  FOR       1    11     26   12    3    1    0    0   63   6.3   16  0.64
                 AGAINST   8    12     35    9    3    0    0    0   62   6.2   13  0.63
 
N.B.   10    93  FOR       3     3     16   12    4    0    0    0   52   5.2    4  0.56
                 AGAINST   8    20     31   11    5    1    2    0   82   8.2   26  0.88
 
NFLD   10    93  FOR       9     7     22    9    5    0    1    0   60   6.0    8  0.65
                 AGAINST   4    13     26   11    4    1    1    0   69   6.9   22  0.74
 
N.S.   10    92  FOR       6    16     28   10    8    0    0    0   72   7.2   23  0.78
                 AGAINST  10     4     16   11    3    0    0    0   47   4.7    6  0.51
 
ONT    10    93  FOR       6    14     29    7    3    1    0    0   56   5.6   16  0.60
                 AGAINST   9    10     26    6    4    2    0    0   58   5.8   11  0.62
 
PEI    10    91  FOR       3    12     35    5    2    0    0    0   51   5.1   13  0.56
                 AGAINST   2    14     27    7    7    3    0    0   74   7.4   21  0.81
 
QUE    10    88  FOR       5    11     21   15    3    1    1    0   69   6.9   19  0.78
                 AGAINST   3     8     20   13    5    1    0    0   65   6.5   11  0.74
 
SASK   10    96  FOR       2    15     31    7    2    3    0    0   63   6.3   20  0.66
                 AGAINST   6    17     25   17    3    0    0    0   68   6.8   24  0.71
 
TERR   10    94  FOR      10    12     21   13    7    1    0    0   72   7.2   19  0.77
                 AGAINST   4     9     23    9    6    0    0    0   59   5.9   15  0.63
 
 
TOTAL  55   513  FOR      61   128    284  114   43    8    3    0  688   6.3  175  0.67
                 AGAINST  61   128    284  114   43    8    3    0  688   6.3  175  0.67
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1983 Scott Tournament of Hearts
                                     Prince George, B.C.
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  N.S.  ONT   PEI   QUE   SASK  TERR  
 
 
ALTA     *     L     L     W     W     W     W     W     W     W     L  
 
 
B.C.     W     *     L     W     L     L     L     W     W     W     W  
 
 
MAN      W     W     *     W     W     L     W     L     W     L     L  
 
 
N.B.     L     L     L     *     L     L     L     L     L     L     L  
 
 
NFLD     L     W     L     W     *     L     W     L     W     L     L  
 
 
N.S.     L     W     W     W     W     *     W     W     L     W     W  
 
 
ONT      L     W     L     W     L     L     *     W     L     W     L  
 
 
PEI      L     L     W     W     W     L     L     *     W     L     L  
 
 
QUE      L     L     L     W     L     W     W     L     *     W     L  
 
 
SASK     L     L     W     W     W     L     L     W     L     *     L  
 
 
TERR     W     L     W     W     W     L     W     W     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1983 Scott Tournament of Hearts
                                     Prince George, B.C.
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Shaw)                           #SH   195  178  373   202  340  542   397  518  915
                                  PTS   604  520 1124   603  985 1588  1207 1505 2712
                                  PCT    77   73   75    75   72   73    76   73   74
 
 1 Penny Ryan                               #SH    89   61  150    81  110  191   170  171  341
                                  PTS   301  182  483   253  333  586   554  515 1069
                                  PCT    85   75   81    78   76   77    81   75   78
 
 2 Sandra Rippel                            #SH    59   78  137    82  131  213   141  209  350
                                  PTS   169  240  409   237  358  595   406  598 1004
                                  PCT    72   77   75    72   68   70    72   72   72
 
 4 Cathy Shaw                               #SH    47   39   86    39   99  138    86  138  224
                                  PTS   134   98  232   113  294  407   247  392  639
                                  PCT    71   63   67    72   74   74    72   71   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Kerr)                              #SH   203  191  394   225  158  383   428  349  777
                                  PTS   522  484 1006   603  408 1011  1125  892 2017
                                  PCT    64   63   64    67   65   66    66   64   65
 
 1 Sandy McCubbin                           #SH    46   52   98    38   42   80    84   94  178
                                  PTS   126  143  269   106  127  233   232  270  502
                                  PCT    68   69   69    70   76   73    69   72   71
 
 2 Sherry Lethbridge                        #SH    54   49  103    57   43  100   111   92  203
                                  PTS   152  129  281   144  108  252   296  237  533
                                  PCT    70   66   68    63   63   63    67   64   66
 
 3 Berniece McCallan                        #SH    56   41   97    66   42  108   122   83  205
                                  PTS   145   93  238   174   94  268   319  187  506
                                  PCT    65   57   61    66   56   62    65   56   62
 
 4 Heather Kerr                             #SH    47   49   96    64   31   95   111   80  191
                                  PTS    99  119  218   179   79  258   278  198  476
                                  PCT    53   61   57    70   64   68    63   62   62
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Vande)                         #SH   187  208  395   150  253  403   337  461  798
                                  PTS   520  574 1094   409  686 1095   929 1260 2189
                                  PCT    70   69   69    68   68   68    69   68   69
 
 1 Maureen Bonar                            #SH    62   60  122    26   49   75    88  109  197
                                  PTS   183  165  348    77  160  237   260  325  585
                                  PCT    74   69   71    74   82   79    74   75   74
 
 2 Iris Armstrong                           #SH    46   54  100    37   65  102    83  119  202
                                  PTS   118  145  263   111  176  287   229  321  550
                                  PCT    64   67   66    75   68   70    69   67   68
 
 3 Carol Dunstone                           #SH    43   42   85    53   63  116    96  105  201
                                  PTS   111  118  229   128  155  283   239  273  512
                                  PCT    65   70   67    60   62   61    62   65   64
 
 4 Patti Vande                              #SH    36   52   88    34   76  110    70  128  198
                                  PTS   108  146  254    93  195  288   201  341  542
                                  PCT    75   70   72    68   64   65    72   67   68
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Donald)                            #SH   242  165  407   204  172  376   446  337  783
                                  PTS   617  432 1049   479  405  884  1096  837 1933
                                  PCT    64   65   64    59   59   59    61   62   62
 
 1 Stella Keays                             #SH    72   49  121    58   19   77   130   68  198
                                  PTS   187  128  315   139   47  186   326  175  501
                                  PCT    65   65   65    60   62   60    63   64   63
 
 2 Carolyn MacKay                           #SH    53   51  104    49   45   94   102   96  198
                                  PTS   140  147  287   110   93  203   250  240  490
                                  PCT    66   72   69    56   52   54    61   63   62
 
 3 Connie Bothwell-Myers                    #SH    65   33   98    49   50   99   114   83  197
                                  PTS   166   81  247   127  111  238   293  192  485
                                  PCT    64   61   63    65   56   60    64   58   62
 
 4 Grace Donald                             #SH    52   32   84    48   58  106   100   90  190
                                  PTS   124   76  200   103  154  257   227  230  457
                                  PCT    60   59   60    54   66   61    57   64   60
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Crocker)                           #SH   157  182  339   243  194  437   400  376  776
                                  PTS   347  464  811   614  510 1124   961  974 1935
                                  PCT    55   64   60    63   66   64    60   65   62
 
 1 Sandra Brawley                           #SH    45   56  101    53   43   96    98   99  197
                                  PTS   115  148  263   131  121  252   246  269  515
                                  PCT    64   66   65    62   70   66    63   68   65
 
 2 Barbara Pinsent                          #SH    40   38   78    77   45  122   117   83  200
                                  PTS    87   87  174   186  101  287   273  188  461
                                  PCT    54   57   56    60   56   59    58   57   58
 
 3 Rene Crocker                             #SH    41   36   77    67   52  119   108   88  196
                                  PTS    89   87  176   172  144  316   261  231  492
                                  PCT    54   60   57    64   69   66    60   66   63
 
 4 Ruby Crocker                             #SH    31   52   83    46   54  100    77  106  183
                                  PTS    56  142  198   125  144  269   181  286  467
                                  PCT    45   68   60    68   67   67    59   67   64
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (LaRocque)                          #SH   159  227  386   173  267  440   332  494  826
                                  PTS   447  643 1090   451  767 1218   898 1410 2308
                                  PCT    70   71   71    65   72   69    68   71   70
 
 1 Pamela Sanford                           #SH    44   55   99    47   54  101    91  109  200
                                  PTS   138  156  294   119  159  278   257  315  572
                                  PCT    78   71   74    63   74   69    71   72   72
 
 2 Cathy Caudle                             #SH    36   58   94    53   66  119    89  124  213
                                  PTS   100  161  261   150  183  333   250  344  594
                                  PCT    69   69   69    71   69   70    70   69   70
 
 3 Sharon Horne                             #SH    42   53   95    45   72  117    87  125  212
                                  PTS   109  166  275   110  188  298   219  354  573
                                  PCT    65   78   72    61   65   64    63   71   68
 
 4 Penny LaRocque                           #SH    37   61   98    28   75  103    65  136  201
                                  PTS   100  160  260    72  237  309   172  397  569
                                  PCT    68   66   66    64   79   75    66   73   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Provo)                          #SH   243  160  403   178  211  389   421  371  792
                                  PTS   643  439 1082   456  559 1015  1099  998 2097
                                  PCT    66   69   67    64   66   65    65   67   66
 
 1 Valerie Adams                            #SH    89   26  115    49   35   84   138   61  199
                                  PTS   254   79  333   114   93  207   368  172  540
                                  PCT    71   76   72    58   66   62    67   70   68
 
 2 Marlene Delorenzi                        #SH    54   48  102    43   57  100    97  105  202
                                  PTS   135  144  279   120  153  273   255  297  552
                                  PCT    63   75   68    70   67   68    66   71   68
 
 3 Lorraine Lang                            #SH    54   44   98    50   53  103   104   97  201
                                  PTS   137  115  252   147  139  286   284  254  538
                                  PCT    63   65   64    74   66   69    68   65   67
 
 4 Anne Provo                               #SH    46   42   88    36   66  102    82  108  190
                                  PTS   117  101  218    75  174  249   192  275  467
                                  PCT    64   60   62    52   66   61    59   64   61
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (McLeod)                          #SH   203  226  429   188  135  323   391  361  752
                                  PTS   527  608 1135   428  323  751   955  931 1886
                                  PCT    65   67   66    57   60   58    61   64   63
 
 1 Kathie Burke                             #SH    47   79  126    38   26   64    85  105  190
                                  PTS   105  229  334    93   59  152   198  288  486
                                  PCT    56   72   66    61   57   59    58   69   64
 
 2 Karen MacDonald                          #SH    47   53  100    58   32   90   105   85  190
                                  PTS   133  129  262   124   73  197   257  202  459
                                  PCT    71   61   66    53   57   55    61   59   60
 
 3 Cathy Dillon                             #SH    60   40  100    50   40   90   110   80  190
                                  PTS   151  100  251   120  110  230   271  210  481
                                  PCT    63   63   63    60   69   64    62   66   63
 
 4 Kim McLeod                               #SH    49   54  103    42   37   79    91   91  182
                                  PTS   138  150  288    91   81  172   229  231  460
                                  PCT    70   69   70    54   55   54    63   63   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Charette)                        #SH   185  164  349   214  182  396   399  346  745
                                  PTS   467  426  893   568  460 1028  1035  886 1921
                                  PCT    63   65   64    66   63   65    65   64   64
 
 1 Odette Raby                              #SH    46   75  121    57   45  102   103  120  223
                                  PTS   128  205  333   150   97  247   278  302  580
                                  PCT    70   68   69    66   54   61    67   63   65
 
 2 Guylaine Deschatelets                    #SH    64   39  103    61   62  123   125  101  226
                                  PTS   182  107  289   175  152  327   357  259  616
                                  PCT    71   69   70    72   61   66    71   64   68
 
 3 Linda Raby                               #SH    30   23   53    30   29   59    60   52  112
                                  PTS    61   56  117    76   71  147   137  127  264
                                  PCT    51   61   55    63   61   62    57   61   59
 
 4 Agnes Charette                           #SH    45   27   72    66   46  112   111   73  184
                                  PTS    96   58  154   167  140  307   263  198  461
                                  PCT    53   54   53    63   76   69    59   68   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Rowan)                             #SH   231  169  400   180  195  375   411  364  775
                                  PTS   591  476 1067   450  506  956  1041  982 2023
                                  PCT    64   70   67    63   65   64    63   67   65
 
 1 Lillian Martin                           #SH    78   31  109    44   41   85   122   72  194
                                  PTS   209   98  307   128  124  252   337  222  559
                                  PCT    67   79   70    73   76   74    69   77   72
 
 2 Judy Sefton                              #SH    47   46   93    46   55  101    93  101  194
                                  PTS   125  136  261   109  137  246   234  273  507
                                  PCT    66   74   70    59   62   61    63   68   65
 
 3 Jean MacLean                             #SH    50   50  100    44   50   94    94  100  194
                                  PTS   107  147  254   102  128  230   209  275  484
                                  PCT    54   74   64    58   64   61    56   69   62
 
 4 Sheila Rowan                             #SH    56   42   98    46   49   95   102   91  193
                                  PTS   150   95  245   111  117  228   261  212  473
                                  PCT    67   57   63    60   60   60    64   58   61
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Bildfell)                         #SH   163  164  327   336  172  508   499  336  835
                                  PTS   403  394  797   931  416 1347  1334  810 2144
                                  PCT    62   60   61    69   60   66    67   60   64
 
 1 Dale Sanderson                           #SH    59   36   95   105    9  114   164   45  209
                                  PTS   171   85  256   300    8  308   471   93  564
                                  PCT    72   59   67    71   22   68    72   52   67
 
 2 Louise McCrae                            #SH    39   33   72    89   51  140   128   84  212
                                  PTS    69   65  134   239  107  346   308  172  480
                                  PCT    44   49   47    67   52   62    60   51   57
 
 3 Elizabeth McCrae                         #SH    27   47   74    73   63  136   100  110  210
                                  PTS    63  123  186   191  155  346   254  278  532
                                  PCT    58   65   63    65   62   64    64   63   63
 
 4 Shelly Bildfell                          #SH    38   48   86    69   49  118   107   97  204
                                  PTS   100  121  221   201  146  347   301  267  568
                                  PCT    66   63   64    73   74   74    70   69   70
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1983 Scott Tournament of Hearts
                                     Prince George, B.C.
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  57
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  3    TERR  5  B.C. 11
          DRAW  5    PEI   5  SASK 11
          DRAW  7    N.B.  4  QUE  11
          DRAW 11    NFLD  6  SASK 11
          DRAW 11    PEI   3  TERR 11
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  7    SASK  1  N.S.  7
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  6    N.B.  8  SASK  9
          DRAW  8    N.B.  7  NFLD 10
          DRAW 11    NFLD  6  SASK 11
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  1    N.B.  3  TERR  5
          DRAW  7    SASK  1  N.S.  7
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  4    ALTA  8  NFLD  4    ALTA SCORED 5 IN THE 7TH END
          DRAW  7    N.B.  4  QUE  11    QUE  SCORED 5 IN THE 7TH END
          DRAW  8    N.B.  7  NFLD 10    NFLD SCORED 5 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 11    PEI   3  TERR 11    TERR SCORED 4 IN THE 4TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  2    TERR  4  N.S.  5
 
NUMBER OF BLANK ENDS IN EVENT:  63
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW  1
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  5    ALTA  6  ONT   3    BY ALTA BEGINNING IN END 3
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  2    SASK  5  ALTA  7
          DRAW  3    SASK  7  MAN   6
          DRAW  4    PEI   4  B.C.  6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  3    SASK  7  MAN   6    BY SASK BEGINNING IN END 8
          DRAW  3    QUE   5  ALTA 10    BY ALTA BEGINNING IN END 3
          DRAW  4    PEI   4  B.C.  6    BY B.C. BEGINNING IN END 2
          DRAW  7    SASK  1  N.S.  7    BY N.S. BEGINNING IN END 4
          DRAW  9    ALTA  8  PEI   4    BY ALTA BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW 11    PEI   3  TERR 11    BY TERR
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  2    SASK  5  ALTA  7    ALTA WAS DOWN 3 AFTER 3 ENDS
          DRAW  3    SASK  7  MAN   6    SASK WAS DOWN 3 AFTER 6 ENDS
          DRAW  6    NFLD  5  TERR  9    TERR WAS DOWN 3 AFTER 1 END
          DRAW  8    N.B.  7  NFLD 10    NFLD WAS DOWN 3 AFTER 2 ENDS
          DRAW 11    MAN   9  N.B.  6    MAN  WAS DOWN 3 AFTER 1 END
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  6    MAN   8  ONT   7
          DRAW  6    N.B.  8  SASK  9
          DRAW  8    SASK  4  B.C.  6
 
FEWEST ENDS PLAYED IN ONE GAME:   8
 
          DRAW  3    QUE   5  ALTA 10
          DRAW  3    TERR  5  B.C. 11
          DRAW  7    SASK  1  N.S.  7
          DRAW  7    N.B.  4  QUE  11
          DRAW 10    QUE  10  SASK  4
          DRAW 11    PEI   3  TERR 11
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  4    N.S.  7  N.B.  5    BY N.B.
  </div>
</div>
