<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1985 Scott Tournament of Hearts
                                     Winnipeg, Manitoba
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 AVG
   LEADS  
 1 Debbie Herbert                 NFLD  61 68 78 93 84 ** 71 76 74 59 74  74
 2 Sherry Jackson                 N.S.  75 74 73 74 89 75 67 ** 64 70 59  72
 3 Laurie Carney                  B.C.  64 ** 63 76 69 78 71 60 81 82 57  70
 4 Deb Brousseau                  ONT   71 69 85 57 59 63 85 53 ** 60 69  67
 4 Eileen Wilson                  SASK  58 73 63 ** 80 68 86 55 47 40 76  67
 6 Dale Twa                       TERR  ** 79 67 73 83 68 50 85 56 65 47  66
 7 Betty McCracken                ALTA  50 49 76 68 78 63 ** 66 54 76 65  65
 8 Karen MacDonald                PEI   50 63 71 64 78 70 77 67 46 ** 51  64
 9 Pauline Lynch                  N.B.  59 59 75 75 61 57 51 50 56 56 **  61
10 Mary Duranceau                 QUE   63 71 61 65 ** 54 55 60 51 48 69  60
11 Yvonne Beaudin                 MAN   59 60 ** 54 53 64 69 57 55 51 53  58
 
   SECONDS
 1 Debbie Jones                   B.C.  66 ** 84 83 88 73 71 64 71 81 68  75
 2 Carolyn Darbyshire             MAN   58 68 ** 60 80 57 83 70 63 70 73  68
 3 Maureen Burkitt                SASK  65 79 78 ** 57 59 80 48 50 70 76  67
 3 Kathie Gallant                 PEI   44 66 73 66 78 66 67 72 74 ** 56  67
 5 Bev Mainwaring                 ONT   79 76 90 74 56 73 57 59 ** 33 56  66
 6 Judy Erickson                  ALTA  70 71 68 63 55 66 ** 50 78 70 50  64
 7 Margie Knickle                 NFLD  69 69 54 73 86 ** 57 42 63 56 57  63
 8 Louise McCrae                  TERR  ** 75 53 55 70 64 56 70 68 61 48  61
 8 Joan Hutchinson                N.S.  60 64 46 65 55 65 63 ** 72 64 54  61
10 Gail Shields                   N.B.  56 56 59 55 75 51 69 48 58 48 **  58
11 June Lamarre                   QUE   50 55 43 68 ** 40 64 31 56 50 40  50
 
   THIRDS 
 1 Lindsay Sparkes                B.C.  76 ** 84 81 70 80 83 66 66 65 78  75
 2 Cathy Dillon                   PEI   66 75 78 76 74 61 97 64 86 ** 63  74
 3 Jean MacLean                   SASK  78 78 60 ** 63 44 65 50 64 70 65  64
 4 Patricia Dwyer                 NFLD  64 57 61 65 71 ** 66 71 49 71 50  63
 5 Judy Lukowich                  ALTA  67 56 60 57 74 79 ** 50 61 43 75  62
 5 Judy Connor                    N.B.  53 69 59 53 64 71 80 42 51 71 **  62
 7 Margaret Cutcliffe             N.S.  63 39 63 76 53 68 57 ** 89 43 60  61
 8 Mary Susan Bell                ONT   45 60 71 64 70 65 45 38 ** 71 73  59
 9 Elizabeth McCrae               TERR  ** 61 55 59 60 78 54 80 45 51 44  58
10 Merline Darbyshire             MAN   50 59 ** 47 50 68 49 46 66 59 45  54
11 Julie Graham                   QUE   35 44 61 54 ** 60 70 48 43 30 60  51
 
   SKIPS  
 1 Susan Seitz                    ALTA  73 70 49 66 69 62 ** 62 72 55 81  66
 2 Linda Moore                    B.C.  74 ** 66 70 46 76 65 61 57 61 57  63
 2 Sheila Rowan                   SASK  71 70 79 ** 68 60 62 40 38 77 54  63
 2 Kim Dolan                      PEI   73 64 63 46 73 74 57 60 65 ** 53  63
 5 Virginia Jackson               N.S.  75 64 64 64 38 63 78 ** 71 43 63  62
 5 Sue Anne Bartlett              NFLD  81 51 55 66 56 ** 59 73 60 59 60  62
 7 Jacki Rintoul                  MAN   48 64 ** 75 57 67 63 49 70 69 53  61
 8 Shelly Bildfell                TERR  ** 61 74 50 59 64 54 80 50 50 61  60
 9 Pam Leavitt                    ONT   68 51 69 36 43 54 76 38 ** 85 46  55
10 Marlene Vaughan                N.B.  65 75 54 49 78 49 66 13 44 25 **  54
11 Nicole Filion                  QUE   47 56 64 52 ** 42 47 66 53 36 36  50
 
   TEAMS
 1 B.C. (Moore)                         70 ** 74 78 68 77 73 63 69 72 65  71
 2 P.E.I. (Dolan)                       58 67 71 63 75 68 74 66 68 ** 56  67
 3 NFLD (Bartlett)                      69 61 62 74 74 ** 63 65 61 61 60  65
 3 Sask (Rowan)                         68 75 70 ** 67 57 73 48 50 65 68  65
 5 Alberta (Seitz)                      65 61 63 63 69 68 ** 57 67 61 68  64
 5 N.S. (Jackson)                       68 60 61 70 59 68 66 ** 74 55 59  64
 7 Ontario (Leavitt)                    66 64 79 58 57 63 66 47 ** 63 61  62
 8 Y/NWT (Bildfell)                     ** 69 62 59 68 69 54 79 55 57 50  61
 9 Monitoba (Rintoul)                   54 63 ** 59 60 64 66 56 63 62 56  60
10 N.B. (Vaughan)                       58 65 62 58 69 57 66 38 52 50 **  59
11 Quebec (Filion)                      49 56 57 60 ** 49 59 51 51 41 51  53
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1985 Scott Tournament of Hearts
                                     Winnipeg, Manitoba
 
                             PLUS/MINUS STATISTICS AFTER DRAW 11
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 TOT
LEADS  
Sherry Jackson                 N.S.   +  +  -  0  +  +  0  *  +  +  +  +6
Debbie Herbert                 NFLD   +  0  0  +  0  *  0  +  +  +  +  +6
Dale Twa                       TERR   *  +  +  +  +  +  -  +  -  -  0  +3
Laurie Carney                  B.C.   +  *  0  -  -  +  +  0  +  +  -  +2
Deb Brousseau                  ONT    +  0  +  -  -  0  +  -  *  0  +  +1
Betty McCracken                ALTA   -  -  +  -  +  +  *  +  0  -  -  -1
Yvonne Beaudin                 MAN    +  -  *  -  -  0  +  0  +  -  -  -2
Eileen Wilson                  SASK   -  +  0  *  0  -  +  -  -  -  +  -2
Mary Duranceau                 QUE    -  +  -  +  *  -  -  +  -  +  -  -2
Karen MacDonald                PEI    -  -  -  +  +  -  -  -  -  *  0  -5
Pauline Lynch                  N.B.   -  -  0  0  -  -  -  -  0  0  *  -6
 
SECONDS
Debbie Jones                   B.C.   +  *  +  +  +  +  +  -  +  +  +  +8
Carolyn Darbyshire             MAN    +  -  *  -  +  -  +  +  +  +  +  +4
Louise McCrae                  TERR   *  +  +  -  +  +  -  +  +  0  -  +3
Bev Mainwaring                 ONT    +  +  +  +  -  +  -  +  *  -  -  +2
Kathie Gallant                 PEI    -  +  +  -  0  -  -  +  0  *  +   0
Joan Hutchinson                N.S.   +  -  -  +  -  +  +  *  0  0  -   0
Judy Erickson                  ALTA   0  +  -  +  -  +  *  -  +  -  -  -1
Maureen Burkitt                SASK   -  +  -  *  -  -  +  -  -  +  +  -2
Gail Shields                   N.B.   -  -  +  -  0  -  -  +  -  +  *  -3
Margie Knickle                 NFLD   0  -  -  -  +  *  -  -  -  -  +  -5
June Lamarre                   QUE    -  -  -  +  *  -  +  -  -  -  -  -6
 
THIRDS 
Lindsay Sparkes                B.C.   +  *  +  +  +  +  +  +  +  +  + +10
Cathy Dillon                   PEI    +  +  +  +  +  -  +  -  0  *  +  +5
Judy Lukowich                  ALTA   0  +  -  0  +  +  *  +  +  -  +  +4
Patricia Dwyer                 NFLD   0  0  0  -  +  *  +  +  0  +  -  +2
Julie Graham                   QUE    -  -  +  +  *  -  +  +  -  -  +   0
Margaret Cutcliffe             N.S.   +  -  -  +  -  +  -  *  0  -  +  -1
Elizabeth McCrae               TERR   *  0  -  0  -  +  -  +  0  +  -  -1
Jean MacLean                   SASK   +  +  -  *  -  -  -  -  0  +  -  -3
Mary Susan Bell                ONT    -  0  +  -  +  0  -  -  *  0  -  -3
Judy Connor                    N.B.   -  -  0  -  -  -  +  -  -  0  *  -6
Merline Darbyshire             MAN    -  0  *  -  -  0  -  -  0  -  -  -7
 
SKIPS  
Linda Moore                    B.C.   +  *  -  0  +  0  +  +  0  +  +  +5
Susan Seitz                    ALTA   -  +  -  +  +  +  *  +  +  -  +  +4
Shelly Bildfell                TERR   *  0  +  -  +  +  -  +  -  +  +  +3
Virginia Jackson               N.S.   +  -  -  +  -  0  +  *  +  -  +  +1
Sue Anne Bartlett              NFLD   +  0  0  0  -  *  -  +  +  -  +  +1
Jacki Rintoul                  MAN    -  0  *  +  -  +  0  -  +  +  -   0
Sheila Rowan                   SASK   0  -  +  *  +  0  +  -  -  +  -   0
Kim Dolan                      PEI    +  +  +  +  -  0  -  -  -  *  -  -1
Pam Leavitt                    ONT    0  0  +  -  -  -  +  -  *  +  -  -2
Marlene Vaughan                N.B.   -  +  0  -  +  -  0  -  -  -  *  -4
Nicole Filion                  QUE    -  -  -  -  *  -  -  +  0  -  -  -7
 
   TEAMS
B.C. (Moore)                          +  *  0  0  +  +  +  +  +  +  0  +7
P.E.I. (Dolan)                        0  +  +  +  +  -  0  0  -  *  +  +3
NFLD (Bartlett)                       0  0  0  0  +  *  0  0  +  0  +  +3
N.S. (Jackson)                        +  0  -  +  -  +  0  *  +  0  0  +2
Alberta (Seitz)                       0  0  -  0  +  +  *  +  +  -  0  +2
Y/NWT (Bildfell)                      *  +  +  0  +  +  -  +  -  0  -  +2
Ontario (Leavitt)                     0  0  +  -  -  0  +  -  *  +  0   0
Monitoba (Rintoul)                    0  -  *  0  -  0  0  -  +  0  0  -2
Sask (Rowan)                          0  +  0  *  -  -  0  -  -  +  0  -2
Quebec (Filion)                       -  -  -  0  *  -  -  +  -  -  -  -7
N.B. (Vaughan)                        -  -  0  -  -  -  0  -  -  -  *  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1985 Scott Tournament of Hearts
                                     Winnipeg, Manitoba
 
                               SCORING ANALYSIS AFTER 11 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
B.C.   10    95  FOR       6    13     24   12    8    0    0    0   72   7.2   19  0.76
                 AGAINST   5    10     35    3    2    0    0    0   47   4.7   12  0.49
 
N.B.   10    88  FOR       9     8     22    7    2    1    0    0   46   4.6    9  0.52
                 AGAINST   6    17     14   13   12    2    0    0   84   8.4   34  0.95
 
MAN    10    92  FOR       4    21     29   15    2    0    0    0   65   6.5   28  0.71
                 AGAINST   5    12     20    9    8    0    0    0   62   6.2   18  0.67
 
PEI    10    97  FOR       3    13     25   15    3    0    0    0   64   6.4   23  0.66
                 AGAINST   8    15     34    5    3    1    0    0   57   5.7   18  0.59
 
SASK   10    89  FOR       4    15     26    8    1    3    0    0   57   5.7   22  0.64
                 AGAINST   7    15     16   18    3    2    1    0   74   7.4   25  0.83
 
ONT    10    93  FOR       4    12     18   16    3    0    0    0   59   5.9   20  0.63
                 AGAINST   6    22     28   16    2    0    0    0   66   6.6   32  0.71
 
QUE    10    86  FOR       3     9     19    9    4    0    0    0   49   4.9   13  0.57
                 AGAINST   1    24     28   19    2    1    0    0   76   7.6   37  0.88
 
N.S.   10    94  FOR       6    16     30   15    3    0    0    0   69   6.9   23  0.73
                 AGAINST   4     6     22   11    3    0    0    0   53   5.3   10  0.56
 
NFLD   10    99  FOR       6    18     25   15    6    0    0    0   73   7.3   26  0.74
                 AGAINST   3    15     31   11    1    1    0    0   60   6.0   16  0.61
 
ALTA   10    96  FOR       5    18     26   13    5    2    0    0   75   7.5   26  0.78
                 AGAINST   4    12     26   14    1    0    0    0   57   5.7   16  0.59
 
TERR   10    89  FOR       1    19     30    9    5    1    1    0   72   7.2   27  0.81
                 AGAINST   2    14     20   15    5    0    0    0   65   6.5   18  0.73
 
 
TOTAL  55   509  FOR      51   162    274  134   42    7    1    0  701   6.4  236  0.69
                 AGAINST  51   162    274  134   42    7    1    0  701   6.4  236  0.69
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1985 Scott Tournament of Hearts
                                     Winnipeg, Manitoba
 
                                     TEAM WIN/LOSS GRID
 
 
        B.C.  N.B.  MAN   PEI   SASK  ONT   QUE   N.S.  NFLD  ALTA  TERR  
 
 
B.C.     *     W     W     W     W     W     W     W     W     W     W  
 
 
N.B.     L     *     W     W     L     L     L     L     L     L     L  
 
 
MAN      L     L     *     L     W     W     W     L     W     L     W  
 
 
PEI      L     L     W     *     W     L     W     L     L     W     L  
 
 
SASK     L     W     L     L     *     W     W     L     L     L     L  
 
 
ONT      L     W     L     W     L     *     W     L     L     L     L  
 
 
QUE      L     W     L     L     L     L     *     L     L     L     L  
 
 
N.S.     L     W     W     W     W     W     W     *     W     L     L  
 
 
NFLD     L     W     L     W     W     W     W     L     *     W     W  
 
 
ALTA     L     W     W     L     W     W     W     W     L     *     W  
 
 
TERR     L     W     L     W     W     W     W     W     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1985 Scott Tournament of Hearts
                                     Winnipeg, Manitoba
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Moore)                   #SH   119  207  326   142  383  525   261  590  851
                                  PTS   325  589  914   397 1098 1495   722 1687 2409
                                  PCT    68   71   70    70   72   71    69   71   71
 
 1 Laurie Carney                  #SH    16   74   90    11  103  114    27  177  204
                                  PTS    41  225  266    30  275  305    71  500  571
                                  PCT    64   76   74    68   67   67    66   71   70
 
 2 Debbie Jones                   #SH    24   38   62    15  141  156    39  179  218
                                  PTS    62  109  171    36  445  481    98  554  652
                                  PCT    65   72   69    60   79   77    63   77   75
 
 3 Lindsay Sparkes                #SH    49   33   82    98   38  136   147   71  218
                                  PTS   149  104  253   284  105  389   433  209  642
                                  PCT    76   79   77    72   69   72    74   74   74
 
 4 Linda Moore                    #SH    30   62   92    18  101  119    48  163  211
                                  PTS    73  151  224    47  273  320   120  424  544
                                  PCT    61   61   61    65   68   67    63   65   64
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Vaughan)                 #SH   166  193  359   153  205  358   319  398  717
                                  PTS   360  463  823   355  510  865   715  973 1688
                                  PCT    54   60   57    58   62   60    56   61   59
 
 1 Pauline Lynch                  #SH    45   64  109    39   34   73    84   98  182
                                  PTS    99  170  269    90   82  172   189  252  441
                                  PCT    55   66   62    58   60   59    56   64   61
 
 2 Gail Shields                   #SH    40   39   79    45   58  103    85   97  182
                                  PTS    84   71  155   121  149  270   205  220  425
                                  PCT    53   46   49    67   64   66    60   57   58
 
 3 Judy Connor                    #SH    40   42   82    36   62   98    76  104  180
                                  PTS    94  122  216    75  154  229   169  276  445
                                  PCT    59   73   66    52   62   58    56   66   62
 
 4 Marlene Vaughan                #SH    41   48   89    33   51   84    74   99  173
                                  PTS    83  100  183    69  125  194   152  225  377
                                  PCT    51   52   51    52   61   58    51   57   54
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Monitoba (Rintoul)             #SH   163  215  378   150  225  375   313  440  753
                                  PTS   353  512  865   345  605  950   698 1117 1815
                                  PCT    54   60   57    57   67   63    56   63   60
 
 1 Yvonne Beaudin                 #SH    52   66  118    27   43   70    79  109  188
                                  PTS   111  166  277    57   99  156   168  265  433
                                  PCT    53   63   59    53   58   56    53   61   58
 
 2 Carolyn Darbyshire             #SH    36   47   83    44   63  107    80  110  190
                                  PTS    95  124  219   112  189  301   207  313  520
                                  PCT    66   66   66    64   75   70    65   71   68
 
 3 Merline Darbyshire             #SH    40   51   91    37   62   99    77  113  190
                                  PTS    70  115  185    74  149  223   144  264  408
                                  PCT    44   56   51    50   60   56    47   58   54
 
 4 Jacki Rintoul                  #SH    35   51   86    42   57   99    77  108  185
                                  PTS    77  107  184   102  168  270   179  275  454
                                  PCT    55   52   53    61   74   68    58   64   61
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Dolan)                 #SH   176  198  374   240  164  404   416  362  778
                                  PTS   484  568 1052   627  404 1031  1111  972 2083
                                  PCT    69   72   70    65   62   64    67   67   67
 
 1 Karen MacDonald                #SH    28   86  114    58   20   78    86  106  192
                                  PTS    68  232  300   154   39  193   222  271  493
                                  PCT    61   67   66    66   49   62    65   64   64
 
 2 Kathie Gallant                 #SH    54   35   89    85   22  107   139   57  196
                                  PTS   159  104  263   218   41  259   377  145  522
                                  PCT    74   74   74    64   47   61    68   64   67
 
 3 Cathy Dillon                   #SH    48   35   83    54   59  113   102   94  196
                                  PTS   150  112  262   166  155  321   316  267  583
                                  PCT    78   80   79    77   66   71    77   71   74
 
 4 Kim Dolan                      #SH    46   42   88    43   63  106    89  105  194
                                  PTS   107  120  227    89  169  258   196  289  485
                                  PCT    58   71   64    52   67   61    55   69   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Rowan)                   #SH   168  194  362   147  205  352   315  399  714
                                  PTS   415  541  956   355  553  908   770 1094 1864
                                  PCT    62   70   66    60   67   64    61   69   65
 
 1 Eileen Wilson                  #SH    52   54  106    26   45   71    78   99  177
                                  PTS   122  167  289    51  132  183   173  299  472
                                  PCT    59   77   68    49   73   64    55   76   67
 
 2 Maureen Burkitt                #SH    34   58   92    21   67   88    55  125  180
                                  PTS    95  145  240    61  184  245   156  329  485
                                  PCT    70   63   65    73   69   70    71   66   67
 
 3 Jean MacLean                   #SH    33   47   80    43   57  100    76  104  180
                                  PTS    84  128  212   105  144  249   189  272  461
                                  PCT    64   68   66    61   63   62    62   65   64
 
 4 Sheila Rowan                   #SH    49   35   84    57   36   93   106   71  177
                                  PTS   114  101  215   138   93  231   252  194  446
                                  PCT    58   72   64    61   65   62    59   68   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Leavitt)              #SH   203  259  462   148  144  292   351  403  754
                                  PTS   477  679 1156   352  365  717   829 1044 1873
                                  PCT    59   66   63    59   63   61    59   65   62
 
 1 Deb Brousseau                  #SH    42   79  121    39   29   68    81  108  189
                                  PTS   121  218  339    99   69  168   220  287  507
                                  PCT    72   69   70    63   59   62    68   66   67
 
 2 Bev Mainwaring                 #SH    42   66  108    35   47   82    77  113  190
                                  PTS   105  173  278    85  142  227   190  315  505
                                  PCT    63   66   64    61   76   69    62   70   66
 
 3 Mary Susan Bell                #SH    61   60  121    36   33   69    97   93  190
                                  PTS   139  148  287    92   73  165   231  221  452
                                  PCT    57   62   59    64   55   60    60   59   59
 
 4 Pam Leavitt                    #SH    58   54  112    38   35   73    96   89  185
                                  PTS   112  140  252    76   81  157   188  221  409
                                  PCT    48   65   56    50   58   54    49   62   55
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Filion)                #SH   238  203  441   136  134  270   374  337  711
                                  PTS   536  392  928   310  265  575   846  657 1503
                                  PCT    56   48   53    57   49   53    57   49   53
 
 1 Mary Duranceau                 #SH    78   50  128    21   31   52    99   81  180
                                  PTS   199  115  314    57   61  118   256  176  432
                                  PCT    64   57   61    68   49   57    65   54   60
 
 2 June Lamarre                   #SH    61   57  118    33   29   62    94   86  180
                                  PTS   117  123  240    79   44  123   196  167  363
                                  PCT    48   54   51    60   38   50    52   49   50
 
 3 Julie Graham                   #SH    57   46  103    36   41   77    93   87  180
                                  PTS    99   73  172    95  102  197   194  175  369
                                  PCT    43   40   42    66   62   64    52   50   51
 
 4 Nicole Filion                  #SH    42   50   92    46   33   79    88   83  171
                                  PTS   121   81  202    79   58  137   200  139  339
                                  PCT    72   41   55    43   44   43    57   42   50
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Jackson)                 #SH   174  239  413   249  171  420   423  410  833
                                  PTS   427  644 1071   655  419 1074  1082 1063 2145
                                  PCT    61   67   65    66   61   64    64   65   64
 
 1 Sherry Jackson                 #SH    49   69  118    69   17   86   118   86  204
                                  PTS   135  223  358   199   40  239   334  263  597
                                  PCT    69   81   76    72   59   69    71   76   73
 
 2 Joan Hutchinson                #SH    30   58   88    80   45  125   110  103  213
                                  PTS    87  157  244   189  104  293   276  261  537
                                  PCT    73   68   69    59   58   59    63   63   63
 
 3 Margaret Cutcliffe             #SH    38   60   98    59   56  115    97  116  213
                                  PTS    98  148  246   147  126  273   245  274  519
                                  PCT    64   62   63    62   56   59    63   59   61
 
 4 Virginia Jackson               #SH    57   52  109    41   53   94    98  105  203
                                  PTS   107  116  223   120  149  269   227  265  492
                                  PCT    47   56   51    73   70   72    58   63   61
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Bartlett)                #SH   281  191  472   297  220  517   578  411  989
                                  PTS   746  497 1243   789  550 1339  1535 1047 2582
                                  PCT    66   65   66    66   63   65    66   64   65
 
 1 Debbie Herbert                 #SH    92   46  138    55   50  105   147   96  243
                                  PTS   283  127  410   166  132  298   449  259  708
                                  PCT    77   69   74    75   66   71    76   67   73
 
 2 Margie Knickle                 #SH    68   44  112    85   54  139   153   98  251
                                  PTS   177  116  293   208  121  329   385  237  622
                                  PCT    65   66   65    61   56   59    63   60   62
 
 3 Patricia Dwyer                 #SH    58   43  101    88   63  151   146  106  252
                                  PTS   130  107  237   230  163  393   360  270  630
                                  PCT    56   62   59    65   65   65    62   64   63
 
 4 Sue Anne Bartlett              #SH    63   58  121    69   53  122   132  111  243
                                  PTS   156  147  303   185  134  319   341  281  622
                                  PCT    62   63   63    67   63   65    65   63   64
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Seitz)                #SH   136  265  401   146  299  445   282  564  846
                                  PTS   337  718 1055   334  771 1105   671 1489 2160
                                  PCT    62   68   66    57   64   62    59   66   64
 
 1 Betty McCracken                #SH    21   98  119    32   58   90    53  156  209
                                  PTS    55  289  344    65  137  202   120  426  546
                                  PCT    65   74   72    51   59   56    57   68   65
 
 2 Judy Erickson                  #SH    30   61   91    37   86  123    67  147  214
                                  PTS    68  161  229    88  229  317   156  390  546
                                  PCT    57   66   63    59   67   64    58   66   64
 
 3 Judy Lukowich                  #SH    43   56   99    42   73  115    85  129  214
                                  PTS   108  141  249    89  183  272   197  324  521
                                  PCT    63   63   63    53   63   59    58   63   61
 
 4 Susan Seitz                    #SH    42   50   92    35   82  117    77  132  209
                                  PTS   106  127  233    92  222  314   198  349  547
                                  PCT    63   64   63    66   68   67    64   66   65
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Bildfell)               #SH   206  244  450   151  144  295   357  388  745
                                  PTS   507  646 1153   323  349  672   830  995 1825
                                  PCT    62   66   64    53   61   57    58   64   61
 
 1 Dale Twa                       #SH    56   81  137    24   25   49    80  106  186
                                  PTS   161  222  383    47   64  111   208  286  494
                                  PCT    72   69   70    49   64   57    65   67   66
 
 2 Louise McCrae                  #SH    62   58  120    38   32   70   100   90  190
                                  PTS   160  149  309    86   72  158   246  221  467
                                  PCT    65   64   64    57   56   56    62   61   61
 
 3 Elizabeth McCrae               #SH    48   51   99    44   45   89    92   96  188
                                  PTS    98  141  239    88  106  194   186  247  433
                                  PCT    51   69   60    50   59   54    51   64   58
 
 4 Shelly Bildfell                #SH    40   54   94    45   42   87    85   96  181
                                  PTS    88  134  222   102  107  209   190  241  431
                                  PCT    55   62   59    57   64   60    56   63   60
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1985 Scott Tournament of Hearts
                                     Winnipeg, Manitoba
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  58
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  13
 
          DRAW 14    B.C. 13  NFLD  7
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    B.C.  5  N.B.  1
          DRAW  1    MAN   1  PEI  11
          DRAW  8    SASK  1  TERR 11
          DRAW  8    QUE  11  N.B.  1
          DRAW  9    SASK  1  MAN   9
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW 14    B.C. 13  NFLD  7
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW  1    B.C.  5  N.B.  1
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  8    SASK  1  TERR 11    TERR SCORED 5 IN THE 5TH END
          DRAW 14    B.C. 13  NFLD  7    B.C. SCORED 5 IN THE FIRST END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  9    N.B.  5  ALTA 12    ALTA SCORED 4 IN THE 7TH END
          DRAW 10    QUE   2  SASK 11    SASK SCORED 4 IN THE 4TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  1    B.C.  5  N.B.  1
 
NUMBER OF BLANK ENDS IN EVENT:  54
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW  1
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  1    B.C.  5  N.B.  1    BY N.B. BEGINNING IN END 1
          DRAW  1    SASK  6  ONT   3    BY ONT  BEGINNING IN END 2
          DRAW  6    MAN   9  ONT   5    BY MAN  BEGINNING IN END 7
          DRAW  6    SASK  5  N.S.  6    BY N.S. BEGINNING IN END 5
          DRAW  8    NFLD  5  PEI   3    BY NFLD BEGINNING IN END 2
          DRAW  9    PEI   5  N.S.  7    BY N.S. BEGINNING IN END 6
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW  9    SASK  1  MAN   9
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  9    SASK  1  MAN   9    BY MAN  BEGINNING IN END 1
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW  1    MAN   1  PEI  11    BY PEI 
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  5    ONT   8  TERR  9    TERR WAS DOWN 4 AFTER 2 ENDS
          DRAW  6    N.B.  5  TERR  8    TERR WAS DOWN 4 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   3
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    NFLD  7  ALTA  5
          DRAW  4    B.C.  8  NFLD  7
          DRAW  7    PEI   9  SASK  8
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW  8    SASK  1  TERR 11
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  9    SASK  1  MAN   9    BY SASK
  </div>
</div>
