<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1986 Scott Tournament of Hearts
                             LE TOURNOI DES COEURS DE SCOTT 1986
                                       London, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 AVG
   LEADS  
 1 Sheila Kavanagh                SASK  66 86 ** 70 67 70 ** ** 80 87 ** 76 56 74 84  74
 1 Laurie Carney                  CAN   78 86 75 66 ** 67 71 88 ** 63 ** 64 83 77 **  74
 3 Rita Imai                      B.C.  ** 69 73 81 ** 75 68 ** 86 63 78 70 ** 80 59  73
 4 Susan Robinson                 N.S.  81 78 61 74 ** 76 67 84 68 ** ** 61 72 ** 70  72
 + Diane Blair                    N.B.  ** ** ** ** ** ** ** ** ** 73 84 ** 78 70 46  72
 5 Jan Augustyn                   ONT   60 49 79 ** 53 ** 72 ** 78 74 ** 82 66 78 88  70
 6 Debbi Dickeson                 N.B.  63 ** 65 65 ** 84 73 ** 63 ** ** ** ** ** **  69
 6 Debbie Stokes                  TERR  67 70 58 80 ** 71 73 74 ** 64 ** 79 56 61 **  69
 8 Jean Slemko                    ALTA  70 69 57 58 ** 65 71 59 68 ** ** 76 74 ** 60  67
 9 Pierrette Cossette             QUE   61 75 78 ** 56 ** 75 ** 45 58 ** 71 76 66 62  66
 9 Faye Irwin                     MAN   45 68 ** 69 83 63 ** ** 67 65 ** 75 53 63 70  66
11 Debbie Porter                  NFLD  ** 64 66 74 ** 55 64 ** 53 62 70 82 ** 66 53  64
12 Marlene Noye                   PEI   58 ** 64 85 ** 48 42 ** 59 78 61 ** 69 61 45  62
 
   SECONDS
 1 Chris Gervais                  SASK  60 81 ** 83 80 76 ** ** 75 91 ** 93 79 68 69  77
 2 Cathy Caudle                   N.S.  66 74 66 65 ** 75 75 76 74 ** ** 69 86 ** 81  74
 3 Barbara Fetch                  MAN   65 54 ** 70 83 74 ** ** 81 70 ** 79 76 79 71  73
 4 Christine Jurgenson            ONT   64 75 66 ** 97 ** 78 ** 64 57 ** 75 74 66 90  72
 4 Debbie Jones                   CAN   76 68 74 66 ** 63 86 71 ** 61 ** 67 83 72 **  72
 6 Carolyn MacKay                 N.B.  69 ** 60 74 ** 92 64 ** 77 78 83 ** 68 58 50  70
 6 Sherry Lethbridge              B.C.  ** 72 73 74 ** 61 80 ** 60 75 68 74 ** 61 71  70
 8 Joyce Narduzzi                 NFLD  ** 61 66 65 ** 65 63 ** 61 72 68 61 ** 83 64  66
 9 Karen Currey                   ALTA  59 57 66 63 ** 54 63 47 68 ** ** 76 74 ** 69  64
10 Donna Scott                    TERR  60 50 54 70 ** 56 79 61 ** 59 ** 69 50 68 **  62
11 Muriel Emond                   QUE   60 61 64 ** 52 ** 79 ** 64 57 ** 69 63 59 49  61
12 Ann Currie                     PEI   42 ** 69 56 ** 73 54 ** 53 56 51 ** 60 53 50  57
 
   THIRDS 
 1 Kathy McEdwards                ONT   78 78 70 ** 71 ** 78 ** 49 81 ** 89 75 86 75  75
 2 Barbara Kirkness               MAN   70 73 ** 64 75 68 ** ** 80 64 ** 80 83 85 75  74
 3 Lindsay Sparkes                CAN   65 71 80 74 ** 50 64 84 ** 69 ** 82 82 91 **  73
 4 Patricia Dwyer                 NFLD  ** 73 73 66 ** 46 67 ** 64 70 86 76 ** 74 79  70
 5 Penny LaRocque                 N.S.  56 66 55 60 ** 65 57 75 79 ** ** 80 80 ** 89  69
 5 Gillian Thompson               SASK  69 61 ** 79 72 63 ** ** 45 75 ** 73 71 80 69  69
 7 Berniece McCallan              B.C.  ** 73 63 56 ** 50 57 ** 70 75 78 75 ** 76 68  68
 8 Sheri Smith                    N.B.  60 ** 48 51 ** 66 69 ** 81 76 81 ** 80 75 43  67
 8 Kathy Chapman                  TERR  69 53 90 61 ** 81 64 68 ** 64 ** 70 56 59 **  67
10 May Thompson                   ALTA  65 68 59 57 ** 61 71 69 57 ** ** 53 80 ** 57  63
11 Gisele Potvin                  QUE   51 56 63 ** 63 ** 48 ** 52 63 ** 63 79 63 60  61
12 Beverley Millar                PEI   40 ** 53 42 ** 54 58 ** 74 75 68 ** 63 74 43  60
 
   SKIPS  
 1 Linda Moore                    CAN   66 60 69 86 ** 66 78 97 ** 87 ** 78 74 84 **  76
 2 Marilyn Darte                  ONT   69 82 80 ** 74 ** 63 ** 59 82 ** 75 85 84 78  75
 3 Lori McGeary                   SASK  63 71 ** 76 77 69 ** ** 68 90 ** 74 60 79 72  72
 4 Sue Anne Bartlett              NFLD  ** 67 55 56 ** 74 54 ** 67 83 69 63 ** 72 90  68
 5 Darcy Kirkness                 MAN   72 57 ** 61 58 64 ** ** 72 72 ** 75 51 88 64  67
 5 Shelley Aucoin                 TERR  74 53 76 59 ** 63 75 74 ** 58 ** 75 63 61 **  67
 7 Colleen Jones                  N.S.  64 70 80 68 ** 55 58 69 46 ** ** 68 73 ** 71  65
 8 Lil Werenka                    ALTA  51 72 63 83 ** 69 53 39 63 ** ** 47 76 ** 70  64
 9 Helene Bussieres               QUE   53 63 83 ** 44 ** 60 ** 55 65 ** 59 68 78 56  62
 9 Heather Kerr                   B.C.  ** 27 68 58 ** 42 76 ** 61 59 56 84 ** 65 75  62
11 Grace Donald                   N.B.  54 ** 41 55 ** 44 67 ** 78 71 90 ** 69 55 42  61
12 Barbara Currie                 PEI   17 ** 72 50 ** 49 35 ** 37 44 70 ** 67 71 55  53
 
   TEAMS
 1 Canada (Moore)                       71 71 74 73 ** 61 75 85 ** 70 ** 73 81 81 **  74
 2 Ontario (Darte)                      68 71 74 ** 74 ** 73 ** 62 73 ** 80 75 78 83  73
 2 Sask (McGeary)                       64 75 ** 77 74 69 ** ** 67 85 ** 79 67 75 73  73
 4 Nova Scotia (Jones)                  67 72 66 66 ** 68 64 76 67 ** ** 70 78 ** 78  70
 4 Manitoba (Kirkness)                  63 63 ** 66 75 68 ** ** 75 68 ** 77 66 79 70  70
 6 B.C. (Kerr)                          ** 61 69 67 ** 57 71 ** 69 68 70 76 ** 71 68  68
 7 NFLD (Bartlett)                      ** 67 65 66 ** 60 62 ** 61 72 73 70 ** 74 71  67
 7 N.B. (Donald)                        61 ** 53 61 ** 71 68 ** 75 74 84 ** 74 64 45  67
 9 Y/NWT (Aucoin)                       67 56 69 68 ** 68 73 69 ** 61 ** 73 56 62 **  66
10 Alberta (Werenka)                    62 66 61 65 ** 62 65 54 64 ** ** 63 76 ** 64  64
11 Quebec (Bussieres)                   56 64 71 ** 54 ** 65 ** 54 61 ** 65 71 66 57  62
12 P.E.I. (Currie)                      39 ** 64 58 ** 56 47 ** 56 63 62 ** 65 64 48  58
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1986 Scott Tournament of Hearts
                             LE TOURNOI DES COEURS DE SCOTT 1986
                                       London, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 15
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 TOT
LEADS  
Sheila Kavanagh                SASK   +  +  *  0  +  +  *  *  +  +  *  +  -  +  +  +8
Rita Imai                      B.C.   *  +  +  +  *  +  -  *  +  +  +  -  *  0  +  +6
Debbi Dickeson                 N.B.   +  *  +  0  *  +  +  *  +  *  *  *  *  *  *  +5
Laurie Carney                  CAN    0  +  0  0  *  -  +  +  *  0  *  -  +  +  *  +3
Faye Irwin                     MAN    -  0  *  0  +  +  *  *  -  0  *  +  0  0  +  +2
Pierrette Cossette             QUE    0  0  +  *  -  *  +  *  -  -  *  +  0  +  -   0
Jan Augustyn                   ONT    0  -  0  *  -  *  0  *  +  0  *  0  -  0  +  -1
Susan Robinson                 N.S.   0  0  -  -  *  +  -  +  -  *  *  -  +  *  +  -1
Debbie Stokes                  TERR   0  -  -  +  *  -  +  -  *  -  *  0  0  -  *  -4
Marlene Noye                   PEI    -  *  +  +  *  -  -  *  -  +  -  *  -  -  -  -5
Jean Slemko                    ALTA   0  0  -  -  *  -  0  -  +  *  *  -  0  *  -  -5
Debbie Porter                  NFLD   *  -  -  -  *  -  -  *  -  -  -  +  *  0  -  -8
 
SECONDS
Chris Gervais                  SASK   -  +  *  +  +  +  *  *  0  +  *  +  +  +  +  +8
Barbara Fetch                  MAN    +  0  *  0  -  0  *  *  +  +  *  +  +  0  +  +5
Debbie Jones                   CAN    +  +  +  -  *  0  +  +  *  -  *  0  +  +  *  +5
Cathy Caudle                   N.S.   -  +  -  +  *  +  +  +  0  *  *  -  +  *  +  +4
Sherry Lethbridge              B.C.   *  +  +  +  *  0  0  *  -  +  +  -  *  -  +  +3
Christine Jurgenson            ONT    0  -  -  *  +  *  +  *  0  -  *  +  -  +  +  +1
Carolyn MacKay                 N.B.   +  *  -  0  *  +  -  *  +  +  +  *  -  -  -   0
Karen Currey                   ALTA   0  0  +  -  *  -  -  -  +  *  *  +  +  *  -  -1
Donna Scott                    TERR   0  -  -  +  *  -  0  -  *  -  *  -  -  +  *  -5
Muriel Emond                   QUE    0  -  0  *  -  *  +  *  -  -  *  0  -  -  -  -6
Joyce Narduzzi                 NFLD   *  -  0  -  *  -  -  *  0  +  -  -  *  0  -  -6
Ann Currie                     PEI    -  *  +  -  *  0  -  *  -  -  -  *  -  -  -  -8
 
THIRDS 
Lindsay Sparkes                CAN    +  +  +  -  *  0  0  +  *  +  *  +  +  +  *  +7
Barbara Kirkness               MAN    0  +  *  +  0  +  *  *  +  -  *  0  +  +  +  +6
Kathy McEdwards                ONT    +  +  -  *  0  *  +  *  -  +  *  +  -  +  +  +4
Penny LaRocque                 N.S.   -  +  -  +  *  +  -  +  +  *  *  0  +  *  +  +4
Patricia Dwyer                 NFLD   *  0  +  +  *  -  0  *  +  -  +  +  *  -  +  +3
Berniece McCallan              B.C.   *  0  +  0  *  0  -  *  -  +  +  0  *  -  +  +1
Gillian Thompson               SASK   0  -  *  +  +  0  *  *  -  +  *  0  -  +  -   0
Sheri Smith                    N.B.   +  *  -  -  *  -  +  *  +  -  -  *  +  -  -  -3
Kathy Chapman                  TERR   0  -  +  -  *  +  +  -  *  -  *  -  -  0  *  -3
Beverley Millar                PEI    -  *  -  -  *  -  +  *  +  +  -  *  -  -  -  -5
May Thompson                   ALTA   0  -  +  0  *  0  -  -  -  *  *  -  0  *  -  -5
Gisele Potvin                  QUE    -  -  -  *  -  *  -  *  -  -  *  -  0  0  -  -9
 
SKIPS  
Marilyn Darte                  ONT    +  +  +  *  +  *  +  *  -  +  *  0  +  +  +  +8
Linda Moore                    CAN    0  +  -  +  *  +  +  +  *  +  *  +  +  +  *  +8
Darcy Kirkness                 MAN    +  -  *  +  -  +  *  *  +  -  *  +  -  +  +  +3
Sue Anne Bartlett              NFLD   *  +  -  0  *  +  -  *  +  +  -  +  *  -  +  +2
Lil Werenka                    ALTA   -  +  +  +  *  0  -  -  +  *  *  -  +  *  0  +1
Shelley Aucoin                 TERR   +  -  0  0  *  +  0  +  *  -  *  0  +  -  *  +1
Grace Donald                   N.B.   +  *  -  -  *  -  +  *  +  -  +  *  +  -  -  -1
Lori McGeary                   SASK   -  -  *  -  +  0  *  *  +  +  *  -  -  +  -  -2
Helene Bussieres               QUE    -  -  +  *  -  *  +  *  -  +  *  -  -  +  -  -3
Colleen Jones                  N.S.   0  +  +  +  *  -  -  -  -  *  *  -  -  *  0  -3
Heather Kerr                   B.C.   *  -  -  -  *  -  0  *  -  -  -  +  *  -  +  -6
Barbara Currie                 PEI    -  *  0  -  *  -  -  *  -  -  +  *  -  -  -  -8
 
   TEAMS
Manitoba (Kirkness)                   0  0  *  +  0  +  *  *  +  0  *  +  +  +  +  +7
Canada (Moore)                        0  +  0  0  *  0  +  +  *  0  *  +  +  +  *  +6
Ontario (Darte)                       +  0  0  *  0  *  +  *  0  0  *  +  0  +  +  +5
Nova Scotia (Jones)                   0  +  0  +  *  +  0  +  0  *  *  -  0  *  +  +4
Sask (McGeary)                        0  0  *  0  +  +  *  *  0  +  *  0  -  +  0  +3
B.C. (Kerr)                           *  -  0  0  *  0  0  *  -  +  +  0  *  -  +   0
N.B. (Donald)                         +  *  -  -  *  0  0  *  +  0  +  *  +  -  -   0
NFLD (Bartlett)                       *  +  -  0  *  -  -  *  0  +  -  +  *  -  0  -2
Y/NWT (Aucoin)                        +  -  +  0  *  0  0  -  *  -  *  -  -  0  *  -3
Alberta (Werenka)                     -  0  +  0  *  -  -  -  +  *  *  -  +  *  -  -3
Quebec (Bussieres)                    -  -  +  *  -  *  +  *  -  -  *  -  -  0  -  -6
P.E.I. (Currie)                       -  *  -  -  *  -  -  *  -  -  -  *  -  -  - -11
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1986 Scott Tournament of Hearts
                             LE TOURNOI DES COEURS DE SCOTT 1986
                                       London, Ontario
 
                               SCORING ANALYSIS AFTER 15 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
B.C.   11    98  FOR       5    12     28   10    2    1    0    0   58   5.3   14  0.59
                 AGAINST   4    21     30   11    6    1    0    0   74   6.7   31  0.76
 
NFLD   11   100  FOR       6    15     22   16    8    0    1    0   83   7.5   23  0.83
                 AGAINST   7    10     23   12    5    0    0    0   62   5.6   16  0.62
 
PEI    11    91  FOR       3     5     22    5    1    1    0    0   39   3.5    5  0.43
                 AGAINST   8    21     25   16    5    4    1    0   93   8.5   30  1.02
 
N.B.   11    96  FOR       6    10     22   12    4    2    0    0   66   6.0   18  0.69
                 AGAINST   3    15     29   11    6    1    0    0   73   6.6   20  0.76
 
ONT    11   100  FOR       6    16     28   13    4    4    0    0   82   7.5   18  0.82
                 AGAINST   8     6     28    8    1    0    0    0   47   4.3    7  0.47
 
QUE    11    97  FOR       7    14     28   12    2    1    0    0   62   5.6   19  0.64
                 AGAINST   7    10     20   12    5    3    0    0   71   6.5   16  0.73
 
SASK   11   102  FOR       7    10     27    7    3    3    0    0   62   5.6   15  0.61
                 AGAINST  10    16     36    9    0    0    0    0   54   4.9   17  0.53
 
MAN    11   104  FOR       8    12     28   13    4    0    0    0   66   6.0   16  0.63
                 AGAINST   6    14     30   11    3    1    0    0   65   5.9   18  0.63
 
CAN    11    97  FOR      11    20     23   13    7    2    1    0   83   7.5   32  0.86
                 AGAINST   8     7     24    8    0    0    0    0   40   3.6    8  0.41
 
TERR   11   100  FOR      11    11     31    7    3    1    0    0   58   5.3   17  0.58
                 AGAINST   7    12     22   13    5    0    0    0   63   5.7   16  0.63
 
N.S.   11   108  FOR       4     8     28   15    3    0    0    0   67   6.1    9  0.62
                 AGAINST  13     8     30   11    3    1    0    0   65   5.9    9  0.60
 
ALTA   11    97  FOR       9    16     31   11    2    0    0    0   59   5.4   16  0.61
                 AGAINST   2     9     21   12    4    4    1    0   78   7.1   14  0.80
 
 
TOTAL  66   595  FOR      83   149    318  134   43   15    2    0  785   5.9  202  0.66
                 AGAINST  83   149    318  134   43   15    2    0  785   5.9  202  0.66
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1986 Scott Tournament of Hearts
                             LE TOURNOI DES COEURS DE SCOTT 1986
                                       London, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        B.C.  NFLD  PEI   N.B.  ONT   QUE   SASK  MAN   CAN   TERR  N.S.  ALTA  
 
 
B.C.     *     L     L     W     L     L     W     L     L     W     L     L  
 
 
NFLD     W     *     W     L     W     L     W     L     L     W     W     W  
 
 
PEI      W     L     *     L     L     L     L     L     L     L     L     L  
 
 
N.B.     L     W     W     *     L     W     W     L     L     L     W     L  
 
 
ONT      W     L     W     W     *     W     W     W     W     W     W     W  
 
 
QUE      W     W     W     L     L     *     L     W     L     W     L     W  
 
 
SASK     L     L     W     L     L     W     *     W     L     W     W     W  
 
 
MAN      W     W     W     W     L     L     L     *     L     W     W     L  
 
 
CAN      W     W     W     W     L     W     W     W     *     W     W     W  
 
 
TERR     L     L     W     W     L     L     L     L     L     *     L     W  
 
 
N.S.     W     L     W     L     L     W     L     L     L     W     *     W  
 
 
ALTA     W     L     W     W     L     L     L     W     L     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1986 Scott Tournament of Hearts
                             LE TOURNOI DES COEURS DE SCOTT 1986
                                       London, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Kerr)                    #SH   251  234  485   155  174  329   406  408  814
                                  PTS   699  647 1346   398  478  876  1097 1125 2222
                                  PCT    70   69   69    64   69   67    68   69   68
 
 1 Rita Imai                      #SH    79   62  141    21   42   63   100  104  204
                                  PTS   234  189  423    54  121  175   288  310  598
                                  PCT    74   76   75    64   72   69    72   75   73
 
 2 Sherry Lethbridge              #SH    62   60  122    33   51   84    95  111  206
                                  PTS   177  172  349    86  141  227   263  313  576
                                  PCT    71   72   72    65   69   68    69   70   70
 
 3 Berniece McCallan              #SH    54   61  115    35   56   91    89  117  206
                                  PTS   155  151  306    84  167  251   239  318  557
                                  PCT    72   62   67    60   75   69    67   68   68
 
 4 Heather Kerr                   #SH    56   51  107    66   25   91   122   76  198
                                  PTS   133  135  268   174   49  223   307  184  491
                                  PCT    59   66   63    66   49   61    63   61   62
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Bartlett)                #SH   271  139  410   239  247  486   510  386  896
                                  PTS   721  356 1077   652  721 1373  1373 1077 2450
                                  PCT    67   64   66    68   73   71    67   70   68
 
 1 Debbie Porter                  #SH    92   28  120    63   38  101   155   66  221
                                  PTS   252   73  325   148  110  258   400  183  583
                                  PCT    68   65   68    59   72   64    65   69   66
 
 2 Joyce Narduzzi                 #SH    68   31   99    59   72  131   127  103  230
                                  PTS   179   80  259   165  199  364   344  279  623
                                  PCT    66   65   65    70   69   69    68   68   68
 
 3 Patricia Dwyer                 #SH    59   41  100    55   74  129   114  115  229
                                  PTS   175  103  278   152  221  373   327  324  651
                                  PCT    74   63   70    69   75   72    72   70   71
 
 4 Sue Anne Bartlett              #SH    52   39   91    62   63  125   114  102  216
                                  PTS   115  100  215   187  191  378   302  291  593
                                  PCT    55   64   59    75   76   76    66   71   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Currie)                #SH   217  183  400   153  197  350   370  380  750
                                  PTS   495  438  933   346  463  809   841  901 1742
                                  PCT    57   60   58    57   59   58    57   59   58
 
 1 Marlene Noye                   #SH    82   45  127    23   38   61   105   83  188
                                  PTS   208  112  320    46  101  147   254  213  467
                                  PCT    63   62   63    50   66   60    60   64   62
 
 2 Ann Currie                     #SH    55   46  101    42   47   89    97   93  190
                                  PTS   130  120  250    88   95  183   218  215  433
                                  PCT    59   65   62    52   51   51    56   58   57
 
 3 Beverley Millar                #SH    42   44   86    44   59  103    86  103  189
                                  PTS    98  105  203   114  135  249   212  240  452
                                  PCT    58   60   59    65   57   60    62   58   60
 
 4 Barbara Currie                 #SH    38   48   86    44   53   97    82  101  183
                                  PTS    59  101  160    98  132  230   157  233  390
                                  PCT    39   53   47    56   62   59    48   58   53
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Donald)                  #SH   174  199  373   109  287  396   283  486  769
                                  PTS   469  559 1028   268  773 1041   737 1332 2069
                                  PCT    67   70   69    61   67   66    65   69   67
 
 1 Debbi Dickeson                 #SH    22   33   55    22   24   46    44   57  101
                                  PTS    65   96  161    55   64  119   120  160  280
                                  PCT    74   73   73    63   67   65    68   70   69
 
 2 Carolyn MacKay                 #SH    39   46   85    31   78  109    70  124  194
                                  PTS   113  148  261    73  212  285   186  360  546
                                  PCT    72   80   77    59   68   65    66   73   70
 
 3 Sheri Smith                    #SH    47   48   95    26   74  100    73  122  195
                                  PTS   118  129  247    65  210  275   183  339  522
                                  PCT    63   67   65    63   71   69    63   69   67
 
 4 Grace Donald                   #SH    47   40   87    26   77  103    73  117  190
                                  PTS   118   91  209    63  194  257   181  285  466
                                  PCT    63   57   60    61   63   62    62   61   61
 
 5 Diane Blair                    #SH    19   32   51     4   34   38    23   66   89
                                  PTS    55   95  150    12   93  105    67  188  255
                                  PCT    72   74   74    75   68   69    73   71   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Darte)                #SH   179  238  417    77  398  475   256  636  892
                                  PTS   480  747 1227   223 1187 1410   703 1934 2637
                                  PCT    67   78   74    72   75   74    69   76   74
 
 1 Jan Augustyn                   #SH    35   87  122     7   84   91    42  171  213
                                  PTS    83  292  375    12  216  228    95  508  603
                                  PCT    59   84   77    43   64   63    57   74   71
 
 2 Christine Jurgenson            #SH    46   46   92    17  120  137    63  166  229
                                  PTS   125  135  260    54  361  415   179  496  675
                                  PCT    68   73   71    79   75   76    71   75   74
 
 3 Kathy McEdwards                #SH    45   49   94    32  104  136    77  153  230
                                  PTS   136  154  290    93  315  408   229  469  698
                                  PCT    76   79   77    73   76   75    74   77   76
 
 4 Marilyn Darte                  #SH    53   56  109    21   90  111    74  146  220
                                  PTS   136  166  302    64  295  359   200  461  661
                                  PCT    64   74   69    76   82   81    68   79   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Bussieres)             #SH   152  188  340   134  305  439   286  493  779
                                  PTS   334  483  817   328  798 1126   662 1281 1943
                                  PCT    55   64   60    61   65   64    58   65   62
 
 1 Pierrette Cossette             #SH    37   77  114    21   54   75    58  131  189
                                  PTS    89  220  309    53  135  188   142  355  497
                                  PCT    60   71   68    63   63   63    61   68   66
 
 2 Muriel Emond                   #SH    31   38   69    42   89  131    73  127  200
                                  PTS    58   86  144   109  234  343   167  320  487
                                  PCT    47   57   52    65   66   65    57   63   61
 
 3 Gisele Potvin                  #SH    35   34   69    36   94  130    71  128  199
                                  PTS    80   78  158    76  248  324   156  326  482
                                  PCT    57   57   57    53   66   62    55   64   61
 
 4 Helene Bussieres               #SH    49   39   88    35   68  103    84  107  191
                                  PTS   107   99  206    90  181  271   197  280  477
                                  PCT    55   63   59    64   67   66    59   65   62
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (McGeary)                 #SH   213  215  428   140  268  408   353  483  836
                                  PTS   616  601 1217   390  832 1222  1006 1433 2439
                                  PCT    72   70   71    70   78   75    71   74   73
 
 1 Sheila Kavanagh                #SH    56   75  131    19   57   76    75  132  207
                                  PTS   164  229  393    54  166  220   218  395  613
                                  PCT    73   76   75    71   73   72    73   75   74
 
 2 Chris Gervais                  #SH    55   61  116    38   58   96    93  119  212
                                  PTS   159  182  341   110  204  314   269  386  655
                                  PCT    72   75   73    72   88   82    72   81   77
 
 3 Gillian Thompson               #SH    52   42   94    39   79  118    91  121  212
                                  PTS   151  106  257    96  228  324   247  334  581
                                  PCT    73   63   68    62   72   69    68   69   69
 
 4 Lori McGeary                   #SH    50   37   87    44   74  118    94  111  205
                                  PTS   142   84  226   130  234  364   272  318  590
                                  PCT    71   57   65    74   79   77    72   72   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Kirkness)            #SH   293  188  481   107  271  378   400  459  859
                                  PTS   852  471 1323   280  801 1081  1132 1272 2404
                                  PCT    73   63   69    65   74   71    71   69   70
 
 1 Faye Irwin                     #SH    99   38  137    11   63   74   110  101  211
                                  PTS   266   89  355    22  176  198   288  265  553
                                  PCT    67   59   65    50   70   67    65   66   66
 
 2 Barbara Fetch                  #SH    62   59  121    25   74   99    87  133  220
                                  PTS   181  173  354    59  228  287   240  401  641
                                  PCT    73   73   73    59   77   72    69   75   73
 
 3 Barbara Kirkness               #SH    65   44  109    32   77  109    97  121  218
                                  PTS   204  116  320    96  231  327   300  347  647
                                  PCT    78   66   73    75   75   75    77   72   74
 
 4 Darcy Kirkness                 #SH    67   47  114    39   57   96   106  104  210
                                  PTS   201   93  294   103  166  269   304  259  563
                                  PCT    75   49   64    66   73   70    72   62   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Moore)                 #SH   196  209  405   202  326  528   398  535  933
                                  PTS   557  666 1223   610  949 1559  1167 1615 2782
                                  PCT    71   80   75    75   73   74    73   75   75
 
 1 Laurie Carney                  #SH    44   75  119    34   76  110    78  151  229
                                  PTS   136  242  378   101  203  304   237  445  682
                                  PCT    77   81   79    74   67   69    76   74   74
 
 2 Debbie Jones                   #SH    40   49   89    30  120  150    70  169  239
                                  PTS   116  161  277    81  349  430   197  510  707
                                  PCT    73   82   78    68   73   72    70   75   74
 
 3 Lindsay Sparkes                #SH    56   45  101   107   30  137   163   75  238
                                  PTS   159  147  306   333   78  411   492  225  717
                                  PCT    71   82   76    78   65   75    75   75   75
 
 4 Linda Moore                    #SH    56   40   96    31  100  131    87  140  227
                                  PTS   146  116  262    95  319  414   241  435  676
                                  PCT    65   73   68    77   80   79    69   78   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Aucoin)                 #SH   131  214  345   154  339  493   285  553  838
                                  PTS   322  546  868   377  961 1338   699 1507 2206
                                  PCT    61   64   63    61   71   68    61   68   66
 
 1 Debbie Stokes                  #SH    35   62   97    29   84  113    64  146  210
                                  PTS    87  173  260    70  246  316   157  419  576
                                  PCT    62   70   67    60   73   70    61   72   69
 
 2 Donna Scott                    #SH    25   58   83    43   88  131    68  146  214
                                  PTS    61  142  203    81  243  324   142  385  527
                                  PCT    61   61   61    47   69   62    52   66   62
 
 3 Kathy Chapman                  #SH    34   47   81    42   90  132    76  137  213
                                  PTS    78  115  193   111  264  375   189  379  568
                                  PCT    57   61   60    66   73   71    62   69   67
 
 4 Shelley Aucoin                 #SH    37   47   84    40   77  117    77  124  201
                                  PTS    96  116  212   115  208  323   211  324  535
                                  PCT    65   62   63    72   68   69    69   65   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Jones)            #SH   191  302  493   185  207  392   376  509  885
                                  PTS   474  899 1373   522  588 1110   996 1487 2483
                                  PCT    62   74   70    71   71   71    66   73   70
 
 1 Susan Robinson                 #SH    17  118  135    37   47   84    54  165  219
                                  PTS    38  353  391   101  139  240   139  492  631
                                  PCT    56   75   72    68   74   71    64   75   72
 
 2 Cathy Caudle                   #SH    49   64  113    57   54  111   106  118  224
                                  PTS   126  209  335   177  148  325   303  357  660
                                  PCT    64   82   74    78   69   73    71   76   74
 
 3 Penny LaRocque                 #SH    59   64  123    49   52  101   108  116  224
                                  PTS   162  188  350   135  136  271   297  324  621
                                  PCT    69   73   71    69   65   67    69   70   69
 
 4 Colleen Jones                  #SH    66   56  122    42   54   96   108  110  218
                                  PTS   148  149  297   109  165  274   257  314  571
                                  PCT    56   67   61    65   76   71    59   71   65
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Werenka)              #SH   176  273  449   129  229  358   305  502  807
                                  PTS   423  685 1108   330  643  973   753 1328 2081
                                  PCT    60   63   62    64   70   68    62   66   64
 
 1 Jean Slemko                    #SH    37   95  132    25   47   72    62  142  204
                                  PTS    94  245  339    70  134  204   164  379  543
                                  PCT    64   64   64    70   71   71    66   67   67
 
 2 Karen Currey                   #SH    49   69  118    33   55   88    82  124  206
                                  PTS   120  168  288    81  158  239   201  326  527
                                  PCT    61   61   61    61   72   68    61   66   64
 
 3 May Thompson                   #SH    39   64  103    35   68  103    74  132  206
                                  PTS   100  161  261    73  187  260   173  348  521
                                  PCT    64   63   63    52   69   63    58   66   63
 
 4 Lil Werenka                    #SH    51   45   96    36   59   95    87  104  191
                                  PTS   109  111  220   106  164  270   215  275  490
                                  PCT    53   62   57    74   69   71    62   66   64
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1986 Scott Tournament of Hearts
                             LE TOURNOI DES COEURS DE SCOTT 1986
                                       London, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  68
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  13
 
          DRAW  1    PEI   3  N.B. 13
          DRAW 12    ALTA  6  NFLD 13
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          DRAW  8    ALTA  0  CAN   8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW 12    ALTA  6  NFLD 13
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   5
 
          DRAW 16    CAN   3  NFLD  2
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW 12    ALTA  6  NFLD 13    NFLD SCORED 5 IN THE 9TH END
          DRAW 13    PEI   3  CAN   8    CAN  SCORED 5 IN THE 11TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  1    PEI   3  N.B. 13    N.B. SCORED 4 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   6
 
          DRAW 16    CAN   3  NFLD  2
 
NUMBER OF BLANK ENDS IN EVENT:  90
 
MOST BLANK ENDS ONE DRAW:  12
 
          DRAW 13
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW 13    PEI   3  CAN   8    BY CAN  BEGINNING IN END 6
          DRAW 15    N.S.  6  ALTA  4    BY ALTA BEGINNING IN END 7
          DRAW 16    CAN   3  NFLD  2    BY NFLD BEGINNING IN END 5
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  3    ONT   7  CAN   4
          DRAW  6    CAN   9  B.C.  2
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  6    CAN   9  B.C.  2    BY CAN  BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW  2    NFLD  9  B.C.  1    BY NFLD
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  4    MAN   6  N.B.  5    MAN  WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   4
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  7    N.B.  8  N.S.  7
          DRAW  8    N.S.  4  TERR  3
          DRAW 13    ONT   7  N.S.  6
          DRAW 13    PEI   3  CAN   8
 
FEWEST ENDS PLAYED IN ONE GAME:   4
 
          DRAW  8    ALTA  0  CAN   8
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   7
 
          DRAW  2    NFLD  9  B.C.  1    BY B.C.
  </div>
</div>
