<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1991 Scott Tournament of Hearts
                                   Saskatoon, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 AVG
   LEADS  
 1 Cheryl McPherson                         CAN   64 81 55 85 ** 65 81 92 ** 81 ** 81 88 88 **  79
 2 Leanne Usher                             ALTA  75 74 80 50 ** 75 84 73 84 ** ** 65 70 ** 96  77
 3 Marcia Schiml                            SASK  ** 67 60 66 ** 73 65 ** 85 81 93 88 ** 73 67  75
 4 Diane Pushkar                            ONT   73 57 45 81 ** 66 86 71 75 ** ** 80 76 ** 79  73
 5 Jill Proctor                             MAN   91 60 78 ** 84 ** 75 ** 53 51 ** 74 67 78 75  72
 5 Margaret Pross                           QUE   ** 50 75 58 ** 57 71 ** 73 88 68 87 ** 86 73  72
 7 Karri Willms                             B.C.  48 ** 62 69 ** 64 75 ** 72 79 65 ** 82 71 83  71
 7 Nancy Reid                               N.S.  68 53 73 ** 73 ** 57 ** 84 89 ** 56 73 75 66  71
 9 Susan Wright                             NFLD  76 79 75 43 ** 74 79 56 ** 72 ** 75 66 84 **  70
10 Bea Graham-MacDonald                     PEI   69 47 ** 65 80 55 ** ** 65 70 ** 66 74 66 67  66
11 Mary Harding                             N.B.  66 ** 69 67 ** 61 46 ** 59 85 80 ** 54 79 51  65
12 Rose Putland                             TERR  70 51 ** 60 55 78 ** ** 58 74 ** 75 67 63 60  64
 
   SECONDS
 1 Sheri Stewart                            N.B.  64 ** 70 76 ** 88 66 ** 83 81 86 ** 65 83 78  77
 2 Kim Kelly                                N.S.  66 67 79 ** 80 ** 81 ** 69 91 ** 75 84 76 71  76
 2 Andrea Lawes                             CAN   73 66 52 82 ** 84 75 86 ** 74 ** 73 83 81 **  76
 4 Diane Adams                              ONT   63 70 71 91 ** 69 84 76 70 ** ** 71 81 ** 75  75
 5 Melissa Soligo                           B.C.  72 ** 73 68 ** 85 61 ** 81 69 68 ** 71 73 71  72
 6 Joan Inglis                              SASK  ** 54 63 71 ** 53 66 ** 81 75 84 66 ** 84 75  70
 7 Diane Alexander                          ALTA  71 59 59 63 ** 76 64 73 83 ** ** 78 72 ** 59  69
 7 Shelley Aucoin                           TERR  67 51 ** 65 70 60 ** ** 70 56 ** 85 80 88 76  69
 7 Kathy O'Driscoll                         NFLD  86 66 72 60 ** 70 66 65 ** 77 ** 50 63 73 **  69
10 Susan McCurdy                            PEI   63 51 ** 69 75 64 ** ** 75 69 ** 53 51 63 66  64
11 Laurie Ellwood                           MAN   57 66 55 ** 67 ** 70 ** 68 46 ** 57 73 63 60  62
12 Cindy McHugh                             QUE   ** 43 31 42 ** 65 55 ** 79 48 73 70 ** 67 71  60
 
   THIRDS 
 1 Jackie-Rae Greening                      ALTA  63 72 75 79 ** 85 81 75 93 ** ** 99 66 ** 65  78
 2 Lorraine Lang                            ONT   76 75 83 80 ** 69 65 65 66 ** ** 83 70 ** 75  73
 3 Mary Mattatall                           N.S.  77 51 59 ** 59 ** 84 ** 83 74 ** 79 80 82 64  72
 3 Jan Betker                               SASK  ** 70 50 78 ** 58 83 ** 84 65 68 76 ** 89 72  72
 5 Kristin Turcotte                         CAN   71 69 50 57 ** 85 71 56 ** 85 ** 78 65 88 **  71
 5 Kathy Floyd                              N.B.  72 ** 78 66 ** 70 66 ** 57 73 83 ** 80 65 74  71
 5 Jodie Sutton                             B.C.  58 ** 73 85 ** 76 68 ** 75 64 67 ** 71 64 73  71
 8 Cathy Overton                            MAN   66 68 60 ** 72 ** 60 ** 65 63 ** 78 56 85 71  68
 9 Maria Thomas                             NFLD  56 61 63 64 ** 74 66 64 ** 81 ** 63 69 59 **  66
10 Kathy O'Rourke                           PEI   51 38 ** 54 72 76 ** ** 60 65 ** 57 76 73 69  63
11 Merna Hensley                            TERR  46 46 ** 74 53 69 ** ** 68 56 ** 67 75 57 61  61
12 Katie Brown                              QUE   ** 50 23 63 ** 72 61 ** 60 56 66 66 ** 57 68  60
 
   SKIPS  
 1 Julie Sutton                             B.C.  80 ** 70 84 ** 74 81 ** 89 44 74 ** 82 66 78  75
 2 Sandra Peterson                          SASK  ** 51 59 55 ** 42 60 ** 86 92 88 72 ** 88 88  71
 2 Colleen Jones                            N.S.  69 61 68 ** 64 ** 56 ** 69 73 ** 91 69 89 76  71
 4 Heather Houston                          ONT   65 59 63 60 ** 82 69 71 78 ** ** 83 73 ** 75  70
 5 Deb Shermack                             ALTA  52 74 60 81 ** 78 64 91 69 ** ** 85 38 ** 71  69
 6 Alison Goring                            CAN   62 63 29 58 ** 85 57 63 ** 88 ** 81 51 78 **  66
 7 Heidi Hanlon                             N.B.  39 ** 66 55 ** 50 66 ** 58 78 76 ** 68 68 59  63
 8 Kathie Allardyce                         MAN   65 64 64 ** 64 ** 78 ** 60 44 ** 54 71 59 56  62
 9 Angela Roberts                           PEI   49 42 ** 44 60 63 ** ** 74 71 ** 74 62 68 57  60
 9 Francine Poisson                         QUE   ** 46 25 19 ** 60 83 ** 64 64 73 89 ** ** 54  60
11 Cathy Cunningham                         NFLD  51 71 56 47 ** 65 46 58 ** 56 ** 43 56 70 **  57
11 Anna Lidgren                             TERR  58 56 ** 49 59 57 ** ** 61 68 ** 19 84 48 51  57
 + Agnes Charette                           QUE   ** ** ** ** ** ** ** ** ** ** ** ** ** 51 **  51
 
   TEAMS
 1 Alberta (Shermack)                             66 70 69 69 ** 79 73 78 82 ** ** 82 61 ** 73  73
 1 Canada (Goring)                                68 70 46 70 ** 80 71 74 ** 82 ** 78 72 83 **  73
 1 Ontario (Houston)                              69 66 66 78 ** 71 76 71 72 ** ** 79 75 ** 76  73
 1 Nova Scotia (Jones)                            70 58 69 ** 69 ** 70 ** 76 82 ** 76 76 81 69  73
 5 B.C. (Sutton)                                  65 ** 70 77 ** 75 71 ** 79 65 68 ** 76 68 76  72
 5 Sask (Peterson)                                ** 61 58 68 ** 57 69 ** 84 78 83 76 ** 84 75  72
 7 N.B. (Hanlon)                                  60 ** 71 66 ** 67 62 ** 64 79 81 ** 68 74 65  69
 8 Man (Allardyce)                                70 65 64 ** 72 ** 71 ** 61 51 ** 66 67 71 66  66
 9 NFLD (Cunningham)                              68 69 66 54 ** 71 64 61 ** 71 ** 58 63 71 **  65
10 P.E.I. (Roberts)                               58 44 ** 58 72 65 ** ** 68 69 ** 62 66 67 65  63
10 Y/NWT (Lidgren)                                60 51 ** 62 59 66 ** ** 64 63 ** 61 77 64 62  63
10 Quebec (Poisson)                               ** 47 39 45 ** 64 67 ** 69 64 70 78 ** 65 66  63
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1991 Scott Tournament of Hearts
                                   Saskatoon, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 15
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 TOT
LEADS  
Cheryl McPherson                         CAN    -  0  -  +  *  +  +  +  *  +  *  +  +  +  *  +6
Marcia Schiml                            SASK   *  +  -  +  *  +  -  *  0  0  +  +  *  +  0  +4
Margaret Pross                           QUE    *  -  +  +  *  -  -  *  +  +  0  +  *  +  +  +4
Leanne Usher                             ALTA   0  +  +  -  *  +  +  -  +  *  *  -  0  *  +  +3
Susan Wright                             NFLD   0  0  +  -  *  +  +  -  *  0  *  +  0  +  *  +3
Diane Pushkar                            ONT    +  0  -  +  *  -  +  +  +  *  *  +  0  *  -  +3
Jill Proctor                             MAN    +  0  +  *  0  *  0  *  -  -  *  -  0  -  +  -1
Nancy Reid                               N.S.   -  +  +  *  +  *  -  *  0  0  *  -  0  -  -  -2
Karri Willms                             B.C.   -  *  -  -  *  -  0  *  -  0  0  *  -  +  +  -4
Mary Harding                             N.B.   +  *  -  +  *  -  -  *  +  0  -  *  -  -  -  -4
Bea Graham-MacDonald                     PEI    0  -  *  -  0  -  *  *  -  0  *  -  +  -  0  -5
Rose Putland                             TERR   0  -  *  -  -  +  *  *  -  -  *  -  0  -  -  -7
 
SECONDS
Kim Kelly                                N.S.   +  +  +  *  +  *  +  *  -  +  *  +  0  +  0  +7
Andrea Lawes                             CAN    +  0  -  +  *  +  +  +  *  +  *  +  +  0  *  +7
Sheri Stewart                            N.B.   -  *  +  +  *  +  -  *  +  -  0  *  +  0  +  +3
Diane Adams                              ONT    -  0  +  +  *  +  +  +  -  *  *  -  0  *  +  +3
Joan Inglis                              SASK   *  +  +  +  *  -  -  *  +  +  0  -  *  0  +  +3
Diane Alexander                          ALTA   -  +  -  +  *  +  -  -  0  *  *  +  0  *  -  -1
Kathy O'Driscoll                         NFLD   +  0  0  -  *  -  +  -  *  +  *  -  -  +  *  -1
Melissa Soligo                           B.C.   +  *  0  -  *  +  -  *  0  -  -  *  -  +  0  -2
Shelley Aucoin                           TERR   0  -  *  -  -  -  *  *  -  -  *  +  +  0  +  -3
Cindy McHugh                             QUE    *  -  -  -  *  -  -  *  +  0  +  +  *  -  -  -4
Laurie Ellwood                           MAN    -  0  -  *  -  *  +  *  -  0  *  -  0  -  -  -6
Susan McCurdy                            PEI    0  -  *  -  +  -  *  *  +  -  *  -  -  -  -  -6
 
THIRDS 
Jackie-Rae Greening                      ALTA   +  +  0  +  *  +  0  +  +  *  *  +  +  *  -  +7
Mary Mattatall                           N.S.   +  +  +  *  +  *  0  *  0  0  *  +  +  +  -  +6
Lorraine Lang                            ONT    +  +  +  -  *  +  0  0  +  *  *  +  -  *  +  +5
Jodie Sutton                             B.C.   -  *  +  +  *  +  +  *  -  0  0  *  +  -  +  +3
Cathy Overton                            MAN    -  -  +  *  0  *  -  *  +  +  *  0  -  +  +  +1
Kathy Floyd                              N.B.   +  *  0  -  *  0  0  *  -  0  +  *  0  -  +   0
Jan Betker                               SASK   *  +  -  +  *  -  +  *  0  0  -  -  *  +  0   0
Kristin Turcotte                         CAN    -  +  -  0  *  +  -  -  *  +  *  0  -  +  *  -1
Kathy O'Rourke                           PEI    +  -  *  0  0  -  *  *  -  -  *  -  0  +  0  -3
Merna Hensley                            TERR   -  -  *  +  -  -  *  *  +  -  *  -  +  -  -  -5
Maria Thomas                             NFLD   -  -  -  -  *  0  +  0  *  +  *  -  -  -  *  -5
Katie Brown                              QUE    *  -  -  -  *  -  -  *  -  -  0  +  *  -  -  -8
 
SKIPS  
Julie Sutton                             B.C.   +  *  +  +  *  +  0  *  +  -  0  *  +  0  0  +5
Sandra Peterson                          SASK   *  +  -  +  *  -  0  *  +  +  +  -  *  +  +  +4
Deb Shermack                             ALTA   0  +  -  +  *  +  +  +  -  *  *  +  -  *  0  +3
Colleen Jones                            N.S.   0  +  +  *  +  *  -  *  -  -  *  +  0  +  0  +2
Heather Houston                          ONT    0  -  +  -  *  +  0  +  0  *  *  +  0  *  0  +2
Kathie Allardyce                         MAN    0  +  +  *  0  *  0  *  0  -  *  -  +  -  +  +1
Heidi Hanlon                             N.B.   -  *  +  +  *  -  0  *  0  +  -  *  +  -  +  +1
Alison Goring                            CAN    0  -  -  +  *  +  0  -  *  +  *  +  -  +  *  +1
Francine Poisson                         QUE    *  -  -  -  *  -  +  *  0  +  0  +  *  *  -  -2
Cathy Cunningham                         NFLD   0  +  -  -  *  +  -  -  *  -  *  -  -  +  *  -4
Angela Roberts                           PEI    -  -  *  -  0  -  *  *  0  +  *  -  -  0  -  -6
Anna Lidgren                             TERR   +  -  *  -  -  -  *  *  0  -  *  -  +  -  -  -6
 
   TEAMS
Ontario (Houston)                               0  0  +  0  *  +  +  +  0  *  *  +  0  *  0  +5
Canada (Goring)                                 0  0  -  +  *  +  0  0  *  +  *  +  0  +  *  +4
Alberta (Shermack)                              0  +  0  +  *  +  0  0  0  *  *  +  -  *  0  +3
Sask (Peterson)                                 *  +  -  +  *  -  0  *  +  +  0  -  *  +  +  +3
Nova Scotia (Jones)                             0  +  +  *  +  *  0  *  -  0  *  +  0  +  -  +3
B.C. (Sutton)                                   +  *  0  0  *  +  0  *  0  -  0  *  0  0  +  +2
Man (Allardyce)                                 0  0  +  *  0  *  0  *  0  -  *  -  +  0  0   0
Quebec (Poisson)                                *  -  -  -  *  -  0  *  +  +  0  +  *  -  0  -2
N.B. (Hanlon)                                   -  *  0  0  *  0  -  *  0  0  0  *  0  -  0  -3
NFLD (Cunningham)                               0  0  0  -  *  0  0  -  *  0  *  -  -  0  *  -4
P.E.I. (Roberts)                                0  -  *  -  0  -  *  *  0  0  *  -  0  0  -  -5
Y/NWT (Lidgren)                                 0  -  *  0  -  -  *  *  -  -  *  -  +  -  0  -6
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1991 Scott Tournament of Hearts
                                   Saskatoon, Saskatchewan
 
                               SCORING ANALYSIS AFTER 15 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
B.C.   11   104  FOR      10    16     31    8    8    0    0    0   71   6.5   22  0.68
                 AGAINST  10     9     27    7    3    0    0    0   50   4.5   11  0.48
 
ALTA   11   100  FOR      11    10     17   19    1    3    0    0   70   6.4   19  0.70
                 AGAINST  11     6     27   10    1    0    0    0   50   4.5    7  0.50
 
SASK   11   101  FOR       9    13     24   13    4    0    1    0   67   6.1   24  0.66
                 AGAINST  18     5     20    9    2    1    0    0   48   4.4    5  0.48
 
MAN    11   109  FOR      17     9     21   14    4    1    0    0   65   5.9   13  0.60
                 AGAINST   5    17     32   12    3    0    0    0   65   5.9   21  0.60
 
ONT    11    98  FOR       5    20     29   14    5    2    0    1   86   7.8   29  0.88
                 AGAINST   6     7     21   11    3    1    0    0   56   5.1   10  0.57
 
QUE    11    95  FOR       7     8     19    9    6    0    0    0   55   5.0   12  0.58
                 AGAINST   5    21     27   13    5    3    0    1   86   7.8   40  0.91
 
N.S.   11   105  FOR      17    16     25   10    5    3    1    0   77   7.0   27  0.73
                 AGAINST   7     8     27    6    3    1    0    0   52   4.7   13  0.50
 
N.B.   11   108  FOR       5    10     26   15    1    4    0    0   75   6.8   13  0.69
                 AGAINST  12    10     28   11    6    0    0    0   68   6.2   11  0.63
 
PEI    11   107  FOR      13    11     30    9    0    0    0    0   48   4.4   13  0.45
                 AGAINST   9    17     26   15    2    2    1    0   75   6.8   26  0.70
 
NFLD   11   101  FOR       5     8     27    7    2    0    0    0   47   4.3    8  0.47
                 AGAINST  16    14     22   11    8    2    1    0   81   7.4   24  0.80
 
TERR   11   102  FOR       7    10     30    6    5    0    0    0   57   5.2   14  0.56
                 AGAINST   7    15     21   16    6    4    0    0   87   7.9   25  0.85
 
CAN    11   100  FOR       9    13     24   10    5    1    0    0   63   5.7   22  0.63
                 AGAINST   9    15     25   13    4    0    0    0   63   5.7   23  0.63
 
 
TOTAL  66   615  FOR     115   144    303  134   46   14    2    1  781   5.9  216  0.63
                 AGAINST 115   144    303  134   46   14    2    1  781   5.9  216  0.63
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis By Hammer</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
 
                          SCORING ANALYSIS BY HAMMER AFTER DRAW 15
 
                                         WITH HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                             FOR        AGAINST        FOR          FOR
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
B.C.      11      50       10  20        9  18       19  38       12  24
 
ALTA      11      47       11  23        6  13       13  28       17  36
 
SASK      11      43        9  21        5  12       17  40       12  28
 
MAN       11      65       17  26       17  26       15  23       16  25
 
ONT       11      43        5  12        7  16       15  35       16  37
 
QUE       11      54        7  13       21  39       13  24       13  24
 
N.S.      11      53       17  32        8  15       15  28       13  25
 
N.B.      11      51        5  10       10  20       19  37       17  33
 
PEI       11      58       13  22       17  29       21  36        7  12
 
NFLD      11      47        5  11       14  30       19  40        9  19
 
TERR      11      53        7  13       15  28       22  42        9  17
 
CAN       11      51        9  18       15  29       16  31       11  22
 
 
                                       WITHOUT HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                           AGAINST        FOR        AGAINST      AGAINST
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
B.C.      11      54       10  19       16  30       19  35        9  17
 
ALTA      11      53       11  21       10  19       22  42       10  19
 
SASK      11      58       18  31       13  22       15  26       12  21
 
MAN       11      44        5  11        9  20       18  41       12  27
 
ONT       11      55        6  11       20  36       16  29       13  24
 
QUE       11      41        5  12        8  20       17  41       11  27
 
N.S.      11      52        7  13       16  31       22  42        7  13
 
N.B.      11      57       12  21       10  18       19  33       16  28
 
PEI       11      49        9  18       11  22       14  29       15  31
 
NFLD      11      54       16  30        8  15       12  22       18  33
 
TERR      11      49        7  14       10  20       14  29       18  37
 
CAN       11      49        9  18       13  27       16  33       11  22
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1991 Scott Tournament of Hearts
                                   Saskatoon, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
        B.C.  ALTA  SASK  MAN   ONT   QUE   N.S.  N.B.  PEI   NFLD  TERR  CAN   
 
 
B.C.     *     W     L     W     W     W     W     W     W     W     W     W  
 
 
ALTA     L     *     W     L     L     W     W     L     W     W     W     W  
 
 
SASK     W     L     *     L     L     W     W     L     W     W     W     W  
 
 
MAN      L     W     W     *     W     L     L     L     W     L     W     L  
 
 
ONT      L     W     W     L     *     W     W     L     L     W     W     W  
 
 
QUE      L     L     L     W     L     *     L     L     W     W     L     L  
 
 
N.S.     L     L     L     W     L     W     *     L     W     W     L     W  
 
 
N.B.     L     W     W     W     W     W     W     *     W     L     W     L  
 
 
PEI      L     L     L     L     W     L     L     L     *     W     L     L  
 
 
NFLD     L     L     L     W     L     L     L     W     L     *     L     L  
 
 
TERR     L     L     L     L     L     W     W     L     W     W     *     L  
 
 
CAN      L     L     L     W     L     W     L     W     W     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1991 Scott Tournament of Hearts
                                   Saskatoon, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Sutton)                            #SH   198  127  325   291  289  580   489  416  905
                                  PTS   596  332  928   842  843 1685  1438 1175 2613
                                  PCT    75   65   71    72   73   73    74   71   72
 
 1 Karri Willms                             #SH    78   20   98    64   55  119   142   75  217
                                  PTS   251   58  309   183  130  313   434  188  622
                                  PCT    80   73   79    71   59   66    76   63   72
 
 2 Melissa Soligo                           #SH    32   35   67    83   82  165   115  117  232
                                  PTS    84  102  186   231  255  486   315  357  672
                                  PCT    66   73   69    70   78   74    68   76   72
 
 3 Jodie Sutton                             #SH    39   38   77    75   80  155   114  118  232
                                  PTS   106   87  193   221  234  455   327  321  648
                                  PCT    68   57   63    74   73   73    72   68   70
 
 4 Julie Sutton                             #SH    49   34   83    69   72  141   118  106  224
                                  PTS   155   85  240   207  224  431   362  309  671
                                  PCT    79   63   72    75   78   76    77   73   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Shermack)                       #SH   166  212  378   240  256  496   406  468  874
                                  PTS   468  603 1071   707  800 1507  1175 1403 2578
                                  PCT    70   71   71    74   78   76    72   75   74
 
 1 Leanne Usher                             #SH    51   57  108    91   13  104   142   70  212
                                  PTS   168  191  359   273   32  305   441  223  664
                                  PCT    82   84   83    75   62   73    78   80   78
 
 2 Diane Alexander                          #SH    37   59   96    49   80  129    86  139  225
                                  PTS    98  161  259   135  238  373   233  399  632
                                  PCT    66   68   67    69   74   72    68   72   70
 
 3 Jackie-Rae Greening                      #SH    36   45   81    54   90  144    90  135  225
                                  PTS    95  129  224   165  307  472   260  436  696
                                  PCT    66   72   69    76   85   82    72   81   77
 
 4 Deb Shermack                             #SH    42   51   93    46   73  119    88  124  212
                                  PTS   107  122  229   134  223  357   241  345  586
                                  PCT    64   60   62    73   76   75    68   70   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Peterson)                          #SH   278  141  419   349  195  544   627  336  963
                                  PTS   760  383 1143  1080  589 1669  1840  972 2812
                                  PCT    68   68   68    77   76   77    73   72   73
 
 1 Marcia Schiml                            #SH   110   14  124    93   21  114   203   35  238
                                  PTS   331   46  377   299   57  356   630  103  733
                                  PCT    75   82   76    80   68   78    78   74   77
 
 2 Joan Inglis                              #SH    67   25   92    96   56  152   163   81  244
                                  PTS   174   59  233   278  174  452   452  233  685
                                  PCT    65   59   63    72   78   74    69   72   70
 
 3 Jan Betker                               #SH    49   54  103    90   53  143   139  107  246
                                  PTS   124  142  266   275  175  450   399  317  716
                                  PCT    63   66   65    76   83   79    72   74   73
 
 4 Sandra Peterson                          #SH    52   48  100    70   65  135   122  113  235
                                  PTS   131  136  267   228  183  411   359  319  678
                                  PCT    63   71   67    81   70   76    74   71   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Man (Allardyce)                          #SH   204  229  433   187  244  431   391  473  864
                                  PTS   540  575 1115   506  654 1160  1046 1229 2275
                                  PCT    66   63   64    68   67   67    67   65   66
 
 1 Jill Proctor                             #SH    61   57  118    45   55  100   106  112  218
                                  PTS   189  167  356   116  153  269   305  320  625
                                  PCT    77   73   75    64   70   67    72   71   72
 
 2 Laurie Ellwood                           #SH    47   63  110    54   58  112   101  121  222
                                  PTS   118  133  251   143  156  299   261  289  550
                                  PCT    63   53   57    66   67   67    65   60   62
 
 3 Cathy Overton                            #SH    51   52  103    45   72  117    96  124  220
                                  PTS   131  125  256   134  206  340   265  331  596
                                  PCT    64   60   62    74   72   73    69   67   68
 
 4 Kathie Allardyce                         #SH    45   57  102    43   59  102    88  116  204
                                  PTS   102  150  252   113  139  252   215  289  504
                                  PCT    57   66   62    66   59   62    61   62   62
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Houston)                        #SH   295  169  464   280  207  487   575  376  951
                                  PTS   892  447 1339   812  608 1420  1704 1055 2759
                                  PCT    76   66   72    73   73   73    74   70   73
 
 1 Diane Pushkar                            #SH    86   43  129    62   43  105   148   86  234
                                  PTS   254  113  367   184  127  311   438  240  678
                                  PCT    74   66   71    74   74   74    74   70   72
 
 2 Diane Adams                              #SH    66   33   99    78   63  141   144   96  240
                                  PTS   229   86  315   229  181  410   458  267  725
                                  PCT    87   65   80    73   72   73    80   70   76
 
 3 Lorraine Lang                            #SH    68   40  108    70   62  132   138  102  240
                                  PTS   201  106  307   192  191  383   393  297  690
                                  PCT    74   66   71    69   77   73    71   73   72
 
 4 Heather Houston                          #SH    75   53  128    70   39  109   145   92  237
                                  PTS   208  142  350   207  109  316   415  251  666
                                  PCT    69   67   68    74   70   72    72   68   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Poisson)                         #SH   255  189  444   171  161  332   426  350  776
                                  PTS   637  479 1116   460  370  830  1097  849 1946
                                  PCT    62   63   63    67   57   63    64   61   63
 
 1 Margaret Pross                           #SH    89   42  131    41   23   64   130   65  195
                                  PTS   265  120  385   129   44  173   394  164  558
                                  PCT    74   71   73    79   48   68    76   63   72
 
 2 Cindy McHugh                             #SH    68   44  112    48   38   86   116   82  198
                                  PTS   171  106  277   115   86  201   286  192  478
                                  PCT    63   60   62    60   57   58    62   59   60
 
 3 Katie Brown                              #SH    57   42   99    40   57   97    97   99  196
                                  PTS   135   99  234    95  138  233   230  237  467
                                  PCT    59   59   59    59   61   60    59   60   60
 
 4 Francine Poisson                         #SH    39   55   94    40   35   75    79   90  169
                                  PTS    66  139  205   113   88  201   179  227  406
                                  PCT    42   63   55    71   63   67    57   63   60
 
 5 Agnes Charette                           #SH     2    6    8     2    8   10     4   14   18
                                  PTS     0   15   15     8   14   22     8   29   37
                                  PCT     0   63   47   100   44   55    50   52   51
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Jones)                      #SH   176  193  369   210  248  458   386  441  827
                                  PTS   506  560 1066   596  738 1334  1102 1298 2400
                                  PCT    72   73   72    71   74   73    71   74   73
 
 1 Nancy Reid                               #SH    37   65  102    56   42   98    93  107  200
                                  PTS   125  198  323   145   97  242   270  295  565
                                  PCT    84   76   79    65   58   62    73   69   71
 
 2 Kim Kelly                                #SH    39   45   84    55   70  125    94  115  209
                                  PTS   130  146  276   148  214  362   278  360  638
                                  PCT    83   81   82    67   76   72    74   78   76
 
 3 Mary Mattatall                           #SH    52   43   95    54   61  115   106  104  210
                                  PTS   143  117  260   166  182  348   309  299  608
                                  PCT    69   68   68    77   75   76    73   72   72
 
 4 Colleen Jones                            #SH    48   40   88    45   75  120    93  115  208
                                  PTS   108   99  207   137  245  382   245  344  589
                                  PCT    56   62   59    76   82   80    66   75   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Hanlon)                            #SH   261  242  503   311  222  533   572  464 1036
                                  PTS   725  676 1401   873  598 1471  1598 1274 2872
                                  PCT    69   70   70    70   67   69    70   69   69
 
 1 Mary Harding                             #SH    54   87  141    79   31  110   133  118  251
                                  PTS   137  252  389   207   74  281   344  326  670
                                  PCT    63   72   69    66   60   64    65   69   67
 
 2 Sheri Stewart                            #SH    69   54  123    82   57  139   151  111  262
                                  PTS   213  172  385   241  183  424   454  355  809
                                  PCT    77   80   78    73   80   76    75   80   77
 
 3 Kathy Floyd                              #SH    75   47  122    80   62  142   155  109  264
                                  PTS   215  130  345   227  171  398   442  301  743
                                  PCT    72   69   71    71   69   70    71   69   70
 
 4 Heidi Hanlon                             #SH    63   54  117    70   72  142   133  126  259
                                  PTS   160  122  282   198  170  368   358  292  650
                                  PCT    63   56   60    71   59   65    67   58   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Roberts)                         #SH   150  242  392   233  242  475   383  484  867
                                  PTS   328  646  974   564  656 1220   892 1302 2194
                                  PCT    55   67   62    61   68   64    58   67   63
 
 1 Bea Graham-MacDonald                     #SH    31   85  116    57   47  104    88  132  220
                                  PTS    70  233  303   129  151  280   199  384  583
                                  PCT    56   69   65    57   80   67    57   73   66
 
 2 Susan McCurdy                            #SH    42   57   99    50   71  121    92  128  220
                                  PTS   103  160  263   130  167  297   233  327  560
                                  PCT    61   70   66    65   59   61    63   64   64
 
 3 Kathy O'Rourke                           #SH    45   54   99    69   52  121   114  106  220
                                  PTS    95  139  234   175  144  319   270  283  553
                                  PCT    53   64   59    63   69   66    59   67   63
 
 4 Angela Roberts                           #SH    32   46   78    57   72  129    89  118  207
                                  PTS    60  114  174   130  194  324   190  308  498
                                  PCT    47   62   56    57   67   63    53   65   60
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Cunningham)                        #SH   177  252  429   210  171  381   387  423  810
                                  PTS   430  691 1121   500  499  999   930 1190 2120
                                  PCT    61   69   65    60   73   66    60   70   65
 
 1 Susan Wright                             #SH    34   99  133    45   24   69    79  123  202
                                  PTS    80  293  373   115   80  195   195  373  568
                                  PCT    59   74   70    64   83   71    62   76   70
 
 2 Kathy O'Driscoll                         #SH    52   55  107    48   49   97   100  104  204
                                  PTS   136  169  305   110  145  255   246  314  560
                                  PCT    65   77   71    57   74   66    62   75   69
 
 3 Maria Thomas                             #SH    43   52   95    62   47  109   105   99  204
                                  PTS   114  140  254   152  129  281   266  269  535
                                  PCT    66   67   67    61   69   64    63   68   66
 
 4 Cathy Cunningham                         #SH    48   46   94    55   51  106   103   97  200
                                  PTS   100   89  189   123  145  268   223  234  457
                                  PCT    52   48   50    56   71   63    54   60   57
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Lidgren)                          #SH   204  231  435    98  290  388   302  521  823
                                  PTS   513  587 1100   222  742  964   735 1329 2064
                                  PCT    63   64   63    57   64   62    61   64   63
 
 1 Rose Putland                             #SH    68   63  131    11   63   74    79  126  205
                                  PTS   189  178  367    16  144  160   205  322  527
                                  PCT    69   71   70    36   57   54    65   64   64
 
 2 Shelley Aucoin                           #SH    61   46  107    24   77  101    85  123  208
                                  PTS   160  135  295    50  227  277   210  362  572
                                  PCT    66   73   69    52   74   69    62   74   69
 
 3 Merna Hensley                            #SH    38   60   98    31   78  109    69  138  207
                                  PTS    89  142  231    71  200  271   160  342  502
                                  PCT    59   59   59    57   64   62    58   62   61
 
 4 Anna Lidgren                             #SH    37   62   99    32   72  104    69  134  203
                                  PTS    75  132  207    85  171  256   160  303  463
                                  PCT    51   53   52    66   59   62    58   57   57
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Goring)                          #SH   237  186  423   137  244  381   374  430  804
                                  PTS   634  527 1161   412  768 1180  1046 1295 2341
                                  PCT    67   71   69    75   79   77    70   75   73
 
 1 Cheryl McPherson                         #SH    62   55  117    25   55   80    87  110  197
                                  PTS   192  173  365    69  186  255   261  359  620
                                  PCT    77   79   78    69   85   80    75   82   79
 
 2 Andrea Lawes                             #SH    60   47  107    38   61   99    98  108  206
                                  PTS   165  144  309   124  190  314   289  334  623
                                  PCT    69   77   72    82   78   79    74   77   76
 
 3 Kristin Turcotte                         #SH    60   45  105    41   58   99   101  103  204
                                  PTS   148  127  275   124  182  306   272  309  581
                                  PCT    62   71   65    76   78   77    67   75   71
 
 4 Alison Goring                            #SH    55   39   94    33   70  103    88  109  197
                                  PTS   129   83  212    95  210  305   224  293  517
                                  PCT    59   53   56    72   75   74    64   67   66
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1991 Scott Tournament of Hearts
                                   Saskatoon, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  14
 
          DRAW  3    QUE   1  ONT  14
          DRAW 12    NFLD  2  N.S. 14
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  3    QUE   1  ONT  14
          DRAW  3    N.S. 11  CAN   1
          DRAW  4    QUE   1  ALTA 13
          DRAW 12    ONT  13  TERR  1
          DRAW 15    SASK  9  PEI   1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  7    N.B. 11  ONT   8
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  9    SASK  4  N.S.  3
          DRAW 10    PEI   4  NFLD  3
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW  3    QUE   1  ONT  14    ONT  SCORED 6 IN THE SECOND END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW 12    NFLD  2  N.S. 14    N.S. SCORED 5 IN THE THIRD END
          DRAW 15    SASK  9  PEI   1    SASK SCORED 5 IN THE 8TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW 10    PEI   4  NFLD  3
          DRAW 11    N.B.  6  SASK  3
 
NUMBER OF BLANK ENDS IN EVENT: 121
 
MOST BLANK ENDS ONE DRAW:  13
 
          DRAW  1
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW 10    PEI   4  NFLD  3    BY PEI  BEGINNING IN END 1
          DRAW 15    N.S.  2  B.C.  6    BY N.S. BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   4
 
          DRAW  2    TERR  4  ALTA  8
          DRAW  2    N.S. 11  PEI   5
          DRAW  3    QUE   1  ONT  14
          DRAW  4    CAN   8  PEI   3
          DRAW  4    QUE   1  ALTA 13
          DRAW  5    PEI   5  MAN   6
          DRAW  6    TERR  5  B.C.  6
          DRAW  9    PEI   6  ONT   5
          DRAW 12    MAN   3  CAN   7
          DRAW 14    QUE   2  N.S.  9
          DRAW 14    NFLD  7  MAN   6
          DRAW 15    QUE   4  N.B.  6
          DRAW 16    ALTA  3  SASK  6
          DRAW 19    B.C.  7  N.B.  5
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  3    QUE   1  ONT  14    BY ONT  BEGINNING IN END 3
          DRAW  4    QUE   1  ALTA 13    BY ALTA BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:  11
 
          DRAW  4    QUE   1  ALTA 13    BY ALTA
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 10    MAN   5  QUE  10    QUE  WAS DOWN 4 AFTER 1 END
 
NUMBER OF EXTRA END GAMES:  10
 
MOST ENDS PLAYED IN ONE GAME:  12
 
          DRAW  1    PEI   6  TERR  7
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  3    QUE   1  ONT  14
          DRAW  4    QUE   1  ALTA 13
          DRAW 12    ONT  13  TERR  1
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  4    NFLD  3  SASK  5    BY NFLD
          DRAW 12    MAN   3  CAN   7    BY MAN 
          DRAW 15    N.S.  2  B.C.  6    BY N.S.
  </div>
</div>
