<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1992 Scott Tournament of Hearts
                                 Tournoi Des Coeurs de Scott
                             Halifax Metro Centre, Halifax, N.S.
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Janet Arnott                   MAN   60 ** ** 76 74 ** 70 80 78 ** 79 90 94 ** 80 81 **  78
 2 Lorie Kehler                   SASK  ** 76 ** 75 84 78 78 ** ** 62 82 90 ** 70 64 79 **  77
 3 Karri Willms                   CAN   67 61 ** ** 91 89 ** 61 ** 73 79 73 83 ** 85 ** 79  76
 3 Sue Green                      N.S.  76 72 ** 75 ** 66 ** 73 74 ** 78 84 ** 83 ** 82 74  76
 5 Judy Blanchard                 N.B.  61 ** ** 53 68 86 71 ** 82 ** 75 64 83 ** ** 66 81  71
 6 Bev Kellerman                  ALTA  56 74 60 ** ** 82 44 ** ** 61 91 ** 66 95 75 68 **  70
 7 Loralee Laberge                TERR  53 ** 74 84 ** ** 61 57 78 73 ** ** 83 65 70 ** 65  69
 7 Cathy Sauer                    B.C.  ** 64 ** 71 53 78 ** 64 85 61 ** ** 78 46 74 ** 71  69
 9 Marion MacAulay                PEI   64 74 ** 78 ** ** 50 61 70 57 ** 73 ** 86 55 ** 64  66
 9 Sylvie Daniel                  QUE   50 ** 57 ** 57 63 56 ** ** 76 64 70 ** 75 ** 74 78  66
11 Peggy Barrette                 ONT   ** 76 48 ** 57 ** 66 77 50 ** 55 ** 68 80 64 71 **  65
12 Cathy Combden                  NFLD  ** 57 ** 61 50 64 ** 74 64 69 ** 56 65 ** ** 67 73  64
 
   SECONDS
 1 Barb Davies                    ALTA  54 75 81 ** ** 65 71 ** ** 65 80 ** 90 85 79 86 **  76
 2 Kim Kelly                      N.S.  71 51 ** 64 ** 78 ** 85 79 ** 73 90 ** 79 ** 84 79  75
 3 Cathy Gauthier                 MAN   74 ** ** 63 66 ** 69 76 80 ** 88 84 75 ** 88 53 **  74
 4 Melissa Soligo                 CAN   43 56 ** ** 81 81 ** 79 ** 73 86 74 75 ** 66 ** 84  73
 5 Joan Stricker                  SASK  ** 69 ** 71 73 91 76 ** ** 68 69 73 ** 65 58 79 **  72
 6 Patty Wilson                   ONT   ** 72 73 ** 75 ** 66 73 82 ** 69 ** 79 58 73 64 **  71
 7 Cindy McArdle                  B.C.  ** 55 ** 68 72 66 ** 64 78 75 ** ** 57 81 68 ** 86  69
 8 Julie Scales                   PEI   51 73 ** 65 ** ** 63 83 76 75 ** 72 ** 64 65 ** 65  68
 8 Sheri Stewart                  N.B.  74 ** ** 64 70 74 56 ** 65 ** 70 73 53 ** ** 69 83  68
10 France Charette                QUE   53 ** 63 ** 69 74 56 ** ** 56 68 76 ** 84 ** 59 78  67
11 Debbie Porter                  NFLD  ** ** ** ** ** ** ** 63 ** 56 ** 74 71 ** ** 69 64  66
12 Lisa Leblanc                   TERR  54 ** 57 64 ** ** 63 73 51 59 ** ** 74 63 63 ** 68  63
 + Helen Nichols                  NFLD  ** 53 ** 59 57 74 ** ** 57 ** ** ** ** ** ** ** **  60
 
   THIRDS 
 1 Kathy Fahlman                  SASK  ** 74 ** 86 80 81 72 ** ** 75 92 76 ** 75 72 75 **  78
 2 Mary Mattatall                 N.S.  71 68 ** 83 ** 69 ** 84 83 ** 79 76 ** 69 ** 83 73  76
 3 Jodie Sutton                   CAN   51 60 ** ** 68 78 ** 86 ** 86 78 75 93 ** 69 ** 76  75
 4 Laurie Allen                   MAN   65 ** ** 68 68 ** 82 74 61 ** 78 78 83 ** 71 70 **  72
 4 Chantal Osborne                QUE   75 ** 69 ** 66 68 66 ** ** 73 68 84 ** 83 ** 69 76  72
 6 Susan McInnis                  PEI   54 66 ** 78 ** ** 64 90 62 57 ** 77 ** 67 78 ** 74  70
 7 Kelley Owen                    B.C.  ** 53 ** 68 64 78 ** 78 79 73 ** ** 59 61 69 ** 80  69
 8 Debbie Stokes                  TERR  54 ** 81 59 ** ** 61 59 65 68 ** ** 80 73 69 ** 75  68
 9 Marcie Brown                   NFLD  ** 74 ** 83 63 63 ** 68 54 55 ** 80 85 ** ** 64 53  67
 9 Allison Earl                   ALTA  38 69 70 ** ** 60 70 ** ** 60 66 ** 85 78 80 65 **  67
11 Kathy Floyd                    N.B.  44 ** ** 58 61 86 64 ** 58 ** 72 70 69 ** ** 73 77  66
11 Tracy Kennedy                  ONT   ** 59 48 ** 65 ** 66 76 61 ** 64 ** 74 61 70 73 **  66
 
   SKIPS  
 1 Lisa Walker                    B.C.  ** 72 ** 68 74 81 ** 70 68 72 ** ** 84 69 84 ** 81  75
 1 Michelle Schneider             SASK  ** 81 ** 83 74 81 63 ** ** 96 77 69 ** 71 65 70 **  75
 3 Connie Laliberte               MAN   56 ** ** 72 61 ** 92 71 67 ** 78 76 85 ** 80 76 **  74
 4 Julie Sutton                   CAN   48 51 ** ** 75 89 ** 89 ** 75 68 77 79 ** 78 ** 72  73
 5 Colleen Jones                  N.S.  60 74 ** 87 ** 55 ** 72 92 ** 63 58 ** 71 ** 81 70  71
 6 Agnes Charette                 QUE   72 ** 70 ** 69 64 45 ** ** 70 63 80 ** 78 ** 76 75  69
 7 Heidi Hanlon                   N.B.  61 ** ** 78 56 86 71 ** 65 ** 74 64 52 ** ** 60 56  66
 7 Kim Dolan                      PEI   47 63 ** 67 ** ** 57 81 76 76 ** 63 ** 47 72 ** 73  66
 7 Sue Anne Bartlett              NFLD  ** 57 ** 68 50 76 ** 78 55 63 ** 70 66 ** ** 76 65  66
10 Cheryl Bernard                 ALTA  60 63 90 ** ** 65 71 ** ** 61 48 ** 61 58 61 74 **  65
11 Kim Clark                      ONT   ** 57 48 ** 68 ** 76 76 72 ** 65 ** 67 45 64 62 **  64
11 Dawn Moses                     TERR  72 ** 76 61 ** ** 65 57 59 52 ** ** 58 74 53 ** 68  64
 
   TEAMS
 1 Sask (Schneider)                     ** 75 ** 79 78 83 72 ** ** 75 80 77 ** 70 65 76 **  75
 1 Nova Scotia (Jones)                  70 66 ** 77 ** 67 ** 78 82 ** 73 77 ** 75 ** 83 74  75
 1 Manitoba (Laliberte)                 64 ** ** 70 67 ** 79 75 71 ** 80 82 84 ** 80 70 **  75
 4 Canada (Sutton)                      53 57 ** ** 79 84 ** 79 ** 77 78 75 82 ** 74 ** 78  74
 5 B.C. (Walker)                        ** 61 ** 69 66 75 ** 69 77 70 ** ** 69 65 74 ** 80  70
 5 Alberta (Bernard)                    52 70 75 ** ** 68 64 ** ** 62 71 ** 76 79 74 73 **  70
 7 Quebec (Charette)                    63 ** 65 ** 65 67 56 ** ** 69 66 78 ** 80 ** 69 77  69
 8 N.B. (Hanlon)                        60 ** ** 63 64 83 66 ** 68 ** 73 68 65 ** ** 67 74  68
 8 P.E.I. (Dolan)                       54 69 ** 72 ** ** 58 79 71 66 ** 71 ** 66 68 ** 69  68
10 Ontario (Clark)                      ** 66 55 ** 66 ** 69 76 67 ** 63 ** 72 61 68 67 **  67
11 Y/NWT (Moses)                        58 ** 72 67 ** ** 62 62 63 63 ** ** 74 68 64 ** 69  66
12 NFLD (Bartlett)                      ** 60 ** 68 55 69 ** 70 57 61 ** 70 72 ** ** 69 63  65
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1992 Scott Tournament of Hearts
                                 Tournoi Des Coeurs de Scott
                             Halifax Metro Centre, Halifax, N.S.
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Karri Willms                   CAN    +  0  *  *  +  +  *  -  *  0  +  0  +  *  +  *  +  +6
Janet Arnott                   MAN    +  *  *  0  +  *  -  +  -  *  0  +  +  *  +  +  *  +5
Cathy Sauer                    B.C.   *  0  *  0  0  +  *  +  +  0  *  *  +  -  +  *  -  +3
Loralee Laberge                TERR   -  *  +  +  *  *  +  -  +  +  *  *  +  -  -  *  0  +2
Sue Green                      N.S.   +  0  *  0  *  -  *  0  0  *  0  +  *  +  *  +  -  +2
Judy Blanchard                 N.B.   -  *  *  -  -  +  +  *  +  *  +  -  -  *  *  0  +   0
Lorie Kehler                   SASK   *  0  *  +  +  -  +  *  *  -  -  +  *  -  -  +  *   0
Marion MacAulay                PEI    +  0  *  0  *  *  -  -  0  0  *  0  *  +  -  *  0  -1
Peggy Barrette                 ONT    *  +  -  *  -  *  +  0  -  *  -  *  -  +  +  -  *  -2
Bev Kellerman                  ALTA   -  0  -  *  *  +  -  *  *  -  +  *  -  +  -  0  *  -3
Sylvie Daniel                  QUE    -  *  +  *  -  -  -  *  *  0  -  -  *  -  *  -  +  -6
Cathy Combden                  NFLD   *  -  *  -  0  -  *  +  -  +  *  -  -  *  *  -  -  -6
 
SECONDS
Barb Davies                    ALTA   +  0  +  *  *  -  +  *  *  +  +  *  +  0  -  +  *  +5
Joan Stricker                  SASK   *  +  *  +  0  +  +  *  *  +  -  0  *  0  -  +  *  +4
Melissa Soligo                 CAN    -  0  *  *  +  -  *  0  *  +  +  0  0  *  0  *  +  +2
Cathy Gauthier                 MAN    +  *  *  0  -  *  -  0  0  *  +  +  +  *  +  -  *  +2
Kim Kelly                      N.S.   0  -  *  0  *  +  *  +  0  *  -  +  *  +  *  +  -  +2
Julie Scales                   PEI    0  0  *  0  *  *  +  +  0  0  *  0  *  0  -  *  0  +1
Patty Wilson                   ONT    *  +  +  *  +  *  -  -  +  *  -  *  +  -  +  -  *  +1
Cindy McArdle                  B.C.   *  0  *  0  +  -  *  -  0  0  *  *  -  +  +  *  0   0
France Charette                QUE    0  *  -  *  0  +  -  *  *  -  0  -  *  0  *  +  +  -1
Lisa Leblanc                   TERR   -  *  -  0  *  *  +  +  -  -  *  *  -  -  0  *  0  -4
Sheri Stewart                  N.B.   0  *  *  0  -  0  -  *  -  *  0  0  -  *  *  -  0  -5
Debbie Porter                  NFLD   *  *  *  *  *  *  *  -  *  -  *  -  0  *  *  -  -  -5
 
THIRDS 
Jodie Sutton                   CAN    +  +  *  *  +  0  *  +  *  +  +  0  +  *  0  *  0  +7
Kathy Fahlman                  SASK   *  +  *  0  +  0  -  *  *  +  +  +  *  +  0  0  *  +5
Mary Mattatall                 N.S.   +  -  *  +  *  +  *  +  +  *  0  -  *  0  *  +  0  +4
Chantal Osborne                QUE    +  *  +  *  -  -  +  *  *  -  0  +  *  +  *  0  +  +3
Kelley Owen                    B.C.   *  -  *  -  0  +  *  +  +  +  *  *  -  0  0  *  0  +1
Susan McInnis                  PEI    -  0  *  +  *  *  0  +  -  -  *  0  *  -  +  *  0  -1
Debbie Stokes                  TERR   -  *  +  0  *  *  -  -  +  -  *  *  +  0  0  *  0  -1
Laurie Allen                   MAN    +  *  *  -  0  *  +  -  -  *  0  0  +  *  -  0  *  -1
Kathy Floyd                    N.B.   -  *  *  0  -  +  0  *  0  *  0  -  -  *  *  +  0  -2
Allison Earl                   ALTA   -  0  -  *  *  -  0  *  *  +  -  *  +  -  +  -  *  -3
Tracy Kennedy                  ONT    *  -  -  *  0  *  0  -  0  *  -  *  -  0  -  0  *  -6
Marcie Brown                   NFLD   *  +  *  0  0  -  *  -  -  -  *  0  -  *  *  -  -  -6
 
SKIPS  
Lisa Walker                    B.C.   *  +  *  -  +  +  *  +  0  0  *  *  +  +  +  *  +  +7
Julie Sutton                   CAN    -  -  *  *  +  +  *  +  *  +  0  +  +  *  +  *  0  +5
Michelle Schneider             SASK   *  +  *  +  +  -  -  *  *  +  +  +  *  +  -  +  *  +5
Connie Laliberte               MAN    -  *  *  +  -  *  +  -  0  *  +  +  +  *  +  0  *  +3
Agnes Charette                 QUE    +  *  +  *  -  -  -  *  *  -  -  +  *  +  *  0  +   0
Kim Clark                      ONT    *  0  -  *  +  *  +  0  +  *  0  *  +  -  -  -  *   0
Cheryl Bernard                 ALTA   +  0  +  *  *  +  -  *  *  0  -  *  -  -  -  +  *  -1
Colleen Jones                  N.S.   0  -  *  +  *  -  *  0  +  *  -  -  *  0  *  +  0  -1
Heidi Hanlon                   N.B.   0  *  *  +  -  +  +  *  -  *  +  -  -  *  *  -  -  -2
Kim Dolan                      PEI    -  0  *  -  *  *  -  0  -  0  *  -  *  -  +  *  +  -4
Dawn Moses                     TERR   +  *  -  -  *  *  +  -  0  -  *  *  -  0  -  *  -  -5
Sue Anne Bartlett              NFLD   *  0  *  -  -  -  *  0  0  0  *  -  -  *  *  -  -  -7
 
   TEAMS
Canada (Sutton)                       0  0  *  *  +  0  *  0  *  +  +  0  +  *  +  *  0  +5
Sask (Schneider)                      *  +  *  +  +  0  -  *  *  +  +  +  *  0  -  +  *  +5
Manitoba (Laliberte)                  +  *  *  0  0  *  +  0  -  *  +  +  +  *  +  0  *  +5
B.C. (Walker)                         *  0  *  -  +  +  *  +  +  0  *  *  -  0  +  *  +  +4
Nova Scotia (Jones)                   +  -  *  +  *  0  *  0  +  *  -  0  *  +  *  +  0  +3
Alberta (Bernard)                     0  0  0  *  *  0  -  *  *  0  -  *  +  0  -  +  *  -1
Ontario (Clark)                       *  +  -  *  0  *  +  0  0  *  -  *  0  0  0  -  *  -1
Quebec (Charette)                     +  *  +  *  -  -  -  *  *  -  -  0  *  0  *  0  +  -2
P.E.I. (Dolan)                        -  0  *  0  *  *  -  +  -  0  *  0  *  0  0  *  0  -2
N.B. (Hanlon)                         -  *  *  0  -  +  +  *  0  *  +  -  -  *  *  -  -  -3
Y/NWT (Moses)                         -  *  0  0  *  *  +  -  +  -  *  *  0  -  -  *  0  -3
NFLD (Bartlett)                       *  -  *  -  -  -  *  -  -  0  *  -  -  *  *  -  - -10
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1992 Scott Tournament of Hearts
                                 Tournoi Des Coeurs de Scott
                             Halifax Metro Centre, Halifax, N.S.
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
CAN    11   105  FOR      10    17     35   13    2    0    0    0   67   6.1   21  0.64
                 AGAINST   7     6     24   11    3    0    0    0   55   5.0    7  0.52
 
B.C.   11   103  FOR      12    15     29   12    6    0    0    0   71   6.5   19  0.69
                 AGAINST   8     7     26    9    1    0    0    0   47   4.3    8  0.46
 
ALTA   11   103  FOR      13     2     18   15    1    0    0    0   51   4.6    3  0.50
                 AGAINST   9    13     32   11    4    0    0    0   66   6.0   19  0.64
 
SASK   11   104  FOR       8    15     30   10    4    2    0    0   70   6.4   22  0.67
                 AGAINST  10     9     30    8    1    1    0    0   53   4.8   10  0.51
 
MAN    11   102  FOR      12    20     30   13    3    0    0    0   65   5.9   26  0.64
                 AGAINST  15     5     21    5    3    0    0    0   40   3.6    8  0.39
 
ONT    11   105  FOR       9    10     26   11    3    1    0    0   61   5.5   14  0.58
                 AGAINST   8    16     30   10    7    0    0    0   71   6.5   20  0.68
 
QUE    11   105  FOR      10    14     34    8    4    1    0    0   66   6.0   19  0.63
                 AGAINST   8     7     25   12    3    0    0    0   58   5.3    8  0.55
 
N.B.   11   103  FOR       6     6     28    7    3    0    0    1   57   5.2    6  0.55
                 AGAINST  10    15     26   19    3    0    0    0   73   6.6   25  0.71
 
N.S.   11   107  FOR      13     9     23   11    5    0    0    0   60   5.5   13  0.56
                 AGAINST  18     7     28    8    0    1    0    0   48   4.4    8  0.45
 
PEI    11   103  FOR      10     3     29    5    2    1    0    0   49   4.5    3  0.48
                 AGAINST   9    13     34   11    1    1    0    0   63   5.7   16  0.61
 
NFLD   11   104  FOR       9     8     29   10    2    0    0    0   55   5.0    9  0.53
                 AGAINST   6    12     27   10    8    2    0    1   85   7.7   14  0.82
 
TERR   11   102  FOR       8     9     26    7    2    1    0    0   50   4.5   11  0.49
                 AGAINST  12    18     34    8    3    1    0    0   63   5.7   23  0.62
 
 
TOTAL  66   623  FOR     120   128    337  122   37    6    0    1  722   5.5  166  0.58
                 AGAINST 120   128    337  122   37    6    0    1  722   5.5  166  0.58
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1992 Scott Tournament of Hearts
                                 Tournoi Des Coeurs de Scott
                             Halifax Metro Centre, Halifax, N.S.
 
                                     TEAM WIN/LOSS GRID
 
 
        CAN   B.C.  ALTA  SASK  MAN   ONT   QUE   N.B.  N.S.  PEI   NFLD  TERR  
 
 
CAN      *     L     L     W     W     W     W     W     W     W     W     W  
 
 
B.C.     W     *     W     W     L     W     W     W     L     W     W     W  
 
 
ALTA     W     L     *     L     L     L     L     W     L     L     W     W  
 
 
SASK     L     L     W     *     L     W     W     L     W     W     W     W  
 
 
MAN      L     W     W     W     *     W     W     W     W     W     W     L  
 
 
ONT      L     L     W     L     L     *     L     W     W     L     L     W  
 
 
QUE      L     L     W     L     L     W     *     W     W     W     W     L  
 
 
N.B.     L     L     L     W     L     L     L     *     L     L     W     W  
 
 
N.S.     L     W     W     L     L     L     L     W     *     W     W     W  
 
 
PEI      L     L     W     L     L     W     L     W     L     *     W     L  
 
 
NFLD     L     L     L     L     L     W     L     L     L     L     *     L  
 
 
TERR     L     L     L     L     W     L     W     L     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1992 Scott Tournament of Hearts
                                 Tournoi Des Coeurs de Scott
                             Halifax Metro Centre, Halifax, N.S.
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Sutton)                #SH   220  167  387   330  202  532   550  369  919
                                  PTS   602  459 1061  1027  603 1630  1629 1062 2691
                                  PCT    68   69   69    78   75   77    74   72   73
 
 1 Karri Willms                   #SH    70   56  126    75   22   97   145   78  223
                                  PTS   228  150  378   230   63  293   458  213  671
                                  PCT    81   67   75    77   72   76    79   68   75
 
 2 Melissa Soligo                 #SH    49   38   87    81   66  147   130  104  234
                                  PTS   120   91  211   240  211  451   360  302  662
                                  PCT    61   60   61    74   80   77    69   73   71
 
 3 Jodie Sutton                   #SH    50   33   83    90   61  151   140   94  234
                                  PTS   128   94  222   289  190  479   417  284  701
                                  PCT    64   71   67    80   78   79    74   76   75
 
 4 Julie Sutton                   #SH    51   40   91    84   53  137   135   93  228
                                  PTS   126  124  250   268  139  407   394  263  657
                                  PCT    62   78   69    80   66   74    73   71   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Walker)                  #SH   166  221  387   279  249  528   445  470  915
                                  PTS   447  616 1063   803  703 1506  1250 1319 2569
                                  PCT    67   70   69    72   71   71    70   70   70
 
 1 Cathy Sauer                    #SH    39   77  116    53   56  109    92  133  225
                                  PTS   109  215  324   154  137  291   263  352  615
                                  PCT    70   70   70    73   61   67    71   66   68
 
 2 Cindy McArdle                  #SH    32   43   75    91   68  159   123  111  234
                                  PTS    79  116  195   258  209  467   337  325  662
                                  PCT    62   67   65    71   77   73    68   73   71
 
 3 Kelley Owen                    #SH    46   51   97    70   67  137   116  118  234
                                  PTS   114  130  244   197  188  385   311  318  629
                                  PCT    62   64   63    70   70   70    67   67   67
 
 4 Lisa Walker                    #SH    49   50   99    65   58  123   114  108  222
                                  PTS   145  155  300   194  169  363   339  324  663
                                  PCT    74   78   76    75   73   74    74   75   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Bernard)              #SH   177  243  420   136  268  404   313  511  824
                                  PTS   445  654 1099   381  811 1192   826 1465 2291
                                  PCT    63   67   65    70   76   74    66   72   70
 
 1 Bev Kellerman                  #SH    35   75  110    30   66   96    65  141  206
                                  PTS    93  205  298    86  189  275   179  394  573
                                  PCT    66   68   68    72   72   72    69   70   70
 
 2 Barb Davies                    #SH    45   60  105    28   75  103    73  135  208
                                  PTS   125  180  305    86  239  325   211  419  630
                                  PCT    69   75   73    77   80   79    72   78   76
 
 3 Allison Earl                   #SH    52   54  106    41   61  102    93  115  208
                                  PTS   128  132  260   113  187  300   241  319  560
                                  PCT    62   61   61    69   77   74    65   69   67
 
 4 Cheryl Bernard                 #SH    45   54   99    37   66  103    82  120  202
                                  PTS    99  137  236    96  196  292   195  333  528
                                  PCT    55   63   60    65   74   71    59   69   65
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Schneider)               #SH   189  199  388   226  221  447   415  420  835
                                  PTS   563  616 1179   677  658 1335  1240 1274 2514
                                  PCT    74   77   76    75   74   75    75   76   75
 
 1 Lorie Kehler                   #SH    62   54  116    41   47   88   103  101  204
                                  PTS   188  186  374    97  154  251   285  340  625
                                  PCT    76   86   81    59   82   71    69   84   77
 
 2 Joan Stricker                  #SH    42   46   88    55   68  123    97  114  211
                                  PTS   118  140  258   155  195  350   273  335  608
                                  PCT    70   76   73    70   72   71    70   73   72
 
 3 Kathy Fahlman                  #SH    46   47   93    72   47  119   118   94  212
                                  PTS   144  142  286   241  133  374   385  275  660
                                  PCT    78   76   77    84   71   79    82   73   78
 
 4 Michelle Schneider             #SH    39   52   91    58   59  117    97  111  208
                                  PTS   113  148  261   184  176  360   297  324  621
                                  PCT    72   71   72    79   75   77    77   73   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Laliberte)           #SH   157  259  416   266  290  556   423  549  972
                                  PTS   435  708 1143   823  932 1755  1258 1640 2898
                                  PCT    69   68   69    77   80   79    74   75   75
 
 1 Janet Arnott                   #SH    33   86  119    55   64  119    88  150  238
                                  PTS    94  261  355   179  214  393   273  475  748
                                  PCT    71   76   75    81   84   83    78   79   79
 
 2 Cathy Gauthier                 #SH    45   61  106    67   74  141   112  135  247
                                  PTS   125  164  289   195  240  435   320  404  724
                                  PCT    69   67   68    73   81   77    71   75   73
 
 3 Laurie Allen                   #SH    46   45   91    67   90  157   113  135  248
                                  PTS   130  107  237   195  279  474   325  386  711
                                  PCT    71   59   65    73   78   75    72   71   72
 
 4 Connie Laliberte               #SH    33   67  100    77   62  139   110  129  239
                                  PTS    86  176  262   254  199  453   340  375  715
                                  PCT    65   66   66    82   80   81    77   73   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Clark)                #SH   277  135  412   245  188  433   522  323  845
                                  PTS   722  327 1049   704  499 1203  1426  826 2252
                                  PCT    65   61   64    72   66   69    68   64   67
 
 1 Peggy Barrette                 #SH   108   16  124    76    9   85   184   25  209
                                  PTS   278   30  308   212   26  238   490   56  546
                                  PCT    64   47   62    70   72   70    67   56   65
 
 2 Patty Wilson                   #SH    73   27  100    61   53  114   134   80  214
                                  PTS   195   77  272   182  156  338   377  233  610
                                  PCT    67   71   68    75   74   74    70   73   71
 
 3 Tracy Kennedy                  #SH    54   42   96    64   54  118   118   96  214
                                  PTS   138  106  244   189  129  318   327  235  562
                                  PCT    64   63   64    74   60   67    69   61   66
 
 4 Kim Clark                      #SH    42   50   92    44   72  116    86  122  208
                                  PTS   111  114  225   121  188  309   232  302  534
                                  PCT    66   57   61    69   65   67    67   62   64
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Charette)              #SH   126  228  354   171  328  499   297  556  853
                                  PTS   293  602  895   454  989 1443   747 1591 2338
                                  PCT    58   66   63    66   75   72    63   72   69
 
 1 Sylvie Daniel                  #SH    29   75  104    31   74  105    60  149  209
                                  PTS    62  215  277    64  208  272   126  423  549
                                  PCT    53   72   67    52   70   65    53   71   66
 
 2 France Charette                #SH    34   45   79    49   90  139    83  135  218
                                  PTS    79  103  182   131  270  401   210  373  583
                                  PCT    58   57   58    67   75   72    63   69   67
 
 3 Chantal Osborne                #SH    29   50   79    42   96  138    71  146  217
                                  PTS    66  131  197   121  310  431   187  441  628
                                  PCT    57   66   62    72   81   78    66   76   72
 
 4 Agnes Charette                 #SH    34   58   92    49   68  117    83  126  209
                                  PTS    86  153  239   138  201  339   224  354  578
                                  PCT    63   66   65    70   74   72    67   70   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Hanlon)                  #SH   229  211  440   257  150  407   486  361  847
                                  PTS   593  558 1151   738  412 1150  1331  970 2301
                                  PCT    65   66   65    72   69   71    68   67   68
 
 1 Judy Blanchard                 #SH    57   70  127    64   22   86   121   92  213
                                  PTS   169  211  380   181   47  228   350  258  608
                                  PCT    74   75   75    71   53   66    72   70   71
 
 2 Sheri Stewart                  #SH    60   51  111    70   33  103   130   84  214
                                  PTS   158  131  289   203   91  294   361  222  583
                                  PCT    66   64   65    73   69   71    69   66   68
 
 3 Kathy Floyd                    #SH    63   41  104    71   38  109   134   79  213
                                  PTS   151  101  252   218   95  313   369  196  565
                                  PCT    60   62   61    77   63   72    69   62   66
 
 4 Heidi Hanlon                   #SH    49   49   98    52   57  109   101  106  207
                                  PTS   115  115  230   136  179  315   251  294  545
                                  PCT    59   59   59    65   79   72    62   69   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Jones)            #SH   116  244  360   205  293  498   321  537  858
                                  PTS   279  721 1000   650  915 1565   929 1636 2565
                                  PCT    60   74   69    79   78   79    72   76   75
 
 1 Sue Green                      #SH    14   97  111    39   63  102    53  160  213
                                  PTS    29  298  327   131  189  320   160  487  647
                                  PCT    52   77   74    84   75   78    75   76   76
 
 2 Kim Kelly                      #SH    24   56   80    65   73  138    89  129  218
                                  PTS    55  177  232   199  226  425   254  403  657
                                  PCT    57   79   73    77   77   77    71   78   75
 
 3 Mary Mattatall                 #SH    37   49   86    48   86  134    85  135  220
                                  PTS    96  143  239   156  275  431   252  418  670
                                  PCT    65   73   69    81   80   80    74   77   76
 
 4 Colleen Jones                  #SH    41   42   83    53   71  124    94  113  207
                                  PTS    99  103  202   164  225  389   263  328  591
                                  PCT    60   61   61    77   79   78    70   73   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Dolan)                 #SH   201  228  429   274  155  429   475  383  858
                                  PTS   528  608 1136   783  402 1185  1311 1010 2321
                                  PCT    66   67   66    71   65   69    69   66   68
 
 1 Marion MacAulay                #SH    40   85  125    58   34   92    98  119  217
                                  PTS    97  238  335   162   80  242   259  318  577
                                  PCT    61   70   67    70   59   66    66   67   66
 
 2 Julie Scales                   #SH    59   51  110    75   35  110   134   86  220
                                  PTS   176  143  319   189   93  282   365  236  601
                                  PCT    75   70   73    63   66   64    68   69   68
 
 3 Susan McInnis                  #SH    55   44   99    71   47  118   126   91  217
                                  PTS   139  123  262   212  133  345   351  256  607
                                  PCT    63   70   66    75   71   73    70   70   70
 
 4 Kim Dolan                      #SH    47   48   95    70   39  109   117   87  204
                                  PTS   116  104  220   220   96  316   336  200  536
                                  PCT    62   54   58    79   62   72    72   57   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Bartlett)                #SH   248  160  408   246  201  447   494  361  855
                                  PTS   642  355  997   683  540 1223  1325  895 2220
                                  PCT    65   55   61    69   67   68    67   62   65
 
 1 Cathy Combden                  #SH    96   34  130    61   25   86   157   59  216
                                  PTS   250   72  322   177   50  227   427  122  549
                                  PCT    65   53   62    73   50   66    68   52   64
 
 2 Helen Nichols                  #SH    28   24   52    29   17   46    57   41   98
                                  PTS    71   39  110    81   43  124   152   82  234
                                  PCT    63   41   53    70   63   67    67   50   60
 
 3 Marcie Brown                   #SH    51   40   91    63   62  125   114  102  216
                                  PTS   137   98  235   168  179  347   305  277  582
                                  PCT    67   61   65    67   72   69    67   68   67
 
 4 Sue Anne Bartlett              #SH    46   39   85    64   58  122   110   97  207
                                  PTS   115   96  211   181  151  332   296  247  543
                                  PCT    63   62   62    71   65   68    67   64   66
 
 5 Debbie Porter                  #SH    27   23   50    29   39   68    56   62  118
                                  PTS    69   50  119    76  117  193   145  167  312
                                  PCT    64   54   60    66   75   71    65   67   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Moses)                  #SH   151  259  410   167  256  423   318  515  833
                                  PTS   370  693 1063   421  711 1132   791 1404 2195
                                  PCT    61   67   65    63   69   67    62   68   66
 
 1 Loralee Laberge                #SH    38   97  135    23   52   75    61  149  210
                                  PTS    90  293  383    53  147  200   143  440  583
                                  PCT    59   76   71    58   71   67    59   74   69
 
 2 Lisa Leblanc                   #SH    46   55  101    51   58  109    97  113  210
                                  PTS   122  128  250   124  151  275   246  279  525
                                  PCT    66   58   62    61   65   63    63   62   63
 
 3 Debbie Stokes                  #SH    38   52   90    50   70  120    88  122  210
                                  PTS    92  145  237   139  193  332   231  338  569
                                  PCT    61   70   66    70   69   69    66   69   68
 
 4 Dawn Moses                     #SH    29   55   84    43   76  119    72  131  203
                                  PTS    66  127  193   105  220  325   171  347  518
                                  PCT    57   58   57    61   72   68    59   66   64
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1992 Scott Tournament of Hearts
                                 Tournoi Des Coeurs de Scott
                             Halifax Metro Centre, Halifax, N.S.
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  68
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  13
 
          DRAW  6    NFLD  6  N.B. 13
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW 15    TERR  1  CAN   7
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  6    NFLD  6  N.B. 13
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  2    ALTA  3  PEI   4
          DRAW  4    B.C.  2  N.S.  5
          DRAW  8    CAN   5  MAN   2
          DRAW  9    MAN   5  B.C.  2
          DRAW 13    ONT   5  TERR  2
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW  6    NFLD  6  N.B. 13    N.B. SCORED 6 IN THE 9TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW 10    SASK  9  TERR  2    SASK SCORED 4 IN THE 4TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  2    SASK  7  N.S.  3
          DRAW  8    CAN   5  MAN   2
 
NUMBER OF BLANK ENDS IN EVENT: 121
 
MOST BLANK ENDS ONE DRAW:  11
 
          DRAW  2
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW 13    ONT   5  TERR  2    BY ONT  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  9    N.B.  3  ONT   9
          DRAW 15    TERR  1  CAN   7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW 15    TERR  1  CAN   7    BY CAN  BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  9    N.B.  3  ONT   9    BY ONT 
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 15    B.C.  8  SASK  7    B.C. WAS DOWN 4 AFTER 7 ENDS
 
NUMBER OF EXTRA END GAMES:   9
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    ONT   5  NFLD  7
          DRAW  2    SASK  7  N.S.  3
          DRAW  3    TERR  6  ALTA  7
          DRAW  8    ONT   5  N.S.  4
          DRAW 11    QUE   6  N.B.  5
          DRAW 12    PEI   6  CAN   8
          DRAW 12    N.B.  7  SASK  6
          DRAW 15    B.C.  8  SASK  7
          DRAW 18    MAN   7  B.C.  6
 
FEWEST ENDS PLAYED IN ONE GAME:   7
 
          DRAW 10    SASK  9  TERR  2
          DRAW 15    MAN   7  ALTA  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW 15    TERR  1  CAN   7    BY TERR
  </div>
</div>
