<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1998 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Heather Hopkins                N.S.  ** 89 78 80 ** ** 86 85 96 93 ** ** 88 74 86 ** 84  85
 2 Marcia Gudereit                CAN   83 ** ** 91 74 90 ** 79 94 83 ** ** 75 93 75 ** 88  84
 3 Julie Scales                   PEI   85 ** 78 ** 73 ** 81 79 81 ** 80 ** 80 85 84 88 **  81
 3 Audrey Frey                    ONT   ** 84 83 85 ** ** 81 78 88 ** 69 81 84 ** ** 74 88  81
 5 Kate Horne                     ALTA  ** 90 ** 81 74 88 ** 96 ** 76 48 88 69 ** 73 76 **  78
 5 Jocelyn Beever                 MAN   77 83 ** 71 ** 83 83 ** ** 85 76 74 ** 78 72 ** 71  78
 7 Val Lahucik                    B.C.  80 ** ** 75 61 74 84 ** 82 ** 82 90 ** 74 ** 80 71  77
 8 Keri-Lynn Schikowski           SASK  84 75 ** ** 78 71 82 ** 73 ** 65 82 ** 75 ** 76 75  76
 9 Jane Arseneau                  N.B.  73 75 ** ** 73 84 81 ** 93 72 ** ** 65 58 78 ** 62  74
10 Sylvie Fortin                  QUE   ** 64 ** 69 73 60 ** 64 67 75 ** 82 82 ** ** 67 66  70
10 Karen Thomas                   NFLD  79 79 80 ** ** ** 76 60 ** 61 64 78 ** 51 67 67 **  70
10 Cheryl Burlington              TERR  67 ** ** 71 88 61 ** 74 ** 85 69 50 63 ** 71 63 **  70
 
   SECONDS
 1 Brenda Bohmer                  ALTA  ** 93 ** 71 89 78 ** 81 ** 81 73 90 67 ** 84 86 **  82
 2 Patti McKnight                 ONT   ** 80 70 78 ** ** 78 84 88 ** 75 81 79 ** ** 74 69  78
 3 Karen Daku                     SASK  84 86 ** ** 82 63 86 ** 74 ** 56 80 ** 79 ** 81 75  77
 3 Shelley Muzika                 PEI   78 ** 72 ** 78 ** 81 85 71 ** 78 ** 75 69 80 84 **  77
 5 Joan McCusker                  CAN   80 ** ** 69 83 84 ** 69 63 75 ** ** 67 82 84 ** 81  76
 6 Allison MacInnes               B.C.  90 ** ** 69 72 78 69 ** 76 ** 75 75 ** 76 ** 79 64  75
 7 Allison Franey                 N.B.  80 73 ** ** 59 80 68 ** 75 75 ** ** 82 68 57 ** 70  71
 7 Lisa MacLeod                   N.S.  ** 72 74 69 ** ** 79 56 78 86 ** ** 73 66 70 ** 58  71
 9 Sharon Cormier                 TERR  67 ** ** 61 78 74 ** 79 ** 73 66 55 73 ** 70 ** **  70
 9 Sharon Fowler                  MAN   67 66 ** 66 ** 78 68 ** ** 73 61 78 ** 75 61 ** 75  70
11 Michele Renouf                 NFLD  69 56 81 ** ** ** 69 77 ** 65 57 56 ** 72 67 79 **  68
12 Julie Blackburn                QUE   ** 63 ** 68 58 56 ** 76 75 59 ** 67 55 ** ** 68 69  64
 + Kerry Koe                      TERR  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 64 **  64
 
   THIRDS 
 1 Jan Betker                     CAN   73 ** ** 89 93 90 ** 81 88 89 ** ** 71 93 80 ** 90  85
 2 Theresa Breen                  ONT   ** 68 86 69 ** ** 78 93 75 ** 78 85 93 ** ** 80 81  80
 2 Heather Godberson              ALTA  ** 78 ** 81 74 79 ** 94 ** 85 58 85 65 ** 85 86 **  80
 4 Jan Wiltzen                    B.C.  86 ** ** 73 76 74 66 ** 76 ** 84 83 ** 75 ** 90 69  77
 5 Susan McInnis                  PEI   82 ** 72 ** 81 ** 85 81 63 ** 79 ** 80 73 73 69 **  76
 6 June Campbell                  N.B.  75 73 ** ** 73 73 71 ** 70 74 ** ** 78 70 71 ** 94  75
 7 Kristy Lewis                   SASK  78 81 ** ** 67 76 74 ** 80 ** 60 73 ** 76 ** 91 48  74
 8 Angie Bryant                   N.S.  ** 74 67 69 ** ** 71 66 70 79 ** ** 86 71 76 ** 66  72
 9 Betty Couling                  MAN   63 66 ** 69 ** 68 74 ** ** 80 59 85 ** 76 58 ** 79  70
10 Dawn Moses                     TERR  61 ** ** 68 75 78 ** 54 ** 76 48 61 86 ** 75 61 **  68
10 Kelli Sharpe                   NFLD  68 70 67 ** ** ** 66 63 ** 68 60 65 ** 65 77 85 **  68
12 Nathalie Gagnon                QUE   ** 67 ** 74 69 59 ** 76 67 63 ** 68 74 ** ** 46 53  66
 
   SKIPS  
 1 Cathy Borst                    ALTA  ** 72 ** 74 75 86 ** 90 ** 87 77 88 81 ** 79 82 **  80
 2 Anne Merklinger                ONT   ** 61 94 69 ** ** 75 75 82 ** 83 58 88 ** ** 66100  76
 3 Sandra Schmirler               CAN   89 ** ** 88 76 78 ** 64 73 78 ** ** 48 85 66 ** 75  75
 4 Cathy Trowell                  SASK  78 75 ** ** 65 78 57 ** 68 ** 54 93 ** 76 ** 78 68  72
 4 Tammi Lowther                  PEI   81 ** 67 ** 68 ** 76 75 69 ** 65 ** 74 78 75 64 **  72
 6 Kelly Kaylo                    TERR  68 ** ** 69 83 84 ** 65 ** 63 48 73 80 ** 79 67 **  71
 6 Kathy Floyd                    N.B.  73 71 ** ** 66 70 79 ** 71 82 ** ** 63 66 76 ** 66  71
 8 Lois Fowler                    MAN   61 66 ** 75 ** 88 79 ** ** 65 66 86 ** 69 47 ** 61  70
 8 Mary Mattatall                 N.S.  ** 61 64 72 ** ** 78 74 83 78 ** ** 76 74 68 ** 41  70
 8 Sue Garvey                     B.C.  88 ** ** 71 64 85 64 ** 78 ** 64 43 ** 66 ** 76 56  70
11 Heather Strong                 NFLD  71 60 78 ** ** ** 65 27 ** 68 78 63 ** 79 84 75 **  69
12 Marie-Claude Carlos            QUE   ** 60 ** 70 72 66 ** 67 55 64 ** 78 69 ** ** 63 53  66
 
   TEAMS
 1 Canada (Schmirler)                   81 ** ** 84 82 85 ** 73 79 81 ** ** 65 88 76 ** 83  80
 1 Alberta (Borst)                      ** 83 ** 77 78 82 ** 90 ** 82 64 88 70 ** 80 83 **  80
 3 Ontario (Merklinger)                 ** 73 83 75 ** ** 78 82 83 ** 76 77 86 ** ** 73 84  79
 4 P.E.I. (Lowther)                     81 ** 72 ** 75 ** 81 80 71 ** 75 ** 77 76 78 76 **  77
 5 Sask (Trowell)                       81 80 ** ** 73 72 75 ** 73 ** 59 82 ** 77 ** 82 66  75
 5 B.C. (Garvey)                        86 ** ** 72 68 78 71 ** 78 ** 76 73 ** 73 ** 81 65  75
 5 N.S. (Mattatall)                     ** 74 71 72 ** ** 78 69 81 84 ** ** 81 71 75 ** 62  75
 8 N.B. (Floyd)                         75 73 ** ** 68 77 74 ** 77 76 ** ** 72 66 71 ** 73  73
 9 Manitoba (Fowler)                    67 70 ** 70 ** 79 76 ** ** 76 66 81 ** 75 59 ** 72  72
10 Y/NWT (Kaylo)                        66 ** ** 67 81 74 ** 68 ** 74 58 60 75 ** 74 64 **  70
11 NFLD (Strong)                        72 66 76 ** ** ** 69 57 ** 65 65 65 ** 67 74 76 **  69
12 Quebec (Carlos)                      ** 63 ** 70 68 60 ** 71 66 65 ** 74 70 ** ** 61 60  67
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1998 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Marcia Gudereit                CAN    +  *  *  +  0  +  *  0  +  -  *  *  +  +  -  *  +  +5
Heather Hopkins                N.S.   *  +  0  -  *  *  0  +  0  +  *  *  +  0  +  *  +  +5
Keri-Lynn Schikowski           SASK   +  0  *  *  0  +  0  *  -  *  +  +  *  0  *  0  +  +4
Julie Scales                   PEI    +  *  -  *  0  *  0  +  0  *  +  *  -  +  +  +  *  +4
Audrey Frey                    ONT    *  -  +  +  *  *  0  0  +  *  -  0  +  *  *  +  +  +4
Jocelyn Beever                 MAN    -  +  *  0  *  +  0  *  *  +  +  -  *  -  +  *  -  +1
Val Lahucik                    B.C.   0  *  *  0  -  -  0  *  0  *  +  0  *  +  *  0  -  -1
Jane Arseneau                  N.B.   -  -  *  *  0  0  +  *  0  0  *  *  -  -  +  *  -  -3
Kate Horne                     ALTA   *  +  *  +  -  0  *  +  *  -  -  0  -  *  -  -  *  -3
Sylvie Fortin                  QUE    *  -  *  -  +  -  *  -  -  0  *  +  +  *  *  0  -  -3
Karen Thomas                   NFLD   0  0  0  *  *  *  -  -  *  -  -  0  *  -  -  0  *  -6
Cheryl Burlington              TERR   -  *  *  -  +  -  *  -  *  +  -  -  -  *  -  -  *  -7
 
SECONDS
Brenda Bohmer                  ALTA   *  +  *  0  +  0  *  0  *  +  +  +  0  *  +  0  *  +6
Patti McKnight                 ONT    *  -  0  +  *  *  +  +  +  *  +  +  0  *  *  +  0  +6
Karen Daku                     SASK   +  +  *  *  0  +  +  *  -  *  -  +  *  +  *  0  +  +5
Allison MacInnes               B.C.   +  *  *  0  +  -  -  *  +  *  +  -  *  +  *  0  +  +3
Joan McCusker                  CAN    0  *  *  +  0  +  *  -  -  -  *  *  0  +  0  *  +  +1
Shelley Muzika                 PEI    +  *  0  *  +  *  -  +  -  *  +  *  0  -  0  0  *  +1
Sharon Cormier                 TERR   -  *  *  -  -  0  *  +  *  +  -  -  +  *  +  *  *  -1
Allison Franey                 N.B.   0  +  *  *  -  0  0  *  0  +  *  *  0  -  -  *  -  -2
Michele Renouf                 NFLD   -  -  +  *  *  *  0  0  *  -  -  -  *  -  +  +  *  -3
Lisa MacLeod                   N.S.   *  +  -  -  *  *  +  -  0  +  *  *  0  -  -  *  -  -3
Sharon Fowler                  MAN    -  -  *  0  *  0  -  *  *  -  -  +  *  +  -  *  -  -5
Julie Blackburn                QUE    *  -  *  0  -  -  *  -  +  -  *  -  -  *  *  -  0  -7
 
THIRDS 
Jan Betker                     CAN    0  *  *  +  +  +  *  -  +  +  *  *  +  +  +  *  +  +8
Heather Godberson              ALTA   *  +  *  +  0  +  *  +  *  +  0  0  -  *  +  +  *  +6
Theresa Breen                  ONT    *  -  +  0  *  *  +  +  -  *  +  +  +  *  *  +  +  +6
Jan Wiltzen                    B.C.   +  *  *  0  +  -  -  *  +  *  +  0  *  +  *  0  0  +3
Kristy Lewis                   SASK   +  +  *  *  -  +  -  *  +  *  0  +  *  +  *  0  -  +3
June Campbell                  N.B.   0  +  *  *  -  -  +  *  0  +  *  *  -  -  0  *  +   0
Susan McInnis                  PEI    +  *  -  *  +  *  +  +  -  *  +  *  -  0  -  -  *   0
Angie Bryant                   N.S.   *  +  0  0  *  *  0  +  0  -  *  *  +  -  -  *  0   0
Dawn Moses                     TERR   -  *  *  -  0  +  *  -  *  +  -  -  +  *  0  -  *  -3
Kelli Sharpe                   NFLD   -  -  0  *  *  *  -  -  *  -  -  -  *  -  +  +  *  -6
Betty Couling                  MAN    -  -  *  0  *  -  0  *  *  -  -  +  *  0  -  *  -  -6
Nathalie Gagnon                QUE    *  -  *  -  -  -  *  -  -  -  *  -  -  *  *  -  - -11
 
SKIPS  
Cathy Borst                    ALTA   *  +  *  0  -  +  *  +  *  +  +  +  +  *  +  +  *  +8
Anne Merklinger                ONT    *  -  +  0  *  *  +  +  +  *  +  -  +  *  *  0  +  +5
Sue Garvey                     B.C.   +  *  *  0  -  +  -  *  +  *  +  -  *  0  *  0  +  +2
Sandra Schmirler               CAN    +  *  *  +  +  -  *  -  +  0  *  *  -  +  -  *  +  +2
Heather Strong                 NFLD   -  -  +  *  *  *  -  -  *  +  +  +  *  -  +  +  *  +1
Tammi Lowther                  PEI    +  *  -  *  0  *  +  +  -  *  -  *  0  +  +  -  *  +1
Cathy Trowell                  SASK   +  +  *  *  -  +  -  *  -  *  -  +  *  0  *  0  0   0
Kathy Floyd                    N.B.   -  +  *  *  0  -  +  *  -  +  *  *  -  0  0  *  0  -1
Mary Mattatall                 N.S.   *  0  -  0  *  *  0  +  +  0  *  *  0  0  -  *  -  -1
Kelly Kaylo                    TERR   -  *  *  -  +  0  *  -  *  -  -  -  +  *  0  0  *  -4
Lois Fowler                    MAN    -  -  *  0  *  0  0  *  *  -  -  +  *  -  -  *  -  -6
Marie-Claude Carlos            QUE    *  0  *  0  +  -  *  -  -  -  *  -  -  *  *  -  -  -7
 
   TEAMS
Alberta (Borst)                       *  +  *  +  0  +  *  +  *  +  +  +  +  *  +  +  * +10
Ontario (Merklinger)                  *  -  +  0  *  *  +  +  +  *  +  +  +  *  *  +  +  +8
Canada (Schmirler)                    +  *  *  +  +  +  *  -  +  0  *  *  -  +  0  *  +  +5
P.E.I. (Lowther)                      +  *  -  *  +  *  +  +  -  *  +  *  0  0  0  -  *  +2
B.C. (Garvey)                         +  *  *  0  0  -  -  *  +  *  +  -  *  +  *  0  0  +1
Sask (Trowell)                        +  +  *  *  -  +  -  *  -  *  -  +  *  +  *  0  -   0
N.S. (Mattatall)                      *  +  -  0  *  *  0  0  0  0  *  *  0  -  -  *  0  -2
N.B. (Floyd)                          -  0  *  *  -  -  +  *  0  +  *  *  -  -  0  *  +  -2
Manitoba (Fowler)                     -  0  *  0  *  +  0  *  *  -  -  +  *  0  -  *  -  -3
Y/NWT (Kaylo)                         -  *  *  -  0  -  *  0  *  +  -  -  +  *  0  -  *  -4
NFLD (Strong)                         -  -  +  *  *  *  -  -  *  -  -  -  *  -  +  +  *  -5
Quebec (Carlos)                       *  -  *  -  0  -  *  -  -  -  *  -  -  *  *  -  - -10
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1998 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
B.C.   11   100  FOR       3    13     31   11    3    0    1    0   67   6.1   15  0.67
                 AGAINST   5    12     31   12    2    1    0    0   65   5.9   18  0.65
 
ALTA   11    87  FOR       8    18     25   10    4    4    0    0   73   6.6   28  0.84
                 AGAINST   7     3     25    4    0    0    0    0   33   3.0    3  0.38
 
SASK   11    98  FOR      12     9     17   14    6    0    0    0   63   5.7   12  0.64
                 AGAINST   7    13     29    8    2    3    0    0   63   5.7   16  0.64
 
MAN    11    96  FOR       3     6     26   13    3    1    0    0   65   5.9   11  0.68
                 AGAINST   2    10     30   13    4    1    0    0   72   6.5   15  0.75
 
ONT    11    99  FOR       5    14     29   17    3    1    1    0   81   7.4   22  0.82
                 AGAINST   2     6     29   10    1    1    0    0   56   5.1    7  0.57
 
QUE    11   101  FOR       5    10     39    6    0    0    0    0   51   4.6   13  0.50
                 AGAINST   5    14     26   13    4    3    0    0   76   6.9   22  0.75
 
N.S.   11   106  FOR       3     7     25   17    1    2    0    0   70   6.4   11  0.66
                 AGAINST   7    13     30   16    4    0    1    0   79   7.2   19  0.75
 
N.B.   11   105  FOR       3    10     31   10    5    1    0    0   70   6.4   12  0.67
                 AGAINST  10     7     25   13    6    1    0    0   73   6.6   12  0.70
 
PEI    11   104  FOR       7    11     29   10    3    1    0    0   62   5.6   12  0.60
                 AGAINST   6    14     34   12    0    1    1    0   67   6.1   15  0.64
 
NFLD   11   100  FOR       6     9     31    8    1    0    0    0   50   4.5   10  0.50
                 AGAINST  10    13     27   15    2    0    0    0   63   5.7   17  0.63
 
TERR   11   103  FOR      11     4     28   11    2    0    0    0   56   5.1    5  0.54
                 AGAINST   5    11     22   17    6    1    0    0   78   7.1   18  0.76
 
CAN    11    97  FOR       7    11     23   15    3    3    0    0   74   6.7   20  0.76
                 AGAINST   7     6     26    9    3    1    0    0   57   5.2    9  0.59
 
 
TOTAL  66   598  FOR      73   122    334  142   34   13    2    0  782   5.9  171  0.65
                 AGAINST  73   122    334  142   34   13    2    0  782   5.9  171  0.65
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1998 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                                     TEAM WIN/LOSS GRID
 
 
        B.C.  ALTA  SASK  MAN   ONT   QUE   N.S.  N.B.  PEI   NFLD  TERR  CAN   
 
 
B.C.     *     L     W     L     L     L     W     L     W     W     W     W  
 
 
ALTA     W     *     W     W     W     W     W     W     W     W     L     W  
 
 
SASK     L     L     *     W     L     W     W     W     L     W     W     L  
 
 
MAN      W     L     L     *     L     W     W     L     W     L     L     L  
 
 
ONT      W     L     W     W     *     W     L     W     W     W     L     W  
 
 
QUE      W     L     L     L     L     *     W     L     W     L     L     L  
 
 
N.S.     L     L     L     L     W     L     *     W     W     L     W     L  
 
 
N.B.     W     L     L     W     L     W     L     *     L     W     W     L  
 
 
PEI      L     L     W     L     L     L     L     W     *     L     W     W  
 
 
NFLD     L     L     L     W     L     W     W     L     W     *     L     L  
 
 
TERR     L     W     L     W     W     W     L     L     L     W     *     L  
 
 
CAN      L     L     W     W     L     W     W     W     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1998 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Garvey)                  #SH   216  242  458   208  278  486   424  520  944
                                  PTS   643  683 1326   649  868 1517  1292 1551 2843
                                  PCT    74   71   72    78   78   78    76   75   75
 
 1 Val Lahucik                    #SH    78   81  159    34   38   72   112  119  231
                                  PTS   234  248  482   107  125  232   341  373  714
                                  PCT    75   77   76    79   82   81    76   78   77
 
 2 Allison MacInnes               #SH    51   48   99    70   71  141   121  119  240
                                  PTS   148  127  275   217  227  444   365  354  719
                                  PCT    73   66   69    78   80   79    75   74   75
 
 3 Jan Wiltzen                    #SH    46   51   97    56   87  143   102  138  240
                                  PTS   140  151  291   182  273  455   322  424  746
                                  PCT    76   74   75    81   78   80    79   77   78
 
 4 Sue Garvey                     #SH    41   62  103    48   82  130    89  144  233
                                  PTS   121  157  278   143  243  386   264  400  664
                                  PCT    74   63   67    74   74   74    74   69   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Borst)                #SH   190  176  366   316  227  543   506  403  909
                                  PTS   550  532 1082  1014  761 1775  1564 1293 2857
                                  PCT    72   76   74    80   84   82    77   80   79
 
 1 Kate Horne                     #SH    79   70  149    51   25   76   130   95  225
                                  PTS   248  213  461   150   80  230   398  293  691
                                  PCT    78   76   77    74   80   76    77   77   77
 
 2 Brenda Bohmer                  #SH    33   25   58   112   60  172   145   85  230
                                  PTS    94   73  167   375  196  571   469  269  738
                                  PCT    71   73   72    84   82   83    81   79   80
 
 3 Heather Godberson              #SH    35   31   66    90   74  164   125  105  230
                                  PTS   105   90  195   285  250  535   390  340  730
                                  PCT    75   73   74    79   84   82    78   81   79
 
 4 Cathy Borst                    #SH    43   50   93    63   68  131   106  118  224
                                  PTS   103  156  259   204  235  439   307  391  698
                                  PCT    60   78   70    81   86   84    72   83   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Trowell)                 #SH   234  164  398   277  187  464   511  351  862
                                  PTS   697  460 1157   866  567 1433  1563 1027 2590
                                  PCT    74   70   73    78   76   77    76   73   75
 
 1 Keri-Lynn Schikowski           #SH    86   49  135    61   18   79   147   67  214
                                  PTS   276  148  424   185   54  239   461  202  663
                                  PCT    80   76   79    76   75   76    78   75   77
 
 2 Karen Daku                     #SH    52   39   91    71   56  127   123   95  218
                                  PTS   143  119  262   238  176  414   381  295  676
                                  PCT    69   76   72    84   79   81    77   78   78
 
 3 Kristy Lewis                   #SH    43   39   82    71   65  136   114  104  218
                                  PTS   127  105  232   219  194  413   346  299  645
                                  PCT    74   67   71    77   75   76    76   72   74
 
 4 Cathy Trowell                  #SH    53   37   90    74   48  122   127   85  212
                                  PTS   151   88  239   224  143  367   375  231  606
                                  PCT    71   59   66    76   74   75    74   68   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Fowler)              #SH   218  195  413   169  210  379   387  405  792
                                  PTS   620  512 1132   510  639 1149  1130 1151 2281
                                  PCT    71   66   69    75   76   76    73   71   72
 
 1 Jocelyn Beever                 #SH    65   69  134    22   41   63    87  110  197
                                  PTS   211  208  419    62  132  194   273  340  613
                                  PCT    81   75   78    70   80   77    78   77   78
 
 2 Sharon Fowler                  #SH    50   47   97    49   54  103    99  101  200
                                  PTS   128  125  253   150  155  305   278  280  558
                                  PCT    64   66   65    77   72   74    70   69   70
 
 3 Betty Couling                  #SH    56   43   99    38   63  101    94  106  200
                                  PTS   145   92  237   124  202  326   269  294  563
                                  PCT    65   53   60    82   80   81    72   69   70
 
 4 Lois Fowler                    #SH    47   36   83    60   52  112   107   88  195
                                  PTS   136   87  223   174  150  324   310  237  547
                                  PCT    72   60   67    73   72   72    72   67   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Merklinger)           #SH   302  216  518   296  223  519   598  439 1037
                                  PTS   946  623 1569   978  731 1709  1924 1354 3278
                                  PCT    78   72   76    83   82   82    80   77   79
 
 1 Audrey Frey                    #SH   103   61  164    48   43   91   151  104  255
                                  PTS   346  190  536   151  149  300   497  339  836
                                  PCT    84   78   82    79   87   82    82   81   82
 
 2 Patti McKnight                 #SH    60   54  114    83   65  148   143  119  262
                                  PTS   177  156  333   265  217  482   442  373  815
                                  PCT    74   72   73    80   83   81    77   78   78
 
 3 Theresa Breen                  #SH    60   57  117    93   52  145   153  109  262
                                  PTS   181  168  349   328  175  503   509  343  852
                                  PCT    75   74   75    88   84   87    83   79   81
 
 4 Anne Merklinger                #SH    79   44  123    72   63  135   151  107  258
                                  PTS   242  109  351   234  190  424   476  299  775
                                  PCT    77   62   71    81   75   79    79   70   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Carlos)                #SH   270  131  401   262  154  416   532  285  817
                                  PTS   687  340 1027   744  404 1148  1431  744 2175
                                  PCT    64   65   64    71   66   69    67   65   67
 
 1 Sylvie Fortin                  #SH    94   28  122    59   23   82   153   51  204
                                  PTS   261   88  349   169   54  223   430  142  572
                                  PCT    69   79   72    72   59   68    70   70   70
 
 2 Julie Blackburn                #SH    68   25   93    71   42  113   139   67  206
                                  PTS   164   70  234   189  105  294   353  175  528
                                  PCT    60   70   63    67   63   65    63   65   64
 
 3 Nathalie Gagnon                #SH    59   33   92    73   41  114   132   74  206
                                  PTS   134   62  196   221  127  348   355  189  544
                                  PCT    57   47   53    76   77   76    67   64   66
 
 4 Marie-Claude Carlos            #SH    49   45   94    59   48  107   108   93  201
                                  PTS   128  120  248   165  118  283   293  238  531
                                  PCT    65   67   66    70   61   66    68   64   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.S. (Mattatall)               #SH   226  188  414   233  211  444   459  399  858
                                  PTS   658  558 1216   708  635 1343  1366 1193 2559
                                  PCT    73   74   73    76   75   76    74   75   75
 
 1 Heather Hopkins                #SH    90   49  139    35   35   70   125   84  209
                                  PTS   316  163  479   116  116  232   432  279  711
                                  PCT    88   83   86    83   83   83    86   83   85
 
 2 Lisa MacLeod                   #SH    51   38   89    71   58  129   122   96  218
                                  PTS   133  117  250   198  172  370   331  289  620
                                  PCT    65   77   70    70   74   72    68   75   71
 
 3 Angie Bryant                   #SH    48   45   93    79   46  125   127   91  218
                                  PTS   123  130  253   252  126  378   375  256  631
                                  PCT    64   72   68    80   68   76    74   70   72
 
 4 Mary Mattatall                 #SH    37   56   93    48   72  120    85  128  213
                                  PTS    86  148  234   142  221  363   228  369  597
                                  PCT    58   66   63    74   77   76    67   72   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Floyd)                   #SH   210  223  433   215  213  428   425  436  861
                                  PTS   629  637 1266   588  651 1239  1217 1288 2505
                                  PCT    75   71   73    68   76   72    72   74   73
 
 1 Jane Arseneau                  #SH    68   77  145    33   35   68   101  112  213
                                  PTS   212  243  455    81   94  175   293  337  630
                                  PCT    78   79   78    61   67   64    73   75   74
 
 2 Allison Franey                 #SH    56   47  103    55   60  115   111  107  218
                                  PTS   164  130  294   145  183  328   309  313  622
                                  PCT    73   69   71    66   76   71    70   73   71
 
 3 June Campbell                  #SH    40   48   88    65   65  130   105  113  218
                                  PTS   115  131  246   210  194  404   325  325  650
                                  PCT    72   68   70    81   75   78    77   72   75
 
 4 Kathy Floyd                    #SH    46   51   97    62   53  115   108  104  212
                                  PTS   138  133  271   152  180  332   290  313  603
                                  PCT    75   65   70    61   85   72    67   75   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (Lowther)               #SH   164  231  395   200  246  446   364  477  841
                                  PTS   455  733 1188   633  755 1388  1088 1488 2576
                                  PCT    69   79   75    79   77   78    75   78   77
 
 1 Julie Scales                   #SH    38  103  141    23   46   69    61  149  210
                                  PTS   100  361  461    73  148  221   173  509  682
                                  PCT    66   88   82    79   80   80    71   85   81
 
 2 Shelley Muzika                 #SH    57   31   88    82   42  124   139   73  212
                                  PTS   165   90  255   272  128  400   437  218  655
                                  PCT    72   73   72    83   76   81    79   75   77
 
 3 Susan McInnis                  #SH    33   42   75    54   83  137    87  125  212
                                  PTS    85  123  208   166  270  436   251  393  644
                                  PCT    64   73   69    77   81   80    72   79   76
 
 4 Tammi Lowther                  #SH    36   55   91    41   75  116    77  130  207
                                  PTS   105  159  264   122  209  331   227  368  595
                                  PCT    73   72   73    74   70   71    74   71   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Strong)                  #SH   194  146  340   260  217  477   454  363  817
                                  PTS   514  403  917   724  606 1330  1238 1009 2247
                                  PCT    66   69   67    70   70   70    68   69   69
 
 1 Karen Thomas                   #SH    97   37  134    47   25   72   144   62  206
                                  PTS   270  116  386   117   73  190   387  189  576
                                  PCT    70   78   72    62   73   66    67   76   70
 
 2 Michele Renouf                 #SH    29   37   66    84   56  140   113   93  206
                                  PTS    73  107  180   228  150  378   301  257  558
                                  PCT    63   72   68    68   67   68    67   69   68
 
 3 Kelli Sharpe                   #SH    37   36   73    70   63  133   107   99  206
                                  PTS    97   89  186   200  177  377   297  266  563
                                  PCT    66   62   64    71   70   71    69   67   68
 
 4 Heather Strong                 #SH    31   36   67    59   73  132    90  109  199
                                  PTS    74   91  165   179  206  385   253  297  550
                                  PCT    60   63   62    76   71   73    70   68   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Kaylo)                  #SH   183  195  378   247  200  447   430  395  825
                                  PTS   463  533  996   750  554 1304  1213 1087 2300
                                  PCT    63   68   66    76   69   73    71   69   70
 
 1 Cheryl Burlington              #SH    49   80  129    55   24   79   104  104  208
                                  PTS   119  248  367   159   53  212   278  301  579
                                  PCT    61   78   71    72   55   67    67   72   70
 
 2 Sharon Cormier                 #SH    45   31   76    51   61  112    96   92  188
                                  PTS   111   68  179   166  182  348   277  250  527
                                  PCT    62   55   59    81   75   78    72   68   70
 
 3 Dawn Moses                     #SH    46   43   89    67   52  119   113   95  208
                                  PTS   116  108  224   202  143  345   318  251  569
                                  PCT    63   63   63    75   69   72    70   66   68
 
 4 Kelly Kaylo                    #SH    41   37   78    62   61  123   103   98  201
                                  PTS   113   95  208   193  173  366   306  268  574
                                  PCT    69   64   67    78   71   74    74   68   71
 
 5 Kerry Koe                      #SH     2    4    6    12    2   14    14    6   20
                                  PTS     4   14   18    30    3   33    34   17   51
                                  PCT    50   88   75    63   38   59    61   71   64
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Schmirler)             #SH   229  147  376   305  216  521   534  363  897
                                  PTS   745  438 1183  1008  683 1691  1753 1121 2874
                                  PCT    81   74   79    83   79   81    82   77   80
 
 1 Marcia Gudereit                #SH   113   39  152    51   19   70   164   58  222
                                  PTS   383  126  509   166   63  229   549  189  738
                                  PCT    85   81   84    81   83   82    84   81   83
 
 2 Joan McCusker                  #SH    42   30   72    89   65  154   131   95  226
                                  PTS   136   81  217   288  192  480   424  273  697
                                  PCT    81   68   75    81   74   78    81   72   77
 
 3 Jan Betker                     #SH    36   30   66    89   71  160   125  101  226
                                  PTS   114   96  210   310  243  553   424  339  763
                                  PCT    79   80   80    87   86   86    85   84   84
 
 4 Sandra Schmirler               #SH    38   48   86    76   61  137   114  109  223
                                  PTS   112  135  247   244  185  429   356  320  676
                                  PCT    74   70   72    80   76   78    78   73   76
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1998 Scott Tournament of Hearts
                                    Regina, Saskatchewan
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  3    ONT  12  PEI   4
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          DRAW  8    NFLD  0  ALTA  8
          DRAW 12    ALTA  9  B.C.  0
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW  2    N.B. 10  MAN   9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  2    SASK  5  NFLD  2
          DRAW 16    PEI   3  ALTA  4
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  3    ONT  12  PEI   4    ONT  SCORED 5 IN THE 8TH END
          DRAW 17    N.S.  2  B.C.  9    B.C. SCORED 5 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  4    TERR  4  CAN  10    CAN  SCORED 4 IN THE 8TH END
          DRAW  9    QUE   3  CAN   9    CAN  SCORED 4 IN THE 5TH END
          DRAW 12    ALTA  9  B.C.  0    ALTA SCORED 4 IN THE 5TH END
          DRAW 13    CAN   2  ALTA  9    ALTA SCORED 4 IN THE 6TH END
          DRAW 17    ONT   9  QUE   1    ONT  SCORED 4 IN THE THIRD END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  2    SASK  5  NFLD  2
          DRAW  5    ALTA  3  TERR  5
 
NUMBER OF BLANK ENDS IN EVENT:  77
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW  5
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  5    ALTA  3  TERR  5    BY ALTA BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  8    NFLD  0  ALTA  8
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  8    NFLD  0  ALTA  8    BY ALTA BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  8    NFLD  0  ALTA  8    BY ALTA
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  2    N.S.  8  QUE   9    QUE  WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   6
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    N.S.  8  QUE   9
          DRAW  3    NFLD  7  N.S.  6
          DRAW  5    B.C.  6  QUE   7
          DRAW 13    TERR  7  QUE   5
          DRAW 20    ALTA  7  ONT   6
          DRAW 22    ALTA  7  ONT   6
 
FEWEST ENDS PLAYED IN ONE GAME:   4
 
          DRAW 17    ONT   9  QUE   1
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  8    NFLD  0  ALTA  8    BY NFLD
  </div>
</div>
