<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1999 Scott Tournament of Hearts
                                     Charlottetown, PEI
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Kate Horne                     CAN   79 ** ** 75 83 73 ** 91 77 91 ** ** 97 78 85 ** 97  83
 2 Karen McNamee                  ALTA  88 ** 75 ** 85 ** 75 69 72 ** 84 ** 91 90 85 76 **  80
 2 Lou Ann Henry                  PEI   71 71 ** ** 90 81 89 ** 90 ** 78 80 ** 79 ** 73 76  80
 2 Shannon Wilson                 SASK  86 72 ** 63 ** 85 79 ** ** 75 94 73 ** 89 68 ** 85  80
 2 Nancy Delahunt                 N.S.  ** 68 78 89 ** ** 69 88 84 ** 92 73 83 ** ** 84 75  80
 6 Janet Arnott                   MAN   71 77 ** ** 70 82 93 ** 76 69 ** ** 88 74 84 ** 88  78
 6 Nancy Lemire                   QUE   70 65 83 ** ** ** 85 86 ** 78 62 93 ** 80 81 74 **  78
 + Mary Harding                   N.B.  ** ** ** ** ** ** 83 ** ** ** ** ** ** ** ** ** 74  78
 6 Michele Renouf                 NFLD  77 ** ** 78 74 68 ** 72 ** 78 82 79 81 ** 90 75 **  78
 9 Denise Byers                   B.C.  ** 65 ** 70 83100 ** 69 ** ** 79 86 75 ** 71 77 **  77
10 Jane Arseneau                  N.B.  ** 86 71 84 ** ** ** 60 97 74 ** ** 63 73 75 ** **  76
11 Allison Ross                   ONT   ** 77 ** 78 69 64 ** 77 66 91 ** 59 83 ** ** 79 79  75
12 Debbie Moss                    TERR  84 ** ** 59 69 59 76 ** 69 ** 56 80 ** 78 ** 85 78  72
 + Shalegh Beddington             B.C.  ** ** ** ** ** ** ** ** ** 71 ** ** ** ** ** ** **  71
 
   SECONDS
 1 Brenda Bohmer                  CAN   86 ** ** 76 84 89 ** 95 84 94 ** ** 91 83 76 ** 81  85
 2 Debbie Jones-Walker            MAN   68 67 ** ** 88 93 74 ** 75 76 ** ** 90 73 85 ** 71  78
 2 Mary-Anne Waye                 N.S.  ** 71 74 78 ** ** 73 84 88 ** 86 66 85 ** ** 80 71  78
 4 Kathy O'Rourke                 PEI   76 65 ** ** 68 84 90 ** 83 ** 83 83 ** 80 ** 54 65  76
 5 Susan Wright                   NFLD  68 ** ** 71 88 81 ** 64 ** 61 93 81 69 ** 84 66 **  75
 5 Allison Tanner                 SASK  78 64 ** 77 ** 71 78 ** ** 68 72 88 ** 73 86 ** 74  75
 5 Sally Karam                    ONT   ** 80 ** 80 55 74 ** 68 80 94 ** 82 75 ** ** 71 71  75
 8 Annie Lemay                    QUE   69 63 69 ** ** ** 81 74 ** 89 67 83 ** 83 70 66 **  74
 9 Allison Franey                 N.B.  ** 80 78 81 ** ** 60 73 75 78 ** ** 72 64 91 ** 55  73
10 Twyla Tincher                  TERR  65 ** ** 63 73 75 80 ** 85 ** 74 79 ** 61 ** 70 68  72
11 Cindy Tucker                   B.C.  ** 73 ** 66 79 61 ** 67 ** 58 66 71 69 ** 78 89 **  71
11 Tina McDonald                  ALTA  70 ** 75 ** 83 ** 70 72 68 ** 69 ** 64 69 66 69 **  71
 
   THIRDS 
 1 Heather Godberson              CAN   81 ** ** 83 75 79 ** 66 89 96 ** **100 88 79 ** 82  83
 2 Marcy Balderston               ALTA  77 ** 81 ** 85 ** 94 78 75 ** 78 ** 58 84 79 85 **  80
 2 Cathy Overton-Clapham          MAN   73 86 ** ** 84 93 81 ** 70 83 ** ** 74 84 76 ** 74  80
 4 Kim Kelly                      N.S.  ** 65 75 80 ** ** 83 80 81 ** 79 85 69 ** ** 75 73  77
 5 Brandee Davis                  SASK  63 61 ** 75 ** 75 75 ** ** 88 81 88 ** 80 84 ** 71  76
 6 Kim Dolan                      PEI   63 76 ** ** 70 85 93 ** 66 ** 79 64 ** 81 ** 61 78  75
 7 Joelle Sabourin                QUE   70 64 75 ** ** ** 69 67 ** 77 80 85 ** 85 74 68 **  74
 7 Kelli Sharpe                   NFLD  48 ** ** 76 88 75 ** 68 ** 59 76 71 80 ** 88 72 **  74
 + Shalegh Beddington             B.C.  ** ** ** ** ** ** ** ** ** ** ** 61 ** ** 83 75 **  73
 9 Michelle Harding               B.C.  ** 63 ** 83 79 83 ** 70 ** 68 69 ** 75 ** ** ** **  73
 9 Kathy Floyd (S)                N.B.  ** 50 83 59 ** ** ** 58 80 74 ** ** 88 70 88 ** 76  73
11 Wendy Ondrack                  TERR  65 ** ** 52 69 70 82 ** 78 ** 65 71 ** 74 ** 64 81  71
11 Sherry Scheirich               ONT   ** 86 ** 80 57 76 ** 69 66 77 ** 73 73 ** ** 68 59  71
 + Jane Arseneau                  N.B.  ** ** ** ** ** ** 63 ** ** ** ** ** ** ** ** ** **  63
 
   SKIPS  
 1 Cindy Street                   SASK  83 63 ** 91 ** 89 71 ** ** 83 80 82 ** 78 66 ** 86  79
 1 Cathy Borst                    CAN   80 ** ** 88 70 71 ** 68 68 81 ** ** 97 83 88 ** 78  79
 3 Connie Laliberte               MAN   78 91 ** ** 68 68 81 ** 63 86 ** ** 83 74 88 ** 83  78
 4 Heather Strong                 NFLD  64 ** ** 75 87 74 ** 82 ** 59 67 78 89 ** 84 67 **  76
 5 Renee Handfield                ALTA  88 ** 68 ** 69 ** 72 74 70 ** 59 ** 64 85 78 88 **  74
 5 Colleen Jones                  N.S.  ** 82 63 84 ** ** 85 85 83 ** 70 71 57 ** ** 66 71  74
 7 Rebecca Jean MacPhee           PEI   44 85 ** ** 79 82 78 ** 68 ** 82 71 ** 88 ** 45 66  73
 8 Janique Berthelot              QUE   61 61 76 ** ** ** 69 68 ** 78 83 72 ** 73 73 81 **  72
 9 Marie-Anne Power               N.B.  ** 59 80 62 ** ** ** 58 71 71 ** ** 97 65 78 ** 74  71
 + Kathy Floyd (S)                N.B.  ** ** ** ** ** ** 70 ** ** ** ** ** ** ** ** ** **  70
10 Kim Gellard                    ONT   ** 86 ** 59 63 75 ** 67 66 77 ** 41 63 ** ** 71 81  69
11 Maureen Miller                 TERR  73 ** ** 43 64 76 72 ** 70 ** 57 69 ** 63 ** 94 61  67
11 Pat Sanders                    B.C.  ** 74 ** 69 73 76 ** 63 ** 56 65 ** 50 ** ** ** **  67
 + Michelle Harding               B.C.  ** ** ** ** ** ** ** ** ** ** ** 50 ** ** 64 69 **  62
 
   TEAMS
 1 Canada (Borst)                       82 ** ** 80 78 78 ** 80 79 90 ** ** 96 83 82 ** 85  82
 2 Manitoba (Laliberte)                 72 80 ** ** 78 84 82 ** 71 79 ** ** 83 76 83 ** 78  79
 3 Saskatchewan(Street)                 77 65 ** 77 ** 80 76 ** ** 78 82 83 ** 80 76 ** 79  78
 4 Nova Scotia (Jones)                  ** 71 72 82 ** ** 78 84 84 ** 82 74 74 ** ** 76 73  77
 5 Alberta (Handfield)                  80 ** 75 ** 81 ** 78 73 71 ** 73 ** 69 82 77 80 **  76
 5 PEI (MacPhee)                        64 74 ** ** 77 83 88 ** 77 ** 80 74 ** 82 ** 58 71  76
 5 NFLD (Strong)                        64 ** ** 75 84 74 ** 71 ** 64 79 77 79 ** 86 70 **  76
 8 Quebec (Berthelot)                   68 63 76 ** ** ** 76 74 ** 80 73 83 ** 80 74 72 **  75
 9 New Brunswick(Floyd)                 ** 69 78 72 ** ** 69 62 81 74 ** ** 80 68 83 ** 69  73
10 Ontario (Gellard)                    ** 82 ** 74 61 72 ** 70 70 85 ** 64 73 ** ** 72 73  72
10 B. C. (Sanders)                      ** 68 ** 72 78 80 ** 67 ** 63 70 67 67 ** 74 78 **  72
12 Y/NWT (Miller)                       72 ** ** 54 69 70 77 ** 76 ** 63 75 ** 69 ** 78 72  71
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1999 Scott Tournament of Hearts
                                     Charlottetown, PEI
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Kate Horne                     CAN    +  *  *  0  -  +  *  0  +  +  *  *  +  0  0  *  +  +5
Lou Ann Henry                  PEI    -  +  *  *  +  +  +  *  +  *  0  0  *  +  *  -  -  +3
Karen McNamee                  ALTA   +  *  0  *  +  *  -  -  0  *  +  *  +  0  0  0  *  +2
Debbie Moss                    TERR   +  *  *  0  0  -  +  *  0  *  -  -  *  0  *  +  0   0
Shannon Wilson                 SASK   +  -  *  0  *  +  0  *  *  0  0  +  *  0  -  *  -   0
Denise Byers                   B.C.   *  0  *  -  +  +  *  -  *  *  0  +  -  *  0  0  *   0
Allison Ross                   ONT    *  -  *  +  0  -  *  +  -  +  *  -  0  *  *  +  0   0
Nancy Lemire                   QUE    -  -  +  *  *  *  -  +  *  0  -  +  *  0  +  -  *  -1
Michele Renouf                 NFLD   -  *  *  0  -  -  *  +  *  0  +  0  0  *  +  -  *  -1
Janet Arnott                   MAN    -  +  *  *  -  -  +  *  -  -  *  *  +  0  -  *  +  -2
Nancy Delahunt                 N.S.   *  0  0  +  *  *  -  0  -  *  0  -  -  *  *  +  0  -2
Jane Arseneau                  N.B.   *  +  -  -  *  *  *  -  +  -  *  *  -  -  0  *  *  -4
 
SECONDS
Brenda Bohmer                  CAN    +  *  *  +  +  +  *  +  0  +  *  *  +  0  +  *  +  +9
Twyla Tincher                  TERR   0  *  *  -  +  -  +  *  +  *  -  +  *  -  *  +  +  +2
Allison Tanner                 SASK   0  0  *  +  *  -  +  *  *  +  -  +  *  0  +  *  -  +2
Debbie Jones-Walker            MAN    -  0  *  *  +  +  -  *  0  -  *  *  +  +  0  *  +  +2
Annie Lemay                    QUE    0  0  -  *  *  *  +  +  *  +  0  +  *  0  -  -  *  +1
Sally Karam                    ONT    *  0  *  +  -  -  *  0  0  +  *  -  +  *  *  +  0  +1
Kathy O'Rourke                 PEI    0  0  *  *  -  +  +  *  -  *  +  0  *  +  *  -  -   0
Allison Franey                 N.B.   *  0  +  0  *  *  -  +  0  -  *  *  +  -  +  *  -   0
Mary-Anne Waye                 N.S.   *  0  0  0  *  *  -  -  +  *  +  -  -  *  *  +  0  -1
Susan Wright                   NFLD   0  *  *  -  +  +  *  -  *  -  +  0  -  *  0  -  *  -2
Tina McDonald                  ALTA   0  *  0  *  -  *  -  0  -  *  0  *  -  0  -  -  *  -6
Cindy Tucker                   B.C.   *  0  *  -  -  -  *  -  *  -  -  -  -  *  -  +  *  -8
 
THIRDS 
Heather Godberson              CAN    +  *  *  +  +  +  *  -  +  +  *  *  +  0  0  *  +  +7
Brandee Davis                  SASK   0  -  *  +  *  0  +  *  *  +  0  +  *  0  +  *  -  +3
Cathy Overton-Clapham          MAN    -  +  *  *  0  +  +  *  -  +  *  *  +  +  -  *  0  +3
Marcy Balderston               ALTA   +  *  +  *  0  *  0  +  0  *  0  *  -  0  0  +  *  +3
Kelli Sharpe                   NFLD   -  *  *  -  +  0  *  +  *  -  +  +  +  *  +  0  *  +3
Kim Kelly                      N.S.   *  0  -  +  *  *  0  +  +  *  0  0  -  *  *  0  +  +2
Kim Dolan                      PEI    0  +  *  *  -  +  0  *  -  *  +  -  *  +  *  0  0  +1
Joelle Sabourin                QUE    +  -  -  *  *  *  -  0  *  +  0  0  *  0  -  0  *  -2
Wendy Ondrack                  TERR   -  *  *  -  +  -  0  *  0  *  -  +  *  -  *  0  +  -2
Kathy Floyd (S)                N.B.   *  -  +  -  *  *  *  -  +  -  *  *  +  -  +  *  -  -2
Michelle Harding               B.C.   *  0  *  0  -  -  *  0  *  -  -  *  -  *  *  *  *  -5
Sherry Scheirich               ONT    *  +  *  0  -  -  *  -  -  -  *  -  -  *  *  0  -  -7
 
SKIPS  
Cindy Street                   SASK   +  -  *  +  *  +  0  *  *  +  +  +  *  -  -  *  +  +4
Connie Laliberte               MAN    0  +  *  *  0  -  +  *  -  +  *  *  +  +  0  *  +  +4
Janique Berthelot              QUE    -  -  0  *  *  *  -  +  *  +  +  0  *  -  +  +  *  +1
Rebecca Jean MacPhee           PEI    -  +  *  *  +  +  +  *  -  *  +  -  *  +  *  -  -  +1
Cathy Borst                    CAN    0  *  *  +  -  -  *  -  0  +  *  *  +  +  +  *  -  +1
Renee Handfield                ALTA   +  *  +  *  0  *  -  +  0  *  -  *  -  +  -  +  *  +1
Heather Strong                 NFLD   -  *  *  -  +  -  *  +  *  -  +  +  +  *  0  0  *  +1
Colleen Jones                  N.S.   *  +  -  +  *  *  +  +  +  *  -  0  -  *  *  0  -  +1
Maureen Miller                 TERR   +  *  *  -  0  +  -  *  0  *  -  +  *  -  *  +  -  -1
Marie-Anne Power               N.B.   *  -  0  -  *  *  *  -  +  -  *  *  +  -  +  *  +  -1
Pat Sanders                    B.C.   *  -  *  +  -  +  *  -  *  -  -  *  -  *  *  *  *  -4
Kim Gellard                    ONT    *  +  *  -  0  -  *  -  0  -  *  -  -  *  *  -  +  -5
 
   TEAMS
Canada (Borst)                        +  *  *  +  0  +  *  0  +  +  *  *  +  0  +  *  +  +8
Saskatchewan(Street)                  +  -  *  +  *  +  +  *  *  +  0  +  *  0  0  *  -  +4
Manitoba (Laliberte)                  -  +  *  *  0  0  +  *  -  -  *  *  +  +  0  *  +  +2
Quebec (Berthelot)                    0  -  0  *  *  *  -  +  *  +  0  +  *  0  0  0  *  +1
Nova Scotia (Jones)                   *  0  0  +  *  *  0  0  +  *  0  -  -  *  *  +  0  +1
PEI (MacPhee)                         -  +  *  *  0  +  +  *  -  *  +  0  *  +  *  -  -  +1
Y/NWT (Miller)                        0  *  *  -  +  -  0  *  +  *  -  +  *  -  *  +  0   0
NFLD (Strong)                         -  *  *  -  +  -  *  +  *  -  +  0  +  *  0  -  *  -1
Alberta (Handfield)                   +  *  0  *  0  *  -  0  -  *  0  *  -  0  -  0  *  -3
Ontario (Gellard)                     *  +  *  0  -  -  *  0  -  +  *  -  -  *  *  0  0  -3
New Brunswick(Floyd)                  *  -  0  -  *  *  -  -  +  -  *  *  +  -  +  *  0  -3
B. C. (Sanders)                       *  0  *  0  -  0  *  -  *  -  -  -  -  *  -  0  *  -7
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1999 Scott Tournament of Hearts
                                     Charlottetown, PEI
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
B.C.   11    97  FOR      11     6     20   12    3    1    0    0   57   5.2   11  0.59
                 AGAINST   3    15     25   18    2    2    0    0   75   6.8   24  0.77
 
ALTA   11   107  FOR      11    12     28   15    0    1    0    0   62   5.6   18  0.58
                 AGAINST   9    12     26   13    3    0    1    0   66   6.0   13  0.62
 
SASK   11   103  FOR       8    16     26   13    3    2    1    0   74   6.7   24  0.72
                 AGAINST   9    11     31    8    2    0    0    0   53   4.8   13  0.51
 
MAN    11   105  FOR      12    14     28   11    3    1    0    1   69   6.3   16  0.66
                 AGAINST  10    11     24   14    1    0    0    0   55   5.0   13  0.52
 
ONT    11   102  FOR       1     6     28   13    3    0    0    0   63   5.7    6  0.62
                 AGAINST   5    15     34   13    3    2    0    0   77   7.0   24  0.75
 
QUE    11   106  FOR       9    14     28   13    3    0    0    0   63   5.7   19  0.59
                 AGAINST   6    14     30    9    8    0    0    0   72   6.5   20  0.68
 
N.S.   11   105  FOR      11    15     26   12    4    1    0    0   66   6.0   20  0.63
                 AGAINST  14    11     20   14    3    0    0    0   57   5.2   18  0.54
 
N.B.   11    99  FOR       5    13     32    9    3    0    1    0   64   5.8   15  0.65
                 AGAINST   6     9     26   10    7    0    0    0   67   6.1   11  0.68
 
PEI    11   104  FOR      11    11     28   12    3    0    0    0   61   5.5   14  0.59
                 AGAINST   4    17     31   12    3    0    0    0   64   5.8   19  0.62
 
NFLD   11    99  FOR       7    12     29    7    4    0    0    0   55   5.0   18  0.56
                 AGAINST  10    12     31    7    2    1    1    0   60   5.5   18  0.61
 
TERR   11   104  FOR       8    13     32   11    3    0    0    0   63   5.7   16  0.61
                 AGAINST   6    12     30    9    3    1    0    1   67   6.1   16  0.64
 
CAN    11    97  FOR       2    13     26    9    7    2    0    0   73   6.6   20  0.75
                 AGAINST  14     6     23   10    2    2    0    0   57   5.2    8  0.59
 
 
TOTAL  66   614  FOR      96   145    331  137   39    8    2    1  770   5.8  197  0.63
                 AGAINST  96   145    331  137   39    8    2    1  770   5.8  197  0.63
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1999 Scott Tournament of Hearts
                                     Charlottetown, PEI
 
                                     TEAM WIN/LOSS GRID
 
 
        B.C.  ALTA  SASK  MAN   ONT   QUE   N.S.  N.B.  PEI   NFLD  TERR  CAN   
 
 
B.C.     *     L     L     W     W     W     L     L     L     L     L     L  
 
 
ALTA     W     *     W     W     W     L     L     L     L     W     L     L  
 
 
SASK     W     L     *     L     W     L     L     W     W     W     W     W  
 
 
MAN      L     L     W     *     W     W     W     L     W     W     W     W  
 
 
ONT      L     L     L     L     *     W     W     W     L     L     W     L  
 
 
QUE      L     W     W     L     L     *     L     L     L     W     L     L  
 
 
N.S.     W     W     W     L     L     W     *     W     W     L     W     W  
 
 
N.B.     W     W     L     W     L     W     L     *     L     L     W     L  
 
 
PEI      W     W     L     L     W     W     L     W     *     L     L     W  
 
 
NFLD     W     L     L     L     W     L     W     W     W     *     W     L  
 
 
TERR     W     W     L     L     L     W     L     L     W     L     *     L  
 
 
CAN      W     W     L     L     W     W     L     W     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1999 Scott Tournament of Hearts
                                     Charlottetown, PEI
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B. C. (Sanders)                #SH   225  175  400   178  224  402   403  399  802
                                  PTS   642  479 1121   516  661 1177  1158 1140 2298
                                  PCT    71   68   70    72   74   73    72   71   72
 
 1 Denise Byers                   #SH    71   52  123    32   29   61   103   81  184
                                  PTS   217  155  372   100   98  198   317  253  570
                                  PCT    76   75   76    78   84   81    77   78   77
 
 2 Cindy Tucker                   #SH    50   40   90    50   62  112   100  102  202
                                  PTS   156  106  262   139  173  312   295  279  574
                                  PCT    78   66   73    70   70   70    74   68   71
 
 3 Michelle Harding               #SH    47   40   87    48   65  113    95  105  200
                                  PTS   119  107  226   135  198  333   254  305  559
                                  PCT    63   67   65    70   76   74    67   73   70
 
 4 Pat Sanders                    #SH    33   25   58    30   50   80    63   75  138
                                  PTS    87   60  147    87  134  221   174  194  368
                                  PCT    66   60   63    73   67   69    69   65   67
 
 5 Shalegh Beddington             #SH    24   18   42    18   18   36    42   36   78
                                  PTS    63   51  114    55   58  113   118  109  227
                                  PCT    66   71   68    76   81   78    70   76   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Handfield)            #SH   177  216  393   244  226  470   421  442  863
                                  PTS   498  651 1149   770  719 1489  1268 1370 2638
                                  PCT    70   75   73    79   80   79    75   77   76
 
 1 Karen McNamee                  #SH    41   98  139    24   51   75    65  149  214
                                  PTS   120  311  431    90  167  257   210  478  688
                                  PCT    73   79   78    94   82   86    81   80   80
 
 2 Tina McDonald                  #SH    42   38   80    71   67  138   113  105  218
                                  PTS   106  118  224   197  196  393   303  314  617
                                  PCT    63   78   70    69   73   71    67   75   71
 
 3 Marcy Balderston               #SH    36   36   72    82   63  145   118   99  217
                                  PTS   111  109  220   271  206  477   382  315  697
                                  PCT    77   76   76    83   82   82    81   80   80
 
 4 Renee Handfield                #SH    58   44  102    67   45  112   125   89  214
                                  PTS   161  113  274   212  150  362   373  263  636
                                  PCT    69   64   67    79   83   81    75   74   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Saskatchewan(Street)           #SH   262  199  461   220  214  434   482  413  895
                                  PTS   798  568 1366   707  685 1392  1505 1253 2758
                                  PCT    76   71   74    80   80   80    78   76   77
 
 1 Shannon Wilson                 #SH   103   49  152    33   37   70   136   86  222
                                  PTS   313  158  471   114  129  243   427  287  714
                                  PCT    76   81   77    86   87   87    78   83   80
 
 2 Allison Tanner                 #SH    56   48  104    63   59  122   119  107  226
                                  PTS   175  132  307   203  169  372   378  301  679
                                  PCT    78   69   74    81   72   76    79   70   75
 
 3 Brandee Davis                  #SH    53   43   96    66   64  130   119  107  226
                                  PTS   156  116  272   207  203  410   363  319  682
                                  PCT    74   67   71    78   79   79    76   75   75
 
 4 Cindy Street                   #SH    50   59  109    58   54  112   108  113  221
                                  PTS   154  162  316   183  184  367   337  346  683
                                  PCT    77   69   72    79   85   82    78   77   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Laliberte)           #SH   219  240  459   185  344  529   404  584  988
                                  PTS   666  767 1433   571 1104 1675  1237 1871 3108
                                  PCT    76   80   78    77   80   79    77   80   79
 
 1 Janet Arnott                   #SH    65   90  155    29   55   84    94  145  239
                                  PTS   210  300  510    70  185  255   280  485  765
                                  PCT    81   83   82    60   84   76    74   84   80
 
 2 Debbie Jones-Walker            #SH    54   49  103    48  103  151   102  152  254
                                  PTS   150  148  298   168  330  498   318  478  796
                                  PCT    69   76   72    88   80   82    78   79   78
 
 3 Cathy Overton-Clapham          #SH    53   46   99    56   99  155   109  145  254
                                  PTS   174  146  320   176  317  493   350  463  813
                                  PCT    82   79   81    79   80   80    80   80   80
 
 4 Connie Laliberte               #SH    47   55  102    52   87  139    99  142  241
                                  PTS   132  173  305   157  272  429   289  445  734
                                  PCT    70   79   75    75   78   77    73   78   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Gellard)              #SH   314  194  508   159  149  308   473  343  816
                                  PTS   891  556 1447   453  462  915  1344 1018 2362
                                  PCT    71   72   71    71   78   74    71   74   72
 
 1 Allison Ross                   #SH    98   62  160    21   23   44   119   85  204
                                  PTS   288  201  489    58   68  126   346  269  615
                                  PCT    73   81   76    69   74   72    73   79   75
 
 2 Sally Karam                    #SH    73   36  109    52   43   95   125   79  204
                                  PTS   223   94  317   159  135  294   382  229  611
                                  PCT    76   65   73    76   78   77    76   72   75
 
 3 Sherry Scheirich               #SH    66   50  116    41   47   88   107   97  204
                                  PTS   182  139  321   106  149  255   288  288  576
                                  PCT    69   70   69    65   79   72    67   74   71
 
 4 Kim Gellard                    #SH    77   46  123    45   36   81   122   82  204
                                  PTS   198  122  320   130  110  240   328  232  560
                                  PCT    64   66   65    72   76   74    67   71   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Berthelot)             #SH   217  240  457   191  205  396   408  445  853
                                  PTS   603  739 1342   578  627 1205  1181 1366 2547
                                  PCT    69   77   73    76   76   76    72   77   75
 
 1 Nancy Lemire                   #SH    58   86  144    25   44   69    83  130  213
                                  PTS   172  286  458    78  132  210   250  418  668
                                  PCT    74   83   80    78   75   76    75   80   78
 
 2 Annie Lemay                    #SH    44   51   95    53   66  119    97  117  214
                                  PTS   119  155  274   157  202  359   276  357  633
                                  PCT    68   76   72    74   77   75    71   76   74
 
 3 Joelle Sabourin                #SH    57   53  110    52   52  104   109  105  214
                                  PTS   158  156  314   153  167  320   311  323  634
                                  PCT    69   74   71    74   80   77    71   77   74
 
 4 Janique Berthelot              #SH    58   50  108    61   43  104   119   93  212
                                  PTS   154  142  296   190  126  316   344  268  612
                                  PCT    66   71   69    78   73   76    72   72   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Jones)            #SH   178  266  444   218  345  563   396  611 1007
                                  PTS   523  822 1345   675 1112 1787  1198 1934 3132
                                  PCT    73   77   76    77   81   79    76   79   78
 
 1 Nancy Delahunt                 #SH    40  122  162    30   54   84    70  176  246
                                  PTS   133  393  526    94  181  275   227  574  801
                                  PCT    83   81   81    78   84   82    81   82   81
 
 2 Mary-Anne Waye                 #SH    47   51   98    65   93  158   112  144  256
                                  PTS   136  158  294   200  294  494   336  452  788
                                  PCT    72   77   75    77   79   78    75   78   77
 
 3 Kim Kelly                      #SH    38   46   84    68  104  172   106  150  256
                                  PTS   108  141  249   213  338  551   321  479  800
                                  PCT    71   77   74    78   81   80    76   80   78
 
 4 Colleen Jones                  #SH    53   47  100    55   94  149   108  141  249
                                  PTS   146  130  276   168  299  467   314  429  743
                                  PCT    69   69   69    76   80   78    73   76   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   New Brunswick(Floyd)           #SH   204  212  416   168  232  400   372  444  816
                                  PTS   582  627 1209   496  680 1176  1078 1307 2385
                                  PCT    71   74   73    74   73   74    72   74   73
 
 1 Jane Arseneau                  #SH    60   70  130    22   30   52    82  100  182
                                  PTS   178  211  389    66   85  151   244  296  540
                                  PCT    74   75   75    75   71   73    74   74   74
 
 2 Allison Franey                 #SH    46   50   96    44   68  112    90  118  208
                                  PTS   143  149  292   133  183  316   276  332  608
                                  PCT    78   75   76    76   67   71    77   70   73
 
 3 Kathy Floyd (S)                #SH    45   47   92    51   63  114    96  110  206
                                  PTS   126  141  267   145  186  331   271  327  598
                                  PCT    70   75   73    71   74   73    71   74   73
 
 4 Marie-Anne Power               #SH    47   25   72    49   61  110    96   86  182
                                  PTS   115   68  183   144  193  337   259  261  520
                                  PCT    61   68   64    73   79   77    67   76   71
 
 5 Mary Harding                   #SH     6   20   26     2   10   12     8   30   38
                                  PTS    20   58   78     8   33   41    28   91  119
                                  PCT    83   73   75   100   83   85    88   76   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (MacPhee)                  #SH   198  205  403   206  222  428   404  427  831
                                  PTS   583  589 1172   654  700 1354  1237 1289 2526
                                  PCT    74   72   73    79   79   79    77   75   76
 
 1 Lou Ann Henry                  #SH    58   80  138    25   43   68    83  123  206
                                  PTS   181  261  442    78  142  220   259  403  662
                                  PCT    78   82   80    78   83   81    78   82   80
 
 2 Kathy O'Rourke                 #SH    45   33   78    69   65  134   114   98  212
                                  PTS   138   81  219   221  206  427   359  287  646
                                  PCT    77   61   70    80   79   80    79   73   76
 
 3 Kim Dolan                      #SH    49   43   92    51   69  120   100  112  212
                                  PTS   138  126  264   156  214  370   294  340  634
                                  PCT    70   73   72    76   78   77    74   76   75
 
 4 Rebecca Jean MacPhee           #SH    46   49   95    61   45  106   107   94  201
                                  PTS   126  121  247   199  138  337   325  259  584
                                  PCT    68   62   65    82   77   79    76   69   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Strong)                  #SH   176  187  363   216  226  442   392  413  805
                                  PTS   500  572 1072   654  710 1364  1154 1282 2436
                                  PCT    71   76   74    76   79   77    74   78   76
 
 1 Michele Renouf                 #SH    50   81  131    42   27   69    92  108  200
                                  PTS   136  268  404   138   79  217   274  347  621
                                  PCT    68   83   77    82   73   79    74   80   78
 
 2 Susan Wright                   #SH    43   35   78    62   64  126   105   99  204
                                  PTS   123  103  226   179  211  390   302  314  616
                                  PCT    72   74   72    72   82   77    72   79   75
 
 3 Kelli Sharpe                   #SH    43   30   73    55   76  131    98  106  204
                                  PTS   116   82  198   170  234  404   286  316  602
                                  PCT    67   68   68    77   77   77    73   75   74
 
 4 Heather Strong                 #SH    40   41   81    57   59  116    97  100  197
                                  PTS   125  119  244   167  186  353   292  305  597
                                  PCT    78   73   75    73   79   76    75   76   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Miller)                 #SH   225  221  446   165  228  393   390  449  839
                                  PTS   642  581 1223   495  653 1148  1137 1234 2371
                                  PCT    71   66   69    75   72   73    73   69   71
 
 1 Debbie Moss                    #SH    80   67  147    17   45   62    97  112  209
                                  PTS   240  188  428    49  123  172   289  311  600
                                  PCT    75   70   73    72   68   69    74   69   72
 
 2 Twyla Tincher                  #SH    56   45  101    50   61  111   106  106  212
                                  PTS   155  134  289   147  178  325   302  312  614
                                  PCT    69   74   72    74   73   73    71   74   72
 
 3 Wendy Ondrack                  #SH    50   49   99    47   66  113    97  115  212
                                  PTS   137  127  264   146  192  338   283  319  602
                                  PCT    69   65   67    78   73   75    73   69   71
 
 4 Maureen Miller                 #SH    39   60   99    51   56  107    90  116  206
                                  PTS   110  132  242   153  160  313   263  292  555
                                  PCT    71   55   61    75   71   73    73   63   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Borst)                 #SH   206  306  512   191  305  496   397  611 1008
                                  PTS   634 1011 1645   630 1031 1661  1264 2042 3306
                                  PCT    77   83   80    82   85   84    80   84   82
 
 1 Kate Horne                     #SH    60  125  185    19   46   65    79  171  250
                                  PTS   192  435  627    55  163  218   247  598  845
                                  PCT    80   87   85    72   89   84    78   87   85
 
 2 Brenda Bohmer                  #SH    37   63  100    64   90  154   101  153  254
                                  PTS   126  206  332   200  317  517   326  523  849
                                  PCT    85   82   83    78   88   84    81   85   84
 
 3 Heather Godberson              #SH    50   51  101    59   94  153   109  145  254
                                  PTS   149  159  308   215  312  527   364  471  835
                                  PCT    75   78   76    91   83   86    83   81   82
 
 4 Cathy Borst                    #SH    59   67  126    49   75  124   108  142  250
                                  PTS   167  211  378   160  239  399   327  450  777
                                  PCT    71   79   75    82   80   80    76   79   78
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               1999 Scott Tournament of Hearts
                                     Charlottetown, PEI
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW 18    SASK  4  CAN  12
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          DRAW 13    CAN   9  B.C.  0
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  19
 
          DRAW 14    TERR  8  MAN  11
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   5
 
          DRAW  3    N.S.  3  ALTA  2
          DRAW  5    CAN   2  PEI   3
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW 14    TERR  8  MAN  11    MAN  SCORED 6 IN THE 5TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  1    ALTA  9  NFLD  2    ALTA SCORED 4 IN THE 4TH END
          DRAW  4    ONT   3  B.C.  9    B.C. SCORED 4 IN THE 4TH END
          DRAW  9    ONT   4  CAN  10    CAN  SCORED 4 IN THE 5TH END
          DRAW 13    CAN   9  B.C.  0    CAN  SCORED 4 IN THE 4TH END
 
MOST BLANK ENDS, ONE GAME:   6
 
          DRAW  3    N.S.  3  ALTA  2
 
NUMBER OF BLANK ENDS IN EVENT: 102
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW  5
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  5    CAN   2  PEI   3    BY PEI  BEGINNING IN END 4
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW  1    SASK  6  PEI   1
          DRAW  5    TERR  5  ONT   6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  1    SASK  6  PEI   1    BY SASK BEGINNING IN END 5
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  1    ALTA  9  NFLD  2    BY ALTA
          DRAW 13    CAN   9  B.C.  0    BY CAN 
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  4    N.B.  5  N.S.  7    N.S. WAS DOWN 4 AFTER 2 ENDS
          DRAW 15    QUE   8  SASK  7    QUE  WAS DOWN 4 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:  12
 
MOST ENDS PLAYED IN ONE GAME:  12
 
          DRAW 11    N.S.  8  SASK  7
 
FEWEST ENDS PLAYED IN ONE GAME:   4
 
          DRAW 13    CAN   9  B.C.  0
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   8
 
          DRAW  1    SASK  6  PEI   1    BY PEI 
  </div>
</div>
