<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2001 Scott Tournament of Hearts
                                      Sudbury, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Karen McNamee                            ALTA  89 89 ** 94 ** 92 79 ** ** 85 69 75 ** 96 83 ** 91  86
 2 Nancy Delahunt                           N.S.  72 79 ** ** 83 ** 82 91 91 ** 86 92 77 ** 89 90 **  84
 2 Sheri Cordina                            ONT   82 ** 89 ** 86 87 85 ** 93 ** 89 ** 83 78 ** 86 69  84
 2 Michelle Baker                           NFLD  ** 75 ** 83 80 ** 93 86 91 82 ** 85 80 ** 88 ** 79  84
 2 Diane Nelson                             CAN   88 ** 85 ** 66 85 ** 77 ** 83 94 ** 86 71 85 93 **  84
 6 Jacalyn Brown                            B.C.  ** 81 71 86 ** 88 90 ** ** 88 61 ** 94 88 95 ** 69  83
 6 Jane Arseneau                            N.B.  83 ** ** 72 71 ** 88 81 98 76 ** 78 ** 83 89 ** 91  83
 8 Tricia MacGregor                         PEI   ** 78 ** 59 83 83 ** 86 91 78 ** 78 90 ** ** 78 90  82
 8 Alison Harvey                            MAN   80 79 88 ** ** ** 93 80 65 ** 81 ** 88 84 75 88 **  82
10 Valerie Grenier                          QUE   80 ** ** 61 86 73 ** 69 83 79 ** 83 ** 80 ** 73 76  76
10 Joan Stricker                            SASK  65 74 ** 78 ** 75 93 ** 80 ** 69 81 ** 68 ** 72 82  76
12 Heather McCagg-Nystrom                   TERR  ** 74 ** 72 69 74 ** 63 ** 75 66 82 80 ** 80 70 **  74
 
   SECONDS
 1 Georgina Wheatcroft                      CAN   90 ** 76 ** 86 75 ** 90 ** 81 85 ** 89 90 88 77 **  84
 2 Mary-Anne Waye                           N.S.  73 76 ** ** 78 ** 74 78 93 ** 84 88 91 ** 68 84 **  81
 3 Adina Tasaka                             B.C.  ** 70 66 92 ** 89 85 ** ** 77 78 ** 91 83 71 ** 78  80
 3 Annie Lemay                              QUE   80 ** ** 68 91 82 ** 82 80 79 ** 86 ** 74 ** 75 84  80
 5 Roberta Materi                           SASK  84 74 ** 76 ** 78 90 ** 80 ** 79 78 ** 79 ** 69 60  77
 6 Allison Franey                           N.B.  91 ** ** 70 68 ** 65 90 73 80 ** 92 ** 73 71 ** 74  76
 6 Leslie Allan                             PEI   ** 83 ** 75 76 76 ** 75 83 83 ** 56 ** ** ** 68 73  76
 6 Andrea Lawes                             ONT   82 ** 70 ** 72 75 85 ** 85 ** 89 ** 83 53 ** 71 72  76
 9 Tammy Radchenka                          MAN   77 64 69 ** ** ** 79 83 70 ** 80 ** 89 75 68 75 **  75
 9 Stacey Treptau                           TERR  ** 83 ** 74 65 75 ** 58 ** 83 81 78 59 ** 74 91 **  75
11 Susan O'Leary                            NFLD  ** 69 ** 76 68 ** 66 74 73 80 ** 75 80 ** 89 ** 68  74
 + Nancy Cameron                            PEI   ** ** ** ** ** ** ** ** ** ** ** 73 74 ** ** ** **  73
12 Tina McDonald                            ALTA  79 63 ** 66 ** 75 73 ** ** 74 50 ** ** 76 81 ** **  71
 + Melody Vavrek                            ALTA  ** ** ** ** ** ** ** ** ** ** ** 73 ** ** ** ** 67  71
 
   THIRDS 
 1 Kim Kelly                                N.S.  84 97 ** ** 86 ** 65 77 90 ** 93 94 85 ** 76 80 **  84
 + Nancy Cameron                            PEI   ** ** ** ** 86 ** ** 92 76 78 ** ** ** ** ** ** **  81
 2 Marcy Balderston                         ALTA  74 63 ** 84 ** 90 81 ** ** 76 72 90 ** 91 75 ** 84  80
 3 Lisa Whitaker                            B.C.  ** 79 79 74 ** 75 79 ** ** 67 85 ** 85 81 88 ** **  79
 3 Julie Skinner                            CAN   96 ** 90 ** 67 62 ** 75 ** 76 76 ** 85 83 74 81 **  79
 3 Janice Sandison                          MAN   83 78 83 ** ** ** 81 84 79 ** 69 ** 81 75 81 70 **  79
 6 Ainsley Holowec                          TERR  ** 91 ** 65 81 78 ** 60 ** 90 85 83 75 ** 75 70 **  78
 7 Janet Brown                              ONT   69 ** 73 ** 70 91 86 ** 80 ** 75 ** 78 68 ** 85 68  76
 + Tina McDonald                            ALTA  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 76  76
 7 Laura Strong                             NFLD  ** 75 ** 60 73 ** 81 76 78 78 ** 81 79 ** 76 ** 80  76
 7 Janice MacCallum                         PEI   ** 66 ** 77 ** 84 ** 80 ** ** ** 74 75 ** ** 85 70  76
10 Marie-Anne Power                         N.B.  80 ** ** 75 74 ** 96 65 74 71 ** 75 ** 65 81 ** 73  75
 + Rene Duplisse                            B.C.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 75  75
11 Lorie Kehler                             SASK  85 59 ** 73 ** 79 84 ** 80 ** 67 58 ** 78 ** 68 67  73
11 Nancy Belanger                           QUE   68 ** ** 63 61 75 ** 79 67 74 ** 88 ** 76 ** 74 75  73
 
   SKIPS  
 1 Kelley Law                               CAN   83 ** 82 ** 89 79 ** 88 ** 68 69 ** 79 83 75 89 **  79
 2 Marie-France Larouche                    QUE   64 ** ** 68 66 81 ** 79 74 85 ** 96 ** 84 ** 79 83  78
 3 Heather Strong                           NFLD  ** 69 ** 66 71 ** 65 80 86 80 ** 79 91 ** 80 ** 74  77
 4 Sherry Middaugh                          ONT   68 ** 84 ** 69 83 70 ** 79 ** 80 ** 89 64 ** 83 75  76
 5 Shelly Bradley                           PEI   ** 72 ** 77 76 92 ** 86 71 75 ** 67 70 ** ** 76 66  75
 5 Colleen Jones                            N.S.  74 72 ** ** 78 ** 64 57 67 ** 73 90 75 ** 80 84 **  75
 7 Renee Sonnenberg                         ALTA  67 67 ** 77 ** 82 71 ** ** 65 62 79 ** 79 73 ** 94  74
 + Lisa Whitaker                            B.C.  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 74  74
 8 Karen Young                              MAN   67 56 79 ** ** ** 68 74 76 ** 71 ** 70 88 83 64 **  72
 8 Kathy Floyd                              N.B.  68 ** ** 70 74 ** 88 56 69 69 ** 82 ** 64 80 ** 72  72
10 Shelley MacDonald                        B.C.  ** 70 68 72 ** 63 73 ** ** 53 79 ** 75 63 70 ** **  69
10 Michelle Ridgway                         SASK  70 55 ** 73 ** 75 76 ** 81 ** 63 72 ** 82 ** 53 53  69
12 Kerry Koe                                TERR  ** 75 ** 64 63 79 ** 53 ** 65 71 67 73 ** 74 61 **  68
 
   TEAMS
 1 Canada (Law)                                   89 ** 83 ** 77 75 ** 82 ** 77 81 ** 85 82 80 85 **  81
 1 Nova Scotia (Jones)                            76 81 ** ** 81 ** 71 76 85 ** 84 91 82 ** 78 84 **  81
 3 Ontario (Middaugh)                             75 ** 79 ** 74 84 82 ** 84 ** 83 ** 83 65 ** 81 71  78
 3 B.C. (Macdonald)                               ** 75 71 81 ** 79 82 ** ** 71 76 ** 86 79 81 ** 74  78
 3 Alberta (Sonnenberg)                           77 70 ** 80 ** 85 76 ** ** 75 63 79 ** 86 78 ** 84  78
 3 PEI (Bradley)                                  ** 75 ** 72 81 84 ** 83 80 79 ** 71 77 ** ** 77 75  78
 3 NFLD (Strong)                                  ** 72 ** 71 73 ** 77 79 82 80 ** 80 83 ** 83 ** 75  78
 8 Manitoba (Young)                               77 69 79 ** ** ** 80 80 72 ** 75 ** 82 80 77 74 **  77
 8 New Brunswick(Floyd)                           80 ** ** 72 72 ** 84 73 78 74 ** 82 ** 71 80 ** 78  77
 8 Quebec (Larouche)                              73 ** ** 65 76 78 ** 78 76 79 ** 88 ** 78 ** 75 79  77
11 SASK (Ridgway)                                 76 65 ** 75 ** 77 86 ** 80 ** 69 72 ** 77 ** 66 66  74
11 Y/NWT (Koe)                                    ** 81 ** 69 69 76 ** 58 ** 78 76 78 72 ** 76 73 **  74
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2001 Scott Tournament of Hearts
                                      Sudbury, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Jane Arseneau                            N.B.   +  *  *  +  0  *  +  0  +  -  *  0  *  +  0  *  +  +5
Diane Nelson                             CAN    0  *  +  *  -  0  *  0  *  0  +  *  +  0  +  +  *  +4
Karen McNamee                            ALTA   0  +  *  +  *  +  -  *  *  +  -  -  *  +  -  *  +  +2
Jacalyn Brown                            B.C.   *  0  -  +  *  0  0  *  *  +  -  *  +  +  +  *  -  +2
Sheri Cordina                            ONT    +  *  0  *  +  0  -  *  0  *  +  *  0  -  *  +  -  +1
Michelle Baker                           NFLD   *  0  *  +  0  *  +  +  0  -  *  0  -  *  0  *  -   0
Tricia MacGregor                         PEI    *  0  *  -  0  0  *  -  0  0  *  0  0  *  *  +  +   0
Alison Harvey                            MAN    0  +  0  *  *  *  0  -  -  *  +  *  0  -  -  0  *  -2
Joan Stricker                            SASK   -  -  *  -  *  0  +  *  0  *  +  -  *  0  *  -  +  -2
Nancy Delahunt                           N.S.   -  -  *  *  0  *  -  +  0  *  -  +  -  *  +  0  *  -2
Valerie Grenier                          QUE    0  *  *  -  0  -  *  +  0  0  *  0  *  -  *  -  -  -4
Heather McCagg-Nystrom                   TERR   *  0  *  -  0  0  *  -  *  0  -  +  0  *  -  -  *  -4
 
SECONDS
Georgina Wheatcroft                      CAN    +  *  +  *  +  0  *  0  *  0  0  *  +  +  +  -  *  +5
Annie Lemay                              QUE    0  *  *  0  +  +  *  +  0  0  *  +  *  -  *  0  +  +4
Allison Franey                           N.B.   +  *  *  0  0  *  -  0  0  +  *  +  *  +  -  *  0  +2
Mary-Anne Waye                           N.S.   -  +  *  *  -  *  +  0  +  *  0  +  0  *  -  +  *  +2
Andrea Lawes                             ONT    +  *  0  *  -  -  +  *  0  *  +  *  +  -  *  0  +  +2
Stacey Treptau                           TERR   *  +  *  -  0  0  *  -  *  0  0  +  -  *  +  +  *  +1
Adina Tasaka                             B.C.   *  -  -  +  *  +  +  *  *  0  0  *  0  +  -  *  0  +1
Leslie Allan                             PEI    *  +  *  +  +  0  *  0  0  0  *  -  *  *  *  0  -  +1
Tammy Radchenka                          MAN    0  -  0  *  *  *  -  +  0  *  0  *  +  0  -  -  *  -2
Roberta Materi                           SASK   -  +  *  0  *  0  +  *  0  *  0  -  *  -  *  0  -  -2
Tina McDonald                            ALTA   -  -  *  -  *  -  -  *  *  -  -  *  *  0  +  *  *  -6
Susan O'Leary                            NFLD   *  -  *  0  -  *  -  -  -  0  *  -  -  *  +  *  0  -6
 
THIRDS 
Kim Kelly                                N.S.   +  +  *  *  +  *  -  0  +  *  +  +  0  *  0  +  *  +6
Janice Sandison                          MAN    +  +  +  *  *  *  0  +  +  *  -  *  +  -  +  -  *  +4
Julie Skinner                            CAN    +  *  +  *  0  -  *  +  *  0  -  *  +  +  -  +  *  +3
Marcy Balderston                         ALTA   -  -  *  +  *  +  0  *  *  +  0  +  *  +  -  *  0  +2
Lisa Whitaker                            B.C.   *  +  -  +  *  -  0  *  *  -  +  *  0  +  +  *  *  +2
Janet Brown                              ONT    -  *  -  *  0  +  +  *  0  *  0  *  0  0  *  +  0  +1
Ainsley Holowec                          TERR   *  +  *  -  +  0  *  -  *  +  +  -  0  *  0  -  *   0
Marie-Anne Power                         N.B.   -  *  *  +  -  *  +  -  -  -  *  0  *  0  +  *  0  -2
Lorie Kehler                             SASK   +  -  *  +  *  0  0  *  +  *  -  -  *  -  *  -  0  -2
Janice MacCallum                         PEI    *  -  *  -  *  +  *  0  *  *  *  0  -  *  *  +  -  -2
Nancy Belanger                           QUE    -  *  *  -  -  -  *  +  -  0  *  +  *  -  *  -  +  -4
Laura Strong                             NFLD   *  -  *  -  -  *  -  -  -  +  *  -  -  *  -  *  0  -8
 
SKIPS  
Sherry Middaugh                          ONT    -  *  +  *  -  +  +  *  +  *  +  *  +  0  *  0  +  +5
Marie-France Larouche                    QUE    0  *  *  0  -  0  *  +  -  +  *  +  *  +  *  0  +  +3
Colleen Jones                            N.S.   +  +  *  *  +  *  -  -  -  *  0  +  0  *  +  +  *  +3
Shelly Bradley                           PEI    *  0  *  0  +  +  *  +  -  +  *  -  0  *  *  +  -  +2
Kathy Floyd                              N.B.   0  *  *  0  +  *  +  -  -  0  *  +  *  0  0  *  0  +1
Kelley Law                               CAN    +  *  +  *  +  -  *  +  *  -  0  *  -  0  -  +  *  +1
Karen Young                              MAN    0  0  -  *  *  *  -  -  +  *  0  *  0  +  +  -  *  -1
Michelle Ridgway                         SASK   0  0  *  +  *  0  +  *  +  *  -  -  *  0  *  -  -  -1
Shelley MacDonald                        B.C.   *  0  -  +  *  -  +  *  *  -  +  *  0  -  0  *  *  -1
Heather Strong                           NFLD   *  -  *  -  -  *  -  +  +  +  *  -  +  *  0  *  -  -2
Renee Sonnenberg                         ALTA   -  -  *  0  *  0  -  *  *  0  -  +  *  -  0  *  +  -3
Kerry Koe                                TERR   *  +  *  -  -  0  *  -  *  -  0  -  -  *  -  -  *  -7
 
   TEAMS
Ontario (Middaugh)                              0  *  0  *  0  +  +  *  0  *  +  *  +  -  *  +  +  +5
New Brunswick(Floyd)                            0  *  *  +  0  *  +  -  +  0  *  +  *  +  0  *  0  +4
Canada (Law)                                    +  *  +  *  0  -  *  +  *  0  0  *  0  +  0  +  *  +4
Nova Scotia (Jones)                             0  +  *  *  +  *  -  -  0  *  0  +  0  *  0  +  *  +2
PEI (Bradley)                                   *  0  *  -  +  +  *  +  0  0  *  -  -  *  *  +  0  +1
Alberta (Sonnenberg)                            -  -  *  +  *  +  -  *  *  0  -  0  *  +  0  *  +   0
B.C. (Macdonald)                                *  0  -  +  *  -  0  *  *  -  +  *  0  0  0  *  0  -1
Manitoba (Young)                                0  0  0  *  *  *  0  0  -  *  0  *  +  -  0  -  *  -2
Quebec (Larouche)                               0  *  *  -  -  -  *  +  0  0  *  +  *  0  *  -  0  -2
Y/NWT (Koe)                                     *  +  *  -  0  0  *  -  *  0  0  0  -  *  0  -  *  -3
NFLD (Strong)                                   *  -  *  0  -  *  -  0  0  +  *  -  0  *  0  *  -  -4
SASK (Ridgway)                                  0  0  *  0  *  0  +  *  0  *  -  -  *  -  *  -  -  -4
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2001 Scott Tournament of Hearts
                                      Sudbury, Ontario
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ALTA   11   106  FOR       7     8     24   18    2    0    0    0   66   6.0   10  0.62
                 AGAINST   6    10     23   18    7    1    0    0   84   7.6   17  0.79
 
B.C.   11   105  FOR       4    15     35   12    2    0    1    0   70   6.4   19  0.67
                 AGAINST   7    10     20   15    7    2    0    0   79   7.2   15  0.75
 
MAN    11   113  FOR      10    12     28   12    4    3    0    0   76   6.9   18  0.67
                 AGAINST   6    15     31   14    5    0    0    0   74   6.7   21  0.65
 
N.B.   11   102  FOR       5    14     27   17    4    1    0    0   77   7.0   21  0.75
                 AGAINST   3     9     27   15    3    0    0    0   66   6.0   15  0.65
 
NFLD   11   109  FOR      14     9     28   12    2    0    0    0   58   5.3   10  0.53
                 AGAINST  11     9     29    8    5    0    0    0   60   5.5   12  0.55
 
N.S.   11   107  FOR       8    14     29   16    3    1    0    0   74   6.7   20  0.69
                 AGAINST   7     9     25   10    6    1    1    0   72   6.5   11  0.67
 
ONT    11   104  FOR       6    11     30    9    6    1    1    0   75   6.8   16  0.72
                 AGAINST   7     9     33    8    2    1    0    0   59   5.4   11  0.57
 
PEI    11   104  FOR       6    15     28   10    7    1    1    0   78   7.1   27  0.75
                 AGAINST  10    11     27   10    4    0    0    0   59   5.4   16  0.57
 
QUE    11   107  FOR       9    17     29   18    2    0    0    0   71   6.5   23  0.66
                 AGAINST   8    10     23   15    2    1    0    0   63   5.7   14  0.59
 
SASK   11   106  FOR       8     7     25    8    5    0    0    0   56   5.1    9  0.53
                 AGAINST   7    21     35   13    2    1    2    0   81   7.4   31  0.76
 
TERR   11   106  FOR       7     8     23   15    1    0    0    0   56   5.1   12  0.53
                 AGAINST   4    21     33   19    3    1    0    0   84   7.6   32  0.79
 
CAN    11   101  FOR       4    13     25   10   10    1    0    0   79   7.2   21  0.78
                 AGAINST  12     9     25   12    2    0    0    0   55   5.0   11  0.54
 
 
TOTAL  66   635  FOR      88   143    331  157   48    8    3    0  836   6.3  206  0.66
                 AGAINST  88   143    331  157   48    8    3    0  836   6.3  206  0.66
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2001 Scott Tournament of Hearts
                                      Sudbury, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        ALTA  B.C.  MAN   N.B.  NFLD  N.S.  ONT   PEI   QUE   SASK  TERR  CAN   
 
 
ALTA     *     W     L     W     W     L     L     L     L     L     W     L  
 
 
B.C.     L     *     W     W     L     L     L     L     L     W     W     L  
 
 
MAN      W     L     *     W     L     L     W     W     W     W     L     L  
 
 
N.B.     L     L     L     *     W     W     L     W     W     W     W     L  
 
 
NFLD     L     W     W     L     *     W     L     L     L     L     L     W  
 
 
N.S.     W     W     W     L     L     *     W     L     W     W     W     L  
 
 
ONT      W     W     L     W     W     L     *     W     L     W     W     L  
 
 
PEI      W     W     L     L     W     W     L     *     L     W     W     W  
 
 
QUE      W     W     L     L     W     L     W     W     *     L     W     W  
 
 
SASK     W     L     L     L     W     L     L     L     W     *     W     L  
 
 
TERR     L     L     W     L     W     L     L     L     L     L     *     L  
 
 
CAN      W     W     W     W     L     W     W     L     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2001 Scott Tournament of Hearts
                                      Sudbury, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Sonnenberg)                     #SH   221  234  455   149  241  390   370  475  845
                                  PTS   639  747 1386   479  767 1246  1118 1514 2632
                                  PCT    72   80   76    80   80   80    76   80   78
 
 1 Karen McNamee                            #SH    51  100  151    20   41   61    71  141  212
                                  PTS   170  350  520    71  135  206   241  485  726
                                  PCT    83   88   86    89   82   84    85   86   86
 
 2 Tina McDonald                            #SH    47   52   99    39   52   91    86  104  190
                                  PTS   118  158  276   118  152  270   236  310  546
                                  PCT    63   76   70    76   73   74    69   75   72
 
 3 Marcy Balderston                         #SH    57   36   93    39   68  107    96  104  200
                                  PTS   169  116  285   130  227  357   299  343  642
                                  PCT    74   81   77    83   83   83    78   82   80
 
 4 Renee Sonnenberg                         #SH    60   42  102    43   64  107   103  106  209
                                  PTS   164  114  278   135  209  344   299  323  622
                                  PCT    68   68   68    78   82   80    73   76   74
 
 5 Melody Vavrek                            #SH     6    4   10     8   16   24    14   20   34
                                  PTS    18    9   27    25   44   69    43   53   96
                                  PCT    75   56   68    78   69   72    77   66   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Macdonald)                         #SH   205  250  455   146  233  379   351  483  834
                                  PTS   627  798 1425   458  715 1173  1085 1513 2598
                                  PCT    76   80   78    78   77   77    77   78   78
 
 1 Jacalyn Brown                            #SH    72   73  145    19   44   63    91  117  208
                                  PTS   244  251  495    60  136  196   304  387  691
                                  PCT    85   86   85    79   77   78    84   83   83
 
 2 Adina Tasaka                             #SH    40   68  108    41   61  102    81  129  210
                                  PTS   122  221  343   137  190  327   259  411  670
                                  PCT    76   81   79    84   78   80    80   80   80
 
 3 Lisa Whitaker                            #SH    49   61  110    39   60   99    88  121  209
                                  PTS   142  201  343   125  192  317   267  393  660
                                  PCT    72   82   78    80   80   80    76   81   79
 
 4 Shelley MacDonald                        #SH    41   47   88    43   56   99    84  103  187
                                  PTS   110  121  231   127  159  286   237  280  517
                                  PCT    67   64   66    74   71   72    71   68   69
 
 5 Rene Duplisse                            #SH     3    1    4     4   12   16     7   13   20
                                  PTS     9    4   13     9   38   47    18   42   60
                                  PCT    75  100   81    56   79   73    64   81   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Young)                         #SH   249  183  432   218  255  473   467  438  905
                                  PTS   759  545 1304   647  835 1482  1406 1380 2786
                                  PCT    76   74   75    74   82   78    75   79   77
 
 1 Alison Harvey                            #SH    85   66  151    40   37   77   125  103  228
                                  PTS   289  216  505   121  118  239   410  334  744
                                  PCT    85   82   84    76   80   78    82   81   82
 
 2 Tammy Radchenka                          #SH    37   41   78    66   84  150   103  125  228
                                  PTS   117  121  238   178  271  449   295  392  687
                                  PCT    79   74   76    67   81   75    72   78   75
 
 3 Janice Sandison                          #SH    68   36  104    62   62  124   130   98  228
                                  PTS   194  102  296   208  212  420   402  314  716
                                  PCT    71   71   71    84   85   85    77   80   79
 
 4 Karen Young                              #SH    59   40   99    50   72  122   109  112  221
                                  PTS   159  106  265   140  234  374   299  340  639
                                  PCT    67   66   67    70   81   77    69   76   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   New Brunswick(Floyd)                     #SH   193  260  453   162  202  364   355  462  817
                                  PTS   578  831 1409   476  622 1098  1054 1453 2507
                                  PCT    75   80   78    73   77   75    74   79   77
 
 1 Jane Arseneau                            #SH    57   97  154    17   29   46    74  126  200
                                  PTS   178  338  516    57   90  147   235  428  663
                                  PCT    78   87   84    84   78   80    79   85   83
 
 2 Allison Franey                           #SH    51   55  106    34   66  100    85  121  206
                                  PTS   146  178  324    94  212  306   240  390  630
                                  PCT    72   81   76    69   80   77    71   81   76
 
 3 Marie-Anne Power                         #SH    45   51   96    53   57  110    98  108  206
                                  PTS   124  159  283   163  176  339   287  335  622
                                  PCT    69   78   74    77   77   77    73   78   75
 
 4 Kathy Floyd                              #SH    40   57   97    58   50  108    98  107  205
                                  PTS   130  156  286   162  144  306   292  300  592
                                  PCT    81   68   74    70   72   71    74   70   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Strong)                            #SH   212  198  410   241  216  457   453  414  867
                                  PTS   660  601 1261   746  682 1428  1406 1283 2689
                                  PCT    78   76   77    77   79   78    78   77   78
 
 1 Michelle Baker                           #SH    81   63  144    54   19   73   135   82  217
                                  PTS   283  210  493   172   61  233   455  271  726
                                  PCT    87   83   86    80   80   80    84   83   84
 
 2 Susan O'Leary                            #SH    45   39   84    57   77  134   102  116  218
                                  PTS   131  110  241   175  230  405   306  340  646
                                  PCT    73   71   72    77   75   76    75   73   74
 
 3 Laura Strong                             #SH    49   42   91    67   60  127   116  102  218
                                  PTS   150  124  274   206  182  388   356  306  662
                                  PCT    77   74   75    77   76   76    77   75   76
 
 4 Heather Strong                           #SH    37   54   91    63   60  123   100  114  214
                                  PTS    96  157  253   193  209  402   289  366  655
                                  PCT    65   73   70    77   87   82    72   80   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Jones)                      #SH   204  254  458   270  285  555   474  539 1013
                                  PTS   653  850 1503   844  935 1779  1497 1785 3282
                                  PCT    80   84   82    78   82   80    79   83   81
 
 1 Nancy Delahunt                           #SH    57  104  161    34   55   89    91  159  250
                                  PTS   196  369  565   104  176  280   300  545  845
                                  PCT    86   89   88    76   80   79    82   86   85
 
 2 Mary-Anne Waye                           #SH    42   49   91    98   67  165   140  116  256
                                  PTS   129  160  289   311  232  543   440  392  832
                                  PCT    77   82   79    79   87   82    79   84   81
 
 3 Kim Kelly                                #SH    51   41   92    78   86  164   129  127  256
                                  PTS   164  138  302   256  285  541   420  423  843
                                  PCT    80   84   82    82   83   82    81   83   82
 
 4 Colleen Jones                            #SH    54   60  114    60   77  137   114  137  251
                                  PTS   164  183  347   173  242  415   337  425  762
                                  PCT    76   76   76    72   79   76    74   78   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Middaugh)                       #SH   240  310  550   236  247  483   476  557 1033
                                  PTS   787 1023 1810   726  749 1475  1513 1772 3285
                                  PCT    82   83   82    77   76   76    79   80   80
 
 1 Sheri Cordina                            #SH    83  104  187    33   38   71   116  142  258
                                  PTS   297  367  664   108  119  227   405  486  891
                                  PCT    89   88   89    82   78   80    87   86   86
 
 2 Andrea Lawes                             #SH    49   71  120    68   72  140   117  143  260
                                  PTS   153  234  387   195  220  415   348  454  802
                                  PCT    78   82   81    72   76   74    74   79   77
 
 3 Janet Brown                              #SH    54   67  121    62   76  138   116  143  259
                                  PTS   167  214  381   186  236  422   353  450  803
                                  PCT    77   80   79    75   78   76    76   79   78
 
 4 Sherry Middaugh                          #SH    54   68  122    73   61  134   127  129  256
                                  PTS   170  208  378   237  174  411   407  382  789
                                  PCT    79   76   77    81   71   77    80   74   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (Bradley)                            #SH   223  193  416   250  217  467   473  410  883
                                  PTS   662  573 1235   802  685 1487  1464 1258 2722
                                  PCT    74   74   74    80   79   80    77   77   77
 
 1 Tricia MacGregor                         #SH   103   52  155    43   22   65   146   74  220
                                  PTS   350  175  525   138   60  198   488  235  723
                                  PCT    85   84   85    80   68   76    84   79   82
 
 2 Leslie Allan                             #SH    31   39   70    67   57  124    98   96  194
                                  PTS    98  115  213   210  163  373   308  278  586
                                  PCT    79   74   76    78   71   75    79   72   76
 
 3 Janice MacCallum                         #SH    35   23   58    43   52   95    78   75  153
                                  PTS    80   68  148   139  173  312   219  241  460
                                  PCT    57   74   64    81   83   82    70   80   75
 
 4 Shelly Bradley                           #SH    41   58   99    60   57  117   101  115  216
                                  PTS   102  146  248   197  192  389   299  338  637
                                  PCT    62   63   63    82   84   83    74   73   74
 
 5 Nancy Cameron                            #SH    13   21   34    37   29   66    50   50  100
                                  PTS    32   69  101   118   97  215   150  166  316
                                  PCT    62   82   74    80   84   81    75   83   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Larouche)                        #SH   200  271  471   230  243  473   430  514  944
                                  PTS   577  828 1405   704  790 1494  1281 1618 2899
                                  PCT    72   76   75    77   81   79    74   79   77
 
 1 Valerie Grenier                          #SH    41  115  156    37   39   76    78  154  232
                                  PTS   129  370  499    94  120  214   223  490  713
                                  PCT    79   80   80    64   77   70    71   80   77
 
 2 Annie Lemay                              #SH    50   57  107    61   70  131   111  127  238
                                  PTS   152  176  328   195  229  424   347  405  752
                                  PCT    76   77   77    80   82   81    78   80   79
 
 3 Nancy Belanger                           #SH    55   51  106    66   66  132   121  117  238
                                  PTS   135  145  280   192  220  412   327  365  692
                                  PCT    61   71   66    73   83   78    68   78   73
 
 4 Marie-France Larouche                    #SH    54   48  102    66   68  134   120  116  236
                                  PTS   161  137  298   223  221  444   384  358  742
                                  PCT    75   71   73    84   81   83    80   77   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   SASK (Ridgway)                           #SH   184  193  377   235  229  464   419  422  841
                                  PTS   548  544 1092   717  670 1387  1265 1214 2479
                                  PCT    74   70   72    76   73   75    75   72   74
 
 1 Joan Stricker                            #SH    63   71  134    43   32   75   106  103  209
                                  PTS   199  221  420   135   81  216   334  302  636
                                  PCT    79   78   78    78   63   72    79   73   76
 
 2 Roberta Materi                           #SH    47   39   86    62   64  126   109  103  212
                                  PTS   140  109  249   201  204  405   341  313  654
                                  PCT    74   70   72    81   80   80    78   76   77
 
 3 Lorie Kehler                             #SH    31   43   74    50   88  138    81  131  212
                                  PTS    90  117  207   136  273  409   226  390  616
                                  PCT    73   68   70    68   78   74    70   74   73
 
 4 Michelle Ridgway                         #SH    43   40   83    80   45  125   123   85  208
                                  PTS   119   97  216   245  112  357   364  209  573
                                  PCT    69   61   65    77   62   71    74   61   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Y/NWT (Koe)                              #SH   244  195  439   202  208  410   446  403  849
                                  PTS   692  613 1305   588  604 1192  1280 1217 2497
                                  PCT    71   79   74    73   73   73    72   75   74
 
 1 Heather McCagg-Nystrom                   #SH    73   79  152    30   28   58   103  107  210
                                  PTS   218  260  478    71   69  140   289  329  618
                                  PCT    75   82   79    59   62   60    70   77   74
 
 2 Stacey Treptau                           #SH    51   37   88    67   59  126   118   96  214
                                  PTS   139  129  268   193  178  371   332  307  639
                                  PCT    68   87   76    72   75   74    70   80   75
 
 3 Ainsley Holowec                          #SH    52   34   86    62   66  128   114  100  214
                                  PTS   147  113  260   213  195  408   360  308  668
                                  PCT    71   83   76    86   74   80    79   77   78
 
 4 Kerry Koe                                #SH    68   45  113    43   55   98   111  100  211
                                  PTS   188  111  299   111  162  273   299  273  572
                                  PCT    69   62   66    65   74   70    67   68   68
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Law)                             #SH   219  264  483   320  251  571   539  515 1054
                                  PTS   696  865 1561  1070  803 1873  1766 1668 3434
                                  PCT    79   82   81    84   80   82    82   81   81
 
 1 Diane Nelson                             #SH    54  118  172    44   47   91    98  165  263
                                  PTS   193  413  606   127  152  279   320  565  885
                                  PCT    89   88   88    72   81   77    82   86   84
 
 2 Georgina Wheatcroft                      #SH    62   43  105    85   76  161   147  119  266
                                  PTS   202  145  347   301  242  543   503  387  890
                                  PCT    81   84   83    89   80   84    86   81   84
 
 3 Julie Skinner                            #SH    59   44  103    95   67  162   154  111  265
                                  PTS   173  133  306   324  215  539   497  348  845
                                  PCT    73   76   74    85   80   83    81   78   80
 
 4 Kelley Law                               #SH    44   59  103    96   61  157   140  120  260
                                  PTS   128  174  302   318  194  512   446  368  814
                                  PCT    73   74   73    83   80   82    80   77   78
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2001 Scott Tournament of Hearts
                                      Sudbury, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  8    N.S.  3  PEI  12
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  8    CAN   8  N.B.  1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW  7    B.C. 10  MAN   8
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  2    TERR  4  NFLD  3
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  8    N.S.  3  PEI  12    PEI  SCORED 5 IN THE 8TH END
          DRAW 11    B.C. 10  SASK  4    B.C. SCORED 5 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW 17    ONT  11  SASK  2    ONT  SCORED 5 IN THE 9TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  2    TERR  4  NFLD  3
          DRAW 13    NFLD  5  CAN   3
 
NUMBER OF BLANK ENDS IN EVENT:  93
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAWS  2  9
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW 13    NFLD  5  CAN   3    BY NFLD BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   5
 
          DRAW 17    PEI   4  QUE   6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW 16    TERR  3  CAN   9    BY CAN  BEGINNING IN END 5
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  8    CAN   8  N.B.  1    BY CAN 
          DRAW 17    ONT  11  SASK  2    BY ONT 
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW 11    CAN   8  N.S.  7    CAN  WAS DOWN 4 AFTER 5 ENDS
          DRAW 17    PEI   4  QUE   6    QUE  WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:  13
 
MOST ENDS PLAYED IN ONE GAME:  11 (13 games)
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  8    CAN   8  N.B.  1
          DRAW 18    PEI   2  ONT   9
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  1    N.S.  6  ONT   5    BY ONT 
          DRAW  4    TERR  3  B.C.  7    BY TERR
          DRAW 16    MAN   6  N.S.  7    BY MAN 
          DRAW 16    SASK  2  PEI   7    BY SASK
  </div>
</div>
