<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2002 Scott Tournament of Hearts
                                      Brandon, Manitoba
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Nancy Delahunt                 CAN   99 ** 95 ** 94 86 ** 96 85 82 ** ** 90 91 ** 96 83  91
 + Allison Franey                 N.B.  ** 91 ** 91 81 ** 93 ** ** ** ** ** ** ** ** 89 **  89
 2 Heather Martin                 NFLD  ** 83 ** 93 84 ** 85 91 84 ** 89 ** ** ** 80 84 **  86
 3 Kate Horne                     ALTA  93 91 ** 85 ** 83 90 ** ** 88 78 84 ** 83 82 ** 82  85
 3 Sheri Cordina                  ONT   98 85 ** 81 ** 82 79 ** ** 83 85 86 ** 88 84 ** 81  85
 5 Jane Arseneau                  N.B.  ** ** ** ** ** ** ** 85 89 ** 83 76 81 ** 88 ** **  84
 6 Dana Allerton                  MAN   82 ** 73 ** 96 72 ** 74 89 82 ** ** 86 73 ** 86 81  82
 + Anna-Mae Holden                NFLD  ** ** ** ** ** ** ** ** ** ** ** 90 74 ** ** ** **  82
 7 Cheryl Burlington              TERR  ** 68 ** 84 78 ** 89 81 81 ** 81 86 85 ** 91 76 **  81
 7 Julie Blackburn                QUE   73 94 ** 65 ** 79 79 ** ** 81 90 78 ** 81 84 ** 86  81
 9 Krista Trider                  N.S.  ** 88 ** 70 75 ** 84 88 74 ** 90 86 62 ** 83 78 **  80
 9 Donna Gignac                   SASK  68 78 ** 75 ** 86 87 ** ** 75 78 87 ** 89 78 ** 78  80
11 Susan Allan                    B.C.  76 ** 77 ** 77 68 ** 79 78 85 ** ** 84 80 ** 90 80  79
12 Bea Graham                     PEI   88 ** 59 ** 75 72 ** 70 77 83 ** ** 74 82 ** 79 78  76
 
   SECONDS
 1 Mary-Anne Waye                 CAN   83 ** 92 ** 90 95 ** 90 90 84 ** ** 79 85 ** 81 91  87
 2 Allison Franey                 N.B.  ** ** ** ** ** ** ** 93 78 ** 88 76 73 ** 90 ** **  83
 3 Lynn Fallis-Kurz               MAN   80 ** 81 ** 78 79 ** 83 83100 ** ** 78 94 ** 83 70  82
 3 Kathy Kerr                     NFLD  ** 74 ** 84 79 ** 88 79 75 ** 73 90 80 ** 95 81 **  82
 3 Brenda Bohmer                  ALTA  84 81 ** 72 ** 89 83 ** ** 73 78 89 ** 84 90 ** 73  82
 6 Andrea Lawes                   ONT   88 78 ** 78 ** 81 74 ** ** 93 78 79 ** 80 86 ** 85  81
 7 Candice MacLean                N.S.  ** 76 ** 89 74 ** 79 79 75 ** 82 88 80 ** 85 78 **  80
 8 Sharon Cormier                 TERR  ** 85 ** 78 73 ** 67 65 82 ** 93 86 75 ** 80 86 **  79
 + Jane Arseneau                  N.B.  ** 86 ** 65 69 ** 78 ** ** ** ** ** ** ** ** 91 **  78
 9 Sandra Mulroney                SASK  70 83 ** 86 ** 76 76 ** ** 70 80 71 ** 79 76 ** 80  77
10 Denise Blashko                 B.C.  79 ** 54 ** 67 89 ** 74 75 65 ** ** 78 85 ** 86 70  75
11 Lori Robinson                  PEI   75 ** 83 ** 70 56 ** 95 70 70 ** ** 71 80 ** 75 69  74
11 Sylvie Fortin                  QUE   85 76 ** 63 ** 74 84 ** ** 63 76 78 ** 75 85 ** 61  74
 
   THIRDS 
 1 Lawnie MacDonald               ALTA  82 81 ** 76 ** 94 93 ** ** 88 90 89 ** 80 81 ** 76  85
 2 Janet Brown                    ONT   96 96 ** 78 ** 69 74 ** ** 79 78 90 ** 89 95 ** 89  84
 3 Kim Hodson                     SASK  81 88 ** 93 ** 70 84 ** ** 70 95 88 ** 79 85 ** 73  82
 3 Kelly Kaylo                    TERR  ** 91 ** 83 75 ** 81 73 81 ** 93 94 74 ** 75 82 **  82
 5 Karen Porritt                  MAN   89 ** 75 ** 84 79 ** 78 94 84 ** ** 69 79 ** 90 69  81
 6 Kim Kelly                      CAN   85 ** 72 ** 84 80 ** 80 82 79 ** ** 79 79 ** 78 81  80
 6 Marie-Anne Power               N.B.  ** 83 ** 85 60 ** 84 78 83 ** 78 83 75 ** 78 93 **  80
 6 Beth Iskiw                     N.S.  ** 76 ** 86 75 ** 75 88 83 ** 85 79 65 ** 85 80 **  80
 9 Peg Goss                       NFLD  ** 69 ** 84 90 ** 86 61 95 ** 73 76 70 ** 83 81 **  78
 9 Joelle Belley                  QUE   65 78 ** 76 ** 71 97 ** ** 74 80 65 ** 88 92 ** 84  78
11 Krista Bernard                 B.C.  81 ** 60 ** 77 69 ** 49 69 81 ** ** 76 80 ** 80 78  73
12 Julie Scales                   PEI   74 ** 81 ** 64 71 ** 72 52 71 ** ** 59 75 ** 69 76  69
 
   SKIPS  
 1 Sherry Middaugh                ONT   91 93 ** 76 ** 63 95 ** ** 70 75 89 ** 91 79 ** 79  82
 1 Sherry Anderson                SASK  72 84 ** 94 ** 59 83 ** ** 91 86 80 ** 87 85 ** 75  82
 3 Cathy King                     ALTA  83 76 ** 81 ** 80 78 ** ** 66 75 89 ** 91 89 ** 83  81
 3 Colleen Jones                  CAN   78 ** 91 ** 74 83 ** 84 78 91 ** ** 83 76 ** 69 83  81
 5 Jennifer Jones                 MAN   81 ** 88 ** 55 82 ** 87 79 86 ** ** 68 94 ** 86 75  79
 6 Kathy Floyd                    N.B.  ** 80 ** 80 65 ** 78 75 61 ** 62 71 85 ** 74 78 **  73
 6 Meridith Doyle                 N.S.  ** 73 ** 89 69 ** 73 74 68 ** 82 74 70 ** 48 71 **  73
 8 Cathy Cunningham               NFLD  ** 71 ** 61 49 ** 76 76 80 ** 75 76 59 ** 89 75 **  71
 8 Nathalie Gagnon                QUE   56 56 ** 67 ** 75 86 ** ** 71 83 79 ** 44 92 ** 68  71
10 Kristy Lewis                   B.C.  81 ** 21 ** 67 74 ** 69 70 64 ** ** 70 69 ** 79 71  69
11 Monique Gagnier                TERR  ** 69 ** 68 73 ** 47 79 63 ** 61 73 71 ** 64 74 **  68
11 Kathy O'Rourke                 PEI   71 ** 55 ** 75 73 ** 77 54 71 ** ** 68 54 ** 69 65  68
 
   TEAMS
 1 Canada (Jones)                       86 ** 87 ** 85 86 ** 88 84 84 ** ** 82 83 ** 81 85  85
 2 Ontario (Middaugh)                   93 88 ** 78 ** 74 80 ** ** 81 79 86 ** 87 86 ** 83  83
 2 Alberta (King)                       85 83 ** 78 ** 86 86 ** ** 79 80 88 ** 85 85 ** 78  83
 4 Manitoba (Jones)                     83 ** 79 ** 78 78 ** 80 86 88 ** ** 75 85 ** 86 74  81
 5 Sask (Anderson)                      73 83 ** 87 ** 73 82 ** ** 77 85 81 ** 83 81 ** 76  80
 5 New Brunswick(Floyd)                 ** 85 ** 80 69 ** 83 83 78 ** 78 77 78 ** 82 88 **  80
 7 NFLD (Cunningham)                    ** 74 ** 80 76 ** 84 77 83 ** 77 83 71 ** 87 80 **  79
 8 Nova Scotia (Doyle)                  ** 78 ** 84 73 ** 78 82 75 ** 85 82 69 ** 76 77 **  78
 8 Yukon/NWT (Gagnier)                  ** 78 ** 78 74 ** 71 74 76 ** 82 85 76 ** 78 80 **  78
10 Quebec (Gagnon)                      70 76 ** 68 ** 75 87 ** ** 72 82 75 ** 72 88 ** 75  76
11 B.C. (Lewis)                         79 ** 53 ** 72 75 ** 68 73 74 ** ** 77 78 ** 84 75  74
12 P.E.I. (O'Rourke)                    77 ** 70 ** 71 68 ** 79 63 74 ** ** 68 73 ** 73 72  72
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2002 Scott Tournament of Hearts
                                      Brandon, Manitoba
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Nancy Delahunt                 CAN    +  *  +  *  0  0  *  +  0  0  *  *  +  0  *  +  0  +5
Kate Horne                     ALTA   -  +  *  +  *  0  +  *  *  +  0  0  *  0  -  *  0  +2
Julie Blackburn                QUE    +  +  *  -  *  +  -  *  *  0  0  0  *  +  0  *  0  +2
Sheri Cordina                  ONT    +  -  *  +  *  +  -  *  *  0  0  0  *  +  -  *  0  +1
Jane Arseneau                  N.B.   *  *  *  *  *  *  *  +  0  *  0  0  -  *  +  *  *  +1
Krista Trider                  N.S.   *  +  *  -  -  *  +  +  0  *  +  0  -  *  0  -  *   0
Susan Allan                    B.C.   -  *  0  *  0  -  *  0  0  +  *  *  +  -  *  0  0  -1
Cheryl Burlington              TERR   *  -  *  +  -  *  +  0  -  *  0  0  -  *  +  0  *  -1
Heather Martin                 NFLD   *  -  *  0  +  *  -  -  +  *  0  *  *  *  0  0  *  -1
Bea Graham                     PEI    +  *  -  *  0  -  *  -  -  0  *  *  +  0  *  0  0  -2
Dana Allerton                  MAN    -  *  0  *  0  -  *  -  +  -  *  *  +  -  *  0  0  -3
Donna Gignac                   SASK   -  -  *  -  *  +  -  *  *  -  -  0  *  0  0  *  0  -5
 
SECONDS
Mary-Anne Waye                 CAN    0  *  +  *  +  +  *  +  +  -  *  *  0  +  *  0  +  +6
Kathy Kerr                     NFLD   *  0  *  +  +  *  +  -  +  *  0  +  0  *  +  0  *  +5
Candice MacLean                N.S.   *  0  *  +  +  *  +  0  0  *  0  0  +  *  0  0  *  +4
Lynn Fallis-Kurz               MAN    +  *  +  *  -  0  *  0  0  +  *  *  +  +  *  0  -  +3
Denise Blashko                 B.C.   0  *  -  *  0  +  *  +  0  -  *  *  0  +  *  -  0   0
Sandra Mulroney                SASK   -  0  *  +  *  +  0  *  *  +  0  -  *  -  -  *  +   0
Allison Franey                 N.B.   *  *  *  *  *  *  *  0  -  *  +  0  -  *  0  *  *  -1
Andrea Lawes                   ONT    0  0  *  -  *  0  -  *  *  +  -  -  *  -  +  *  +  -2
Sharon Cormier                 TERR   *  0  *  -  -  *  -  -  0  *  +  +  0  *  -  +  *  -2
Brenda Bohmer                  ALTA   0  0  *  +  *  -  -  *  *  -  -  0  *  0  0  *  0  -3
Sylvie Fortin                  QUE    +  0  *  -  *  -  +  *  *  -  0  0  *  -  0  *  -  -3
Lori Robinson                  PEI    -  *  -  *  0  -  *  0  -  +  *  *  -  0  *  -  -  -6
 
THIRDS 
Janet Brown                    ONT    +  +  *  -  *  -  0  *  *  0  0  +  *  +  +  *  +  +4
Lawnie MacDonald               ALTA   -  -  *  0  *  +  +  *  *  0  0  +  *  +  0  *  0  +2
Kim Hodson                     SASK   +  +  *  +  *  0  0  *  *  -  +  -  *  0  0  *  0  +2
Karen Porritt                  MAN    +  *  +  *  0  +  *  -  +  0  *  *  -  -  *  +  0  +2
Marie-Anne Power               N.B.   *  -  *  0  -  *  0  +  0  *  0  +  +  *  0  +  *  +2
Beth Iskiw                     N.S.   *  +  *  0  +  *  0  +  +  *  -  -  +  *  -  0  *  +2
Joelle Belley                  QUE    -  -  *  0  *  0  +  *  *  0  +  -  *  +  +  *  0  +1
Kim Kelly                      CAN    0  *  -  *  0  -  *  +  0  0  *  *  +  0  *  0  0   0
Kelly Kaylo                    TERR   *  +  *  0  -  *  -  +  -  *  0  +  -  *  -  +  *  -1
Krista Bernard                 B.C.   0  *  -  *  +  0  *  -  -  +  *  *  +  -  *  -  0  -2
Peg Goss                       NFLD   *  -  *  0  +  *  -  -  +  *  -  -  -  *  0  -  *  -5
Julie Scales                   PEI    -  *  +  *  -  0  *  -  -  0  *  *  -  -  *  -  -  -7
 
SKIPS  
Colleen Jones                  CAN    0  *  +  *  +  0  *  +  +  +  *  *  +  -  *  0  +  +6
Sherry Anderson                SASK   +  +  *  +  *  -  +  *  *  +  0  +  *  +  0  *  0  +6
Jennifer Jones                 MAN    +  *  +  *  -  +  *  +  +  +  *  *  -  +  *  +  0  +6
Sherry Middaugh                ONT    +  +  *  -  *  -  +  *  *  -  +  +  *  +  +  *  +  +5
Cathy King                     ALTA   -  -  *  +  *  0  0  *  *  -  +  +  *  +  +  *  +  +3
Nathalie Gagnon                QUE    -  -  *  -  *  0  +  *  *  0  +  +  *  -  +  *  -  -1
Kathy Floyd                    N.B.   *  +  *  +  0  *  -  0  -  *  -  -  +  *  -  0  *  -2
Meridith Doyle                 N.S.   *  0  *  +  0  *  -  -  0  *  0  -  0  *  -  0  *  -3
Kathy O'Rourke                 PEI    -  *  -  *  +  +  *  0  -  0  *  *  0  -  *  -  -  -4
Kristy Lewis                   B.C.   0  *  -  *  -  0  *  -  0  -  *  *  +  -  *  0  -  -5
Monique Gagnier                TERR   *  -  *  -  +  *  -  +  -  *  -  -  -  *  -  +  *  -5
Cathy Cunningham               NFLD   *  0  *  -  -  *  0  -  +  *  -  -  -  *  0  -  *  -6
 
   TEAMS
Canada (Jones)                        +  *  +  *  +  0  *  +  +  0  *  *  +  0  *  0  +  +7
Manitoba (Jones)                      +  *  +  *  -  0  *  0  +  +  *  *  0  +  *  +  0  +5
Ontario (Middaugh)                    +  +  *  -  *  0  0  *  *  0  0  0  *  +  +  *  +  +4
Alberta (King)                        -  0  *  +  *  0  0  *  *  -  0  +  *  +  0  *  0  +1
Sask (Anderson)                       0  0  *  +  *  +  0  *  *  0  0  0  *  0  -  *  0  +1
New Brunswick(Floyd)                  *  +  *  0  0  *  0  0  -  *  0  0  0  *  0  0  *   0
Quebec (Gagnon)                       0  -  *  -  *  0  +  *  *  0  +  0  *  -  +  *  -  -1
Nova Scotia (Doyle)                   *  0  *  +  0  *  0  0  0  *  0  -  0  *  -  0  *  -1
NFLD (Cunningham)                     *  0  *  0  0  *  0  -  +  *  -  0  -  *  +  -  *  -2
B.C. (Lewis)                          -  *  -  *  0  0  *  -  0  0  *  *  +  -  *  0  0  -3
Yukon/NWT (Gagnier)                   *  -  *  -  0  *  -  +  -  *  0  0  -  *  -  +  *  -4
P.E.I. (O'Rourke)                     -  *  -  *  0  -  *  0  -  0  *  *  0  -  *  -  -  -7
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2002 Scott Tournament of Hearts
                                      Brandon, Manitoba
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
CAN    11   107  FOR       6    15     28   19    2    2    0    0   80   7.3   17  0.75
                 AGAINST   9     6     19   19    3    0    0    0   66   6.0    6  0.62
 
B.C.   11   104  FOR       3     6     20   17    2    0    0    0   60   5.5    6  0.58
                 AGAINST  13    17     32   13    3    1    0    0   71   6.5   22  0.68
 
ALTA   11    99  FOR       5     8     18   18    5    1    0    0   73   6.6   12  0.74
                 AGAINST  10     8     27   11    4    0    0    0   61   5.5   13  0.62
 
SASK   11   104  FOR      12    12     27   15    3    0    0    0   66   6.0   17  0.63
                 AGAINST   7     8     29   10    1    0    0    0   52   4.7   10  0.50
 
MAN    11    96  FOR       2    24     27   18    7    2    0    0   92   8.4   39  0.96
                 AGAINST   4     7     23    7    6    0    0    0   55   5.0   10  0.57
 
ONT    11   101  FOR       7    15     30   19    2    0    0    0   74   6.7   20  0.73
                 AGAINST   2     7     26   12    2    1    0    0   60   5.5   10  0.59
 
QUE    11    96  FOR       5    14     31   10    3    1    0    0   64   5.8   21  0.67
                 AGAINST   3    11     22   14    7    0    0    0   71   6.5   14  0.74
 
N.S.   11   104  FOR       7    11     33    8    4    1    0    0   65   5.9   12  0.63
                 AGAINST   5    10     25   18    2    1    0    0   71   6.5   13  0.68
 
PEI    11   100  FOR       9    10     30    6    2    0    1    0   53   4.8   11  0.53
                 AGAINST   5    17     20   19    7    1    0    0   83   7.5   26  0.83
 
N.B.   11   108  FOR       5     7     21   11    6    1    0    0   65   5.9   10  0.60
                 AGAINST   7    23     38   15    3    0    1    0   82   7.5   32  0.76
 
NFLD   11   106  FOR      10    10     26   14    4    0    0    0   66   6.0   15  0.62
                 AGAINST   6    10     26   17    2    1    0    0   70   6.4   12  0.66
 
TERR   11    99  FOR       4     8     27   11    4    0    0    0   61   5.5   10  0.62
                 AGAINST   4    16     31   11    4    3    0    0   77   7.0   22  0.78
 
 
TOTAL  66   612  FOR      75   140    318  166   44    8    1    0  819   6.2  190  0.67
                 AGAINST  75   140    318  166   44    8    1    0  819   6.2  190  0.67
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2002 Scott Tournament of Hearts
                                      Brandon, Manitoba
 
                                     TEAM WIN/LOSS GRID
 
 
        CAN   B.C.  ALTA  SASK  MAN   ONT   QUE   N.S.  PEI   N.B.  NFLD  TERR  
 
 
CAN      *     L     W     L     W     W     W     L     W     W     W     W  
 
 
B.C.     W     *     L     L     L     L     W     W     W     W     W     L  
 
 
ALTA     L     W     *     L     L     L     W     W     W     W     L     W  
 
 
SASK     W     W     W     *     L     W     W     W     L     W     W     W  
 
 
MAN      L     W     W     W     *     W     W     W     W     L     L     W  
 
 
ONT      L     W     W     L     L     *     W     W     W     W     W     W  
 
 
QUE      L     L     L     L     L     L     *     W     L     W     W     W  
 
 
N.S.     W     L     L     L     L     L     L     *     W     W     W     W  
 
 
PEI      L     L     L     W     L     L     W     L     *     W     L     L  
 
 
N.B.     L     L     L     L     W     L     L     L     L     *     W     L  
 
 
NFLD     L     L     W     L     W     L     L     L     W     L     *     L  
 
 
TERR     L     W     L     L     L     L     L     L     W     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2002 Scott Tournament of Hearts
                                      Brandon, Manitoba
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Jones)                 #SH   201  327  528   202  360  562   403  687 1090
                                  PTS   652 1132 1784   674 1238 1912  1326 2370 3696
                                  PCT    81   87   84    83   86   85    82   86   85
 
 1 Nancy Delahunt                 #SH    44  132  176    25   66   91    69  198  267
                                  PTS   158  492  650    80  233  313   238  725  963
                                  PCT    90   93   92    80   88   86    86   92   90
 
 2 Mary-Anne Waye                 #SH    45   68  113    78   87  165   123  155  278
                                  PTS   152  228  380   282  301  583   434  529  963
                                  PCT    84   84   84    90   86   88    88   85   87
 
 3 Kim Kelly                      #SH    63   52  115    51  112  163   114  164  278
                                  PTS   202  165  367   162  372  534   364  537  901
                                  PCT    80   79   80    79   83   82    80   82   81
 
 4 Colleen Jones                  #SH    49   75  124    48   95  143    97  170  267
                                  PTS   140  247  387   150  332  482   290  579  869
                                  PCT    71   82   78    78   87   84    75   85   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Lewis)                   #SH   202  217  419   232  199  431   434  416  850
                                  PTS   605  614 1219   703  600 1303  1308 1214 2522
                                  PCT    75   71   73    76   75   76    75   73   74
 
 1 Susan Allan                    #SH    74   77  151    31   32   63   105  109  214
                                  PTS   251  244  495    95   90  185   346  334  680
                                  PCT    85   79   82    77   70   73    82   77   79
 
 2 Denise Blashko                 #SH    45   48   93    67   54  121   112  102  214
                                  PTS   139  130  269   212  164  376   351  294  645
                                  PCT    77   68   72    79   76   78    78   72   75
 
 3 Krista Bernard                 #SH    43   43   86    77   51  128   120   94  214
                                  PTS   113  121  234   230  163  393   343  284  627
                                  PCT    66   70   68    75   80   77    71   76   73
 
 4 Kristy Lewis                   #SH    40   49   89    57   62  119    97  111  208
                                  PTS   102  119  221   166  183  349   268  302  570
                                  PCT    64   61   62    73   74   73    69   68   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (King)                 #SH   203  164  367   141  305  446   344  469  813
                                  PTS   672  552 1224   446 1032 1478  1118 1584 2702
                                  PCT    83   84   83    79   85   83    81   84   83
 
 1 Kate Horne                     #SH    82   62  144    12   44   56    94  106  200
                                  PTS   286  224  510    32  140  172   318  364  682
                                  PCT    87   90   89    67   80   77    85   86   85
 
 2 Brenda Bohmer                  #SH    40   30   70    38   98  136    78  128  206
                                  PTS   124   99  223   107  342  449   231  441  672
                                  PCT    78   83   80    70   87   83    74   86   82
 
 3 Lawnie MacDonald               #SH    36   34   70    45   90  135    81  124  205
                                  PTS   123  103  226   156  312  468   279  415  694
                                  PCT    85   76   81    87   87   87    86   84   85
 
 4 Cathy King                     #SH    45   38   83    46   73  119    91  111  202
                                  PTS   139  126  265   151  238  389   290  364  654
                                  PCT    77   83   80    82   82   82    80   82   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Anderson)                #SH   186  201  387   242  399  641   428  600 1028
                                  PTS   594  648 1242   739 1333 2072  1333 1981 3314
                                  PCT    80   81   80    76   84   81    78   83   81
 
 1 Donna Gignac                   #SH    74   76  150    38   63  101   112  139  251
                                  PTS   246  261  507    89  205  294   335  466  801
                                  PCT    83   86   85    59   81   73    75   84   80
 
 2 Sandra Mulroney                #SH    33   38   71    77  114  191   110  152  262
                                  PTS    93  118  211   245  354  599   338  472  810
                                  PCT    70   78   74    80   78   78    77   78   77
 
 3 Kim Hodson                     #SH    37   41   78    62  122  184    99  163  262
                                  PTS   115  114  229   208  438  646   323  552  875
                                  PCT    78   70   73    84   90   88    82   85   83
 
 4 Sherry Anderson                #SH    42   46   88    65  100  165   107  146  253
                                  PTS   140  155  295   197  336  533   337  491  828
                                  PCT    83   84   84    76   84   81    79   84   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Jones)               #SH   205  182  387   247  218  465   452  400  852
                                  PTS   668  593 1261   765  723 1488  1433 1316 2749
                                  PCT    81   81   81    77   83   80    79   82   81
 
 1 Dana Allerton                  #SH    88   70  158    33   18   51   121   88  209
                                  PTS   305  223  528    91   56  147   396  279  675
                                  PCT    87   80   84    69   78   72    82   79   81
 
 2 Lynn Fallis-Kurz               #SH    33   31   64    79   73  152   112  104  216
                                  PTS    92  108  200   252  251  503   344  359  703
                                  PCT    70   87   78    80   86   83    77   86   81
 
 3 Karen Porritt                  #SH    37   37   74    68   74  142   105  111  216
                                  PTS   125  119  244   220  240  460   345  359  704
                                  PCT    84   80   82    81   81   81    82   81   81
 
 4 Jennifer Jones                 #SH    47   44   91    67   53  120   114   97  211
                                  PTS   146  143  289   202  176  378   348  319  667
                                  PCT    78   81   79    75   83   79    76   82   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Middaugh)             #SH   249  213  462   258  262  520   507  475  982
                                  PTS   823  736 1559   844  862 1706  1667 1598 3265
                                  PCT    83   86   84    82   82   82    82   84   83
 
 1 Sheri Cordina                  #SH    83   79  162    38   42   80   121  121  242
                                  PTS   294  288  582   124  125  249   418  413  831
                                  PCT    89   91   90    82   74   78    86   85   86
 
 2 Andrea Lawes                   #SH    49   33   82    87   79  166   136  112  248
                                  PTS   161  110  271   287  255  542   448  365  813
                                  PCT    82   83   83    82   81   82    82   81   82
 
 3 Janet Brown                    #SH    50   42   92    81   74  155   131  116  247
                                  PTS   155  143  298   272  246  518   427  389  816
                                  PCT    78   85   81    84   83   84    81   84   83
 
 4 Sherry Middaugh                #SH    67   59  126    52   67  119   119  126  245
                                  PTS   213  195  408   161  236  397   374  431  805
                                  PCT    79   83   81    77   88   83    79   86   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Gagnon)                #SH   229  149  378   175  221  396   404  370  774
                                  PTS   706  447 1153   521  675 1196  1227 1122 2349
                                  PCT    77   75   76    74   76   76    76   76   76
 
 1 Julie Blackburn                #SH    84   45  129    22   41   63   106   86  192
                                  PTS   280  154  434    63  124  187   343  278  621
                                  PCT    83   86   84    72   76   74    81   81   81
 
 2 Sylvie Fortin                  #SH    52   32   84    41   71  112    93  103  196
                                  PTS   151   97  248   117  215  332   268  312  580
                                  PCT    73   76   74    71   76   74    72   76   74
 
 3 Joelle Belley                  #SH    43   29   72    61   62  123   104   91  195
                                  PTS   137   82  219   190  198  388   327  280  607
                                  PCT    80   71   76    78   80   79    79   77   78
 
 4 Nathalie Gagnon                #SH    50   43   93    51   47   98   101   90  191
                                  PTS   138  114  252   151  138  289   289  252  541
                                  PCT    69   66   68    74   73   74    72   70   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Doyle)            #SH   184  245  429   196  212  408   380  457  837
                                  PTS   583  768 1351   593  674 1267  1176 1442 2618
                                  PCT    79   78   79    76   79   78    77   79   78
 
 1 Krista Trider                  #SH    47   96  143    24   37   61    71  133  204
                                  PTS   149  309  458    75  121  196   224  430  654
                                  PCT    79   80   80    78   82   80    79   81   80
 
 2 Candice MacLean                #SH    48   52  100    61   53  114   109  105  214
                                  PTS   155  176  331   175  180  355   330  356  686
                                  PCT    81   85   83    72   85   78    76   85   80
 
 3 Beth Iskiw                     #SH    45   58  103    58   53  111   103  111  214
                                  PTS   146  179  325   178  178  356   324  357  681
                                  PCT    81   77   79    77   84   80    79   80   80
 
 4 Meridith Doyle                 #SH    44   39   83    53   69  122    97  108  205
                                  PTS   133  104  237   165  195  360   298  299  597
                                  PCT    76   67   71    78   71   74    77   69   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (O'Rourke)              #SH   205  262  467   150  187  337   355  449  804
                                  PTS   559  794 1353   411  546  957   970 1340 2310
                                  PCT    68   76   72    69   73   71    68   75   72
 
 1 Bea Graham                     #SH    56   93  149    22   28   50    78  121  199
                                  PTS   165  307  472    55   79  134   220  386  606
                                  PCT    74   83   79    63   71   67    71   80   76
 
 2 Lori Robinson                  #SH    42   65  107    43   54   97    85  119  204
                                  PTS   122  206  328   129  148  277   251  354  605
                                  PCT    73   79   77    75   69   71    74   74   74
 
 3 Julie Scales                   #SH    54   59  113    41   49   90    95  108  203
                                  PTS   143  164  307   108  149  257   251  313  564
                                  PCT    66   69   68    66   76   71    66   72   69
 
 4 Kathy O'Rourke                 #SH    53   45   98    44   56  100    97  101  198
                                  PTS   129  117  246   119  170  289   248  287  535
                                  PCT    61   65   63    68   76   72    64   71   68
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   New Brunswick(Floyd)           #SH   233  265  498   162  225  387   395  490  885
                                  PTS   767  855 1622   506  706 1212  1273 1561 2834
                                  PCT    82   81   81    78   78   78    81   80   80
 
 1 Allison Franey                 #SH    63   74  137    32   55   87    95  129  224
                                  PTS   225  261  486    97  185  282   322  446  768
                                  PCT    89   88   89    76   84   81    85   86   86
 
 2 Jane Arseneau                  #SH    64   80  144    28   50   78    92  130  222
                                  PTS   222  271  493    79  147  226   301  418  719
                                  PCT    87   85   86    71   74   72    82   80   81
 
 3 Marie-Anne Power               #SH    50   58  108    47   69  116    97  127  224
                                  PTS   160  170  330   155  230  385   315  400  715
                                  PCT    80   73   76    82   83   83    81   79   80
 
 4 Kathy Floyd                    #SH    56   53  109    55   51  106   111  104  215
                                  PTS   160  153  313   175  144  319   335  297  632
                                  PCT    71   72   72    80   71   75    75   71   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Cunningham)              #SH   286  165  451   178  231  409   464  396  860
                                  PTS   933  505 1438   526  759 1285  1459 1264 2723
                                  PCT    82   77   80    74   82   79    79   80   79
 
 1 Heather Martin                 #SH    91   25  116    20   40   60   111   65  176
                                  PTS   318   81  399    63  142  205   381  223  604
                                  PCT    87   81   86    79   89   85    86   86   86
 
 2 Kathy Kerr                     #SH    64   38  102    49   65  114   113  103  216
                                  PTS   208  115  323   165  217  382   373  332  705
                                  PCT    81   76   79    84   83   84    83   81   82
 
 3 Peg Goss                       #SH    60   43  103    50   63  113   110  106  216
                                  PTS   197  124  321   147  209  356   344  333  677
                                  PCT    82   72   78    74   83   79    78   79   78
 
 4 Cathy Cunningham               #SH    51   52  103    52   57  109   103  109  212
                                  PTS   137  163  300   135  171  306   272  334  606
                                  PCT    67   78   73    65   75   70    66   77   71
 
 5 Anna-Mae Holden                #SH    20    7   27     7    6   13    27   13   40
                                  PTS    73   22   95    16   20   36    89   42  131
                                  PCT    91   79   88    57   83   69    82   81   82
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Yukon/NWT (Gagnier)            #SH   205  235  440   148  228  376   353  463  816
                                  PTS   613  775 1388   450  696 1146  1063 1471 2534
                                  PCT    75   82   79    76   76   76    75   79   78
 
 1 Cheryl Burlington              #SH    37  109  146    23   35   58    60  144  204
                                  PTS   119  369  488    70  106  176   189  475  664
                                  PCT    80   85   84    76   76   76    79   82   81
 
 2 Sharon Cormier                 #SH    49   49   98    42   66  108    91  115  206
                                  PTS   151  153  304   145  203  348   296  356  652
                                  PCT    77   78   78    86   77   81    81   77   79
 
 3 Kelly Kaylo                    #SH    58   41   99    42   64  106   100  105  205
                                  PTS   188  145  333   124  216  340   312  361  673
                                  PCT    81   88   84    74   84   80    78   86   82
 
 4 Monique Gagnier                #SH    61   36   97    41   63  104   102   99  201
                                  PTS   155  108  263   111  171  282   266  279  545
                                  PCT    64   75   68    68   68   68    65   70   68
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                               2002 Scott Tournament of Hearts
                                      Brandon, Manitoba
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  70
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  11
 
          DRAW  3    MAN  11  B.C.  0
          DRAW 10    MAN  11  ALTA  4
          DRAW 15    QUE  11  N.S.  2
 
LOWEST SCORE, ONE TEAM, ONE GAME:   0
 
          DRAW  3    MAN  11  B.C.  0
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  17
 
          DRAW  6    B.C. 10  QUE   7
          DRAW  8    N.B.  8  PEI   9
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  1    SASK  5  QUE   3
          DRAW  2    SASK  5  ALTA  3
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  8    N.B.  8  PEI   9    PEI  SCORED 5 IN THE 6TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  4    ONT   5  SASK  8    SASK SCORED 3 IN THE 4TH END
          DRAW  9    TERR  4  MAN  10    MAN  SCORED 3 IN THE 6TH END
          DRAW  9    NFLD  9  PEI   2    NFLD SCORED 3 IN THE 6TH END
          DRAW 10    MAN  11  ALTA  4    MAN  SCORED 3 IN THE SECOND END
          DRAW 10    MAN  11  ALTA  4    MAN  SCORED 3 IN THE THIRD END
          DRAW 11    ONT   9  N.B.  6    ONT  SCORED 3 IN THE 4TH END
          DRAW 12    QUE   8  N.B.  5    QUE  SCORED 3 IN THE 10TH END
          DRAW 13    N.B.  9  MAN   6    N.B. SCORED 3 IN THE THIRD END
          DRAW 14    MAN   9  QUE   3    MAN  SCORED 3 IN THE THIRD END
          DRAW 20    ONT   6  CAN   8    ONT  SCORED 3 IN THE 4TH END
          DRAW 21    SASK  5  CAN   8    CAN  SCORED 3 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  6    CAN   6  ALTA  5
          DRAW 16    N.B.  4  B.C.  6
 
NUMBER OF BLANK ENDS IN EVENT:  80
 
MOST BLANK ENDS ONE DRAW:   9
 
          DRAW  1
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  7    SASK  7  N.B.  4    BY SASK BEGINNING IN END 1
          DRAW  8    NFLD  5  CAN   6    BY NFLD BEGINNING IN END 3
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW 13    N.B.  9  MAN   6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   5
 
          DRAW  3    MAN  11  B.C.  0    BY MAN  BEGINNING IN END 2
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  3    MAN  11  B.C.  0    BY MAN 
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  5    NFLD  6  TERR  7    TERR WAS DOWN 3 AFTER 6 ENDS
          DRAW  7    ALTA  7  NFLD  8    NFLD WAS DOWN 3 AFTER 7 ENDS
          DRAW  8    N.S.  7  MAN   8    MAN  WAS DOWN 3 AFTER 1 END
          DRAW 16    N.B.  4  B.C.  6    B.C. WAS DOWN 3 AFTER 1 END
          DRAW 17    B.C.  6  ALTA  9    ALTA WAS DOWN 3 AFTER 3 ENDS
 
NUMBER OF EXTRA END GAMES:   5
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  5    B.C.  7  PEI   5
          DRAW  8    N.B.  8  PEI   9
          DRAW  9    N.B.  7  CAN   8
          DRAW 11    SASK  5  N.S.  4
          DRAW 16    NFLD  6  MAN   5
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  3    MAN  11  B.C.  0
          DRAW 14    MAN   9  QUE   3
          DRAW 15    QUE  11  N.S.  2
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW 16    N.B.  4  B.C.  6    BY N.B.
  </div>
</div>
