<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2007 Scotties Tournament of Hearts
                                     Lethbridge, Alberta
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Sinead Dolan                             PEI   ** ** ** ** ** ** ** ** ** ** ** ** 90 84 ** ** **  87
 1 Marcia Gudereit                          SASK  74 88 ** 86 ** 81 94 ** ** 86 87 91 ** 95 84 79 **  85
 1 Darah Provencal                          BC    ** 95 ** 76 89 ** 65 90 77 ** 93 82 88 ** 92 ** 94  85
 3 Dawn Moses                               NWTY  83 88 ** 84 ** 89 85 ** ** ** 84 74 ** 85 81 92 **  84
 3 Janet Arnott                             MAN   81 94 ** 74 ** 88 71 ** ** 83 85 89 ** 82 94 86 **  84
 + Nicole Baldwin                           NWTY  ** ** ** ** ** ** ** ** ** 83 ** ** ** ** ** ** **  83
 5 Lorraine Lang                            ONT   ** 86 ** 82 92 ** 81 79 75 ** 81 93 80 ** 89 ** 73  83
 5 Susan O'Leary                            NL    74 ** 90 ** 66 86 ** 81 80 88 ** ** 87 85 ** 95 80  83
 7 Cori Bartel                              ALTA  86 ** 83 ** 90 83 ** 94 77 63 ** ** 78 80 ** 76 92  81
 8 Renee Simons                             CAN   83 ** 88 ** 98 81 ** 90 68 59 ** ** 82 86 ** 71 78  80
 8 Sylvie Daniel                            QUE   ** 80 ** 59 91 ** 79 77 79 ** 85 79 79 ** 88 ** 86  80
10 Stefanie Clark                           PEI   66 ** 75 ** 81 88 ** 75 81 76 ** ** ** ** ** 80 89  79
11 Jeanette Murphy                          NB    ** 86 ** 74 68 ** 82 84 74 ** 69 68 81 ** 91 ** 79  78
12 Hayley Clarke                            NS    75 69 ** 74 ** 77 71 ** ** 76 75 79 ** 75 91 71 **  75
 
   SECONDS
 1 Jill Officer                             MAN   72 91 ** 84 ** 88 91 ** ** 83 75 90 ** 89 98 82 **  85
 2 Sasha Carter                             CAN   75 ** 79 ** 79 79 ** 86 88 90 ** ** 78 88 ** 76 88  82
 3 Nancy Inglis                             SASK  86 79 ** 76 ** 82 90 ** ** 66 83 86 ** 94 90 75 **  81
 4 Shannon Aleksic                          BC    ** 86 ** 65 85 ** 70 81 80 ** 81 69 74 ** 81 ** 80  77
 5 Carolyn Darbyshire                       ALTA  75 ** 86 ** 81 77 ** 91 68 73 ** ** 81 64 ** 68 78  76
 6 Marie-Anne Power                         NB    ** 82 ** 70 73 ** 52 80 74 ** 56 86 83 ** 94 ** 73  75
 7 Tiffany Stubbings                        ONT   ** 70 ** 70 76 ** 79 72 77 ** 70 68 65 ** 68 ** 83  73
 8 Carol Webb                               PEI   82 ** 47 ** 66 63 ** 64 76 63 ** ** 79 67 ** 88 91  71
 8 Teri Lake                                NS    73 67 ** 64 ** 70 53 ** ** 79 66 64 ** 84 77 80 **  71
10 Kelli Turpin                             NWTY  64 76 ** 70 ** ** ** ** ** ** 61 57 ** 75 84 ** **  70
11 Laura Strong                             NL    66 ** 70 ** 63 70 ** 85 61 54 ** ** 76 78 ** 74 66  69
12 Catherine Derick                         QUE   ** 56 ** 64 67 ** 65 48 70 ** 78 70 76 ** 73 ** 57  66
 + Nicole Baldwin                           NWTY  ** ** ** ** ** 59 67 ** ** ** ** ** ** ** ** 72 **  66
 + Dawn Moses                               NWTY  ** ** ** ** ** ** ** ** ** 63 ** ** ** ** ** ** **  63
 
   THIRDS 
 1 Jeanna Schraeder                         CAN   71 ** 90 **100 89 ** 84 82 81 ** ** 84 92 ** 81 84  85
 2 Lana Vey                                 SASK  88 76 ** 83 ** 88 92 ** ** 71 79 89 ** 91 90 81 **  83
 3 Cathy Overton-Clapham                    MAN   67 85 ** 76 ** 95 79 ** ** 84 75 91 ** 66 79 74 **  79
 3 Susan O'Connor                           ALTA  79 ** 71 ** 85 68 ** 89 79 85 ** ** 80 64 ** 75 90  79
 5 Tara George                              ONT   ** 85 ** 76 63 ** 77 71 81 ** 91 93 61 ** 89 ** 76  78
 6 Meredith Harrison                        NS    74 75 ** 79 ** 70 78 ** ** 74 75 ** ** ** 73 85 **  76
 7 Georgina Wheatcroft                      BC    ** 83 ** 81 69 ** 69 78 76 ** 76 72 83 ** 65 ** 74  75
 7 Robyn MacPhee                            PEI   69 ** 65 ** 65 89 ** 64 77 74 ** ** 78 76 ** 75 95  75
 9 Kerry Koe(S)                             NWTY  76 75 ** 84 ** 75 72 ** ** 71 69 75 ** 71 68 81 **  74
10 Shelley Nichols                          NL    65 ** 79 ** 75 77 ** 76 56 65 ** ** 72 79 ** 64 64  70
11 Denise Nowlan                            NB    ** 63 ** 78 70 ** 64 59 68 ** 75 63 68 ** 73 ** 77  69
12 Cheryl Morgan                            QUE   ** 59 ** 51 69 ** 58 70 65 ** 75 81 72 ** 75 ** 71  68
 + Mary Mattatall                           NS    ** ** ** ** ** ** ** ** ** ** ** 62 ** 70 ** ** **  66
 
   SKIPS  
 1 Kelly Scott                              CAN   84 ** 61 ** 94 80 ** 75 84 90 ** ** 80 88 ** 96 80  82
 2 Jan Betker                               SASK  86 89 ** 71 ** 85 85 ** ** 72 88 91 ** 55 92 74 **  80
 3 Jennifer Jones                           MAN   68 70 ** 75 ** 91 79 ** ** 70 65 78 ** 82 92 81 **  76
 4 Cheryl Bernard                           ALTA  69 ** 84 ** 50 55 ** 88 83 61 ** ** 84 57 ** 86 82  73
 4 Heather Strong                           NL    82 ** 60 ** 70 71 ** 82 59 82 ** ** 78 80 ** 67 73  73
 6 Kelley Law                               BC    ** 85 ** 73 66 ** 76 72 65 ** 69 65 80 ** 50 ** 70  71
 7 Suzanne Gaudet                           PEI   88 ** 64 ** 61 72 ** 56 77 66 ** ** 63 67 ** 78 77  70
 8 Krista Scharf                            ONT   ** 79 ** 72 78 ** 40 71 74 ** 76 56 71 ** 59 ** 68  69
 9 Jill Mouzar                              NS    53 65 ** 74 ** 57 64 ** ** 70 56 58 ** 67 89 80 **  67
10 Sandy Comeau                             NB    ** 76 ** 59 74 ** 45 61 63 ** 56 61 74 ** 79 ** 71  66
11 Monique Gagnier                          NWTY  70 63 ** 62 ** 71 44 ** ** 58 73 60 ** 57 74 58 **  63
12 Chantal Osborne                          QUE   ** 63 ** 59 66 ** 72 54 57 ** 56 75 54 ** 63 ** 57  61
 
   TEAMS
 1 Sask (Betker)                                  83 83 ** 79 ** 84 90 ** ** 74 84 89 ** 84 89 77 **  83
 2 Canada (Scott)                                 78 ** 80 ** 93 82 ** 84 81 80 ** ** 81 88 ** 81 82  82
 3 Manitoba (Jones)                               72 85 ** 77 ** 90 80 ** ** 80 75 87 ** 80 91 81 **  81
 4 Alberta (Bernard)                              77 ** 81 ** 77 71 ** 90 77 71 ** ** 81 67 ** 76 85  77
 4 B.C. (Law)                                     ** 87 ** 74 77 ** 70 80 75 ** 80 72 81 ** 72 ** 79  77
 6 Ontario (Scharf)                               ** 80 ** 75 77 ** 69 73 77 ** 80 78 69 ** 76 ** 75  76
 7 PEI (Gaudet)                                   76 ** 63 ** 68 78 ** 65 78 70 ** ** 77 74 ** 80 88  74
 7 NL (Strong)                                    72 ** 75 ** 68 76 ** 81 64 72 ** ** 78 80 ** 75 70  74
 9 NWT/Y (Koe)                                    73 76 ** 75 ** 74 67 ** ** 69 72 66 ** 72 77 76 **  73
10 N.B. (Comeau)                                  ** 77 ** 70 71 ** 61 71 69 ** 64 69 76 ** 84 ** 75  72
10 Nova Scotia (Mouzar)                           69 69 ** 73 ** 68 66 ** ** 75 68 66 ** 74 83 79 **  72
12 Quebec (Osborne)                               ** 64 ** 58 73 ** 69 62 68 ** 73 76 70 ** 74 ** 68  69
 
**did not play
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2007 Scotties Tournament of Hearts
                                     Lethbridge, Alberta
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Janet Arnott                             MAN    +  +  *  0  *  0  -  *  *  +  -  0  *  0  +  +  *  +3
Darah Provencal                          BC     *  +  *  -  +  *  -  0  0  *  +  +  0  *  +  *  0  +3
Susan O'Leary                            NL     -  *  +  *  -  0  *  0  0  0  *  *  0  0  *  +  +  +1
Marcia Gudereit                          SASK   -  +  *  0  *  -  +  *  *  0  0  +  *  +  -  0  *  +1
Dawn Moses                               NWTY   +  -  *  0  *  +  +  *  *  *  0  -  *  0  -  +  *  +1
Lorraine Lang                            ONT    *  0  *  +  0  *  -  0  +  *  0  0  0  *  0  *  -   0
Hayley Clarke                            NS     -  -  *  0  *  0  +  *  *  +  +  0  *  -  0  -  *  -1
Stefanie Clark                           PEI    -  *  -  *  +  +  *  0  0  -  *  *  *  *  *  -  +  -1
Jeanette Murphy                          NB     *  0  *  +  -  *  +  0  0  *  -  -  0  *  +  *  -  -1
Renee Simons                             CAN    +  *  +  *  +  0  *  0  -  -  *  *  0  -  *  -  -  -2
Cori Bartel                              ALTA   +  *  -  *  -  -  *  +  0  -  *  *  0  0  *  0  0  -2
Sylvie Daniel                            QUE    *  -  *  -  0  *  -  -  0  *  0  0  -  *  -  *  +  -5
 
SECONDS
Nancy Inglis                             SASK   +  +  *  +  *  +  +  *  *  +  +  0  *  +  +  +  * +10
Jill Officer                             MAN    -  +  *  +  *  +  +  *  *  +  -  +  *  +  +  +  *  +7
Sasha Carter                             CAN    +  *  +  *  0  +  *  +  +  +  *  *  -  -  *  -  +  +4
Shannon Aleksic                          BC     *  +  *  -  +  *  +  -  0  *  +  +  0  *  -  *  0  +2
Teri Lake                                NS     +  -  *  -  *  -  -  *  *  +  +  -  *  +  +  +  *  +1
Marie-Anne Power                         NB     *  +  *  +  -  *  -  -  +  *  -  0  +  *  +  *  -   0
Carolyn Darbyshire                       ALTA   -  *  +  *  0  +  *  +  -  -  *  *  +  -  *  -  0  -1
Tiffany Stubbings                        ONT    *  -  *  +  +  *  -  +  -  *  +  -  -  *  -  *  +  -1
Carol Webb                               PEI    +  *  -  *  0  -  *  -  0  -  *  *  0  -  *  +  +  -2
Catherine Derick                         QUE    *  -  *  -  -  *  0  -  +  *  -  +  0  *  -  *  -  -5
Laura Strong                             NL     -  *  -  *  0  -  *  +  -  -  *  *  0  0  *  -  -  -6
Kelli Turpin                             NWTY   -  -  *  -  *  *  *  *  *  *  -  -  *  0  -  *  *  -6
 
THIRDS 
Jeanna Schraeder                         CAN    +  *  +  *  +  +  *  +  0  +  *  *  +  0  *  +  +  +9
Lana Vey                                 SASK   +  0  *  0  *  0  +  *  *  +  0  +  *  0  +  +  *  +6
Cathy Overton-Clapham                    MAN    -  +  *  0  *  +  +  *  *  +  0  0  *  0  0  -  *  +2
Susan O'Connor                           ALTA   +  *  -  *  -  -  *  +  +  +  *  *  +  0  *  -  +  +2
Tara George                              ONT    *  +  *  -  -  *  -  +  0  *  +  0  -  *  +  *  +  +1
Meredith Harrison                        NS     0  0  *  0  *  -  +  *  *  -  0  *  *  *  -  +  *  -1
Georgina Wheatcroft                      BC     *  +  *  +  0  *  -  -  0  *  0  0  +  *  -  *  -  -1
Kerry Koe(S)                             NWTY   0  -  *  0  *  +  +  *  *  -  -  0  *  -  -  +  *  -2
Shelley Nichols                          NL     -  *  +  *  +  -  *  +  -  -  *  *  -  +  *  -  -  -3
Robyn MacPhee                            PEI    -  *  -  *  -  0  *  -  0  -  *  *  +  +  *  -  +  -3
Cheryl Morgan                            QUE    *  -  *  -  +  *  -  -  +  *  0  +  -  *  0  *  -  -3
Denise Nowlan                            NB     *  -  *  +  0  *  -  -  -  *  0  -  -  *  +  *  -  -5
 
SKIPS  
Kelly Scott                              CAN    0  *  0  *  +  +  *  0  +  +  *  *  +  +  *  +  +  +8
Jan Betker                               SASK   +  +  *  +  *  +  +  *  *  -  +  +  *  -  +  -  *  +5
Jennifer Jones                           MAN    -  +  *  0  *  +  +  *  *  0  0  +  *  +  +  -  *  +4
Heather Strong                           NL     0  *  -  *  +  -  *  +  0  +  *  *  0  +  *  -  +  +2
Suzanne Gaudet                           PEI    +  *  0  *  -  -  *  -  +  0  *  *  +  0  *  +  +  +2
Cheryl Bernard                           ALTA   -  *  +  *  -  -  *  +  +  -  *  *  +  -  *  +  +  +1
Kelley Law                               BC     *  +  *  0  -  *  +  0  -  *  0  +  0  *  -  *  -  -1
Jill Mouzar                              NS     -  -  *  0  *  -  -  *  *  +  0  -  *  0  +  +  *  -2
Sandy Comeau                             NB     *  0  *  0  +  *  -  -  -  *  0  -  -  *  +  *  -  -4
Krista Scharf                            ONT    *  0  *  0  +  *  -  +  -  *  0  -  -  *  -  *  -  -4
Chantal Osborne                          QUE    *  -  *  0  -  *  +  -  0  *  -  +  -  *  -  *  -  -5
Monique Gagnier                          NWTY   +  -  *  -  *  +  -  *  *  -  0  -  *  -  -  -  *  -6
 
   TEAMS
Canada (Scott)                                  +  *  +  *  +  +  *  0  0  +  *  *  +  0  *  0  +  +7
Sask (Betker)                                   +  +  *  0  *  +  +  *  *  0  +  +  *  0  +  0  *  +7
Manitoba (Jones)                                -  +  *  0  *  +  +  *  *  +  -  +  *  +  +  0  *  +5
Alberta (Bernard)                               0  *  +  *  -  0  *  +  +  0  *  *  +  -  *  0  +  +3
B.C. (Law)                                      *  +  *  0  +  *  0  0  0  *  +  +  0  *  -  *  -  +2
Ontario (Scharf)                                *  0  *  0  0  *  -  +  0  *  +  -  -  *  -  *  +  -1
Nova Scotia (Mouzar)                            0  -  *  0  *  -  0  *  *  0  0  -  *  0  +  0  *  -2
PEI (Gaudet)                                    0  *  -  *  0  -  *  -  0  -  *  *  +  0  *  0  +  -2
NL (Strong)                                     -  *  -  *  0  -  *  +  0  0  *  *  0  +  *  0  -  -2
N.B. (Comeau)                                   *  0  *  +  -  *  -  -  -  *  0  -  -  *  +  *  -  -5
Quebec (Osborne)                                *  -  *  -  0  *  0  -  0  *  -  +  -  *  -  *  -  -6
NWT/Y (Koe)                                     0  -  *  0  *  0  0  *  *  -  -  -  *  -  -  0  *  -6
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2007 Scotties Tournament of Hearts
                                     Lethbridge, Alberta
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
CAN    11    93  FOR       4    19     24   20    7    1    0    0   89   8.1   30  0.96
                 AGAINST   4     5     23    7    3    0    0    0   46   4.2    8  0.49
 
BC     11   102  FOR       2    10     22   13    7    2    1    0   82   7.5   14  0.80
                 AGAINST   3    16     29   16    6    1    0    0   83   7.5   27  0.81
 
ALTA   11    96  FOR       3    12     28    9    7    0    0    0   67   6.1   14  0.70
                 AGAINST   5    10     24   17    2    1    0    0   68   6.2   15  0.71
 
SASK   11    93  FOR       3    17     18   21    8    0    0    0   84   7.6   26  0.90
                 AGAINST   7     8     23   10    3    0    0    0   52   4.7   13  0.56
 
MAN    11    92  FOR       2    15     20   14    5    3    3    0   90   8.2   32  0.98
                 AGAINST   4    14     27   10    4    0    0    0   59   5.4   18  0.64
 
ONT    11   105  FOR       7     8     23   19    3    0    0    0   70   6.4   11  0.67
                 AGAINST   3    15     31   12    6    0    1    0   78   7.1   20  0.74
 
QUE    11    98  FOR       1    12     26   18    1    2    0    0   73   6.6   15  0.74
                 AGAINST   1    14     24   15    7    2    1    0   88   8.0   20  0.90
 
NS     11   101  FOR       3    14     29   13    2    0    1    0   66   6.0   19  0.65
                 AGAINST   2    18     31   13    7    0    0    0   78   7.1   21  0.77
 
PEI    11   103  FOR       6    16     28   13    6    2    0    0   80   7.3   24  0.78
                 AGAINST   2    13     22   19    5    0    0    0   75   6.8   21  0.73
 
NB     11    97  FOR       8     8     22   10    3    0    0    0   51   4.6   10  0.53
                 AGAINST   6    18     22   17    6    2    1    0   87   7.9   33  0.90
 
NL     11   104  FOR       5    13     33   10    4    1    0    0   69   6.3   21  0.66
                 AGAINST   5     9     22   18    4    2    0    0   78   7.1   13  0.75
 
NWTY   11   104  FOR       4     9     30    9    4    1    0    0   64   5.8   10  0.62
                 AGAINST   6    13     25   15    4    4    2    0   93   8.5   17  0.89
 
 
TOTAL  66   594  FOR      48   153    303  169   57   12    5    0  885   6.7  226  0.74
                 AGAINST  48   153    303  169   57   12    5    0  885   6.7  226  0.74
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2007 Scotties Tournament of Hearts
                                     Lethbridge, Alberta
 
                                     TEAM WIN/LOSS GRID
 
 
        CAN   BC    ALTA  SASK  MAN   ONT   QUE   NS    PEI   NB    NL    NWTY  
 
 
CAN      *     L     W     W     W     W     W     W     W     W     W     W  
 
 
BC       W     *     L     L     L     L     W     W     L     W     L     W  
 
 
ALTA     L     W     *     L     L     W     W     W     L     W     W     L  
 
 
SASK     L     W     W     *     W     W     W     W     W     W     L     W  
 
 
MAN      L     W     W     L     *     W     W     W     W     W     W     W  
 
 
ONT      L     W     L     L     L     *     W     L     W     W     W     W  
 
 
QUE      L     L     L     L     L     L     *     W     L     W     W     W  
 
 
NS       L     L     L     L     L     W     L     *     L     W     W     L  
 
 
PEI      L     W     W     L     L     L     W     W     *     W     L     W  
 
 
NB       L     L     L     L     L     L     L     L     L     *     L     W  
 
 
NL       L     W     L     W     L     L     L     L     W     W     *     W  
 
 
NWTY     L     L     W     L     L     L     L     W     L     L     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2007 Scotties Tournament of Hearts
                                     Lethbridge, Alberta
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Scott)                           #SH   242  200  442   301  248  549   543  448  991
                                  PTS   766  671 1437   997  813 1810  1763 1484 3247
                                  PCT    79   84   81    83   82   82    81   83   82
 
 1 Renee Simons                             #SH   115   59  174    39   25   64   154   84  238
                                  PTS   360  199  559   121   81  202   481  280  761
                                  PCT    78   84   80    78   81   79    78   83   80
 
 2 Sasha Carter                             #SH    31   35   66   107   79  186   138  114  252
                                  PTS   101  113  214   350  265  615   451  378  829
                                  PCT    81   81   81    82   84   83    82   83   82
 
 3 Jeanna Schraeder                         #SH    38   44   82    94   76  170   132  120  252
                                  PTS   131  155  286   320  246  566   451  401  852
                                  PCT    86   88   87    85   81   83    85   84   85
 
 4 Kelly Scott                              #SH    58   62  120    61   68  129   119  130  249
                                  PTS   174  204  378   206  221  427   380  425  805
                                  PCT    75   82   79    84   81   83    80   82   81
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Law)                               #SH   175  297  472   196  163  359   371  460  831
                                  PTS   527  930 1457   608  497 1105  1135 1427 2562
                                  PCT    75   78   77    78   76   77    76   78   77
 
 1 Darah Provencal                          #SH    56  122  178    21    9   30    77  131  208
                                  PTS   185  420  605    69   34  103   254  454  708
                                  PCT    83   86   85    82   94   86    82   87   85
 
 2 Shannon Aleksic                          #SH    33   61   94    56   60  116    89  121  210
                                  PTS   104  169  273   182  192  374   286  361  647
                                  PCT    79   69   73    81   80   81    80   75   77
 
 3 Georgina Wheatcroft                      #SH    39   63  102    64   44  108   103  107  210
                                  PTS   115  196  311   201  121  322   316  317  633
                                  PCT    74   78   76    79   69   75    77   74   75
 
 4 Kelley Law                               #SH    47   51   98    55   50  105   102  101  203
                                  PTS   123  145  268   156  150  306   279  295  574
                                  PCT    65   71   68    71   75   73    68   73   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Bernard)                        #SH   253  272  525   182  225  407   435  497  932
                                  PTS   741  861 1602   549  738 1287  1290 1599 2889
                                  PCT    73   79   76    75   82   79    74   80   77
 
 1 Cori Bartel                              #SH    95  104  199    15   13   28   110  117  227
                                  PTS   301  350  651    52   37   89   353  387  740
                                  PCT    79   84   82    87   71   79    80   83   81
 
 2 Carolyn Darbyshire                       #SH    60   48  108    62   66  128   122  114  236
                                  PTS   174  153  327   168  232  400   342  385  727
                                  PCT    73   80   76    68   88   78    70   84   77
 
 3 Susan O'Connor                           #SH    55   55  110    56   70  126   111  125  236
                                  PTS   157  171  328   171  228  399   328  399  727
                                  PCT    71   78   75    76   81   79    74   80   77
 
 4 Cheryl Bernard                           #SH    43   65  108    49   76  125    92  141  233
                                  PTS   109  187  296   158  241  399   267  428  695
                                  PCT    63   72   69    81   79   80    73   76   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Betker)                            #SH   222  251  473   237  193  430   459  444  903
                                  PTS   676  811 1487   833  642 1475  1509 1453 2962
                                  PCT    76   81   79    88   83   86    82   82   82
 
 1 Marcia Gudereit                          #SH    88  101  189    18   15   33   106  116  222
                                  PTS   299  349  648    67   45  112   366  394  760
                                  PCT    85   86   86    93   75   85    86   85   86
 
 2 Nancy Inglis                             #SH    37   47   84    79   65  144   116  112  228
                                  PTS    97  131  228   277  222  499   374  353  727
                                  PCT    66   70   68    88   85   87    81   79   80
 
 3 Lana Vey                                 #SH    42   53   95    75   58  133   117  111  228
                                  PTS   119  169  288   266  200  466   385  369  754
                                  PCT    71   80   76    89   86   88    82   83   83
 
 4 Jan Betker                               #SH    55   50  105    65   55  120   120  105  225
                                  PTS   161  162  323   223  175  398   384  337  721
                                  PCT    73   81   77    86   80   83    80   80   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Jones)                         #SH   261  213  474   204  211  415   465  424  889
                                  PTS   832  659 1491   679  673 1352  1511 1332 2843
                                  PCT    80   77   79    83   80   81    81   79   80
 
 1 Janet Arnott                             #SH   111   76  187    17   16   33   128   92  220
                                  PTS   376  256  632    56   46  102   432  302  734
                                  PCT    85   84   84    82   72   77    84   82   83
 
 2 Jill Officer                             #SH    55   36   91    69   64  133   124  100  224
                                  PTS   175  109  284   241  211  452   416  320  736
                                  PCT    80   76   78    87   82   85    84   80   82
 
 3 Cathy Overton-Clapham                    #SH    40   49   89    63   72  135   103  121  224
                                  PTS   133  147  280   196  231  427   329  378  707
                                  PCT    83   75   79    78   80   79    80   78   79
 
 4 Jennifer Jones                           #SH    55   52  107    55   59  114   110  111  221
                                  PTS   148  147  295   186  185  371   334  332  666
                                  PCT    67   71   69    85   78   81    76   75   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Scharf)                         #SH   272  251  523   192  208  400   464  459  923
                                  PTS   795  755 1550   553  675 1228  1348 1430 2778
                                  PCT    73   75   74    72   81   77    73   78   75
 
 1 Lorraine Lang                            #SH    89   96  185    18   29   47   107  125  232
                                  PTS   317  300  617    48   97  145   365  397  762
                                  PCT    89   78   83    67   84   77    85   79   82
 
 2 Tiffany Stubbings                        #SH    59   47  106    62   64  126   121  111  232
                                  PTS   145  146  291   182  204  386   327  350  677
                                  PCT    61   78   69    73   80   77    68   79   73
 
 3 Tara George                              #SH    57   61  118    57   57  114   114  118  232
                                  PTS   161  189  350   182  189  371   343  378  721
                                  PCT    71   77   74    80   83   81    75   80   78
 
 4 Krista Scharf                            #SH    67   47  114    55   58  113   122  105  227
                                  PTS   172  120  292   141  185  326   313  305  618
                                  PCT    64   64   64    64   80   72    64   73   68
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Osborne)                         #SH   220  264  484   134  177  311   354  441  795
                                  PTS   632  720 1352   329  511  840   961 1231 2192
                                  PCT    72   68   70    61   72   68    68   70   69
 
 1 Sylvie Daniel                            #SH    98   79  177    13    9   22   111   88  199
                                  PTS   314  262  576    41   20   61   355  282  637
                                  PCT    80   83   81    79   56   69    80   80   80
 
 2 Catherine Derick                         #SH    39   59   98    35   67  102    74  126  200
                                  PTS   100  142  242    82  206  288   182  348  530
                                  PCT    64   60   62    59   77   71    61   69   66
 
 3 Cheryl Morgan                            #SH    35   63   98    42   60  102    77  123  200
                                  PTS    95  173  268    95  180  275   190  353  543
                                  PCT    68   69   68    57   75   67    62   72   68
 
 4 Chantal Osborne                          #SH    48   63  111    44   41   85    92  104  196
                                  PTS   123  143  266   111  105  216   234  248  482
                                  PCT    64   57   60    63   64   64    64   60   61
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Mouzar)                     #SH   271  211  482   164  174  338   435  385  820
                                  PTS   737  594 1331   487  534 1021  1224 1128 2352
                                  PCT    68   70   69    74   77   76    70   73   72
 
 1 Hayley Clarke                            #SH   112   51  163    19   24   43   131   75  206
                                  PTS   340  136  476    61   84  145   401  220  621
                                  PCT    76   67   73    80   88   84    77   73   75
 
 2 Teri Lake                                #SH    56   41   97    59   51  110   115   92  207
                                  PTS   141  108  249   188  147  335   329  255  584
                                  PCT    63   66   64    80   72   76    72   69   71
 
 3 Meredith Harrison                        #SH    34   48   82    42   42   84    76   90  166
                                  PTS    90  162  252   115  138  253   205  300  505
                                  PCT    66   84   77    68   82   75    67   83   76
 
 4 Jill Mouzar                              #SH    50   63  113    38   49   87    88  112  200
                                  PTS   116  162  278   113  142  255   229  304  533
                                  PCT    58   64   62    74   72   73    65   68   67
 
 5 Mary Mattatall                           #SH    19    8   27     6    8   14    25   16   41
                                  PTS    50   26   76    10   23   33    60   49  109
                                  PCT    66   81   70    42   72   59    60   77   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (Gaudet)                             #SH   241  287  528   214  220  434   455  507  962
                                  PTS   724  840 1564   670  658 1328  1394 1498 2892
                                  PCT    75   73   74    78   75   76    77   74   75
 
 1 Stefanie Clark                           #SH    72   92  164    16   18   34    88  110  198
                                  PTS   224  308  532    59   43  102   283  351  634
                                  PCT    78   84   81    92   60   75    80   80   80
 
 2 Carol Webb                               #SH    55   55  110    70   62  132   125  117  242
                                  PTS   158  131  289   206  199  405   364  330  694
                                  PCT    72   60   66    74   80   77    73   71   72
 
 3 Robyn MacPhee                            #SH    46   57  103    75   64  139   121  121  242
                                  PTS   137  176  313   242  189  431   379  365  744
                                  PCT    74   77   76    81   74   78    78   75   77
 
 4 Suzanne Gaudet                           #SH    60   58  118    50   72  122   110  130  240
                                  PTS   173  139  312   154  215  369   327  354  681
                                  PCT    72   60   66    77   75   76    74   68   71
 
 5 Sinead Dolan                             #SH     8   25   33     3    4    7    11   29   40
                                  PTS    32   86  118     9   12   21    41   98  139
                                  PCT   100   86   89    75   75   75    93   84   87
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Comeau)                            #SH   143  279  422    84  297  381   227  576  803
                                  PTS   378  826 1204   205  902 1107   583 1728 2311
                                  PCT    66   74   71    61   76   73    64   75   72
 
 1 Jeanette Murphy                          #SH    39  118  157     6   39   45    45  157  202
                                  PTS   123  371  494    19  117  136   142  488  630
                                  PCT    79   79   79    79   75   76    79   78   78
 
 2 Marie-Anne Power                         #SH    39   51   90    20   92  112    59  143  202
                                  PTS   113  154  267    59  281  340   172  435  607
                                  PCT    72   75   74    74   76   76    73   76   75
 
 3 Denise Nowlan                            #SH    35   49   84    31   87  118    66  136  202
                                  PTS    80  132  212    75  268  343   155  400  555
                                  PCT    57   67   63    60   77   73    59   74   69
 
 4 Sandy Comeau                             #SH    30   61   91    27   79  106    57  140  197
                                  PTS    62  169  231    52  236  288   114  405  519
                                  PCT    52   69   63    48   75   68    50   72   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Strong)                              #SH   271  179  450   221  192  413   492  371  863
                                  PTS   801  520 1321   659  564 1223  1460 1084 2544
                                  PCT    74   73   73    75   73   74    74   73   74
 
 1 Susan O'Leary                            #SH   126   49  175    23   17   40   149   66  215
                                  PTS   426  156  582    73   56  129   499  212  711
                                  PCT    85   80   83    79   82   81    84   80   83
 
 2 Laura Strong                             #SH    51   44   95    69   54  123   120   98  218
                                  PTS   133  111  244   203  157  360   336  268  604
                                  PCT    65   63   64    74   73   73    70   68   69
 
 3 Shelley Nichols                          #SH    45   40   85    69   64  133   114  104  218
                                  PTS   115  117  232   191  186  377   306  303  609
                                  PCT    64   73   68    69   73   71    67   73   70
 
 4 Heather Strong                           #SH    49   46   95    60   57  117   109  103  212
                                  PTS   127  136  263   192  165  357   319  301  620
                                  PCT    65   74   69    80   72   76    73   73   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NWT/Y (Koe)                              #SH   244  234  478   167  182  349   411  416  827
                                  PTS   711  715 1426   468  505  973  1179 1220 2399
                                  PCT    73   76   75    70   69   70    72   73   73
 
 1 Dawn Moses                               #SH   102   75  177    11   19   30   113   94  207
                                  PTS   334  263  597    37   54   91   371  317  688
                                  PCT    82   88   84    84   71   76    82   84   83
 
 2 Kelli Turpin                             #SH    16   43   59    39   40   79    55   83  138
                                  PTS    40  118  158   117  110  227   157  228  385
                                  PCT    63   69   67    75   69   72    71   69   70
 
 3 Kerry Koe(S)                             #SH    49   54  103    58   47  105   107  101  208
                                  PTS   137  176  313   166  139  305   303  315  618
                                  PCT    70   81   76    72   74   73    71   78   74
 
 4 Monique Gagnier                          #SH    56   45  101    47   56  103   103  101  204
                                  PTS   139  100  239   119  158  277   258  258  516
                                  PCT    62   56   59    63   71   67    63   64   63
 
 5 Nicole Baldwin                           #SH    21   17   38    12   20   32    33   37   70
                                  PTS    61   58  119    29   44   73    90  102  192
                                  PCT    73   85   78    60   55   57    68   69   69
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2007 Scotties Tournament of Hearts
                                     Lethbridge, Alberta
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  72
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  13
 
          DRAW 18    ONT   6  ALTA 13
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  7    SASK 10  ONT   1
          DRAW 12    SASK  8  NB    1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  21
 
          DRAW 14    PEI  11  NS   10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   9
 
          DRAW  1    NWTY  6  NS    3
          DRAW  1    ALTA  2  PEI   7
          DRAW  6    CAN   7  NS    2
          DRAW 12    SASK  8  NB    1
          DRAW 13    ONT   4  ALTA  5
          DRAW 19    ALTA  4  PEI   5
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  2    NWTY  8  MAN  12    MAN  SCORED 5 IN THE 10TH END
          DRAW 12    NWTY  7  BC   12    BC   SCORED 5 IN THE 9TH END
          DRAW 15    MAN  10  QUE   3    MAN  SCORED 5 IN THE 6TH END
          DRAW 15    NS   10  ONT   3    NS   SCORED 5 IN THE 6TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW  7    MAN  10  NB    3    MAN  SCORED 5 IN THE 4TH END
          DRAW 18    ONT   6  ALTA 13    ALTA SCORED 5 IN THE 9TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  2    NB    5  ONT   6
 
NUMBER OF BLANK ENDS IN EVENT:  50
 
MOST BLANK ENDS ONE DRAW:   7
 
          DRAWS  2 16
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  2    NS    3  SASK  8    BY NS   BEGINNING IN END 3
          DRAW  2    NB    5  ONT   6    BY ONT  BEGINNING IN END 1
          DRAW  8    BC    7  CAN   5    BY BC   BEGINNING IN END 1
          DRAW 12    SASK  8  NB    1    BY NB   BEGINNING IN END 2
          DRAW 16    CAN   8  MAN   3    BY CAN  BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW 11    NS    8  NB    4
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  1    ALTA  2  PEI   7    BY PEI  BEGINNING IN END 5
          DRAW  6    CAN   7  NS    2    BY CAN  BEGINNING IN END 4
          DRAW  7    MAN  10  NB    3    BY MAN  BEGINNING IN END 2
          DRAW 11    NS    8  NB    4    BY NS   BEGINNING IN END 7
          DRAW 12    NS    4  QUE   8    BY QUE  BEGINNING IN END 1
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW  7    MAN  10  NB    3    BY MAN 
 
LARGEST COME FROM BEHIND VICTORY:   6
 
          DRAW  2    NWTY  8  MAN  12    MAN  WAS DOWN 6 AFTER 5 ENDS
          DRAW  5    NB    9  BC   10    BC   WAS DOWN 6 AFTER 5 ENDS
 
NUMBER OF EXTRA END GAMES:   9
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    NB    5  ONT   6
          DRAW  4    BC    5  ONT   7
          DRAW  5    ONT   9  QUE   8
          DRAW  6    ALTA  6  NWTY  7
          DRAW  9    ONT   7  CAN   8
          DRAW  9    BC    7  PEI   8
          DRAW 13    BC    7  NL    8
          DRAW 14    PEI  11  NS   10
          DRAW 17    ONT  10  NL    8
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  5    CAN   9  ALTA  2
          DRAW  7    SASK 10  ONT   1
          DRAW  7    MAN  10  NB    3
          DRAW 10    CAN   9  NWTY  2
          DRAW 15    MAN  10  QUE   3
          DRAW 15    SASK 10  BC    3
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   4
 
          DRAW 11    NS    8  NB    4    BY NB  
          DRAW 12    SASK  8  NB    1    BY NB  
  </div>
</div>
