<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Scotties Tournament of Hearts
                            Canadian Women's Curling Championship
                                       Victoria, B.C.
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Lana Vey                       SASK  89 ** 86 ** 93 95 ** 82 95 83 ** ** 88 88 ** 90 97  90
 2 Joelle Sabourin                QUE   90 78 ** 94 ** 90 83 ** ** 90 75 89 ** 85 92 91 **  87
 3 Barb Enright                   MAN   ** 88 ** 86 90 ** 85 85 82 ** 83 88 86 ** 78 ** 94  86
 4 Cori Bartel                    ALTA  ** 83 ** 79 89 ** 85 88 83 ** 85 94 83 ** 79 ** 84  84
 4 Dawn Askin                     CAN   ** 73 ** 88 69 ** 81 85 83 ** 78 73 99 ** 91 ** 99  84
 4 Peg Goss                       NL    90 ** 92 ** 82 95 ** 76 85 76 ** ** 81 82 ** 80 82  84
 4 Lorraine Lang                  ONT   90 ** 91 ** 74 90 ** 75 78 80 ** ** 74 96 ** 89 86  84
 8 Tammi Lowther                  PEI   88 93 ** 88 ** 84 74 ** ** 93 88 80 ** 80 89 55 **  82
 8 Lianne Sobey                   N.B.  79 80 ** 84 ** 94 78 ** ** 85 78 93 ** 75 75 85 **  82
 8 Jacalyn Brown                  B.C.  83 ** 81 ** 75 81 ** 86 82 91 ** ** 81 80 ** 74 84  82
11 Heather McCagg-Nystrom         NWTY  73 61 ** 88 ** 75 81 ** ** 72 83 69 ** 80 80 88 **  77
12 Jill Thomas                    N.S.  ** 81 ** 75 83 ** 60 93 76 ** 69 88 63 ** 76 ** 67  76
 
   SECONDS
 1 Sherri Singler                 SASK  88 ** 88 ** 78 93 ** 85 93 78 ** ** 86 66 ** 85 84  84
 2 Jill Officer                   CAN   ** 69 ** 90 83 ** 80 73 88 ** 79 88 89 ** 80 ** 93  83
 2 Carolyn Darbyshire             ALTA  ** 71 ** 81 78 ** 83 98 76 ** 74100 80 ** 84 ** 85  83
 4 Diane Gushulak                 B.C.  68 ** 78 ** 70 89 **100 77 70 ** ** 92 88 ** 84 84  81
 5 Brette Richards                MAN   ** 82 ** 65 88 ** 80 83 89 ** 85 52 85 ** 82 ** 81  80
 6 Kari MacLean                   ONT   83 ** 70 ** 86 73 ** 81 70 80 ** ** 89 70 ** 70 95  79
 7 Laura Strong                   NL    66 ** 88 ** 81 88 ** 71 89 72 ** ** 81 83 ** 85 57  78
 8 Annie Lemay                    QUE   80 70 ** 93 ** 64 73 ** ** 78 80 77 ** 68 81 89 **  77
 9 Jodie deSolla                  N.B.  78 71 ** 83 ** 89 66 ** ** 90 65 66 ** 64 63 93 **  76
10 Shona Barbour                  NWTY  75 83 ** 75 ** 80 83 ** ** 71 78 64 ** 69 73 73 **  75
11 Sheena Gilman                  N.S.  ** 74 ** 60 76 ** 69 85 61 ** 69 68 67 ** 70 ** 89  72
11 Shelley Muzika                 PEI   74 61 ** 82 ** 64 83 ** ** 49 79 71 ** 74 80 74 **  72
 
   THIRDS 
 1 Cathy Overton-Clapham          CAN   ** 73 ** 96 88 ** 91 80 85 ** 89 84 94 ** 85 ** 83  86
 2 Cathy Cunningham               NL    85 ** 86 ** 86 85 ** 79 85 89 ** ** 81 86 ** 88 74  84
 3 Grace MacInnes                 B.C.  75 ** 75 ** 81 90 ** 93 73 91 ** ** 94 76 ** 83 76  82
 3 Susan O'Connor                 ALTA  ** 73 ** 85 88 ** 84 86 86 ** 73 93 72 ** 80 ** 81  82
 5 Marliese Kasner                SASK  85 ** 84 ** 69 68 ** 92 91 76 ** ** 68 80 ** 79 88  80
 6 Tara George                    ONT   83 ** 69 ** 81 80 ** 85 64 83 ** ** 85 78 ** 79 85  79
 6 Rebecca Jean MacPhee(S)        PEI   77 79 ** 81 ** 84 80 ** ** 78 81 79 ** 91 75 66 **  79
 8 Nancy Belanger                 QUE   69 76 ** 90 ** 86 64 ** ** 76 85 70 ** 76 83 85 **  78
 9 Darcy Robertson                MAN   ** 74 ** 74 90 ** 65 86 61 ** 79 63 86 ** 81 ** 84  77
 9 Jennifer Crouse                N.S.  ** 76 ** 69 69 ** 73 81 83 ** 79 81 65 ** 80 ** 86  77
11 Dawn Moses                     NWTY  85 43 ** 71 ** 91 81 ** ** 75 71 86 ** 75 73 70 **  75
11 Denise Nowlan                  N.B.  71 59 ** 79 ** 79 79 ** ** 74 80 66 ** 61 80 85 **  75
 
   SKIPS  
 1 Heather Strong                 NL    74 ** 80 ** 88 77 ** 64 80 82 ** ** 85 87 ** 80 77  79
 1 Marla Mallett                  B.C.  73 ** 81 ** 66 90 ** 88 84 80 ** ** 77 67 ** 76 86  79
 3 Stefanie Lawton                SASK  69 ** 76 ** 76 85 ** 86 76 72 ** ** 74 84 ** 83 80  78
 3 Jennifer Jones                 CAN   ** 81 ** 85 81 ** 85 73 69 ** 74 93 71 ** 72 ** 80  78
 3 Marie-France Larouche          QUE   86 75 ** 88 ** 74 81 ** ** 73 71 57 ** 74 90 80 **  78
 6 Andrea Kelly                   N.B.  88 57 ** 87 ** 91 86 ** ** 81 83 54 ** 63 78 70 **  77
 6 Cheryl Bernard                 ALTA  ** 52 ** 76 88 ** 72 93 61 ** 79 95 72 ** 80 ** 74  77
 8 Robyn MacPhee                  PEI   76 83 ** 64 ** 73 68 ** ** 74 82 79 ** 76 77 85 **  76
 9 Kirsta McCarville              ONT   57 ** 84 ** 70 81 ** 75 73 61 ** ** 85 80 ** 78 83  75
10 Kerry Galusha                  NWTY  78 83 ** 76 ** 68 63 ** ** 65 76 90 ** 53 76 78 **  73
11 Nancy McConnery                N.S.  ** 83 ** 48 72 ** 72 68 79 ** 74 71 42 ** 69 ** 89  72
12 Barb Spencer                   MAN   ** 58 ** 70 69 ** 70 83 64 ** 79 44 58 ** 64 ** 66  67
 
   TEAMS
 1 SASK (Lawton)                        83 ** 83 ** 79 85 ** 86 89 77 ** ** 79 79 ** 84 87  83
 1 Team Canada (Jones)                  ** 74 ** 90 80 ** 84 78 81 ** 80 84 88 ** 82 ** 88  83
 3 Alberta (Bernard)                    ** 70 ** 80 85 ** 81 91 77 ** 78 95 76 ** 81 ** 81  81
 3 NFLD/Lab (Strong)                    79 ** 86 ** 84 86 ** 73 85 80 ** ** 82 84 ** 83 72  81
 3 B.C. (Mallett)                       74 ** 79 ** 73 88 ** 92 79 83 ** ** 86 78 ** 79 83  81
 6 Quebec (Larouche)                    81 75 ** 91 ** 78 75 ** ** 79 78 73 ** 76 86 86 **  80
 7 Ontario (McCarville)                 78 ** 78 ** 78 81 ** 79 71 76 ** ** 83 81 ** 79 88  79
 8 N.B. (Kelly)                         79 67 ** 83 ** 88 77 ** ** 83 76 70 ** 66 74 83 **  78
 9 Manitoba (Spencer)                   ** 75 ** 74 84 ** 75 84 74 ** 81 61 79 ** 76 ** 81  77
 9 P.E.I. (MacPhee)                     79 79 ** 78 ** 76 76 ** ** 73 82 77 ** 80 80 70 **  77
11 NWT/Yukon (Galusha)                  78 67 ** 78 ** 78 77 ** ** 71 77 78 ** 69 75 77 **  75
12 N. S. (McConnery)                    ** 78 ** 63 75 ** 68 82 75 ** 72 77 59 ** 74 ** 83  74
 
**did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Scotties Tournament of Hearts
                            Canadian Women's Curling Championship
                                       Victoria, B.C.
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Joelle Sabourin                QUE    +  +  *  +  *  +  0  *  *  +  +  +  *  0  +  0  *  +8
Barb Enright                   MAN    *  +  *  +  +  *  0  +  0  *  +  +  +  *  -  *  0  +6
Lana Vey                       SASK   +  *  -  *  +  +  *  -  +  +  *  *  +  +  *  0  0  +5
Cori Bartel                    ALTA   *  +  *  -  +  *  0  0  0  *  0  0  -  *  0  *  0   0
Jacalyn Brown                  B.C.   -  *  -  *  0  -  *  0  0  +  *  *  +  0  *  +  -  -1
Tammi Lowther                  PEI    +  +  *  -  *  -  +  *  *  +  0  -  *  -  0  -  *  -1
Lorraine Lang                  ONT    0  *  +  *  0  0  *  -  0  -  *  *  -  +  *  0  0  -1
Dawn Askin                     CAN    *  -  *  +  -  *  0  +  -  *  -  -  +  *  0  *  +  -1
Peg Goss                       NL     0  *  +  *  -  +  *  -  0  -  *  *  -  0  *  -  +  -2
Heather McCagg-Nystrom         NWTY   -  -  *  0  *  -  0  *  *  -  +  -  *  0  0  0  *  -4
Lianne Sobey                   N.B.   -  -  *  0  *  0  0  *  *  -  -  0  *  -  0  +  *  -4
Jill Thomas                    N.S.   *  -  *  -  -  *  -  +  0  *  -  +  -  *  0  *  -  -5
 
SECONDS
Sherri Singler                 SASK   +  *  +  *  0  +  *  0  +  +  *  *  +  0  *  0  0  +6
Kari MacLean                   ONT    +  *  -  *  +  -  *  +  +  0  *  *  0  0  *  0  +  +3
Brette Richards                MAN    *  +  *  -  +  *  0  +  +  *  +  -  0  *  0  *  0  +3
Jill Officer                   CAN    *  0  *  +  -  *  +  -  -  *  0  +  +  *  0  *  +  +2
Jodie deSolla                  N.B.   0  +  *  +  *  +  -  *  *  +  -  -  *  0  -  +  *  +1
Laura Strong                   NL     -  *  +  *  0  +  *  -  +  +  *  *  -  +  *  -  -   0
Carolyn Darbyshire             ALTA   *  0  *  +  0  *  +  0  -  *  -  +  -  *  +  *  -   0
Diane Gushulak                 B.C.   -  *  -  *  -  +  *  0  -  -  *  *  +  +  *  +  -  -2
Shelley Muzika                 PEI    0  -  *  -  *  -  +  *  *  -  +  +  *  0  0  -  *  -2
Annie Lemay                    QUE    0  -  *  +  *  -  -  *  *  0  +  -  *  -  0  0  *  -3
Shona Barbour                  NWTY   0  +  *  -  *  -  0  *  *  -  0  0  *  -  -  0  *  -4
Sheena Gilman                  N.S.   *  -  *  -  0  *  -  0  -  *  -  0  -  *  +  *  +  -4
 
THIRDS 
Cathy Overton-Clapham          CAN    *  0  *  +  0  *  +  -  -  *  +  +  +  *  +  *  +  +5
Susan O'Connor                 ALTA   *  0  *  +  +  *  +  -  0  *  -  +  0  *  +  *  0  +3
Grace MacInnes                 B.C.   -  *  -  *  0  0  *  +  +  +  *  *  +  0  *  +  -  +2
Marliese Kasner                SASK   +  *  +  *  -  -  *  +  +  0  *  *  0  +  *  -  0  +2
Rebecca Jean MacPhee(S)        PEI    -  +  *  -  *  +  +  *  *  -  +  +  *  +  -  -  *  +1
Nancy Belanger                 QUE    0  +  *  +  *  0  -  *  *  -  +  -  *  -  0  +  *   0
Tara George                    ONT    0  *  -  *  0  0  *  +  -  +  *  *  0  -  *  +  0   0
Cathy Cunningham               NL     0  *  +  *  +  -  *  -  0  +  *  *  -  +  *  0  -   0
Dawn Moses                     NWTY   +  -  *  -  *  +  +  *  *  0  -  +  *  0  -  -  *  -1
Darcy Robertson                MAN    *  0  *  -  0  *  -  +  -  *  0  -  0  *  0  *  0  -3
Denise Nowlan                  N.B.   0  -  *  +  *  0  -  *  *  -  0  -  *  -  0  0  *  -4
Jennifer Crouse                N.S.   *  0  *  -  -  *  -  -  +  *  -  -  -  *  0  *  +  -5
 
SKIPS  
Heather Strong                 NL     +  *  0  *  +  +  *  -  +  +  *  *  +  +  *  +  -  +6
Stefanie Lawton                SASK   0  *  -  *  -  +  *  +  +  +  *  *  0  +  *  0  +  +4
Marla Mallett                  B.C.   0  *  0  *  0  +  *  -  +  0  *  *  +  +  *  -  +  +3
Robyn MacPhee                  PEI    0  +  *  -  *  -  0  *  *  -  0  +  *  0  +  +  *  +1
Marie-France Larouche          QUE    0  -  *  +  *  -  +  *  *  +  0  -  *  -  +  0  *   0
Cheryl Bernard                 ALTA   *  -  *  +  +  *  -  +  -  *  0  +  0  *  0  *  -   0
Jennifer Jones                 CAN    *  +  *  +  +  *  0  0  -  *  0  +  -  *  -  *  -   0
Andrea Kelly                   N.B.   0  -  *  +  *  +  0  *  *  0  0  -  *  -  +  -  *  -1
Kirsta McCarville              ONT    -  *  +  *  0  -  *  0  -  -  *  *  +  0  *  0  +  -1
Kerry Galusha                  NWTY   0  +  *  -  *  -  -  *  *  -  0  +  *  -  0  0  *  -3
Nancy McConnery                N.S.   *  +  *  -  -  *  0  -  +  *  0  -  -  *  -  *  +  -3
Barb Spencer                   MAN    *  -  *  -  -  *  +  +  -  *  0  -  -  *  -  *  -  -6
 
   TEAMS
SASK (Lawton)                         +  *  +  *  -  +  *  0  +  +  *  *  0  +  *  0  +  +6
Team Canada (Jones)                   *  0  *  +  0  *  +  0  -  *  0  +  +  *  0  *  +  +4
Alberta (Bernard)                     *  0  *  +  +  *  +  0  -  *  0  +  0  *  +  *  -  +3
NFLD/Lab (Strong)                     0  *  +  *  +  +  *  -  +  +  *  *  -  +  *  0  -  +3
B.C. (Mallett)                        -  *  -  *  -  +  *  0  +  0  *  *  +  +  *  +  -  +1
Ontario (McCarville)                  0  *  -  *  +  -  *  0  0  0  *  *  0  0  *  0  +   0
Quebec (Larouche)                     0  +  *  +  *  -  -  *  *  0  +  -  *  -  +  0  *   0
P.E.I. (MacPhee)                      0  +  *  -  *  -  +  *  *  -  0  +  *  0  0  -  *  -1
Manitoba (Spencer)                    *  0  *  -  0  *  0  +  -  *  +  -  0  *  -  *  -  -3
N.B. (Kelly)                          0  -  *  +  *  +  -  *  *  0  -  -  *  -  0  0  *  -3
N. S. (McConnery)                     *  0  *  -  -  *  -  0  0  *  -  0  -  *  0  *  +  -4
NWT/Yukon (Galusha)                   0  -  *  -  *  -  0  *  *  -  0  0  *  -  -  0  *  -6
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Scotties Tournament of Hearts
                            Canadian Women's Curling Championship
                                       Victoria, B.C.
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
CAN    11    98  FOR       3    16     25   18    7    0    0    0   82   7.5   24  0.84
                 AGAINST   6     9     23   13    3    0    0    0   58   5.3   13  0.59
 
ALTA   11   105  FOR       4    12     31   14    2    1    0    0   69   6.3   13  0.66
                 AGAINST  11     8     22   16    4    0    0    0   66   6.0   12  0.63
 
B.C.   11   103  FOR      10    10     20   19    4    1    1    0   79   7.2   16  0.77
                 AGAINST   5     8     27   15    1    0    0    0   60   5.5    9  0.58
 
MAN    11    99  FOR       1     8     29    8    3    1    0    0   58   5.3   14  0.59
                 AGAINST   7    15     25   13   10    0    2    0   91   8.3   22  0.92
 
N.B.   11   100  FOR       4     8     26   13    1    0    1    0   60   5.5   11  0.60
                 AGAINST   9     9     23   18    2    3    0    0   77   7.0   11  0.77
 
NL     11   108  FOR       7    10     27   16    3    2    1    0   81   7.4   14  0.75
                 AGAINST   2    12     34   11    3    2    0    0   73   6.6   18  0.68
 
N.S.   11   100  FOR      12     5     26    9    1    1    0    0   51   4.6    5  0.51
                 AGAINST   2    13     25   17    6    1    0    0   81   7.4   26  0.81
 
NWTY   11   108  FOR       2    12     28   20    3    0    0    0   77   7.0   16  0.71
                 AGAINST   3    13     30   14    7    1    0    0   83   7.5   17  0.77
 
ONT    11   111  FOR       6     6     27   16    6    1    0    0   81   7.4   10  0.73
                 AGAINST   3    10     33   14    5    0    0    0   76   6.9   12  0.68
 
PEI    11   102  FOR       4    14     26   17    5    1    0    0   79   7.2   21  0.77
                 AGAINST   3    11     27   14    3    2    0    0   72   6.5   13  0.71
 
QUE    11   104  FOR       2     8     29   13    8    0    0    0   79   7.2    9  0.76
                 AGAINST   4     7     27   19    2    0    0    0   71   6.5    9  0.68
 
SASK   11   106  FOR       3    16     28   18    5    2    0    0   87   7.9   21  0.82
                 AGAINST   3    10     26   17    2    1    1    0   75   6.8   12  0.71
 
 
TOTAL  66   622  FOR      58   125    322  181   48   10    3    0  883   6.7  174  0.71
                 AGAINST  58   125    322  181   48   10    3    0  883   6.7  174  0.71
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Scotties Tournament of Hearts
                            Canadian Women's Curling Championship
                                       Victoria, B.C.
 
                                     TEAM WIN/LOSS GRID
 
 
        CAN   ALTA  B.C.  MAN   N.B.  NL    N.S.  NWTY  ONT   PEI   QUE   SASK  
 
 
CAN      *     W     W     W     W     L     W     L     W     L     W     L  
 
 
ALTA     L     *     W     W     W     L     W     W     L     L     W     L  
 
 
B.C.     L     L     *     W     W     W     W     W     W     L     W     W  
 
 
MAN      L     L     L     *     L     W     L     W     L     L     L     L  
 
 
N.B.     L     L     L     W     *     W     W     W     W     L     L     L  
 
 
NL       W     W     L     L     L     *     L     L     L     W     W     W  
 
 
N.S.     L     L     L     W     L     W     *     L     L     L     L     L  
 
 
NWTY     W     L     L     L     L     W     W     *     W     L     L     L  
 
 
ONT      L     W     L     W     L     W     W     L     *     W     L     W  
 
 
PEI      W     W     W     W     W     L     W     W     L     *     L     L  
 
 
QUE      L     L     L     W     W     L     W     W     W     W     *     W  
 
 
SASK     W     W     L     W     W     L     W     W     L     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Scotties Tournament of Hearts
                            Canadian Women's Curling Championship
                                       Victoria, B.C.
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Team Canada (Jones)            #SH   367  217  584   283  235  518   650  452 1102
                                  PTS  1204  675 1879   966  785 1751  2170 1460 3630
                                  PCT    82   78   80    85   84   85    83   81   82
 
 1 Dawn Askin                     #SH   193   48  241    20   12   32   213   60  273
                                  PTS   653  145  798    66   47  113   719  192  911
                                  PCT    85   76   83    83   98   88    84   80   83
 
 2 Jill Officer                   #SH    55   49  104    94   80  174   149  129  278
                                  PTS   163  156  319   327  276  603   490  432  922
                                  PCT    74   80   77    87   86   87    82   84   83
 
 3 Cathy Overton-Clapham          #SH    53   57  110    88   80  168   141  137  278
                                  PTS   179  190  369   314  263  577   493  453  946
                                  PCT    84   83   84    89   82   86    87   83   85
 
 4 Jennifer Jones                 #SH    66   63  129    81   63  144   147  126  273
                                  PTS   209  184  393   259  199  458   468  383  851
                                  PCT    79   73   76    80   79   80    80   76   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Bernard)              #SH   245  208  453   221  169  390   466  377  843
                                  PTS   813  643 1456   733  554 1287  1546 1197 2743
                                  PCT    83   77   80    83   82   83    83   79   81
 
 1 Cori Bartel                    #SH   111   61  172    19   19   38   130   80  210
                                  PTS   385  204  589    56   64  120   441  268  709
                                  PCT    87   84   86    74   84   79    85   84   84
 
 2 Carolyn Darbyshire             #SH    47   42   89    64   59  123   111  101  212
                                  PTS   162  122  284   215  201  416   377  323  700
                                  PCT    86   73   80    84   85   85    85   80   83
 
 3 Susan O'Connor                 #SH    47   44   91    75   46  121   122   90  212
                                  PTS   143  143  286   254  153  407   397  296  693
                                  PCT    76   81   79    85   83   84    81   82   82
 
 4 Cheryl Bernard                 #SH    40   61  101    63   45  108   103  106  209
                                  PTS   123  174  297   208  136  344   331  310  641
                                  PCT    77   71   74    83   76   80    80   73   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B.C. (Mallett)                 #SH   264  192  456   260  265  525   524  457  981
                                  PTS   825  576 1401   881  891 1772  1706 1467 3173
                                  PCT    78   75   77    85   84   84    81   80   81
 
 1 Jacalyn Brown                  #SH   122   63  185    32   26   58   154   89  243
                                  PTS   407  209  616   101   79  180   508  288  796
                                  PCT    83   83   83    79   76   78    82   81   82
 
 2 Diane Gushulak                 #SH    36   37   73    80   95  175   116  132  248
                                  PTS   105  112  217   264  326  590   369  438  807
                                  PCT    73   76   74    83   86   84    80   83   81
 
 3 Grace MacInnes                 #SH    48   45   93    75   80  155   123  125  248
                                  PTS   144  128  272   271  268  539   415  396  811
                                  PCT    75   71   73    90   84   87    84   79   82
 
 4 Marla Mallett                  #SH    58   47  105    73   64  137   131  111  242
                                  PTS   169  127  296   245  218  463   414  345  759
                                  PCT    73   68   70    84   85   84    79   78   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Spencer)             #SH   316  186  502   165  140  305   481  326  807
                                  PTS   994  585 1579   500  421  921  1494 1006 2500
                                  PCT    79   79   79    76   75   75    78   77   77
 
 1 Barb Enright                   #SH   132   37  169    16   17   33   148   54  202
                                  PTS   464  129  593    52   49  101   516  178  694
                                  PCT    88   87   88    81   72   77    87   82   86
 
 2 Brette Richards                #SH    55   54  109    48   45   93   103   99  202
                                  PTS   166  171  337   154  154  308   320  325  645
                                  PCT    75   79   77    80   86   83    78   82   80
 
 3 Darcy Robertson                #SH    70   43  113    51   38   89   121   81  202
                                  PTS   211  142  353   156  115  271   367  257  624
                                  PCT    75   83   78    76   76   76    76   79   77
 
 4 Barb Spencer                   #SH    59   52  111    50   40   90   109   92  201
                                  PTS   153  143  296   138  103  241   291  246  537
                                  PCT    65   69   67    69   64   67    67   67   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Kelly)                   #SH   216  163  379   224  207  431   440  370  810
                                  PTS   685  514 1199   702  610 1312  1387 1124 2511
                                  PCT    79   79   79    78   74   76    79   76   78
 
 1 Lianne Sobey                   #SH   112   42  154    30   18   48   142   60  202
                                  PTS   383  136  519    91   54  145   474  190  664
                                  PCT    85   81   84    76   75   76    83   79   82
 
 2 Jodie deSolla                  #SH    33   43   76    67   61  128   100  104  204
                                  PTS    89  142  231   210  177  387   299  319  618
                                  PCT    67   83   76    78   73   76    75   77   76
 
 3 Denise Nowlan                  #SH    37   38   75    69   60  129   106   98  204
                                  PTS   102  114  216   213  181  394   315  295  610
                                  PCT    69   75   72    77   75   76    74   75   75
 
 4 Andrea Kelly                   #SH    34   40   74    58   68  126    92  108  200
                                  PTS   111  122  233   188  198  386   299  320  619
                                  PCT    82   76   79    81   73   77    81   74   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD/Lab (Strong)              #SH   283  181  464   222  194  416   505  375  880
                                  PTS   916  586 1502   743  618 1361  1659 1204 2863
                                  PCT    81   81   81    84   80   82    82   80   81
 
 1 Peg Goss                       #SH   141   34  175    28   17   45   169   51  220
                                  PTS   485  107  592    95   52  147   580  159  739
                                  PCT    86   79   85    85   76   82    86   78   84
 
 2 Laura Strong                   #SH    51   45   96    61   65  126   112  110  222
                                  PTS   142  151  293   193  208  401   335  359  694
                                  PCT    70   84   76    79   80   80    75   82   78
 
 3 Cathy Cunningham               #SH    35   50   85    74   63  137   109  113  222
                                  PTS   123  160  283   254  208  462   377  368  745
                                  PCT    88   80   83    86   83   84    86   81   84
 
 4 Heather Strong                 #SH    56   52  108    59   49  108   115  101  216
                                  PTS   166  168  334   201  150  351   367  318  685
                                  PCT    74   81   77    85   77   81    80   79   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N. S. (McConnery)              #SH   267  196  463   188  159  347   455  355  810
                                  PTS   788  519 1307   615  482 1097  1403 1001 2404
                                  PCT    74   66   71    82   76   79    77   70   74
 
 1 Jill Thomas                    #SH   102   51  153    29   22   51   131   73  204
                                  PTS   315  130  445   103   69  172   418  199  617
                                  PCT    77   64   73    89   78   84    80   68   76
 
 2 Sheena Gilman                  #SH    50   54  104    58   42  100   108   96  204
                                  PTS   129  146  275   179  136  315   308  282  590
                                  PCT    65   68   66    77   81   79    71   73   72
 
 3 Jennifer Crouse                #SH    60   42  102    59   43  102   119   85  204
                                  PTS   184  118  302   195  132  327   379  250  629
                                  PCT    77   70   74    83   77   80    80   74   77
 
 4 Nancy McConnery                #SH    55   49  104    42   52   94    97  101  198
                                  PTS   160  125  285   138  145  283   298  270  568
                                  PCT    73   64   69    82   70   75    77   67   72
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NWT/Yukon (Galusha)            #SH   323  212  535   160  181  341   483  393  876
                                  PTS  1019  618 1637   469  523  992  1488 1141 2629
                                  PCT    79   73   76    73   72   73    77   73   75
 
 1 Heather McCagg-Nystrom         #SH   116   61  177    18   23   41   134   84  218
                                  PTS   377  179  556    55   63  118   432  242  674
                                  PCT    81   73   79    76   68   72    81   72   77
 
 2 Shona Barbour                  #SH    69   44  113    56   51  107   125   95  220
                                  PTS   203  134  337   173  148  321   376  282  658
                                  PCT    74   76   75    77   73   75    75   74   75
 
 3 Dawn Moses                     #SH    76   47  123    43   54   97   119  101  220
                                  PTS   252  127  379   119  160  279   371  287  658
                                  PCT    83   68   77    69   74   72    78   71   75
 
 4 Kerry Galusha                  #SH    62   60  122    43   53   96   105  113  218
                                  PTS   187  178  365   122  152  274   309  330  639
                                  PCT    75   74   75    71   72   71    74   73   73
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (McCarville)           #SH   257  182  439   201  248  449   458  430  888
                                  PTS   841  567 1408   625  781 1406  1466 1348 2814
                                  PCT    82   78   80    78   79   78    80   78   79
 
 1 Lorraine Lang                  #SH   114   57  171    17   34   51   131   91  222
                                  PTS   388  190  578    50  117  167   438  307  745
                                  PCT    85   83   85    74   86   82    84   84   84
 
 2 Kari MacLean                   #SH    40   47   87    67   68  135   107  115  222
                                  PTS   121  144  265   213  222  435   334  366  700
                                  PCT    76   77   76    79   82   81    78   80   79
 
 3 Tara George                    #SH    51   28   79    65   78  143   116  106  222
                                  PTS   171   87  258   205  240  445   376  327  703
                                  PCT    84   78   82    79   77   78    81   77   79
 
 4 Kirsta McCarville              #SH    52   50  102    52   68  120   104  118  222
                                  PTS   161  146  307   157  202  359   318  348  666
                                  PCT    77   73   75    75   74   75    76   74   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   P.E.I. (MacPhee)               #SH   259  233  492   190  223  413   449  456  905
                                  PTS   782  732 1514   583  691 1274  1365 1423 2788
                                  PCT    75   79   77    77   77   77    76   78   77
 
 1 Tammi Lowther                  #SH    89   91  180    11   35   46   100  126  226
                                  PTS   281  309  590    30  109  139   311  418  729
                                  PCT    79   85   82    68   78   76    78   83   81
 
 2 Shelley Muzika                 #SH    55   51  106    61   61  122   116  112  228
                                  PTS   167  156  323   175  162  337   342  318  660
                                  PCT    76   76   76    72   66   69    74   71   72
 
 3 Rebecca Jean MacPhee(S)        #SH    53   37   90    68   70  138   121  107  228
                                  PTS   156  115  271   218  236  454   374  351  725
                                  PCT    74   78   75    80   84   82    77   82   79
 
 4 Robyn MacPhee                  #SH    62   54  116    50   57  107   112  111  223
                                  PTS   178  152  330   160  184  344   338  336  674
                                  PCT    72   70   71    80   81   80    75   76   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Larouche)              #SH   224  356  580   194  232  426   418  588 1006
                                  PTS   670 1142 1812   602  746 1348  1272 1888 3160
                                  PCT    75   80   78    78   80   79    76   80   79
 
 1 Joelle Sabourin                #SH    63  145  208    14   30   44    77  175  252
                                  PTS   197  523  720    46   93  139   243  616  859
                                  PCT    78   90   87    82   78   79    79   88   85
 
 2 Annie Lemay                    #SH    53   69  122    58   74  132   111  143  254
                                  PTS   159  196  355   168  250  418   327  446  773
                                  PCT    75   71   73    72   84   79    74   78   76
 
 3 Nancy Belanger                 #SH    51   64  115    66   71  137   117  135  252
                                  PTS   154  194  348   207  223  430   361  417  778
                                  PCT    75   76   76    78   79   78    77   77   77
 
 4 Marie-France Larouche          #SH    57   78  135    56   57  113   113  135  248
                                  PTS   160  229  389   181  180  361   341  409  750
                                  PCT    70   73   72    81   79   80    75   76   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   SASK (Lawton)                  #SH   292  189  481   257  193  450   549  382  931
                                  PTS  1020  593 1613   859  604 1463  1879 1197 3076
                                  PCT    87   78   84    84   78   81    86   78   83
 
 1 Lana Vey                       #SH   152   46  198    21   12   33   173   58  231
                                  PTS   562  154  716    68   37  105   630  191  821
                                  PCT    92   84   90    81   77   80    91   82   89
 
 2 Sherri Singler                 #SH    45   40   85    83   66  149   128  106  234
                                  PTS   157  125  282   293  209  502   450  334  784
                                  PCT    87   78   83    88   79   84    88   79   84
 
 3 Marliese Kasner                #SH    44   45   89    86   59  145   130  104  234
                                  PTS   147  135  282   286  179  465   433  314  747
                                  PCT    84   75   79    83   76   80    83   75   80
 
 4 Stefanie Lawton                #SH    51   58  109    67   56  123   118  114  232
                                  PTS   154  179  333   212  179  391   366  358  724
                                  PCT    75   77   76    79   80   79    78   79   78
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2009 Scotties Tournament of Hearts
                            Canadian Women's Curling Championship
                                       Victoria, B.C.
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  5    MAN   5  CAN  12
          DRAW  6    SASK 12  PEI  11
          DRAW  9    MAN   4  B.C. 12
          DRAW 21    CAN  12  QUE   8
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  2    N.B.  1  PEI   7
          DRAW  4    CAN   9  N.S.  1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  23
 
          DRAW  6    SASK 12  PEI  11
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  8    ALTA  4  B.C.  3
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  5    SASK  7  NL   10    NL   SCORED 5 IN THE 8TH END
          DRAW  9    MAN   4  B.C. 12    B.C. SCORED 5 IN THE 5TH END
          DRAW 11    N.B. 10  MAN   7    N.B. SCORED 5 IN THE 9TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  8    MAN   8  NL    3    MAN  SCORED 4 IN THE 10TH END
          DRAW  9    N.S.  6  ONT   9    ONT  SCORED 4 IN THE 10TH END
          DRAW 21    CAN  12  QUE   8    CAN  SCORED 4 IN THE SECOND END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  8    ALTA  4  B.C.  3
 
NUMBER OF BLANK ENDS IN EVENT:  62
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW  8
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   4
 
          DRAW  8    ALTA  4  B.C.  3    BY B.C. BEGINNING IN END 1
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW  7    NWTY  7  MAN   8
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  7    NWTY  7  MAN   8    BY NWTY BEGINNING IN END 7
          DRAW 14    SASK 10  N.B.  4    BY SASK BEGINNING IN END 4
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   6
 
          DRAW  7    NWTY  7  MAN   8    BY MAN 
          DRAW 13    N.S.  2  B.C.  9    BY B.C.
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  1    B.C.  8  SASK  7    B.C. WAS DOWN 4 AFTER 7 ENDS
          DRAW 10    ONT   8  QUE  10    QUE  WAS DOWN 4 AFTER 3 ENDS
          DRAW 15    N.B.  9  N.S.  8    N.B. WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:  11
 
MOST ENDS PLAYED IN ONE GAME:  11 (11 games)
 
FEWEST ENDS PLAYED IN ONE GAME:   6
 
          DRAW  2    ALTA  3  CAN   9
          DRAW  4    CAN   9  N.S.  1
          DRAW 12    PEI   9  MAN   2
          DRAW 13    N.S.  2  B.C.  9
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  8    ALTA  4  B.C.  3    BY B.C.
          DRAW  8    MAN   8  NL    3    BY NL  
  </div>
</div>
