<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2013 Scotties Tournament of Hearts
                                      Kingston, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Kristin MacCuish                         MB    ** **100 ** ** ** ** ** ** ** ** ** ** ** ** ** ** 100
 1 Dawn Askin                               MB    84 ** 89 88 ** 94 89 ** 83 79 ** 89 ** 98 ** 93 93  89
 2 Laine Peters                             CAN   71 ** 84 87 ** 85 94 ** 83 80 ** 69 ** 89 ** 91 93  84
 3 Jennifer Baxter                          NS    ** 84 90 ** 81 84 ** 81 71 ** 74 ** 94 85 81 ** 88  83
 3 Lisa Weagle                              ON    66 ** 85 72 ** 93 95 ** 74 91 ** 80 ** 79 ** 83 89  83
 5 Sarah Wazney                             BC    ** 68 83 ** 88 86 ** 50 ** ** ** ** 82 73 91 ** 92  82
 6 Jodie deSolla                            NB    75 75 ** 85 78 ** 85 82 ** 83 83 ** 77 ** 99 71 **  81
 + Stephanie LeDrew                         ON    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 81 **  81
 7 Jinaye Ayrey                             SK    73 ** 88 81 ** 69 76 ** 84 77 ** 71 ** 86 ** 76 86  78
 7 Sasha Beauchamp                          QC    ** 70 53 ** 66 96 ** 80 90 ** 83 ** 75 79 78 ** 89  78
 9 Leslie MacDougall                        PE    79 69 ** 68 78 ** 67 85 ** 76 74 ** 86 ** 63 84 **  75
 + Patty Hersikorn                          SK    ** ** 75 ** ** ** ** ** ** ** ** ** ** ** ** ** **  75
 9 Heather Martin                           NL    64 85 ** 63 72 ** 86 60 ** 70 90 ** 80 ** 77 66 **  75
11 Wendy Miller                             NWTY  61 73 ** 83 63 ** 73 71 ** 66 77 ** 73 ** 93 84 **  74
 + Diane Gushulak                           BC    ** ** 50 ** ** ** ** 89 74 ** 65 ** ** ** ** ** **  74
12 Amber Cheveldave                         AB    ** 70 88 ** 61 69 ** 86 85 ** 64 ** 86 68 74 ** 61  73
 + Stefanie Clark                           PE    ** 50 ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  50
 + Renee Sonnenberg                         AB    ** ** 50 ** ** ** ** ** ** ** ** ** ** ** ** ** **  50
 + Cori Morris                              CAN   ** ** ** ** **  0 75 ** ** ** ** ** ** ** ** ** **  45
 + Jane Boyle                               NB    ** ** ** ** ** ** ** ** ** ** ** ** @@ ** ** ** **  **
 
   SECONDS
 + Kristin MacCuish                         MB    ** ** ** 88 ** ** ** ** ** ** ** ** ** ** ** ** **  88
 + Stefanie Clark                           PE    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 88 **  88
 1 Jill Officer                             MB    90 ** 89 83 ** 83 73 ** 83 79 ** 75 ** 96 ** 83 91  84
 1 Alison Kreviazuk                         ON    83 ** 94 93 ** 78 80 ** 89 80 ** 71 ** 85 ** 84 89  84
 3 Sasha Carter                             BC    ** 78 60 ** 86 89 ** 81 83 ** 79 ** 83 84 85 ** 94  82
 3 Jessica Mair                             CAN   76 ** 75 91 ** 68 95 ** 84 79 ** 71 ** 85 ** 85 91  82
 5 Colleen Jones                            NS    ** 84 78 ** 74 70 ** 80 95 ** 82 ** 88 78 59 ** 91  80
 6 Brittany O'Rourke                        QC    ** 85 84 ** 69 71 ** 90 76 ** 86 ** 84 61 84 ** 74  79
 + Sharon Cormier                           NWTY  ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 78 **  78
 7 Danielle Parsons                         NB    61 84 ** 76 74 ** 66 76 ** 88 82 ** 77 ** 84 83 **  77
 8 Taryn Holtby                             SK    64 ** 67 78 ** 60 72 ** 78 69 ** 78 ** 80 ** 86 86  75
 9 Sarah Fullerton                          PE    84 75 ** 57 86 ** 58 67 ** 76 70 ** 90 ** 61 73 **  73
10 Michelle Dykstra                         AB    ** 76 60 ** 68 83 ** 50 76 ** 83 ** 73 73 65 ** 59  70
11 Lauren Wasylkiw                          NL    66 67 ** 52 69 ** 57 66 ** 61 84 ** 73 ** 73 70 **  68
12 Megan Cormier                            NWTY  56 67 ** 81 54 ** 78 63 ** 71 56 ** 75 ** ** ** **  67
 + Stephanie LeDrew                         ON    42 ** ** 92 ** ** ** ** ** ** ** ** ** ** ** ** **  67
 + Shona Barbour                            NWTY  ** ** ** ** ** ** ** ** ** ** ** ** ** ** 66 ** **  66
 + Patty Hersikorn                          SK    ** ** ** 50 ** ** ** ** ** ** ** ** ** ** ** ** **  50
 
   THIRDS 
 1 Kaitlyn Lawes                            MB    90 ** 75 91 ** 84 84 ** 79 73 ** 81 ** 77 ** 91 83  82
 2 Beth Iskiw                               CAN   68 ** 90 83 ** 77 91 ** 91 69 ** 78 ** 90 ** 71 78  80
 2 Jeanna Schraeder                         BC    ** 83 83 ** 78 89 ** 67 75 ** 66 ** 84 86 86 ** 81  80
 4 Emma Miskew                              ON    77 ** 65 86 ** 82 74 ** 74 81 ** 76 ** 84 ** 88 81  79
 5 Kim Kelly                                NS    ** 74 85 ** 69 70 ** 81 66 ** 86 ** 79 76 59 ** 95  76
 6 Shelley Bradley                          PE    75 75 ** 78 83 ** 78 64 ** 85 70 ** 71 ** 63 73 **  74
 7 Blaine deJager                           AB    ** 66 75 ** 71 65 ** 69 74 ** 84 ** 75 78 64 ** 72  72
 8 Rebecca Atkinson                         NB    69 70 ** 67 72 ** 74 67 ** 70 81 ** 79 ** 71 66 **  71
 9 Audree Dufresne                          QC    ** 69 53 ** 60 63 ** 73 81 ** 71 ** 76 70 80 ** 75  70
10 Kara Johnston                            SK    63 ** 73 65 ** 60 74 ** 65 70 ** 74 ** 59 ** 73 84  69
 + Megan Cormier                            NWTY  ** ** ** ** ** ** ** ** ** ** ** ** ** ** 66 71 **  69
11 Erin Porter                              NL    61 70 ** 39 56 ** 66 70 ** 59 78 ** 80 ** 76 70 **  67
12 Sharon Cormier                           NWTY  67 68 ** 84 46 ** 70 63 ** 60 67 ** 63 ** ** ** **  65
 + Julie Devereaux                          NL    ** 38 ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  38
 
   SKIPS  
 1 Jennifer Jones                           MB    81 ** 97 84 ** 81 81 ** 83 85 ** 93 ** 91 ** 84 81  86
 2 Rachel Homan                             ON    91 ** 83 97 ** 81 83 ** 84 91 ** 71 ** 79 ** 80 76  83
 3 Heather Nedohin                          CAN   85 ** 76 80 ** 91 89 ** 89 69 ** 76 ** 89 ** 63 78  80
 4 Mary-Anne Arsenault                      NS    ** 70 79 ** 74 64 ** 78 75 ** 76 ** 83 70 86 ** 83  76
 4 Kelly Scott                              BC    ** 65 81 ** 74 76 ** 71 73 ** 73 ** 74 79 75 ** 97  76
 6 Andrea Crawford                          NB    79 75 ** 69 85 ** 69 68 ** 66 64 ** 89 ** 87 68 **  74
 7 Jill Shumay                              SK    66 ** 86 67 ** 76 71 ** 68 73 ** 88 ** 57 ** 65 65  71
 7 Suzanne Birt                             PE    75 55 ** 74 70 ** 74 84 ** 75 75 ** 63 ** 67 63 **  71
 7 Allison Ross                             QC    ** 80 69 ** 75 54 ** 76 78 ** 63 ** 73 66 63 ** 76  71
 + Renee Sonnenberg                         AB    ** ** ** ** ** ** ** ** 70 ** ** ** ** ** ** ** **  70
10 Kristie Moore                            AB    ** 59 65 ** 60 71 ** 47 ** ** 83 ** 50 83 65 ** 61  65
11 Stacie Devereaux                         NL    69 65 ** 45 61 ** 55 77 ** 53 64 ** 54 ** 69 69 **  62
11 Kerry Galusha                            NWTY  50 70 ** 67 60 ** 52 56 ** 70 48 ** 64 ** 68 66 **  62
 
   TEAMS
 1 Manitoba (Jones)                               86 ** 88 87 ** 86 82 ** 82 79 ** 84 ** 91 ** 88 87  85
 2 Ontario (Homan)                                75 ** 82 87 ** 84 83 ** 80 86 ** 75 ** 82 ** 83 84  82
 3 Canada (Nedohin)                               75 ** 81 85 ** 77 91 ** 87 74 ** 73 ** 88 ** 78 85  81
 4 BC (Scott)                                     ** 73 76 ** 81 85 ** 75 76 ** 71 ** 81 80 84 ** 91  79
 4 NS (Arsenault)                                 ** 78 83 ** 74 72 ** 80 77 ** 80 ** 86 77 71 ** 89  79
 6 NB (Crawford)                                  71 76 ** 74 77 ** 73 73 ** 77 77 ** 81 ** 85 72 **  76
 7 Quebec (Ross)                                  ** 76 65 ** 68 71 ** 80 81 ** 76 ** 77 69 76 ** 78  75
 8 SK (Shumay)                                    66 ** 78 72 ** 66 73 ** 74 72 ** 78 ** 71 ** 75 81  73
 8 PEI (Birt)                                     78 67 ** 69 80 ** 69 75 ** 78 72 ** 78 ** 63 75 **  73
10 Alberta (Moore)                                ** 68 70 ** 65 72 ** 63 76 ** 79 ** 71 75 67 ** 63  70
11 NL (Devereaux)                                 65 70 ** 50 65 ** 66 68 ** 61 79 ** 72 ** 74 69 **  68
12 NWT/Yukon (Galusha)                            59 70 ** 79 56 ** 68 63 ** 67 62 ** 69 ** 73 75 **  67
 
**did not play
@@all shots throw-through
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2013 Scotties Tournament of Hearts
                                      Kingston, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Dawn Askin                               MB     +  *  +  +  *  +  +  *  0  0  *  +  *  +  *  +  +  +9
Jinaye Ayrey                             SK     +  *  +  0  *  0  +  *  +  -  *  0  *  +  *  +  -  +4
Laine Peters                             CAN    0  *  -  +  *  -  +  *  +  0  *  0  *  +  *  +  0  +3
Jodie deSolla                            NB     0  +  *  0  +  *  -  +  *  +  0  *  -  *  +  -  *  +2
Jennifer Baxter                          NS     *  +  +  *  -  -  *  +  -  *  -  *  +  +  -  *  +  +1
Lisa Weagle                              ON     0  *  0  -  *  +  +  *  -  +  *  -  *  -  *  0  0  -1
Amber Cheveldave                         AB     *  0  0  *  -  0  *  +  0  *  -  *  +  -  +  *  -  -1
Sasha Beauchamp                          QC     *  -  -  *  +  +  *  -  +  *  0  *  0  -  0  *  0  -1
Leslie MacDougall                        PE     -  -  *  -  +  *  -  +  *  +  +  *  -  *  -  0  *  -2
Sarah Wazney                             BC     *  0  -  *  +  -  *  -  *  *  *  *  0  -  0  *  0  -3
Heather Martin                           NL     0  +  *  -  -  *  -  -  *  -  +  *  0  *  0  -  *  -4
Wendy Miller                             NWTY   -  -  *  +  -  *  -  -  *  -  +  *  0  *  0  -  *  -5
 
SECONDS
Alison Kreviazuk                         ON     +  *  +  +  *  -  +  *  +  +  *  0  *  +  *  +  0  +7
Jill Officer                             MB     +  *  +  +  *  +  -  *  +  0  *  0  *  +  *  0  +  +6
Sasha Carter                             BC     *  0  -  *  +  +  *  +  0  *  +  *  +  0  +  *  +  +6
Jessica Mair                             CAN    +  *  0  +  *  0  +  *  0  0  *  -  *  +  *  +  0  +4
Danielle Parsons                         NB     -  +  *  0  +  *  -  -  *  +  0  *  0  *  +  0  *  +1
Brittany O'Rourke                        QC     *  0  +  *  0  0  *  +  -  *  0  *  +  -  +  *  -  +1
Taryn Holtby                             SK     +  *  -  0  *  -  +  *  -  -  *  +  *  0  *  +  -  -1
Colleen Jones                            NS     *  0  0  *  -  -  *  +  +  *  0  *  0  -  -  *  +  -1
Michelle Dykstra                         AB     *  0  -  *  0  +  *  -  -  *  +  *  0  -  0  *  -  -3
Sarah Fullerton                          PE     -  -  *  -  +  *  -  -  *  +  -  *  0  *  0  -  *  -5
Megan Cormier                            NWTY   -  0  *  -  -  *  +  -  *  -  -  *  -  *  *  *  *  -6
Lauren Wasylkiw                          NL     -  0  *  -  -  *  -  +  *  -  0  *  -  *  -  -  *  -7
 
THIRDS 
Kaitlyn Lawes                            MB     +  *  -  +  *  +  +  *  +  0  *  +  *  +  *  +  0  +7
Beth Iskiw                               CAN    0  *  +  +  *  +  +  *  +  0  *  0  *  +  *  0  0  +6
Jeanna Schraeder                         BC     *  +  +  *  +  +  *  0  -  *  0  *  0  +  +  *  +  +6
Rebecca Atkinson                         NB     0  -  *  0  +  *  0  0  *  +  +  *  0  *  +  -  *  +2
Emma Miskew                              ON     +  *  -  0  *  -  0  *  -  +  *  -  *  +  *  +  0   0
Blaine deJager                           AB     *  -  +  *  +  +  *  0  -  *  +  *  0  -  0  *  -   0
Kim Kelly                                NS     *  +  -  *  -  -  *  +  0  *  +  *  +  -  -  *  +   0
Kara Johnston                            SK     0  *  +  0  *  -  0  *  0  -  *  0  *  -  *  0  0  -2
Shelley Bradley                          PE     -  +  *  -  +  *  0  -  *  +  0  *  -  *  0  -  *  -2
Audree Dufresne                          QC     *  -  -  *  -  -  *  +  +  *  -  *  +  -  0  *  -  -4
Sharon Cormier                           NWTY   0  0  *  0  -  *  -  -  *  -  -  *  -  *  *  *  *  -6
Erin Porter                              NL     -  0  *  -  -  *  -  0  *  -  -  *  0  *  0  0  *  -6
 
SKIPS  
Jennifer Jones                           MB     +  *  +  +  *  +  +  *  +  +  *  +  *  +  *  +  + +11
Rachel Homan                             ON     +  *  +  +  *  +  +  *  +  +  *  -  *  +  *  +  0  +8
Heather Nedohin                          CAN    +  *  0  +  *  +  +  *  +  -  *  -  *  +  *  0  0  +4
Kelly Scott                              BC     *  +  -  *  0  -  *  0  -  *  0  *  +  +  +  *  +  +2
Mary-Anne Arsenault                      NS     *  -  0  *  0  -  *  +  +  *  +  *  +  -  0  *  +  +2
Andrea Crawford                          NB     -  +  *  0  +  *  -  0  *  +  0  *  +  *  0  -  *  +1
Jill Shumay                              SK     +  *  +  0  *  +  0  *  -  -  *  +  *  -  *  0  -   0
Suzanne Birt                             PE     -  -  *  -  +  *  0  +  *  +  0  *  -  *  0  -  *  -2
Allison Ross                             QC     *  +  -  *  +  -  *  -  -  *  0  *  +  -  -  *  -  -4
Stacie Devereaux                         NL     -  -  *  -  -  *  -  +  *  -  -  *  -  *  +  0  *  -6
Kristie Moore                            AB     *  -  -  *  -  -  *  -  *  *  +  *  -  -  0  *  -  -7
Kerry Galusha                            NWTY   -  +  *  -  -  *  -  -  *  -  -  *  -  *  -  0  *  -8
 
   TEAMS
Manitoba (Jones)                                +  *  +  +  *  +  +  *  +  +  *  +  *  +  *  +  + +11
Ontario (Homan)                                 +  *  +  +  *  0  +  *  0  +  *  -  *  +  *  +  0  +6
BC (Scott)                                      *  +  -  *  +  0  *  0  -  *  0  *  +  +  +  *  +  +4
Canada (Nedohin)                                0  *  0  +  *  +  +  *  +  -  *  -  *  +  *  0  0  +3
NB (Crawford)                                   0  +  *  0  +  *  -  0  *  +  0  *  +  *  +  -  *  +3
SK (Shumay)                                     +  *  +  0  *  -  0  *  0  -  *  +  *  -  *  +  -   0
NS (Arsenault)                                  *  0  0  *  -  -  *  +  0  *  0  *  +  -  -  *  +  -1
Quebec (Ross)                                   *  0  -  *  0  -  *  +  0  *  0  *  +  -  0  *  -  -2
PEI (Birt)                                      -  -  *  -  +  *  0  -  *  +  0  *  -  *  0  -  *  -4
Alberta (Moore)                                 *  -  -  *  0  +  *  -  -  *  +  *  -  -  0  *  -  -5
NL (Devereaux)                                  -  0  *  -  -  *  -  +  *  -  0  *  -  *  0  -  *  -6
NWT/Yukon (Galusha)                             -  0  *  -  -  *  -  -  *  -  -  *  -  *  -  0  *  -9
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2013 Scotties Tournament of Hearts
                                      Kingston, Ontario
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ON     11    99  FOR      10    15     22   20    7    1    0    0   87   7.9   22  0.88
                 AGAINST   6     4     21   10    1    1    0    0   48   4.4    4  0.48
 
SK     11    96  FOR       3    14     29   10    4    1    0    1   71   6.5   21  0.74
                 AGAINST   4    11     22   16    4    2    0    0   74   6.7   17  0.77
 
NWTY   11   103  FOR       5    10     25   12    3    0    0    0   58   5.3   13  0.56
                 AGAINST   4    21     27   16   11    0    0    0   92   8.4   29  0.89
 
NL     11   101  FOR       3     8     23    7    6    1    0    0   59   5.4   10  0.58
                 AGAINST   2    27     34   20    5    0    0    0   89   8.1   38  0.88
 
MB     11    96  FOR       4    20     21   24    6    2    0    0   95   8.6   34  0.99
                 AGAINST   4     6     27    6    2    0    0    0   45   4.1    6  0.47
 
PE     11   101  FOR       2    10     24   17    7    0    0    0   79   7.2   16  0.78
                 AGAINST   4     8     19   20    8    0    0    0   83   7.5   14  0.82
 
CAN    11   103  FOR       1     9     20   19    7    0    0    0   79   7.2   13  0.77
                 AGAINST  10    11     33   11    2    0    0    0   61   5.5   12  0.59
 
NB     11   101  FOR       1    12     19   21    6    0    1    0   84   7.6   16  0.83
                 AGAINST   6     9     26   17    2    1    0    1   76   6.9   12  0.75
 
AB     11    99  FOR      11     4     25    8    4    0    0    0   53   4.8    5  0.54
                 AGAINST   2    16     27   14    7    1    0    0   80   7.3   24  0.81
 
BC     11   103  FOR       2    10     29   16    6    1    0    1   89   8.1   13  0.86
                 AGAINST   1     8     28   16    3    0    0    0   69   6.3    9  0.67
 
NS     11   104  FOR       2    18     40    8    4    0    0    0   68   6.2   21  0.65
                 AGAINST   6     7     23   13    6    1    1    0   76   6.9    9  0.73
 
QC     11   102  FOR       9    12     31    9    2    0    1    0   60   5.5   15  0.59
                 AGAINST   4    14     21   12   11    0    1    1   89   8.1   25  0.87
 
 
TOTAL  66   604  FOR      53   142    308  171   62    6    2    2  882   6.7  199  0.73
                 AGAINST  53   142    308  171   62    6    2    2  882   6.7  199  0.73
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis By Hammer</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
 
                          SCORING ANALYSIS BY HAMMER AFTER DRAW 17
 
                                         WITH HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                             FOR        AGAINST        FOR          FOR
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
ON        11      49       10  20        4   8       13  27       22  45
 
SK        11      45        3   7       11  24       20  44       11  24
 
NWTY      11      56        5   9       21  38       17  30       13  23
 
NL        11      59        3   5       27  46       17  29       12  20
 
MB        11      43        4   9        6  14       12  28       21  49
 
PE        11      48        2   4        8  17       19  40       19  40
 
CAN       11      49        1   2       11  22       14  29       23  47
 
NB        11      45        1   2        9  20       11  24       24  53
 
AB        11      60       11  18       16  27       22  37       11  18
 
BC        11      53        2   4        8  15       22  42       21  40
 
NS        11      43        2   5        7  16       25  58        9  21
 
QC        11      54        9  17       14  26       22  41        9  17
 
 
                                       WITHOUT HAMMER
 
                                                     SINGLE       MULTI
                           BLANKS       STEALS       POINTS       POINTS
                           AGAINST        FOR        AGAINST      AGAINST
TEAM    GAMES    ENDS       #   %        #   %        #   %        #   %
 
ON        11      50        6  12       15  30       17  34       12  24
 
SK        11      51        4   8       14  27       17  33       16  31
 
NWTY      11      47        4   9       10  21       12  26       21  45
 
NL        11      42        2   5        8  19       17  40       15  36
 
MB        11      53        4   8       20  38       21  40        8  15
 
PE        11      53        4   8       10  19       17  32       22  42
 
CAN       11      54       10  19        9  17       23  43       12  22
 
NB        11      56        6  11       12  21       20  36       18  32
 
AB        11      39        2   5        4  10       18  46       15  38
 
BC        11      50        1   2       10  20       21  42       18  36
 
NS        11      61        6  10       18  30       17  28       20  33
 
QC        11      48        4   8       12  25       14  29       18  38
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2013 Scotties Tournament of Hearts
                                      Kingston, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        ON    SK    NWTY  NL    MB    PE    CAN   NB    AB    BC    NS    QC    
 
 
ON       *     W     W     W     L     W     W     W     W     W     W     W  
 
 
SK       L     *     W     W     L     L     W     W     W     L     L     W  
 
 
NWTY     L     L     *     W     L     L     W     L     L     L     L     L  
 
 
NL       L     L     L     *     L     L     L     L     W     L     L     W  
 
 
MB       W     W     W     W     *     W     W     W     W     W     W     W  
 
 
PE       L     W     W     W     L     *     L     L     W     L     L     W  
 
 
CAN      L     L     L     W     L     W     *     W     W     W     W     W  
 
 
NB       L     L     W     W     L     W     L     *     W     L     W     W  
 
 
AB       L     L     W     L     L     L     L     L     *     L     L     L  
 
 
BC       L     W     W     W     L     W     L     W     W     *     W     W  
 
 
NS       L     W     W     W     L     W     L     L     W     L     *     L  
 
 
QC       L     L     W     L     L     L     L     L     W     L     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2013 Scotties Tournament of Hearts
                                      Kingston, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Homan)                          #SH   245  165  410   293  248  541   538  413  951
                                  PTS   795  529 1324   990  836 1826  1785 1365 3150
                                  PCT    81   80   81    84   84   84    83   83   83
 
 1 Lisa Weagle                              #SH   100   62  162    37   35   72   137   97  234
                                  PTS   358  208  566   113   97  210   471  305  776
                                  PCT    90   84   87    76   69   73    86   79   83
 
 2 Alison Kreviazuk                         #SH    49   26   75    92   61  153   141   87  228
                                  PTS   155   82  237   323  221  544   478  303  781
                                  PCT    79   79   79    88   91   89    85   87   86
 
 3 Emma Miskew                              #SH    41   36   77    90   73  163   131  109  240
                                  PTS   115  104  219   296  248  544   411  352  763
                                  PCT    70   72   71    82   85   83    78   81   79
 
 4 Rachel Homan                             #SH    52   41   93    64   76  140   116  117  233
                                  PTS   158  135  293   230  262  492   388  397  785
                                  PCT    76   82   79    90   86   88    84   85   84
 
 5 Stephanie LeDrew                         #SH     3    0    3    10    3   13    13    3   16
                                  PTS     9    0    9    28    8   36    37    8   45
                                  PCT    75  ***   75    70   67   69    71   67   70
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   SK (Shumay)                              #SH   288  191  479   176  130  306   464  321  785
                                  PTS   883  532 1415   531  357  888  1414  889 2303
                                  PCT    77   70   74    75   69   73    76   69   73
 
 1 Jinaye Ayrey                             #SH   129   35  164    21    8   29   150   43  193
                                  PTS   424  103  527    57   21   78   481  124  605
                                  PCT    82   74   80    68   66   67    80   72   78
 
 2 Taryn Holtby                             #SH    61   44  105    55   36   91   116   80  196
                                  PTS   179  127  306   170  109  279   349  236  585
                                  PCT    73   72   73    77   76   77    75   74   75
 
 3 Kara Johnston                            #SH    48   54  102    54   41   95   102   95  197
                                  PTS   141  137  278   169   99  268   310  236  546
                                  PCT    73   63   68    78   60   71    76   62   69
 
 4 Jill Shumay                              #SH    49   58  107    44   44   88    93  102  195
                                  PTS   137  165  302   129  126  255   266  291  557
                                  PCT    70   71   71    73   72   72    72   71   71
 
 5 Patty Hersikorn                          #SH     1    0    1     2    1    3     3    1    4
                                  PTS     2    0    2     6    2    8     8    2   10
                                  PCT    50  ***   50    75   50   67    67   50   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NWT/Yukon (Galusha)                      #SH   280  255  535   116  170  286   396  425  821
                                  PTS   763  723 1486   273  455  728  1036 1178 2214
                                  PCT    68   71   69    59   67   64    65   69   67
 
 1 Wendy Miller                             #SH    92   91  183    10   13   23   102  104  206
                                  PTS   270  277  547    24   41   65   294  318  612
                                  PCT    73   76   75    60   79   71    72   76   74
 
 2 Megan Cormier                            #SH    59   59  118    35   53   88    94  112  206
                                  PTS   150  165  315    84  156  240   234  321  555
                                  PCT    64   70   67    60   74   68    62   72   67
 
 3 Sharon Cormier                           #SH    62   50  112    34   40   74    96   90  186
                                  PTS   161  140  301    88  104  192   249  244  493
                                  PCT    65   70   67    65   65   65    65   68   66
 
 4 Kerry Galusha                            #SH    63   51  114    32   57   89    95  108  203
                                  PTS   172  126  298    66  137  203   238  263  501
                                  PCT    68   62   65    52   60   57    63   61   62
 
 5 Shona Barbour                            #SH     4    4    8     5    7   12     9   11   20
                                  PTS    10   15   25    11   17   28    21   32   53
                                  PCT    63   94   78    55   61   58    58   73   66
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Devereaux)                           #SH   224  253  477   157  180  337   381  433  814
                                  PTS   608  688 1296   409  502  911  1017 1190 2207
                                  PCT    68   68   68    65   70   68    67   69   68
 
 1 Heather Martin                           #SH    77  100  177     8   18   26    85  118  203
                                  PTS   232  295  527    24   56   80   256  351  607
                                  PCT    75   74   74    75   78   77    75   74   75
 
 2 Lauren Wasylkiw                          #SH    55   58  113    59   32   91   114   90  204
                                  PTS   123  161  284   160  111  271   283  272  555
                                  PCT    56   69   63    68   87   74    62   76   68
 
 3 Erin Porter                              #SH    42   39   81    43   74  117    85  113  198
                                  PTS   117  106  223   109  199  308   226  305  531
                                  PCT    70   68   69    63   67   66    66   67   67
 
 4 Stacie Devereaux                         #SH    50   54  104    45   54   99    95  108  203
                                  PTS   136  124  260   112  133  245   248  257  505
                                  PCT    68   57   63    62   62   62    65   59   62
 
 5 Julie Devereaux                          #SH     0    2    2     2    2    4     2    4    6
                                  PTS     0    2    2     4    3    7     4    5    9
                                  PCT   ***   25   25    50   38   44    50   31   38
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Jones)                         #SH   299  227  526   240  254  494   539  481 1020
                                  PTS  1073  761 1834   800  847 1647  1873 1608 3481
                                  PCT    90   84   87    83   83   83    87   84   85
 
 1 Dawn Askin                               #SH   134   77  211    20   19   39   154   96  250
                                  PTS   504  280  784    56   60  116   560  340  900
                                  PCT    94   91   93    70   79   74    91   89   90
 
 2 Jill Officer                             #SH    60   44  104    82   70  152   142  114  256
                                  PTS   203  137  340   279  238  517   482  375  857
                                  PCT    85   78   82    85   85   85    85   82   84
 
 3 Kaitlyn Lawes                            #SH    51   43   94    79   85  164   130  128  258
                                  PTS   181  148  329   255  271  526   436  419  855
                                  PCT    89   86   88    81   80   80    84   82   83
 
 4 Jennifer Jones                           #SH    53   62  115    56   80  136   109  142  251
                                  PTS   181  192  373   199  278  477   380  470  850
                                  PCT    85   77   81    89   87   88    87   83   85
 
 5 Kristin MacCuish                         #SH     1    1    2     3    0    3     4    1    5
                                  PTS     4    4    8    11    0   11    15    4   19
                                  PCT   100  100  100    92  ***   92    94  100   95
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (Birt)                               #SH   168  282  450   177  191  368   345  473  818
                                  PTS   481  836 1317   529  551 1080  1010 1387 2397
                                  PCT    72   74   73    75   72   73    73   73   73
 
 1 Leslie MacDougall                        #SH    35  140  175     9   18   27    44  158  202
                                  PTS   102  444  546    26   38   64   128  482  610
                                  PCT    73   79   78    72   53   59    73   76   75
 
 2 Sarah Fullerton                          #SH    50   41   91    54   61  115   104  102  206
                                  PTS   133  121  254   166  178  344   299  299  598
                                  PCT    67   74   70    77   73   75    72   73   73
 
 3 Shelley Bradley                          #SH    33   52   85    59   62  121    92  114  206
                                  PTS    93  146  239   178  192  370   271  338  609
                                  PCT    70   70   70    75   77   76    74   74   74
 
 4 Suzanne Birt                             #SH    48   44   92    55   49  104   103   93  196
                                  PTS   145  114  259   159  140  299   304  254  558
                                  PCT    76   65   70    72   71   72    74   68   71
 
 5 Stefanie Clark                           #SH     2    5    7     0    1    1     2    6    8
                                  PTS     8   11   19     0    3    3     8   14   22
                                  PCT   100   55   68   ***   75   75   100   58   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Nedohin)                         #SH   209  266  475   238  343  581   447  609 1056
                                  PTS   702  891 1593   756 1129 1885  1458 2020 3478
                                  PCT    84   84   84    79   82   81    82   83   82
 
 1 Laine Peters                             #SH    86  121  207    17   33   50   103  154  257
                                  PTS   287  435  722    57  104  161   344  539  883
                                  PCT    83   90   87    84   79   81    83   88   86
 
 2 Jessica Mair                             #SH    33   41   74    81  109  190   114  150  264
                                  PTS   119  134  253   259  368  627   378  502  880
                                  PCT    90   82   85    80   84   83    83   84   83
 
 3 Beth Iskiw                               #SH    34   56   90    79   99  178   113  155  268
                                  PTS   116  178  294   253  321  574   369  499  868
                                  PCT    85   79   82    80   81   81    82   80   81
 
 4 Heather Nedohin                          #SH    56   46  102    59  101  160   115  147  262
                                  PTS   180  136  316   186  336  522   366  472  838
                                  PCT    80   74   77    79   83   82    80   80   80
 
 5 Cori Morris                              #SH     0    2    2     2    1    3     2    3    5
                                  PTS     0    8    8     1    0    1     1    8    9
                                  PCT   ***  100  100    13    0    8    13   67   45
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NB (Crawford)                            #SH   263  185  448   201  152  353   464  337  801
                                  PTS   805  548 1353   630  450 1080  1435  998 2433
                                  PCT    77   74   76    78   74   76    77   74   76
 
 1 Jodie deSolla                            #SH   121   51  172    13   13   26   134   64  198
                                  PTS   398  162  560    42   43   85   440  205  645
                                  PCT    82   79   81    81   83   82    82   80   81
 
 2 Danielle Parsons                         #SH    51   37   88    70   44  114   121   81  202
                                  PTS   157  110  267   218  139  357   375  249  624
                                  PCT    77   74   76    78   79   78    77   77   77
 
 3 Rebecca Atkinson                         #SH    42   46   88    62   52  114   104   98  202
                                  PTS   110  131  241   185  149  334   295  280  575
                                  PCT    65   71   68    75   72   73    71   71   71
 
 4 Andrea Crawford                          #SH    49   51  100    56   43   99   105   94  199
                                  PTS   140  145  285   185  119  304   325  264  589
                                  PCT    71   71   71    83   69   77    77   70   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Moore)                          #SH   215  237  452   155  184  339   370  421  791
                                  PTS   602  631 1233   465  515  980  1067 1146 2213
                                  PCT    70   67   68    75   70   72    72   68   70
 
 1 Amber Cheveldave                         #SH    68   93  161    18   15   33    86  108  194
                                  PTS   193  271  464    56   47  103   249  318  567
                                  PCT    71   73   72    78   78   78    72   74   73
 
 2 Michelle Dykstra                         #SH    51   47   98    47   53  100    98  100  198
                                  PTS   137  125  262   147  145  292   284  270  554
                                  PCT    67   66   67    78   68   73    72   68   70
 
 3 Blaine deJager                           #SH    56   45  101    43   54   97    99   99  198
                                  PTS   180  108  288   131  150  281   311  258  569
                                  PCT    80   60   71    76   69   72    79   65   72
 
 4 Kristie Moore                            #SH    36   42   78    42   57   99    78   99  177
                                  PTS    82  101  183   119  157  276   201  258  459
                                  PCT    57   60   59    71   69   70    64   65   65
 
 5 Renee Sonnenberg                         #SH     4   10   14     5    5   10     9   15   24
                                  PTS    10   26   36    12   16   28    22   42   64
                                  PCT    63   65   64    60   80   70    61   70   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   BC (Scott)                               #SH   363  242  605   155  225  380   518  467  985
                                  PTS  1167  755 1922   498  743 1241  1665 1498 3163
                                  PCT    80   78   79    80   83   82    80   80   80
 
 1 Sarah Wazney                             #SH   125   37  162    16   11   27   141   48  189
                                  PTS   425  121  546    50   40   90   475  161  636
                                  PCT    85   82   84    78   91   83    84   84   84
 
 2 Sasha Carter                             #SH    56   73  129    41   78  119    97  151  248
                                  PTS   173  236  409   136  277  413   309  513  822
                                  PCT    77   81   79    83   89   87    80   85   83
 
 3 Jeanna Schraeder                         #SH    80   57  137    46   65  111   126  122  248
                                  PTS   259  176  435   147  213  360   406  389  795
                                  PCT    81   77   79    80   82   81    81   80   80
 
 4 Kelly Scott                              #SH    68   58  126    50   68  118   118  126  244
                                  PTS   208  172  380   158  207  365   366  379  745
                                  PCT    76   74   75    79   76   77    78   75   76
 
 5 Diane Gushulak                           #SH    34   17   51     2    3    5    36   20   56
                                  PTS   102   50  152     7    6   13   109   56  165
                                  PCT    75   74   75    88   50   65    76   70   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NS (Arsenault)                           #SH   312  154  466   170  204  374   482  358  840
                                  PTS   963  496 1459   513  675 1188  1476 1171 2647
                                  PCT    77   81   78    75   83   79    77   82   79
 
 1 Jennifer Baxter                          #SH   126   42  168    25   14   39   151   56  207
                                  PTS   417  150  567    67   52  119   484  202  686
                                  PCT    83   89   84    67   93   76    80   90   83
 
 2 Colleen Jones                            #SH    55   34   89    40   83  123    95  117  212
                                  PTS   160   96  256   135  285  420   295  381  676
                                  PCT    73   71   72    84   86   85    78   81   80
 
 3 Kim Kelly                                #SH    60   42  102    43   67  110   103  109  212
                                  PTS   173  132  305   123  220  343   296  352  648
                                  PCT    72   79   75    72   82   78    72   81   76
 
 4 Mary-Anne Arsenault                      #SH    71   36  107    62   40  102   133   76  209
                                  PTS   213  118  331   188  118  306   401  236  637
                                  PCT    75   82   77    76   74   75    75   78   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Ross)                            #SH   155  272  427   161  225  386   316  497  813
                                  PTS   395  812 1207   501  719 1220   896 1531 2427
                                  PCT    64   75   71    78   80   79    71   77   75
 
 1 Sasha Beauchamp                          #SH    41  118  159    13   31   44    54  149  203
                                  PTS   113  374  487    40  105  145   153  479  632
                                  PCT    69   79   77    77   85   82    71   80   78
 
 2 Brittany O'Rourke                        #SH    34   51   85    54   65  119    88  116  204
                                  PTS    97  158  255   178  215  393   275  373  648
                                  PCT    71   77   75    82   83   83    78   80   79
 
 3 Audree Dufresne                          #SH    44   51   95    49   60  109    93  111  204
                                  PTS    90  155  245   156  174  330   246  329  575
                                  PCT    51   76   64    80   73   76    66   74   70
 
 4 Allison Ross                             #SH    36   52   88    45   69  114    81  121  202
                                  PTS    95  125  220   127  225  352   222  350  572
                                  PCT    66   60   63    71   82   77    69   72   71
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2013 Scotties Tournament of Hearts
                                      Kingston, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  13
 
          DRAW  8    BC   13  NB    7
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    NL    1  ON    8
          DRAW  4    NL    1  MB    9
          DRAW  7    NWTY  1  MB    9
          DRAW 14    QC    1  MB    7
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  20
 
          DRAW  8    BC   13  NB    7
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW 14    QC    1  MB    7
          DRAW 14    AB    3  CAN   5
          DRAW 17    AB    2  NS    6
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW  3    QC    5  SK   12    SK   SCORED 6 IN THE 6TH END
          DRAW  8    BC   13  NB    7    BC   SCORED 6 IN THE 9TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   3
 
          DRAW  1    SK    7  NWTY  2    SK   SCORED 3 IN THE 7TH END
          DRAW  3    QC    5  SK   12    SK   SCORED 3 IN THE 4TH END
          DRAW  4    NL    1  MB    9    MB   SCORED 3 IN THE 4TH END
          DRAW  6    QC    2  CAN  12    CAN  SCORED 3 IN THE 5TH END
          DRAW  6    MB   11  NS    4    MB   SCORED 3 IN THE 8TH END
          DRAW  7    NWTY  1  MB    9    MB   SCORED 3 IN THE 8TH END
          DRAW  9    ON    8  QC    4    ON   SCORED 3 IN THE THIRD END
          DRAW 13    NWTY  7  QC    8    NWTY SCORED 3 IN THE 9TH END
          DRAW 15    PE    8  AB    4    PE   SCORED 3 IN THE 8TH END
 
MOST BLANK ENDS, ONE GAME:   3
 
          DRAW  2    NS    4  QC    9
          DRAW  7    NB    5  ON    7
          DRAW 14    AB    3  CAN   5
 
NUMBER OF BLANK ENDS IN EVENT:  59
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAW 14
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  2    NS    4  QC    9    BY QC   BEGINNING IN END 6
          DRAW  7    NB    5  ON    7    BY ON   BEGINNING IN END 6
          DRAW 10    CAN   5  MB    8    BY MB   BEGINNING IN END 2
          DRAW 11    NB    8  QC    4    BY QC   BEGINNING IN END 1
          DRAW 14    QC    1  MB    7    BY QC   BEGINNING IN END 2
          DRAW 14    AB    3  CAN   5    BY AB   BEGINNING IN END 1
          DRAW 15    PE    8  AB    4    BY AB   BEGINNING IN END 6
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW 13    NWTY  7  QC    8
          DRAW 16    MB    7  NB    6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  4    NL    1  MB    9    BY MB   BEGINNING IN END 3
          DRAW  7    NWTY  1  MB    9    BY MB   BEGINNING IN END 5
          DRAW 12    SK    7  CAN   5    BY SK   BEGINNING IN END 6
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   7
 
          DRAW  1    NL    1  ON    8    BY ON  
          DRAW  4    NL    1  MB    9    BY MB  
          DRAW  7    NWTY  1  MB    9    BY MB  
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  5    PE   12  NL    7    PE   WAS DOWN 4 AFTER 2 ENDS
          DRAW  6    AB    6  SK    7    SK   WAS DOWN 4 AFTER 4 ENDS
          DRAW 12    SK    7  CAN   5    SK   WAS DOWN 4 AFTER 4 ENDS
          DRAW 16    CAN   8  NWTY 10    NWTY WAS DOWN 4 AFTER 4 ENDS
 
NUMBER OF EXTRA END GAMES:   6
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  2    NWTY  8  NL    7
          DRAW  6    ON    9  BC    8
          DRAW  8    QC    6  PE    8
          DRAW 11    NS    7  NL    6
          DRAW 13    NWTY  7  QC    8
          DRAW 15    NL    8  QC    7
 
FEWEST ENDS PLAYED IN ONE GAME:   7
 
          DRAW  4    NL    1  MB    9
          DRAW  6    QC    2  CAN  12
          DRAW  7    CAN  10  NL    3
          DRAW 13    NB    9  AB    3
          DRAW 14    BC    9  SK    2
          DRAW 14    QC    1  MB    7
          DRAW 16    PE    2  ON   10
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  1    NL    1  ON    8    BY NL  
  </div>
</div>
