<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2014 Scotties Tournament of Hearts
                             Maurice Richard Arena, Montreal, QC
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Teri LAKE                      NS    93 ** 90 ** 83 83 90 ** 97 86 97 ** 96 ** 78 **100  90
 + Jackie REID                    PE    ** ** ** ** ** ** ** **100 ** ** ** 90 ** 83 ** **  89
 2 Morgan COURT                   ON    ** 79 98 97 ** 89 ** 75 ** 89 ** 83 93 ** 86 98 90  89
 3 Lisa WEAGLE                    CAN   ** 80 96 82 ** 83 ** 88 ** 94 ** 90 92 ** 90 87 89  88
 + Dailene SIVERTSON              SK    ** ** ** ** ** ** ** 88 ** ** ** ** ** ** ** ** **  88
 3 Lindsay TITHERIDGE             MB    ** 92 85 93 ** 82 ** 91 ** 77 ** 93 91 ** 95 98 69  88
 3 Rachel PIDHERNY                AB    88 86 ** 80 93 ** 79 95 84 ** 83 94 ** 92 ** 95 **  88
 + Noelle THOMAS-KENNEL           NL    ** ** ** ** ** ** ** ** ** ** 88 ** ** ** ** ** **  88
 + Kim TUCK                       ON    ** ** ** ** ** ** ** ** ** ** ** ** 88 ** ** ** **  88
 6 Jodie deSOLLA                  NB    78 ** 70 ** 91 94 92 ** 71 84 88 ** 89 ** 84 ** 96  86
 7 Marliese KASNER                SK    ** 85 78 84 ** 98 ** ** ** 92 ** 78 90 ** 79 93 78  85
 8 Andrea SINCLAIR                YTNT  83 ** 91 ** 84 91 80 ** 88 83 81 ** 77 ** 81 ** 90  84
 + Breanne MEAKIN                 MB    ** ** ** ** ** @@ ** ** ** @@ ** 83 ** ** ** ** **  83
 9 Carley SANDWITH                BC    76 78 ** 79 82 ** 88 80 88 ** 75 96 ** 82 ** 91 **  83
10 Kathryn COOPER                 NL    75 93 ** 94 87 ** 83 76 79 ** 79 65 ** 76 ** 76 **  80
10 Michala ROBISON                PE    90 ** 73 ** 86 83 70 ** ** 78 80 ** ** ** ** ** 79  80
 + Jane BOYLE                     NB    ** **100 ** ** ** ** ** 69 ** ** ** ** ** ** ** **  79
 + Jessie SANDERSON               BC    ** ** ** ** ** ** ** ** 79 ** ** ** ** ** ** ** **  79
12 Pamela NUGENT                  QC    67 83 ** 69 84 ** 88 83 78 ** 71 82 ** 88 ** 71 **  78
 + Patti KNEZEVIC                 BC    ** ** ** ** ** ** ** ** ** ** 73 ** ** ** ** ** **  73
 + Stephanie LEDREW               CAN   ** **100 ** ** 50 ** ** ** ** ** ** ** ** ** ** **  60
 
   SECONDS
 + Stephanie McVICAR              NS    ** **100 ** ** ** ** ** ** ** ** ** ** ** ** ** ** 100
 + Renee SONNENBERG               AB    ** ** ** ** ** ** **100 92 ** ** ** ** ** ** ** **  94
 1 Allison KREVIAZUK              CAN   ** 94 89 89 ** 86 ** 95 ** 84 ** 95 97 ** 85 93 88  90
 + Dailene SIVERTSON              SK    ** ** ** ** ** 79 ** ** ** 93 ** ** ** ** ** ** **  89
 + Kim TUCK                       ON    ** ** ** ** ** ** ** 89 ** ** ** ** ** ** ** ** **  89
 2 Sherri SINGLER                 SK    ** 85 89 84 ** 85 ** ** ** ** ** 93 98 ** 79 84 91  88
 3 Jessie SANDERSON               BC    95 97 ** 93 76 ** 79 94 ** ** 75 81 ** 83 ** 77 **  85
 4 Dana FERGUSON                  AB    76 84 ** 82 93 ** 70 98 91 ** 85 81 ** 98 ** 76 **  84
 4 Kristen FOSTER                 MB    ** 78 73 86 ** 80 ** 83 ** 95 ** 73 95 ** 77 90 90  84
 6 Lynn KREVIAZUK                 ON    ** 76 92 80 ** 85 ** ** ** 78 ** 88 88 ** 81 90 81  83
 7 Danielle PARSONS               NB    72 ** 75 ** 77 84 74 ** 94 80 86 ** 83 ** 76 ** 91  81
 8 Blisse JOYCE                   NS    81 ** 93 ** 80 83 73 ** 86 78 85 ** 79 ** 74 ** 78  80
 8 Brittany O'ROURKE              QC    64 81 ** 81 86 ** 88 ** 85 ** ** ** ** 75 ** 79 **  80
 + Lisa DAVIES                    QC    ** ** ** ** ** ** ** 82 67 ** 83 75 ** ** ** ** **  79
10 Sinead DOLAN                   PE    88 ** 73 ** 77 84 71 ** 85 78 66 ** ** ** 80 ** 80  78
11 Jessica CUNNINGHAM             NL    78 74 ** 75 75 ** 70 83 56 ** 85 79 ** 80 ** 88 **  76
12 Patty WALLINGHAM               YTNT  70 ** 75 ** 80 67 78 ** 74 92 ** ** 70 ** 57 ** 78  74
 + Michala ROBISON                PE    ** ** ** ** ** ** ** ** 78 ** ** ** 67 ** ** ** **  72
 
   THIRDS 
 1 Emma MISKEW                    CAN   ** 97 91 86 ** 84 ** 94 ** 95 ** 89 92 ** 90 96 85  91
 2 Sherry ANDERSON                SK    ** 81 84 89 ** 77 ** ** ** 90 ** 95 88 ** 84 77 85  85
 + Patty WALLINGHAM               YTNT  ** ** ** ** ** ** ** ** ** ** 84 ** ** ** ** ** **  84
 3 Joanne COURTNEY                AB    90 78 ** 83 80 ** 80 83 93 ** 88 74 ** 91 ** 81 **  83
 4 Katie COTTRILL                 ON    ** 74 89 75 ** 79 ** 70 ** 83 ** 79 97 ** 88 90 86  82
 4 Kristy McDONALD                MB    ** 72 74 78 ** 75 ** 85 ** 84 ** 91 88 ** 76 90 91  82
 6 Jill BROTHERS                  NS    76 ** 80 ** 85 73 80 ** 81 81 90 ** 84 ** 71 ** 74  79
 6 Stephanie BAIER                BC    83 69 ** 83 89 ** 73 84 77 ** 86 69 ** ** ** ** **  79
 + Patti KNEZEVIC                 BC    ** ** ** ** ** ** ** ** ** ** ** ** ** 83 ** 73 **  78
 8 Laura STRONG                   NL    78 63 ** 73 85 ** 74 70 90 ** 68 84 ** 86 ** 83 **  77
 9 Rebecca ATKINSON               NB    78 ** 67 ** 82 83 73 ** 81 74 75 ** 71 ** 76 ** 71  76
10 Rebecca J MacDONALD            PE    75 ** 56 ** 75 84 75 ** 79 92 41 ** 79 ** 75 ** 91  75
11 Chelsea DUNCAN                 YTNT  74 ** 72 ** 79 67 70 ** 79 67 ** ** 66 ** 78 ** 84  74
12 Melissa GANNON                 QC    59 69 ** 76 66 ** 69 82 79 ** 75 70 ** 67 ** 79 **  72
 + Marliese KASNER                SK    ** ** ** ** ** ** ** 71 ** ** ** ** ** ** ** ** **  71
 
   SKIPS  
 + Lisa DAVIES                    QC    ** ** ** ** ** ** ** ** ** ** ** ** ** 92 ** ** **  92
 1 Rachel HOMAN                   CAN   ** 98 86 89 ** 93 ** 94 ** 89 ** 89 86 ** 86100 85  90
 2 Chelsea CAREY                  MB    ** 73 86 90 ** 82 ** 87 ** 98 ** 89 80 ** 90 75 89  85
 3 Stefanie LAWTON                SK    ** 80 86 79 ** 83 **100 ** 86 ** 86 88 ** 80 78 76  84
 4 Val SWEETING                   AB    79 79 ** 81 85 ** 74 73 85 ** 89 70 ** 97 ** 92 **  82
 5 Heather SMITH                  NS    57 ** 88 ** 71 76 71 ** 83 69 91 ** 79 ** 76 ** 95  78
 6 Andrea CRAWFORD                NB    82 ** 59 ** 83 77 74 ** 85 79 81 ** 74 ** 76 ** 75  77
 7 Kesa VAN OSCH                  BC    77 62 ** 80 83 ** 74 ** ** ** 84 78 ** 82 ** 64 **  76
 7 Heather STRONG                 NL    74 80 ** 68 83 ** 83 75 84 ** 68 75 ** 68 ** 76 **  76
 9 Kim DOLAN                      PE    74 ** 58 ** 73 78 69 ** 67 80 70 ** 81 ** 81 ** 89  75
 + Chelsea DUNCAN                 YTNT  ** ** ** ** ** ** ** ** ** ** 74 ** ** ** ** ** **  74
10 Allison FLAXEY                 ON    ** 64 59 80 ** 61 ** 63 ** 76 ** 81 94 ** 67 83 75  73
 + Patti KNEZEVIC                 BC    ** ** ** ** ** ** ** 70 70 ** ** ** ** ** ** ** **  70
11 Sarah KOLTUN                   YTNT  78 ** 68 ** 75 63 63 ** 76 63 ** ** 45 ** 74 ** 85  70
12 Allison ROSS                   QC    64 80 ** 71 53 ** 69 79 47 ** 70 67 ** 53 ** 82 **  67
 
   TEAMS
 1 Canada (Homan)                       ** 92 90 87 ** 84 ** 93 ** 91 ** 91 92 ** 88 94 87  90
 2 Sask (Lawton)                        ** 83 84 84 ** 85 ** 85 ** 90 ** 88 91 ** 80 83 83  85
 2 Manitoba (Carey)                     ** 79 79 87 ** 80 ** 86 ** 89 ** 86 88 ** 85 88 85  85
 4 Alberta (Sweeting)                   83 82 ** 81 88 ** 76 88 89 ** 86 80 ** 95 ** 86 **  84
 5 Ontario (Flaxey)                     ** 73 85 83 ** 78 ** 74 ** 81 ** 83 92 ** 80 90 83  82
 5 Nova Scotia (Smith)                  77 ** 88 ** 80 79 78 ** 87 79 91 ** 84 ** 75 ** 86  82
 7 B. C. (Van Osch)                     83 78 ** 83 82 ** 78 82 76 ** 80 81 ** 82 ** 76 **  80
 7 N.B. (Crawford)                      77 ** 69 ** 83 84 78 ** 83 79 83 ** 79 ** 78 ** 84  80
 9 NFLD (Strong)                        76 77 ** 78 82 ** 77 76 77 ** 75 76 ** 78 ** 81 **  78
10 PEI (Dolan)                          82 ** 65 ** 78 82 71 ** 79 82 64 ** 79 ** 80 ** 85  77
11 Yukon/NWT (Koltun)                   76 ** 77 ** 79 72 73 ** 79 76 81 ** 64 ** 72 ** 84  76
12 Quebec (Ross)                        64 78 ** 74 72 ** 78 82 71 ** 75 74 ** 74 ** 78 **  75
 
**did not play
@@all shots throw-through
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2014 Scotties Tournament of Hearts
                             Maurice Richard Arena, Montreal, QC
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Lindsay TITHERIDGE             MB     *  +  +  +  *  0  *  +  *  -  *  +  0  *  +  0  -  +4
Teri LAKE                      NS     +  *  +  *  -  0  0  *  +  -  +  *  +  *  -  *  +  +3
Rachel PIDHERNY                AB     +  +  *  0  +  *  -  +  -  *  0  +  *  0  *  0  *  +3
Jodie deSOLLA                  NB     +  *  -  *  +  0  +  *  -  -  +  *  0  *  0  *  +  +2
Andrea SINCLAIR                YTNT   -  *  +  *  0  +  -  *  0  +  -  *  -  *  0  *  +   0
Carley SANDWITH                BC     -  -  *  -  -  *  0  +  0  *  0  +  *  +  *  0  *  -1
Lisa WEAGLE                    CAN    *  -  0  +  *  -  *  -  *  +  *  -  0  *  +  +  -  -1
Morgan COURT                   ON     *  -  0  0  *  +  *  -  *  +  *  -  +  *  -  +  -  -1
Marliese KASNER                SK     *  +  -  0  *  0  *  *  *  +  *  +  -  *  -  0  -  -1
Kathryn COOPER                 NL     -  +  *  0  0  *  +  -  +  *  0  -  *  -  *  -  *  -2
Michala ROBISON                PE     +  *  -  *  0  -  -  *  *  -  -  *  *  *  *  *  +  -3
Pamela NUGENT                  QC     -  -  *  -  0  *  +  -  -  *  0  -  *  0  *  -  *  -6
 
SECONDS
Allison KREVIAZUK              CAN    *  +  0  +  *  +  *  0  *  +  *  +  +  *  +  +  0  +8
Sherri SINGLER                 SK     *  +  +  0  *  0  *  *  *  *  *  +  +  *  -  +  +  +5
Lynn KREVIAZUK                 ON     *  -  0  +  *  0  *  *  *  0  *  +  +  *  0  +  0  +3
Danielle PARSONS               NB     +  *  -  *  0  0  0  *  +  0  +  *  -  *  +  *  0  +2
Jessie SANDERSON               BC     +  +  *  +  0  *  +  +  *  *  -  -  *  0  *  -  *  +2
Dana FERGUSON                  AB     +  -  *  0  +  *  0  0  +  *  0  -  *  +  *  -  *  +1
Kristen FOSTER                 MB     *  -  -  -  *  0  *  0  *  0  *  0  +  *  0  +  +   0
Brittany O'ROURKE              QC     -  +  *  -  +  *  +  *  0  *  *  *  *  -  *  -  *  -1
Blisse JOYCE                   NS     0  *  +  *  -  0  -  *  0  -  ?  *  -  *  -  *  0  -4
Sinead DOLAN                   PE     -  *  0  *  -  0  0  *  -  -  -  *  *  *  +  *  -  -5
Patty WALLINGHAM               YTNT   -  *  0  *  +  -  -  *  ?  0  *  *  -  *  -  *  -  -5
Jessica CUNNINGHAM             NL     0  -  *  -  -  *  0  0  -  *  0  -  *  0  *  -  *  -6
 
THIRDS 
Emma MISKEW                    CAN    *  +  0  +  *  +  *  +  *  +  *  +  +  *  +  +  + +10
Katie COTTRILL                 ON     *  -  0  0  *  -  *  -  *  +  *  +  +  *  +  +  +  +3
Jill BROTHERS                  NS     0  *  +  *  +  0  +  *  0  -  +  *  0  *  0  *  -  +2
Stephanie BAIER                BC     +  -  *  +  +  *  -  +  0  *  +  -  *  *  *  *  *  +2
Sherry ANDERSON                SK     *  +  +  +  *  -  *  *  *  0  *  +  0  *  -  0  0  +2
Joanne COURTNEY                AB     +  +  *  -  -  *  +  -  +  *  +  -  *  +  *  -  *  +1
Kristy McDONALD                MB     *  -  -  -  *  0  *  +  *  +  *  +  +  *  -  +  0  +1
Laura STRONG                   NL     0  -  *  0  +  *  0  -  +  *  -  -  *  0  *  -  *  -3
Rebecca J MacDONALD            PE     -  *  -  *  +  +  0  *  -  0  -  *  -  *  0  *  0  -3
Rebecca ATKINSON               NB     +  *  -  *  -  +  -  *  -  -  +  *  -  *  0  *  -  -4
Chelsea DUNCAN                 YTNT   -  *  +  *  -  -  0  *  0  -  *  *  -  *  0  *  0  -4
Melissa GANNON                 QC     -  +  *  -  -  *  0  +  0  *  -  -  *  -  *  -  *  -5
 
SKIPS  
Rachel HOMAN                   CAN    *  +  +  +  *  +  *  +  *  +  *  +  +  *  +  +  + +11
Chelsea CAREY                  MB     *  -  0  +  *  +  *  +  *  +  *  +  +  *  +  -  0  +5
Stefanie LAWTON                SK     *  +  0  0  *  +  *  +  *  +  *  +  +  *  -  +  -  +5
Val SWEETING                   AB     0  +  *  0  +  *  0  -  +  *  +  -  *  +  *  +  *  +4
Heather SMITH                  NS     -  *  +  *  -  -  0  *  +  -  +  *  -  *  -  *  +  -2
Andrea CRAWFORD                NB     +  *  -  *  0  -  0  *  0  0  +  *  -  *  0  *  -  -2
Kesa VAN OSCH                  BC     0  -  *  -  0  *  0  *  *  *  +  -  *  +  *  -  *  -2
Sarah KOLTUN                   YTNT   0  *  +  *  -  -  -  *  +  -  *  *  -  *  0  *  +  -2
Heather STRONG                 NL     +  0  *  -  +  *  +  -  0  *  -  -  *  -  *  -  *  -3
Kim DOLAN                      PE     0  *  -  *  +  +  -  *  -  -  -  *  -  *  +  *  0  -3
Allison FLAXEY                 ON     *  -  -  +  *  -  *  -  *  0  *  +  +  *  -  0  -  -3
Allison ROSS                   QC     -  0  *  -  -  *  +  -  -  *  -  -  *  -  *  0  *  -7
 
   TEAMS
Canada (Homan)                        *  +  +  +  *  +  *  +  *  +  *  +  +  *  +  +  0 +10
Sask (Lawton)                         *  +  +  0  *  0  *  0  *  +  *  +  +  *  -  +  0  +5
Alberta (Sweeting)                    +  0  *  0  +  *  0  -  +  *  +  0  *  +  *  0  *  +4
Manitoba (Carey)                      *  -  -  0  *  0  *  +  *  +  *  +  +  *  +  0  0  +3
N.B. (Crawford)                       +  *  -  *  0  0  0  *  +  0  +  *  -  *  +  *  0  +2
B. C. (Van Osch)                      0  0  *  0  0  *  0  +  0  *  +  -  *  0  *  -  *   0
Nova Scotia (Smith)                   0  *  +  *  -  0  0  *  +  -  +  *  -  *  -  *  0  -1
Ontario (Flaxey)                      *  -  -  +  *  0  *  -  *  0  *  0  +  *  -  +  0  -1
PEI (Dolan)                           0  *  -  *  +  0  -  *  -  -  -  *  -  *  +  *  0  -4
NFLD (Strong)                         0  0  *  -  0  *  +  -  -  *  -  -  *  0  *  -  *  -5
Yukon/NWT (Koltun)                    -  *  +  *  0  -  -  *  0  -  -  *  -  *  -  *  0  -6
Quebec (Ross)                         -  0  *  -  -  *  +  0  -  *  -  -  *  -  *  -  *  -7
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2014 Scotties Tournament of Hearts
                             Maurice Richard Arena, Montreal, QC
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
AB     11   105  FOR       5    13     25   18    6    0    0    0   79   7.2   22  0.75
                 AGAINST   9     5     24   15    2    0    1    0   65   5.9    6  0.62
 
BC     11   107  FOR      13     8     23   17    3    0    0    0   66   6.0   13  0.62
                 AGAINST   9     7     24   14    4    0    0    0   64   5.8   12  0.60
 
CAN    11    95  FOR       5    18     23   11   12    2    1    0   94   8.5   33  0.99
                 AGAINST   9     3     23    7    2    0    0    0   43   3.9    3  0.45
 
MB     11   103  FOR       8    13     30    8    7    3    0    0   79   7.2   21  0.77
                 AGAINST  10     5     25    8    3    1    0    0   54   4.9    6  0.52
 
NL     11   106  FOR       5     7     27   10    3    0    0    0   56   5.1    9  0.53
                 AGAINST  10    19     36   10    5    0    0    0   71   6.5   26  0.67
 
NB     11   105  FOR       8    12     30    7    5    0    0    0   59   5.4   15  0.56
                 AGAINST  14    11     24   10    4    2    1    0   69   6.3   24  0.66
 
NS     11    98  FOR      11    12     22   12    4    1    1    0   67   6.1   23  0.68
                 AGAINST   6    13     24   10    6    1    0    0   66   6.0   23  0.67
 
ON     11   104  FOR       6     7     23   16    3    0    0    0   64   5.8   11  0.62
                 AGAINST   7    14     31   12    6    0    0    0   73   6.6   21  0.70
 
PE     11   107  FOR      10    10     33    9    1    0    0    0   54   4.9   10  0.50
                 AGAINST   6    12     27   14    6    0    1    0   78   7.1   18  0.73
 
QC     11    99  FOR       7     9     31    5    2    1    0    0   51   4.6   11  0.52
                 AGAINST   6    16     22   16    8    1    0    0   82   7.5   28  0.83
 
SK     11    97  FOR      13     9     19   15    7    1    0    0   74   6.7   20  0.76
                 AGAINST   4     7     28    9    1    0    0    0   49   4.5    7  0.51
 
YTNT   11    98  FOR       6     8     27   10    0    0    1    0   52   4.7    8  0.53
                 AGAINST   7    14     25   13    6    3    0    0   81   7.4   22  0.83
 
 
TOTAL  66   612  FOR      97   126    313  138   53    8    3    0  795   6.0  196  0.65
                 AGAINST  97   126    313  138   53    8    3    0  795   6.0  196  0.65
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2014 Scotties Tournament of Hearts
                             Maurice Richard Arena, Montreal, QC
 
                                     TEAM WIN/LOSS GRID
 
 
        AB    BC    CAN   MB    NL    NB    NS    ON    PE    QC    SK    YTNT  
 
 
AB       *     W     L     W     W     W     W     L     W     W     L     W  
 
 
BC       L     *     L     L     W     L     W     W     W     W     L     W  
 
 
CAN      W     W     *     W     W     W     W     W     W     W     W     W  
 
 
MB       L     W     L     *     W     W     W     W     W     W     W     W  
 
 
NL       L     L     L     L     *     L     W     L     W     W     L     W  
 
 
NB       L     W     L     L     W     *     L     W     W     W     L     W  
 
 
NS       L     L     L     L     L     W     *     W     L     W     L     W  
 
 
ON       W     L     L     L     W     L     L     *     L     L     L     W  
 
 
PE       L     L     L     L     L     L     W     W     *     W     L     L  
 
 
QC       L     L     L     L     L     L     L     W     L     *     L     W  
 
 
SK       W     W     L     L     W     W     W     W     W     W     *     L  
 
 
YTNT     L     L     L     L     L     L     L     L     W     L     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2014 Scotties Tournament of Hearts
                             Maurice Richard Arena, Montreal, QC
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Sweeting)             #SH   294  207  501   289  293  582   583  500 1083
                                  PTS  1006  669 1675   990  989 1979  1996 1658 3654
                                  PCT    86   81   84    86   84   85    86   83   84
 
 1 Rachel PIDHERNY                #SH   138   55  193    34   35   69   172   90  262
                                  PTS   509  199  708   109  114  223   618  313  931
                                  PCT    92   90   92    80   81   81    90   87   89
 
 2 Dana FERGUSON                  #SH    43   49   92    91   84  175   134  133  267
                                  PTS   132  150  282   319  294  613   451  444  895
                                  PCT    77   77   77    88   88   88    84   83   84
 
 3 Joanne COURTNEY                #SH    56   47  103    85   88  173   141  135  276
                                  PTS   187  151  338   289  290  579   476  441  917
                                  PCT    83   80   82    85   82   84    84   82   83
 
 4 Val SWEETING                   #SH    55   56  111    74   85  159   129  141  270
                                  PTS   170  169  339   255  287  542   425  456  881
                                  PCT    77   75   76    86   84   85    82   81   82
 
 5 Renee SONNENBERG               #SH     2    0    2     5    1    6     7    1    8
                                  PTS     8    0    8    18    4   22    26    4   30
                                  PCT   100  ***  100    90  100   92    93  100   94
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   B. C. (Van Osch)               #SH   204  179  383   250  230  480   454  409  863
                                  PTS   661  522 1183   843  746 1589  1504 1268 2772
                                  PCT    81   73   77    84   81   83    83   78   80
 
 1 Carley SANDWITH                #SH    68   54  122    26   36   62    94   90  184
                                  PTS   234  173  407    82  123  205   316  296  612
                                  PCT    86   80   83    79   85   83    84   82   83
 
 2 Jessie SANDERSON               #SH    44   41   85    83   62  145   127  103  230
                                  PTS   147  132  279   295  203  498   442  335  777
                                  PCT    84   80   82    89   82   86    87   81   84
 
 3 Stephanie BAIER                #SH    41   23   64    58   64  122    99   87  186
                                  PTS   129   57  186   183  220  403   312  277  589
                                  PCT    79   62   73    79   86   83    79   80   79
 
 4 Kesa VAN OSCH                  #SH    33   43   76    53   47  100    86   90  176
                                  PTS    95  115  210   184  142  326   279  257  536
                                  PCT    72   67   69    87   76   82    81   71   76
 
 5 Patti KNEZEVIC                 #SH    18   18   36    30   21   51    48   39   87
                                  PTS    56   45  101    99   58  157   155  103  258
                                  PCT    78   63   70    83   69   77    81   66   74
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Homan)                 #SH   203  124  327   316  269  585   519  393  912
                                  PTS   695  454 1149  1150  957 2107  1845 1411 3256
                                  PCT    86   92   88    91   89   90    89   90   89
 
 1 Lisa WEAGLE                    #SH    96   47  143    36   33   69   132   80  212
                                  PTS   346  176  522   121  110  231   467  286  753
                                  PCT    90   94   91    84   83   84    88   89   89
 
 2 Allison KREVIAZUK              #SH    25   21   46    98   90  188   123  111  234
                                  PTS    68   75  143   366  327  693   434  402  836
                                  PCT    68   89   78    93   91   92    88   91   89
 
 3 Emma MISKEW                    #SH    38   19   57   102   75  177   140   94  234
                                  PTS   128   72  200   373  265  638   501  337  838
                                  PCT    84   95   88    91   88   90    89   90   90
 
 4 Rachel HOMAN                   #SH    42   36   78    80   69  149   122  105  227
                                  PTS   149  127  276   290  251  541   439  378  817
                                  PCT    89   88   88    91   91   91    90   90   90
 
 5 Stephanie LEDREW               #SH     2    1    3     0    2    2     2    3    5
                                  PTS     4    4    8     0    4    4     4    8   12
                                  PCT    50  100   67   ***   50   50    50   67   60
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Carey)               #SH   176  312  488   272  319  591   448  631 1079
                                  PTS   588 1092 1680   896 1077 1973  1484 2169 3653
                                  PCT    84   88   86    82   84   83    83   86   85
 
 1 Lindsay TITHERIDGE             #SH    67  139  206    28   28   56    95  167  262
                                  PTS   247  496  743    87   92  179   334  588  922
                                  PCT    92   89   90    78   82   80    88   88   88
 
 2 Kristen FOSTER                 #SH    27   56   83    81  108  189   108  164  272
                                  PTS    86  184  270   274  365  639   360  549  909
                                  PCT    80   82   81    85   84   85    83   84   84
 
 3 Kristy McDONALD                #SH    31   63   94    88   90  178   119  153  272
                                  PTS    84  214  298   287  301  588   371  515  886
                                  PCT    68   85   79    82   84   83    78   84   81
 
 4 Chelsea CAREY                  #SH    49   51  100    75   92  167   124  143  267
                                  PTS   163  186  349   248  319  567   411  505  916
                                  PCT    83   91   87    83   87   85    83   88   86
 
 5 Breanne MEAKIN                 #SH     2    3    5     0    1    1     2    4    6
                                  PTS     8   12   20     0    0    0     8   12   20
                                  PCT   100  100  100   ***    0    0   100   75   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NFLD (Strong)                  #SH   322  178  500   199  162  361   521  340  861
                                  PTS  1045  519 1564   596  510 1106  1641 1029 2670
                                  PCT    81   73   78    75   79   77    79   76   78
 
 1 Kathryn COOPER                 #SH   139   37  176    26   11   37   165   48  213
                                  PTS   475  113  588    70   27   97   545  140  685
                                  PCT    85   76   84    67   61   66    83   73   80
 
 2 Jessica CUNNINGHAM             #SH    68   41  109    53   56  109   121   97  218
                                  PTS   209  113  322   162  181  343   371  294  665
                                  PCT    77   69   74    76   81   79    77   76   76
 
 3 Laura STRONG                   #SH    51   46   97    57   61  118   108  107  215
                                  PTS   163  128  291   175  200  375   338  328  666
                                  PCT    80   70   75    77   82   79    78   77   77
 
 4 Heather STRONG                 #SH    61   53  114    63   34   97   124   87  211
                                  PTS   188  161  349   189  102  291   377  263  640
                                  PCT    77   76   77    75   75   75    76   76   76
 
 5 Noelle THOMAS-KENNEL           #SH     3    1    4     0    0    0     3    1    4
                                  PTS    10    4   14     0    0    0    10    4   14
                                  PCT    83  100   88   ***  ***  ***    83  100   88
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   N.B. (Crawford)                #SH   312  126  438   208  190  398   520  316  836
                                  PTS  1063  359 1422   657  595 1252  1720  954 2674
                                  PCT    85   71   81    79   78   79    83   75   80
 
 1 Jodie deSOLLA                  #SH   130   28  158    33   10   43   163   38  201
                                  PTS   460   92  552   110   31  141   570  123  693
                                  PCT    88   82   87    83   78   82    87   81   86
 
 2 Danielle PARSONS               #SH    58   36   94    58   60  118   116   96  212
                                  PTS   209  104  313   195  181  376   404  285  689
                                  PCT    90   72   83    84   75   80    87   74   81
 
 3 Rebecca ATKINSON               #SH    62   28   90    61   60  121   123   88  211
                                  PTS   194   75  269   182  187  369   376  262  638
                                  PCT    78   67   75    75   78   76    76   74   76
 
 4 Andrea CRAWFORD                #SH    59   31   90    56   60  116   115   91  206
                                  PTS   193   76  269   170  196  366   363  272  635
                                  PCT    82   61   75    76   82   79    79   75   77
 
 5 Jane BOYLE                     #SH     3    3    6     0    0    0     3    3    6
                                  PTS     7   12   19     0    0    0     7   12   19
                                  PCT    58  100   79   ***  ***  ***    58  100   79
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Smith)            #SH   263  153  416   246  161  407   509  314  823
                                  PTS   872  487 1359   805  530 1335  1677 1017 2694
                                  PCT    83   80   82    82   82   82    82   81   82
 
 1 Teri LAKE                      #SH   118   38  156    35    9   44   153   47  200
                                  PTS   432  137  569   119   31  150   551  168  719
                                  PCT    92   90   91    85   86   85    90   89   90
 
 2 Blisse JOYCE                   #SH    45   37   82    70   56  126   115   93  208
                                  PTS   140  111  251   223  195  418   363  306  669
                                  PCT    78   75   77    80   87   83    79   82   80
 
 3 Jill BROTHERS                  #SH    44   40   84    79   47  126   123   87  210
                                  PTS   134  127  261   263  143  406   397  270  667
                                  PCT    76   79   78    83   76   81    81   78   79
 
 4 Heather SMITH                  #SH    56   38   94    60   49  109   116   87  203
                                  PTS   166  112  278   192  161  353   358  273  631
                                  PCT    74   74   74    80   82   81    77   78   78
 
 5 Stephanie McVICAR              #SH     0    0    0     2    0    2     2    0    2
                                  PTS     0    0    0     8    0    8     8    0    8
                                  PCT   ***  ***  ***   100  ***  100   100  ***  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Flaxey)               #SH   293  184  477   205  160  365   498  344  842
                                  PTS   975  625 1600   654  509 1163  1629 1134 2763
                                  PCT    83   85   84    80   80   80    82   82   82
 
 1 Morgan COURT                   #SH   114   59  173    23   11   34   137   70  207
                                  PTS   414  210  624    77   33  110   491  243  734
                                  PCT    91   89   90    84   75   81    90   87   89
 
 2 Lynn KREVIAZUK                 #SH    49   45   94    55   47  102   104   92  196
                                  PTS   164  163  327   177  150  327   341  313  654
                                  PCT    84   91   87    80   80   80    82   85   83
 
 3 Katie COTTRILL                 #SH    61   40  101    63   48  111   124   88  212
                                  PTS   194  139  333   206  160  366   400  299  699
                                  PCT    80   87   82    82   83   82    81   85   82
 
 4 Allison FLAXEY                 #SH    63   35   98    57   52  109   120   87  207
                                  PTS   180   93  273   172  160  332   352  253  605
                                  PCT    71   66   70    75   77   76    73   73   73
 
 5 Kim TUCK                       #SH     6    5   11     7    2    9    13    7   20
                                  PTS    23   20   43    22    6   28    45   26   71
                                  PCT    96  100   98    79   75   78    87   93   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PEI (Dolan)                    #SH   261  195  456   183  224  407   444  419  863
                                  PTS   836  588 1424   569  672 1241  1405 1260 2665
                                  PCT    80   75   78    78   75   76    79   75   77
 
 1 Michala ROBISON                #SH    98   53  151    18   29   47   116   82  198
                                  PTS   315  166  481    65   77  142   380  243  623
                                  PCT    80   78   80    90   66   76    82   74   79
 
 2 Sinead DOLAN                   #SH    37   31   68    56   66  122    93   97  190
                                  PTS   115  101  216   164  213  377   279  314  593
                                  PCT    78   81   79    73   81   77    75   81   78
 
 3 Rebecca J MacDONALD            #SH    49   50   99    41   77  118    90  127  217
                                  PTS   157  139  296   131  224  355   288  363  651
                                  PCT    80   70   75    80   73   75    80   71   75
 
 4 Kim DOLAN                      #SH    53   41   94    64   52  116   117   93  210
                                  PTS   160  112  272   197  158  355   357  270  627
                                  PCT    75   68   72    77   76   77    76   73   75
 
 5 Jackie REID                    #SH    24   20   44     4    0    4    28   20   48
                                  PTS    89   70  159    12    0   12   101   70  171
                                  PCT    93   88   90    75  ***   75    90   88   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Ross)                  #SH   173  283  456   153  189  342   326  472  798
                                  PTS   495  867 1362   433  587 1020   928 1454 2382
                                  PCT    72   77   75    71   78   75    71   77   75
 
 1 Pamela NUGENT                  #SH    29  130  159    10   32   42    39  162  201
                                  PTS    97  421  518    20   93  113   117  514  631
                                  PCT    84   81   81    50   73   67    75   79   78
 
 2 Brittany O'ROURKE              #SH    26   36   62    35   43   78    61   79  140
                                  PTS    76  118  194   117  137  254   193  255  448
                                  PCT    73   82   78    84   80   81    79   81   80
 
 3 Melissa GANNON                 #SH    41   62  103    44   53   97    85  115  200
                                  PTS   115  179  294   122  161  283   237  340  577
                                  PCT    70   72   71    69   76   73    70   74   72
 
 4 Allison ROSS                   #SH    57   38   95    47   49   96   104   87  191
                                  PTS   141   96  237   123  155  278   264  251  515
                                  PCT    62   63   62    65   79   72    63   72   67
 
 5 Lisa DAVIES                    #SH    20   17   37    17   12   29    37   29   66
                                  PTS    66   53  119    51   41   92   117   94  211
                                  PCT    83   78   80    75   85   79    79   81   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Sask (Lawton)                  #SH   309  128  437   327  221  548   636  349  985
                                  PTS  1050  427 1477  1130  745 1875  2180 1172 3352
                                  PCT    85   83   84    86   84   86    86   84   85
 
 1 Marliese KASNER                #SH   137   29  166    54   30   84   191   59  250
                                  PTS   479   93  572   171  101  272   650  194  844
                                  PCT    87   80   86    79   84   81    85   82   84
 
 2 Sherri SINGLER                 #SH    40   28   68    83   54  137   123   82  205
                                  PTS   131   93  224   294  193  487   425  286  711
                                  PCT    82   83   82    89   89   89    86   87   87
 
 3 Sherry ANDERSON                #SH    43   31   74    87   71  158   130  102  232
                                  PTS   143  107  250   307  235  542   450  342  792
                                  PCT    83   86   84    88   83   86    87   84   85
 
 4 Stefanie LAWTON                #SH    69   39  108    79   58  137   148   97  245
                                  PTS   222  130  352   276  189  465   498  319  817
                                  PCT    80   83   81    87   81   85    84   82   83
 
 5 Dailene SIVERTSON              #SH    20    1   21    24    8   32    44    9   53
                                  PTS    75    4   79    82   27  109   157   31  188
                                  PCT    94  100   94    85   84   85    89   86   89
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Yukon/NWT (Koltun)             #SH   283  221  504   149  140  289   432  361  793
                                  PTS   900  635 1535   450  428  878  1350 1063 2413
                                  PCT    80   72   76    76   76   76    78   74   76
 
 1 Andrea SINCLAIR                #SH   110   61  171    12   27   39   122   88  210
                                  PTS   369  202  571    41   94  135   410  296  706
                                  PCT    84   83   83    85   87   87    84   84   84
 
 2 Patty WALLINGHAM               #SH    58   52  110    52   48  100   110  100  210
                                  PTS   196  132  328   150  155  305   346  287  633
                                  PCT    84   63   75    72   81   76    79   72   75
 
 3 Chelsea DUNCAN                 #SH    52   60  112    47   38   85    99   98  197
                                  PTS   165  187  352   138   93  231   303  280  583
                                  PCT    79   78   79    73   61   68    77   71   74
 
 4 Sarah KOLTUN                   #SH    63   48  111    38   27   65   101   75  176
                                  PTS   170  114  284   121   86  207   291  200  491
                                  PCT    67   59   64    80   80   80    72   67   70
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2014 Scotties Tournament of Hearts
                             Maurice Richard Arena, Montreal, QC
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  15
 
          DRAW 12    QC    3  MB   15
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW  1    NB    6  QC    1
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW 12    QC    3  MB   15
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   7
 
          DRAW  1    NB    6  QC    1
          DRAW  5    NB    4  BC    3
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  3    PE    3  YTNT 10    YTNT SCORED 5 IN THE 8TH END
          DRAW  8    AB    5  CAN  10    CAN  SCORED 5 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   5
 
          DRAW  3    NS   12  NB    2    NS   SCORED 5 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   5
 
          DRAW  5    NB    4  BC    3
 
NUMBER OF BLANK ENDS IN EVENT: 108
 
MOST BLANK ENDS ONE DRAW:   9
 
          DRAWS  1  5 17
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   3
 
          DRAW  1    BC    7  PE    4    BY PE   BEGINNING IN END 3
          DRAW  5    AB    5  NS    4    BY NS   BEGINNING IN END 1
          DRAW  5    NB    4  BC    3    BY BC   BEGINNING IN END 3
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW  5    PE    7  QC    6
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  1    NB    6  QC    1    BY NB   BEGINNING IN END 5
          DRAW 12    QC    3  MB   15    BY MB   BEGINNING IN END 4
          DRAW 14    QC    3  AB   10    BY AB   BEGINNING IN END 1
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   9
 
          DRAW  3    NS   12  NB    2    BY NS  
 
LARGEST COME FROM BEHIND VICTORY:   3
 
          DRAW  1    YTNT  5  AB    7    AB   WAS DOWN 3 AFTER 5 ENDS
          DRAW  7    BC    9  NS    8    BC   WAS DOWN 3 AFTER 6 ENDS
          DRAW 15    SK    6  CAN   7    CAN  WAS DOWN 3 AFTER 2 ENDS
          DRAW 17    YTNT  6  SK    5    YTNT WAS DOWN 3 AFTER 2 ENDS
 
NUMBER OF EXTRA END GAMES:   8
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    BC    7  PE    4
          DRAW  2    AB    8  BC    6
          DRAW  4    ON    8  NL    7
          DRAW  5    NB    4  BC    3
          DRAW  5    PE    7  QC    6
          DRAW  7    NB    8  AB    9
          DRAW 15    ON    8  MB    9
          DRAW 20    MB    5  AB    6
 
FEWEST ENDS PLAYED IN ONE GAME:   5
 
          DRAW 13    SK    8  NS    4
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   6
 
          DRAW  3    MB    5  SK    4    BY SK  
  </div>
</div>
