<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2016 Scotties Tournament of Hearts
                                   Grande Prairie, Alberta
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 1 Dawn McEwen                    CA    90 ** 91 ** 96 ** 83 98 ** 95 ** 90 88 ** 86 93 86  90
 2 Sarah Potts                    NO    ** 81 ** 89 81 94 ** 78 95 ** 89 ** 93 72 88 ** 93  87
 3 Ashley Williamson              SK    85 ** 81 96 ** 89 85 ** 82 88 95 84 ** 88 ** 84 **  86
 3 Julie Rainville                QC    83 ** ** 92 88 90 ** 90 84 ** 85 ** 91 81 86 ** 82  86
 3 Laine Peters                   AB    82 ** 80 84 ** 93 86 ** 90 83 86 94 ** 78 ** 90 **  86
 3 Karen Sagle                    ON    76 ** 91 ** 89 ** 96 86 ** 89 ** 89 79 ** 75 90 80  86
 + Jennifer Clark-Rouire          CA    ** ** 58 ** ** ** **100 ** ** ** ** ** ** ** ** **  84
 7 Carrie Vautour                 NL    ** 95 80 81 ** 76 78 ** 95 89 71 90 ** 79 ** 91 **  84
 8 Kristin MacCuish               MB    ** 88 84 ** 79 ** 95 73 ** 74 ** 78 92 ** 77 70 90  82
 9 Jane Boyle                     NB    ** 85 ** 83 80 84 ** 79 96 ** 83 ** 79 69 76 ** 84  81
 9 Trysta Vandale                 BC    ** 73 ** 79 89 89 ** 59 86 ** 85 ** 88 75 85 ** 84  81
 9 Marie Christianson             PE    ** 82 90 ** 74 ** 81 61 ** 88 ** 75 74 ** 90 95 81  81
 9 Teri Udle                      NS    92 ** 70 68 ** 85 67 ** 86 74 98 81 ** 83 ** 83 **  81
 + Candace Chisholm               SK    ** ** ** 75 ** ** ** ** ** ** ** ** ** ** ** ** **  75
 + Pascale Letendre               ON    ** ** ** ** ** ** ** ** ** ** ** ** ** ** 75 ** **  75
 + Oye-Sem Won Briand             NO    ** ** ** ** ** ** ** ** 67 ** ** ** ** ** ** ** **  67
 + Sinead Dolan                   PE    ** ** 50 ** ** ** ** ** ** ** ** ** ** ** ** ** **  50
 + Susan O'Connor                 AB    ** ** ** 50 ** ** ** ** ** ** ** ** ** ** ** ** **  50
 + Sasha Carter                   BC    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 50  50
 + Briane Meilleur                MB    ** @@ ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  **
 + Lauren Wasylkiw                NL    ** ** ** ** ** @@ ** ** ** ** ** ** ** ** ** ** **  **
 
   SECONDS
 + Susan O'Connor                 AB    ** ** ** ** ** ** ** ** ** ** ** ** **100 ** ** ** 100
 + Amelie Blais                   QC    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 94  94
 1 Jill Officer                   CA    83 ** 84 ** 81 ** 84 90 ** 84 ** 98 91 ** 84 91 88  87
 1 Liz Fyfe                       MB    ** 89 ** ** 81 ** 75 90 ** 93 ** 78 94 ** 86 90 93  87
 3 Stephanie Hanna                ON    71 ** 84 ** 71 ** 86 85 ** 88 ** 91 91 ** 89 88 94  86
 4 Meaghan Hughes                 PE    ** 89 81 ** 91 ** 93 63 ** 88 ** 73 88 ** 79 88 88  83
 + Briane Meilleur                MB    ** @@ 83 ** ** ** ** ** ** ** ** ** ** ** ** ** **  83
 5 Jocelyn Andrea Peterman        AB    85 ** 86 78 ** 91 78 ** 84 81 78 74 ** 91 ** 74 **  81
 5 Ashley Sippala                 NO    ** 88 ** 74 75 83 ** 80 91 ** 84 ** 84 78 90 ** 68  81
 5 Jenn Brine                     NS    82 ** 70 ** ** ** 91 ** ** 83 ** 80 ** 77 ** ** **  81
 + Blisse Joyce                   NS    ** ** ** 78 ** 85 ** ** 80 ** 86 ** ** ** ** 75 **  81
 8 Callan Hamon                   SK    85 ** 85 78 ** 94 80 ** 90 59 88 68 ** 79 ** 76 **  80
 8 Marie Richard                  NB    ** 74 ** 83 70 73 ** 88 85 ** 89 ** 73 83 80 ** 84  80
 + Sasha Carter                   BC    ** ** ** ** ** ** ** ** ** ** ** ** 80 ** ** ** **  80
10 Annie Lemay                    QC    67 ** ** 86 90 89 ** 69 76 ** 81 ** 69 75 78 ** 89  79
11 Julie Devereaux                NL    ** 70 53 69 ** 91 65 ** 71 81 90 80 ** 83 ** 86 **  76
 + Nicole Arsenault-Bishop        NB    ** ** ** ** ** 50 **100 ** ** ** ** ** ** ** ** **  75
 + Candace Chisholm               SK    ** ** ** ** ** ** ** ** ** 75 ** ** ** ** ** ** **  75
 + Sinead Dolan                   PE    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 75  75
12 Tracey Ann Lavery              BC    ** 67 ** 78 78 60 ** 71 80 ** 84 ** ** 77 83 ** 64  74
 + Pascale Letendre               ON    ** ** ** ** 54 ** ** ** ** ** ** ** ** ** ** ** **  54
 
   THIRDS 
 1 Kaitlyn Lawes                  CA    90 ** 78 ** 93 ** 88 83 ** 88 ** 88 88 ** 86 89 83  86
 2 Ashley Howard                  SK    90 ** 84 77 ** 80 91 ** 90 77 81 80 ** 79 ** 91 **  84
 2 Amy Lee Nixon                  AB    89 ** 88 91 ** 90 74 ** 70 80 84 83 ** 94 ** 84 **  84
 4 Selena Kaatz                   MB    ** 89 75 ** 84 ** 88 71 ** 89 ** 79 86 ** 78 89 85  83
 5 Brit O'Neill                   ON    74 ** 84 ** 80 ** 89 75 ** 85 ** 88 90 ** 98 65 78  82
 6 Kendra Lilly                   NO    ** 70 ** 68 79 81 ** 81 94 ** 84 ** 83 83 85 ** 88  81
 7 Brenda Nicholls                QC    81 ** ** 85 83 79 ** 76 79 ** 90 ** 67 79 82 ** 85  80
 7 Sarah Murphy                   NS    ** ** 92 65 ** 83 85 ** 74 76 81 93 ** 73 ** 76 **  80
 9 Robyn Green                    PE    ** 83 70 ** 92 ** 89 65 ** 80 ** 80 79 ** 79 81 75  79
10 Erin Porter                    NL    ** 80 81 75 ** 76 66 ** 86 86 81 81 ** 75 ** 74 **  78
10 Rebecca Atkinson               NB    ** 83 ** 83 77 72 ** 74 83 ** 79 ** 83 60 84 ** 78  78
 + Amelie Blais                   QC    ** ** ** 75 ** ** ** ** ** ** ** ** ** ** ** ** **  75
12 Kristen Recksiedler            BC    ** 77 ** 63 80 75 ** 84 64 ** 73 ** 76 73 80 ** 45  72
 + Blisse Joyce                   NS    68 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  68
 
   SKIPS  
 + Sarah Murphy                   NS    86 ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **  86
 1 Jennifer Jones                 CA    78 ** 89 ** 86 ** 83 86 ** 78 ** 83 91 ** 85 89 91  85
 2 Chelsea Danielle Carey         AB    90 ** 86 88 ** 83 85 ** 86 72 87 70 ** 88 ** 90 **  84
 3 Krista McCarville              NO    ** 84 ** 60 90 80 ** 81 95 ** 76 ** 73 88 89 ** 71  80
 4 Jenn Hanna                     ON    68 ** 83 ** 67 ** 69 83 ** 83 ** 76 83 ** 90 84 84  79
 5 Sylvie Robichaud               NB    ** 66 ** 74 88 62 ** 74 80 ** 93 ** 79 83 68 ** 91  78
 5 Kerri Einarson                 MB    ** 80 75 ** 87 ** 85 75 ** 87 ** 75 88 ** 53 75 75  78
 5 Jolene Campbell                SK    94 ** 76 58 ** 84 92 ** 83 66 71 64 ** 82 ** 84 **  78
 8 Jill Brothers                  NS    ** ** 73 63 ** 80 73 ** 80 87 88 76 ** 75 ** 78 **  77
 9 Stacie Curtis                  NL    ** 74 76 67 ** 83 75 ** 84 67 82 88 ** 69 ** 68 **  76
10 Marie-France Larouche          QC    67 ** ** 88 83 70 ** 66 80 ** 61 ** 67 73 65 ** 90  73
10 Suzanne Birt                   PE    ** 85 74 ** 65 ** 90 64 ** 71 ** 70 75 ** 83 57 67  73
12 Karla Thompson                 BC    ** 52 ** 64 76 73 ** 71 69 ** 69 ** 65 55 73 ** 61  67
 
   TEAMS
 1 Canada (Jones)                       85 ** 84 ** 89 ** 84 89 ** 86 ** 89 89 ** 85 91 87  87
 2 Alberta (Carey)                      86 ** 85 84 ** 89 81 ** 83 79 84 80 ** 88 ** 84 **  84
 3 Ontario (Hanna)                      72 ** 85 ** 76 ** 85 82 ** 86 ** 86 86 ** 88 82 84  83
 4 Manitoba (Einarson)                  ** 86 79 ** 83 ** 86 77 ** 86 ** 77 90 ** 73 81 86  82
 4 Northern Ontario (McCarville)        ** 81 ** 73 81 84 ** 80 93 ** 83 ** 83 80 88 ** 80  82
 4 Saskatchewan (Campbell)              89 ** 82 76 ** 87 87 ** 86 73 84 74 ** 82 ** 84 **  82
 7 Quebec (Larouche)                    74 ** ** 87 86 82 ** 75 80 ** 79 ** 73 77 78 ** 87  80
 8 Nova Scotia (Brothers)               82 ** 77 68 ** 83 79 ** 80 80 88 83 ** 77 ** 78 **  79
 8 New Brunswick (Robichaud)            ** 77 ** 80 79 72 ** 79 86 ** 86 ** 78 73 77 ** 84  79
 8 Prince Edward Island (Birt)          ** 85 78 ** 80 ** 88 63 ** 82 ** 74 79 ** 83 80 77  79
 8 Newfoundland & Labrador (Curti       ** 80 73 73 ** 82 71 ** 84 81 81 85 ** 77 ** 80 **  79
12 British Columbia (Thompson)          ** 68 ** 71 81 74 ** 71 75 ** 78 ** 77 70 80 ** 63  74
 
**did not play
@@all shots throw-through
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2016 Scotties Tournament of Hearts
                                   Grande Prairie, Alberta
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Dawn McEwen                    CA     +  *  0  *  +  *  +  +  *  +  *  +  0  *  +  0  0  +7
Julie Rainville                QC     +  *  *  0  0  +  *  +  0  *  0  *  0  +  0  *  0  +4
Karen Sagle                    ON     -  *  +  *  +  *  +  +  *  +  *  0  0  *  -  0  -  +2
Sarah Potts                    NO     *  0  *  +  -  0  *  +  0  *  -  *  0  0  0  *  +  +1
Laine Peters                   AB     -  *  0  +  *  0  +  *  -  -  0  +  *  -  *  +  *   0
Trysta Vandale                 BC     *  -  *  -  0  0  *  -  0  *  +  *  +  0  +  *  0   0
Ashley Williamson              SK     -  *  -  0  *  +  -  *  0  -  +  +  *  +  *  -  *  -1
Carrie Vautour                 NL     *  +  0  0  *  -  -  *  0  +  -  0  *  -  *  +  *  -1
Kristin MacCuish               MB     *  +  +  *  -  *  +  -  *  -  *  -  0  *  -  -  +  -2
Teri Udle                      NS     +  *  -  -  *  0  -  *  0  -  +  -  *  +  *  -  *  -3
Marie Christianson             PE     *  -  0  *  -  *  -  -  *  +  *  -  -  *  +  +  0  -3
Jane Boyle                     NB     *  0  *  0  +  -  *  -  +  *  -  *  0  -  -  *  -  -4
 
SECONDS
Jill Officer                   CA     0  *  0  *  +  *  +  0  *  +  *  +  +  *  0  0  +  +6
Liz Fyfe                       MB     *  +  *  *  +  *  -  +  *  +  *  0  +  *  0  0  +  +5
Stephanie Hanna                ON     0  *  0  *  -  *  -  +  *  +  *  +  +  *  +  0  +  +4
Meaghan Hughes                 PE     *  +  0  *  +  *  +  -  *  +  *  +  +  *  -  0  0  +4
Jocelyn Andrea Peterman        AB     0  *  +  0  *  +  -  *  0  -  0  0  *  +  *  0  *  +1
Callan Hamon                   SK     0  *  0  -  *  +  +  *  +  -  0  -  *  0  *  0  *   0
Ashley Sippala                 NO     *  +  *  0  -  -  *  +  +  *  0  *  -  0  +  *  -   0
Annie Lemay                    QC     0  *  *  +  +  0  *  -  0  *  0  *  -  -  -  *  0  -2
Jenn Brine                     NS     0  *  -  *  *  *  +  *  *  -  *  -  *  -  *  *  *  -3
Marie Richard                  NB     *  -  *  +  -  -  *  0  0  *  0  *  -  +  0  *  -  -3
Julie Devereaux                NL     *  -  -  -  *  0  -  *  -  -  +  -  *  0  *  +  *  -5
Tracey Ann Lavery              BC     *  -  *  0  -  -  *  -  -  *  -  *  *  0  0  *  -  -7
 
THIRDS 
Kaitlyn Lawes                  CA     0  *  +  *  +  *  +  +  *  +  *  -  +  *  +  +  +  +8
Brenda Nicholls                QC     +  *  *  +  0  0  *  +  +  *  +  *  -  +  0  *  +  +6
Ashley Howard                  SK     +  *  0  -  *  +  0  *  +  -  0  0  *  0  *  +  *  +2
Kendra Lilly                   NO     *  -  *  0  -  -  *  +  +  *  0  *  0  +  0  *  +  +1
Sarah Murphy                   NS     *  *  +  0  *  +  0  *  -  0  0  +  *  -  *  0  *  +1
Brit O'Neill                   ON     -  *  0  *  0  *  0  -  *  +  *  +  +  *  +  -  -   0
Selena Kaatz                   MB     *  +  -  *  0  *  0  -  *  0  *  0  0  *  -  +  +   0
Amy Lee Nixon                  AB     0  *  +  +  *  +  -  *  -  -  -  0  *  +  *  -  *  -1
Robyn Green                    PE     *  0  -  *  +  *  +  -  *  0  *  0  0  *  -  -  -  -3
Rebecca Atkinson               NB     *  +  *  +  -  -  *  -  +  *  0  *  -  -  0  *  -  -3
Erin Porter                    NL     *  0  -  -  *  0  -  *  -  0  +  -  *  0  *  0  *  -4
Kristen Recksiedler            BC     *  -  *  -  0  -  *  +  -  *  -  *  0  -  0  *  -  -6
 
SKIPS  
Jennifer Jones                 CA     -  *  +  *  0  *  +  +  *  +  *  +  +  *  +  +  +  +8
Chelsea Danielle Carey         AB     +  *  +  +  *  0  -  *  +  -  +  -  *  +  *  +  *  +4
Krista McCarville              NO     *  +  *  0  0  0  *  +  +  *  +  *  -  +  +  *  -  +4
Kerri Einarson                 MB     *  +  0  *  +  *  -  +  *  +  *  +  +  *  -  +  -  +4
Jenn Hanna                     ON     0  *  +  *  -  *  0  +  *  +  *  -  0  *  +  -  +  +2
Sylvie Robichaud               NB     *  -  *  +  +  -  *  -  -  *  +  *  0  +  -  *  +   0
Jill Brothers                  NS     *  *  0  0  *  +  0  *  0  +  -  -  *  -  *  +  *   0
Jolene Campbell                SK     +  *  -  -  *  +  +  *  +  -  -  -  *  +  *  -  *  -1
Marie-France Larouche          QC     0  *  *  +  +  -  *  -  0  *  -  *  -  -  -  *  +  -3
Suzanne Birt                   PE     *  +  -  *  -  *  +  -  *  -  *  +  +  *  -  -  -  -3
Stacie Curtis                  NL     *  -  -  -  *  +  -  *  -  -  +  +  *  -  *  -  *  -5
Karla Thompson                 BC     *  -  *  -  -  -  *  -  -  *  -  *  -  -  +  *  -  -9
 
   TEAMS
Canada (Jones)                        0  *  +  *  +  *  +  +  *  +  *  +  +  *  +  +  + +10
Alberta (Carey)                       0  *  +  +  *  +  -  *  0  -  +  0  *  +  *  0  *  +3
Ontario (Hanna)                       0  *  0  *  -  *  +  +  *  +  *  0  +  *  +  -  0  +3
Manitoba (Einarson)                   *  +  0  *  +  *  0  0  *  +  *  0  +  *  -  0  0  +3
Northern Ontario (McCarville)         *  0  *  +  -  -  *  +  +  *  0  *  -  +  +  *  0  +2
Saskatchewan (Campbell)               +  *  0  -  *  +  0  *  +  -  0  0  *  +  *  0  *  +2
Quebec (Larouche)                     0  *  *  +  +  0  *  0  0  *  -  *  -  0  -  *  +   0
New Brunswick (Robichaud)             *  0  *  +  0  -  *  -  0  *  0  *  -  0  0  *  0  -2
Prince Edward Island (Birt)           *  +  -  *  0  *  +  -  *  0  *  0  0  *  -  0  -  -2
Nova Scotia (Brothers)                -  *  0  -  *  +  -  *  0  0  0  -  *  -  *  0  *  -4
Newfoundland & Labrador (Curti        *  -  -  -  *  0  -  *  -  -  0  0  *  -  *  0  *  -7
British Columbia (Thompson)           *  -  *  -  -  -  *  -  -  *  0  *  0  -  0  *  -  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2016 Scotties Tournament of Hearts
                                   Grande Prairie, Alberta
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
AB     11   104  FOR      11    13     26   15    3    2    1    0   78   7.1   20  0.75
                 AGAINST   6    11     24   13    3    0    0    0   59   5.4   14  0.57
 
NO     11   107  FOR       8    17     25   19    3    2    0    0   80   7.3   24  0.75
                 AGAINST   8    12     26   11    4    1    0    0   64   5.8   15  0.60
 
ON     11   105  FOR      12    15     33   13    1    0    0    0   62   5.6   19  0.59
                 AGAINST   5    11     25   13    1    2    0    0   62   5.6   15  0.59
 
NB     11   106  FOR      11     7     30   13    1    0    0    0   59   5.4    9  0.56
                 AGAINST   6     7     26   14    1    3    1    0   74   6.7   10  0.70
 
CA     11    98  FOR       2    10     21   22    5    0    2    0   90   8.2   16  0.92
                 AGAINST   4     2     30   10    0    1    1    0   59   5.4    5  0.60
 
BC     11   101  FOR       7     5     22   15    1    0    0    0   55   5.0    7  0.54
                 AGAINST   8    17     20   19    7    2    0    0   87   7.9   27  0.86
 
SK     11   101  FOR       4    10     27   10    3    3    1    0   73   6.6   11  0.72
                 AGAINST   7    10     29   13    2    1    1    0   70   6.4   15  0.69
 
MB     11   101  FOR       6    14     21   11    9    1    0    0   74   6.7   22  0.73
                 AGAINST  11    11     24   13    3    2    0    0   67   6.1   17  0.66
 
QC     11   101  FOR       6     9     24   11    3    2    0    0   63   5.7   15  0.62
                 AGAINST   8    13     31   13    3    0    0    0   66   6.0   18  0.65
 
NL     11   103  FOR       7     9     28   14    1    0    0    0   59   5.4   14  0.57
                 AGAINST   8     9     23   17    4    0    0    1   75   6.8   13  0.73
 
PE     11   105  FOR       6     9     31    9    1    2    0    1   66   6.0   13  0.63
                 AGAINST   8    13     25   15    6    1    0    0   77   7.0   21  0.73
 
NS     11   104  FOR       7    11     24   13    3    3    0    0   71   6.5   18  0.68
                 AGAINST   8    13     29   14    0    2    1    0   70   6.4   18  0.67
 
 
TOTAL  66   618  FOR      87   129    312  165   34   15    4    1  830   6.3  188  0.67
                 AGAINST  87   129    312  165   34   15    4    1  830   6.3  188  0.67
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2016 Scotties Tournament of Hearts
                                   Grande Prairie, Alberta
 
                                     TEAM WIN/LOSS GRID
 
 
        AB    NO    ON    NB    CA    BC    SK    MB    QC    NL    PE    NS    
 
 
AB       *     W     L     W     W     W     W     L     W     W     W     W  
 
 
NO       L     *     L     W     W     W     L     L     W     W     W     W  
 
 
ON       W     W     *     W     L     W     W     L     L     L     W     L  
 
 
NB       L     L     L     *     L     L     L     L     W     W     L     L  
 
 
CA       L     L     W     W     *     W     W     W     W     W     W     W  
 
 
BC       L     L     L     W     L     *     L     L     W     L     L     L  
 
 
SK       L     W     L     W     L     W     *     W     L     W     L     W  
 
 
MB       W     W     W     W     L     W     L     *     L     W     W     L  
 
 
QC       L     L     W     L     L     L     W     W     *     L     W     W  
 
 
NL       L     L     W     L     L     W     L     L     W     *     L     L  
 
 
PE       L     L     L     W     L     W     W     L     L     W     *     L  
 
 
NS       L     L     W     W     L     W     L     W     L     W     W     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2016 Scotties Tournament of Hearts
                                   Grande Prairie, Alberta
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Carey)                #SH   185  242  427   278  303  581   463  545 1008
                                  PTS   621  786 1407   970 1037 2007  1591 1823 3414
                                  PCT    84   81   82    87   86   86    86   84   85
 
 1 Laine Peters                   #SH    69  118  187    23   38   61    92  156  248
                                  PTS   249  413  662    74  116  190   323  529  852
                                  PCT    90   88   89    80   76   78    88   85   86
 
 2 Jocelyn Andrea Peterman        #SH    34   35   69    87   96  183   121  131  252
                                  PTS   101  100  201   306  326  632   407  426  833
                                  PCT    74   71   73    88   85   86    84   81   83
 
 3 Amy Lee Nixon                  #SH    34   44   78    88   88  176   122  132  254
                                  PTS   103  135  238   311  316  627   414  451  865
                                  PCT    76   77   76    88   90   89    85   85   85
 
 4 Chelsea Danielle Carey         #SH    48   45   93    78   79  157   126  124  250
                                  PTS   168  138  306   271  275  546   439  413  852
                                  PCT    88   77   82    87   87   87    87   83   85
 
 5 Susan O'Connor                 #SH     0    0    0     2    2    4     2    2    4
                                  PTS     0    0    0     8    4   12     8    4   12
                                  PCT   ***  ***  ***   100   50   75   100   50   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Northern Ontario (McCarville)  #SH   360  239  599   252  247  499   612  486 1098
                                  PTS  1150  781 1931   849  826 1675  1999 1607 3606
                                  PCT    80   82   81    84   84   84    82   83   82
 
 1 Sarah Potts                    #SH   125   97  222    24   24   48   149  121  270
                                  PTS   451  342  793    76   83  159   527  425  952
                                  PCT    90   88   89    79   86   83    88   88   88
 
 2 Ashley Sippala                 #SH    76   50  126    81   69  150   157  119  276
                                  PTS   224  167  391   259  230  489   483  397  880
                                  PCT    74   84   78    80   83   82    77   83   80
 
 3 Kendra Lilly                   #SH    84   43  127    76   73  149   160  116  276
                                  PTS   250  131  381   274  243  517   524  374  898
                                  PCT    74   76   75    90   83   87    82   81   81
 
 4 Krista McCarville              #SH    74   49  123    69   81  150   143  130  273
                                  PTS   221  141  362   236  270  506   457  411  868
                                  PCT    75   72   74    86   83   84    80   79   79
 
 5 Oye-Sem Won Briand             #SH     1    0    1     2    0    2     3    0    3
                                  PTS     4    0    4     4    0    4     8    0    8
                                  PCT   100  ***  100    50  ***   50    67  ***   67
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Hanna)                #SH   177  252  429   228  208  436   405  460  865
                                  PTS   557  829 1386   767  718 1485  1324 1547 2871
                                  PCT    79   82   81    84   86   85    82   84   83
 
 1 Karen Sagle                    #SH    64  109  173    21   19   40    85  128  213
                                  PTS   220  385  605    65   61  126   285  446  731
                                  PCT    86   88   87    77   80   79    84   87   86
 
 2 Stephanie Hanna                #SH    35   26   61    86   65  151   121   91  212
                                  PTS   111   95  206   300  221  521   411  316  727
                                  PCT    79   91   84    87   85   86    85   87   86
 
 3 Brit O'Neill                   #SH    35   52   87    62   69  131    97  121  218
                                  PTS   103  155  258   213  246  459   316  401  717
                                  PCT    74   75   74    86   89   88    81   83   82
 
 4 Jenn Hanna                     #SH    42   60  102    59   53  112   101  113  214
                                  PTS   123  181  304   189  184  373   312  365  677
                                  PCT    73   75   75    80   87   83    77   81   79
 
 5 Pascale Letendre               #SH     1    5    6     0    2    2     1    7    8
                                  PTS     0   13   13     0    6    6     0   19   19
                                  PCT     0   65   54   ***   75   75     0   68   59
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   New Brunswick (Robichaud)      #SH   276  165  441   208  218  426   484  383  867
                                  PTS   885  499 1384   669  699 1368  1554 1198 2752
                                  PCT    80   76   78    80   80   80    80   78   79
 
 1 Jane Boyle                     #SH   128   38  166    26   25   51   154   63  217
                                  PTS   419  123  542    84   81  165   503  204  707
                                  PCT    82   81   82    81   81   81    82   81   81
 
 2 Marie Richard                  #SH    48   36   84    56   74  130   104  110  214
                                  PTS   157   98  255   188  242  430   345  340  685
                                  PCT    82   68   76    84   82   83    83   77   80
 
 3 Rebecca Atkinson               #SH    46   49   95    57   66  123   103  115  218
                                  PTS   134  156  290   180  207  387   314  363  677
                                  PCT    73   80   76    79   78   79    76   79   78
 
 4 Sylvie Robichaud               #SH    51   41   92    69   53  122   120   94  214
                                  PTS   163  122  285   217  169  386   380  291  671
                                  PCT    80   74   77    79   80   79    79   77   78
 
 5 Nicole Arsenault-Bishop        #SH     3    1    4     0    0    0     3    1    4
                                  PTS    12    0   12     0    0    0    12    0   12
                                  PCT   100    0   75   ***  ***  ***   100    0   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Jones)                 #SH   341  153  494   241  303  544   582  456 1038
                                  PTS  1192  517 1709   829 1071 1900  2021 1588 3609
                                  PCT    87   84   86    86   88   87    87   87   87
 
 1 Dawn McEwen                    #SH   159   45  204    11   35   46   170   80  250
                                  PTS   584  168  752    40  121  161   624  289  913
                                  PCT    92   93   92    91   86   88    92   90   91
 
 2 Jill Officer                   #SH    47   33   80    79  103  182   126  136  262
                                  PTS   146  109  255   282  377  659   428  486  914
                                  PCT    78   83   80    89   92   91    85   89   87
 
 3 Kaitlyn Lawes                  #SH    58   37   95    82   85  167   140  122  262
                                  PTS   196  125  321   282  299  581   478  424  902
                                  PCT    84   84   84    86   88   87    85   87   86
 
 4 Jennifer Jones                 #SH    74   38  112    68   76  144   142  114  256
                                  PTS   255  115  370   221  262  483   476  377  853
                                  PCT    86   76   83    81   86   84    84   83   83
 
 5 Jennifer Clark-Rouire          #SH     3    0    3     1    4    5     4    4    8
                                  PTS    11    0   11     4   12   16    15   12   27
                                  PCT    92  ***   92   100   75   80    94   75   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   British Columbia (Thompson)    #SH   175  257  432   195  202  397   370  459  829
                                  PTS   515  774 1289   576  579 1155  1091 1353 2444
                                  PCT    74   75   75    74   72   73    74   74   74
 
 1 Trysta Vandale                 #SH    50  122  172    12   22   34    62  144  206
                                  PTS   157  416  573    36   60   96   193  476  669
                                  PCT    79   85   83    75   68   71    78   83   81
 
 2 Tracey Ann Lavery              #SH    41   47   88    58   42  100    99   89  188
                                  PTS   127  133  260   191  108  299   318  241  559
                                  PCT    77   71   74    82   64   75    80   68   74
 
 3 Kristen Recksiedler            #SH    39   49   88    54   66  120    93  115  208
                                  PTS   114  133  247   153  200  353   267  333  600
                                  PCT    73   68   70    71   76   74    72   72   72
 
 4 Karla Thompson                 #SH    38   33   71    71   63  134   109   96  205
                                  PTS    99   73  172   196  180  376   295  253  548
                                  PCT    65   55   61    69   71   70    68   66   67
 
 5 Sasha Carter                   #SH     7    6   13     0    9    9     7   15   22
                                  PTS    18   19   37     0   31   31    18   50   68
                                  PCT    64   79   71   ***   86   86    64   83   77
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Saskatchewan (Campbell)        #SH   207  179  386   194  232  426   401  411  812
                                  PTS   674  585 1259   639  767 1406  1313 1352 2665
                                  PCT    81   82   82    82   83   83    82   82   82
 
 1 Ashley Williamson              #SH    92   66  158     9   28   37   101   94  195
                                  PTS   320  236  556    27   91  118   347  327  674
                                  PCT    87   89   88    75   81   80    86   87   86
 
 2 Callan Hamon                   #SH    40   32   72    60   72  132   100  104  204
                                  PTS   121   96  217   202  237  439   323  333  656
                                  PCT    76   75   75    84   82   83    81   80   80
 
 3 Ashley Howard                  #SH    32   33   65    73   67  140   105  100  205
                                  PTS   107  107  214   246  228  474   353  335  688
                                  PCT    84   81   82    84   85   85    84   84   84
 
 4 Jolene Campbell                #SH    39   46   85    52   65  117    91  111  202
                                  PTS   114  140  254   164  211  375   278  351  629
                                  PCT    73   76   75    79   81   80    76   79   78
 
 5 Candace Chisholm               #SH     4    2    6     0    0    0     4    2    6
                                  PTS    12    6   18     0    0    0    12    6   18
                                  PCT    75   75   75   ***  ***  ***    75   75   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Einarson)            #SH   225  221  446   251  278  529   476  499  975
                                  PTS   714  707 1421   847  928 1775  1561 1635 3196
                                  PCT    79   80   80    84   83   84    82   82   82
 
 1 Kristin MacCuish               #SH   102   96  198    19   22   41   121  118  239
                                  PTS   349  315  664    54   71  125   403  386  789
                                  PCT    86   82   84    71   81   76    83   82   83
 
 2 Liz Fyfe                       #SH    35   32   67    85   80  165   120  112  232
                                  PTS   118   98  216   301  274  575   419  372  791
                                  PCT    84   77   81    89   86   87    87   83   85
 
 3 Selena Kaatz                   #SH    42   37   79    71   98  169   113  135  248
                                  PTS   116  120  236   233  344  577   349  464  813
                                  PCT    69   81   75    82   88   85    77   86   82
 
 4 Kerri Einarson                 #SH    40   49   89    74   77  151   114  126  240
                                  PTS   116  147  263   251  236  487   367  383  750
                                  PCT    73   75   74    85   77   81    80   76   78
 
 5 Briane Meilleur                #SH     6    7   13     2    1    3     8    8   16
                                  PTS    15   27   42     8    3   11    23   30   53
                                  PCT    63   96   81   100   75   92    72   94   83
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Larouche)              #SH   218  215  433   161  221  382   379  436  815
                                  PTS   694  670 1364   509  728 1237  1203 1398 2601
                                  PCT    80   78   79    79   82   81    79   80   80
 
 1 Julie Rainville                #SH    83   83  166    11   25   36    94  108  202
                                  PTS   297  282  579    36   83  119   333  365  698
                                  PCT    89   85   87    82   83   83    89   84   86
 
 2 Annie Lemay                    #SH    50   41   91    49   62  111    99  103  202
                                  PTS   147  131  278   156  203  359   303  334  637
                                  PCT    74   80   76    80   82   81    77   81   79
 
 3 Brenda Nicholls                #SH    40   44   84    56   62  118    96  106  202
                                  PTS   127  119  246   194  210  404   321  329  650
                                  PCT    79   68   73    87   85   86    84   78   80
 
 4 Marie-France Larouche          #SH    44   46   90    41   70  111    85  116  201
                                  PTS   119  134  253   112  224  336   231  358  589
                                  PCT    68   73   70    68   80   76    68   77   73
 
 5 Amelie Blais                   #SH     1    1    2     4    2    6     5    3    8
                                  PTS     4    4    8    11    8   19    15   12   27
                                  PCT   100  100  100    69  100   79    75  100   84
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Newfoundland & Labrador (Curti #SH   299  170  469   167  229  396   466  399  865
                                  PTS   958  526 1484   524  715 1239  1482 1241 2723
                                  PCT    80   77   79    78   78   78    80   78   79
 
 1 Carrie Vautour                 #SH   136   54  190     7   21   28   143   75  218
                                  PTS   466  178  644    19   71   90   485  249  734
                                  PCT    86   82   85    68   85   80    85   83   84
 
 2 Julie Devereaux                #SH    62   41  103    52   65  117   114  106  220
                                  PTS   169  132  301   166  204  370   335  336  671
                                  PCT    68   80   73    80   78   79    73   79   76
 
 3 Erin Porter                    #SH    62   27   89    57   72  129   119   99  218
                                  PTS   199   82  281   188  215  403   387  297  684
                                  PCT    80   76   79    82   75   78    81   75   78
 
 4 Stacie Curtis                  #SH    39   48   87    51   71  122    90  119  209
                                  PTS   124  134  258   151  225  376   275  359  634
                                  PCT    79   70   74    74   79   77    76   75   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Prince Edward Island (Birt)    #SH   162  327  489   173  206  379   335  533  868
                                  PTS   482 1037 1519   544  680 1224  1026 1717 2743
                                  PCT    74   79   78    79   83   81    77   81   79
 
 1 Marie Christianson             #SH    39  147  186     9   19   28    48  166  214
                                  PTS   119  501  620    24   48   72   143  549  692
                                  PCT    76   85   83    67   63   64    74   83   81
 
 2 Meaghan Hughes                 #SH    35   62   97    50   71  121    85  133  218
                                  PTS   117  197  314   164  249  413   281  446  727
                                  PCT    84   79   81    82   88   85    83   84   83
 
 3 Robyn Green                    #SH    44   58  102    53   64  117    97  122  219
                                  PTS   136  184  320   160  216  376   296  400  696
                                  PCT    77   79   78    75   84   80    76   82   79
 
 4 Suzanne Birt                   #SH    44   58  102    61   50  111   105  108  213
                                  PTS   110  151  261   196  161  357   306  312  618
                                  PCT    63   65   64    80   81   80    73   72   73
 
 5 Sinead Dolan                   #SH     0    2    2     0    2    2     0    4    4
                                  PTS     0    4    4     0    6    6     0   10   10
                                  PCT   ***   50   50   ***   75   75   ***   63   63
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Nova Scotia (Brothers)         #SH   280   88  368   271  203  474   551  291  842
                                  PTS   895  261 1156   895  626 1521  1790  887 2677
                                  PCT    80   74   79    83   77   80    81   76   79
 
 1 Teri Udle                      #SH   144   20  164    28   15   43   172   35  207
                                  PTS   482   62  544    80   44  124   562  106  668
                                  PCT    84   78   83    71   73   72    82   76   81
 
 2 Blisse Joyce                   #SH    28    9   37    39   44   83    67   53  120
                                  PTS    92   27  119   123  137  260   215  164  379
                                  PCT    82   75   80    79   78   78    80   77   79
 
 3 Sarah Murphy                   #SH    39   21   60    87   65  152   126   86  212
                                  PTS   116   71  187   287  205  492   403  276  679
                                  PCT    74   85   78    82   79   81    80   80   80
 
 4 Jill Brothers                  #SH    43   30   73    71   49  120   114   79  193
                                  PTS   114   83  197   246  152  398   360  235  595
                                  PCT    66   69   67    87   78   83    79   74   77
 
 5 Jenn Brine                     #SH    26    8   34    46   30   76    72   38  110
                                  PTS    91   18  109   159   88  247   250  106  356
                                  PCT    88   56   80    86   73   81    87   70   81
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2016 Scotties Tournament of Hearts
                                   Grande Prairie, Alberta
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  1    AB   12  CA    5
 
LOWEST SCORE, ONE TEAM, ONE GAME:   2
 
          DRAW  2    BC    2  MB   10
          DRAW 14    AB    8  NS    2
          DRAW 15    NO    7  QC    2
          DRAW 17    PE    2  QC    7
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  18
 
          DRAW  1    SK   11  NS    7
          DRAW  8    NO   10  PE    8
          DRAW 12    MB   11  AB    7
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   8
 
          DRAW  5    ON    3  MB    5
 
HIGHEST END SCORE WITH HAMMER:   6
 
          DRAW  2    PE    9  NL    5    PE   SCORED 6 IN THE 4TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  1    AB   12  CA    5    AB   SCORED 4 IN THE THIRD END
          DRAW  2    BC    2  MB   10    MB   SCORED 4 IN THE 7TH END
          DRAW  3    NS    9  MB    3    NS   SCORED 4 IN THE 5TH END
          DRAW  4    QC   10  SK    4    QC   SCORED 4 IN THE 5TH END
          DRAW  5    PE    9  NB    8    PE   SCORED 4 IN THE THIRD END
          DRAW  8    NO   10  PE    8    NO   SCORED 4 IN THE 6TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW  5    ON    3  MB    5
 
NUMBER OF BLANK ENDS IN EVENT:  92
 
MOST BLANK ENDS ONE DRAW:   8
 
          DRAW  9
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  2    NO    6  NB    3    BY NO   BEGINNING IN END 1
          DRAW  2    BC    2  MB   10    BY BC   BEGINNING IN END 3
          DRAW  3    SK    5  ON    6    BY ON   BEGINNING IN END 1
          DRAW  5    ON    3  MB    5    BY ON   BEGINNING IN END 1
          DRAW  6    SK    7  NB    3    BY NB   BEGINNING IN END 1
          DRAW  8    NO   10  PE    8    BY PE   BEGINNING IN END 7
          DRAW  9    NB    4  AB    6    BY NB   BEGINNING IN END 8
          DRAW  9    QC    5  NS    4    BY QC   BEGINNING IN END 1
          DRAW 18    CA    5  AB    7    BY AB   BEGINNING IN END 3
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   6
 
          DRAW  7    NS    8  ON    7
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   3
 
          DRAW  2    BC    2  MB   10    BY MB   BEGINNING IN END 5
          DRAW  3    NS    9  MB    3    BY NS   BEGINNING IN END 4
          DRAW  4    NS    7  NO    9    BY NS   BEGINNING IN END 2
          DRAW  5    QC    6  BC    7    BY QC   BEGINNING IN END 1
          DRAW  7    NS    8  ON    7    BY ON   BEGINNING IN END 8
          DRAW 15    NO    7  QC    2    BY NO   BEGINNING IN END 7
          DRAW 16    PE    7  MB    8    BY PE   BEGINNING IN END 8
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW  3    NS    9  MB    3    BY NS  
 
LARGEST COME FROM BEHIND VICTORY:   4
 
          DRAW  4    NS    7  NO    9    NO   WAS DOWN 4 AFTER 4 ENDS
          DRAW  8    NO   10  PE    8    NO   WAS DOWN 4 AFTER 1 END
 
NUMBER OF EXTRA END GAMES:   2
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  4    NS    7  NO    9
          DRAW  5    PE    9  NB    8
 
FEWEST ENDS PLAYED IN ONE GAME:   8 (10 games)
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   5
 
          DRAW  2    BC    2  MB   10    BY BC  
          DRAW 15    NO    7  QC    2    BY QC  
          DRAW 17    ON    6  NO    4    BY NO  
  </div>
</div>
