<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Positional Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2017 Scotties Tournament of Hearts
                                   St. Catharines, Ontario
 
                          POSITIONAL CUMULATIVE PERCENTAGES REPORT
 
 
                             DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 AVG
   LEADS  
 + Cheryl Kreviazuk               ON    ** **100 @@ ** ** ** ** ** ** ** ** ** ** ** ** ** 100
 + Julie McEvoy                   NS    ** ** ** ** ** ** ** ** ** ** ** 94 ** ** ** ** **  94
 + Heather Nedohin                AB    ** ** ** 89 ** ** ** ** ** ** ** ** ** ** ** ** **  89
 1 Lisa Weagle                    ON    76 ** 89 68 ** 83 92 ** 93 90 91 78 ** 93 ** 98 **  86
 1 Blaine deJager                 BC    83 ** 97 84 ** 86 92 ** 88 91 95 69 ** 80 ** 90 **  86
 1 Laine Peters                   CA    76 ** 92 ** 77 ** 90 94 ** 93 ** 91 83 ** 80 85 84  86
 4 Sarah Potts                    NO    ** 82 82 ** 88 ** 74 79 ** 82 ** 92 82 ** 93 91 86  84
 4 Raunora Westcott               MB    78 ** 79 88 ** 85 84 ** 83 95 86 95 ** 70 ** 87 **  84
 4 Danielle Sicinski              SK    ** 86 73 ** 92 ** 79 93 ** 94 ** 78 72 ** 75 93 85  84
 7 Alison Thiessen                AB    ** 74 ** ** 78 94 ** 89 76 ** 82 ** 85 79 80 ** 94  83
 8 Michelle McQuaid               PE    ** 78 ** 70 89 80 ** 92 85 ** 91 ** 59 85 73 ** 74  79
 8 Brittany O'Rourke              QC    75 ** 67 88 ** 83 74 ** 69 88 83 85 ** 81 ** 78 **  79
 + Kristen Recksiedler            BC    ** ** ** ** ** ** ** ** ** 78 ** ** ** ** ** ** **  78
10 Erica Trickett                 NL    ** 63 ** 64 89 71 ** 90 74 ** 94 ** 85 61 70 ** 88  77
10 Andrea Saulnier                NS    76 ** 80 ** 74 ** 72 79 ** 89 ** ** 80 ** 68 69 80  77
12 Sharon Cormier                 NT    ** 84 ** 79 48 84 ** 74 89 ** 88 ** 61 73 83 ** 76  75
 + Pamela Nugent                  QC    ** ** ** ** ** ** ** ** ** ** ** ** ** 75 ** ** **  75
 + Susan O'Connor                 CA    ** ** ** ** ** ** ** ** ** ** ** ** 38 **100 ** **  69
 + Oye-Sem Won Briand             NO    ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** 50  50
 + Rebecca Jean MacDonald         PE    ** ** ** ** ** ** ** @@ ** ** ** ** ** ** ** ** **  **
 + Krysten Karwacki               MB    ** ** ** ** ** ** ** ** ** ** **  0 ** ** ** ** **   0
 
   SECONDS
 + Shelley Hardy                  NL    ** ** ** ** ** ** ** ** ** ** ** ** ** 91 ** ** **  91
 1 Joanne Courtney                ON    85 ** 81 83 ** 84 95 ** 88 91 84 90 ** 79 ** 75 **  85
 2 Sarah Wilkes                   AB    ** 90 ** 81 83 79 ** 78 81 ** 86 ** 89 90 83 ** 89  84
 3 Jocelyn Peterman               CA    82 ** 88 ** 74 ** 76 85 ** 93 ** 84 79 ** 89 89 81  83
 4 Julie Devereaux                NL    ** 80 ** 81 80 79 ** 80 80 ** 85 ** 79 71 81 ** 90  81
 4 Ashley Sippala                 NO    ** 86 74 ** 72 ** 88 75 ** 89 ** 75 76 ** 92 81 82  81
 6 Leslie Wilson                  MB    79 ** 84 89 ** 76 73 ** 71 83 98 84 ** 66 ** 83 **  80
 6 Trish Hill                     QC    83 ** 81 82 ** 81 80 ** 85 89 80 69 ** 76 ** 75 **  80
 8 Danielle Derry                 NT    ** 88 ** 85 63 80 ** 68 86 ** 84 ** 64 79 83 ** 79  78
 9 Meaghan Hughes                 PE    ** 72 ** 68 73 75 ** 89 84 ** 75 ** 85 71 66 ** 80  76
 9 Brette Richards                BC    66 ** 63 70 ** 71 88 ** 84 83 97 72 ** 66 ** 75 **  76
 + Krysten Karwacki               MB    ** ** ** ** ** ** ** ** ** ** 75 ** ** ** ** ** **  75
11 Lorraine Schneider             SK    ** 73 63 ** 85 ** 79 76 ** 89 ** 77 61 ** 78 63 74  74
12 Jill Alcoe-Holland             NS    76 ** 73 ** 55 ** 61 74 ** 69 ** 81 71 ** ** 83 81  72
 + Julie McEvoy                   NS    ** ** ** ** ** ** ** ** ** ** ** ** ** ** 51 ** **  51
 
   THIRDS 
 1 Emma Miskew                    ON    91 ** 86 84 ** 94 73 ** 83 93 88 65 ** 84 ** 84 **  84
 + Julie McEvoy                   NS    ** ** ** ** ** ** **100 ** ** ** ** 81 ** ** ** **  83
 2 Shannon Aleksic                BC    93 ** 70 84 ** 90 82 ** 86 63 89 86 ** 59 ** 88 **  82
 3 Kate Cameron                   MB    70 ** 88 80 ** 84 79 ** 74 89 88 80 ** 75 ** 92 **  81
 3 Amy Nixon                      CA    77 ** 83 ** 77 ** 86 83 ** 86 ** 76 92 ** 69 83 79  81
 5 Kendra Lilly                   NO    ** 89 83 ** 61 ** 73 83 ** 84 ** 78 72 ** 92 84 89  80
 6 Lisa Eyamie                    AB    ** 75 ** 86 81 70 ** 82 88 ** 73 ** 78 73 79 ** 85  79
 7 Erin Porter                    NL    ** 79 ** 80 66 86 ** 86 70 ** 78 ** 78 68 78 ** 88  78
 8 Lauren Mann                    QC    68 ** 68 76 ** 81 83 ** 78 75 78 76 ** 82 ** 70 **  76
 9 Sarah Fullerton                PE    ** 83 ** 56 73 85 ** 93 81 ** 63 ** 77 76 59 ** 74  75
10 Megan Koehler                  NT    ** 79 ** 76 66 84 ** 66 75 ** 66 ** 75 74 68 ** 74  73
11 Margaret Cutcliffe             NS    84 ** 79 ** 61 ** 70 63 ** 58 ** 73 ** ** 65 78 80  72
12 Deanna Doig                    SK    ** 79 53 ** 69 ** 74 78 ** 76 ** 69 74 ** 68 64 76  71
 + Rebecca Jean MacDonald         PE    ** ** ** 38 ** ** ** @@ ** ** ** ** ** ** ** ** **  38
 
   SKIPS  
 1 Rachel Homan                   ON    75 ** 91 81 ** 80 80 ** 82 96 96 77 ** 99 ** 73 **  84
 2 Chelsea Carey                  CA    82 ** 80 ** 72 ** 85 83 ** 75 ** 78 89 ** 85 92 95  83
 3 Krista McCarville              NO    ** 68 85 ** 96 ** 78 90 ** 83 ** 76 75 ** 97 71 81  81
 4 Michelle Englot                MB    94 ** 89 88 ** 75 75 ** 81 68 73 86 ** 72 ** 78 **  80
 5 Heather Nedohin                AB    ** ** ** ** 88 ** ** 91 71 ** 80 ** 56 87 73 ** 85  79
 6 Kerry Galusha                  NT    ** 83 ** 81 69 88 ** 74 68 ** 59 ** 63 68 79 ** 78  74
 7 Eve Belisle                    QC    68 ** 60 77 ** 73 72 ** 79 58 88 78 ** 87 ** 70 **  73
 8 Stacie Curtis                  NL    ** 83 ** 69 71 71 ** 69 55 ** 68 ** 69 79 67 ** 83  72
 9 Robyn MacPhee                  PE    ** 71 ** 67 63 74 ** 89 79 ** 63 ** 76 71 55 ** 73  71
 9 Mary Mattatall                 NS    79 ** 80 ** 59 ** 53 75 ** 56 ** 73 76 ** 71 75 76  71
 9 Penny Barker                   SK    ** 60 74 ** 60 ** 73 81 ** 82 ** 65 70 ** 78 71 65  71
12 Marla Mallett                  BC    79 ** 59 56 ** 78 72 ** 80 69 75 67 ** 50 ** 71 **  69
 + Shannon Kleibrink              AB    ** 81 ** 58 @@ 63 ** ** ** ** ** ** ** @@ ** ** 78  69
 
   TEAMS
 1 Ontario (Homan)                      82 ** 87 79 ** 85 85 ** 86 92 90 78 ** 88 ** 83 **  85
 2 Canada (Carey)                       79 ** 85 ** 75 ** 84 86 ** 87 ** 82 85 ** 81 87 84  83
 3 NO (McCarville)                      ** 81 81 ** 79 ** 78 81 ** 85 ** 80 76 ** 93 82 83  82
 4 Manitoba (Englot)                    80 ** 85 86 ** 80 78 ** 77 83 85 85 ** 71 ** 85 **  81
 4 Alberta (Kleibrink)                  ** 80 ** 79 82 76 ** 85 79 ** 80 ** 77 82 78 ** 88  81
 6 BC (Mallett)                         80 ** 72 74 ** 81 83 ** 84 75 89 74 ** 64 ** 81 **  78
 7 NL (Curtis)                          ** 76 ** 73 77 77 ** 82 70 ** 81 ** 78 71 74 ** 87  77
 7 Quebec (Belisle)                     73 ** 69 81 ** 79 77 ** 78 77 82 77 ** 81 ** 73 **  77
 9 PE (MacPhee)                         ** 76 ** 64 74 78 ** 91 82 ** 73 ** 74 76 63 ** 75  75
 9 NT (Galusha)                         ** 83 ** 80 61 84 ** 70 80 ** 74 ** 66 73 78 ** 77  75
 9 SK (Barker)                          ** 75 65 ** 76 ** 76 82 ** 85 ** 72 69 ** 75 73 75  75
12 NS (Mattatall)                       79 ** 78 ** 62 ** 64 74 ** 68 ** 80 77 ** 64 76 79  73
 
**did not play
@@all shots throw-through
 +player unranked due to insufficient games
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Plus/Minus Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2017 Scotties Tournament of Hearts
                                   St. Catharines, Ontario
 
                             PLUS/MINUS STATISTICS AFTER DRAW 17
 
 
                          DRAW----->  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 TOT
LEADS  
Blaine deJager                 BC     +  *  +  +  *  0  0  *  0  +  +  -  *  +  *  +  *  +6
Danielle Sicinski              SK     *  +  -  *  0  *  +  0  *  0  *  +  +  *  +  +  +  +6
Sarah Potts                    NO     *  +  +  *  0  *  -  -  *  -  *  +  +  *  +  +  +  +4
Raunora Westcott               MB     0  *  +  +  *  +  +  *  +  0  -  0  *  -  *  -  *  +2
Michelle McQuaid               PE     *  -  *  0  +  0  *  +  0  *  +  *  -  +  0  *  -  +1
Lisa Weagle                    ON     0  *  -  0  *  -  +  *  0  0  0  -  *  +  *  +  *   0
Erica Trickett                 NL     *  -  *  -  +  -  *  +  +  *  0  *  0  -  0  *  +   0
Laine Peters                   CA     0  *  +  *  -  *  0  +  *  0  *  +  0  *  -  -  -  -1
Sharon Cormier                 NT     *  +  *  -  -  0  *  -  0  *  +  *  -  +  0  *  -  -2
Alison Thiessen                AB     *  -  *  *  -  +  *  0  -  *  -  *  +  -  0  *  +  -2
Brittany O'Rourke              QC     0  *  -  0  *  0  -  *  -  0  -  -  *  -  *  -  *  -7
Andrea Saulnier                NS     -  *  -  *  +  *  -  -  *  0  *  *  -  *  -  -  -  -7
 
SECONDS
Joanne Courtney                ON     0  *  +  +  *  +  +  *  0  0  0  +  *  0  *  -  *  +4
Trish Hill                     QC     0  *  +  0  *  +  0  *  +  +  0  -  *  0  *  0  *  +3
Jocelyn Peterman               CA     0  *  +  *  0  *  -  +  *  +  *  +  0  *  0  +  -  +3
Danielle Derry                 NT     *  +  *  0  +  +  *  -  0  *  0  *  0  +  0  *  0  +3
Julie Devereaux                NL     *  +  *  +  0  0  *  +  -  *  0  *  0  -  +  *  +  +3
Sarah Wilkes                   AB     *  0  *  0  0  -  *  0  +  *  -  *  +  +  0  *  +  +2
Leslie Wilson                  MB     0  *  +  0  *  0  -  *  -  -  +  0  *  0  *  +  *   0
Lorraine Schneider             SK     *  -  -  *  +  *  0  0  *  0  *  +  0  *  +  -  -  -1
Meaghan Hughes                 PE     *  -  *  -  0  -  *  +  0  *  -  *  +  -  -  *  +  -3
Ashley Sippala                 NO     *  0  -  *  -  *  +  -  *  +  *  -  -  *  0  0  0  -3
Brette Richards                BC     -  *  -  -  *  -  +  *  0  -  +  -  *  0  *  0  *  -4
Jill Alcoe-Holland             NS     +  *  -  *  -  *  -  -  *  -  *  0  -  *  *  0  -  -6
 
THIRDS 
Kate Cameron                   MB     0  *  +  0  *  0  +  *  -  0  +  +  *  +  *  +  *  +5
Emma Miskew                    ON     +  *  +  +  *  +  0  *  +  +  +  -  *  0  *  -  *  +5
Kendra Lilly                   NO     *  +  +  *  -  *  -  0  *  +  *  +  -  *  +  +  +  +4
Shannon Aleksic                BC     +  *  -  0  *  +  0  *  +  -  +  +  *  -  *  +  *  +3
Lisa Eyamie                    AB     *  -  *  +  +  -  *  0  +  *  -  *  0  0  +  *  +  +2
Lauren Mann                    QC     0  *  -  -  *  0  +  *  +  +  +  0  *  0  *  -  *  +1
Amy Nixon                      CA     -  *  0  *  0  *  0  +  *  0  *  0  +  *  -  +  -   0
Sarah Fullerton                PE     *  0  *  -  0  0  *  +  -  *  -  *  +  0  -  *  0  -2
Erin Porter                    NL     *  0  *  0  -  0  *  0  -  *  -  *  -  -  +  *  +  -3
Megan Koehler                  NT     *  0  *  0  +  -  *  -  -  *  -  *  0  +  -  *  -  -4
Deanna Doig                    SK     *  0  -  *  +  *  -  0  *  -  *  -  0  *  0  -  0  -4
Margaret Cutcliffe             NS     -  *  0  *  -  *  0  -  *  -  *  -  *  *  0  -  -  -7
 
SKIPS  
Michelle Englot                MB     +  *  +  +  *  0  0  *  +  -  +  +  *  +  *  +  *  +7
Chelsea Carey                  CA     +  *  0  *  +  *  +  +  *  +  *  0  +  *  -  +  +  +7
Rachel Homan                   ON     -  *  +  +  *  +  +  *  +  +  +  0  *  +  *  -  *  +6
Krista McCarville              NO     *  -  +  *  +  *  0  +  *  +  *  0  0  *  +  0  0  +4
Stacie Curtis                  NL     *  +  *  +  +  0  *  -  -  *  -  *  -  +  +  *  +  +2
Eve Belisle                    QC     -  *  -  +  *  0  0  *  +  0  +  0  *  -  *  0  *   0
Heather Nedohin                AB     *  *  *  *  +  *  *  +  -  *  +  *  -  +  -  *  -   0
Kerry Galusha                  NT     *  +  *  -  +  +  *  -  -  *  -  *  -  -  +  *  0  -2
Robyn MacPhee                  PE     *  -  *  -  -  0  *  +  0  *  -  *  0  +  -  *  +  -2
Mary Mattatall                 NS     0  *  0  *  -  *  -  -  *  0  *  -  +  *  -  0  -  -5
Penny Barker                   SK     *  -  -  *  -  *  0  -  *  -  *  0  +  *  +  -  -  -5
Marla Mallett                  BC     0  *  -  -  *  -  -  *  0  -  -  0  *  -  *  0  *  -7
 
   TEAMS
Ontario (Homan)                       0  *  +  +  *  +  +  *  +  +  +  0  *  +  *  0  *  +8
Manitoba (Englot)                     +  *  +  +  *  0  0  *  0  0  +  +  *  +  *  0  *  +6
NO (McCarville)                       *  0  +  *  0  *  0  0  *  +  *  0  0  *  +  +  +  +5
Canada (Carey)                        0  *  +  *  0  *  0  +  *  0  *  +  +  *  -  +  0  +4
Alberta (Kleibrink)                   *  0  *  0  +  -  *  0  0  *  -  *  0  +  0  *  0   0
BC (Mallett)                          0  *  -  0  *  0  0  *  0  -  +  0  *  -  *  +  *  -1
NL (Curtis)                           *  0  *  0  -  0  *  0  -  *  -  *  -  0  +  *  +  -2
SK (Barker)                           *  0  -  *  0  *  0  0  *  -  *  0  0  *  +  -  0  -2
Quebec (Belisle)                      -  *  -  0  *  0  0  *  +  +  +  -  *  -  *  -  *  -2
PE (MacPhee)                          *  -  *  -  0  0  *  +  0  *  -  *  0  -  -  *  0  -4
NT (Galusha)                          *  +  *  -  0  0  *  -  -  *  -  *  0  0  0  *  -  -4
NS (Mattatall)                        0  *  -  *  0  *  -  -  *  -  *  -  0  *  -  -  -  -8
 
*did not play
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Analysis</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2017 Scotties Tournament of Hearts
                                   St. Catharines, Ontario
 
                               SCORING ANALYSIS AFTER 17 DRAWS
 
 
                        BLANK STOLEN  ----------POINTS SCORED----------
TEAM GAMES ENDS          ENDS  ENDS     1    2    3    4    5   >5  TOT   AVG  STL   PPE
 
ON     11   100  FOR       8    19     25   22    1    1    0    0   76   6.9   26  0.76
                 AGAINST   9     7     26    6    1    1    0    0   45   4.1    9  0.45
 
NS     11   100  FOR       7     8     26   11    2    0    0    0   54   4.9    9  0.54
                 AGAINST   7    12     21   15    6    5    0    0   89   8.1   22  0.89
 
MB     11   102  FOR       4    20     30   16    6    3    0    0   92   8.4   30  0.90
                 AGAINST   5     8     26   10    2    0    0    0   52   4.7   11  0.51
 
NL     11    99  FOR       6     7     20   12    5    0    1    0   64   5.8   11  0.65
                 AGAINST   8    18     31   13    3    0    0    0   66   6.0   22  0.67
 
SK     11   109  FOR       8    10     33    9    2    1    0    0   61   5.5   14  0.56
                 AGAINST   4    11     29   12   11    0    0    0   86   7.8   15  0.79
 
AB     11   104  FOR       8    10     28   10    6    2    0    0   74   6.7   18  0.71
                 AGAINST   5    11     26   14    4    0    1    0   71   6.5   13  0.68
 
BC     11   100  FOR       5     6     20   11    2    1    0    0   52   4.7   10  0.52
                 AGAINST   8    19     29   15    6    2    1    0   90   8.2   27  0.90
 
NO     11   104  FOR       6    17     34   11    7    1    0    0   81   7.4   19  0.78
                 AGAINST   5     7     24   13    3    0    0    0   59   5.4    9  0.57
 
CA     11   106  FOR       7    12     30   17    5    0    0    0   79   7.2   15  0.75
                 AGAINST   6     5     27   11    3    0    0    0   58   5.3    7  0.55
 
PE     11   105  FOR       4    10     27    9    6    0    0    0   63   5.7   13  0.60
                 AGAINST   6    17     30   18    4    1    0    0   82   7.5   27  0.78
 
QC     11   101  FOR       7    10     23   16    2    2    1    0   74   6.7   17  0.73
                 AGAINST   7    12     28   12    3    0    0    0   61   5.5   13  0.60
 
NT     11   104  FOR       7    10     26   12    5    0    0    0   65   5.9   13  0.63
                 AGAINST   7    12     25   17    3    2    0    0   76   6.9   20  0.73
 
 
TOTAL  66   617  FOR      77   139    322  156   49   11    2    0  835   6.3  195  0.68
                 AGAINST  77   139    322  156   49   11    2    0  835   6.3  195  0.68
 
NOTES:
AVG is average score per game
PPE is average score per end
STL is points from stolen ends
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Win/Loss Grid</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2017 Scotties Tournament of Hearts
                                   St. Catharines, Ontario
 
                                     TEAM WIN/LOSS GRID
 
 
        ON    NS    MB    NL    SK    AB    BC    NO    CA    PE    QC    NT    
 
 
ON       *     W     L     W     W     W     W     W     W     W     W     W  
 
 
NS       L     *     L     L     L     W     W     L     L     L     L     L  
 
 
MB       W     W     *     W     W     W     W     W     L     W     W     W  
 
 
NL       L     W     L     *     W     L     W     L     L     W     L     W  
 
 
SK       L     W     L     L     *     L     L     L     L     L     L     L  
 
 
AB       L     L     L     W     W     *     W     W     L     W     L     L  
 
 
BC       L     L     L     L     W     L     *     L     L     L     L     L  
 
 
NO       L     W     L     W     W     L     W     *     W     W     W     W  
 
 
CA       L     W     W     W     W     W     W     L     *     W     W     W  
 
 
PE       L     W     L     L     W     L     W     L     L     *     L     L  
 
 
QC       L     W     L     W     W     W     W     L     L     W     *     W  
 
 
NT       L     W     L     L     W     W     W     L     L     W     L     *  
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Team Cumulative Statistics</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2017 Scotties Tournament of Hearts
                                   St. Catharines, Ontario
 
                                 TEAM CUMULATIVE STATISTICS
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Ontario (Homan)                #SH   234  246  480   337  260  597   571  506 1077
                                  PTS   804  791 1595  1191  899 2090  1995 1690 3685
                                  PCT    86   80   83    88   86   88    87   83   86
 
 1 Lisa Weagle                    #SH   102   93  195    33   38   71   135  131  266
                                  PTS   365  320  685   118  119  237   483  439  922
                                  PCT    89   86   88    89   78   83    89   84   87
 
 2 Joanne Courtney                #SH    36   51   87   114   73  187   150  124  274
                                  PTS   115  163  278   400  270  670   515  433  948
                                  PCT    80   80   80    88   92   90    86   87   86
 
 3 Emma Miskew                    #SH    53   49  102    97   74  171   150  123  273
                                  PTS   174  145  319   349  254  603   523  399  922
                                  PCT    82   74   78    90   86   88    87   81   84
 
 4 Rachel Homan                   #SH    41   53   94    93   75  168   134  128  262
                                  PTS   142  163  305   324  256  580   466  419  885
                                  PCT    87   77   81    87   85   86    87   82   84
 
 5 Cheryl Kreviazuk               #SH     2    0    2     0    0    0     2    0    2
                                  PTS     8    0    8     0    0    0     8    0    8
                                  PCT   100  ***  100   ***  ***  ***   100  ***  100
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NS (Mattatall)                 #SH   247  211  458   198  157  355   445  368  813
                                  PTS   704  622 1326   569  480 1049  1273 1102 2375
                                  PCT    71   74   72    72   76   74    72   75   73
 
 1 Andrea Saulnier                #SH    92   56  148    20   20   40   112   76  188
                                  PTS   278  182  460    55   61  116   333  243  576
                                  PCT    76   81   78    69   76   73    74   80   77
 
 2 Jill Alcoe-Holland             #SH    51   41   92    52   42   94   103   83  186
                                  PTS   154  107  261   147  131  278   301  238  539
                                  PCT    75   65   71    71   78   74    73   72   72
 
 3 Margaret Cutcliffe             #SH    42   46   88    52   42   94    94   88  182
                                  PTS   110  136  246   149  126  275   259  262  521
                                  PCT    65   74   70    72   75   73    69   74   72
 
 4 Mary Mattatall                 #SH    46   45   91    65   45  110   111   90  201
                                  PTS   113  130  243   191  135  326   304  265  569
                                  PCT    61   72   67    73   75   74    68   74   71
 
 5 Julie McEvoy                   #SH    16   23   39     9    8   17    25   31   56
                                  PTS    49   67  116    27   27   54    76   94  170
                                  PCT    77   73   74    75   84   79    76   76   76
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Manitoba (Englot)              #SH   382  153  535   199  238  437   581  391  972
                                  PTS  1264  477 1741   643  790 1433  1907 1267 3174
                                  PCT    83   78   81    81   83   82    82   81   82
 
 1 Raunora Westcott               #SH   173   28  201    20   18   38   193   46  239
                                  PTS   601   91  692    58   60  118   659  151  810
                                  PCT    87   81   86    73   83   78    85   82   85
 
 2 Leslie Wilson                  #SH    72   32  104    53   85  138   125  117  242
                                  PTS   235   97  332   173  274  447   408  371  779
                                  PCT    82   76   80    82   81   81    82   79   80
 
 3 Kate Cameron                   #SH    67   41  108    67   71  138   134  112  246
                                  PTS   209  138  347   218  244  462   427  382  809
                                  PCT    78   84   80    81   86   84    80   85   82
 
 4 Michelle Englot                #SH    70   52  122    58   60  118   128  112  240
                                  PTS   219  151  370   190  204  394   409  355  764
                                  PCT    78   73   76    82   85   83    80   79   80
 
 5 Krysten Karwacki               #SH     0    0    0     1    4    5     1    4    5
                                  PTS     0    0    0     4    8   12     4    8   12
                                  PCT   ***  ***  ***   100   50   60   100   50   60
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NL (Curtis)                    #SH   165  253  418   167  243  410   332  496  828
                                  PTS   495  766 1261   528  763 1291  1023 1529 2552
                                  PCT    75   76   75    79   78   79    77   77   77
 
 1 Erica Trickett                 #SH    74   91  165    23   19   42    97  110  207
                                  PTS   238  289  527    73   41  114   311  330  641
                                  PCT    80   79   80    79   54   68    80   75   77
 
 2 Julie Devereaux                #SH    26   63   89    42   71  113    68  134  202
                                  PTS    79  197  276   145  233  378   224  430  654
                                  PCT    76   78   78    86   82   84    82   80   81
 
 3 Erin Porter                    #SH    36   47   83    54   73  127    90  120  210
                                  PTS   114  131  245   166  242  408   280  373  653
                                  PCT    79   70   74    77   83   80    78   78   78
 
 4 Stacie Curtis                  #SH    29   52   81    45   75  120    74  127  201
                                  PTS    64  149  213   134  228  362   198  377  575
                                  PCT    55   72   66    74   76   75    67   74   72
 
 5 Shelley Hardy                  #SH     0    0    0     3    5    8     3    5    8
                                  PTS     0    0    0    10   19   29    10   19   29
                                  PCT   ***  ***  ***    83   95   91    83   95   91
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   SK (Barker)                    #SH   344  165  509   183  179  362   527  344  871
                                  PTS  1061  464 1525   564  519 1083  1625  983 2608
                                  PCT    77   70   75    77   72   75    77   71   75
 
 1 Danielle Sicinski              #SH   131   43  174    16   26   42   147   69  216
                                  PTS   444  141  585    49   88  137   493  229  722
                                  PCT    85   82   84    77   85   82    84   83   84
 
 2 Lorraine Schneider             #SH    85   36  121    53   46   99   138   82  220
                                  PTS   265   89  354   170  128  298   435  217  652
                                  PCT    78   62   73    80   70   75    79   66   74
 
 3 Deanna Doig                    #SH    70   46  116    51   53  104   121   99  220
                                  PTS   194  118  312   162  152  314   356  270  626
                                  PCT    69   64   67    79   72   75    74   68   71
 
 4 Penny Barker                   #SH    58   40   98    63   54  117   121   94  215
                                  PTS   158  116  274   183  151  334   341  267  608
                                  PCT    68   73   70    73   70   71    70   71   71
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Alberta (Kleibrink)            #SH   184  192  376   191  279  470   375  471  846
                                  PTS   573  639 1212   583  934 1517  1156 1573 2729
                                  PCT    78   83   81    76   84   81    77   83   81
 
 1 Alison Thiessen                #SH    64   79  143    19   28   47    83  107  190
                                  PTS   216  277  493    55   84  139   271  361  632
                                  PCT    84   88   86    72   75   74    82   84   83
 
 2 Sarah Wilkes                   #SH    41   35   76    53   85  138    94  120  214
                                  PTS   128  121  249   175  297  472   303  418  721
                                  PCT    78   86   82    83   87   86    81   87   84
 
 3 Lisa Eyamie                    #SH    41   34   75    66   73  139   107  107  214
                                  PTS   124  108  232   199  246  445   323  354  677
                                  PCT    76   79   77    75   84   80    75   83   79
 
 4 Shannon Kleibrink              #SH    11   10   21    21   20   41    32   30   62
                                  PTS    29   35   64    56   50  106    85   85  170
                                  PCT    66   88   76    67   63   65    66   71   69
 
 5 Heather Nedohin                #SH    27   34   61    32   73  105    59  107  166
                                  PTS    76   98  174    98  257  355   174  355  529
                                  PCT    70   72   71    77   88   85    74   83   80
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   BC (Mallett)                   #SH   236  245  481   137  181  318   373  426  799
                                  PTS   748  771 1519   417  561  978  1165 1332 2497
                                  PCT    79   79   79    76   77   77    78   78   78
 
 1 Blaine deJager                 #SH   100   63  163     7   22   29   107   85  192
                                  PTS   352  226  578    11   72   83   363  298  661
                                  PCT    88   90   89    39   82   72    85   88   86
 
 2 Brette Richards                #SH    51   57  108    44   48   92    95  105  200
                                  PTS   150  176  326   148  131  279   298  307  605
                                  PCT    74   77   75    84   68   76    78   73   76
 
 3 Shannon Aleksic                #SH    43   55   98    42   60  102    85  115  200
                                  PTS   137  174  311   141  202  343   278  376  654
                                  PCT    80   79   79    84   84   84    82   82   82
 
 4 Marla Mallett                  #SH    38   66  104    44   51   95    82  117  199
                                  PTS    96  183  279   117  156  273   213  339  552
                                  PCT    63   69   67    66   76   72    65   72   69
 
 5 Kristen Recksiedler            #SH     4    4    8     0    0    0     4    4    8
                                  PTS    13   12   25     0    0    0    13   12   25
                                  PCT    81   75   78   ***  ***  ***    81   75   78
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NO (McCarville)                #SH   304  254  558   229  259  488   533  513 1046
                                  PTS  1030  837 1867   776  841 1617  1806 1678 3484
                                  PCT    85   82   84    85   81   83    85   82   83
 
 1 Sarah Potts                    #SH   113   93  206    18   24   42   131  117  248
                                  PTS   401  328  729    55   73  128   456  401  857
                                  PCT    89   88   88    76   76   76    87   86   86
 
 2 Ashley Sippala                 #SH    67   43  110    76   82  158   143  125  268
                                  PTS   224  137  361   255  272  527   479  409  888
                                  PCT    84   80   82    84   83   83    84   82   83
 
 3 Kendra Lilly                   #SH    62   55  117    80   71  151   142  126  268
                                  PTS   208  171  379   273  229  502   481  400  881
                                  PCT    84   78   81    85   81   83    85   79   82
 
 4 Krista McCarville              #SH    62   62  124    55   81  136   117  143  260
                                  PTS   197  197  394   193  267  460   390  464  854
                                  PCT    79   79   79    88   82   85    83   81   82
 
 5 Oye-Sem Won Briand             #SH     0    1    1     0    1    1     0    2    2
                                  PTS     0    4    4     0    0    0     0    4    4
                                  PCT   ***  100  100   ***    0    0   ***   50   50
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Canada (Carey)                 #SH   246  240  486   214  304  518   460  544 1004
                                  PTS   800  792 1592   731 1003 1734  1531 1795 3326
                                  PCT    81   83   82    85   82   84    83   82   83
 
 1 Laine Peters                   #SH    92   94  186    17   37   54   109  131  240
                                  PTS   333  311  644    57  121  178   390  432  822
                                  PCT    90   83   87    84   82   82    89   82   86
 
 2 Jocelyn Peterman               #SH    44   32   76    75  103  178   119  135  254
                                  PTS   131  111  242   265  349  614   396  460  856
                                  PCT    74   87   80    88   85   86    83   85   84
 
 3 Amy Nixon                      #SH    50   55  105    63   86  149   113  141  254
                                  PTS   151  178  329   203  285  488   354  463  817
                                  PCT    76   81   78    81   83   82    78   82   80
 
 4 Chelsea Carey                  #SH    58   57  115    59   78  137   117  135  252
                                  PTS   181  185  366   206  248  454   387  433  820
                                  PCT    78   81   80    87   79   83    83   80   81
 
 5 Susan O'Connor                 #SH     2    2    4     0    0    0     2    2    4
                                  PTS     4    7   11     0    0    0     4    7   11
                                  PCT    50   88   69   ***  ***  ***    50   88   69
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   PE (MacPhee)                   #SH   212  246  458   209  176  385   421  422  843
                                  PTS   634  678 1312   689  539 1228  1323 1217 2540
                                  PCT    75   69   72    82   77   80    79   72   75
 
 1 Michelle McQuaid               #SH    92   84  176    24   10   34   116   94  210
                                  PTS   312  244  556    81   28  109   393  272  665
                                  PCT    85   73   79    84   70   80    85   72   79
 
 2 Meaghan Hughes                 #SH    48   51   99    57   56  113   105  107  212
                                  PTS   144  145  289   189  169  358   333  314  647
                                  PCT    75   71   73    83   75   79    79   73   76
 
 3 Sarah Fullerton                #SH    40   52   92    69   49  118   109  101  210
                                  PTS   104  152  256   216  158  374   320  310  630
                                  PCT    65   73   70    78   81   79    73   77   75
 
 4 Robyn MacPhee                  #SH    32   57   89    59   61  120    91  118  209
                                  PTS    74  134  208   203  184  387   277  318  595
                                  PCT    58   59   58    86   75   81    76   67   71
 
 5 Rebecca Jean MacDonald         #SH     0    2    2     0    0    0     0    2    2
                                  PTS     0    3    3     0    0    0     0    3    3
                                  PCT   ***   38   38   ***  ***  ***   ***   38   38
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   Quebec (Belisle)               #SH   220  203  423   166  231  397   386  434  820
                                  PTS   708  564 1272   523  728 1251  1231 1292 2523
                                  PCT    80   69   75    79   79   79    80   74   77
 
 1 Brittany O'Rourke              #SH    91   71  162    19   21   40   110   92  202
                                  PTS   298  217  515    56   65  121   354  282  636
                                  PCT    82   76   79    74   77   76    80   77   79
 
 2 Trish Hill                     #SH    43   38   81    54   73  127    97  111  208
                                  PTS   139  111  250   176  238  414   315  349  664
                                  PCT    81   73   77    81   82   81    81   79   80
 
 3 Lauren Mann                    #SH    44   35   79    49   79  128    93  114  207
                                  PTS   126   92  218   157  253  410   283  345  628
                                  PCT    72   66   69    80   80   80    76   76   76
 
 4 Eve Belisle                    #SH    42   57   99    44   58  102    86  115  201
                                  PTS   145  138  283   134  172  306   279  310  589
                                  PCT    86   61   71    76   74   75    81   67   73
 
 5 Pamela Nugent                  #SH     0    2    2     0    0    0     0    2    2
                                  PTS     0    6    6     0    0    0     0    6    6
                                  PCT   ***   75   75   ***  ***  ***   ***   75   75
 
 
 
                                        ----DRAWS----   --TAKEOUTS---   ----TOTAL----
                                         IT   OT  TOT    IT   OT  TOT    IT   OT  TOT
 
   NT (Galusha)                   #SH   247  234  481   160  203  363   407  437  844
                                  PTS   730  695 1425   488  618 1106  1218 1313 2531
                                  PCT    74   74   74    76   76   76    75   75   75
 
 1 Sharon Cormier                 #SH    98   83  181    10   19   29   108  102  210
                                  PTS   295  254  549    34   51   85   329  305  634
                                  PCT    75   77   76    85   67   73    76   75   75
 
 2 Danielle Derry                 #SH    56   51  107    45   62  107   101  113  214
                                  PTS   164  164  328   134  202  336   298  366  664
                                  PCT    73   80   77    74   81   79    74   81   78
 
 3 Megan Koehler                  #SH    47   57  104    45   65  110    92  122  214
                                  PTS   135  156  291   139  195  334   274  351  625
                                  PCT    72   68   70    77   75   76    74   72   73
 
 4 Kerry Galusha                  #SH    46   43   89    60   57  117   106  100  206
                                  PTS   136  121  257   181  170  351   317  291  608
                                  PCT    74   70   72    75   75   75    75   73   74
 
 
 
  </div>
</div>
<div class="card card-collapsed">
  <div class="card-header" data-toggle="card-collapse">
    <h3 class="card-title">Scoring Records</h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
                             2017 Scotties Tournament of Hearts
                                   St. Catharines, Ontario
 
                                       SCORING RECORDS
 
 
NUMBER OF GAMES PLAYED:  71
 
HIGHEST SCORE, ONE TEAM, ONE GAME:  12
 
          DRAW  6    BC    9  NT   12
          DRAW 10    QC   12  NS    6
 
LOWEST SCORE, ONE TEAM, ONE GAME:   1
 
          DRAW 14    ON    5  QC    1
          DRAW 19    CA    1  NO    8
 
HIGHEST COMBINED SCORE, BOTH TEAMS, ONE GAME:  21
 
          DRAW  6    BC    9  NT   12
          DRAW 13    NS   11  AB   10
 
LOWEST COMBINED SCORE, BOTH TEAMS, ONE GAME:   6
 
          DRAW 14    ON    5  QC    1
 
HIGHEST END SCORE WITH HAMMER:   5
 
          DRAW  4    BC    5  NL   10    NL   SCORED 5 IN THE 4TH END
          DRAW  4    AB    5  QC    9    QC   SCORED 5 IN THE 7TH END
 
HIGHEST END SCORE WITHOUT HAMMER:   4
 
          DRAW  6    BC    9  NT   12    BC   SCORED 4 IN THE 4TH END
          DRAW 10    QC   12  NS    6    QC   SCORED 4 IN THE 8TH END
          DRAW 11    PE    2  MB   10    MB   SCORED 4 IN THE 5TH END
 
MOST BLANK ENDS, ONE GAME:   4
 
          DRAW 14    ON    5  QC    1
 
NUMBER OF BLANK ENDS IN EVENT:  87
 
MOST BLANK ENDS ONE DRAW:  10
 
          DRAW 14
 
MOST CONSECUTIVE BLANK ENDS, ONE GAME:   2
 
          DRAW  3    MB    8  SK    5    BY SK   BEGINNING IN END 1
          DRAW  7    CA    6  BC    2    BY BC   BEGINNING IN END 5
          DRAW  8    NS    4  PE    9    BY NS   BEGINNING IN END 1
          DRAW  8    NL    3  NO    6    BY NO   BEGINNING IN END 1
          DRAW 11    NL    3  ON    6    BY NL   BEGINNING IN END 3
          DRAW 14    NT    4  NL    7    BY NT   BEGINNING IN END 2
          DRAW 14    ON    5  QC    1    BY ON   BEGINNING IN END 7
          DRAW 19    CA    1  NO    8    BY CA   BEGINNING IN END 1
          DRAW 21    CA    7  NO    4    BY NO   BEGINNING IN END 3
 
MOST STOLEN ENDS, BOTH TEAMS, ONE GAME:   7
 
          DRAW  6    NL    5  MB   10
 
MOST CONSECUTIVE STOLEN ENDS, ONE TEAM, ONE GAME:   4
 
          DRAW  6    NL    5  MB   10    BY MB   BEGINNING IN END 7
          DRAW 11    PE    2  MB   10    BY MB   BEGINNING IN END 5
          DRAW 19    CA    1  NO    8    BY NO   BEGINNING IN END 3
 
MOST POINTS FROM STOLEN ENDS, ONE TEAM, ONE GAME:   8
 
          DRAW 11    PE    2  MB   10    BY MB  
 
LARGEST COME FROM BEHIND VICTORY:   5
 
          DRAW 13    NS   11  AB   10    NS   WAS DOWN 5 AFTER 5 ENDS
 
NUMBER OF EXTRA END GAMES:   8
 
MOST ENDS PLAYED IN ONE GAME:  11
 
          DRAW  1    ON    7  CA    5
          DRAW  5    CA    8  PE    7
          DRAW  8    SK    7  AB   10
          DRAW 12    BC    7  SK    6
          DRAW 12    NO    6  ON    7
          DRAW 13    PE    6  NO    7
          DRAW 13    SK    7  NT    8
          DRAW 22    MB    6  ON    8
 
FEWEST ENDS PLAYED IN ONE GAME:   8 (13 games)
 
MOST ENDS WITH HAMMER WITHOUT SCORING, ONE TEAM, ONE GAME:   7
 
          DRAW  7    CA    6  BC    2    BY BC  
          DRAW 19    CA    1  NO    8    BY CA  
  </div>
</div>
